<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
  <HEAD> <TITLE>HITCH - The Movie</TITLE>
    <META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
    <LINK href="http://www.jeevansathi.com/profile/images/styles.css" type=text/css rel=stylesheet>           
 </HEAD>

<BODY>
 <form action="hitch.php" method=POST >
    <TABLE cellSpacing=0 cellPadding=3 width=600 align=center border=0>
     <TBODY>
          <TR>
               <TD colSpan=2>
                    <DIV align=center><IMG src="images/win_tickets.gif"></DIV>
              </TD>
          </TR>         
       <TR>
          <TD>
              <TABLE cellSpacing=0 cellPadding=2 border=0>
         <TBODY>
         <TR>
              <TD class=mediumblack colSpan=6><B>1. Who is &quot;"HITCH"&quot;? </B></TD>
         </TR>
         <TR>
                <TD width=25><INPUT type=radio value="smith"  name="name"></TD>
                <TD class=mediumblack width=83>Will Smith</TD>
                <TD width=25><INPUT type=radio value="james"  name="name"></TD>
                <TD class=mediumblack width=83>Kevin James</TD>
                <TD width=25><INPUT type=radio value="client"  name="name" ></TD>
                <TD class=mediumblack width=104>Client Eastwood</TD>
         </TR>
        <TR>
                <TD class=mediumblack colSpan=6><B>2. What does HITCH do? </B></TD></TR>
        <TR>
           	<TD><INPUT type=radio value="witch"  name="proff"></TD>
                <TD class=mediumblack>Witch Doctor </TD>
          	<TD><INPUT type=radio value="date" name="proff"></TD>
          	<TD class=mediumblack>Date Doctor </TD>
         	<TD><INPUT type=radio value="vet" name="proff"></TD>
          	<TD class=mediumblack>Vet</TD>
        </TR>
        
        <TR>
                 <TD colSpan=6><SPAN class=mediumblack><B>3.Give your Jeevansathi  profile ID or E. Mail address for us to contact you, if you win tickets* </B></SPAN></TD>
       </TR>
        <TR>
           	 <TD colSpan=5><INPUT class=testbox name="txtid" value="" ></TD>
                 <TD> <INPUT type=submit value=Submit name=Submit></TD>
        </TR>
       </TBODY>
 </TABLE></TD></form>
             <TD vAlign=bottom width=221><DIV align=center><IMG height=209 src="images/hitchban.gif"  width=204></DIV></TD>
   </TR>
</TBODY>
    </TABLE>
               <TABLE cellSpacing=4 cellPadding=0 width=600 align=center border=0>
    <TBODY>
  <TR>
    	        <TD bgColor=#ff0000 colSpan=2 height=1></TD>
  </TR>
  <TR>
  	 	<TD colSpan=2 height=6></TD></TR>
  <TR>
    		<TD class=mediumblack width="392">
     		 <P><IMG height=21  src="images/synopsis.gif" width=131><BR>
      In Columbia Pictures &rsquo; <I>Hitch</I>, Alex &ldquo; Hitch&rdquo; Hitchens (Will Smith) is a legendary &mdash; and deliberately anonymous &mdash; New York City &ldquo;date doctor&rdquo; who, for a fee, has helped countless men woo the women of their dreams. </P>
      <P>While coaching Albert (Kevin James), a meek accountant who is smitten  with a glamorous celebrity, Allegra Cole (Amber Valletta), Hitch finally meets his match in the person of the gorgeous, whip-smart Sara Melas (Eva Mendes), a gossip columnist who follows Allegra&rsquo;s every move.</P>
      <P>Columbia Pictures Presents An Overbrook Entertainment Production <I>Hitch</I> starring Will Smith, Eva Mendes, Kevin James, Amber Valletta, Michael Rapaport and Adam Arkin. The film is directed by Andy Tennant. The film was written by Kevin Bisch and produced by James Lassiter, Will Smith and Teddy Zee. The executive producers are Michael Tadross and Wink Mordaunt. The director of photography is Andrew Dunn, BSC. The production  designer is Jane Musky. The film editors are Troy Takaki, A.C.E. and Tracey Wadmore-Smith. The costume designer is Marlene Stewart. The music is by George Fenton. </P>
      <P><I>Hitch </I>has been rated PG-13 by the Motion Picture Association of America for Language and Some Strong Sexual References.</P>
      <P><B><I>Hitch</I> releases on April 15, 2005.</B></P></TD>
    <TD class=smallblack width=202 bgColor=#f2f2f2><IMG height=26  src="images/tips.gif" width=99><BR>
     1. Be nice to her friends; they are your allies. <BR>
     2. Don&rsquo;t overdo aftershave. It&rsquo;s a sign that you&rsquo;re desperate. <BR>
     3. Pick a restaurant with candlelight; you&rsquo;ll both look nice. <BR>
     4. Chocolate solves most problems.<BR>
     5. Do I look fat? Does not require a straight answer. <BR>
     6. Wear cologne. Less is more here; its  better if she has to lean in to smell it. <BR>
     7. Open doors. She will walk through and say &lsquo;thanks&rsquo;. <BR>
     8. Pay for dinner, lunch or coffee. She has shoes and accessories to buy. <BR>
     9. Shave. Stubble hurts. <BR>
     10. Be cocky; but throw in a little self-deprecating humor once in a while.<BR>
     11. Crack jokes during sad movies. Women cry, and you should remind them that its just a movie. <BR>
     12. Always maintain eye contact when  talking to her&hellip;it shows you&rsquo;re confident. <BR>
     13. Remember, your car back seat is not a romantic night out!<BR>
     14. Read - so you can have a clean healthy conversation. <BR>
     15. Do not discuss your past relationships on the first date. </TD>
</TR>
  <TR>
    <TD colSpan=2 height=6></TD>
  </TR>
  <TR>
    <TD bgColor=#ff0000 colSpan=2 height=1></TD>
  </TR>
  <TR>
    <TD colSpan=2 height=6></TD>
 </TR>
  <TR>
    <TD class=smallblack colSpan=2 height=6>* Tickets will be distributed on a draw for the movie HITCH screened at                Mumbai theaters only. 
    </TD>
   </TR>
 </TBODY>
</TABLE>
<P><BR></P>
</BODY>
</HTML>
