<html>
<head>
<title>Jeevansathi - MSMJS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$siteUrl`/profile/images/styles.css" type="text/css">

<link rel="stylesheet" href="~$siteUrl`/jsadmin/jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>


</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="~$siteUrl`/profile/images/logo.gif" width="269" height="82" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
<tr><td  colspan="3" align="center"><h2>Mass SMS Management Sytem</h2><br><br></td></tr>
</tbody>
</table>

<br><br><br>
        <form name="registerd" method="post" action="login.php">
        <table width="49%" border="0" cellspacing="1" cellpadding="4" align="center">
          <tr>
            <td class="formhead" valign="middle" colspan="2">&#155; Registered
              Users Login here</td>
          </tr>
          <tr>
            <td width="49%" class="label" bgcolor="#F9F9F9">Username</td>
            <td width="51%" bgcolor="#F9F9F9">
              <input type="text" name="username" size="18" maxlength="40" class="textboxes1">
            </td>
          </tr>
          <tr>
            <td width="49%" class="label" bgcolor="#F9F9F9">Password</td>
            <td width="51%" bgcolor="#F9F9F9">
              <input type="password" name="password" size="18" maxlength="40" class="textboxes1">
            </td>
          </tr>
          <tr valign="middle" align="LEFT">
            <td width="49%" class="label" bgcolor="#F9F9F9">&nbsp;</td>
              <td bgcolor="#F9F9F9"><input type="submit" name="login" value="  Login  " class="textboxes1"></td></tr>

          <tr valign="top" align="right">
            <td colspan="2" bgcolor="#F9F9F9" class="lftpan">&nbsp;</td>
          </tr>
        </table>
      </form>


      </td>
  </table>

</body>
</html>
