<html>
<head>
<title>Jeevansathi - MSMJS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$siteUrl`/profile/images/styles.css" type="text/css">

<link rel="stylesheet" href="~$siteUrl`/jsadmin/jeevansathi.css" type="text/css">
<script type="text/javascript" src="js/sendMessage.js"></script>
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>


</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

~$msmjsHeader`
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr align="center">
~if $status eq 'sentSms'`
<td>Sms has been successfully sent.</td>
~elseif $status eq 'completed'`
<td>File detail is successfully used to sent sms.</td>
~/if`
</tr>
<tr align="center">
<td><a href="formQuery.php?cid=~$cid`">Want to form a query?</a></td>
</tr>
</table>

</body>
</html>
