<IfModule mod_rewrite.c>
RewriteEngine on
RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^jeevansathi\. [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/profile/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.jeevansathi.net\. [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/profile/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.jeevansathi.org\. [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/profile/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^jeevansaathi\. [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/profile/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.jeevansaathi\. [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/profile/$1 [R=301,L]
RewriteBase /profiles/
RewriteRule ^(.*)$ /profile/viewprofile.php?username=$1 [R=301,L]
</IfModule>
