<table width="760" border="0" align="center" cellpadding="2" cellspacing="0">
 <tr>
  <td width="613">
   <table width="269" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td><a href="~$SITE_URL`/"><img src="http://ser4.jeevansathi.com/profile/images/matrimonials.gif" width="269" height="66" border="0" title="Matrimonials - Leading indian matrimonial site" ALT="Matrimonials India"></a></td>
    </tr>
    <tr>
     <td class=mediumblack><div align="center">~if $LOGO_STRING`~$LOGO_STRING`~else`<H1>Indian Matrimonials - Meet Your Match</H1>~/if`</div></td>
    </tr>
   </table></td>

<!--BMSJS ADDITION STARTS HERE-->
<td align="right">
~if $bms_topright neq ""`
 <IFRAME width="465" height="85" scrolling=no frameborder=0 src="http://ser4.jeevansathi.com/bmsjs/bms_display_final.php?zonestr=~$bms_topright`&data=~$data`&subzone=1"></IFRAME>
~/if`
</td>

<!--BMSJS ADDITION ENDS HERE-->

 </tr>
~if $SHOWLINKS neq 'N'`
 <tr class="bgred">
  <td colspan="2" class=mediumgrey><div align="center"><span class="class10"><a href="/index.php" title="Matrimonial Home">Home</a> | <a href="~$SITE_URL`/profile/mainmenu.php?checksum=~$CHECKSUM`" title="My Matrimonials">My JeevanSathi</a> | <a href="/P/whyjeevansathi.php?checksum=~$CHECKSUM`" title="Why JeevanSathi Matrimonials">Why JeevanSathi</a> | <a href="/P/advance_search.php?FLAG=search&checksum=~$CHECKSUM`" title="Search Matrimonial Profiles">Search Matrimonials</a> | <a href="/P/mem_comparison.php?checksum=~$CHECKSUM`" title="Matrimonial Memberships">Memberships</a> | <a href="/success/success_stories.php" title="Matrimonials success stories">Success Stories</a></span></div></td>
 </tr>
~/if`
</table>
