<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$SITE_URL`/profile/images/styles.css" type="text/css">
</head>
<body>
<br><br><br>
<table width=500 align="center">
<tr><td><h2>According to your assigned privilages we found following link(s) for you.</h2><br><br></td></tr>
~section name=sec loop=$linkarr`
<tr class="bigblack"><td class="class4">~$smarty.section.sec.index_next`. ~$linkarr[sec]`</td></tr>
~/section`	
</table>
<br><br><br>
~$FOOT`
</body>
</html>
