<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>
~if $flag eq '1'`
	<table width=100% border=0 align="center">
	~if $dflag eq '1'`
		<tr class="formhead">
		<td colspan=100% align="center">&nbsp;Month : ~$dt`</td>
		</tr>
	~elseif $mflag eq '1'`
		<tr class="formhead">
		<td colspan=100% align="center">&nbsp;Financial Year ~$dt`-~$dt1`</td>
		</tr>
	~/if`
	</table>
	<br>
	~if $mflag eq '1'`
		<table width="100%" align="center" border=0 cellspacing=2 cellpadding=2>
		<tr class="label">
			<td colspan=100% align="center">&nbsp;Country : USA</td>
		</tr>
		</table>
		<table width="100%" align="center" border=0 cellspacing=2 cellpadding=2>
		<tr class="label">
		<td align="center" width=15%>&nbsp;Month</td>
		~section name=mon loop=$mmarr`
			<td width=6% align="center">&nbsp;~$mmarr[mon]`</td>
		~/section`
		<td align="center" width=13%>&nbsp;Total</td>
		</tr>
		</table>
		<table width="100%" align="center" border=0 cellspacing=2 cellpadding=2>
		<tr class="label">
		<td align="center" width=15%>&nbsp;Count</td>
		~section name=mon loop=$mmarr`
			<td width=6% align="center">&nbsp;~$utotb[mon]`</td>
		~/section`
		<td align="center" width=13%>~$utotall`</td>
		</tr>
		</table>
	~elseif $dflag eq '1'`
		<table width="100%" align="center" border=0 cellspacing=2 cellpadding=2>
		<tr class="label">
			<td colspan=100% align="center">&nbsp;Country : USA</td>
		</tr>
		</table>
		<table width="150%" align="center" border=0 cellspacing=2 cellpadding=2>
		<tr class="label">
		<td align="center" width=15%>&nbsp;Day</td>
		~section name=dd loop=$ddarr`
			<td align="center" width=5%>&nbsp;~$ddarr[dd]`</td>
		~/section`
		<td align="center" width="10%">&nbsp;Total</td>
		</tr>
		<tr class="label">
		<td align="center">&nbsp;Count</td>
		~section name=dd loop=$ddarr`
			<td align="center">&nbsp;~$utotb[dd]`</td>
		~/section`
		<td align="center">~$utotall`</td>
		</tr>
		</table>
	~/if`
~else`
<form method=post action="registered_members_us.php">
<table width=80% align="center">
<tr>
<td width=10%>
	<input type=radio name="dt_type" value="day" checked>
</td>
<td width=30%>Day Wise : (For a particular month)</td>
<td width=30%>
	<select name="ddate_mon">
	~section name=mm loop=$mmarr`
		<option value="~$mmarr[mm]`">~$mmarr[mm]`</option>
	~/section`
	</select>
	<select name="ddate_yyyy">
		<option value="2004">2004</option>
		<option value="2005">2005</option>
		<option value="2006">2006</option>
		<option value="2007">2007</option>
		<option value="2008">2008</option>
	</select>
</td>
</tr>
<tr>
<tr><td><br><br><br><br></td></tr>
<td width=10%>
	<input type=radio name="dt_type" value="mnt">
</td>
<td width=30%>Month Wise : (For a particular year)</td>
<td width=30%>
	<select name="mdate_yyyy">
		<option value="2004">2004</option>
		<option value="2005">2005</option>
		<option value="2006">2006</option>
		<option value="2007">2007</option>
		<option value="2008">2008</option>
	</select>
</td>
</tr>
<tr><td><br><br><br></td></tr>
<tr><td colspan=100%>
<input type="submit" name="CMDGo" value="   Go   ">
</td></tr>
</table>
</form>
~/if`
</body>
</html>
