/* Community Homepage CSS Created By Vishal Kaul */

*{margin:0; padding:0; float:none; list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both; height:0; overflow:hidden;}
.clr_15{clear:both; height:15px; overflow:hidden;}
.mt_4 {margin-top:4px;}
.mt_7 {margin-top:7px;}
.ml_6{margin-left:6px;}
.ml_10{margin-left:10px;}
.ml_17 {margin-left:17px;}
.ml_24 {margin-left:24px; display:inline;}
.p_tb_10 {padding:10px 0;}
body{font:12px Arial, Helvetica, sans-serif;}
.b{font-weight:bold;}
.p_rel_z{position:relative; z-index:10;}
h5{font:16px Arial, Helvetica, sans-serif; color:#d71010;}
a,a:link, a:visited{color:#117daa; text-decoration:none;}
.gry{color:#5f5f5f;}
.sprte_com{background:url(../images/home_community_sprte.png);}
.main_cont{width:778px; margin:auto;}
.tp_bg{height:23px; background-position:0 -63px;}
.tp_bg .lnks{width:778px; margin:auto; padding:3px 0;}
.lgo{width:220px; height:36px; background-position:-69px 0; margin:7px 0 0;}
.call_us{font:bold 18px Arial, Helvetica, sans-serif; color:#939394; margin:18px 0 0;}
.call_us b{background:#fdae17; color:#fff; padding:2px;}
.spky{width:16px; height:15px; background-position:-71px -44px;}
.reg_btn{width:137px; height:32px; background-position:-2px -145px;}
.w_118 {width:118px;}
.w_123 {width:123px;}
.w_167 {width:167px;}
.w_150 {width:150px;}
.w_59 {width:59px;}
.lft_bnr .cstm{width:347px; float:left;}
.lft_bnr .cstm h1{font:20px Arial, Helvetica, sans-serif; color:#d40000;}
.lft_bnr .cstm p{color:#979797; margin-top:12px;}
.reg_pnl{width:181px; float:left; padding:18px 0 0;}
.reg_pnl i{width:22px; height:22px; background:url(../images/home_community_sprte.png) no-repeat -165px -38px; float:left; font-size:18px; color:#fdae17; text-align:center; margin:0 4px 0 0;}
.reg_pnl h3{font-size:16px; color:#fdae17; margin:0 0 1px;}
.reg_pnl u{float:left; width:146px; text-decoration:none; color:#979797; margin:0; padding:0 0 10px;}
.feat_plus_succes{float:left; width:758px; background:url(../images/feat_plus_suces_bg.gif) repeat-x right top; padding:10px;}
.feat_grm_brds{float:left; width:255px;}
.feat_grm_brds .t_c{width:255px; height:6px; font-size:2px; background-position:0 -179px;}
.feat_grm_brds .b_c{width:255px; height:6px; font-size:2px; background-position:0 -186px;}
.feat_grm_brds .mid{width:233px; background:#fff; border:1px solid #e2e2e2; border-width:0 1px; padding:10px; float:left;}
.feat_grm_brds  h5{font:16px Arial, Helvetica, sans-serif; color:#404040;}
.feat_grm_brds  h2.grm,.feat_grm_brds h3.brd{font:16px Arial, Helvetica, sans-serif; color:#404040;}
ul.feat{float:left; width:220px;}
ul.feat li{float:left; width:99.9%; margin:7px 0 0;}
ul.feat li img{float:left; margin:5px;}
ul.feat li .lnk_txt{float:left; width:149px;}
ul.feat li u{text-decoration:none;}
ul.feat li .lnk_txt a{float:left; width:99.9%; color:#0087d4; text-decoration:none;}
ul.feat li b{float:left; width:99.9%; padding:3px 0 0; font-weight:normal;}
.sucs_stry{float:left; width:217px;}
.sucs_stry h4{color:#707070; margin:0 0 3px;}
table.feat_tbl tr td{padding:5px 3px;}
table.feat_tbl tr.lgt_gray td{padding:5px 3px; background:#f9f9f9;}
table.feat_tbl tr.grn_bg td{background:#eff9c3; padding:5px 3px;}
.brwse_matri_cont{background:#f9f9f9; width:762px; padding:8px;}
.brwse_matri_cont h5{font-size:12px; color:#D24B51;}
.w_557 {
	width:557px;
}
ul.tab {
	list-style:none;
}
ul.tab li {
	float:left;
	background:url(../images/home_community_sprte.png) right -194px;
	margin-right:2px;
}
ul.tab li b {width:3px; height:20px; background:url(../images/home_community_sprte.png) no-repeat -188px -194px; float:left;}
ul.tab li.active {float:left; margin-right:2px!important; width:auto; height:20px; background:url(../images/home_community_sprte.png) no-repeat right -145px; font-weight:bold;}
ul.tab li.active b {background:url(../images/home_community_sprte.png) no-repeat -188px -145px;}
ul.tab a {
	padding:4px 8px 0 0;
	float:left;
	color:#000;
}
.brwse_wht_bg{float:left; width:752px; background:#fff; padding:5px;}
/*common footer starts here*/
.ftr {
	background:url(../images/ftr_bg.gif) repeat-x right top;
	padding:20px 20px 5px;
	font-size:11px;
}
.ftr .ftr_cont {
	margin:auto;
	width:750px;
}
.ftr_links {
	float:left;
	width:749px;
}
.ftr_links .r1 {
	width:95%;
	float:left;
}
.ftr_links label.l1 {
	float:left;
	width:65px;
	padding-right:10px;
}
ul.foot {
	margin:0;
	padding:0;
}
ul.foot li {
	float:left;
	margin:0 5px;
	color:#9a9999;
	list-style:none;
}
ul.foot li a:hover {
	text-decoration:underline;
}
ul.foot li a, ul.foot li a:visited {
	color:#117daa;
}
.naukri_btn{width:130px; height:37px; background:url(../images/home_community_sprte.png) no-repeat 0 -215px; margin:10px auto; border:0;}
.mar_top_15 {
	margin-top:15px;
}/*common footer ends here*/
