	<div class="fullwid" id="HAM_1"> 
	  <!--start:div-->
	  <div class="bg1" id='overlayTap'>
		<div class="pad1">
		  <div class="rem_pad1">
			<div class="fl wid20p white" id="hamRemove"> <i class="mainsp arow2"></i> </div>
			<div class="fl wid60p txtc white fontthin f19 " id="TAPNAME_1"></div>
			<div class="clr"></div>
		  </div>
		</div>
	  </div>
	  <!--end:div--> 
	  <!--start:options-->
	<div class="fullwid">
	  <div class="bg12 pad18n oh wid71p fr">
		<!--start:search --> 
		<div class="fullwid brdr13 dn hamsearch" HAM_SEARCH="1" >
			<div class="fl color14 f17 opa50 fontlig wid85p"><input class="fl color14 f17 fontlig wid85p" style="background:none;" id="search_ham_1" type="text" placeholder="Search" /></div>
			<div class="fl"><a ><i class="mainsp reg_srch" type='1'></i></a></div>
			<div class="clr"></div>
		</div>
	   <div class="fullwid brdr13 dn" MULTI=1 id="HAM_LABEL">
		</div>  
		<!--end:search -->	
		<!--start:div-->
		<form name=HAM_FORM_1>
			<div class="regul" style="position:relative">
			  <ul id="HAM_OPTION_1">
				<li class="HAM_CLASS" value="HAM_VALUE">
					<span class="f17 color14 textTru {{txtc}}" >HAM_LABEL</span><input type=HAM_TYPE name="HAM_NAME" value="HAM_VALUE" class="dn" id="ham_HAM_NAME" HAM_CLASS ></input>
					</li>
			  </ul>
			</div>
			<div class="regul dn">
			  <ul id="HAM_OPTION_2">
			
			  </ul>
			</div>
			<div class="regul dn">
			  <ul id="HAM_OPTION_3">
				
			  </ul>
			</div>
			<div class="regul dn">
			  <ul id="HAM_OPTION_4">
				<li class="HAM_CLASS hpad5" value="HAM_VALUE">
					<div class="fl f17 color17 {{txtc}} fontlig" >HAM_LABEL</div><input type=HAM_TYPE name="HAM_NAME" value="HAM_VALUE" class="dn" id="ham_HAM_NAME" HAM_CLASS ></input>{{HAM_CIRCLE}}
					<div class="clr"></div>
					</li>
			  </ul>
			
			</form>
		</div>
		
		<!--end:div-->
	 
	  </div>
	</div>
	  <!--end:options-->
	  
	  
	  <!--start:search -->
		<div class="clr"></div> 
		<div class="fullwid brdr13 dn bg7 white lh30 cursp" id="SAVE_DONE">
			<div class="bg7 white lh30 fullwid dispbl txtc lh50">Done</div>
			<div class="clr"></div>
		</div>    
		<!--end:search -->
	  
	</div>
	<div id="HAM_MULTI" class="dn">
		<div class="fl color14 f17 opa50 fontlig {{WIDTH}}">{{FROM_TO}}</div>
	</div>
	<div id="ham_circle" class="dn">
		<div class="fr mrr10"><i class="icons1 srfrm_circle"></i></div>
	</div>
    <div class="posfix dn" style="top:45%; left:0;z-index:1000" id="2dView">
        	<img src="/images/jsms/commonImg/2d-slider-left.png" border="0">
        
    </div>
