<script>
var incompletePageAngular=1;
</script>
<div id='perspective' class='perspective' style="height:{{MaxHeight+'px'}}">
  <div id='pcontainer' class='pcontainer' >
    <!--tab-->
    <div class="loader" id="pageloader"></div>
    <div id="incompleteHeading" incomplete-tab  enable-back="bEnableBack" on-back="myBack" data={{tabName}} resize></div>
 
	<div id="scrollContent" class="scrollContent" style="height:{{fieldsHeight+'px'}}" >
		<!--Fields-->
		 <div ng-repeat="field in fields1" > 
		  <div reg-ham-field data='field' ng-show='!field.show'></div>
		</div>
		<div  ng-repeat="field in fields2.slice(1,fields.length)">  
			<div ng-if=!$last reg-ham-field data='field' ng-show='!field.show'></div>
		</div>
		   
		<div ng-repeat="field in fields3" > 
		  <div reg-ham-field data='field' ng-show='!field.show'></div>
		</div>
		
		<div ng-repeat="field in fields4" > 
		  <div reg-ham-field data='field' ng-show='!field.show'></div>
		</div>
			
		<div reg-phone-field  enable-next-btn="phoneValidation" data='field_phone' ng-show='!field_phone.show'>
		</div>
	</div>
    
    <!--Next Btn-->
    <div ng-if=!isAbout next-Btn-Incomplete on-next="myNext" num-fileds='20' enable="{{bNextEnable}}"></div>
    <div ng-if=isAbout next-btn on-next="myNext" num-fileds='20' enable="{{bNextEnable}}"></div>
  </div>
  <!--HamBurgerView-->
  <div id="hamburger" class="hamburger dn heightInherit">
    <ng-include id="myHam" src="'/angular/registration/Partials/hb.html'" scope="" onload=""></ng-include>
    <!--<div hamburger-ang></div>-->
  </div>
  <div class="hamoverlay" id="hamoverlay"></div>
  <!-- Modal window overlay- overlay_1 page-->
  <ng-include id="modalView" ng-class={'slide-down':bModalWindow} ng-if="bModalWindow" src="'/angular/registration/Partials/errorModalWindowIncomplete.html'" scope="" onload=""></ng-include>
</div>

