<div class="fullwid bg4" id="splashScreen" style="height:{{MaxHeight+'px'}}" resize>
    <img ng-src="/images/jsms/registerImg/intermediateScreen.jpg" style="height:{{MaxHeight+'px'}}; width:100%">
    <div class=" reg_dialog_overlay splashLoader">
    </div>
    <ng-include id="modalView" ng-class={'slide-down':bModalWindow} ng-show="false" src="'/angular/registration/Partials/errorModalWindow.html'" scope="" onload=""></ng-include>
</div>
<ng-include id="myHam" ng-show="false" src="'/angular/registration/Partials/hb.html'" scope="" onload=""></ng-include>
