<style>
/*category list css starts here*/
/*tab menu starts here for browse community*/
.t_menu_cont{width:778px; background:url(images/ul_tab_bot_r_cur.gif) no-repeat bottom; height:25px;}
ul.t_menu{margin:0; padding:0; list-style:none;}
ul.t_menu li{list-style:none;font:12px Arial, Helvetica, sans-serif; color:#117daa; margin:0 15px 0 0; float:left; display:inline;}
ul.t_menu li a span{padding:2px 2px 2px 10px;}
ul.t_menu li a,ul.t_menu li a:visited{color:#117daa;float:left; padding:2px 8px 2px 0; }
ul.t_menu li a:hover{background:#fff url(images/ul_tab_r_cur.gif) right top no-repeat;}
ul.t_menu li a:hover span{background:url(images/ul_tab_l_cur.gif) no-repeat top left; padding:2px 2px 2px 10px;}

ul.t_menu li.current a{background:#fff url(images/ul_tab_r_cur.gif) right top no-repeat;}
ul.t_menu li.current a span{background:url(images/ul_tab_l_cur.gif) no-repeat top left; padding:2px 2px 2px 10px; font-weight:bold;}
/*tab menu ends here for browse community*/
.orange_border ul.list{margin:0; padding:0; float:left; padding:0 8px; width:220px;}
.orange_border ul.list li{list-style:none;}
.orange_border ul.list li a{color:#117daa;}
.orange_border ul.list li a:hover{text-decoration:underline;}
.orange_border h6{font:bold 12px Arial, Helvetica, sans-serif; color:#000; padding:4px 4px 0; margin:0;}
/*category list css ends here*/
</style>
<div class="lf">
	<div class="clear"></div>
	<div class="t_menu_cont">
		<ul class="t_menu">
			 ~if $SEO_PASS/10000000 ge 1`<li class="current"><a href="" id="gender_link" onclick="return seo_change_tab('gender_link',~$SEO_FAIL`);return false;"><span>Gender</span></a></li>~assign var="CUR_SET" value="gender_link"`~assign var="SEO_PASS" value=$SEO_PASS-10000000` ~/if`
                                                ~if $SEO_PASS/1000000 ge 1` <li  ~if !$CUR_SET`class="current"~/if` id="community_link"><a href=""   onclick="return seo_change_tab('community_link',~$SEO_FAIL`);return false;"><span>Mother tongue</span></a></li>~assign var="SEO_PASS" value=$SEO_PASS-1000000` ~if !$CUR_SET`~assign var="CUR_SET" value="community_link"`~/if` ~/if`
                                                ~if $SEO_PASS/100000 ge 1` <li  ~if !$CUR_SET`class="current"~/if` id="religion_link"><a href=""  onclick="return seo_change_tab('religion_link',~$SEO_FAIL`);return false;"><span>Religion</span></a></li>~assign var="SEO_PASS" value=$SEO_PASS-100000`  ~if !$CUR_SET` ~assign var="CUR_SET" value="religion_link"` ~/if` ~/if`
                                                 ~if $SEO_PASS/10000 ge 1`<li  ~if !$CUR_SET`class="current"~/if` id="caste_link" ><a href=""   onclick="return seo_change_tab('caste_link',~$SEO_FAIL`);return false;"><span>Caste</span></a></li>~assign var="SEO_PASS" value=$SEO_PASS-10000`   ~if !$CUR_SET` ~assign var="CUR_SET" value="caste_link"`~/if`~/if`
                                                 ~if $SEO_PASS/1000 ge 1`<li  ~if !$CUR_SET`class="current"~/if` id="location_link" ><a href=""  onclick="return seo_change_tab('location_link',~$SEO_FAIL`);return false;"><span>Location</span></a></li>~assign var="SEO_PASS" value=$SEO_PASS-1000`  ~if !$CUR_SET`~assign var="CUR_SET" value="location_link"`~/if` ~/if`
                                                 ~if $SEO_PASS/100 ge 1`<li  ~if !$CUR_SET`class="current"~/if` id="education_link"><a  href="" onclick="return seo_change_tab('education_link',~$SEO_FAIL`);return false;"><span>Education</span></a></li>~assign var="SEO_PASS" value=$SEO_PASS-100`  ~if !$CUR_SET` ~assign var="CUR_SET" value="education_link"`~/if` ~/if`
                                                 ~if $SEO_PASS/10 ge 1`<li  ~if !$CUR_SET`class="current"~/if`id="profession_link" ><a   href="" onclick="return seo_change_tab('profession_link',~$SEO_FAIL`);return false;"><span>Profession</span></a></li>~assign var="SEO_PASS" value=$SEO_PASS-10`  ~if !$CUR_SET` ~assign var="CUR_SET" value="profession_link"` ~/if` ~/if`
                                                 ~if $SEO_PASS ge 1`<li  ~if !$CUR_SET`class="current"~/if` id="maritalstatus_link"><a   href="" onclick="return seo_change_tab('maritalstatus_link',~$SEO_FAIL`);return false;"><span>Marital Status</span></a></li>  ~if !$CUR_SET`  ~assign var="CUR_SET" value="maritalstatus_link"`~/if` ~/if`

		</ul>
	</div>

	<div class="lf orange_border" style="width:767px; margin-top:-5px;">
		<span style='display:none' id=gender_link_data>
			~assign var="tab" value=1`
                       ~foreach from=$SEO_GENDER item =v`
			<ul class="list">
				<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_GENDER_URL[$tab]`" class="blink" title="~$v` Matrimonials">~$v`</a></li>
			</ul>
			~assign var="tab" value=$tab+1`
                        ~/foreach`
		</span>
		 <span style='display:none' id=community_link_data>
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_COMMUNITY|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`

			<ul class="list">
			~section name=i loop=$SEO_COMMUNITY`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

			<ul class="list">
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_COMMUNITY_URL[$tab]`"  title="~$SEO_COMMUNITY[$tab]` Matrimonials">~$SEO_COMMUNITY[$tab]`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/section`
			</ul>

		 </span>
		<span style='display:none' id=religion_link_data>
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_RELIGION|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`
			<ul class="list" >
			~section name=i loop=$SEO_RELIGION`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

			<ul class="list" >
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_RELIGION_URL[$tab]`"  title="~$SEO_RELIGION[$tab]` Matrimonials">~$SEO_RELIGION[$tab]`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/section`
</ul>
		</span>
		<span style='display:none' id=caste_link_data>
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_CASTE|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`
			<ul class="list" >
			~foreach from=$SEO_CASTE item =v`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

			<ul class="list" >
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_CASTE_URL[$tab]`"  title="~$v` Matrimonials">~$v`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/foreach`
			</ul>
		</span>
		 <span style='display:none' id=location_link_data>
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_LOCATION_INDIA|@count`
			~assign var='first_var" value=$tot_cnt%3`

			~assign var='each_row' value=$tot_cnt/3|@intval`
			<h6 style="margin:10px 0;">India</h6>
			<ul class="list" >

			~section name=i loop=$SEO_LOCATION_INDIA`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`
			
			<ul class="list" >
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_LOCATION_INDIA_URL[$tab]`"  title="~$SEO_LOCATION_INDIA[$tab]` Matrimonials">~$SEO_LOCATION_INDIA[$tab]`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/section`
			</ul>
			<div class="clear">
			</div>
			<h6 style="margin:10px 0;">USA</h6>
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_LOCATION_USA|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`
			<ul class="list" >
			~section name=i loop=$SEO_LOCATION_USA`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

			<ul class="list" >
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_LOCATION_USA_URL[$tab]`"  title="~$SEO_LOCATION_USA[$tab]` Matrimonials">~$SEO_LOCATION_USA[$tab]`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/section`
			</ul>
			<div class="clear">
			</div>
			<h6 style="margin:10px 0;">Other</h6>
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_LOCATION|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`
			<ul class="list" >
				~section name=i loop=$SEO_LOCATION_INDIA`
				~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

				<ul class="list" >
			~/if`
			~if $SEO_LOCATION[$tab]`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_LOCATION_URL[$tab]`"  title="~$SEO_LOCATION[$tab]` Matrimonials">~$SEO_LOCATION[$tab]`</a></li>
			~/if`
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/section`
			</ul>
			<div class="clear">
                        </div>
		</span>
		<span style="display:none" id="education_link_data">
		~assign var="tab" value=1`
		~assign var="tot_cnt" value=$SEO_EDUCATION|@count`
		~assign var='first_var" value=$tot_cnt%3`
		~assign var='each_row' value=$tot_cnt/3|@intval`

		<ul class="list">
		~section name=i loop=$SEO_EDUCATION`
		~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

		<ul class="list">
		~/if`
		<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_EDUCATION_URL[$tab]`"  title="~$SEO_EDUCATION[$tab]` Matrimonials">~$SEO_EDUCATION[$tab]`</a></li>
		~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
		</ul>
		~/if`
		~assign var="tab" value=$tab+1`
		~/section`
		</ul>

		</span>
		<span style="display:none" id="profession_link_data">
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_PROFESSION|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`

			<ul class="list">
			~section name=i loop=$SEO_PROFESSION`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

			<ul class="list">
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_PROFESSION_URL[$tab]`"  title="~$SEO_PROFESSION[$tab]` Matrimonials">~$SEO_PROFESSION[$tab]`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/section`
			</ul>

                </span>
		<span style="display:none" id="maritalstatus_link_data">
			~assign var="tab" value=1`
			~assign var="tot_cnt" value=$SEO_MARITALSTATUS|@count`
			~assign var='first_var" value=$tot_cnt%3`
			~assign var='each_row' value=$tot_cnt/3|@intval`

			<ul class="list">
			~foreach from=$SEO_MARITALSTATUS item =v`
			~if $tab eq $each_row+$first_var+1 || $tab eq 2*$each_row+$first_var+1`

			<ul class="list">
			~/if`
			<li><a href="~$SITE_URL`/matrimonial-matrimony-~$SEO_MARITALSTATUS_URL[$tab]`"  title="~$v` Matrimonials">~$v`</a></li>
			~if $tab eq $each_row+$first_var || $tab eq 2*$each_row+$first_var`
			</ul>
			~/if`
			~assign var="tab" value=$tab+1`
			~/foreach`
			</ul>

                </span>
		</div>
		<div class="clear"></div>
		<div class="lf"><img src="images/sr_bottom_left.gif"></div>
		<div class="lf sr_bottom_bg" style="width:768px;"></div>
		<div class="lf"><img src="images/sr_bottom_right.gif"></div>
	</div>
	<script>
	var current_seo="~$CUR_SET`";
	var prev_seo="~$CUR_SET`";
	function seo_change_tab(link_name,value)
	{
		check_window('from_link');
		prev_seo=link_name;
		dID(current_seo).className="";
		dID(prev_seo).className="current";
		
		change_data_seo()
		current_seo=link_name;
		return false;
	}
	function change_data_seo()
	{
		eval("dID('"+current_seo+"_data').style.display='none';");
		eval("dID('"+prev_seo+"_data').style.display='inline';");
	}
	change_data_seo();
	</script>
