.ham_img1 {
	background:#3e3e3e url(IMG_URL/images/jsms/interstital/bg_ham.jpg) no-repeat center center !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ham_setting{background-position:-3px -520px;
width: 34px;
height: 36px;}
.ham_msg1{background-position:1px -553px;
width: 34px;
height: 36px;}
.ham_icon2{background-position:1px -591px;
width: 34px;
height: 36px;}
.ham_icon3{background-position: -10px -639px;
width: 16px;
height: 14px;}
.hamlist{overflow:auto}
.hamlist ul{margin:0; padding:0; list-style-type:none}


.hamlist ul li:first-child a{font-size:20px}

.hampad1{padding-left:15px;}


.hamlist2 ul li a{font-size:17px}
.hamlist2 ul li{padding-bottom:30px}
.hamlist2 ul{margin:0; padding:0; list-style-type:none}


.hamlist2 ul li:first-child a{font-size:20px}


.ham_bdr1{border-top:1px solid #6f5f62}
.ham_bdr2{border-right:1px solid #6f5f62}
.ham_pos1{bottom:20px}
.ham_pos2{right: 9px;
top: 2px;}

.ham_pos4{right:0; top:0}
.ham_opa{opacity: 0.6;	filter: alpha(opacity=60); }
.ham_droparw{background-position: -190px -259px;
width: 25px;
height: 18px;}
.ham_color1{color:#797777}
.ham_color2{color:#cbc9c9}
.ham_count{background-color:white; width:18px; height:18px;border-radius: 25px;}
.ham_imgbrdr{border-radius: 25px;}


.lham{left:1px;transform:translateX(0%)!important;
-webkit-transform:translateX(0%) !important;
}

.hamburgerCommon{
-webkit-transition: -webkit-transform .7s;
transition: transform .7s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
transform:translateX(-100%);
-webkit-transform:translateX(-100%);
}

.hamScroll{
-webkit-transition: -webkit-transform 1s;
transition: transform 1s;
-webkit-transform-origin: 50% 50%;
transform-origin: 0% 0%;
transform:translateY(-100%)!important;
-webkit-transform:translateY(-100%) !important;
}

.hamburgerList0{
-webkit-transition: -webkit-transform 1s;
transition: transform 1s;
-webkit-transform-origin: 50% 50%;
transform-origin: 0% 0%;
transform:translateY(-81%)!important;
-webkit-transform:translateY(-81%)!important;
}

.hamburgerList100{
-webkit-transition: -webkit-transform .8s;
transition: transform .8s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}

.baricon{background-position: -92px -22px;
width: 21px;
height: 20px;}

 @media (min-width: 280px) {
	.padHamburger{
	padding: 5px 0px ;

	}
	.fb1{font-weight:bold;
	font-size:15px;
	}
	.hamlist ul li a{font-size:15px}
	.hamlist ul li{padding-bottom:17px}
	.hamburgerTopl{-webkit-transform: translateZ(-2500px) translateX(125%) rotateY(-70deg) !important;
	transform: translateZ(-2500px) translateX(125%)  rotateY(-70deg) ;}
	.ham_pos3{right:15px; bottom:10px}
	
	.hampad2{padding-left:40px; padding-top:12%;}
	
 }
 
@media (min-width: 321px) {
	.padHamburger{
	padding: 5px 0px;

	}
	.fb1{font-weight:bold;
	}
	.hamlist ul li a{font-size:17px}
	.hamlist ul li{padding-bottom:22px}
	.hamburgerTopl{-webkit-transform: translateZ(-1500px) translateX(105%) rotateY(-60deg) !important;
	transform: translateZ(-1500px) translateX(105%)  rotateY(-60deg) !important;}
	.ham_pos3{right:15px; bottom:30px}
	
	.hampad2{padding-left:40px; padding-top:23%;}
}

.perspective {
	width: 100%;
	height: 100%;
	position: relative;
}
.pcontainer {
	background: #fff;
	min-height: 100%;
	position: realtive;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
	
}


.showpers{perspective:1500px;-webkit-perspective:1500px;position:fixed;background:#2c3137;z-index:1000}
.hamb{
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
cursor: pointer;
-webkit-transition: -webkit-transform 0.4s;
transition: transform 0.4s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.hamr{
-webkit-transform: translateZ(-1500px) translateX(-100%) rotateY(45deg);
transform: translateZ(-1500px) translateX(-100%) rotateY(45deg);
top:15%;
}

.haml{-webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-0deg);
transform: translateZ(-1500px) translateX(100%) rotateY(0deg);}


.wrapper{

opacity: 1;
	height: 101%;width:100%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	position:absolute;
	z-index:100;
}

.widMiddleHam{width:34%;}
.widEndHam{width:34%;}


.newham_icons1{background-image: url(IMG_URL/images/jsms/commonImg/new-icon1.png);background-repeat: no-repeat;}
.newham_wid32p{width:32%;}
.newham_count{width:20px; height:20px; border-radius:10px;}
.newham_pos1{bottom:4px; right:2px}
.newham_pad1{padding:10px 0}
.newham_colr1{color:#838383}
.int_rec{ background-position:0px -1px; width:56px; height:64px;}
.acc_mem{ background-position:-57px -1px; width:56px; height:64px;}
.just_join{ background-position:-116px -1px; width:57px; height:64px;}
.brdr9_ham {
	border-top:1px solid #999999
}
