.irs {
    position: relative; display: block;
     height: 55px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.irs-with-grid {
    height: 75px;
}

.irs-line {
    background: url(IMG_URL/images/jslider.png) no-repeat 1px 1px;
    width: 100%;
    height: 11px;
    position: relative; display: block;
    overflow: hidden;
    outline: none !important;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    height: 8px;
    position: absolute; display: block;
    top: 0;
    left: 0; width: 11%;
}

.irs-bar {
    background: url(IMG_URL/images/jslider.png) no-repeat 1px -37px;
    width: 94px;
    height: 11px;
    top:0px;
    position: absolute; display: block;
    left: 0; width: 0;
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid #428bca;
        border-right: 0;
        background: #428bca;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
        position: absolute; display: block;
            top: 0; left: 0;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    background: url(IMG_URL/images/jslider.png) no-repeat 0px -61px;
    width: 12px;
    height: 11px;
    top: 0px;
    cursor: pointer;
    position: absolute; display: block;
       
}



.irs-min {
    color: #353e4f;
    font-size: 11px; line-height: 1.333;
    top:10px;
    position: absolute; 
    display: block;
    left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-max {
    color: #353e4f;
    font-size: 11px; line-height: 1.333;
    top:10px;
    position: absolute; 
    display: block;
    right: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-from, .irs-to, .irs-single {
    color: #353e4f;
    font-size: 10px; line-height: 1.333;
    top:-20px;
    position: absolute; 
    display: block;
    cursor: default;
    white-space: nowrap;
}

.irs-slider.type_last {
            z-index: 2;
        }

.irs-grid {
    height: 27px;
       position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; 
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
    position: absolute;
    bottom: 0; left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px; line-height: 9px;
    padding: 0 3px;

}

.irs-disabled {
}

.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}