.singleDD .sDrop {
    display: none;
    max-height: 440px;
    position: absolute;
    z-index: 45;
}
.singleDD .sDrop ul {
	list-style-type : none;
	
}
.singleDD .sDrop li {
    cursor: pointer;
    margin: 0;
    
}

.sreposa {
    top: 50px;
    left: -5px;
}
.srewida {
    width: 118px;
}

.singleDD .sDrop li div{
		margin: 0 15px;
    border-bottom: 1px solid #b7bbbf;
    padding: 6px 5px 6px 10px;
}
.singleDD .sDrop li:nth-child(1){border-top: 1px solid #b7bbbf;}
.singleDD .sDrop li:nth-last-child(1) div{border-bottom:0;}
.singleDD .sAct {
    background-color: #dcddd8;
    
}
.singleDD.zIndexIE7 {
}

.nScroll .csb, .nScroll .csb .anchor, .nScroll .csb .bar, .nScrollable .csb, .nScrollable .csb .anchor, .nScrollable .csb .bar {
    border-radius: 6px;
}
.nScroll, .nScrollable {
}
.nScroll .matchParent, .nScrollable .matchParent {
    height: 100%;
    width: 100%;
}
.nScroll .cover, .nScrollable .cover {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.nScroll .cover .sDDcontent, .nScrollable .cover .sDDcontent {
    margin-right: -17px;
    /*padding: 0 0 17px;*/
    position: relative;
    width: auto;
    overflow: auto;
}
.dWrap{outline: none}
.inpw{width : 250px;}

#search_gender .sDDcontent{width:320px !important}
.js-inGroup{font-size: 14px;color:#666666;padding-left:10px}
#search_lage .sDrop li div{padding:0}
#search_hage .sDrop li div{padding:0}

.custom-checkbox-hp input[type="checkbox"]{
	margin: 0;position: absolute;z-index: 2;cursor: pointer;outline: none;opacity: 0;_noFocusLine: expression(this.hideFocus=true);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-khtml-opacity: 0;-moz-opacity: 0; width:100%; height:22px}
.custom-checkbox-hp{
	width: 23px;
	height: 22px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 6px;
	background:url(IMG_URL/images/jspc/commonimg/sprite-two.png) no-repeat -217px -218px transparent;
}
.custom-checkbox-hp.selected{background-position:-217px -195px}

.nScroll .csb, .nScroll .csb .anchor, .nScroll .csb .bar, .nScrollable .csb, .nScrollable .csb .anchor, .nScrollable .csb .bar {
    position: absolute;
    z-index: 1;
}
.nScroll .csb, .nScrollable .csb {
    display: none;
}
.nScroll .csb.vertical, .nScrollable .csb.vertical {
    bottom: 8px;
    height: auto;
    right: 5px;
    top: 8px;
    transition: width 300ms ease 0s;
    width: 4px;
}
.nScroll .csb.horizontal, .nScrollable .csb.horizontal {
    bottom: 10px;
    display: none !important;
    height: 8px;
    left: 10px;
    right: 18px;
    width: auto;
}
.nScroll .csb .anchor.head, .nScrollable .csb .anchor.head {
    left: 0;
    top: 0;
}
.nScroll .csb .anchor.foot, .nScrollable .csb .anchor.foot {
    bottom: 0;
    right: 0;
}
.nScroll .csb.vertical .bar, .nScrollable .csb.vertical .bar {
    width: 100%;
}
.nScroll .csb.horizontal .bar, .nScrollable .csb.horizontal .bar {
    height: 100%;
}
.nScroll .csb, .nScrollable .csb {
   /* background: #e2e2e2 none repeat scroll 0 0;*/
}
.nScroll .csb .bar, .nScrollable .csb .bar {
    background: #b3b3b3 none repeat scroll 0 0;
}
.nScroll .csb .anchor, .nScrollable .csb .anchor {
    background: #00f none repeat scroll 0 0;
}
.nScroll .csb.vertical .anchor, .nScrollable .csb.vertical .anchor {
    height: 0;
}
.nScroll .csb.horizontal .anchor, .nScrollable .csb.horizontal .anchor {
    width: 0;
}
.nScroll .csb.hover, .nScroll .csb:hover, .nScrollable .csb.hover, .nScrollable .csb:hover {
   /* background: #d9d9d9 none repeat scroll 0 0;*/
}
.nScroll .csb.hover .bar, .nScroll .csb:hover .bar, .nScrollable .csb.hover .bar, .nScrollable .csb:hover .bar {
    background: #a0a0a0 none repeat scroll 0 0;
}
.nScrollable .csb.vertical:hover {
    transition: width 300ms ease 0s;
    width: 9px;
}
