.hamView {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    opacity: 0;
    background: black;
}
.backShow {
    opacity: 0.7;
    transition: all .2s linear;
}
.hamShow {
    transition: all .2s linear;
    transform: translate(0%, 0%) !important;
    -webkit-transform: translate(0%, 0%) !important;
    -moz-transform: translate(0%, 0%) !important;
    -o-transform: translate(0%, 0%) !important;
    -ms-transform: translate(0%, 0%) !important;
}
#hamburger {
    background: url(https://www.jeevansathi.com/images/jsms/membership_img/revamp_bg1.jpg);

    transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition:all .2s linear;
    -ms-transition: all .2s linear;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hamSprite {
    background: url(../../img/hamSprite.png) center no-repeat;
    transform: scale(0.9,0.9);
}
.homeIcon {
    width: 27px;
    height: 27px;
    background-position: -50px -14px;
}

.listingHam li {
    padding: 10px 10px 10px 6px;
}



.listingHam li i {
    margin: 0px 10px;
    vertical-align: bottom;
}
.listingHam li a{
    margin-left: 10px;
}
.minorList li a{
    margin-left: 30px;
    display: block;
}
.minorList li {
    list-style: none;
}
.searchIcon {
    width: 27px;
    height: 27px;
    background-position: -50px -59px;
}
.searchProfileIcon {
    width: 27px;
    height: 27px;
    background-position: -51px -99px;
}
.settingsIcon {
    height: 27px;
    width: 27px;
    background-position: -11px -149px;
}
.editProfileIcon {
    height: 27px;
    width: 27px;
    background-position: -52px -141px;
}
.savedSearchIcon{
    height: 27px;
    width: 27px;
    background-position: -13px -244px;
}
.myMatchesIcon {
    height: 27px;
    width: 27px;
    background-position: -54px -191px;
}
.plusIcon {
    height: 27px;
    width: 27px;
    background-position: -13px -196px;
}
.plusParent .plusIcon {
    height: 27px;
    width: 27px;
    background-position: -54px -268px;
}
.myContactIcon {
    height: 27px;
    width: 27px;
    background-position: -54px -234px;
}
.shortlistedIcon {
    height: 27px;
    width: 27px;
    background-position: -13px -15px;
}
.phoneIcon {
    height: 27px;
    width: 27px;
    background-position: -13px -59px;
}
.profileVisitorIcon {
    height: 27px;
    width: 27px;
    background-position: -13px -100px;
}

.z104{z-index: 104}
.hamImage{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 104;
    transform: translate(-120%, 0%) !important;
    transition: all .2s linear;
}
.hamImageShow{
    transition: all .2s linear;
    transform: translate(-20%, 0%) !important;
}
.irIcon{
    width: 71px;
    background-position: -220px -14px;
    height: 70px;
}
.allAcIcon{
    width: 71px;
    background-position: -220px -89px;
    height: 70px;
}
.justJnIcon {
    width: 71px;
    background-position: -220px -167px;
    height: 70px;
}
.newham_count {
    width: 22px;
    height: 22px;
    border-radius: 10px;
}
.newham_pos1 {
    bottom: 4px;
    right: 2px;
}
.brdrTop {
    border-top: 1px solid white;
}
.brdrBtm {
    border-bottom: 1px solid white;
}
.ml0Imp{
    margin-left: 0px !important;
}
.mar0Imp{
    margin:0px !important;
}
.hamBtn {
    width: 98%;
    text-align: center;
    margin: 2px auto !important;
    display: block;
    position: relative;
}
.minorList {
    transition: 0.4s;
    overflow: hidden;
}
.pb8 {
    padding-bottom: 8px;
}
.hamBtnLoggedOut {
    display: block;
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 5px;
}
.mlLogout {margin-left: 30px}

.mb12 {
    margin-bottom: 12px;
}

.appDownload{
    -webkit-overflow-scrolling: touch;
    margin-left:0px;
}

.settingStyle{
    margin-top: 12px;
    padding-left:40px;
    height:0px;
}
@media (min-width: 280px) and (max-width: 320px) {
    .listingHam li {
        padding: 10px 1px !important;
    }
    .listingHam li a {
        margin-left: 6px !important;
    }
    .firtElemSmall{
        margin-left: 0px !important;
    }
    .mlLogout{margin-left: 6px;}
}
