*.svn
.phpintel/
/log
/cache/
cache/jeevansathi
cache/operations
web/smarty/templates_c/*
web/spa/node_modules/*
web/spa/npm-debug.log
web/spa/src/common/constants/apiServerConstants.js
web/uploads/SearchLogs/*
log/*
.idea
.eclipse
.gitConfig/*
web/robots.txt
