*.svn
.phpintel/
/cache
/log
cache/jeevansathi/*
cache/operations/*
web/smarty/templates_c/*
web/spa/node_modules/*
web/spa/dist/*
web/spa/webpack.config.js
web/spa/package.json
web/spa/npm-debug.log
web/uploads/SearchLogs/*
log/*
.idea
.eclipse
.gitConfig/*
web/robots.txt