@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}
.line {
	background-attachment:fixed;
	background-image:url(dot_line.gif);
	background-repeat:repeat-y;
	background-position:center;
}
.bodytxt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
}
.bodytxtbold{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#2D2D2D;
	font-weight:bold;
}
.footer{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#898989;
}
.more{
	color:#5382BC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
}
.more:link{
	color:#5382BC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
}
.more:active{
	color:#5382BC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
}
.more:visited{
	color:#5382BC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
}
.more:hover{
	color:#5382BC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
}
.sitemap{
	color:#2D2D2D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
.sitemap:link{
	color:#2D2D2D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
.sitemap:active{
	color:#2D2D2D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
.sitemap:visited{
	color:#2D2D2D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
.sitemap:hover{
	color:#5382BC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
.sitemapgrey{
	color:##2D2D2D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
}

.leftnav{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:bold;
	padding-left:5px;
	text-decoration:none;
}
.leftnav:link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:bold;
	padding-left:5px;	
	text-decoration:none;
}
.leftnav:active{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:bold;
	padding-left:5px;	
	text-decoration:none;
}

.leftnav:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:bold;
	padding-left:5px;	
	text-decoration:none;
}
.leftnav:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5B84B2;
	font-weight:bold;
	padding-left:5px;
	text-decoration:none;
}
.leftnav1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:normal;	
	text-decoration:none;
}
.leftnav1:link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:normal;	
	text-decoration:none;
}
.leftnav1:active{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:normal;	
	text-decoration:none;
}

.leftnav1:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2D2D2D;
	font-weight:normal;		
	text-decoration:none;
}
.leftnav1:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5B84B2;
	font-weight:normal;	
	text-decoration:underline;
}