<IfModule mod_rewrite.c>
RewriteEngine on
RewriteOptions inherit
RewriteCond %{REQUEST_URI} .*index.php.*
RewriteRule ^(.*)/index.php$ /matrimonials/$1/? [L,R=301]

RewriteCond %{REQUEST_URI} /up-matrimonial/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/uttar-pradesh-matrimonial/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/bengali-betrothed/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/bengali-matrimonial/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/maheshwari-betrothed/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/maheshwari-matrimonial/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/arya-vyasa-matrimonial/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /arya-vysya-matrimony-matrimonials [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/kokanastha-matrimonial/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /koknastha-matrimony-matrimonials [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/patil-leva-matrimonial/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/patel-leva-matrimonial/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/albama-matrimonials/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/alabama-matrimonials/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/delhi-matrimonial/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/delhi-matrimonials/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/indian-communities/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/india-matrimonial/ [L,R=301]

RewriteCond %{REQUEST_URI} /matrimonials/islamic-matrimonial/
RewriteCond %{REQUEST_URI} !.*index.php.*
RewriteRule ^(.*)$ /matrimonials/muslim-matrimonial/ [L,R=301]

RewriteCond %{REQUEST_URI} !/up-matrimonial/
RewriteRule ^(.*)$ /symfony_index.php/seo/index [L]
</IfModule>
