/* created by Kapish Sharma*/

body{ margin:5px; font-family:Arial, Helvetica, sans-serif;}
.t1{ font-size:13px;}
.wd{ width:1000px;}
.hd{ font-size:14px; font-weight:bold; color:#117daa; border-bottom: 1px solid #f1d7dd; padding-bottom:5px;}
.hd1{ font-size:13px; color:#6f6e6e; line-height:18px;}
.hd1 a{ font-size:13px; color:#000099; line-height:18px;}
.st{color:#71a000; font-size:16px; font-weight:bold; padding-bottom:10px;}
.st1{color:#ff8400; font-size:14px; font-weight:bold;}
.st1 b.wh{ background-color:#8cc502; padding:3px; font-size:14px; font-weight:bold; color:#ffffff;}
.hd2{ font-size:13px; color:#00049b; line-height:18px; font-weight:bold;}
.call{font-size:16px; color:#ff7a00; font-weight:bold;}
.call_us{font:bold 16px Arial, Helvetica, sans-serif;float:right;top:-19px; position:relative;}
.gry{color:#828282;}
.orng{color:#ff7a00;}
/*new css classes add start*/
.orng1{font-size:36px;color:#ff7a00;position:relative;top:8px;}
.orng2{margin-top:-15px; position:relative; top:31px; right:17px; font-size:11px; font-family:Arial, Helvetica, sans-serif; width:100px; font-weight:normal; color:#000000}
.orng3{top:0px; position:relative;font-size:17px;color:#ff7a00;}