<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Register Free at Jeevansathi.com and choose from lakhs of genuine profiles from your community, profession, location etc."/>
        <meta name="keywords" content="Jeevansathi Registration, Matrimony Registration, Matrimonial Registration, Jeevansathi.com Registration, Register free Jeevansathi.com, Jeevansathi matrimony Registration, jeevansathi matrimonial Registration, Free matrimonial, add profile, search profiles"/>
	<title>New Profile Registration - Register Free - Jeevansathi.com</title>
	~if $SEM`
		<link href="~$IMG_URL`/min/?f=/profile/css/~$reg_common_new_css`,/profile/css/~$colorbox_css`" rel="stylesheet" type="text/css" />
	~else`
		<link href="~$IMG_URL`/min/?f=/profile/css/~$reg_common_css`" rel="stylesheet" type="text/css" />
	~/if`
	<link rel="canonical" href="~$SITE_URL`/profile/registration_new.php"/>
	<link rel="stylesheet" type="text/css" href="~$SITE_URL`/css/~$rupeeSymbol_css`">
	<style>
		.mt_min_19 {
			margin-top:-19px;
			z-index:10;
			position:relative;
		}
		h1 {
			font:11px verdana, Helvetica, sans-serif;
		}
		.login_bar {
			width:772px;
			height:55px;
			background:#f9f9f9;
			border:2px solid #dadada
		}
		.login_bar label {
			float:left;
			color:#494949;
			margin:0 5px;
		}
		.login_bar input.txt1 {
			float:left;
			width:118px;
			height:16px;
			border:1px solid #969696;
		}
		.boy_grl {
			width:232px;
			height:230px;
			background-position:0 -30px;
		}
		.grn_bg {
			background:#f1f8cb;
			width:210px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-top:17px;
		}
		.g_t_l {
			background-position:-289px 0;
		}
		.g_t_r {
			background-position:-295px 0;
		}
		.g_b_l {
			background-position:-289px -6px;
		}
		.g_b_r {
			background-position:-295px -6px;
		}
		.grn_bg ul {
			margin:10px auto;
			padding:0;
			width:180px;
		}
		.grn_bg ul li {
			float:left;
			width:114%;
			margin-bottom:15px;
			list-style:none;
			font-weight:bold;
			 margin-left: -6px;
			 font-size:11px;
		}
		.fs17{font-size:17px;}
		.gry{color:#828282;}
		.orng_1{color:#FF7A00}
		.toll_free{font:bold 16px Arial, Helvetica, sans-serif; padding:10px 0px 0px 35px;}
		.suc_stry_img {
		width:204px;
		height:147px;
		background-position:0 -303px;
		}
               .err_msg{float:left; width:300px; color:#c8080e; margin:4px 0 0;}
	       #xy{position:relative; z-index:-1;}
	       html>body #xy{position:relative; z-index:0;}
	</style>
	<script type = "text/javascript" src = "~$JQUERY_JS`"></script>
	<script type="text/javascript" language="Javascript">
		var sem='~$SEM`';
	</script>
~include file="../jeevansathi/google_analytics.htm"`
	<SCRIPT type="text/javascript" language="Javascript" SRC="~$IMG_URL`/min/?f=/profile/js/~$registration_ajax_new_js`,/profile/js/~$behaviour_new_js`,/js/~$emailchecks`,/profile/js/~$registration_page1_new_js`,/profile/js/~$registration_new_page_js`,/profile/js/~$revampCommon_js`,/profile/js/~$colorbox`"></SCRIPT>
</head>
~$TRACK_HEAD`
~$TRACK_JSFLAG`
<body>
	~$TRACK_JSFLAGTRACK`
	<noscript>
		<div style="position:fixed;z-index:1000;width:100%">
			<div style="text-align:center;padding-bottom:3px;font-family:verdana,Arial;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;background-color:#E5E5E5;">
				<b><img src="~$IMG_URL`/profile/images/registration_new/error.gif" width="23" height="20"> Javascript is disabled in your browser.Due  to this certain functionalities will not work. 
					<a href="~$SITE_URL`/P/js_help.htm" target="_blank">Click Here</a> , to know how  to enable it.
				</b>
			</div>
		</div>
	</noscript>
	~if $SEM`
		<div class="shde_wrper">ready
		<div class="banr_wrper" style="background:url(~$SEM_IMAGE`) 0% 0% no-repeat;">
			<!--LOGO and Image Banner-->
			<div class="fl mrl_53">
				<div class="fl">
					<a href="~$SITE_URL`" style="cursor:pointer;">
						<p class="logo"></p>
					</a>
				</div>
				<div class="clr cl_5"></div>
				<div class="fl slog_wrper" style="height:92px;">
					~$P1B1_CONTENT`
				</div>
			</div>
			<div class="bnr_img fr" style="*margin:-220px 12px 0 0; z-index:100000;height:352px;" ></div>
			<!--LOGO and Image Banner-->
			<div class="clr cl_5"></div>	
	~else`

	<p class="tp_bg sprte"></p>
	<div class="reg_cont"> 
	<a href="#" class="fr mar b mt_min_19" onclick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&imageUrl=http://www.jeevansathi.com/images_try/liveperson&referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;">
		<p class="hlp fl sprte"></p>
	 	&nbsp;Live help
	</a>
	<p class="clr cl_5"></p>
	
	<div class="fl">
		<a href="~$SITE_URL`" style="cursor:pointer;">
			<p class="logo sprte"></p>
		</a>
		<h1>Indian Matrimonials - We Match Better </h1>
	</div>
	<div class="fl toll_free gry">
		Call us On <b class="orng_1">1-800-419-6299 [ Toll Free ]</b>
	        <div style="position: relative; font-weight: normal; font-size: 12px;top: -1px;left: 208px;left: 230px\9;color:#000000;">Only in India</div>
                <b class="orng_1" style="position: relative; padding-left: 50px; top: -13px;">or +91-120-4393500</b>
	</div>
	<div class="fr" style="width:151px;">
		<span class="fl">A </span> <span class="nkri_lgo sprte fl" style="margin:2px;"></span> <span class="fl">venture</span>
	</div>
	~/if`
	~if $REDIRECT_URL`
  	<div class="clr cl21"></div>
	<h4 class="drk_gry">Please login / Register to view ~$VIEW_USERNAME`'s profile</h4>
	
	<div class="login_bar mt_10 pos_rltv">
		<i class="d_t_l pos_abs h_w_6 sprte"></i>
		<i class="d_t_r pos_abs h_w_6 sprte p_tr_0"></i>

		<div style="width:745px; padding:15px 10px 0;">
			<form name="form2" action="~$SITE_URL`/profile/redirect.php" method="post" style="margin:0;padding:0">
				<input type="hidden" name="REQUESTEDURL" value="~$REDIRECT_URL`">
				<input type="hidden" name="METHOD" value="GET">
				<input type="hidden" name="REGISTER" value=1>
				<input type="hidden" name="view_username" value="~$VIEW_USERNAME`">
				<input type="hidden" name="source" value="~$TIEUP_SOURCE`">
				<div class="fl f_17 orng b">Member's Login &gt;&gt; 
				</div>
				<div class="fl" style="margin-top:2px;">
					<div class="fl">
						<label><b>User Id / Email Id :</b></label>
						<input type="text" class="txt1" name=username></input>
					</div>

					<div class="fl" style="margin-left:5px;">
						<label><b>Password :</b></label>
						<span class="fl ml_5">
							<input type="password" class="txt1" name=reg_password></input>
						</span>
					</div>
					<div class="fl ml_5">
						<label style="margin:0">
						  <input type="checkbox" name="rememberme" value="Y" style="border:0px">
						  Remember Me
						</label>
					</div>
				</div>
				<input type="submit" name="Submit" value="Login" class="fr" >
			</form>
       		</div>
		~if $LOGIN_ERR`
		<div style="float:left;color: red; text-align: center; width: 100%;margin-left:-38px"><img
		src="http://www.jeevansathi.com/profile/images/registration_new/alert.gif" style="vertical-align:
		bottom;"/>Invalid username/password</div>
		~/if`
  	</div>
	~/if`

	<div class="clr cl_5"></div>	
		~if !$IS_FTO_LIVE`
	<div class="fl mt_10" style="width:539px;_margin-top:-1px;" >
		 <h3 class="drk_gry u">
			 <b class="orng"> New user? Register Free</b> and find your Jeevansathi today!
		 </h3>
		 <div class="fr drk_gry mt_6"> Fields marked <sup class="orng">*</sup> are compulsory </div>
	 </div>
		 ~/if`
	<div class="fl mt_10" style="width:539px;_margin-top:-1px;" >
        <div class="clr cl_5"></div>
	<form name="form1" action="~$SITE_URL`/P/registration_page1.php~if $TIEUP_SOURCE neq ''`?source=~$TIEUP_SOURCE`~/if`~if $operator neq ''`&operator=~$operator`~/if`~if $SEM`&sem=1~/if`" method="post" enctype="multipart/form-data" style="margin: 0px">
		<input type="hidden" name="site_url" value="~$SITE_URL`" >
		<input type="hidden" name="SEM" value="~$SEM`">
		<input type="hidden" name="SEMPAGES" value="~$SEMPAGES`">
		<input type="hidden" name="img_url" value="~$IMG_URL`" >
		<input type="hidden" name="tieup_source" value="~$TIEUP_SOURCE`" >
		<input type="hidden" name="hit_source" value="~$HITSOURCE`" >
		<input type="hidden" name="newip" value="~$NEWIP`" >
		<input type="hidden" name="adnetwork" value="~$ADNETWORK`" >
		<input type="hidden" name="adnetwork1" value="~$ADNETWORK1`" >
		<input type="hidden" name="fname" value="~$NAME`" >
		<input type="hidden" name="account" value="~$ACCOUNT`" >
		<input type="hidden" name="campaign" value="~$CAMPAIGN`" >
		<input type="hidden" name="adgroup" value="~$ADGROUP`" >
		<input type="hidden" name="keyword" value="~$KEYWORD`">
		<input type="hidden" name="match" value="~$MATCH`" >
		<input type="hidden" name="lmd" value="~$LMD`" >
		<input type="hidden" name="showlogin" value="~$SHOWLOGIN`" >
		<input type="hidden" name="frommarriagebureau" value="~$FROMMARRIAGEBUREAU`" >
		<input type="hidden" name="groupname" value="~$GROUPNAME`" >
		<input type="hidden" name="id" value="~$ID_AFF`" >
		<input type="hidden" name="current_date" value="~$CURRENT_DATE`" >
		<input type="hidden" name="leadid" value="~$LEADID`" >
<input type="hidden" name="ajax_lead" value="" >
<input type="hidden" name="ajax_email_lead" value="" >
<input type="hidden" name="ajax_mobile_lead" value="" >
		<input type="hidden" name="secondary_source" value="~$SEC_SOURCE`" >
		<input type="hidden" name="doesnt_matter_for_javascript" value="~$doesntMatterForJavascript`" >
		~if $TIEUP_SOURCE eq 'ofl_prof'`
			<input type="hidden" name="email_is_ok" id="email_is_ok" value="1" >
		~else`
			<input type="hidden" name="email_is_ok" id="email_is_ok" value="" >
		~/if`
	~if $SEM`
	<div class="ltpane fl">
  		<div style="position:relative; top:-80px;">
		<span style="margin-left:30px;">Fields marked * are compulsory</span>
	~else`
    	<div class="main_form_cont pos_rltv" style="width:538px;">
	~/if`
 		<i class="d_t_l pos_abs h_w_6 sprte"></i>
		<i class="d_t_r pos_abs h_w_6 sprte p_tr_0"></i>
		~if $IS_FTO_LIVE`
        <div class="fto-notification-box box1">
			 <p style="color:#bc001d">Complete the form and <br>
			 Get Jeevansathi Paid Membership for
				 <span style="font-family:WebRupee;color:#bc001d">R</span> <span style=" text-decoration: line-through; color:#000 "><span style="color:#bc001d">1100</span>
				 </span>
				 <strong> FREE</strong>
			 </p>
			 <div style=" height:10px"></div>
			 <p>See e-mail IDs / Phone numbers of people you like.</p>
	    </div>			  
		<div class="fl">
			  <div class="fto-arrow-down sprte"></div>
			  <div class="fr" style="color:#7e7e7e; margin-top:5px">Field marked <i class="orng">*</i> are compulsory. For offer details refer to Terms &amp; Conditions</div>
		 </div>
		 ~/if`
		<ul class="form" style="margin-top:5px;" id="email_section">
			<li>
			    <h2>Account Details</h2>
			</li>
			<li>
			    <label id="email_submit_err_label" ~if $email_err <= 4 && $email_err` style='color:red'~/if`>Your Email<u>*</u> :</label>
			    <input id="email" name="email" type="text" value="~$EMAIL`" class="txt1" >
			    <div class="coverhelp cvr_hlp fl">
					<div style="left: 13px; display;z-index:110" class="helpbox pd_5" id="email_help">
						<div class="helptext blk no_b f11">We would use this email id for all future communication. You would also need this email id to login to the site.
							<div class="helpimg"></div>
						</div>
					</div>
					<div id = "email_message_ok" style="display:none; width:100px">
                                                                        <!--This div is filled using javascript-->
                                        </div>
			    </div>
			    <div class="clr"></div>
			    
			    <div id="email_submit_err" style="display:none" class="err">
					<label class="l1">&nbsp;</label>
					<div class="err_msg"> Please enter email address in proper format eg: examplemail@gmail.com</div>
                            </div>
			 
			    <!-- Server Side Checks -->
				~if $email_err`
					<span id="phpEmailError" style="display:inline">
				~else`
					<span id="phpEmailError" style="display:none">
				~/if`
				~if $email_err eq "1" || $email_err eq "4"`
					<div  style="display:inline">
						<label class="l1">&nbsp;</label>
						<div class="err_msg"> Please enter email address in proper format eg: examplemail@gmail.com</div>
					</div>
				~/if`
				~if $email_err eq "2"`
					<div  style="display:inline">
						<label class="l1">&nbsp;</label>
						<div class="err_msg"> You cannot register with a jeevansathi email address. Please register using a different email address.</div>

					</div>
				~/if`
				~if $email_err eq "3"`
					<div  style="display:inline">
						<label class="l1">&nbsp;</label>
						<div class="err_msg"> The domain name you entered is blocked. Please register using a different email address.</div>

					</div>
				~/if`
				~if $email_err eq "5"`
					<div  style="display:inline">
						<label class="l1">&nbsp;</label>
						<div id=email_message_er class="err_msg">
							~if $prof_act eq 'D'`
								<span style="color: rgb(227, 55, 59); padding-left: 4px;">This profile registered with this email has been deleted. To retrieve the username and password kindly mail to bug@jeevansathi.com.</span>
							~else`
							<span style="color: rgb(227, 55, 59); padding-left: 4px;">This email is already registered in our system. To retrieve the username and password,<a id="forgot_password_link" name="forgot_password_link" style="cursor:pointer">click here</a>.</span>
							~/if`
						</div>
					</div>
				~/if`
				</span>	
			    <!-- Ends Here-->  
			
	       	        </li>

			<li>
			   	<label id="password_submit_err_label" ~if $passwrd_err` style="color:red"~/if`>Password<u>*</u> :</label>
				<input type="password" name="password" id="password" class="txt1" value="" maxlength="16" />
				<div class="coverhelp fl cvr_hlp">
					<div id="password_help" class="helpbox pd_5" style="left: 13px;">
						<div class="blk no_b f11">
							Please choose a password that has a minimum of 6 characters.
							<div class="helpimg"></div>
						</div>
					</div>
				</div>
				<div class="clr"></div>
				<div id="password_submit_err" style="display:~if $passwrd_err`inline;~else`none~/if`" class="err">
				<label>&nbsp;</label>
				<span id=password_error1 style="display:~if $passwrd_err eq 1`inline;~else`none~/if`"> Please type in a password.</span>
				<span id=password_error2 style="display:~if $passwrd_err eq 2`inline;~else`none~/if`"> Password length should be between 6 and 16 characters.</span>
				<span id=password_error3 style="display:~if $passwrd_err eq 3`inline;~else`none~/if`"> Password cannot start or end with space(s).</span>
				<span id=password_error4 style="display:~if $passwrd_err eq 4`inline;~else`none~/if`"> Password is way too common, please use some secure password.</span>
</div>	
		        </li>

			<li class="bot_bdr">
				  <label id="relationship_submit_err_label" ~if $relationship_err eq "1"` style="color:red"~/if`>Create Profile For<u>*</u> :</label>
				  <div class="fl">
				  <select id="relationship" name="relationship" class="sel_lng">
					<option selected value="">Please Select</option>
					<option ~if $RELATIONSHIP eq '1'` selected ~/if` value="1">Self</option>
					<option ~if $RELATIONSHIP eq '4'` selected ~/if` value="4">Relative/Friend</option>
					<option ~if $RELATIONSHIP eq '2'` selected ~/if` value="2">Son</option>
					<option ~if $RELATIONSHIP eq '2D'` selected ~/if` value="2D">Daughter</option>
					<option ~if $RELATIONSHIP eq '6'` selected ~/if` value="6">Brother</option>
					<option ~if $RELATIONSHIP eq '6D'`selected ~/if` value="6D">Sister</option>
					<option ~if $RELATIONSHIP eq '5'` selected ~/if` value="5">Client-Marriage Bureau</option>
			 	 </select>
				 </div>
		
				  <div id="relationship_submit_err" style="display: ~if $relationship_err eq 1`inline;~else`none~/if`">
				  	<div class="clr"></div>
					<label>&nbsp;</label>
					<div class="err_msg" style="width:305px;">Please choose the person for whom you are looking for</div>
				  </div>
	       		</li>
			<!-- Relationship Ends Here -->
     		</ul>

		<!-- Email Section Ends Here-->

      		<div class="clr"></div>
    		<ul class="form mt_10" id="basicInfo_section">
        	<li>
	          	<h2 id="personal_heading">Profile Personal Details</h2>
        	</li>
        	
		<!-- Gender Starts Here -->
       		<li id="gender_padding">
		<div id="gender_section" style="margin-bottom:19px!important;">
		          <label id="gender_submit_err_label" ~if $gender_err eq "1"` style="color:red"~/if`>Gender<u>*</u> :</label>
		          <div class="fl">
		          	<input type="radio" value="M" name="gender" ~if $GENDER eq M` checked ~/if` id="gender"/> Male
		          	<input type="radio" value="F" name="gender" ~if $GENDER eq F` checked ~/if` id="gender" class="ml_10"/> Female
			  </div>
			  <div id="gender_submit_err" style="display: ~if $gender_err eq 1`inline;~else`none~/if`">
			  	<div class="clr"></div>
				<label>&nbsp;</label>
				<div class="err_msg">Please choose a gender.</div>
			  </div>
		</div>
      		</li>
		<!-- Gender Ends Here -->
		<!-- DOB Starts Here -->
	        <li style="padding-bottom:21px;">
         		 <label id="day_month_year_submit_err_label" ~if $dtOfBirth_err` style="color:red"~/if`>Date of Birth<u>*</u> :</label>
         		 <select class="sel_sml fl" ~if $SEM`style="width:47px;"else style="width:57px;" ~/if` name="day" id="day">
					<option selected value="">Day</option>
					<option ~if $DAY eq '1'` selected ~/if` value="1" >1</option>
					<option ~if $DAY eq '2'` selected ~/if` value="2" >2</option>
					<option ~if $DAY eq '3'` selected ~/if` value="3" >3</option>
					<option ~if $DAY eq '4'` selected ~/if` value="4" >4</option>
					<option ~if $DAY eq '5'` selected ~/if` value="5" >5</option>
					<option ~if $DAY eq '6'` selected ~/if` value="6" >6</option>
					<option ~if $DAY eq '7'` selected ~/if` value="7" >7</option>
					<option ~if $DAY eq '8'` selected ~/if` value="8" >8</option>
					<option ~if $DAY eq '9'` selected ~/if` value="9" >9</option>
					<option ~if $DAY eq '10'` selected ~/if` value="10" >10</option>
					<option ~if $DAY eq '11'` selected ~/if` value="11" >11</option>
					<option ~if $DAY eq '12'` selected ~/if` value="12" >12</option>
					<option ~if $DAY eq '13'` selected ~/if` value="13" >13</option>
					<option ~if $DAY eq '14'` selected ~/if` value="14" >14</option>
					<option ~if $DAY eq '15'` selected ~/if` value="15" >15</option>
					<option ~if $DAY eq '16'` selected ~/if` value="16" >16</option>
					<option ~if $DAY eq '17'` selected ~/if` value="17" >17</option>
					<option ~if $DAY eq '18'` selected ~/if` value="18" >18</option>
					<option ~if $DAY eq '19'` selected ~/if` value="19" >19</option>
					<option ~if $DAY eq '20'` selected ~/if` value="20" >20</option>
					<option ~if $DAY eq '21'` selected ~/if` value="21" >21</option>
					<option ~if $DAY eq '22'` selected ~/if` value="22" >22</option>
					<option ~if $DAY eq '23'` selected ~/if` value="23" >23</option>
					<option ~if $DAY eq '24'` selected ~/if` value="24" >24</option>
					<option ~if $DAY eq '25'` selected ~/if` value="25" >25</option>
					<option ~if $DAY eq '26'` selected ~/if` value="26" >26</option>
					<option ~if $DAY eq '27'` selected ~/if` value="27" >27</option>
					<option ~if $DAY eq '28'` selected ~/if` value="28" >28</option>
					<option ~if $DAY eq '29'` selected ~/if` value="29" >29</option>
					<option ~if $DAY eq '30'` selected ~/if` value="30" >30</option>
					<option ~if $DAY eq '31'` selected ~/if` value="31" >31</option>
		         </select>
		         <select name="month" id="month" class="sel_sml fl ml_10" style="width:62px;">
			           	<option selected value="">Month</option>
					<option ~if $MONTH eq '1'` selected ~/if` value="1" >Jan</option>
					<option ~if $MONTH eq '2'` selected ~/if` value="2" >Feb</option>
					<option ~if $MONTH eq '3'` selected ~/if` value="3" >Mar</option>
					<option ~if $MONTH eq '4'` selected ~/if` value="4" >Apr</option>
					<option ~if $MONTH eq '5'` selected ~/if` value="5" >May</option>
					<option ~if $MONTH eq '6'` selected ~/if` value="6" >Jun</option>
					<option ~if $MONTH eq '7'` selected ~/if` value="7" >Jul</option>
					<option ~if $MONTH eq '8'` selected ~/if` value="8" >Aug</option>
					<option ~if $MONTH eq '9'` selected ~/if` value="9" >Sep</option>
					<option ~if $MONTH eq '10'` selected ~/if` value="10">Oct</option>
					<option ~if $MONTH eq '11'` selected ~/if` value="11">Nov</option>
					<option ~if $MONTH eq '12'` selected ~/if` value="12">Dec</option>
		         </select>
		     	 <div id="year_span_id">
				 <select class="sel_sml fl ml_10" name="year" id="year" style="width:57px;">
					  <option selected value="">Year</option>
					  ~section name=foo loop=$yyarr`
						 <option ~if $YEAR eq $yyarr[foo]` selected ~/if` value=~$yyarr[foo]` >~$yyarr[foo]` </option>
					  ~/section`
				 </select>
			 </div>
			 <div class="coverhelp fl cvr_hlp">
				<div id="day_help" class="helpbox pd_5" style="left: 13px; display: none;">
					<div class="blk no_b f11">
						Please remember that the date of birth, once entered cannot be changed.
						<div class="helpimg"></div>
					</div>
				</div>
			 </div>
			 <div class="coverhelp fl cvr_hlp">
				<div id="month_help" class="helpbox pd_5" style="left: 13px; display: none;">
					<div class="blk no_b f11">
						Please remember that the date of birth, once entered cannot be changed.
						<div class="helpimg"></div>
					</div>
				</div>
			 </div>
			 <div class="coverhelp fl cvr_hlp">
				<div id="year_help" class="helpbox pd_5" style="left: 13px; display: none;">
					<div class="blk no_b f11">
						Please remember that the date of birth, once entered cannot be changed.
						<div class="helpimg"></div>
					</div>
				</div>
			 </div>
			<div id="day_month_year_submit_err" style="display:~if $dtOfBirth_err`inline;~else`none~/if`" class="err">
				<label class="l1">&nbsp;</label>
				<span id=dob_error1  style="display:~if $dtOfBirth_err eq 1`inline;~else`none~/if`"> Please choose Date of Birth.</span>
				<span id=dob_error2  style="display:~if $dtOfBirth_err eq 2`inline;~else`none~/if`"> You must be atleast 21 years old to register to this site.</span>
				<span id=dob_error3  style="display:~if $dtOfBirth_err eq 3`inline;~else`none~/if`"> You must be atleast 18 years old to register to this site.</span>
				<span id=dob_error4  style="display:~if $dtOfBirth_err eq 4`inline;~else`none~/if`"> Please provide valid Date of Birth.</span>
			</div>
	       	</li>
		
		<!-- DOB Ends Here -->
	
		<!-- Height Starts Here -->
       		<li>
		          <label id="height_submit_err_label" ~if $height_err`style="color:red"~/if`>Height<u>*</u> :</label>
		          <select name="height" id="height"  class="sel_lng">
		 	         <option value="">Please select</option>
				 ~$height`
		          </select>
			  <div class="clr"></div>
			  <div id="height_submit_err" style="display:~if $height_err`inline~else`none~/if`">
			  <label>&nbsp;</label>
				 <div class="err_msg">Please select a height.</div>
			  </div>
	        </li>
		
		<!-- Height Ends Here -->
		<!-- Country Living in starts from here -->
        	<li>
        		  <label id="country_residence_submit_err_label" ~if $countryResidence_err eq "1"` style="color:red"~/if`>Country living in<u>*</u> :</label>
        		  <select name="country_residence" id="country_residence" class="sel_lng">
        		   	<option value="">Please select</option>
				~$country_res`
		          </select>
			  <div id="country_residence_submit_err" style="display:~if $countryResidence_err`inline~else`none~/if`">
				<label class="l1">&nbsp;</label>
				 <div class="err_msg">Please select a location.</div>
			  </div>
	        </li>
		<!-- Country Ends Here -->

		<!-- City Starts from here -->
		<li id="city_padding" class="bot_bdr">
			<div id="city_res_show_hide"  style="margin-bottom:19px;">
				 <label id="city_residence_submit_err_label" ~if $cityResidence_err eq "1"` style="color:red"~/if` >City<u>*</u> :</label>
					 <input type="hidden" name="city_residence_selected" value="~$CITY_RESIDENCE`" />
					 <div id="city_india_visible" style="display:block">
						<select name="city_residence" id="city_residence" class="sel_lng">
							<option value="" ~if $CITY_RESIDENCE neq ''`selected~/if`>Please select</option>
							~$city`
						</select>
					 </div>
				<div class="clr"></div>
				<div id="city_residence_submit_err" style="display:~if $cityResidence_err`inline~else`none~/if`">
					<label class="l1">&nbsp;</label>
					<div class="err_msg">Please select a city.</div>
				</div>
			</div>
		</li>
		</ul>
		<div class="clr"></div>
		<!-- City Ends Here -->

		<ul class="form mt_10" style="_margin-top:10px;">
			<li>
		          	<h2 id="social_heading">Profile Social Details</h2>
	        	</li>    	
		
			<!-- New Marital Status -->
			<li>
				<label id="mstatus_submit_err_label" ~if $mstatus_err`style="color:red"~/if`>Marital Status<u>*</u> :</label>
				<span id="mstatus_section" name="mstatus_section" style="padding-left:0px;margin:0px;">
					  <select class="sel_lng" name="mstatus" id="mstatus" style="display:~if $SHOW_MSTATUS_FEMALE`none~else`inline~/if`">
						  <option value="" selected="">Please Select</option>
			 	  	          <option ~if $MSTATUS eq 'N'` selected ~/if` value="N">Never Married</option>
						  <option ~if $MSTATUS eq 'S'` selected ~/if` value="S">Awaiting Divorce</option>
						  <option ~if $MSTATUS eq 'D'` selected ~/if` value="D">Divorced</option>
						  <option ~if $MSTATUS eq 'W'` selected ~/if` value="W">Widowed</option>
						  <option ~if $MSTATUS eq 'A'` selected ~/if` value="A">Annulled</option>
						  <option ~if $MSTATUS eq 'M'` selected ~/if` value="M">Married</option>
					  </select>
					  <select class="sel_lng" name="mstatus_female" id="mstatus_female" style="display:~if $SHOW_MSTATUS_FEMALE`inline~else`none~/if`">
						  <option value="" selected="">Please Select</option>
			 	  	          <option ~if $MSTATUS eq 'N'` selected ~/if` value="N">Never Married</option>
						  <option ~if $MSTATUS eq 'S'` selected ~/if` value="S">Awaiting Divorce</option>
						  <option ~if $MSTATUS eq 'D'` selected ~/if` value="D">Divorced</option>
						  <option ~if $MSTATUS eq 'W'` selected ~/if` value="W">Widowed</option>
						  <option ~if $MSTATUS eq 'A'` selected ~/if` value="A">Annulled</option>
					  </select>
				</span>
				<div class="clr"></div>
				<div id="mstatus_submit_err"  style="display:~if $mstatus_err`inline~else`none~/if`">
				<label>&nbsp;</label>
				<span id="mstatus_error1" style="display:~if $mstatus_err1`inline~else`none~/if`">
					<div class="err_msg">Please select your marital status</div>
				</span>
				<span id="mstatus_error2" style="~if $religion_err2`inline;~else`none~/if`">
				       <div class="err_msg">Please choose married only if you are muslim.</div>
				</span>
				<span id="mstatus_error3" style="display:~if $mstatus_err3`inline~else`none~/if`">
				       <div class="err_msg">Please choose married only if you are muslim male.</div>
				</span>
				</div>
			</li>
			<!-- Ends Here -->

			<!-- New Have Children Section Starts Here -->
			<li style="padding:0;">
			<div id="have_child_section" style="display:~if $show_has_child`inline~else`none~/if`;padding-bottom:15px!important; float:left;">
					<label id="has_children_submit_err_label" ~if $has_children_err` style="color:red"~/if`>Have Children<u>*</u>:
					</label>
					<select class="sel_lng" name="has_children" id="has_children">
						  <option value="" selected="">Please Select</option>
			 	  	          <option ~if $HAVE_CHILDREN eq 'N'` selected ~/if` value="N">No</option>
						  <option ~if $HAVE_CHILDREN eq 'YT'` selected ~/if` value="YT">Yes, Living together</option>
						  <option ~if $HAVE_CHILDREN eq 'YS'` selected ~/if` value="YS">Yes, Living separately</option>
					</select>
					<div class="clr"></div>
					<div id="has_children_submit_err" style="display:~if $has_children`inline~else`none~/if`">
						<label>&nbsp;</label>
						<div class="err_msg">Please Select Have Children</div>
					</div>
			</div>
			</li>
		
		<!-- Mother Tongue starts from here -->	
	        <li>
		          <label id="mtongue_submit_err_label" ~if $mtongue_err` style="color:red"~/if`>Mother Tongue<u>*</u> :</label>
			  <style>
			  optgroup option{margin-left:6px!important;}
			  </style>
				 <select name="mtongue" id="mtongue" class="sel_lng fl">
						<option value="" selected>Please Select</option>
						<optgroup label="&nbsp;"></optgroup>
						<optgroup label="North" class="lab">
						<option ~if $mtongue eq '10'` selected ~/if` value="10" class="lab_nor">Hindi/ Delhi</option>
						<option ~if $mtongue eq '33'` selected ~/if` value="33">Hindi/U.P./Awadhi/ Bhojpuri/Garhwali</option>
						<option ~if $mtongue eq '19'` selected ~/if` value="19">Hindi /Madhya Pradesh / Bundelkhand / Chattisgarhi</option>
						<option ~if $mtongue eq '27'` selected ~/if` value="27">Punjabi</option>
						<option ~if $mtongue eq '7'` selected ~/if` value="7">Bihari/Maithili/Magahi</option>
						<option ~if $mtongue eq '28'` selected ~/if` value="28">Rajasthani / Marwari / Malwi / Jaipuri</option>
						<option ~if $mtongue eq '13'` selected ~/if` value="13">Haryanvi</option>
						<option ~if $mtongue eq '14'` selected ~/if` value="14">Himachali/Pahari</option>
						<option ~if $mtongue eq '15'` selected ~/if` value="15">Kashmiri/Dogri</option>
						<option ~if $mtongue eq '30'` selected ~/if` value="30">Sindhi</option>
						<option ~if $mtongue eq '36'` selected ~/if` value="36">Urdu</option>
					</optgroup>
						<optgroup label="&nbsp;"></optgroup>
						<optgroup label="West">
						<option ~if $mtongue eq '20'` selected ~/if` value="20">Marathi</option>
						<option ~if $mtongue eq '12'` selected ~/if` value="12">Gujarati / Kutchi</option>
						<option ~if $mtongue eq '19'` selected ~/if`  value="19">Hindi /Madhya Pradesh / Bundelkhand / Chattisgarhi</option>
						<option ~if $mtongue eq '34'` selected ~/if` value="34">Konkani</option>
						<option ~if $mtongue eq '30'` selected ~/if` value="30">Sindhi</option>
					</optgroup>
						<optgroup label="&nbsp;"></optgroup>
						<optgroup label="South">
						<option ~if $mtongue eq '31'` selected ~/if` value="31">Tamil</option>
						<option ~if $mtongue eq '3'` selected ~/if` value="3">Telugu</option>
						<option ~if $mtongue eq '16'` selected ~/if` value="16">Kannada</option>
						<option ~if $mtongue eq '17'` selected ~/if` value="17">Malayalam</option>
						<option ~if $mtongue eq '35'` selected ~/if` value="35">Tulu</option>
						<option ~if $mtongue eq '36'` selected ~/if` value="36">Urdu</option>
					</optgroup>
						<optgroup label="&nbsp;"></optgroup>
						<optgroup label="East">
						<option ~if $mtongue eq '6'` selected ~/if` value="6">Bengali</option>
						<option ~if $mtongue eq '25'` selected ~/if` value="25">Oriya</option>
						<option ~if $mtongue eq '5'` selected ~/if` value="5">Assamese</option>
						<option ~if $mtongue eq '29'` selected ~/if` value="29">Sikkim/ Nepali/ Lepcha/ Bhutia/ Limbu</option>
					</optgroup>
						<option style="font-weight: bold;color:#000000" disabled="" value="">--------------</option>
						<option ~if $mtongue eq '37'` selected ~/if` value="37">English</option>
				  </select>
			  <div class="coverhelp fl cvr_hlp">
					<div id="mtongue_help" class="helpbox pd_5" style="left: 13px; display: none;">
						<div class="blk no_b f11">
							This is your identity. Enter the mother tongue/region combination that explains you best.
							<div class="helpimg"></div>
					</div>
				</div>
			  </div>
			<div class="clr"></div>
			<div id="mtongue_submit_err" style="display:~if $mtongue_err`inline;~else`none~/if`" class="err">
			<label>&nbsp;</label>
				       Please select a mother tongue.
			</div>
	        </li>
		<!-- Mother Tongue Ends Here -->        

		<!-- Religion Starts Here -->
		<li>
          		<label id="religion_submit_err_label" ~if $religion_err eq '1'` style="color:red"~/if`>Religion<u>*</u> :</label>
          		<select name="religion" id="religion" class="sel_lng fl">
			<option value="">Please select</option>
				~$religion`
		        </select>
			<div id="religion_submit_err" style="display:~if $religion_err`inline;~else`none~/if`" class="err">
				<label class="l1">&nbsp;</label>
				Please select a religion.
			</div>
	        </li>
		
		<!-- Religion Ends Here -->
			
		<!-- Caste Starts Here -->
	        <li class="bot_bdr">
			<div id="caste_submit_err_label">
				<span id="caste_section"> 
					<label id="caste_label_muslim" style="display:none" class="l1">Sect<u>*</u> :</label>
					<label id="caste_label_christian" style="display:none" class="l1">Sect<u>*</u> :</label>
					<label id="caste_label_hindu" class="l1">Caste<u>*</u> :</label>
					<span id="caste_dropdown" style="display:inline">
						<select name="caste" id="caste" class="sel_lng fl">
							<option value="">Please select</option>
							~$caste`
						</select>
					</span>
					<input type="hidden" name="caste_selected" value="~$CASTE`" />
				</span>
				<div id="caste_submit_err" style="display:none" class="err">
					<label class="l1">&nbsp;</label>
					<span id="caste_error_muslim" style="display:none">Please select a math'thab.</span>
					<span id="caste_error_christian" style="display:none">Please select a sect.</span>
					<span id="caste_error_hindu" style="display:inline">Please select a caste.</span>
				</div>
			</div>
	        </li>
		</ul>
		<div class="clr"></div>
		<!-- Caste Ends Here -->

		<!-- Ends Here -->
		<ul class="form mt_10" style="_margin-top:10px;">
    <li>
		          	<h2 id="contact_heading">Your Contact Details</h2>
	        	</li>  
	
			<!-- Contact Number Starts Here -->
			<li id="li_add_phone" class="bot_bdr">
	   	       		<label id="phone_mobile" ~if $phone_err`style="color:red"~/if`>Mobile Number<u>*</u> :</label>			
					<div id="contact_number_error" style="display:none"></div>
	                                <div id="contact_number_noerror" style="display:none"></div>

				  	<div id="mobile_show"  style="display:inline">
						<input type="text" class="txt1" style="width: 36px;" id="country_code_mob" name="country_code_mob" value="~$COUNTRY_CODE`" >
						<input type="text" class="txt1 ml_5" style="width: 110px;" maxlength="10" value="~$MOBILE`" id="mobile" name="mobile">
				  		<select name="showmobile" style="margin-left: 5px;width:150px">
							<option ~if $SHOWMOBILE eq 'Y'` selected ~/if` value="Y">Show to accepted/paid members</option>
							<option ~if $SHOWMOBILE eq 'N'` selected ~/if` value="N">Don't show to anybody</option>
						</select>
					
							<div class="clr cl_5"></div>
							<div id="verify_message_mobile" style="display:inline">
				  				<label>&nbsp;</label>
								<i class="info_icn fl sprte"></i>
					  			<p class="fl ml_5"> You will receive an automated verification call on your<br>
					    			number from Jeevansathi.com</p>
							</div>
							<div class="clr cl_5"></div>
							<div class="clr cl_5"></div>
							<div class="clr cl_5"></div>
							<div id="mobile_submit_err" style="display:~if $phone_err`inline~else`none~/if`" class="err">
								<label class="l1">&nbsp;</label>
								 <div id="mobile_error1" style="display:inline;float:left;">Please type in a valid mobile number.</div>
								 <div id="mobile_error2" style="display:none;float:left;" >Mobile number cannot contain special characters.<br /> Only numbers are allowed</div>
								 <div id="mobile_error3" style="display:none;float:right;">Mobile number should contain atleast 10 digits.</div>
							 <div id="mobile_error4" style="display:none;float:right;">International Mobile number should contain atleast 8 digits.</div>
						</div>

				               <div id="showmobile_submit_err" style="display:none">
							<label class="l1">&nbsp;</label>
							<!--img style="vertical-align: bottom;" src="~$SITE_URL`/profile/images/registration_new/alert.gif"/-->
							<div class="err_msg">Please select your mobile no. viewing option.</div>
					       </div>
				</div>
				<div class="clr"></div>
				<!-- landline click-->
				<div id="add_phone" style="float: right; padding-right:15px;color:blue;text-decoration:underline;cursor:pointer;display:~if $PHONE_DISPLAY`none~else`inline~/if`;">
						Add Landline Number
				</div>
				<div id="remove_phone" style="float: right;display:~if $PHONE_DISPLAY`inline~else`none~/if`;padding-right: 15px;color:blue;text-decoration:underline;cursor:pointer;">
						Remove Landline Number
				</div>

	 			<div class="clr"></div><br />

				<li class="bot_bdr" id="phone_show" style="display:~if $PHONE_DISPLAY`inline;~else`none~/if`">
			   	       		<label id="landline_phone" ~if $phone_err`style="color:red"~/if`>Landline Number :</label>
						<input type="text" class="txt1" style="width: 36px;" id="country_code" name="country_code" value="~$COUNTRY_CODE`" > 
						<input type="text" class="txt1 ml_5" style="width: 40px;" id="state_code" name="state_code" value="~$STATE_CODE`" >
						<input type="text" class="txt1 ml_5" style="width: 65px;" id="phone" value="~$phone`" maxlength="11" name="phone" >
						<select class="sel_bgst" name="showphone" style="margin-left: 5px;width:150px">
							<option value="Y" ~if $SHOWPHONE eq Y` selected ~/if`>Show to accepted/paid members</option>
							<option value="N" ~if $SHOWPHONE eq N` selected ~/if`>Don't show to anybody</option>
						</select>
						<div class="clr cl_5"></div>
							<div id="verify_message_phone" style="display:inline">
				  				<label>&nbsp;</label>
								<i class="info_icn fl sprte"></i>
					  			<p class="fl ml_5"> You will receive an automated verification call on your<br>
					    			number from Jeevansathi.com</p>
							</div>
              <div class="clr cl_5"></div>
							<div class="clr cl_5"></div>
							<div class="clr cl_5"></div>

						<div id="phone_submit_err" style="display:~if $phone_err`inline~else`none~/if`" class="err">
							<label class="l1">&nbsp;</label>
							 <div id="phone_error1" style="display:inline;float:left;">Please type in a valid phone number.</div>
							  <div id="phone_error2" style="display:none;float:left;">Phone number cannot contain special characters.<br /> Only numbers are allowed</div>
							  <div id="phone_error3" style="display:none;float:left;">Phone number should contain atleast 6 digits.</div>

						</div>

				               <div id="showphone_submit_err" style="display:none" class="err">
							<label class="l1">&nbsp;</label>
							Please select your phone no. viewing option.
				               </div>
					       
						<div class="err" id="state_code_submit_err" style="display:~if $STATE_CODE_ERR`inline~else`none~/if`">
							<label class="l1">&nbsp;</label>
							Please provide std code in correct format.
						</div>

						~if $COUNTRY_CODE_MOBILE_ERR OR $COUNTRY_CODE_ERR`
							<div class="err">
								<label class="l1">&nbsp;</label>
								Please provide country code by selecting country.
							</div>
						~/if`
			<!--landline end-->
			<!-- Contact Number Ends Here -->
		</ul>
		<style>
			.chbxl {float:left; font-size:11px;  text-align:left; padding-right:5px;
			color:#231f20;font-weight:normal;}
		</style>
        	<!-- Aggrement Starts Here -->
		<ul style="margin-left:30px;width:480px;_margin-top:0px;" class="formnew">
			<li>
				<div class="cl_5 clr"></div>
				<div class="cl_5 clr"></div>
				<div class="cl_5 clr"></div>
				<div class="fl">
					<div class="chbxl">
						<input type="checkbox" value="S" name="promo" ~if $PROMO eq 'S'`checked ~/if` class="mr_4"> Send me third-party marketing mails
					</div>
					<input type="hidden" value="S" name="service_email">
						<input type="hidden" value="S" name="service_sms">
						<input type="hidden" value="S" name="service_call">
						<input type="hidden" value="S" name="memb_mails">
						<input type="hidden" value="S"  name="memb_sms">
						<input type="hidden" value="S" name="memb_ivr">
				</div>
				<div class="cl_5 clr"></div>

					 <div class="chbxl">
				          	  <input type="checkbox" id="termsandconditions" name="termsandconditions" value="Y" checked="true"/> &nbsp;&nbsp;I have agreed to the 
						  <a target="_blank" href="~$SITE_URL`/P/disclaimer.php" class="brown">Terms &amp; Conditions</a> and have read and understood the 
						  <a href="~$SITE_URL`/P/privacy_policy.php" class="brown">Privacy Policy</a>. 
					  </div>
				<div id="termsandconditions_submit_err" style="display:none">
				    	 <div class="spacer1"></div>
					 <div class="err" style="margin-left:15px;">
					 	 You have to agree to the terms and conditions to proceed.
					 </div>
				</div>
				<div class="cl_5 clr"></div>	
				<div class="cl_5 clr"></div>
				<div class="cl_5 clr"></div>
			</li>
		</ul>
		<!-- Agreement Ends Here -->
		
	      <div align="center" ~if $SEM`style="margin-bottom:-80px;"~/if`>
				<input type="hidden" name="submit_pg2" value="submit">
				~if $SEM`
					<input type="image" name="submit_pg1" value="submit" id="submit_pg1" src="~$IMG_URL`/profile/images/registration_revamp_new/new/btn.gif" border="0" style="margin-bottom:30px;" />
				~else`
					<input type="image" name="submit_pg1" value="submit" id="submit_pg1" src="~$IMG_URL`/profile/images/registration_revamp_new/crt_btn.png" border="0" style="margin-bottom:30px;" />
				~/if`
	      </div>
	      <div class="clr"></div>
	      <i class="d_b_r h_w_6 sprte cur_btm_left"></i><i class="d_b_l h_w_6 sprte cur_btm_right"></i>
   </div>
</div>
~if $SEM`
	</div>
	<div class="rtpane fr mr_rt">
		<div style="background:#fffdf0 url(~$IMG_URL`/profile/images/registration_revamp_new/new/login.gif) 12px 3px no-repeat; border:1px
		#e9e4c4 solid; width:237px; padding:15px 8px 15px 58px;" class="fr">Existing User - <a class="thickbox b l_col"
		style="color:#197ECC;" href="~$SITE_URL`/profile/login.php?SHOW_LOGIN_WINDOW=1">Login Here</a>
		</div>
		<div class="cl_5 clr"></div>
		<div style="background:#fffdf0 url(~$IMG_URL`/profile/images/registration_revamp_new/new/tphone.gif) 5px 3px no-repeat; border:1px #e9e4c4 solid; width:235px; padding:13px 8px 19px 60px;" class="fr f_13">Call us on <span class="fred bold">+91-120-4393500</span><br>or
		<span class="fred bold">1-800-419-6299</span> (Only in India)
		</div>
		<div class="cl_5 clr"></div>
		<div class="whyjees">
			<div style="background:url(~$IMG_URL`/profile/images/registration_revamp_new/new/tp_bx.gif) 0% 0% no-repeat;height:33px;padding-top:30px;" class="wjtop_hed">
				~$P1B3_CONTENT`
			</div>
			<div id="sem_css" style="background:url(~$IMG_URL`/profile/images/registration_revamp_new/new/whyjs2pxbg.gif) 0% 0% repeat-y; margin-left:11px;_margin-left:5px;_float:left;">
				<style>
					#sem_css ul{list-style:none; width:236px}
					#sem_css ul li{ list-style:none;background: url(~$IMG_URL`/profile/images/registration_revamp_new/new/bullet.gif) 0% 0% no-repeat; padding-left:20px;}
				</style>
				<ul>
					~$P1B4_CONTENT`
					<div style="_margin-right:30px;margin-right:10px;">	
						<img style="float:right" src="~$IMG_URL`/profile/images/registration_revamp_new/new/bt_tp_bg.gif">
					</div>
					
				</ul>
				<div class="cl_5 clr"></div>
			</div>
			<div style="background:url(~$IMG_URL`/profile/images/registration_revamp_new/new/btm_bx.gif) 11px 0% no-repeat; height:17px;" class="wjbot_hed"></div>
		</div>
	</div>
~else`
<!-- Side Success Story option starts from here -->

<div id="xy" style="width:235px; margin-top:96px;float:left;" class="fr">

	<div class="clr"></div>
	<div style="margin:-82px 0 0 15px; background:#f8f8f8; display:inline; border:1px solid #dadada; border-radius: 8px" class="grn_bg fl pos_rltv">
		<i class="g_t_l pos_abs h_w_5  p_tl_0"></i>
		<i class="g_t_r pos_abs h_w_5  p_tr_0"></i>
		<i class="g_b_r pos_abs h_w_5  p_br_0"></i>
		<i class="g_b_l pos_abs h_w_5  p_bl_0"></i>
		<div style="width:191px; margin:auto;"><span class="olive  fs17">Why Join Jeevansathi.com?</span>
		</div>
      		<ul class="mt_10" style="color:#383838;">
			<li><i class="red_tick sprte fl mr_4"></i>Millions of Profiles </li>
			<li><i class="red_tick sprte fl mr_4"></i>Safe, Secure &amp; Confidential</li>
			<li><i class="red_tick sprte fl mr_4"></i>Receive Matches on Email</li>
			<li><i class="red_tick sprte fl mr_4"></i>1000s of Success Stories</li>
		</ul>
	</div>
	<div class="cl21 clr"> </div>
	<div style="margin:0 0 0 15px; display:inline; background:#f8f8f8;border:1px solid #dadada; border-radius: 8px" class="grn_bg fl pos_rltv">
		<i class="g_t_l pos_abs h_w_5  p_tl_0"></i>
		<i class="g_t_r pos_abs h_w_5  p_tr_0"></i>
		<i class="g_b_r pos_abs h_w_5  p_br_0"></i>
		<i class="g_b_l pos_abs h_w_5  p_bl_0"></i>
		<div style="width:191px; margin:auto">
			<span class="olive  fs17">Happy beginnings with Jeevansathi.com</span>
		</div>
	~if $temp_topband`
		 ~$temp_topband`
	~else`
		<div style="background-position: 5px -300px;
			    height: 156px;
				    width: 204px;" class="suc_stry_img sprte"></div>
				<div class="clr"></div>
				<div align="center" style="color:#383838; font-size:14px" class="b mt_10">ARUN JAISWAL 

					 <br>	weds<br>LAXMI JAISWAL <br><br></div>
	~/if`

    </div>
</div>

<!-- Ends Here -->
~/if`

</div>
<div class="clr cl21"></div>

	~if $GROUPNAME eq 'wchutney'`
		<script language="javascript" src="http://www.webchutney.net/chutneytrack/js/iqtracker.js"></script>
		<script language="javascript">
			var clntid = "JVNSTHI";
			trackThisPage();
		</script>
	~/if`

	~if $GROUPNAME eq 'Tyroo_India_JFM08' || $GROUPNAME eq 'Tyroo_NRI_JFM08'`
		<script type="text/javascript" src="http://tq.tyroo.com:8080/acquire/tyr_home.js"></script>
	~/if`
		
	~if $groupname  eq 'DrivePM_RI_JFM09'`
		<img src="http://switch.atdmt.com/action/Jeevansathi_RI_Landing_Feb09" height="1" width="1">	
	~/if`

	~if $groupname  eq 'DrivePM_NRI_JFM09'`
		<img src="http://switch.atdmt.com/action/Jeevansathi_NRI_Landing_Feb09" height="1" width="1">
	~/if`

	<script>
		onload_events();
		Behaviour.apply();
	</script>

	~if $TIEUP_SOURCE eq 'default59'`
		<!-- Changes done as per Mantis 5339 -->
			<!-- Google Code for Default_Page1 Remarketing List -->
			<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 1056682264;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "666666";
			var google_conversion_label = "6cipCLSD5gEQmOLu9wM";
			var google_conversion_value = 0;
			/* ]]> */
			</script>
			<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js"></script>
			<noscript>
				<div style="display:inline;">
					<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1056682264/?label=6cipCLSD5gEQmOLu9wM&amp;guid=ON&amp;script=0"/>
				</div>
			</noscript>
		<!-- Ends Here -->
	~/if`
	~if $SEM`
		<script>
			$('.thickbox').colorbox();
			imgLoader = new Image();// preload image
			imgLoader.src = tb_pathToImage;
		</script>
	~/if`
</form>
~if $SEM`
</div>
</div>
~/if`
<script type="text/javascript">
var crazyegg=0;
function crazyEggUserVar(){
if (window.CE2)
  {
    CE2.set(1,'~$TIEUP_SOURCE`');
  }
  else
  {
	if(crazyegg<100)
		setTimeout(arguments.callee, 100);
	crazyegg++;	
  }
}
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/8626.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
setTimeout(crazyEggUserVar,100);
</script>
<script type="text/javascript">
(function() {
    try {
        var viz = document.createElement('script');
        viz.type = 'text/javascript';
        viz.async = true;
        viz.src = ('https:' == document.location.protocol ?'https://ssl.vizury.com' : 'http://www.vizury.com')+ '/analyze/pixel.php?account_id=VIZVRM782';

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(viz, s);
        viz.onload = function() {
            pixel.parse();
        };
        viz.onreadystatechange = function() {
            if (viz.readyState == "complete" || viz.readyState == "loaded") {
                pixel.parse();
            }
        };
    } catch (i) {
    }
})();
setTimeout(ga_time_track,1000);
</script>

~$TRACK_FOOT`
</body>

</html>
