<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Helps users to restrict the kind of users who can contact them. Allows users to set filters based on Marital Status, Religion, Age, Language, Income, Country and City"/>
        <meta name="keywords" content="Set Filters, Marital Status Filter, Religion Filter, Age Filter, Language Filter, Income Filter, Country Filter, City Filter"/>
	<title>Jeevansathi.com Registration - Set Filters</title>
	<link rel="stylesheet" type="text/css" href="~$IMG_URL`/min/?f=/profile/css/~$colorbox_css`,/profile/css/~$reg_common_css`" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
		.mt_min_19 {margin-top:-19px;z-index:10;position:relative;}
		h1 {font:11px verdana, Helvetica, sans-serif;}
		ul.wrte_abt {width:190px;margin:0 0 0 5px;padding:0;float:left;background:#fafafa;padding:5px;}
		ul.wrte_abt li {float:left;width:99.9%;padding-bottom:4px;}
		.grn_tick {width:10px;height:9px;background-position:-290px -94px;}
		.sel_lng_new{width:230px;}
		.gry{color:#828282;}
		.orng_1{color:#FF7A00}
		.toll_free{font:bold 16px Arial, Helvetica, sans-serif; padding:10px 0px 0px 35px;}
		.green_btn{background-image:url(~$IMG_URL`/profile/images/green_button_bg.gif); background-repeat:repeat-x; height:22px; border:1px #578d00;border-style:solid; padding-bottom:2px; font-size:11px; color:#fff; cursor:pointer;}
		.rf{float:right;}
		.lf{float:left;}
	</style>
	<style>
		Table.stfltrtble{margin:0 auto;border-top:1px #E3E3E3 solid;}
		Table.stfltrtble td {border-bottom:1px #E3E3E3 solid;text-align:left; vertical-align:top; padding:10px 5px 10px 5px; color:#4b4b4b;}
		Table.stfltrtble td.textr_stfltr{text-align:right;white-space:nowrap;}
		Table.stfltrtble td.stas_fltr{vertical-align:middle;background:#F6F5F5;border-left:1px #E3E3E3 solid;border-top:2px #fff solid; padding:5px; width:150px;}
		Table.stfltrtble td a.chng_lnk, a.chng_lnk:hover, a.chng_lnk:visited{color:#085EA0; padding-left:5px;}
		.f_11{font-size:11px;}
		.f_14{font-size:14px;}
		.f_20{font-size:20px;}
		.warn{background-color: #EFEFEF; /* old browsers */background-position: 0 50%;background: -moz-linear-gradient(top, #EFEFEF 0%, #DFDFDF 100%); /* firefox */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#DFDFDF));}
		.hintbox-new {border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #DFDFDF;-webkit-box-shadow: 0px 2px 2px #999;-moz-box-shadow: 0px 2px 2px #999;box-shadow: 0px 2px 2px #999;margin: 0 0 16px;display: block; font-weight:normal; padding:10px;width:194px;top: 115px;left: 313px;*left:315px;}

		.new-new{line-height:13px;position:relative;}

		.forarrow-new{background:url(~$IMG_URL`/profile/images/registration_revamp_new/arrow.gif) no-repeat left top;position:absolute;top:5px;left:-37px;!left:-27px;_left:-37px;height:32px;width:27px;}
		.scrollbox3 {
		    background-color: #FFFFFF;
		    border: 1px solid #CCCCCC;
		    height: 96px;
		    overflow: auto;
		    padding: 2px 2px 4px 3px;
		    width: 250px;
		}
	</style>
	<script type = "text/javascript" src = "~$JQUERY_JS`"></script>
	<script>
		function mouseOver(element){
			document.getElementById(element).style.display='block';
		}
		function mouseOut(element){
			document.getElementById(element).style.display='none';
		}

		var page='';
		var httprequest=false
		function createAjaxObj(url,parameters)
		{
			httprequest=false
			if (window.XMLHttpRequest)
			{ // if Mozilla, Safari etc
				httprequest=new XMLHttpRequest()
				if (httprequest.overrideMimeType)
				        httprequest.overrideMimeType('text/html')
			}
			else if (window.ActiveXObject)
			{ // if IE
				try 
				{
				        httprequest=new ActiveXObject("Msxml2.XMLHTTP");
				} 
				catch (e)
				{
				        try
				        {
				                httprequest=new ActiveXObject("Microsoft.XMLHTTP");
				        }
				        catch (e){}
				}
			}
			if (!httprequest) 
			{
				 alert('Cannot create XMLHTTP instance');
				return false;
			}

			httprequest.onreadystatechange = alertContents;
			httprequest.open('POST', url, true);
			httprequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			httprequest.setRequestHeader("Content-length", parameters.length);
			httprequest.setRequestHeader("Connection", "close");
			httprequest.send(parameters);

		}
		function alertContents() 
		{
			if (httprequest.readyState == 4) 
			{
				if (httprequest.status == 200) 
				{
				        result = httprequest.responseText;
				        if(result=='You have logged out or Your Session has expired')
				        {
				                window.location.reload();
				        }
					else
					{			
						document.getElementById('confirm').style.display = 'block';  
						document.getElementById("PRI_SET").style.display='inline';
						document.getElementById("SHOW_LOADER").style.display="none";
						document.getElementById("Filterid").value=result;
					}
				} 
				else 
				{
				        alert('There was a problem with the request.');
				}
			 }
		}
		function obtainvalue(val)
		{
			var vak;
			var radios = document.getElementsByName(val);
			for(var i=0;i<radios.length;i++)
			{
				if(radios[i].checked)
				{
					vak = radios[i].value;
					break;
				}
			}
			return vak;
		}
		function get() 
		{
		      var poststr ="age_filter=" + obtainvalue('age_filter')+"&city_filter=" + obtainvalue('city_filter')+"&country_filter=" + obtainvalue('country_filter')+"&mtongue_filter=" + obtainvalue('mtongue_filter')+"&caste_filter=" + obtainvalue('caste_filter')+"&religion_filter=" + obtainvalue('religion_filter')+"&mstatus_filter=" + obtainvalue('mstatus_filter')+"&income_filter=" + obtainvalue('income_filter') + "&checksum=" + document.myform.checksum.value +"&Filterid=" + document.myform.Filterid.value +"&Submit="+ escape(encodeURI( document.myform.Submit.value )) ;
		      createAjaxObj('revamp_filter.php', poststr);
		}
		function hide_confirmation()
		{
			document.getElementById('confirm').style.display = 'none';
		}
		function validate7()
		{
			document.location.href="#c4";
			document.getElementById("PRI_SET").style.display='none';
			document.getElementById('confirm').style.display = 'none';
			document.getElementById("SHOW_LOADER").style.display="BLOCK";
			get()
			return true;
		}
	</script>
	<script type="text/javascript" language="javascript" src="~$IMG_URL`/min/?f=/profile/js/~$revampCommon_js`,/profile/js/~$colorbox`,/profile/js/~$topSearchBand_js`,/profile/js/~$registration_js`,/profile/js/~$gadget_as_js`,/profile/js/~$advance_search_js`">
	</script>
</head>
<body>
	<noscript>
		<div style="position:fixed;z-index:1000;width:100%">
			<div style="text-align:center;padding-bottom:3px;font-family:verdana,Arial;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;background-color:#E5E5E5;">
				<b>
					<img src="~$IMG_URL`/profile/images/registration_new/error.gif" width="23" height="20"> Javascript is disabled in your browser.Due  to this certain functionalities will not work.
					<a href="~$IMG_URL`/profile/js_help.htm" target="_blank">Click Here</a> , to know how  to enable it.
				</b>
			</div>
		</div>
	</noscript>
	<p class="tp_bg sprte"></p>
<div class="reg_cont">
	<a href="#" class="fr mar b mt_min_19" onclick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=http://www.jeevansathi.com/P/faq_redirect.php&site=13507809&imageUrl=http://www.jeevansathi.com/images_try/liveperson&referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;">
		<p class="hlp fl sprte"></p> 	   	&nbsp;Live help
	</a>
	<p class="clr cl_5"></p>
	<div class="fl">
		<a href="~$SITE_URL`" style="cursor:pointer;">
			<p class="logo sprte"></p>
		</a>
		<h1 style="padding-left:22px;">Indian Matrimonials - We Match Better </h1>
	</div>
	<div class="clr cl21"></div>
	<h4 class="drk_gry u">
		Filters will allow you to restict the type of profiles who can contact you Profiles who do not match your filter criteria, their message will go to SPAM folder
	</h4>
	<div class="clr cl_5"></div>
	<div class="fl mt_10" style="width:770px;">

	<form name="myform" id="myform">
  	<input type="hidden" id="Filterid" name="Filterid" value="~$Filterid`">
	<input type="hidden" name="checksum" value="~$CHECKSUM`">
	<input type="hidden" name="crmback" value="~$crmback`">
	<input type="hidden" name="cid" value="~$cid`">
	<input type="hidden" name="pid" value="~$pid`">
	<input type="hidden" name="img_url" value="~$IMG_URL`/profile/images/registration_new">
<div style="margin-right:135px;margin-left:180px;" id="loader">
		<div style="display:none" id="confirm">
			<div class="lf"  style="padding:5px; width:452px; background-color:#ffffbb" >
				<div class="lf">
					<img src="images/confirm.gif" hspace="10" vspace="0" align="left">
				</div>
				<div class="lf t14 b" style="width:382px;padding-top:5px;" id ="myspan">Your filters have been set.</div>
					<div class="rf b"><a href="#" onclick ="hide_confirmation(); return false;">[x]</a></div>
				</div>
			</div>
		</div>
	<div style="display: inline;" id="PRI_SET">
	<div class="main_form_cont pos_rltv" style="width:770px;">
		<i class="d_t_l pos_abs h_w_6 sprte"></i>
		<i class="d_t_r pos_abs h_w_6 sprte p_tr_0"></i>
		<i class="d_b_r pos_abs h_w_6 sprte p_br_0"></i>
		<i class="d_b_l pos_abs h_w_6 sprte p_bl_0"></i>
		<div class="clr cl_5"></div>
		<div class="orng fl" style="font-size:20px; margin:20px 0 20px 15px">
			<h2>Set Filters</h2>
		</div>
		<div class="orng fr b f_13" style="width:190px; background:url(arrw.gif) 50% 100% no-repeat; padding-bottom:13px; margin:8px 10px  8px 0;">
				Setting filter means only people satisfying your criteria will be able to contact you
		</div>
		<table width="90%" class="stfltrtble" border="0" cellspacing="0" cellpadding="0">
			<tr>
			    <td class="b textr_stfltr">Martial Status :</td>
			    <td>
				    <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Martial Status</b> can express interest in me</div>
				    <br class="clr" />
				    <div class="b">~$mstatus`<a href="edit_dpp.php?width=600&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=mstatus&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('mstatus_help');" onmouseout="javascript:mouseOut('mstatus_help');">[ Change ]</a>
					    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:107px;" id="mstatus_help">
						    <div class="new-new">
							    <div class="forarrow-new"></div>
								This will also change martial status for the Desired Partner Profile that you have selected.
						    </div>
					    </div>
				    </div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="mstatus_filter" value="Y" ~if $mstatus_flag eq "Y"` checked ~/if` /> Set this as Filter</td>
			</tr>
			<tr>
			    <td class="b textr_stfltr">Religion :</td>
			    <td>
				    <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Religions</b> can express interest in me</div><br class="clr" />
				    <div class="b">~$religion`
					<a href="edit_dpp.php?xwidth=300&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=religion&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('religion_help');" onmouseout="javascript:mouseOut('religion_help');">[ Change ]</a>
					    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:185px;" id="religion_help">
						    <div class="new-new">
							    <div class="forarrow-new"></div>
								This will also change religion for the Desired Partner Profile that you have selected.
						    </div>
					    </div>
				    </div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="religion_filter" ~if $religion_flag eq "Y"` checked  ~/if` value="Y" /> Set this as Filter</td>
			</tr>
			<tr>
			    <td class="b textr_stfltr">Caste :</td>
			    <td>
				    <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Caste</b> can express interest in me</div><br class="clr" />
				    <div class="b">~$caste`
					<a href="edit_dpp.php?xwidth=300&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=caste&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('caste_help');" onmouseout="javascript:mouseOut('caste_help');">[ Change ]</a>
					    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:185px;" id="caste_help">
						    <div class="new-new">
							    <div class="forarrow-new"></div>
								This will also change caste for the Desired Partner Profile that you have selected.
						    </div>
					    </div>
				    </div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="caste_filter" ~if $caste_flag eq "Y"` checked  ~/if` value="Y" /> Set this as Filter</td>
			</tr>
			<tr>
			    <td class="b textr_stfltr">Age :</td>
			    <td>
				    <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Age</b> can express interest in me</div><br class="clr" />
				    <div class="b">~$lage` to ~$hage` 
				    		<a href="edit_dpp.php?width=600&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=age&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('age_help');" onmouseout="javascript:mouseOut('age_help');">[ Change ]</a>
					    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:248px;" id="age_help">
						    <div class="new-new">
							    <div class="forarrow-new"></div>
								This will also change age for the Desired Partner Profile that you have selected.
						    </div>
					    </div>
				    </div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="age_filter" ~if $age_flag eq "Y"` checked ~/if` value="Y" /> Set this as Filter</td>
			</tr>
			<tr>
			    <td class="b textr_stfltr">Income :</td>
			    <td>
				    <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Income</b> can express interest in me</div><br class="clr" />
				    <div class="b">~$income` <a href="edit_dpp.php?width=600&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=income&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('income_help');" onmouseout="javascript:mouseOut('income_help');">[ Change ]</a>
					    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:310px;" id="income_help">
						    <div class="new-new">
							    <div class="forarrow-new"></div>
								This will also change income for the Desired Partner Profile that you have selected.
						    </div>
					    </div>
				    </div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="income_filter" value="Y" ~if $income_flag eq "Y"` checked  ~/if`/> Set this as Filter</td>
			</tr>
			<tr>
			    <td class="b textr_stfltr">Community :</td>
			    <td>
				    <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Communities</b> can express interest in me</div>
				    <br class="clr" />
				    <div class="b">~$mtongue`<a href="edit_dpp.php?width=600&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=community&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('communities_help');" onmouseout="javascript:mouseOut('communities_help');">[ Change ]</a>
					    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:388px;" id="communities_help">
						    <div class="new-new">
							    <div class="forarrow-new"></div>
								This will also change communities for the Desired Partner Profile that you have selected.
						    </div>
					    </div>
				    </div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="mtongue_filter" value="Y" ~if $mtongue_flag eq "Y"` checked  ~/if` /> Set this as Filter</td>
			</tr>
			<tr>
			    <td class="b textr_stfltr">Country :</td>
			    <td>
				<div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>Country</b> can express interest in me</div><br class="clr" />
				<div class="b">~$country_res` <a href="edit_dpp.php?width=600&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=country&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('country_help');" onmouseout="javascript:mouseOut('country_help');" >[ Change ]</a>
				    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:450px;" id="country_help">
					    <div class="new-new">
						    <div class="forarrow-new"></div>
							This will also change country for the Desired Partner Profile that you have selected.
					    </div>
				    </div>
				</div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="country_filter" value="Y" ~if $country_flag eq "Y"` checked  ~/if` /> Set this as Filter</td>
			</tr>
			<tr>	
			    <td class="b textr_stfltr">City :</td>
			    <td>
				   <div>Only Prospective ~if $gli eq 'M'`brides~else`grooms~/if` with the following <b>City</b> can express interest in me</div><br class="clr" />
				   <div class="b">~$city` <a href="edit_dpp.php?width=600&FLAG=partner&checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filter=city&from_filter=1&gli=~$gli`" class="thickbox chng_lnk" onmouseover="javascript:mouseOver('city_help');" onmouseout="javascript:mouseOut('city_help');" >[ Change ]</a>
				    <div class="hintbox-new warn" style="position: absolute; z-index: 200; display: none;top:512px;" id="city_help">
					    <div class="new-new">
						    <div class="forarrow-new"></div>
							This will also change city for the Desired Partner Profile that you have selected.
					    </div>
				    </div>
				</div>
			    </td>
			    <td class="stas_fltr"><input type="checkbox" name="city_filter" value="Y" ~if $city_flag eq "Y"` checked  ~/if`/> Set this as Filter</td>
			</tr>
		</table>
		<div class="clr"></div>
		<div align="center">
				<input name="page2submit" type="image" src="~$IMG_URL`/profile/images/registration_revamp_new/save_conti.png" border="0" style="margin:30px 0 30px 0;" >
				<a href="~$SITE_URL`/profile/intermediate.php?parentUrl=/social/addPhotos?checksum=&profilechecksum=~$profilechecksum`&from_registration=1" class="ml_10 b f_13" style="color:#057ec3; padding-left:20px;"><br />Skip to Upload Photo</a>
		</div>
	</div>
</div>
	</form>
</div>
</div>
	<div class="clr cl21"></div>
	<script>
		$('.thickbox').colorbox();
		imgLoader = new Image();// preload image
		imgLoader.src = tb_pathToImage;
	</script>
</body>
</html>
