H1{font-family:MS Sans Serif,Arial,Verdana; font-size:20px; color:#FF6600; font-weight:bold; margin-bottom:5px;  margin-top:30px; line-height:7px;}
H1 a{ color: #FF6600; text-decoration:none;}
H1 a:Hover{ color: #000000; text-decoration:none;}

H2{font-family:MS Sans Serif,Arial,Verdana; font-size:20px; color:#FF6600; font-weight:bold; margin-bottom:5px;  margin-top:30px; line-height:7px;}
H2 a{ color: #FF6600; text-decoration:none;}
H2 a:Hover{ color: #000000; text-decoration:none;}

.t1 {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#7C5B48; padding-left:20px; padding-right:20px;}
.t1 a{ color: #7C5B48; text-decoration:none; }
.t1 a:Hover{ color: red; text-decoration:none; }

.t2 {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#FFFFFF; }
.t2 a{ color: #FFFFFF; text-decoration:none; }
.t2 a:Hover{ color: #000000; text-decoration:none; }

.t3 {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#7C5B48; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; }
.t3 a{ color: #7C5B48; text-decoration:none; }
.t3 a:Hover{ color: #000000; text-decoration:none; }

.r {color:red;}
.tour-code{font-size:12px;}

.top-text{font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000;}



.create-tour {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000;line-height:20px;font-weight:bold;}
.create-tour a{ color: #000000; text-decoration:none; }
.create-tour a:Hover{ color: red; text-decoration:none; }

.top-slinks {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#FFFFFF;font-weight:bold;}
.top-slinks a{ color: #FFFFFF; text-decoration:none; }
.top-slinks a:Hover{ color: #FFFF00; text-decoration:none; }

.left-table-raj-linksh {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#CC3300;font-weight:bold;}
.left-table-raj-linksh a{ color: #CC3300; text-decoration:none;}
.left-table-raj-linksh a:Hover{ color: #000000; text-decoration:none;}

.left-table-raj-links {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#992800; line-height:19px; padding-left:10px}
.left-table-raj-links a{ color: #992800; text-decoration:none;}
.left-table-raj-links a:Hover{ color: #000000; text-decoration:none;}

.leftt-rwlin {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000; line-height:16px;padding-left:10px}
.leftt-rwlin a{ color: #000000; text-decoration:none;}
.leftt-rwlin a:Hover{ color: red; text-decoration:none;}

.leftt-rwlinh {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#006310;font-weight:bold;}
.leftt-rwlinh a{ color: #006310; text-decoration:none;}
.leftt-rwlinh a:Hover{ color:#000000; text-decoration:none;}

.leftt-tplinh {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#663300; font-weight:bold;}
.leftt-tplinh a{ color: #663300; text-decoration:none;}
.leftt-tplinh a:Hover{ color:red; text-decoration:none;}

.leftt-tplinh1 {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#000000; font-weight:bold;}
.leftt-tplinh1 a{ color: #000000; text-decoration:none;}
.leftt-tplinh1 a:Hover{ color:000000; text-decoration:none;}

.leftt-tplin {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000; line-height:16px; margin-top:6px; padding-left:10px}
.leftt-tplin a{ color: #990000; text-decoration:none;}
.leftt-tplin a:Hover{ color: #000000; text-decoration:none;}

.tpathl {font-family:MS Sans Serif,Arial,Verdana;font-size:11px;color:#000000;font-weight:bold;padding-left:5px;}
.tpathl a{ color: #CC3300; text-decoration:none; }
.tpathl a:Hover{ color: #000000; text-decoration:none;}

.body-txt {font-family:MS Sans Serif,Arial,Verdana;font-size:11px;color:#000000;padding-right:10px;line-height:17px;}
.body-txt a{ color: #330000; text-decoration:underline; }
.body-txt a:Hover{ color: #000000; text-decoration:none;}
.body-txt B.sub-head{color:#993300;font-size:14px;font-family:MS Sans Serif,Arial,Verdana;}
.body-txt B.ss-head{color:#0066CC;font-size:12px;font-family:MS Sans Serif,Arial,Verdana;}
.body-txt B.ss-head a:{color:#0066CC;text-decoration:none;}
.body-txt B.ss-head a:Hover{color:red;text-decoration:none;}

.txt-hm {font-family:MS Sans Serif,Arial,Verdana;font-size:11px;color:#000000;padding-left:10px;padding-right:10px;line-height:17px;text-align:justify;}
.txt-hm a{ color: #330000; text-decoration:underline; }
.txt-hm a:Hover{ color: #000000; text-decoration:none;}
.txt-hm B.sub-head{color:#993300;font-size:14px;font-family:MS Sans Serif,Arial,Verdana;}
.txt-hm B.ss-head{color:#0066CC;font-size:12px;font-family:MS Sans Serif,Arial,Verdana;}
.txt-hm B.ss-head a:{color:#0066CC;text-decoration:none;}
.txt-hm B.ss-head a:Hover{color:red;text-decoration:none;}


.body-txt-note {font-family:MS Sans Serif,Arial,Verdana;font-size:13px;color:#000000;padding-left:10px;padding-right:10px;line-height:17px;}


.famous-for {font-family:MS Sans Serif,Arial,Verdana;font-size:12px;color:#000000;padding-left:5px;padding-right:5px;line-height:15px;}
.famous-for a{ color: #330000; text-decoration:underline; }
.famous-for a:Hover{ color: #000000; text-decoration:none;}
.famous-for B{font-family:Arial,Verdana;font-size:12px;color:#824900;line-height:15px;}

.bot-qtxt {font-family:MS Sans Serif,Arial,Verdana;font-size:11px;color:#000000;line-height:15px;}
.query-txt {font-family:MS Sans Serif,Arial,Verdana;font-size:12px;color:#000000;line-height:15px;}

.sug-tplin {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000; line-height:16px;}
.sug-tplin a{ color: #990000; text-decoration:none;}
.sug-tplin a:Hover{ color: #000000; text-decoration:none;}

.sug-tplin1 {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000; line-height:16px;}
.sug-tplin1 a{ color: #5886B4; text-decoration:none;}
.sug-tplin1 a:Hover{ color: #000000; text-decoration:none;}

.footer-lh {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#364012; font-weight:bold;}
.footer-lh a{ color: #364012; text-decoration:none;}
.footer-lh a:Hover{ color: red; text-decoration:none;}

.footer-l {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#000000; line-height:16px; padding-left:5px;}
.footer-l a{ color: #000000; text-decoration:none;}
.footer-l a:Hover{ color: red; text-decoration:none;}

.footer-nl {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#364012; line-height:16px; padding-left:5px;}
.footer-nl a{ color: #364012; text-decoration:none;}
.footer-nl a:Hover{ color: #000000; text-decoration:none;}

.footer-glinks {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#999999;}
.footer-glinks a{ color: #999999; text-decoration:none;}
.footer-glinks a:Hover{ color: red; text-decoration:none;}

.footer-glinks1 {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#999999; line-height:16px;}
.footer-glinks1 a{ color: #999999; text-decoration:none;}
.footer-glinks1 a:Hover{ color: #FF6600; text-decoration:none;}

.index-ph {font-family:MS Sans Serif,Arial,Verdana; font-size:14px; color:#FF6600;font-weight:bold;}
.index-ph a{ color: #FF6600; text-decoration:none;}
.index-ph a:Hover{ color: #000000; text-decoration:none;}

.index-pt {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#000000;line-height:15px;padding-left:5px;padding-right:5px;}
.index-pt a{ color: #000000; text-decoration:underline;}
.index-pt a:Hover{ color: #FF6600; text-decoration:none;}

.tourbook {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#000000;line-height:20px;padding-right:10px;font-weight:bold;}
.tourbook a{ color: #0000FF; text-decoration:none; }
.tourbook a:Hover{ color: red; text-decoration:none; }


.tourbookm {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#000000;line-height:20px;font-weight:bold;}
.tourbookm a{ color: #0000FF; text-decoration:none; }
.tourbookm a:Hover{ color: red; text-decoration:none; }


.hpg-hred {font-family:MS Sans Serif,Arial,Verdana; font-size:14px; color:#CC3300;font-weight:bold;}
.hpg-hred a{ color: #CC3300; text-decoration:none;}
.hpg-hred a:Hover{ color: #000000; text-decoration:none;}

.hpg-hblue {font-family:MS Sans Serif,Arial,Verdana; font-size:14px; color:#0166FE;font-weight:bold;}
.hpg-hblue a{ color: #0166FE; text-decoration:none;}
.hpg-hblue a:Hover{ color: red; text-decoration:none;}

.hpg-hy {font-family:MS Sans Serif,Arial,Verdana; font-size:14px; color:#FFFF00;font-weight:bold;}
.hpg-hy a{ color: #FFFF00; text-decoration:none;}
.hpg-hy a:Hover{ color: #FFFFFF; text-decoration:none;}


.hpg-lt {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000;line-height:17px;}
.hpg-lt a{ color: #000000; text-decoration:none;}
.hpg-lt a:Hover{ color: red; text-decoration:none;}


.fot-h {font-family:MS Sans Serif,Arial,Verdana; font-size:12px; color:#FFFFFF;line-height:17px;}
.fot-h a{ color: #FFFFFF; text-decoration:none;}
.fot-h a:Hover{ color: #FFFF00; text-decoration:none;}

.in-h {font-family:MS Sans Serif,Arial,Verdana; font-size:14px; color:#CC3300;font-weight:bold;padding-left:5px;}
.in-h a{ color: #CC3300; text-decoration:none;}
.in-h a:Hover{ color: #000000; text-decoration:none;}

.in-t {font-family:MS Sans Serif,Arial,Verdana; font-size:11px; color:#000000;line-height:17px;padding-left:5px;}
.in-t a{ color: #000000; text-decoration:underline;}
.in-t a:Hover{ color: red; text-decoration:none;}













.body-text B.sub-head1{color:#FF6600;font-size:17px;font-family:ms sans serif,verdana,arial;}
.body-text B.cgi-link{color:#0033FF;font-size:12px;font-family:ms sans serif,verdana,arial;}
.body-text B.cgi-link a{ color: #0033FF; text-decoration:none;}
.body-text B.cgi-link a:Hover{ color: red; text-decoration:none;}
.body-text B.tour{color:#0080FF;font-size:12px;font-family:ms sans serif,verdana,arial;}

.body-table-text{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000; line-height:18px; padding-left:2px;}












.top-pil {font-family:MS Sans Serif,Arial,Verdana; font-size:10px; color:#FFFFFF;}
.top-pil a{ color: #FFFFFF; text-decoration:none; }
.top-pil a:Hover{ color: #000000; text-decoration:none; }




.body-text{font-family:Lucida Sans Unicode,Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000; line-height:18px; padding-right:10px;}

.bottom-tour{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000; line-height:18px; padding-left:5px; padding-right:5px;}
.bottom-tour a{ color: red; text-decoration:none;}
.bottom-tour a:Hover{ color: #000000; text-decoration:none;}
.bottom-tour B.hd{color:#FF6600;font-size:12px;font-family:ms sans serif,verdana,arial;}
.bottom-tour B.hd a{ color: #FF6600; text-decoration:none;}
.bottom-tour B.hd a:Hover{ color: red; text-decoration:none;}



.left-tour-links {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#663300; padding-left:2px}
.left-tour-links a{ color: #663300; text-decoration:none;}
.left-tour-links a:Hover{ color: red; text-decoration:none;}



.upcommings {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#000000; line-height:16px;}
.upcommings a{ color: #000000; text-decoration:none;}
.upcommings a:Hover{ color: red; text-decoration:none;}

.spiritual-links {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#000000; line-height:16px;padding-left:65px;}
.spiritual-links a{ color: #000000; text-decoration:none;}
.spiritual-links a:Hover{ color: red; text-decoration:none;}

.spiritual-links-head {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#FF6600; line-height:16px;padding-left:50px;}
.spiritual-links-head a{ color: #FF6600; text-decoration:none;}
.spiritual-links-head a:Hover{ color: red; text-decoration:none;}

.tirth-links-head {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#000000; line-height:16px; padding-left:40px;}
.tirth-links-head a{ color: #000000; text-decoration:none;}
.tirth-links-head a:Hover{ color: red; text-decoration:none;}
.tirth-links-head B.head{font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#FF6600;}
.tirth-links-head B.head a{ color: #FF6600; text-decoration:none;}
.tirth-links-head B.head a:Hover{ color: #000000; text-decoration:none;}

.tirth-links {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#000000; line-height:16px; padding-left:50px;}
.tirth-links a{ color: #000000; text-decoration:none;}
.tirth-links a:Hover{ color: red; text-decoration:none;}

.right-table-headings{font-family:Arial,Verdana; font-size:12px; color:#000000; font-weight:bold;}
.right-table-links{font-family:Arial,Verdana; font-size:12px; color:#000000; line-height:16px;}

.hpg-left-table-headings{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; font-weight:bold; color:#000000;}
.hpg-left-table-headings a{ color: #000000; text-decoration:none;}
.hpg-left-table-headings a:Hover{ color: red; text-decoration:none;}

.hpg-left-table-links{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000; padding-left:5px;}
.hpg-left-table-links B.head{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#CC3300;}
.hpg-left-table-links B.head a{ color: #CC3300; text-decoration:none;}
.hpg-left-table-links B.head a:Hover{ color: #000000; text-decoration:none;}

.hpg-left-table-links1{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000; padding-left:10px; padding-left:10px;}
.hpg-left-table-links1 B.head{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#CC3300;}
.hpg-left-table-links1 B.head a{ color: #CC3300; text-decoration:none;}
.hpg-left-table-links1 B.head a:Hover{ color: #000000; text-decoration:none;}
.hpg-left-table-links1 B.head1{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000;}
.hpg-left-table-links1 B.head1 a{ color: #000000; text-decoration:none;}
.hpg-left-table-links1 B.head1 a:Hover{ color: red; text-decoration:none;}

.hpg-ashrams {font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#000000;  line-height:16px;}
.hpg-ashrams a{ color: #000000; text-decoration:none;}
.hpg-ashrams a:Hover{ color: red; text-decoration:none;}
.hpg-ashrams B.head{font-family:Ms Sans Serif,Arial,Verdana; font-size:12px; color:#FF6600;}
.hpg-ashrams B.head a{ color: #FF6600; text-decoration:none;}
.hpg-ashrams B.head a:Hover{ color: #000000; text-decoration:none;}

.links {font-family:MS Sans Serif,Verdana,Arial; font-size:12px; color:#663300; line-height:16px; padding-left:2px}
.links a{ color: red; text-decoration:none;}
.links a:Hover{ color: black; text-decoration:none;}


.form-txt{font-family:MS Sans Serif,Arial;font-size:12px;color:000000;}
.form-txt1{font-family:MS Sans Serif,Arial;font-size:12px;color:000000;line-height:26px;}


.linksr{font-family:Arial,Verdana; font-size:12px; color:#000000; font-weight:bold; line-height:16px; padding-left:20px;}
.linkst{font-family:Arial,Verdana; font-size:12px; color:#000000; line-height:16px; padding-left:20px;}



.intro-table-links{font-family:Arial,Verdana; font-size:12px; color:#000000; font-weight:bold; line-height:16px;}
.intro-table-text{font-family:Arial,Verdana; font-size:12px; color:#000000; line-height:18px;}

.tour-table-text{font-family:Arial,Verdana; font-size:12px; color:#000000; line-height:18px;}

.section-links{font-family:Verdana,Arial; font-size:10px; color:#000000; line-height:16px;}

.general-links{font-family:Arial,Verdana; font-size:11px; color:#000000;}

.footer{font-family:Arial,Verdana; font-size:11px; color:#000000;line-height:18px;}

.sub-headings{font-family:Arial,Verdana; font-size:16px; color:#880000; font-weight:bold;}

.white{color:#FFFFFF;}

.green{color:green;}


.hpg-links{font-family:Arial,Verdana; font-size:12px; color:#000000; padding-left:2px;}

.l1 {color:#006600;font-size:14px;font-family:MS Sans Serif,Arial;font-weight:bold;}
.l2 {color: black;font-size:12px;font-family: MS Sans Serif,Arial;}
.l3 {color: black;font-size:12px;font-family:ms sans serif,Arial;font-weight:bold;}
.l3 a{font-weight:normal;}