.sml-text {
	COLOR: #ffb1b1; FONT-FAMILY: ms sans serif; FONT-SIZE: 10pt
}
.sml-text A {
	COLOR: #ffb1b1; FONT-FAMILY: ms sans serif; FONT-SIZE: 10pt
}
.sml-text A:hover {
	COLOR: #ffb1b1; TEXT-DECORATION: none
}
.text-new {font-family:arial,verdana; font-size:12px;}
.text-new a{color: #000000; text-decoration:underline; }
.text-new a:hover{ color: #000066; text-decoration:none; }


.text {font-family:arial,verdana; font-size:12px;}
.text a{color: #000000; text-decoration:none; }
.text a:hover{ color: #000066; text-decoration:underline; }
.text1 {font-family:verdana,arial; font-size:12px;line-height:1.4em;}
.lttext {font-family:verdana,arial; font-size:11px; color:#ffffff; font-weight:bold;}
.error {font-family:verdana,arial; font-size:11px; color:#ff0000; font-weight:bold;}
.TextBox {
	BACKGROUND-COLOR: #f7f7f7; BORDER-BOTTOM: black 1px groove; BORDER-LEFT: black 1px groove; BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; COLOR: black; FONT-FAMILY: arial,Verdana ; FONT-SIZE: 8pt
}

.TextBox2 {
	BACKGROUND-COLOR: #A2E4FF; BORDER-BOTTOM: black 1px groove; BORDER-LEFT: black 1px groove; BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; COLOR: black; FONT-FAMILY: arial,Verdana ; FONT-SIZE: 8pt
}

.TextBox-1 {
	BACKGROUND-COLOR: #f5f5f5; BORDER-BOTTOM: #D6D9E3 1px groove; BORDER-LEFT: #666666 1px groove; BORDER-RIGHT: #CCCCDC 1px groove; BORDER-TOP: #666666 1px groove; COLOR: #003366; FONT-WEIGHT:bold; FONT-FAMILY: Verdana ; FONT-SIZE: 9pt
}

.JobDetail
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, sans-serif;
    TEXT-DECORATION: none
}
.JobHeader
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #F01C30;
    FONT-FAMILY: Arial, sans-serif;
    TEXT-DECORATION: none;
    align: left
}


.text-blue { font-family:Arial,MS Sans Serif,Verdana; font-size:12px; color:#181B77; }



.text-big { font-family:Arial,MS Sans Serif,Verdana; font-size:12px; color:#000000; }
.text-big a{ color: #003399; text-decoration:underline; }
.text-big a:hover{ color: #000000; text-decoration:underline;; }

.text-small {font-family:Arial,MS Sans Serif,Verdana; font-size:11px;}
.text-small a{ color: #003399; text-decoration:underline; }
.text-small a:hover{ color: #000000; text-decoration:none; }

.text-small-black {font-family:Arial,MS Sans Serif,Verdana; font-size:11px; }
.text-small-black a{ color: #000000; text-decoration:underline; }
.text-small-black a:hover{ color: #000000; text-decoration:none; }


.text-under { font-family:Arial,MS Sans Serif,Verdana; font-size:12px; color:#000000;}
.text-under a{ color: #000000; text-decoration:underline; }
.text-under a:hover{ color: #000000; text-decoration:none; }


.text-grey { font-family:Arial,MS Sans Serif,Verdana; font-size:12px; color:#666666; margin-left:5px;}
.text-grey a{ color: #666666; text-decoration:none; }
.text-grey a:hover{ color: #000066; text-decoration:underline; }


.top-links {font-family:Arial,MS Sans Serif,Verdana; font-size:12px; margin-left:5px; margin-right:5px;}
.top-links a{ color: #000000; text-decoration:none; }
.top-links a:hover{ color: #ff0000; text-decoration:underline; }

.acct-info { font-family:Arial,MS Sans Serif,Verdana; font-size:12px; margin-left:50px;  }

.red {color:#ff0000; font-family:Arial,MS Sans Serif,Verdana; font-size:12px; margin-left:5px; margin-right:5px; }

.green {color:#006600; font-family:Arial,MS Sans Serif,Verdana; font-size:12px; margin-left:5px; margin-right:5px; }

.grey {color:#666666; font-family:Arial,MS Sans Serif,Verdana; font-size:12px; margin-left:5px; margin-right:5px; }