.edpp1{padding:0 45px 0 20px}
.edpp2{padding-left:43px}
.edpp3{padding:38px 20px 20px 20px}
.edpp4{margin:0 10px}
.edpp5{padding:10px 0 10px 0}
.edpp6{padding:0 25px}
.edpp7{padding:11px 12px 17px 12px}
.edpp8{padding-left:145px}
.edpp9{padding:11px 0}
.edpp10{padding:12px 20px}
.edpp11{padding:12px 30px 12px 15px}
.edpp12{padding:5px}
.edpic1{background-position:165px 9px}
.edpm1{margin:0 5px}

.edpbox1{top: -9px; left: 20px; width:300px; z-index:5}
.edpbox1{display:none}
.edphover1:hover .edpbox1{display:block}

.edpic2{background-position: -215px -120px;width: 40px;height: 33px;}
.edpic3{background-position:-215px -157px;width: 40px;height: 33px;}
.edpic4{background-position: 1px -31px;width: 30px;height: 26px;}
.edpic5{background-position: 1px -58px;width: 30px;height: 26px;}
.edpic6{background-position:-180px -429px;width: 20px;height: 23px;}
.edpic7{background-position: -2px -97px;width: 26px;height: 21px;}
.edpic8{background-position: -37px -247px;width: 9px;height: 15px;}
.edpic9{background-position: 1px -173px;width: 20px;height: 22px;}
.edpic10{background-position:1px 0}

.edppos1{top:290px}
.edppos2{bottom: -5px;left: 35%;}
.edppos3{    top: 11px; left: -8px;}
.edppos4 {top: -10px;left: 10px;}
.edppos5 {top: -10px;left: 13px;}
.edppos6 {right: 0;top: 40px;}
.edppos7{top: -10px;left: 61px;}
.edppos8{top: -9px;  right: 9px;}
.epdpos9{top:20px; right:-8px;}
.epdpos10{top: 50%; transform: translate(-50%,-50%);left: 50%;}
.epdpos11 {right: 0px;top: 40px;}
.epdpos12 {right: 31px;top: 31px;}
.epdpos13 {top: 31px;}
.epdpos14 {left: -162px;top: 40px;}

.edpbrad1{border-radius:2px}

.edpwid1{width:240px}
.edpwid2{width:185px}
.edpwid3{width:490px; }
.edpwid4{width:20%}
.edpwid5{width:66%}
.edpwid6{width:24%}
.edpwid7{width:40px}
.edpwid8{width:44px}
.edpwid9{width:95px}
.edpwid10{width:90px}
.edpwid11{width:20px}
.edpwid12{width:210px}
.edpwid13{width:23px}
.edpwid14{width:178px}
.edpwid15{width:48%}
.edpwid16{width:810px}
.edpwid17{width:66%}
.edpwid25{width:34px}
.coverWidth{width:780px}
.edpbrd1{border-right:1px solid #34495e}
.edpbrd2{border-left:1px solid #b7bfc9}
.edpbrd3{border:1px solid #e0e0e0}
.edpbrd4{border-right:1px solid #e0e0e0}

.edpbg1{background-color:#e0e0e0}
.edpbg2{background-color:#e6e5e5}

.ceditform label{width:130px; text-align:right; margin-right:15px} 
.ceditform input{margin:0 10px; border:0; background:none; outline:#FFF}

.edpcolr1{color:#9a9a9a}
.edpcolr2{color:#b7bfc9}
.edpcolr3{color:#757575}
ul.edplist1{padding:40px 0 0 50px}
ul.edplist1 li{padding-bottom:17px}
ul.edplist1 li:nth-child(1){padding-bottom:15px}

ul.boxType li{ border-left:1px solid #d9d9d9; width:16%; text-align:center}
ul.boxType li:nth-child(1){border-left:0} 


.t1 {
    left: 0;
    top: 40px;
}
.edp-zi1 {
    z-index: 1;
}
.edp-wid3 {
    width: 502px;
}
.edp-zi100 {
    z-index: 100;
}
.reg-droparrow {
    background-position: -6px -214px;
    width: 16px;
    height: 11px;
}
.reg-sprtie {
    background-image:url(IMG_URL/images/jspc/registration/reg-spirite.png);
    background-repeat: no-repeat;
}
.reg-hgt200 {
    height: 200px;
}
.reg-zi1 {
    z-index: 1;
}
.regpad1 {
    padding: 5px 15px;
}
.optlist ul li:hover {
    background-color: #d9475c;
    color: #fff;
    cursor: pointer;
}
.reg-hgt1{height:47px}
.reg-wid9 {
    width: 147px;
}
.sub-mainlist ul {
	list-style-type:none;
	margin:0;
	padding:0;
  outline:none;
}
.sub-mainlist ul li {
	float:left;
	text-align:center;
	padding:14px 0 15px 0;
	cursor:pointer;
	position:relative
}
.sub-mainlist ul li {
	border-left:1px solid #d9d9d9
}
.sub-mainlist ul li:first-child{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-left:0
}
.sub-mainlist ul li:last-child{
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}
.edpdbox {
    border: 1px solid rgb(217, 71, 92);    
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.edpwid5 {
    width: 83px;
}

.topnavpos1{top:0px}
.settop1{top:-90px}
.fullwidImp{width:100% !important}
.chosenDropWid {width: 148px;}
.chosen-drop ul{padding:10px !important}
.chosen-container .chosen-results li{padding:10px 6px !important}
.chosen-container .chosen-drop{width:492px !important}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  top: 32px;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 7px 5px 3px 0;
    padding: 5px 20px 5px 5px;
    border: 1px solid #d9d9d9;
    max-width: 100%;
    border-radius: 3px;
    background-color: #f5f5f5;
    line-height: 13px;
    cursor: default;
}
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0px 0px 0px 10px;
    width: 100%;
    height: auto !important;
    height: 1%;
    cursor: text;
}
.chosen-container-single .chosen-search {
    position: absolute;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    top: -43px;
    width: 97%;
    border: 0px;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 0px;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  color:white;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 10px;
  height: 25px;
 
  background-color: #fff;
 
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 22px;
}
.chosen-container-single .chosen-default {
    color: #999;
}
.activeopt{background-color:#d9475c; color:#fff}
.errorTop{top:-17px}
.errorChosenTop{top:-29px}
.js-undSecMsg{margin-top: -12px;}
.js-notFromIndia{top: 0px;
    right: 22px;
 }
.layerMidset {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.edpwid18 {
    width: 900px;
}
.colorw {
    color: #ffffff;
}
.upperCase {
    text-transform: uppercase;
}
.edpwid19 {
    width: 605px;
}
.edpbrd5 {
    border: 1px solid #c1c1c1;
}
.edpm2 {
    padding-bottom: 50px;
}
.edpbrd6 {
    border-left: 1px solid #c1c1c1;
}
.file-upload {
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.file-upload input.upload {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.reg-zi100 {
	z-index:100
}
.reg-zi1 {
	z-index:1
}
.reg-wid3 {
	width:489px
}
.test-pos3 {
	top:-9px; left:10px
}
.optlist ul{ list-style-type:none;}
.regpad1{ padding:5px 15px}
.regpad2{padding:5px 0px}
.optlist ul li{padding:0 10px}
.optlist ul li:hover{background-color:#d9475c;color:#fff; cursor:pointer}
.reg-hgt1{height:47px}
.edpm3 {
    padding: 80px 0 90px;
}
.gunnaHgt1 {
    height: 256px;
}
.js-rightAlign .chosen-container .chosen-results li {
    float: none;
    line-height: 15px;
    list-style: outside none none;
    margin: 1px;
    padding: 5px 6px;
    word-wrap: break-word;
}

.js-rightAlign .chosen-container .chosen-drop {
    width: 214px !important;
}
.js-rightAlign .chosen-drop ul{padding: 0px !important}
.js-rightAlign .chosenDropWid{width:100% !important}
.cursor-none{cursor: none}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1200;
    background-color: rgba(0, 0, 0, 0.85);
}
.overlayload {
position: absolute;
top: 15%;
left: 50%;
z-index: 1201;
}
.overlaywhite {
position: absolute;
top: 36px;
left: 0;
height: 100%;
width: 100%;
z-index: 1200;
background-color: rgba(255, 255, 255, 0.85);
}

.errorTextAreaTop{top: -17px;left: 2px;}
.outline-none{outline: none}
.wd68{width:68px;}

.edphgt1{height:60px}
.edphgt2{height:85px}

.inpset1 {
    margin-left: 10px;
    border: 0;
    background: none;
    outline: #FFF;
}
.inpset2 {
    border: 0;
    background: none;
    outline: #FFF;
}
ul.timelist > li{width:50px; border-bottom:1px solid #e0e0e0; text-align:center; line-height:38px}
ul.t2list > li{width:45px; text-align:center; line-height:48px;padding:0;}
ul.edplist2 li{color:#34495e; padding:12px 15px}
ul.edplist2 li:hover{background-color:#d9475c; color:#fff}

/*div.showset .msg1box{display:none}
div.showset:hover .msg1box{display:block}*/

.edpdim1{width: 25px;
    height: 21px;
    display: block;}

.hgt256{height:256px}
.hgt275{height:280px}
.right0{right: 0}
.w416{
    width:416px;
    border:0
}
.upHoroClr{
    background-color: #EAEAEA;
}
html, body, ul, form, button, input, p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
ul.edplist2 .activeopt {
    background-color: #d9475c;
    color: #fff;
}
.width24{width:24px}
.width20{width:20px}
.brdr-1 {
    border: 1px solid #d9475c;
}
.brdr-2 {
    border: 1px solid #d9475c;
}
.errorPhoneTop {
    top: -21px;
}
.colorAva{color:#34495e;}
.avaliableTop{
top: -33px;
left: 60px;
}

.textAreaShow{
    top: 17px;
    right: 5px;
}

.errorRightPad{
  top: -17px;right:0px;
}
.callEndPos{
  left: -121px;
}
.endArrowPos{
  left: 134px;
}
.errorRangeTop {
    top: -14px;
    right: 0;
}
.pt35{padding-top: 35px}
.hgt70{
  height: 70px;
}

#native_country_chosen input{
  width:89%;
}

#native_state_chosen input{
  width:85%;
}

.wordWrapBreak{
  word-wrap: break-word;
}
        #hoverDiv {
            padding-Bottom: 16px;
        }
        .mt12{margin-top:12px;}
        .optionDrop {
            width: 338px;
            list-style-type: none;
            left: -6px;
        }

        .optionDrop li {
            font-size: 13px;
            font-family: "Roboto", "sans-serif";
            font-weight: 400;
            color: #5a5a5a;
            height: 30px;
            background-color: white;
            border: 1px solid #d9475c;
            padding: 10px;
            z-index: 9;
            position: relative;
	    line-height:17px;
        }
        .optionDrop .selected {
            background-color: #d9475c;
            color: white;
        }

        #hoverDiv:hover .optionDrop {
            display: block;
        }
        .optionDrop:hover {
            display: block;
        }
	#settingsIcon {
            width: 25px;
            height: 21px;
            background-image: url(IMG_URL/images/jspc/commonimg/iconSpriteNameSetting.png);
            background-repeat: no-repeat;
                        background-position:-32px -30px;
        }

        .wid77p {
            width: 77%
        }

        .r0 {
            right: 0;
        }

        .colrGrey {
            color: #666666;
        }
        .extraTxt {
            padding: 10px 20px;
            height: 25px;
            width: 463px;
            line-height: 16px;
        }

        .mr5 {
            margin-right: 5px
        }
        .hgt47 {
            height: 45px;
        }

        .colrTxt {
            color: #5a5a5a
        }

        .showToAll {
            vertical-align: super;
            padding-right: 5px;
        }

        
        
        
        /* Date drop box*/
        .regdropbox{border:1px solid #d9475c;background-color:#fff;border-radius:2px}
        ul#datesub li, ul#monthsub li, ul#yearsub li{border-left:0; border-bottom:1px solid #d9d9d9; }
        ul#datesub li{width:40px}
        ul#monthsub li{width:82px}
        ul#yearsub li{width:78px}
        ul#datesub li:hover, ul#monthsub li:hover, ul#yearsub li:hover{background-color: #d9475c;color:#fff}
        .reg-pos5 {top:39px}
        .reg-pos10 {right:0;top:47px}
        .reg-zi1 {z-index:1}
        .reg-wid12{width:400px;}
        .reg-droparrow {
	background-position: -6px -214px;
	width: 16px;
	height: 11px;
}
.rarrwdob{background-position: -1px -131px;

    width: 18px;

    height: 12px;}
.reg-pos11{ right: 10px;

    top: 16px;}