
	
						  	REQUIREMENTS
	
	(1) MODULE PROFILE :
	    This module covers the following aspects of promotion of Jeevansathi through newspapers , affiliates etc.
		(1) Designing  of a common interface for the purpose of entering the information that has been gathered via
		    newspaper, sms , affiliate.
		    (1.1) The information is fed by a person with a particular privilege and the data is stored in  
			  tables : 'jsadmin.MAILER_TEST' and 'jsadmin.USER_RESPONSE'.
		    (1.2) The records from different sources are differentiated by a parameter 'MODE' which can assume three 			       different values depending upon its source(newspaper , affiliate etc.).
		    (1.3) The name of the person who enters the record is also captured alongwith the time of entry.

		(2) The second part covers the maintenance of records fed through this interface which comprises of :
		    (2.1) An MIS showing the records of a particular person(who fed the records) for the current month 
			  which gives the following details :
			  (2.1.1) Total number of records source wise (newspaper etc).
			  (2.1.2) Total number of users who actually registered themselves on Jeevansathi.
			  (2.1.3) Total  number of users who actually got  converted to paid members.

	            (2.2) Another MIS for the admin giving the above mentioned details including total records, Registered 
		    members etc with the following additional features (depending on admin's choice (monthwise / daywise)):
			  (2.2.1) Monthly MIS (for a particular year) of  all the people with the privilage of 
			  entering the records(newsppr , affiliate).
			  (2.2.2) Day based MIS (for a particular month) of  all the people with the privilage of entering                             the records(newsppr , affiliate).  	    	
		     This all is done using the tables 'jsadmin.MAILER_TEST' and 'newjs.JPROFILE.'

		(3) Third feature deals with sending emails to the people whose data has been entered above.It includes :
		    (3.1) Sending email to each and every person whose email is unique in the sense it doesnot exists in 
			  JPROFILE (not a Jeevansathi member) , MAILER_TEST (no duplicate entry of a particular email) and
			  neither in OLDEMAIL.This event of sending an email is again bifurcated in to following subevents :

			  (3.1.1) A link is enclosed in the email .If the person's data has been captured via affilate the 
			  link redirects the recipient to a page inviting him/her to register himself with Jevansathi with a 			       some details already filled in populated through our database.
 
			  (3.1.2) The same link redirects the recipient to a particular page where all the details are 
			  pre-filled .The person has to just confirm the genuinity of those.
			
		    (3.2) A daily count of the number of emails sent is maintained at the server(mailer) end and it is 
			  ensured that an email is sent to particular person only  once.

		(4) The last concern is to keep an account of all those recipeients who responeded to our invitaion.
		    Their respective ids are stored in the table MAILER_TEST at the time of a mouse click on the link 
		    enclosed within the email.
		    
	(2) DEPENDENCIES  :
            This module needs following input from the corresponding people :
	    (1) Name of the module alongwith that of main table(temporarily MAILER_TEST ) and the linked table
		(temporarily USER_RESPONSE) from Alok Sir.
	    (2) Sub Module for sending email and maintenace of the respective records from Shakti Srivastava
	    (3) Template of form that needs to be send to the user.
	    (4) Apt Name for the module(eg jsadmin/profile) from Alok sir.
