<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Jeevansathi.com - Upgrade your Membership - Membership Value Packs - Register Free - Create Matrimony Profile - Post your Matrimonials Profile</title><meta name="description" content="Upgrade your membership in Jeevansathi.com. Membership Value Packs - Premium members have an advantage over free members. While free members have to wait to be contacted, Premium members have the power to start a conversation and write personal email messages to any profile. Search matrimonials, matrimony profiles, NRI bride and groom from our online matrimonial and matchmaking services." />
<meta name="keywords" content="Jeevansathi.com, Indian matrimony, India, matrimony, matrimonial, matrimonials, matrimony services, online matrimonials, Indian marriage, match making, matchmaking, matchmaker, match maker, marriage bureau , matchmaking services, matrimonial profiles, bride, groom, matrimony classified." />
<link rel="stylesheet" type="text/css" href="~$IMG_URL`/min/?f=/profile/css/~$mem_css_css`,/profile/css/~$common1_css`" />
<script src="~$IMG_URL`/profile/js/revampCommon.js"></script>
~include file="../jeevansathi/google_analytics.htm"`
</head>

<body topmargin="0" leftmargin="0">
<div id="main">
	~$REVAMP_HEAD`
	~$TRACK_HEAD`
        ~$TRACK_JSFLAG`

<!--- new code --->
<div id="mem_cont">
<br>
<br>
        <h1>Membership Options</h1>
        <ul class="mem_proc lf">
        <li><b class="blink" id='aid1'>Choose Service</b></li>
        <li class="sprte grw_arw"></li>
        <li ><a class="blink_org" href='../payment.php?checksum=~$checksum`&services=~$IDS`&DISCOUNT_TYPE=~$DISCOUNT_TYPE`&voucher_code=~$voucher_code`&DISCOUNT_MSG=~$DISCOUNT_MSG`&DISCOUNT=~$DISCOUNT`&mode=phone'>Choose Payment Mode</a></li>
        <li class="sprte grw_arw"></li>
        <li class="orange">Confirm Details</li>
        </ul>
        <p class="clr"></p><br />
        <b class="orange f_18 b fl mar_left_10">Summary</b>
        <p class="clr"></p><br />
        <div class="ord_dtls mem_spr">
		<p class="fl t14">Dear ~$USERNAME`,<br />
                Your order details are given below, Select the mode of payment and proceed<br /><br />
                </p>
                <p class="clr"></p>
                <ul>
		 ~if $CHECK/10000 ge 1`
                <li id="csdiv"><b>1. ~$MNAME` <span class="black t14"><!--[ 225 Direct Calls Available ]--></span></b><s>~if $CURRENCY eq 'RS'`Rs. ~$MPRICE`~else`~$MPRICE` $~/if` </s></li>
                ~assign var="CHECK" value=$CHECK-10000`
                ~/if`
                ~if $CHECK/1000 ge 1`
                <li id="bdiv"><b><span>~$FORB`</span>. ~$BNAME`</b><s>~if $CURRENCY eq 'RS'`Rs. ~$BPRICE`~else`~$BPRICE` $~/if`</s></li>
                ~assign var="CHECK" value=$CHECK-1000`
                ~/if`
                ~if $CHECK/100 ge 1`
                <li id="tdiv"><b><span id="fort">~$FORT`</span>. ~$TNAME` </b><s>~if $CURRENCY eq 'RS'`Rs. ~$TPRICE`~else`~$TPRICE` $~/if` </s></li>
                ~assign var="CHECK" value=$CHECK-100`
                ~/if`
                ~if $CHECK/10 ge 1`
                <li id="mdiv"><b><span id="formm">~$FORM`</span>. ~$MANAME`</b><s>~if $CURRENCY eq 'RS'`Rs. ~$MAPRICE`~else`~$MAPRICE` $~/if`</s></li>
                ~assign var="CHECK" value=$CHECK-10`
                ~/if`
                ~if $CHECK eq 1`
                <li id="adiv"><b><span id="fora">~$FORA`</span>. ~$ANAME` </b><s>~if $CURRENCY eq 'RS'`Rs. ~$APRICE`~else`~$APRICE` $~/if`</s></li>
                ~/if`
		~if $DISC eq 'Y' && $DISCOUNTED_PRICE ge 1`
                <li id="adiv"><span class="dscnt">~$DISCOUNT_MSG`</span><s class="rd">- ~if $CURRENCY eq 'RS'`Rs. ~$DISCOUNTED_PRICE`~else`~$DISCOUNTED_PRICE` $~/if`</s></li>
                ~/if`
                 ~if $CHECK1 ge 1000`
                 ~if $Fest`
                  ~if $DISCOUNT ge 1`
		 <li id="adiv"><span class="dscnt">~$DISCOUNT_FMSG`</span><s class="rd">- ~if $CURRENCY eq 'RS'`Rs. ~$DISCOUNT`~else`~$DISCOUNT` $~/if`</s></li>

                  ~/if`
                ~/if`
               ~/if`
                </ul>
		<p class="clr"></p>
                <p class="ur_tlt fr">Your Total  <span id='total'>~if $CURRENCY eq 'RS'`Rs. ~$PRICE`~else`~$PRICE` $~/if`</span></p>
                <p class="clr"></p>
        </div>
<p class="clr"></p>
<br>
<b class="t20 orange">Selected Mode of Payment - Telephone &nbsp;&nbsp;</b> <a href="../payment.php?checksum=~$checksum`&services=~$IDS`&DISCOUNT_TYPE=~$DISCOUNT_TYPE`&voucher_code=~$voucher_code`&DISCOUNT_MSG=~$DISCOUNT_MSG`&DISCOUNT=~$DISCOUNT`&mode=phone"><b>[change mode of payment]</b></a>
<br>
<p class="pd5"><br>Dial our customer relations at 1-800-419-6299 (Toll free)~if $ddd eq 1` or ~$phone_std`~/if` between 9:30 a.m.and 6:00 p.m., Monday to Saturday and we'll guide you on your payment. Please have your credit card handy.</p>
<p class="clr"></p>
        <div style="width:720px; margin:auto;">
                <div class="buy_smry">
                        <div class="sprte y_tp_bg f_2">
                                <i class="t_l_c sprte fl"></i><i class="t_r_c sprte fr"></i>
                        </div>
                        <p class="clr"></p>
                        <div class="buy_smry_shdw">
                                <div class="inr_bg">
                                        <p class="evry_trns">Every transaction on Jeevansathi.com is secure. Any personal information provided by you<br />will be handled according to our <a target="_blank" href="../privacy_policy.php">Privacy Policy</a>
                                        </p>
                                        <div class="fr sec_cont"><b class="fr">&nbsp;Secure Transaction</b><i class="scure_trns fr sprte"></i></div>
                                        <p class="clr"></p>
                                </div>
                        </div>
                        <p class="clr"></p>
			<div class="sprte exp_bt_bg f_2">
			<i class="b_l_c_exp sprte fl"></i><i class="b_r_c_exp sprte fr"></i>
			</div>
                </div>
        </div>
        <p class="clr">
        </p>
        <br />
 </form>

</div>

~$FOOT`
<script language="javascript">

function getOLs()
{
	if(typeof window.onload=='function')
	{ // test to see if onload has been set
		if(typeof ol_ol=='undefined')
			ol_ol=new Array(); // test if array variable already exists
			ol_ol.push(window.onload); // this captures any previous onload function
	}
	}
	</script>

</body>
</html>

