<html>
<head>
<title>JeevanSathi Matrimonials - Online Order</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/images/styles.css" type="text/css">
<link rel="stylesheet" href="/P/images/styles.css" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`
</head>

<body>
<form>

        ~$HEAD`

		~$LEFTPANEL`
		<table width="78%" height="1110" align="center" border="0" cellspacing="0" cellpadding="0"><tr><td valign="top">

<table width="99%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td class=mediumblack height="42"><br><br><table width="98%"  border="0" cellspacing="1" cellpadding="0">
                    <tr bgcolor="cccccc">
                      <td height="1" colspan="2"></td>
                    </tr>
                    <tr>
                      <td height="22" class="bigblack"><strong>&nbsp;Subscription Registered! </strong></font></td>
                    </tr>
                    <tr bgcolor="cccccc">
                      <td height="1" colspan="2"></td>
                    </tr>
                    <tr>
                      <td height="22" class="mediumblack">&nbsp;
                        <br>
                          Dear ~$BILL_NAME`<br>
                          <br>
                        Thank you for your subscription to jeevansathi memberships. <br>
                        We look forward to be of service to you.
                        <br>
                        <br>
                        <table width="50%"  border="0" align="center" cellpadding="0" cellspacing="2" bgcolor="#cccccc">
                          <tr>
                            <td><table width="100%"  border="0" align="center" cellpadding="2" cellspacing="2" bgcolor="#FFFFFF">
                              <tr>
                                <td width="50%" class="mediumred"><b>Your order id </b></td>
                                <td width="4%" class="mediumred">:</td>
                                <td width="46%" class="mediumred"><b>~$ORDERID`</b></td>
                              </tr>
                              <tr>
                                <td class="mediumred"><b>Date</b></td>
                                <td class="mediumred">:</td>
                                <td class="mediumred"><b>~$ORDERDATE`</b></td>
                              </tr>
                              <tr>
                                <td class="mediumred"><strong>For an amount of </strong></td>
                                <td class="mediumred">:</td>
                                <td class="mediumred"><strong>~$PAYTYPE` ~$AMOUNT`</strong></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                        <br>
                        We will intimate you for activation of your subscription as soon as we will get confirmation of payment.<br>You can contact us for your queries at : <br>
<br>
<strong>JeevanSathi Internet Services </strong><BR>
B - 8, Sector - 132, <br>
Noida - 201301, India. <br>
<u>Tel</u>:+91-120-4393500.<br>
Please prefix Code 95120 (instead of 0120) if calling from Delhi. <br>
<br>
<b><font color="red">Remember to mention your Order-ID and date when contacting.</font></b> <br>Your subscription will be activated within 1 working day of receipt of your payment.<br>
<br>
Also, please quote your Order-ID and date in all future correspondence with us.</span></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;                  </td>
                </tr>
              </table>

      </td>
  </tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
