<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>JeevanSathi Matrimonials - Jeevansathi Payment</title>
		<link rel="stylesheet" href="http://www.jeevansathi.com/profile/css/comm_style.css" type="text/css">
		<style type="text/css">
			.pghd{float:left; width:99% }
			.r14{font:bold 14px verdana,Arial; color:#CC0000; padding-top:5px; float:left}
		</style>
		~include file="../jeevansathi/google_analytics.htm"`
	</head>
	<body>
		<div id="container">
			<!--HEADER STARTS-->
			~$HEAD`
			<!--HEADER ENDS-->

			<div class="spacer">&nbsp;</div>

			<!--WRAPPER STARTS HERE-->
			<div id="wrapper">

				<!--LEFT PANNEL STARTS HERE-->
				~$LEFTPANEL`
				<!--LEFT PANNEL ENDS HERE-->

				<!--CENTER STARTS HERE-->
				<div id="center">
					<div class="pghd">
						<div class="r14">Membership Overview</div>
						<div class="spacer" style="border-top:1px solid #000000; margin-top:5px;" >&nbsp;</div>
						<!--DISCRIPTION STARTS-->
						<div>
							<iframe id="frame1" frameborder=0 scrolling=no marginheight=0 marginwidth=0 height=400 width=99% src="paymate_main.php?frame=1&mob_no=~$cus_mobno`&mer_orderid=~$mer_orderid`&txn_amount=~$txn_amount`&checksum=~$CHECKSUM`"></iframe>
							<img src="http://ser4.jeevansathi.com/profile/images/processing.gif">
							<iframe id="frame3" frameborder=0 scrolling=no marginheight=0 marginwidth=0 height=145 width=99% src="paymate_main.php?frame=3&paymate_trxid=~$paymate_trxid`&checksum=~$CHECKSUM`"></iframe>
						</div>
						<!--DISCRIPTION ENDS-->
					</div>
					<!--pghd ENDS-->
				</div>
				<!--CENTER ENDS HERE-->
			</div>
			<!--WRAPPER ENDS HERE-->
			~$FOOT`
		</div>
	</body>
</html>

