<HTML>
<HEAD>
<TITLE>Payment gateway redirect page</TITLE>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, , initial-scale=1.0">
<meta name="description" content=""/>
<link href="/css/fonts/fonts.css" rel="stylesheet" type="text/css"/>
</HEAD>
<BODY bgcolor="#ffffff" ~if $ACTIVE neq "YES"`onLoad="document.form1.submit();"~/if`>
<div class="outerdiv" style="display:table; margin:0 auto; height:100%;">
	<div class="fontlig" style="color:#d9475c; display:table-cell; vertical-align:middle">
		<div style="font-size:42px;" class="">Re-directing</div>
		<div style="font-size:15px">Please wait ...</div>
	</div>
</div>
<form name=form1 method="post" action="~$redirectURL`">
<input type=hidden name='MID' value="~$MID`">
<input type=hidden name='ORDER_ID' value="~$ORDER_ID`">
<input type=hidden name='CUST_ID' value="~$CUST_ID`">
<input type=hidden name='INDUSTRY_TYPE_ID' value="~$INDUSTRY_TYPE_ID`">
<input type=hidden name='CHANNEL_ID' value="~$CHANNEL_ID`">
<input type=hidden name="TXN_AMOUNT" value="~$TXN_AMOUNT`"> 
<input type=hidden name="WEBSITE" value="~$WEBSITE`"> 
<input type=hidden name="MERC_UNQ_REF" value="~$MERC_UNQ_REF`">
<input type=hidden name="CHECKSUMHASH" value="~$CHECKSUMHASH`"> 
<input type=hidden name="MOBILE_NO" value="~$MOBILE_NO`"> 
<input type=hidden name="EMAIL" value="~$EMAIL`"> 
<input type=hidden name="CALLBACK_URL" value="~$CALLBACK_URL`"> 
<!-- <input type=submit value='Submit'> -->
<noscript>
<br><br>
<center>We cannot redirect you to online payment gateway because <b>Javascript</b> is disable in your browser.<br>Please click click on <b>Redirect</b> to reach online payment gateway.<br><br>
<input type=submit name=redirect value=Redirect></center>
</noscript>
</form>
</BODY>
</HTML>
