<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Address Verification Mailer</title>
</head>

<body>
<table width="576" border="0" cellpadding="0" cellspacing="0" style="font:12px Arial, Helvetica, sans-serif;" align="center">
  <tr>
      <td width="423" rowspan="2"><a href="#"><img src="~$IMG_URL`/profile/images/logo.png" alt="logo" border="0" /></a><br /><br /></td>
          <td width="153" align="right" valign="top"><b style="font:bold 12px Arial, Helvetica, sans-serif;">a naukri.com venture</b></td>

  </tr>
    <tr>
        <td align="right" valign="bottom"><img src="~$IMG_URL`/profile/images/vrfd_stple_1.png" /></td>
          </tr>
            <tr>
                <td bgcolor="#e10125" height="6"></td>
                    <td height="115" rowspan="4" valign="top" bgcolor="#fbf9fa"><img src="~$IMG_URL`/profile/images/vrfd_stple_2.png" /></td>
                      </tr>
                        <tr>

    <td style="padding:15px 15px 0;font-size:12px;" bgcolor="#fbf9fa"><b>Dear Member,</b><br /><br />

We would request you to kindly spare two minutes and <b>confirm<br />
the physical address</b> mentioned in your jeevansathi.com profile.<br /><br />

This small effort will help your profile gain more authenticity, which <br />
in turn will increase the number of relevant responses you receive.<br /><br />

You can keep your address details confidential by selecting "do not show
to anybody" while editing your contact information.</td>

  </tr>
    <tr>
        <td style="background-color:#fbf9fa; padding:12px 15px 15px;"><table width="388" border="0" cellpadding="0" cellspacing="0">
              <tr>
		     <!--	
                      <td colspan="2" style="padding:4px 0 15px; font-size:12px;">
                      Your contact address details will be kept confidential.
			You can keep your address details confidential by selecting "do not show
			to anybody" while editing your contact information. 
                      </td>
		     -->	
                            </tr>
                                  <tr>
                                          <!--<td colspan="2" background="~$IMG_URL`/profile/images/adr_bg_img.png" style="padding:4px 15px; color:#fff; font-size:14px;">Address</td>-->
					<td colspan="2" bgcolor="#838182" background="~$SITE_URL`/profile/addr_track.php?profileid=~$profileid`" style="padding:4px 15px; color:#fff; font-size:14px;">Address</td>

      </tr>      
            <tr>
                    <td colspan="2" style="background-color:#f0eeef; padding:15px;">
                    ~$contact`			<br/>
                    ~$city` ~if $pincode` - ~$pincode` ~/if`		<br/>
                    ~$country`
                    </td>
                          </tr>
                                <tr>
                                        <td colspan="2" style="padding:15px; font-size:14px;"><b>Is the address correct?</b></td>

      </tr>
            <tr>
                    <td width="164" style="padding:15px; font-size:11px;">
                            <a href="~$SITE_URL`/profile/addr_confrm.php?checksum=~$profilechecksum`&profilechecksum=~$profilechecksum`&echecksum=~$echecksum`&addr_mailer=1&addrStatus=2" target=_blank><img src="~$IMG_URL`/profile/images/yes_btn.png" border="0" alt="yes" style="margin:0 10px 0 0; display:inline" /></a><br />
                                    (This address is correct)</td>
                                            <td width="224" style="padding:15px; font-size:11px;"><a href="~$SITE_URL`/profile/addr_verify.php?checksum=~$profilechecksum`&profilechecksum=~$profilechecksum`&echecksum=~$echecksum`&addr_mailer=1" target=_blank><img src="~$IMG_URL`/profile/images/no_btn.png" alt="no" border="0" /></a><br />
                                                    (I would like to edit it)</td>
                                                          </tr>

    </table></td>
      </tr>
        <tr>
            <td style="background-color:#fbf9fa; padding:15px;font-size:12px;">Thanks for the verification and best of luck in your life partner search.
            <br/><br/>

Regards,<br/>
<b><b style="color:#b6021d;font-size:12px;">Jeevansathi</b>.com</b> Team</td>

  </tr>
  </table>

  <br />	  	
  <table width="555" align="center">
 	 <tr>
		<td style="font-size: 10px; font-family: Verdana,Arial;" align="center"> 
		You are receiving this mail as a registered member of Jeevansathi.com. In case you do not wish to receive mails from Jeevansathi.com in the future, you can  
		<a href="~$SITE_URL`/profile/unsubscribe.php" target="_blank" style="color:#015d98;text-decoration:underline;">unsubscribe</a> 
		</td>
	  </tr>
 </table>

</body>
</html>

