
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jeevansathi.com</title>
</head>

<body>
<table width="485" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9FFFF" style="border:solid 1px #e7fbfb; text-align:left;">
  <tr>
    <td bgcolor="#FAFFFF" style="padding-top:4px;"><img src="http://www.ieplads.com/mailers/lead_generation_july22/images/img1.gif" width="485" height="69" /></td>
  </tr>
  <tr>

    <td align="center" valign="top" background="http://www.ieplads.com/mailers/lead_generation_july22/images/body_bg_rept.jpg" style="padding:10px 0px 10px 0px;">
    <table width="470" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border:solid 1px #86cbd1; text-align:left;">
      <tr>
        <td width="468"><img src="http://www.ieplads.com/mailers/lead_generation_july22/images/img2.jpg" width="468" height="212" /></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Arial; font-size:12px; line-height:19px; color:#333333; padding:0px 9px 0px 10px;" align="left">Dear member,
<br />
<br />
Thank you for choosing Jeevansathi.com for the most important decision of your life. 

<br />
<br />
To help you meet someone as special as you are, we request you to <strong><a href="~$SITE_URL`/profile/registration_page1.php?leadid=~$LEADID`" target="_blank" style="text-decoration:underline; color:#006fb5;">complete your registration on Jeevansathi.com</a></strong> so that we can make your profile live on our website for other members to see and contact you.
<br />
<br />
As a listed member, you will be able to express interest in the profiles that you like. It will also help us find the most relevant matches for you and send you regular daily recommendations. Thus, your chances of finding a desired match become manifold as a registered member.
<br /><br />
<strong>More reasons to be a registered member on Jeevansathi.com :</strong></td>
      </tr>
      <tr>
        <td height="10"></td>

      </tr>
      <tr>
        <td align="center" valign="top"><table width="441" border="0" cellspacing="0" cellpadding="0">

          <tr>
            <td height="69" align="center" valign="middle" background="http://www.ieplads.com/mailers/lead_generation_july22/images/bg_color.gif"><table width="436" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left;">
              <tr>
                <td width="174" align="center" valign="middle"><img src="http://www.ieplads.com/mailers/lead_generation_july22/images/icon1.jpg" width="130" height="62" /></td>
                <td width="262" style="font-family:Verdana, Arial;"><span style="font-size:14px; color:#15686f;"><strong>Millions of Verified Profiles</strong></span><br />

                  <span style="font-size:12px; color:#000000;"><strong>with photos and contact details</strong></span></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="4"></td>
            </tr>
          <tr>

            <td height="69" align="center" valign="middle" background="http://www.ieplads.com/mailers/lead_generation_july22/images/bg_color.gif"><table width="436" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left;">
                <tr>
                  <td width="174" align="center" valign="middle"><img src="http://www.ieplads.com/mailers/lead_generation_july22/images/icon2.jpg" width="60" height="59" /></td>
                  <td width="262" style="font-family:Verdana, Arial;"><span style="font-size:14px; color:#15686f;"><strong>Matches Across</strong></span><br />
                      <span style="font-size:12px; color:#000000;"><strong>all communities, professions, location and age group</strong></span></td>
                </tr>
            </table></td>
          </tr>

          <tr>
            <td height="4"></td>
          </tr>
          <tr>
            <td height="69" align="center" valign="middle" background="http://www.ieplads.com/mailers/lead_generation_july22/images/bg_color.gif"><table width="436" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left;">
                <tr>
                  <td width="174" align="center" valign="middle"><img src="http://www.ieplads.com/mailers/lead_generation_july22/images/icon3.gif" width="43" height="54" /></td>
                  <td width="262" style="font-family:Verdana, Arial;"><span style="font-size:14px; color:#15686f;"><strong>Safe, Secure and Confidential</strong></span></td>

                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="4"></td>
          </tr>
          <tr>
            <td height="69" align="center" valign="middle" background="http://www.ieplads.com/mailers/lead_generation_july22/images/bg_color.gif"><table width="436" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left;">
                <tr>

                  <td width="174" align="center" valign="middle"><img src="http://www.ieplads.com/mailers/lead_generation_july22/images/icon4.gif" width="123" height="52" /></td>
                  <td width="262" style="font-family:Verdana, Arial;"><span style="font-size:14px; color:#15686f;"><strong>Call, E-mail and Chat </strong></span><br />
                      <span style="font-size:12px; color:#000000;"><strong>with other members</strong></span></td>
                </tr>
            </table></td>
          </tr>

        </table></td>

      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td style="padding:0px 0px 0px 12px;"><table width="241" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-family:Verdana, Arial; font-size:13px; color:#15686f; padding-left:5px;"><strong>So, what are you waiting for?</strong></td>

          </tr>
          <tr>
            <td height="37" align="center" valign="top" background="http://www.ieplads.com/mailers/lead_generation_july22/images/button_bg.gif" bgcolor="#D80B0B"><a href="~$SITE_URL`/profile/registration_page1.php?leadid=~$LEADID`" target="_blank" style="font-family:Verdana, Arial; font-size:12px; color:#FFFFFF; text-decoration:none; display:blockl; line-height:30px;"><strong>Complete your registration now</strong></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="25"></td>

      </tr>
      <tr>
        <td style="padding:0px 0px 0px 14px;"><div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; line-height:20px;">Regards,<br />
<font color="#c4151c"><strong>Jeevansathi</strong></font><strong>.com</strong> Team</div></td>
      </tr>
      <tr>
        <td height="20"></td>

      </tr>
    </table>
    <table width="476" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="font-family:Verdana, Arial; font-size:13px; color:#356462;">100% Profile Screening &nbsp; <span style="color:#356462;">|</span> &nbsp; Millions of Members &nbsp; <span style="color:#356462;">|</span> &nbsp; Privacy Options</td>

      </tr>
      <td style="padding:15px 0px 0px 0px; font-family:Verdana, Arial; font-size:10px; color:999999;"><div align="center" style="font-size:10px;color:999999; font-family:Verdana, Arial;">You are receiving this mail as you submitted your email address to Jeevansathi.com. In case you do not wish to receive mails from Jeevansathi.com in the future, you can <a href="~$SITE_URL`/profile/unsub_lead.php?leadid=~$LEADID`">unsubscribe</a></div></td>
      </table></td>
</tr>
</table>
</body>
</html>
