<body leftmargin="5" topmargin="5">

<div>~$PREHEADER`<BR><BR>
	
<div>Dear <var>{{USERNAME:profileid=~$profileid`}}</var>,<BR><BR>

Click on the following link to create a new password for your Jeevansathi account:
<BR>
<BR>
<a href="~$forgotPasswordUrl`" style="color: blue;">Create a new password</a>

<BR>
<BR>
<BR>

If the above link doesn't work, try the following:

<BR>
<ul>
<li>Mozilla Users- Right click on the 'Create a new password' link. Select 'Copy link location' & paste the URL in the address bar.</li>
<BR>

<li>Internet Explorer Users- Right click on the 'Create a new password' link. Select 'Open in New Window/Tab' option.</li>
</ul>

<BR>
Note: This link will be functional for a one time use or 24 hours (whichever is earlier)
<BR>
<BR>
<BR>
Regards, 
<BR>
Jeevansathi Team

<BR><BR><BR>
</div>
<div align="center" height="31">You have received this mail because your e-mail ID is registered with Jeevansathi.com. This is a system-generated e-mail, please don't reply to this message. To stop receiving these mails <a href="(LINK)UNSUBSCRIBE:profileid=~$profileid`(/LINK)" target="_blank" style="text-decoration:none;"><font face="Tahoma, Geneva, sans-serif" style="font-size:11px;" color="#7d7b7b"><u>Unsubscribe</u></font></a></div>
</body>
