.*{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/* Other transform properties here */
}

.mem_wh{width:40px; height:40px;}

.mem-spite {
	background-image:url(../../../images/jsms/membership_img/revamp_sprite.png);
	background-repeat:no-repeat;
	display:inline-block
}
.mem-backic{background-position: -5px -5px;
	width: 22px;
	height: 17px;
}
.mem-redbackic{background-position: -37px -5px;
	width: 22px;
	height: 17px;
}
.mem-downar{background-position: 0px -25px;
	width: 25px;
	height: 12px;
	margin-top: 42px;
}
#bot_opt .mem-downar{background-position: 0px -25px;
  width: 25px;
  height: 12px;
  margin-top: 12px;
}
#continue .mem-downar{background-position: 0px -25px;
  width: 25px;
  height: 12px;
  margin-top: 12px;
}
#checkout .mem-downar{background-position: 0px -25px;
  width: 25px;
  height: 12px;
  margin-top: 5px;
}
.vasbigslider .mem-downar{background-position: 0px -25px;
  width: 25px;
  height: 12px;
  margin-top: 5px;
}
.shimpg2{
  margin-bottom:-30px;
  margin-top:-87px;
}
.shimpg3{
  margin-top:-30px;
  position:relative;
}
.shimpg4{
  margin-top:-38px;
  margin-bottom:-30px;
}
.mem_pos1{bottom:5%; left:15px;}
.mem_pos2{top: -14px;left: 48%;}
.mem_pos3{top:34%}
.mem_clk{background-position: 1px -50px;
	width: 60px;
	height: 60px;
}
.mem_chatic{background-position: -69px -1px;
	width: 60px;
	height: 60px;
}
.mem_msgic{background-position: -69px -62px;
	width: 60px;
	height: 60px;
}
.mem_notav{background-position: -74px -122px;
	width: 60px;
	height: 60px;
}
.mem_public{background-position: -2px -125px;
	width: 60px;
	height: 60px;
}
.mem_selarrow{background-position: -24px -271px;
	width: 16px;
	height: 11px;
}
.strike{ text-decoration: line-through;}
.mem_brdr1{border-bottom:1px dashed #d1d1d1;border-top:1px dashed #d1d1d1}
.mem_brdr2{border:1px solid #fff}
.mem_brdr3{border-bottom:1px solid #e0e0e0}
.z102{z-index:102}
.planet{background-position: -8px -379px;
	width: 48px;
	height: 39px;
}
.planetbig{background-position: -92px -421px;
width: 59px;
height: 46px;}
.mem_bgw{background:url(../../../images/jsms/membership_img/white_opa.png)}
.mem_arwdownpnk{background-position: -144px -12px;
width: 22px;
height: 14px;}
.astro{
background-position: -2px -185px;
width: 60px;
height: 60px;
}
.tlkforu{background-position: -72px -312px;
width: 60px;
height: 60px;}
.fporf{
background-position: -2px -312px;
width: 60px;
height: 60px;
}

/*--- icon css ---*/
.see_cont{background-position: -2px -125px;
width: 60px;
height: 60px;}
.ini_chat{background-position: -69px -1px;
width: 60px;
height: 60px;}
.other_see{background-position: -72px -312px;
width: 60px;
height: 60px;}
.other_see_inactive{background-position: -2px -529px;
width: 60px;
height: 60px;}
.A-act{
background-position: -2px -187px;
width: 60px;
height: 60px;
}
.A-dis{background-position: -2px -468px;
width: 60px;
height: 60px;}
.T-act{background-position: -72px -249px;
width: 60px;
height: 60px;}
.T-dis{background-position: -58px -529px;
width: 60px;
height: 60px;}
.R-act{background-position: -2px -312px;
width: 60px;
height: 60px;}
.R-dis{background-position: -58px -468px;
width: 60px;
height: 60px;}
.I-act{background-position: -72px -186px;
width: 60px;
height: 60px;}
.I-dis{background-position: -115px -472px;
width: 60px;
height: 60px;}
/*--- icon css ---*/


/*--- small-icons ---*/
.A-small{background-position: -5px -384px;
width: 32px;
height: 30px;}
.I-small{background-position: -52px -381px;
width: 35px;
height: 36px;}
.T-small{background-position: -96px -382px;
width: 38px;
height: 39px;}
.M-small{background-position: -139px -379px;
width: 37px;
height: 39px;}
.B-small{background-position: -8px -430px;
width: 37px;
height: 39px;}
.R-small{background-position: -61px -425px;
width: 38px;
height: 39px;}

.custPadMem2{
	padding: 15px 10px;
}
.custPadMem4{
	padding: 14px 0px;
}

@media (min-width: 280px) and (max-width: 320px) {
	.r_mem_hgh1{height:30px}
	.r_mem_hgh2{height:10px}
	.r_mem_padb1{padding-bottom:5px}
	.r_mem_pad1{padding-top:10px}
  .r_mem_pb1{padding:1px 0 12px}
  .r_mem_pad2{padding-top:2px}
  .r_mem_pad3{padding:10px 0}
  .r_mem_pad5{padding-top:5px}
	.r_mem_fnt1{font-size:25px}
	.r_mem_fnt2{font-size:40px}
	.r_mem_fnt3{font-size:50px}
	.r_mem_fnt4{font-size:25px}
  .whitecicle{width:40px; height:40px; border:1px solid #fff;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px; display:table-cell; vertical-align:middle; font-size:12px}
  .mem_rfnt1{font-size:12px}
  .mem_rfnt2{font-size:13px}
  .mem_btm1{bottom:10%}
}
@media (min-width: 321px) and (max-width: 720px) {
	.r_mem_hgh1{height:60px}
	.r_mem_hgh2{height:30px}
	.r_mem_padb1{padding-bottom:10px}
	.r_mem_pad1{padding-top:40px}
  .r_mem_pad5{padding-top:5px}
  .r_mem_pb1{padding:15px 0 20px}
	.r_mem_fnt1{font-size:35px}
	.r_mem_fnt2{font-size:65px}
	.r_mem_fnt3{font-size:65px}
	.r_mem_fnt4{font-size:50px}
  .whitecicle{width:66px; height:66px; border:1px solid #fff;border-top-left-radius: 33px;border-top-right-radius: 33px;border-bottom-right-radius: 33px;border-bottom-left-radius: 33px; display:table-cell; vertical-align:middle; font-size:20px}
 .mem_rfnt1{font-size:14px}
 .mem_rfnt2{font-size:15px}
 .mem_btm1{bottom:15%}
}

/*
My CSS
*/

.container { margin: 0 auto; }

.wrap {
	position: relative;
	margin: 0 auto;
}

.innerElement{
	margin:30px;
}
/* Frame */
.frame {
	height: 100%;
	line-height: 100%;
	overflow: hidden;
}
.oneservice.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
}
.oneservice.frame ul li {
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	cursor: pointer;
}
.oneservice.frame ul li.active {
	color: #fff;
	background: #fff;
}
.contact .frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.contact .frame ul li {
	float: left;
	height: 100%;
	width:106px;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	text-align: center;
	cursor: pointer;
	opacity:0.1;
}
.contact .frame ul li.active {
	color: #000;
	background: #fff;
	opacity: 0.55;
} 

#contact{pointer-events:none;}

.duration .frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.duration .frame ul li {
	float: left;
	height: 100%;
	width:106px;
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	color: #000;
	text-align: center;
	cursor: pointer;
	opacity:0.2;
}
.duration .frame ul li.active {
	color: #d9475c;
	background: #f5f5f5;
	opacity: 1;
}

.vasbottomslider .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.vasbottomslider .frame ul li {
  float: left;
  height: 156px;
  width:146px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.vasbottomslider .frame ul li:first-child {
  float: left;
  height: 156px;
  width:146px;
  margin: 0;
  padding: 0;
  padding-left:-1px;
  background: #fff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.vasbigslider .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.vasbigslider .frame ul li {
  float: left;
  margin: 0;
  padding: 0;
  background: #939393;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.vasbigslider .frame ul li:first-child {
  float: left;
  margin: 0;
  padding: 0;
  padding-left:-1px;
  background: #939393;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.abstop{
  top:0px;
}

/* Pages */
.pages {
  list-style: none;
  padding: 0;
  top:15px;
  text-align: center;
  position: fixed;
}
.pages li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #e6e6e6;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
  opacity: 0.1;
}
.pages li:hover {
  background: #e0e0e0;
  opacity: 1;
}
.pages li.active {
  background: #e0e0e0;
  opacity: 1;
}

.f22{
	font-size: 22px;
}

.mem_coma{
  background-position: -3px -239px;
  width: 26px;
  height: 42px;
}

.ex-pinkbg {
  background-image:url(../../../images/jsms/membership_img/Ex-pinkbg.jpg) !important;
  background-repeat: no-repeat;
}

.ex-bg1{background-image:url(../../../images/jsms/membership_img/Ex-bg1.jpg);
 background-repeat:no-repeat;
}

.ex-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ex-color1 {
  color:#950f16
}

.ex-color2{color:#333333}
.ex-color3{color:#950f16}
.ex-bgcolor{background-color:#960f13;}
.ex-f33{font-size:33px}
.ex-list ul{ list-style-type:none; margin:0; padding:0}
.ex-list ul li{color:#3f3f3f; font-size:16px; text-align:center; border-bottom:1px solid #beaaa3}
.ex-list ul li div{padding:5px 10px; line-height:25px}
.ex-list ul li:last-child{border-bottom:0}

/* class for coupn code */
.cc_colr1{color:#ababab}
.cc_bg1{background-color:#fff;}
.cc_pad1{padding:10px 20px}
.cc_pad2{padding:25px 20px}
.tapoverlay_cc {
        background: rgb(0,0,0);
        opacity: .9;
        filter: alpha(opacity=90);
        -moz-opacity: .90;
        z-index: 101;
        overflow-x:none;
        overflow-y:auto;
        width:100%;
        height:100%
}
/*  coupon code class ends */

