redirect 301 /jsadmin/matri_downfile.php http://ser6.jeevansathi.com/jsadmin/matri_downfile.php
redirect 301 /jsadmin/screen_photos_from_mail.php http://ser6.jeevansathi.com/jsadmin/screen_photos_from_mail.php
redirect 301 /jsadmin/skipped_photo_mails.php http://ser6.jeevansathi.com/jsadmin/skipped_photo_mails.php
redirect 301 /jsadmin/voucher_backend_tech.php http://ser6.jeevansathi.com/jsadmin/voucher_backend_tech.php
redirect 301 /jsadmin/voucher_backend_display.php http://ser6.jeevansathi.com/jsadmin/voucher_backend_display.php
redirect 301 /jsadmin/voucher_backend_design.php http://ser6.jeevansathi.com/jsadmin/voucher_backend_design.php
redirect 301 /jsadmin/voucher_backend_download.php http://ser6.jeevansathi.com/jsadmin/voucher_backend_download.php
redirect 301 /jsadmin/voucher_backend_sales.php http://ser6.jeevansathi.com/jsadmin/voucher_backend_sales.php
redirect 301 /jsadmin/manage_source_property.php http://ser6.jeevansathi.com/jsadmin/manage_source_property.php
