    .headerimg1 {
	background:#3e3e3e url(IMG_URL/images/mrevamp/loginbg.jpg) no-repeat center center !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	
}
.logo{background-position: -95px -175px;
width: 121px;
height: 32px; border:0px solid #fff
}

.uicon{width: 21px;
height: 16px;
background-position: -7px -82px;}

.key{width: 21px;
height: 16px;
background-position: -7px -117px;}

.err2_icon{background-position: -143px -59px;
width: 17px;
height: 16px;}

.opaer1{background-color:rgba(102, 102, 102, 0.90)}
.classone input{border:0px; background:none; font-size:15px}
.classone input {
    color: #dddbdb;
}
.classone input ::-webkit-input-placeholder {
    color: #dddbdb;
}
.classone input :-moz-placeholder {
    /* FF 4-18 */
     color: #dddbdb;
}
.classone input ::-moz-placeholder {
    /* FF 19+ */
    color: #dddbdb;
}
.classone input :-ms-input-placeholder {
    /* IE 10+ */
    color: #dddbdb;
}



.errClass{
position: absolute;
z-index: 10000;
width: 100%;
transition:.3s ease;
-webkit-transition:.3s ease;
-webkit-transform:translateY(-100%);
transform:translateY(-100%);
-webkit-animation:opac0 .4s;
-moz-animation:opac0 .4s;
animation:opac0 .4s;
text-align:center;
}
.errClass.showErr{
-webkit-transform:translateY(0%);
transform:translateY(0%);
-webkit-animation:opac90 1s;
-moz-animation:opac90 1s;
animation:opac90 1s;

}
@-webkit-keyframes opac90 {
    0% {opacity:0}
    100% {opacity:.90}
}

/* Standard syntax */
@keyframes opac90 {
    0% {opacity:0}
    100% {opacity:.90}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opac0 {
    0% {opacity:.90}
    100% {opacity:0}
}

/* Standard syntax */
@keyframes opac0 {
    0% {opacity:.90}
    100% {opacity:0}
}
.pad12_e{padding:12px;}
.op1 {
background-color: rgba(102, 102, 102, 1);
}

.lgin_hgt1{height:5px}
/*----- new css added for login pat ----*/
 @media (min-width: 280px) and (max-width: 320px) {
 	.lgin_pad1{padding:20px 0;}
	.lgin_inp_pad{padding:20px 15px}
 }
@media (min-width: 321px) {

 
	.lgin_pad1{padding:55px 0 20px;}
	.lgin_inp_pad{padding:25px 15px}
	
}
.HamiconLogin{
padding-left: 5%;
}

.loginLogo{
padding-left: 20%;
padding-right: 30%;
}

.slide-to-captcha {
  position: relative;
  width: 99%;
  height: 60px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.slide-to-captcha:after {
  display: none;
  height: 100%;
  margin-left: 10px;
  line-height: 34px;
  font-weight: bold;
  color: #666;
  color: transparent; }

.slide-to-captcha-handle {
  background-image: url("/images/jspc/commonimg/nextIcon.png");
  position: absolute;
  width: 58px;
  height: 58px;
  left: 0;
  top: 0;
  margin:1px;
  background-position:10px 6px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; 
  z-index:999;}
.slide-to-captcha-handle-verified {
  background-image: url("/images/jspc/commonimg/completed.png");
  position: absolute;
  width: 58px;
  height: 58px;
  left: 0;
  top: 0;
  margin:1px;
  background-position: -8px -20px;
 -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;

}

.slide-to-captcha-handle:before,
.slide-to-captcha-handle:after {
  position: absolute;
  content: ' ';
  display: none;
  left: 14px;
  top: 15%;
  height: 70%;
  width: 4px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#cccccc), to(#aaaaaa));
  background-image: -webkit-linear-gradient(left, #cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(left, #cccccc, #aaaaaa);
  background-image: -ms-linear-gradient(left, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(left, #cccccc, #aaaaaa);
  background-image: linear-gradient(left, #cccccc, #aaaaaa);
  background-repeat: repeat-x;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow-y: hidden; }

.slide-to-captcha-handle:after {
  left: 22px; }

.slide-to-captcha.valid {
  background-color: rgba(221, 221, 221, 0.5); }

.slide-to-captcha.valid:after {
  position: relative;
  content: attr(data-content);
  display: block;
  color: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.slide-to-captcha.valid .slide-to-captcha-handle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }
 
 .slideCap {
  height: 60px;
    position: absolute;
    background-color: #34495e; 
  }
.blueTxt {
  position: absolute;
    text-align: center;
    margin-top: 18px;
    width: 100%;
    color: white;
    z-index:100;
  }
.transLayer {

    position: absolute;
    height: 100%;
    opacity: 0.2;
    background-color: white;
}
.loaderSmallIcon2{
display:block;
margin-left: auto;
margin-right: auto;
position: relative;
width: 20px;
height: 20px;
}


