
.minhgt300{min-height:300px}

.overlay_2_skip {width: 100%;position: absolute;top: 8%;left: 0%;z-index: 102; background:black;

    opacity:.90;
}
.overlay_2_skip.animate{
-webkit-animation: opac90 .5s;
-moz-animation: opac90 .5s;
    animation: opac90 .5s;
   } 
/* Chrome, Safari, Opera */
@-webkit-keyframes opac90 {
    0% {opacity:0}
    100% {opacity:.90}
}

/* Standard syntax */
@keyframes opac90 {
    0% {opacity:0}
    100% {opacity:.90}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opac0 {
    0% {opacity:.90}
    100% {opacity:0}
}

/* Standard syntax */
@keyframes opac0 {
    0% {opacity:.90}
    100% {opacity:0}
}	
.img-responsive {

display: block;

width: 100% \9;

max-width: 100%;

height: auto;

}



.img-circle {

border-radius: 50%;

}

.photocount{background-color: #C36;

border-radius: 50%;

position: absolute;

width: 30px;

height: 28px;

text-align: center;

top: 15%;

left: 59%;

color: #fff;

padding-top: 3px;}



.mysp_spr{background-image:url(IMG_URL/images/mobilejs/revamp_mob/sprtie_myp.png); background-repeat:no-repeat}

.change{background-position: -9px -4px;

width: 64px;

height: 63px;}

.addicon{background-position: -9px -79px;

width: 64px;

height: 63px;}

img.blur { -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); image-rendering: auto

image-rendering: crisp-edges

image-rendering: pixelated



image-rendering: inherit}

.slide_div{position:absolute;        -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
   -o-transition: .3s ease;
   transition: .3s ease;
}

.overlay { 
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index:100;
}

.swipe-wrap{position:relative}
.overLayer{
	position: absolute;width: 100%;transform: translate3d(100%,0,0);
	transition:.25s ease;
	-webkit-transform: translate3d(100%, 0, 0);
}

#sliderFramework{position:relative;}
/* hardware accelerated animation*/
.page {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.left_1 {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page.left_2 {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}
.page.left_3 {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
}
.page.left_4 {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0);
}
.page.left_5 {
    -webkit-transform: translate3d(-500%, 0, 0);
    transform: translate3d(-500%, 0, 0);
}
.page.left_6 {
    -webkit-transform: translate3d(-600%, 0, 0);
    transform: translate3d(-600%, 0, 0);
}
.page.left_7 {
    -webkit-transform: translate3d(-700%, 0, 0);
    transform: translate3d(-700%, 0, 0);
}

.zerotransform{
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.ltransform{
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(100%, 0, 0);
}
.rtransform{
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.right_1 {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page.right_2 {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
}
.page.right_3 {
    -webkit-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
}
.page.right_4 {
    -webkit-transform: translate3d(400%, 0, 0);
    transform: translate3d(400%, 0, 0);
}
.page.right_5 {
    -webkit-transform: translate3d(500%, 0, 0);
    transform: translate3d(500%, 0, 0);
}
.page.right_6 {
    -webkit-transform: translate3d(600%, 0, 0);
    transform: translate3d(600%, 0, 0);
}
.page.right_7 {
    -webkit-transform: translate3d(700%, 0, 0);
    transform: translate3d(700%, 0, 0);
} 
.page.bottom_1{
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.page.transition {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}


/* hamburger transition*/
.hamburger{
position:absolute;
width:60%;
}
.hamburger{
-webkit-transition: -webkit-transform 0.4s;
transition: transform 0.4s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
transform:translateX(100%);
-webkit-transform:translateX(100%);
}
.hamoverlay{
position:absolute;width:0%;height:0%;
-webkit-transition: -webkit-transform 0.4s;
transition: transform 0.4s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
transform:translateX(100%);
-webkit-transform:translateX(100%);
}
.hamoverlay.show{width:100%;height:100%;}
.hamoverlay.showReg{width:60%;height:100%;}
.rham{right:1px;transform:translateX(0%);
-webkit-transform:translateX(0%);
}

.h_animation{display:block;-webkit-animation:opacityAnimation 2s;-moz-webkit-animation:opacityAnimation 2s;animation:opacityAnimation 2s}
.perspective {
	width: 100%;
	height: 100%;
	position: relative;
}
.pcontainer {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
	
}
.opacityAnimation{-webkit-animation:opacityAnimationBack .2s;-moz-webkit-animation:opacityAnimationBack .2s;animation:opacityAnimationBack .2s;}

.showpers{perspective:1500px;-webkit-perspective:1500px;position:fixed;background:#2c3137;z-index:1000}
.hamb{
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
cursor: pointer;
-webkit-transition: -webkit-transform 0.4s;
transition: transform 0.4s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.hamr{
-webkit-transform: translateZ(-1500px) translateX(-100%) rotateY(45deg);
transform: translateZ(-1500px) translateX(-100%) rotateY(45deg);
top:15%;
}
.tcenterr{
-webkit-transform: translateZ(-1500px) translateX(-100%) translateY(10%) rotateY(45deg);
transform: translateZ(-1500px) translateX(-100%) translateY(10%) rotateY(45deg);
top:0% !important;
}

-webkit-transform: translateZ(-1500px) translateX(-100%) translateY(10%) rotateY(45deg);
transform: translateZ(-1500px) translateX(-100%) translateY(10%) rotateY(45deg);
}
.haml{-webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-0deg);
transform: translateZ(-1500px) translateX(100%) rotateY(0deg);}

.wrapper{

opacity: 1;
	height: 101%;width:100%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	position:absolute;
	z-index:100;
}
.oh{overflow:hidden}




.bwhite{background:#fff}
.swipe-wrap{overflow:auto;width:100%}
.noselect{

font-size: 12px;
border-top: 1px solid #383d42;
padding: 10px 0;
color: #666666;
font-family: "Roboto Regular";

}
.noselect .color14{
color: #666666 !important;
}


.wrap-box{width:100%;overflow:hidden;position:relative;height:100%;transform:translatez(0);}
.swrapper{max-width:100%;margin:0px auto;position:relative}
#sw{position:relative;}
.slidechild{float: left;list-style: none;position: relative;width:350px;}


.notfilled .color3,.notfilled .color4,g{color:#d9475c !important}
.oa,.overlayc,#HAM_OPTION_1,#HAM_OPTION_2,#overlay_2{ overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  overflow-x:hidden;
  }
.z11000{z-index:1000}

.srfrm_circle {
	background-position: 1px -345px;
	width: 35px;
	height: 25px;
}
.hpad5 {
padding: 10px;
}
.checked .srfrm_circle{
background-position: 1px -454px;
}
.regul ul li{margin:0px !important}
/*.overlayc{overflow-y:auto;}*/
.overlayc{overflow-x:hidden;width:100%;z-index:1000;overflow:auto}
#overLayer{z-index:10}
.prz{position:relative;z-index:10;height:40px;}
.b{font-weight:bold}
.hamsearch{position: relative;z-index: 1;background: #2c3137;padding-top:20px}
::-webkit-scrollbar { 
    display: none; 
}
scrollbar { 
    display: none; 
}
.regul li.multiple{background-color:#2c3137 !important}
.hamlimit{width:78%;overflow:hidden;}
.w400{width:400%}
.swrap{white-space: nowrap;text-overflow: ellipsis;}



#DetailsMainTab{padding-top:1px}
.pb10{padding-bottom:10px}
.pt10{padding-top:10px}
.top_1{
-webkit-transform: translate3d(0, -110%, 0);
-moz-transform: translate3d(0, -110%, 0);
transform: translate3d(0, -110%, 0);
}
.top_2{
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);

}
.top_3{
-webkit-transform: translate3d(0, 220%, 0);
-moz-transform: translate3d(0, 220%, 0);
transform: translate3d(0, 220%, 0);
}
.overlay_1_e{
width:90%;background-color:#fff;
position: fixed;
left:5%; z-index: 102;}
.regul li.checked{background-color: #34495e;}
.vh{visibility:hidden}

.editAlbumBG{background-color: #4c4c4c;}
