input{border:0px;}
input:focus{border:0px;outline: none;}
.padding03 {
  padding:1px 3px
}

.wid58p {
  width:58%
}
.wid50p{
 width:50%
}
.CancelOverlay {
background: white;
height:auto;
}
.f10 {
  font-size:11px
}

.epwid5p {
	width:5%
}
.epwid8p {
	width:10%
}

.wwrap {
word-wrap: break-word;
}
.pos_filter {
right: 0;
top: 5px;
}

.filter-onoff{
    background-image:url(IMG_URL/images/jsms/commonImg/on-off.png); background-repeat:no-repeat; display:inline-block;
}
.filter-on{ background-position: 1px -42px;width: 65px;height: 40px;}
.filter-off{background-position: 1px -2px;width: 65px;height: 40px;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.iconImg2{height:18px;width:18px; background-repeat: no-repeat; background-position: -6px -34px; }
.iconSprite{background-image: url(IMG_URL/images/jsms/profile/viewProfile/iconSprite.png);}
.iconTick {    
        height: 15px;
        width: 18px;
        background-repeat: no-repeat;
        position: absolute;
        right: 32px;
        margin-top: -11px;
 }
.tickSelected{background-position: -6px -63px;}
.vTop{vertical-align:top;}
.padr5{padding-right:5px}
.topLeft50{top:50%;left:50%;position:absolute;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-ms-transform::translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.padd1015{padding:10px 15px}
.f10{font-size:10px}
.filter-onoff-new
{ background-image: url(IMG_URL/images/jsms/commonImg/on-off.png); background-repeat: no-repeat}
  .dpbg1{background-color:#e3e1e2}
  .dpbg2{padding:20px 15px}