input{border:0px;}
input:focus{border:0px;outline: none;}
.padding03 {
  padding:1px 3px
}

.wid58p {
  width:58%
}
.wid50p{
 width:50%
}
.CancelOverlay {
background: white;
height:auto;
}
.f10 {
  font-size:11px
}

.epwid5p {
	width:5%
}
.epwid8p {
	width:10%
}

.wwrap {
word-wrap: break-word;
}
.pos_filter {
right: 0;
top: 5px;
}

.filter-onoff{
    background-image:url(IMG_URL/images/jsms/commonImg/on-off.png); background-repeat:no-repeat; display:inline-block;
}
.filter-on{ background-position: 1px -42px;width: 65px;height: 40px;}
.filter-off{background-position: 1px -2px;width: 65px;height: 40px;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.iconImg2{height:18px;width:18px; background-repeat: no-repeat; background-position: -6px -34px; }
.iconSprite{background-image: url(IMG_URL/images/jsms/profile/viewProfile/iconSprite.png);}
.iconTick {    
        height: 15px;
        width: 18px;
        background-repeat: no-repeat;
        position: absolute;
        right: 32px;
        margin-top: -11px;
 }
.tickSelected{background-position: -6px -63px;}
.vTop{vertical-align:top;}
.padr5{padding-right:5px}
.topLeft50{top:50%;left:50%;position:absolute;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-ms-transform::translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.padd1015{padding:10px 15px}
.f10{font-size:10px}
.filter-onoff-new
{ background-image: url(IMG_URL/images/jsms/commonImg/on-off.png); background-repeat: no-repeat}
  .dpbg1{background-color:#e3e1e2}
  .dpbg2{padding:20px 15px}
  
  .otplh60{line-height:60px}
.otpp1{padding:0 21px}
.otpp2{padding:20px 20px 0 20px}
.otpp3{padding:10px 16px;}
.optp4{padding-bottom:70px}
.optp5{padding-top:15%}
.otpp6{padding:20px 20px}
.otpp7{padding:10px 20px 0 20px}
.otpma{margin:0 auto}
.otpwid1{width:220px;}
.otpwid2{width:82px;}
.otpwid3{width:130px;}
.otpbr1{border-top:1px solid #e7e7e7}
.otpbr2{border-top:1px solid #dbdbdb}
.otpbg1{background-color:#f8f8f8}
.otpcolr1{color:#4c4151}
.otpcolr2{color:#d03e43}
.otplh60{ line-height:60px}
.otpic1{background-position: -144px -124px;width: 35px;height: 47px;}
.otplayer {position: fixed;top: 0;right: 0;bottom: 0;left: 0;height: 100%;width: 100%;margin: 0;padding: 0;background-color:rgba(0, 0, 0, 0.85);z-index: 101;overflow-x:none;}
.otpcenter {position: absolute;left: 50%;top: 50%;width: 90%;}
.otppos1{    right: 0;
    top: 19px;}
.sprite_contact {background-image:url(sprite_contact.png);background-repeat: no-repeat;}
.sp_contact_setting {         background-position: -8px -9px;
    width: 23px;
    height: 25px; } 
  .sp_contact_tick{
    background-position: -5px -40px;
    width: 27px;
    height: 25px;
}
  .pt18{padding-top:18px}
  .opa40{    opacity: 0.4;} 
.contactOverlay{
      position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 108;
    opacity: 0.95;}
  .mt100{margin-top:100px}
  .contactSelect{ list-style-type: none; margin-left:-40px;}
  .contactSelect li {
    margin-bottom:2px;
    padding:20px;
    background:#313131;
  }
  .m0_20{margin:0px 20px}
  .mt4{margin-top:4px}
  .pb12{padding-bottom:12px}
  .back-Gray{background-color: #e4e4e4;  }
  .upload-btn-jsms{              display: inline;
    border: 1px solid #808080;
    padding: 8px;
    margin-right: 10px;
    color: #D9475D;
    font-weight: 400;
    background-color: #fff;
  }/*same div height text*/