<html>
<head>
<!--view_for_mis_main.htm-->  
 <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>

~if $flag eq '1'`
	
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="formhead" width="100%"><td align="center" colspan=14><a href="chatmis.php?cid=~$cid`">MAIN PAGE</a></td></tr>
	<tr class="formhead">
        <td colspan=100% align="center">VIEWS RESULTS Day wise</td>
	</tr>
	<tr class="formhead">
	<td colspan=100% align="center">&nbsp;Month - Year : ~$month`-~$year`</td>
	</tr>
	</table>
	<br>
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="label">
	
	<td align="center">&nbsp;Days</td>
	
	~section name=co loop=$wday_arr`
        	<td align="center" colspan=3>&nbsp;~if $wday_arr[co] eq '0'` Sun ~elseif $wday_arr[co] eq '6'` Sat ~/if`</td>
	~/section`
        <td align="center" colspan=3>&nbsp;</td>
        </tr>
	<tr class="label">
	
	<td align="center">&nbsp;Element</td>
	
	~section name=co loop=$ddarr`
        	<td align="center" colspan=3>&nbsp;~$ddarr[co]`</td>
	~/section`
        <td align="center" colspan=3>&nbsp;Total</td>
        </tr>
	
	<tr class="fieldsnew">
	<td align="center">&nbsp;Unique Logins</td>
	~section name=ho loop=$ddarr`
		<td align="center" colspan=3 class="red">&nbsp;~$total_day[ho].logins`</td>
	~/section`
	<td align="center" colspan=3 class="green">&nbsp;~$finaltotal.logins`</td>
	</tr>
	
	<tr><tr class="fieldsnew">	
	<td align="center">&nbsp;Chat Requests</td>
        ~section name=cho loop=$ddarr`
                <td align="center" colspan=3 class="red">&nbsp;~$total_day[cho].chats`</td>
        ~/section`
        <td align="center" colspan=3 class="green">&nbsp;~$finaltotal.chats`</td>
        </tr>

	<tr><tr class="fieldsnew">
        <td align="center">&nbsp;Unique Failed Logins</td>
        ~section name=xho loop=$ddarr`
                <td align="center" colspan=3 class="red">&nbsp;~$total_day[xho].failconnect`</td>
        ~/section`
        <td align="center" colspan=3 class="green">&nbsp;~$finaltotal.failconnect`</td>
        </tr>
	
	<tr><tr class="fieldsnew">
        <td align="center">&nbsp;SiteChat Accept/Decline</td>
        ~section name=sho loop=$ddarr`
                <td align="center" colspan=3 class="red">&nbsp;~$total_day[sho].site_ad`</td>        ~/section`
        <td align="center" colspan=3 class="green">&nbsp;~$finaltotal.site_ad`</td>
        </tr>
	
	</table>
	<br>

~else`
	<form method=post action="chatmis.php">
	<table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="month">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> - 
	<select name="year">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
	</td>
	</tr>
	</select>	
	</td>
	</tr>
	<tr>
	<input type="hidden" name="cid" value=~$cid`>
	<td><input type="submit" name="Submit" value="     Go     "></td>
	</tr>
	</table>
	</form>
~/if`
</body>
</html>
