<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
                <title>Jeevansathi.com - Discount Details MIS</title>
                <link rel="stylesheet" href="jeevansathi.css" type="text/css">
	</head>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
		<tbody>                 
		<tr>                    
			<td valign="top" width="30%" bgcolor="#efefef"></td>
			<td valign="top" width="40%" bgcolor="#efefef" align="center">
				<img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0">
			</td>
				<td valign="bottom" width="30%" bgcolor="#efefef"></td>           
		</tr>
		<tr>
			<td align="center" class="label" colspan="100%">
				<a href="mainpage.php?cid=~$cid`">Mainpage</a>
			</td>
		</tr>
		</tbody>
	</table>
	<br />
	<br />
	~if $SUBMITTED`
		<table width="100%" border="0" cellspacing="4" cellpadding="4" align="center">
			<tr align="center">
				<td class="fieldsnew">
					Color Codes :
					<span class="blue">Count</span>&nbsp;
					<span class="green">Offline Revenue</span>&nbsp;
					<span class="red">Online Revenue</span>
				</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="4" cellpadding="4" align="center">
			<tr class="label" align="center">
				<td>Day</td>
				~section name="dd" loop=$ddarr`
					<td>~$ddarr[dd]`</td>
				~/section`
				<td>Total</td>
			</tr>
			<tr class="label" align="center">
				<td colspan="100%">
					Multiple use codes.
				</td>
			</tr>
			~foreach from=$codes_arr key=code item=code_val`
				<tr align="center">
					<td class="label">~$code_val`</td>
					~foreach from=$ddarr key=day item=day_val`
						<td class="fieldsnew">
							~if $multiple_use[$day_val][$code_val].COUNT`
								<span class="blue">~$multiple_use[$day_val][$code_val].COUNT`</span>
								<br />
								<span class="green">
									~if $multiple_use[$day_val][$code_val].OFFLINE_AMT`
										~$multiple_use[$day_val][$code_val].OFFLINE_AMT`
									~else`
										0
									~/if`
								</span>
								<br />
								<span class="red">
									~if $multiple_use[$day_val][$code_val].ONLINE_AMT`
										~$multiple_use[$day_val][$code_val].ONLINE_AMT`
									~else`
										0
									~/if`
								</span>
							~/if`
						</td>
					~/foreach`
					<td class="fieldsnew">
						~if $multiple_row_total[$code_val].COUNT`
							<span class="blue">~$multiple_row_total[$code_val].COUNT`</span>
							<br />
							<span class="green">
								~if $multiple_row_total[$code_val].OFFLINE_AMT`
									~$multiple_row_total[$code_val].OFFLINE_AMT`
								~else`
									0
								~/if`
							</span>
							<br />
							<span class="red">
								~if $multiple_row_total[$code_val].ONLINE_AMT`
									~$multiple_row_total[$code_val].ONLINE_AMT`
								~else`
									0
								~/if`
							</span>
						~/if`
					</td>
				</tr>
			~/foreach`
			<tr class="label" align="center">
				<td>
					Total
				</td>
				~foreach from=$ddarr key=day item=day_val`
					<td class="fieldsnew">
						~if $multiple_col_total[$day_val].COUNT`
							<span class="blue">~$multiple_col_total[$day_val].COUNT`</span>
							<br />
							<span class="green">
								~if $multiple_col_total[$day_val].OFFLINE_AMT`
									~$multiple_col_total[$day_val].OFFLINE_AMT`
								~else`
									0
								~/if`
							</span>
							<br />
							<span class="red">
								~if $multiple_col_total[$day_val].ONLINE_AMT`
									~$multiple_col_total[$day_val].ONLINE_AMT`
								~else`
									0
								~/if`
							</span>
						~/if`
					</td>
				~/foreach`
			</tr>
			<tr class="label" align="center">
				<td colspan="100%">
					Single use codes.
				</td>
			</tr>
			~foreach from=$code_name_arr key=code item=code_name`
				<tr align="center">
					<td class="label">~$code_name`</td>
					~foreach from=$ddarr key=day item=day_val`
						<td class="fieldsnew">
							<span class="blue">~$single_use[$day_val][$code_name].COUNT`</span>
							<br />
							~if $single_use[$day_val][$code_name].COUNT`
								<span class="green">
									~if $single_use[$day_val][$code_name].OFFLINE_AMT`
										~$single_use[$day_val][$code_name].OFFLINE_AMT`
									~else`
										0
									~/if`
								</span>
								<br />
								<span class="red">
									~if $single_use[$day_val][$code_name].ONLINE_AMT`
										~$single_use[$day_val][$code_name].ONLINE_AMT`
									~else`
										0
									~/if`
								</span>
							~/if`
						</td>
					~/foreach`
					<td class="fieldsnew">
						~if $single_row_total[$code_val].COUNT`
							<span class="blue">~$single_row_total[$code_val].COUNT`</span>
							<br />
							<span class="green">
								~if $single_row_total[$code_val].OFFLINE_AMT`
									~$single_row_total[$code_val].OFFLINE_AMT`
								~else`
									0
								~/if`
							</span>
							<br />
							<span class="red">
								~if $single_row_total[$code_val].ONLINE_AMT`
									~$single_row_total[$code_val].ONLINE_AMT`
								~else`
									0
								~/if`
							</span>
						~/if`
					</td>
				</tr>
			~/foreach`
			<tr class="label" align="center">
				<td>
					Total
				</td>
				~foreach from=$ddarr key=day item=day_val`
					<td class="fieldsnew">
						~if $single_col_total[$day_val].COUNT`
							<span class="blue">~$single_col_total[$day_val].COUNT`</span>
							<br />
							<span class="green">
								~if $single_col_total[$day_val].OFFLINE_AMT`
									~$single_col_total[$day_val].OFFLINE_AMT`
								~else`
									0
								~/if`
							</span>
							<br />
							<span class="red">
								~if $single_col_total[$day_val].ONLINE_AMT`
									~$single_col_total[$day_val].ONLINE_AMT`
								~else`
									0
								~/if`
							</span>
						~/if`
					</td>
				~/foreach`
			</tr>
		</table>
	~else`
		<form name="form1" method="post" action="discount_codes_tracking.php">
		<input type="hidden" name="cid" value="~$cid`" />
		<table width="20%" border="0" cellspacing="4" cellpadding="4" align="center">
			<tr class="formhead" align="center">
				<td colspan="100%">
					Select Daywise / Monthwise
				</td>
			</tr>
			<tr align="center">
				<td class="label">
					<input type="radio" name="daywise_monthwise" value="D" checked="yes"/>Daywise
				</td>
				<td class="fieldsnew">
					<select name="month" class="textboxes1">
						~section name=mm loop=$mmarr`
							<option value="~$mmarr[mm].VALUE`" ~if $curmonth eq $mmarr[mm].VALUE` selected ~/if`>~$mmarr[mm].NAME`</option>
						~/section`
					</select>
					&nbsp;
					<select name="year" class="textboxes1">
						~section name=yy loop=$yyarr`
							<option value="~$yyarr[yy]`" ~if $curyear eq $yyarr[yy]` selected ~/if`>~$yyarr[yy]`</option>
						~/section`
					</select>
				</td>
			</tr>
			<tr align="center">
				<td class="label">
					<input type="radio" name="daywise_monthwise" value="M" />Monthwise
				</td>
				<td class="fieldsnew">
					<select name="year" class="textboxes1">
						~section name=yy loop=$yyarr`
							<option value="~$yyarr[yy]`" ~if $curyear eq $yyarr[yy]` selected ~/if`>~$yyarr[yy]`</option>
						~/section`
					</select>
				</td>
			</tr>
			<tr class="formhead" align="center">
				<td colspan="100%">
					<input type="submit" name="submit" value="Go" class="buttons1"/>
				</td>
			</tr>
		</table>
		</form>
	~/if`
</html>
