<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                                             
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
                                                                                                                             
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br>
~if $flag eq '1'`
<center>
<font color=orange><u>Offline Order Conversion MIS</u><br></font>&nbsp;&nbsp;
<font color=red>Red -> Converted members till date</font>&nbsp;&nbsp;
<font color=blue>Blue -> Total Requests generated </font>
</center>
<br>
<table width=100% border=0 align="center">
<tr class="formhead">
<td colspan=14 align="center">&nbsp;For:- ~$dt`</td>
</tr>
                                                                                                                             
</table>
<br>
<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
        <table width="150%" align="center" border=0 cellspacing=4 cellpadding=5>
        <tr class="label">
        <td align="center" width=6%>&nbsp;~$sel_type`</td>
        ~section name=mon loop=$mmarr`
                <td width=7% align="center">&nbsp;~$mmarr[mon]`</td>
        ~/section`
        <td align="center" width=10%>&nbsp;Total</td>
        </tr>
 <tr class="label">
  <td colspan=100% align=center>Cheque Drop Tries</td>
 </tr>
 <tr class="fieldsnew">
	<td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
	 ~section name=ss loop=$cnt_cur`
	<td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][0].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][0].N neq '0'` ~$cnt_cur[ss][0].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][0].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][0].P`</span> </td>
	~/section`
	<td width=6% align="center"><span class="red" valign=top>~$tota_cur[0]`</span> <br><span class="grey" valign=top>~$totn_cur[0]`</span> <br><span class="blue" valign=center>~$totb_cur[0]`</span>  <br><span class="green" valign=center>~$totp_cur[0]`</span></td>
	</tr>
 <tr class="label">
  <td colspan=100% align=center>Cheque Pickup Request by USER Tries</td>
 </tr>
 <tr class="fieldsnew">
	<td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
	 ~section name=ss loop=$cnt_cur`
	<!--td width=6% align="center"><span class="orange" valign=top>~if $sel_type eq 'Day'`<a href='show_offline_converted.php?d=~$smarty.section.ss.index`&mm=~$mm`&yr1=~$yr1`' color="orange" target="_blank">~$cnt_cur[ss][1].C`</a>~else` ~$cnt_cur[ss][1].C`~/if`</span> <br><span class="red" valign=top>~if $sel_type eq 'Day' and $cnt_cur[ss][1].N neq '0'`<a href='show_offline_converted.php?d=~$smarty.section.ss.index`&mm=~$mm`&yr1=~$yr1`&ctype=N' target="_blank">~$cnt_cur[ss][1].N`</a>~elseif $cnt_cur[ss][1].N neq '0'` ~$cnt_cur[ss][1].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][1].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][1].P`</span> </td-->
	<td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][1].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][1].N neq '0'` ~$cnt_cur[ss][1].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][1].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][1].P`</span> </td>
	~/section`
	<td width=6% align="center"><span class="red" valign=top>~$tota_cur[1]`</span> <br><span class="grey" valign=top>~$totn_cur[1]`</span> <br><span class="blue" valign=center>~$totb_cur[1]`</span>  <br><span class="green" valign=center>~$totp_cur[1]`</span></td>
	</tr>

<tr class="label">
  <td colspan=100% align=center>Cheque Pickup Request by Executive Tries</td>
 </tr>
 <tr class="fieldsnew">
        <td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
         ~section name=ss loop=$cnt_cur`
        <td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][2].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][2].N neq '0'` ~$cnt_cur[ss][2].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][2].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][2].P`</span> </td>
        ~/section`
        <td width=6% align="center"><span class="red" valign=top>~$tota_cur[2]`</span> <br><span class="grey" valign=top>~$totn_cur[2]`</span> <br><span class="blue" valign=center>~$totb_cur[2]`</span>  <br><span class="green" valign=center>~$totp_cur[2]`</span></td>
        </tr>
<tr class="label">
  <td colspan=100% align=center>Online payment request Tries</td>
 </tr>

 <tr class="fieldsnew">
        <td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
         ~section name=ss loop=$cnt_cur`
        <td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][3].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][3].N neq '0'` ~$cnt_cur[ss][3].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][3].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][3].P`</span> </td>
        ~/section`
        <td width=6% align="center"><span class="red" valign=top>~$tota_cur[3]`</span> <br><span class="grey" valign=top>~$totn_cur[3]`</span> <br><span class="blue" valign=center>~$totb_cur[3]`</span>  <br><span class="green" valign=center>~$totp_cur[3]`</span></td>
        </tr>

<tr class="label">
  <td colspan=100% align=center>ICICI Account Deposit Tries</td>
 </tr>

<tr class="fieldsnew">
        <td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
         ~section name=ss loop=$cnt_cur`
        <td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][4].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][4].N neq '0'` ~$cnt_cur[ss][4].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][4].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][4].P`</span> </td>
        ~/section`
        <td width=6% align="center"><span class="red" valign=top>~$tota_cur[4]`</span> <br><span class="grey" valign=top>~$totn_cur[4]`</span> <br><span class="blue" valign=center>~$totb_cur[4]`</span>  <br><span class="green" valign=center>~$totp_cur[4]`</span></td>
        </tr>

<tr class="label">
  <td colspan=100% align=center>Easy Bill payment Tries</td>
 </tr>

<tr class="fieldsnew">
        <td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
         ~section name=ss loop=$cnt_cur`
        <td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][5].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][5].N neq '0'` ~$cnt_cur[ss][5].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][5].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][5].P`</span> </td>
        ~/section`
        <td width=6% align="center"><span class="red" valign=top>~$tota_cur[5]`</span> <br><span class="grey" valign=top>~$totn_cur[5]`</span> <br><span class="blue" valign=center>~$totb_cur[5]`</span>  <br><span class="green" valign=center>~$totp_cur[5]`</span></td>
        </tr>

<!--  New code added for Funds transfer -->
<tr class="label">
  <td colspan=100% align=center>Funds Transfer</td>
 </tr>

<tr class="fieldsnew">
        <td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
         ~section name=ss loop=$cnt_cur`
        <td width=6% align="center"><span class="orange" valign=top>~$cnt_cur[ss][6].C`</span> <br><span class="red" valign=top>~if $cnt_cur[ss][6].N neq '0'` ~$cnt_cur[ss][6].N`~/if`</span> <br><span class="blue" valign=center>~$cnt_cur[ss][6].T`</span><br><br><span class="green" valign=center>~$cnt_cur[ss][6].P`</span> </td>
        ~/section`
        <td width=6% align="center"><span class="red" valign=top>~$tota_cur[6]`</span> <br><span class="grey" valign=top>~$totn_cur[6]`</span> <br><span class="blue" valign=center>~$totb_cur[6]`</span>  <br><span class="green" valign=center>~$totp_cur[6]`</span></td>
        </tr>
<!-- Ends -->


 <tr class="label">
  <td colspan=100% align=center>Total Tries</td>
 </tr>
 <tr class="fieldsnew">
	<td align="center" width=6%><span class="orange" valign=top>&nbsp;Converted</span><br><span class="red" valign=top>&nbsp;Not-Converted</span><br><span class="blue" valign=center>&nbsp;Total</span><br><span class="green" valign=center>&nbsp;Percentage</span></td>
	 ~section name=ss loop=$cnt`
	<td width=6% align="center"><span class="orange" valign=top>~if $sel_type eq 'Day'`<a href='show_offline_converted.php?cid=~$cid`&d=~$smarty.section.ss.index`&mm=~$mm`&yr1=~$yr1`' color="orange" target="_blank">~$cnt[ss].C`</a>~else` ~$cnt[ss].C`~/if`</span> <br><span class="red" valign=top>~if $sel_type eq 'Day' and $cnt[ss].N neq '0'`<a href='show_offline_converted.php?cid=~$cid`&d=~$smarty.section.ss.index`&mm=~$mm`&yr1=~$yr1`&ctype=N' target="_blank">~$cnt[ss].N`</a>~elseif $cnt[ss].N neq '0'` ~$cnt[ss].N`~/if`</span> <br><span class="blue" valign=center>~$cnt[ss].T`</span><br><br><span class="green" valign=center>~$cnt[ss].P`</span> </td>
                                ~/section`
	<td width=6% align="center"><span class="red" valign=top>~$tota`</span> <br><span class="grey" valign=top>~$totn`</span> <br><span class="blue" valign=center>~$totb`</span>  <br><span class="green" valign=center>~$totp`</span></td>
	</tr>
        </table>

                                                                                                                             
~else`

<form method=post action="offline_conversion.php">
<br><br><br>
<table>
<tr>
<td>&nbsp;&nbsp;&nbsp;<input name="vtype" type="radio" value='D' checked>&nbsp;Day Wise : (For a particular Month)</td>
        <td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="mm">
~section name=mon loop=$mmarr`
        <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
~/section`
</select> -

<select name="yr1">
~section name=yy loop=$yyarr`
        <option value="~$yyarr[yy]`">~$yyarr[yy]`</option>
~/section`
</select></td></tr>
<br><br>                                                                                                                    
<td>&nbsp;&nbsp;&nbsp;<input name="vtype" type="radio" value='M'>&nbsp;Month Wise : (For a particular year)</td>
        <td>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="yr">
~section name=yy loop=$yyarr`
        <option value="~$yyarr[yy]`">~$yyarr[yy]`</option>
~/section`
</select></td></tr>
</table>
<input type="hidden" name="checksum" value="~$cid`">
<p align='center'><input type="submit" name="CMDGo" value="   Go   "></p>
</form>
~/if`                                                                                                                             
</body>
</html>                      
