<html>
<head>
        <title>Jeevansathi.com - MIS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
<style>
        DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                                             
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br>
<br>
<form action="offline_login.php" method="post">
<input type="hidden" name="checksum" value="~$checksum`"></input>
~if $searchFlag eq 1`
	<br /><br />
	 <table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
	   <tr width=100% border=1>
	    <td width=30% class="formhead" height="23" align="center"><font><b>Welcome </b></font></td>
 	 <td width=30% class="formhead" align='CENTER' height="23">
 	    <a href="mainpage.php?cid=~$checksum`">Click here to go to mainpage</a>
	    </td>
	    <td width=30% class="formhead" align='CENTER' height="23">
	     <a href="/jsadmin/logout.php?cid=~$checksum`">Logout</a>
	    </td>
	   </tr>
	  </table>
	

        <br><br>
	
	<table width=100% align="center">
	<tr class="formhead">
        <td colspan=100% align="center">Executive : ~$operator` &nbsp;&nbsp;Month : ~$month_name` &nbsp;&nbsp; Year : ~$searchYear`</td>
        </tr>
        </table>

	<table width=90% align="center" border=0 cellspacing=2 cellpadding=5>
       	<tr class="labelnew">
       	<td align="center" width=10% >&nbsp;Day</td>
	 <td width="80%">
        <table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
	<tr class="labelnew">
       	<td align="center" width="33%">&nbsp;Login time</td>
       	<td align="center" width="33%">&nbsp;Logout time</td>
       	<td align="center" width="33%">&nbsp;Total time(in hrs)</td>
	</tr>
	</table>
       	<td align="center" width=10% >&nbsp;Total hours worked</td>
	</tr>
    		~foreach from=$monthDaysArray item=v`
	<tr class="label">
        <td align="center" width=10% >&nbsp;~$v`</td>
	<td width="80%">
	<table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
		~foreach from=$login[$v] item=v1 key=k1`
		<tr class="label">
		<td align="center" width="33%">&nbsp;~$v1`</td>
		<td align="center" width="33%">&nbsp;~$logout[$v][$k1]`</td>
		<td align="center" width="33%">&nbsp;~$diff[$v][$k1]`</td>
		</tr>
		~/foreach`
	</table>
       	<td align="center" width=10% >&nbsp;~$tot_diff[$v]`</td>
	</tr>
      			~/foreach`
	</table>
	
~else`
~if $msg neq ''`
 <table width=100% align="center" border=0 cellspacing=2 cellpadding=5>
        <tr >
        <td align="center" style="font-family: Verdana; font-size: 12px; font-weight: normal; color: red;">
~$msg`
        </td>
        </tr>
</table>
~/if`
	  <table width=35% border=0 align="center">
        <tr >
	<td >
	  Month:
        </td>
        <td>
                <select name="month">
                        ~foreach from=$monthArray key=k item=v`
                        ~if $k!=$todMonth`
                        <option value="~$k`">~$v`</option>
                        ~else`
                        <option value="~$k`" selected="selected">~$v`</option>
                        ~/if`
                        ~/foreach`
                </select>
        </td>
        </tr>
        <tr>
        <td>
	  Year:
        </td>
        <td>
                <select name="year">
                        ~section name=formYearLoop loop=$yearArray`
                        ~if $yearArray[formYearLoop]!=$todYear`
                        <option value="~$yearArray[formYearLoop]`">~$yearArray[formYearLoop]`</option>
                        ~else`
                        <option value="~$yearArray[formYearLoop]`" selected="selected">~$yearArray[formYearLoop]`</option>
                        ~/if`
                        ~/section`
                </select>
        </td>
        </tr>
	<tr>
	</tr>
	<tr>
	</tr>
		
	<tr>
		<td>
		Executive
		</td>
		<td>
		<select name= "operator">
		<option value="all" selected= "selected">Select</option>
		~section name= loc loop= $op_uname`
		<option value="~$op_uname[loc]`">~$op_uname[loc]`</option>
		~/section`
		</select>
	</tr>			
        <tr>
	        <td width=100% align="center">
	        <input type="submit" name="submit1" value="GO!"></input>
	        </td>
        </tr>
        </table>
</form>
~/if`
</body>
</html>
