<html>
   <head>
      <title>SKYPAK MIS</title>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <link rel="stylesheet" href="jeevansathi.css" type="text/css">
      <style>
        DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
      </style>
   </head>
   <body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
   <br><br>
~if $flag eq '1'`
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	   <tr class="formhead">
              <td colspan=100% align="center">SKYPAK INVOICE MIS</td>
	   </tr>
	   <tr class="formhead">
	      <td colspan=100% align="center">MIS FOR &nbsp;~$month`-~$year`</td>
	   </tr>
	</table>
	<br>
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	   <tr class=label>
	      <td width=5% align=center rowspan=1><span class=black>STATUS </span></td>
              ~section name=dd loop=$ddarr`
                 <td align=center width=3%>~$ddarr[dd]`</td>
              ~/section`
              <td width=5% align=center>Total</td>
          </tr>
	  ~section name=i loop=$statusarr`
		<tr class=fieldsnew>
                   <td align=center class=label>
		   ~if $statusarr[i] eq 'C'` Payment collected 
		   ~elseif $statusarr[i] eq 'S'` Payment collected and Service start
		   ~elseif $statusarr[i] eq 'D'` Payment declined
  		   ~elseif $statusarr[i] eq 'R'` Resent for payment collection
		   ~elseif $statusarr[i] eq 'N'` No Response  
		   ~elseif $statusarr[i] eq 'X' OR $statusarr[i] eq 'X1'` Case Closed  ~/if`
		   </td>
                 ~section name=dd loop=$ddarr`
                   <td align=center rowspan=1>&nbsp;<span>~$statuscount[i][dd]`</span></td>
                 ~/section`
		   <td class=label align=center>&nbsp;<span>~$totalstatcount[i]`</span></td>
		</tr>
         ~/section`
                <tr class=label>
                     <td align=center><b>Total</b></td>
                             ~section name=dd loop=$ddarr`
                                  <td align=center>&nbsp;<a href="skypakmisdetails.php?cid=~$cid`&day=~$smarty.section.dd.index_next`&month=~$month`&year=~$year`">~$totalcount[dd]`</a></td>
               	             ~/section`
		     <td align=center>&nbsp;~$grandtotal`</td>
               </tr>
	</table>
~else`
	<form method=post action="skypakmis.php">
	   <table width=80% border=0 align="center" cellpadding=5>
	      <tr>
	         <td >SELECT PERIOD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            <select name="month">
                    ~section name=mon loop=$mmarr`
                       <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
                    ~/section`
                    </select> - 
	            <select name="year">
                    ~section name=yr loop=$yyarr`
                       <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
                    ~/section`
                    </select>&nbsp;Month - Year
	         </td>
	      </tr>
	      <tr>
	         <input type="hidden" name="cid" value=~$cid`>
	         <td ><input type="submit" name="submit" value="submit"></td>
	      </tr>
	   </table>
	</form>
~/if`
</body>
</html>
