<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
<script>
function checkDuration()
{
	var c=0;
	var d=document.rel_score;
	if (d.month.options[d.month.selectedIndex].value != 'ALL' && d.year.options[d.year.selectedIndex].value=='ALL')
        {
		alert('Please select year as well');
		return false;
	}
	else if (d.month.options[d.month.selectedIndex].value == 'ALL' && d.year.options[d.year.selectedIndex].value !='ALL')
	{
		alert('Please select month as well');
		return false;
        }
	else if (d.month.options[d.month.selectedIndex].value == 'ALL' && d.year.options[d.year.selectedIndex].value =='ALL')
	{
		alert('Please select month and year.');
		return false;
        }
	else
		return true;
}
</script>                                                                                                                      
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
                                                                                                                             
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="/profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br>
<form name="rel_score" method=post action="source_revenue_attribute.php" onsubmit="return checkDuration();">
        <table width=100% border=0 align="center" cellpadding=5>
        <tr align="center">
        <td align="right">Select Month &nbsp;
        <select name="month">
                <option value="ALL" ~if $month eq 'ALL'` selected ~/if`>ALL</option>
        ~section name=mm loop=$mmarr`
                <option value=~$mmarr[mm]` ~if $mmarr[mm] eq $month` selected ~/if`>~$mmarr[mm]`</option>
        ~/section`
        </select>&nbsp;-
        <select name="year">
		<option value="ALL" ~if $myear eq 'ALL'` selected ~/if`>ALL</option>
        ~section name=yr loop=$yyarr` 
                <option value=~$yyarr[yr]` ~if $yyarr[yr] eq $myear` selected ~/if`>~$yyarr[yr]`</option>
        ~/section`
        </select>
        </td>
        <!--td align="center">
               <input type="hidden" name="cid" value="~$cid`">
        </td-->
        <td align="center">
            <input type="hidden" name="cid" value="~$cid`">
            <input type="submit" name="CMDGo" value="Go">
        </td>
        </tr>
        </table>
</form>

<table width=100% border=0 align="center">
        <tr class="label">
		<td  align="center"><span class="red">No of Profiles</span><br><span class="blue">Expected Revenue</span><br><span class="green">Expected Revenue/Profile</span><br><span class="orange">Actual Revenue/Profile</span><br><span>Actual Revenue</span></td>
        </tr>
</table>
	
<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
	<tr class="label">
        <td align="center" width=10%>&nbsp;Source/Day</td>
        ~section name=ind loop=$ddarr`
                <td width=6% align="center">&nbsp;~$ddarr[ind]`</td>
        ~/section`
        <td align="center" width=12%>&nbsp;Total</td>
        </tr>
	
	~section name=src loop=$sources`
	<tr class="fieldsnew">
	<td align="center" class=label>&nbsp;~$groups_name[src]`</td>
		 ~section name=ss loop=$ddarr`
		<td align="center"><span class="red">~$sources[src][ss]`</span><br><span class="blue">~$revenue[src][ss]`</span><br><span class="green">~$revenue_per_profile[src][ss]`</span><br><span class="orange">~$amount_per_profile[src][ss]`</span><br><span>~$amount[src][ss]`</span></td>
		~/section`
	<td align="center" class=label><span class="red">~$sources_total[src]`</span><br><span class="blue">~$revenue_total[src]`</span><br><span class="green">~$revenue_per_profile_total[src]`</span><br><span class="orange">~$amount_per_profile_total[src]`</span><br><span>~$amount_total[src]`</span></td>
	</tr>
	~/section`
	

	<tr class="label">
	<td align=center>Total</td>
        ~section name=ind loop=$ddarr`
                <td align="center"><span class="red">~$sources_day_total[ind]`</span><br><span class="blue">~$revenue_day_total[ind]`</span><br><span class="green">~$revenue_per_profile_day_total[ind]`</span><br><span class="orange">~$amount_per_profile_day_total[ind]`</span><br><span>~$amount_day_total[ind]`</span></td>
        ~/section`
                <td align="center"><span class="red">~$sources_final_total`</span><br><span class="blue">~$revenue_final_total`</span><br><span class="green">~$revenue_per_profile_final_total`</span><br><span class="orange">~$amount_per_profile_final_total`</span><br><span>~$amount_final_total`</span></td>
	</tr>
	

</body>
</html>                      
