<html>
<head>
        <title>Jeevansathi.com - MIS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
        DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                                             
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
~if $searchFlag eq "1"`
	<br /><br />
         <table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
           <tr width=100% border=1>
            <td width=30% class="formhead" height="23" align="center"><font><b>Welcome </b></font></td>
         <td width=30% class="formhead" align='CENTER' height="23">
            <a href="mainpage.php?cid=~$CHECKSUM`">Click here to go to mainpage</a>
            </td>
            <td width=30% class="formhead" align='CENTER' height="23">
             <a href="/jsadmin/logout.php?cid=~$CHECKSUM`">Logout</a>
            </td>
           </tr>
          </table>
        <br><br>
        <table width=100% align="center">
        <tr class="formhead">
        <td colspan=100% align="center">&nbsp;Month : ~$searchMonth`  Year : ~$searchYear`</td>
        </tr>
        </table>
        <br>
	<p align="center">Key : Absolute value , <font color="red">Number of users who paid up</font></p>
	<br>
	<table width=1070px  border=0 align="center">
                        <tr class="formhead">
                                <td  align="center">&nbsp;CLICKS ON EMAIL LINK</td>
                        </tr>
        </table>

	  <table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
                        <tr class="label">
                                <td align="center">&nbsp;Day</td>
                                ~foreach from=$monthDaysArray item=v`
                                <td align="center">&nbsp;~$v`</td>
                                ~/foreach`
                                 <td align="center">&nbsp;Total</td>
                         </tr>
			 
                         <tr class="fieldsnew">
				<td class="label" align="center">No: of clicks</td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
					<tr class="fieldsnew"><td align="center">~if $table.clickabs[$d]`~$table.clickabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red"> ~$table.paid[$d]`</font></td></tr>
					</table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
					<tr class="fieldsnew"><td class="label" align="center">~if $table.clicktotalabs`~$table.clicktotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
					<tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
					</table>
				</td>
                        </tr>
		</table>

		 <br><br>
		
		<table width=1070px  border=0 align="center">
				<tr class="formhead">
                                <td  align="center">&nbsp;OPTED IN</td>
				</tr>
		</table>

		<table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
                        <tr class="label">
                                <td align="center">&nbsp;Day</td>
                                ~foreach from=$monthDaysArray item=v`
                                <td align="center">&nbsp;~$v`</td>
                                ~/foreach`
                                 <td align="center">&nbsp;Total</td>
                         </tr>

                         <tr class="fieldsnew">
                                <td class="label" align="center">
				From Direct Login
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">                                        
					<tr class="fieldsnew"><td align="center">~if $table.optinpabs[$d]`~$table.optinpabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
				<td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.optinptotalabs`~$table.optinptotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
			<tr class="fieldsnew">
                                <td class="label" align="center">
                                From Email
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">                                        
                                        <tr class="fieldsnew"><td align="center">~if $table.optinmabs[$d]`~$table.optinmabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.optinmtotalabs`~$table.optinmtotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
			 <tr class="fieldsnew">
                                <td class="label" align="center">
                                Total Opt In
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.optinabs[$d]`~$table.optinabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.optintotalabs`~$table.optintotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
                </table>

		<br /><br />

		<table width=1070px  border=0 align="center">
                                <tr class="formhead">
                                <td  align="center">&nbsp;OPTED OUT</td>
                                </tr>
                </table>
		<table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
                        <tr class="label">
                                <td align="center">&nbsp;Day</td>
                                ~foreach from=$monthDaysArray item=v`
                                <td align="center">&nbsp;~$v`</td>
                                ~/foreach`
                                 <td align="center">&nbsp;Total</td>
                         </tr>

                         <tr class="fieldsnew">
                                <td class="label" align="center">
                                From Direct Login
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.optoutpabs[$d]`~$table.optoutpabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.optoutptotalabs`~$table.optoutptotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
			<tr class="fieldsnew">
                                <td class="label" align="center">
                                From Email
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.optoutmabs[$d]`~$table.optoutmabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.optoutmtotalabs`~$table.optoutmtotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
			<tr class="fieldsnew">
                                <td class="label" align="center">
                                Total Opt Out
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.optoutabs[$d]`~$table.optoutabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.optouttotalabs`~$table.optouttotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
                </table>

		<br /><br />

                <table width=1070px  border=0 align="center">
			<tr class="formhead">
			<td  align="center">&nbsp;NO RESPONSE</td>
			</tr>
                </table>
		<table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
                        <tr class="label">
                                <td align="center">&nbsp;Day</td>
                                ~foreach from=$monthDaysArray item=v`
                                <td align="center">&nbsp;~$v`</td>
                                ~/foreach`
                                 <td align="center">&nbsp;Total</td>
                         </tr>

                         <tr class="fieldsnew">
                                <td class="label" align="center">
                                From Direct Login
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.norespabs[$d]`~$table.norespabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.noresptotalabs`~$table.noresptotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
					</table>
                                </td>
		       </tr>
			<tr class="fieldsnew">
                                <td class="label" align="center">
                                From Email
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.noresmabs[$d]`~$table.noresmabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.noresmtotalabs`~$table.noresmtotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
	               </tr>
			 <tr class="fieldsnew">
                                <td class="label" align="center">
                                Total No Responses
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.noresabs[$d]`~$table.noresabs[$d]`~else`~if $table.paid[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.paid[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.norestotalabs`~$table.norestotalabs`~else`~if $table.paidtotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.paidtotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
                </table>


		<br>
        	<p align="center">Key : Absolute value , <font color="red">Number of users who paid on that day and opted in at any point later</font></p>
        	<br>

                <table width=1070px  border=0 align="center">
                                <tr class="formhead">
                                <td  align="center">&nbsp;DOWNLOAD / EMAIL AT LEAST ONE VOUCHER</td>
                                </tr>
                </table>
		<table width=100% align="center" border=0 cellspacing=2 cellpadding=2>
                        <tr class="label">
                                <td align="center">&nbsp;Day</td>
                                ~foreach from=$monthDaysArray item=v`
                                <td align="center">&nbsp;~$v`</td>
                                ~/foreach`
                                 <td align="center">&nbsp;Total</td>
                         </tr>

                         <tr class="fieldsnew">
                                <td class="label" align="center">
                                Download
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.downloadabs[$d]`~$table.downloadabs[$d]`~else`~if $table.optinabs[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.optinabs[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.downloadtotalabs`~$table.downloadtotalabs`~else`~if $table.optinabstotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.optinabstotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
			 <tr class="fieldsnew">
                                <td class="label" align="center">
                                Email
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.emailabs[$d]`~$table.emailabs[$d]`~else`~if $table.optinabs[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.optinabs[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.emailtotalabs[$d]`~$table.emailtotalabs`~else`~if $table.optinabstotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.optinabstotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
			<tr class="fieldsnew">
                                <td class="label" align="center">
                                Total Claims
                                </td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table align="center">
                                        <tr class="fieldsnew"><td align="center">~if $table.downabs[$d]`~$table.downabs[$d]`~else`~if $table.optinabs[$d]`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" ><font color="red">~$table.optinabs[$d]`</font></td></tr>
                                        </table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table align="center">
                                        <tr class="fieldsnew"><td class="label" align="center">~if $table.downtotalabs`~$table.downtotalabs`~else`~if $table.optinabstotal`0~else`&nbsp;~/if`~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center"><font color="red">~$table.optinabstotal`</font></td></tr>
                                        </table>
                                </td>
                        </tr>
                </table>
		
		
~else`
<form action="voucher_response.php" method="post">
<input type="hidden" name="checksum" value=~$CHECKSUM`></input>

          <table width=20% border=0 align="center">
        <tr >
        <td>
          Month:
        </td>
        <td>
                <select name="month">
                        ~foreach from=$monthArray key=k item=v`
                        ~if $k!=$todMonth`
                        <option value=~$k`>~$v`</option>
                        ~else`
                        <option value=~$k` selected="selected">~$v`</option>
                        ~/if`
                        ~/foreach`
                </select>
        </td>
        </tr>
        <tr>
        <td>
          Year:
        </td>
        <td>
                <select name="year">
                        ~section name=formYearLoop loop=$yearArray`
                        ~if $yearArray[formYearLoop]!=$todYear`
                        <option value=~$yearArray[formYearLoop]`>~$yearArray[formYearLoop]`</option>
                        ~else`
                        <option value=~$yearArray[formYearLoop]` selected="selected">~$yearArray[formYearLoop]`</option>
                        ~/if`
                        ~/section`
                </select>
        </td>
        </tr>
 	<td width=100% align="center">
        <input type="submit" name="go" value="GO!"></input>
        </td>
        </tr>
        </table>


</form>

~/if`
<br /><br />
</body>
</html>
