@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; float:none; list-style:none; text-decoration:none;}
textarea{font:12px Arial, Helvetica, sans-serif;}
body{font:12px Arial, Helvetica, sans-serif; padding-bottom:30px;}

a img{border:0!important;}

.fl{float:left;}
.fr{float:right;}
.clr{clear:both; height:0!important; overflow:hidden!important;}
.clr_10{clear:both; height:10px; overflow:hidden; font-size:2px;}

.b{font-weight:bold;}

.d_inl{display:inline;}

.p_abs{position:absolute;}
.p_rel{position:relative;}

a{color:#0870b2;text-decoration:none;}

/*font-sizes starts here*/
.f_11{font-size:11px;}
.f_12{font-size:12px;}
.f_13{font-size:13px;}
.f_14{font-size:14px;}
.f_16{font-size:16px;}
.f_18{font-size:18px;}
/*font-sizes starts here*/

/*colors starts here*/
.drk_gry{color:#6d6d6d;}
.orng{color:#ff9c00;}
.blk{color:#000;}
/*colors ends here*/

/*margin starts here*/
.m_18{margin-top:18px;}
.ml_17{margin-left:17px;}
.ml_15{margin-left:15px;}
.ml_8{margin-left:8px;}
.ml_2{margin-left:2px;}
.mb_5{margin-bottom:5px;}
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_24{margin-top:24px;}
.mb_8{margin-bottom:8px;}
.mr_10{margin-right:10px;}
/*margin ends here*/

/*padding starts here*/
.pd_4{padding:4px;}
.pd_5{padding:5px;}
/*padding ends here*/

#main_cont{width:990px; margin:auto;border-bottom:1px solid #959595;}

/*header starts here*/
#main_cont .hdr{border-bottom:1px solid #959595; width:100%;}
#main_cont .hdr img{float:left; padding:13px 0 17px 17px;}
/*header ends here*/

/*mid cont starts here*/
#main_cont .mid_cont{width:100%; float:left; background:url(/profile/images/mid_cont_bg.gif) repeat-y; padding-bottom:30px;}
#main_cont .mid_cont ul.left_nav{list-style:none;width:170px; padding:35px 0 0 35px;}
#main_cont .mid_cont ul.left_nav a.active, #main_cont .mid_cont ul.left_nav a:hover{color:#000;}
#main_cont .mid_cont ul.left_nav li{float:left; width:168px; margin-bottom:18px;}

#main_cont .mid_cont .right_cont{width:770px; margin:15px 0 0 15px;}
#main_cont .mid_cont .right_cont .ylw_cont{width:765px; border:1px solid #fed369; padding:1px; padding:0 0 2px; float:left;}
#main_cont .mid_cont .right_cont .ylw_cont .tp{width:757px; height:18px; background:url(/profile/images/ylw_bg.gif); padding:0 4px;}
#main_cont .mid_cont .right_cont .info{width:365px; margin:5px 5px 10px; display:inline; overflow:hidden;}
#main_cont .mid_cont .right_cont .info p{float:left; width:104px;}
#main_cont .mid_cont .right_cont .info label{float:left; width:260px; padding-bottom:3px;}

#main_cont .mid_cont .right_cont .comment{width:745px; background:#efefef; border:1px solid #ddd; padding:10px;}
#main_cont .mid_cont .right_cont .comment b{float:left; width:120px; color:#6d6d6d;}
#main_cont .mid_cont .right_cont .comment i{float:left; width:575px; font-style:normal;}
textarea.txt1{width:578px; height:84px; border:1px solid #b4b6c1;}
.gry_btn{padding:2px 0; text-align:center; background:url(/profile/images/gry_btn_bg.gif) repeat-x; color:#fff; height:19px; overflow:hidden; border:1px solid #616161; font:bold 13px Arial, Helvetica, sans-serif;}
/*mid cont ends here*/

/*comment pop up box starts here*/
.cmts_pop_box{width:555px; border:1px solid #d4d28d; padding:10px; background:#fdffd9 url(/profile/images/comnt_pop_up_arr.gif) 48% -15px no-repeat; position:absolute; left:-236px; top:30px; font:normal 13px Arial, Helvetica, sans-serif; display:none;}
/*comment pop up box ends here*/

.ylw_confirm{width:745px; border:1px solid #fff492; background:#fff9c6; padding:5px 10px; color:#333;}

.det_pro_intro{width:740px; border:1px solid #feb43b; padding:10px;}

/*listing */
.sr_top_bg{background-image:url(/profile/images/sr_top_bg.gif); background-repeat:repeat-x; height:20px;}
.sr_bottom_bg{background-image:url(/profile/images/sr_bottom_bg.gif); background-repeat:repeat-x; height:5px; overflow:hidden;}
.red{color:#e40410}
.gray{color:#6f6e6e; text-decoration:none}
.orange_border{border:1px #fed369; border-left-style:solid; border-right-style:solid;width:100%; padding:5px; width:366px;}
.blink{color:#117daa;}
a.blink:link, a.blink:visited, a.blink:active{color:#117daa; text-decoration:none;}
a.blink:hover{color:#117daa; text-decoration:underline;}
.pt_5{padding:5px}
.pd2{padding:2px}
.pt_2{padding-top:2px}
input{font:normal 11px arial; border:0px #969696 solid; margin:0px; padding:0px}
.clr_10{clear:both; height:10px; overflow:hidden; font-size:2px;}
.wd{width:380px}
.yellow_band{border:1px #edf294 solid; background-color:#fdffd0;}
.ywd{width:757px;}
.green_btn{background-image:url(/profile/images/green_button_bg.gif); background-repeat:repeat-x; height:22px; border:1px #578d00; border-style:solid; padding-bottom:2px; font-size:12px; color:#fff; cursor:pointer;}
.sreach_pannal{background-image:url(/profile/images/bg_search.gif);background-repeat:repeat-x;}
div.row{clear:both; padding:3px 0 0px 0;color:#000;width:98%;margin:auto;}
.searchbtn{background-image:url(/profile/images/search_button.gif);background-repeat:no-repeat;border:0px;width:62px;height:24px; color:#ffffff; font:bold 13px arial; padding-bottom:1px;}
.hr_l{border:#959595 1px; border-bottom-style:solid;}
.chk{border:none;height:18px;vertical-align:middle}


/*general pagination starts here*/
ul.pagination{margin:0; padding:0; font:11px Arial, Helvetica, sans-serif;}
ul.pagination li{float:left; border:1px solid #929292; color:#929292; background-color:#FFFFFF; margin-left:5px; list-style:none;}
ul.pagination li a{color:#929292; text-decoration:none; padding:2px 10px; float:left;}
ul.pagination li a:hover{color:#0090da; }
ul.pagination li.pg_num select{width:57px; margin:0; padding:0 0 1px; font:11px Arial, Helvetica, sans-serif; border:1px solid #929292; }
/*general pagination ends here*/
