<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title> ADDING NEW USER INFORMATION </title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body>
<center><h3>ADD NEW USER INFORMATION<h3><center>
<form action="addnew_user.php" method=POST>
<table border="0" cellspacing="2" cellpadding="2" width=80% align=center>
<tr>
	<td class=label width=40%>
		~if $check_name eq 1 or $user_exists eq '1'` <font color=red> USERNAME ~if $user_exists eq '1'` &nbsp;&nbsp;(This username already exists) ~/if`</font> ~else` USERNAME ~/if`
	</td>
	<td class=fieldsnew><input type=text   name=USERNAME  value="~$USERNAME`"></font></td>
</tr>
<tr>
        <td class=label>~if $check_passwd eq 1`<font color=red> PASSWORD </font> ~else` PASSWORD ~/if`</td>
        <td class=fieldsnew><input type=text   name=PASSWORD   value="~$PASSWORD`"></td>
</tr>
<tr>
	<td class=label>~if $check_email eq 1` <font color=red> EMAIL </font> ~else` EMAIL ~/if`</td>
	<td class=fieldsnew><input type=text   name=EMAIL  value="~$EMAIL`"></td>
</tr>
<tr>
        <td class=label>~if $check_priv eq 1` <font color=red> PRIVILAGE </font> ~else` PRIVILAGE ~/if`</td>
        <td class=fieldsnew><select name="PRIVILAGE[]" size="5" multiple class="TextBox">~$options`</td>
</tr>
<tr>
        <td class=label>~if $check_center eq 1` <font color=red> CENTER</font> ~else` CENTER ~/if`</td>
        <td class=fieldsnew><select  name=CENTER >~$center`</td>
</tr>
<tr>
	<td class=label>~if $check_active eq 1` <font color=red> ACTIVE </font> ~else` ACTIVE ~/if`</td>
	<td class=fieldsnew><input type=checkbox name=ACTIVE value="Y" checked></td>
</tr>
<tr align=center>
<td class=fieldsnew colspan=100%>
	<input type=Hidden  name=RESID    value=~$RESID`>
	<!--<input type=Hidden  name=PRIVILAGE value=~$PRIVILAGE`> -->
	<input type=Hidden  name=cid    value=~$cid`>
	<input type=submit  name=submit value=Submit>
</td>
</tr>
</table>
</body>
</html>   
