<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title> EDITING THE USER INFORMATION </title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body>
<center><h3>EDIT ACCOUNT DETAILS</h3></center>
<br>
<form action="edit_userlogin.php" method=POST>
<table border="0" cellspacing="2" cellpadding="2" width=70% align=center>
<tr>
	<td class=label> USERNAME</td>
	<td class=fieldsnew>~$USERNAME`</font></td>
</tr>
<tr>
        <td class=label> PASSWORD </td>
        <td class=fieldsnew><input type=text   name=MOD_PASSWD   value="~$MOD_PASSWD`"><font color=red>&nbsp;&nbsp;(Enter password only in case you wish to change your existing one)</font></td>
</tr>
<tr>
	<td class=label>~if $check_email eq 1` <font color=red> EMAIL </font> ~else` EMAIL ~/if`</td>
	<td class=fieldsnew><input type=text   name=MOD_EMAIL  value="~$EMAIL`"></td>
</tr>
<tr>
        <td class=label>~if $check_priv eq 1` <font color=red> PRIVILAGE </font> ~else` PRIVILAGE ~/if`</td>
        <td class=fieldsnew><select name="MOD_PRIV[]" size="4" multiple class="TextBox">~$options`</td>
</tr>
<tr>
        <td class=label>~if $check_center eq 1` <font color=red> CENTER</font> ~else` CENTER ~/if`</td>
        <td class=fieldsnew><select name=MOD_CENTER  >~$center`</td>
</tr>
<tr>
	<td class=label>~if $check_active eq 1` <font color=red> ACTIVE </font> ~else` ACTIVE ~/if`</td>
	<td class=fieldsnew><input type=checkbox name=MOD_ACTIVE value="Y" ~if $ACTIVE eq 'Y'` checked ~/if`></td>
</tr>
<tr align=center>
<td class=fieldsnew colspan=100%>
	<input type=Hidden  name=RESID    value=~$RESID`>
	<input type=Hidden  name=cid    value=~$cid`>
	<input type=submit  name=submit value=MODIFY>
</td>
</tr>
</table>
</body>
</html>   
