<html>
<head>
<title>JeevanSathi Matrimonials - Promotion through newspapers</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="styles.css" type="text/css">
~$HEAD`
</head>
	<body>
		<form action="emailvalidation.php" method="POST">
			<br><br><br>
			<table width="560" border="0" cellpadding="1" cellspacing="2" align="center">
				<tr class=formhead>
				      <td width=30% align=center >Welcome : ~$username`</td>
				      <td height="20" align="right">
					      <a href=mainpage.php?cid=~$cid`&mode=~$mode`>Main page</a>&nbsp;&nbsp;
     				      </td>
				      <td height="20" width=20% align="center">
					        <a href=logout.php?cid=~$cid`>Logout</a>
     				</td>
				</tr>
			</table>
			<table width="560" border="0" cellpadding="1" cellspacing="1" align="center">
				<tr class="label" >					
					<td colspan="2" height="20" align="center">
						~$MSG`
					</td>
				</tr>
				<tr>
					<td class="label" width=30% align="center">EMAIL</td>
					<td class="fieldsnew" width=55% align="left">
						<input type="text" name="EMAIL" value=~$EMAIL`>
					</td>
				</tr>
				<tr class="fieldsnew">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="fieldsnew" align="center" width=40%>&nbsp;</td>
					<td class="fieldsnew" align="left" width=60%>
						<input type=hidden name=cid   value=~$cid`>
						<input type=hidden name=name  value=~$name`>
						<input type=hidden name=mode  value="N">
						<input type=hidden name=username  value="~$username`">
						<input type=hidden name=email value="~$EMAIL`">
						<input type=hidden name=modcontinue value=~$modcontinue`>
						<input type=submit name=isvalidemail value="Check Validity Of Email-ID" class="testbox">
					</td>
				</tr>
		</table>
	</body>
</html>
