<html>
<head>
<title>
	Jeevansathi BlueDart Pincode Search 
</title>
<link rel="stylesheet" href="/jsadmin/jeevansathi.css" type="text/css">
<link rel="stylesheet" href="/profile/images/styles.css" type="text/css">
</head>
<body>
<form name="pinform" method="post" action="bluedart_pincode.php">
	<table align=left>
		<tr class="fieldsnew">
			<td class="label">Please Enter the City to search : </td>

			<td>
				<select name="pin">
					 <option value="">Please select</option>
					 ~section name=foo loop=$CITY_PIN`
						 <option ~if $CITY_PIN[foo] eq $pin` selected="yes" ~/if` value=~$CITY_PIN[foo]` >~$CITY_PIN[foo]` </option>
					 ~/section`
				</select>
			</td>

			<!--td>
				~if $pin neq ''`
					<input type="text" value="~$pin`" name="pin">
				~else`
					<input type="text" value="" name="pin">
				~/if`
			</td-->
			<td>
				<input type="submit" value="Search" name="submit">
			</td>
		</tr>
	</table>
</form>
<br /><br />
<table cellpadding = 5 align=left>

~if $showmessage eq 'Y'`
	~if $NO_RECORD eq 'Y'`
		<tr class="fieldsnew">
			<td class="red" colspan=2>Sorry ! Bluedart COD Service is not available at given location.</td>
		</tr>
	~else`
		<td class="red" colspan=2>Bluedart COD Service is available for this location.</td>
		<tr class="formhead">
			<td width="10%">Pincode</td>
			<td>City</td>
			<td>Bluedart Branch Location</td>
			<td>State </td>
		</tr>
		~assign var="tab" value=0`
		~section name="pincode" start=0 loop=$count`
		~assign var="finalval" value=$tab`
		<tr class="fieldsnew">
			<td>~$pincode[$finalval]`</td>
			<td>~$area[$finalval]` </td>
			<td>~$subarea[$finalval]`</td>
			<td>~$state[$finalval]`</td>
		</tr>
		~assign var="tab" value=$tab+1`
		~/section`
		
	~/if`
~/if`
</table>


</body>
</html>
