<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
<SCRIPT language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features)
{
        window.open(theURL,winName,features);
}

//-->
</script>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>JeevanSathi.com - CRM - Get User History</title>
  <link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
  <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
 </head>
 ~include file="head.htm"`
 <br>
 <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <table width=100% cellspacing="1" cellpadding='0' ALIGN="CENTER" >
   <tr width=100% border=1>
    <td width="30%" class="formhead" height="23"><font><b>Welcome :~$name`</b></font></td>
    <td width="25%" class="formhead" align="center"><a href="../jsadmin/mainpage.php?cid=~$cid`&name=~$name`">Click here to go to main page</a></td>
    <td width="6%" class="formhead" align='RIGHT' height="23">
        <a href="logout.php?cid=~$cid`">Logout</a>
    </td>
    <td width="3%" class="formhead" height="23">&nbsp;
    </td>
   </tr>
  </table>
~if $flag eq '1'`
 ~if $wrong_username eq 'Y' or $NOTFOUND eq 'Y'`
  <br><br>
  <table width=80% align=center>
  <tr>
	<td class=label align=center>Sorry! No Record Found </td>
  </tr>
  <tr>
	<td class=label align=center><a href="get_history.php?cid=~$cid`">Click here to continue</a></td>
  </tr>
  </table>
 ~elseif $SHOW_FOLLOW eq 'Y' or $ADMIN eq 'Y' or $INBOUND eq 'Y'`
  <table width=100% align="CENTER" class="fieldsnew">
	~if $ROW.show_IM eq 'Y'`
    <tr align="CENTER" bgcolor="#fgfgfg">
      <td class="formhead" colspan="4" height="23"><b><font size="5" color="green">Incentive Multiplier : ~$ROW.IM`</font></b></td>
    </tr>
	~/if`
    <tr align="CENTER">
      <td class="formhead" colspan="4" height="23"><b><u><font size="3" color="black">History</font></u></b></td>
    </tr>
    <tr align="CENTER">
      <td class="label" width=5% height="20"><b>S.No.</b></td>
      <td class="label" width="15" height="20"><b>Handled By</b></td>
      <td class="label" width=20% height="21"><b>Date</b></td>
      <td class="label" width=15% height="21"><b>Mode</b></td>
      </tr>
 ~section name=index loop=$ROW`
    <tr align="CENTER" bgcolor="#fbfbfb" >
      <td height="20" align="CENTER" width="5%">~$ROW[index].SNO`</td>
      <td height="20" width="15%">~$ROW[index].NAME`</td>
      <td height="21" width="20%">~$ROW[index].DATE`</td>
      <td height="21" width="15%" align="LEFT">~$ROW[index].MODE`</td>
    </tr>
    ~if $ROW[index].COMMENTS neq ''`	
    <tr bgcolor="#fgfgfg" >
      <td height="21" align="CENTER" width="5%">&nbsp;</td>
      <td width=20% height="21"><b>Comments</b></td>
      <td height="21" colspan="4">~$ROW[index].COMMENTS`</td>
    </tr>
    ~/if`
        <tr class="label">
      <td height="21" align="CENTER" width="5%" colspan=7>&nbsp;</td>
        </tr>
    ~/section`
 </table>
 <br>
 ~if $SHOW_FOLLOW eq 'Y' or $SHOW_FOLLOW eq 'I'`
<br>
 <table width=80% align=center>
 <tr class=label>
~if $ALREADY_PAID eq 'Y'`
  <td align=center class=red>&nbsp;This member is already paid.</td>
~elseif $OUT_OF_REGION eq 'Y'`
  <td align=center class=red>&nbsp;This member is out of your region.</td>
~elseif $NOT_ALLOTED eq 'Y' and $INBOUND eq 'Y'`
	<td align="center">
		<a href="" onClick="MM_openBrWindow('~$SITE_URL`/operations.php/crmAllocation/inboundAllocation?username=~$USERNAME`&profileid=~$PROFILEID`&cid=~$cid`&submit=history','','width=800,height=600,scrollbars=yes'); return false;">Click here to claim this user</a>
	</td>
~elseif $SHOW_FOLLOW eq 'Y'`
  <td align=center><a href="#" onclick="MM_openBrWindow('~$SITE_URL`/operations.php/crmAllocation/agentAllocation?username=~$USERNAME`&profileid=~$PROFILEID`&cid=~$cid`','','width=800,height=600,scrollbars=yes'); return false;">Click here to follow this user</a></td>
~/if`
~/if`
<td align=center><a href="../crm/easy_bill_link.php?cid=~$cid`&pid=~$PROFILEID`&username=~$USERNAME`"><font size='3'>Click here for Easy Bill request </font></a></td>
<td align=center><a href="../crm/generate_ivr_code.php?cid=~$cid`&pid=~$PROFILEID`&username=~$USERNAME`"><font size='3'>Click here to generate IVR code </font></a></td>
<td align=center><a href="~$SITE_URL`/crm/show_matchalert.php?cid=~$cid`&pid=~$PROFILEID`&crmback=admin" target="_blank">Click here to view daily recommendations sent to this user</a></td>
<td align=center><a href="../jsadmin/editprofile_request.php?pid=~$PROFILEID`&cid=~$cid`&user=~$USERNAME`">Change request</a></td>
<td align=center><a href="../crm/paymentcontact_crm.php?cid=~$cid`&pid=~$PROFILEID`&username=~$USERNAME`"><font size='3'>Click here to enter PickUp details </font></a></td>
 </tr>
 </table>
~if $ADMIN eq 'Y' or $INBOUND eq 'Y'`
<br>
<table width=80% align=center>
<tr class=label>
<td align=center> This profile is alloted to <span class=blue>~$orig_alloted_to`</span></td>
</tr>
</table>
<br><br>
~/if`
 <table width=80% align=center>
 <tr class=label>
	<td align=center> Username : <span class=blue>~$USERNAME`</span></td>
	<td align=center> Email : <span class=blue>~$EMAIL`</span></td>
 </tr>
 </table>
 ~if $INBOUND eq 'Y'`
<br>
 <form action="enter_comments.php" method=post>
 <table width=80% align=center>
 <tr class=label>
	<td align=center valign=top>&nbsp;~if $NO_COMMENTS eq 'Y'` <font color=red> ~/if` Enter Your Comments : ~if $NO_COMENTS eq 'Y'` </font> ~/if`</td>
 </tr>
 <tr class=fieldsnew>
	<td align=center>&nbsp;<textarea name="comments" cols=50 rows=10>~$comments`</textarea></td>
 </tr>
 <tr class=label>
	<td align=center valign=top>
		<input type="hidden" name="cid" value ="~$cid`">
		<input type="hidden" name="profileid" value ="~$PROFILEID`">
		<input type="hidden" name="username" value ="~$USERNAME`">
		<input type="submit" name="CMDSubmit" value ="  Go  ">
	</td>
 </tr>
 </table>
 </form>
 ~/if`
 ~else`
 <table width=80% align=center>
 <tr class=label>
	<td align=center> This profile is alloted to <span class=blue>~$orig_alloted_to`</span></td>
 </tr>
 </table>
 ~/if`
~else`
 <br><br>
 <form action=get_history.php method=post>
 <table width=80% align=center>
 <tr class=fieldsnew>
  <td align=center> Username : 
    <input type=text name="USERNAME">
  </td>
  <td align=left>
    <input type=submit name="GetHistory" value="Get History">
    <input type="hidden" name="cid" value="~$cid`">
    <input type="hidden" name="name" value="~$name`">
  </td>
 </tr>
 </table>
 </form>
~/if`
  <br><br>
 </body>
</html>
