<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>JeevanSathi - Inbound Manual Allotment</title>
	<link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
	<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
	<script language="JavaScript" src="common.js"></script>
	<script language="JavaScript">
		<!--
		function openBrWindow(theURL,winName,features)
		{
		var status = confirm("Do you really want to mark this user as Do Not Call?");
		if (status)
			win = window.open(theURL,winName,features);
		}
		function validate()
		{
			var docF = document.insertForm;
			if(docF.call_source.value=="")
			{
				alert("Please specify Call Source");
				docF.call_source.focus();
				return false;
			}
			if(docF.query_type.value=="")
			{
				alert("Please specify Query Type");
				docF.query_type.focus();
				return false;
			}
			if(docF.WILL_PAY.value=="")
	                {
        	                alert("Please specify disposition");
                	        docF.WILL_PAY.focus();
                        	return false;
                	}
			if(docF.REASON.value=="" && docF.WILL_PAY.value!="AA|X")
                	{
                        	alert("Please specify validation as well");
                        	docF.REASON.focus();
                        	return false;
                	}
			if(docF.comments.value.length == 0)
			{
				alert("Please enter the Comments");
				docF.comments.focus();
				return false;
			}
			return true;
		}
		//-->
	</script>
</head>
~include file="head.htm"`
<br>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	~if $submitted`
		<table width="80%" cellspacing="1" cellpadding='0' align="center">
			<tr class="label" align="center">
				<td>This Profile has been successfully alloted to you.</td>
			</tr>
			~if $exceed neq 0`
			<tr align="center">
				<td>You have reached your allocation limit and have <font color="blue"><b>~$exceed`</b></font> extra profiles.</td>
			</tr>
			~/if`
			<tr class="label" align="center">
				<td><input type="button" class="buttons1" value="Close This Window" onClick="window.close();"></td>
			</tr>
		</table>
	~else`
		<table width=100% cellspacing="1" cellpadding='0' align="center" >
			<tr width=100% border=1>
				<td width="25%" class="formhead" height="23">
					<font>
						<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome :~$name`</b>
					</font>
				</td>
				<td width="65%" class="formhead" align="center">
					<font color="brown">| INBOUND MODULE |</font>
					<a href="mainpage.php?cid=~$cid`">Click here to go to main page</a>
				</td>
				<td width="10%" class="formhead" align='right' height="23">
					<a href="logout.php?cid=~$cid`">Logout</a>
				</td>
				<td width="3%" class="formhead" height="23">&nbsp;</td>
			</tr>
		</table>
		~if $PAID_PROFILE eq 'Y'`
                        <table width="80%" cellspacing="1" cellpadding='0' align="center">
                        <tr class="label" align="center">
                                <td><font color="red">
					Inbound allocation for this profile is not permitted. Please email your supervisor to get the allocation
				</font>
				</td>
                        </tr>
                        <tr class="label" align="center">
                                <td><input type="button" class="buttons1" value="Close This Window" onClick="window.close();"></td>
                        </tr>
                        </table>
		~/if`
		~if $CANNOT_ALLOT eq 1`
			<table width="80%" cellspacing="1" cellpadding='0' align="center">
                        <tr class="label" align="center">
                                <td>The profile cant be alloted because it was registered by match point (~$ofl_se`).</td>
                        </tr>
                        <tr class="label" align="center">
                                <td><input type="button" class="buttons1" value="Close This Window" onClick="window.close();"></td>
                        </tr>
	                </table>
		~else`
		~if $WAS_PAID eq 'Y'`
			<br>
			<center class=red>This member has some payment history</center>
			<center class=label><a href="~$SITE_URL`/billing/search_user.php?cid=~$cid`&phrase=~$username`&criteria=uname" target="_blank">Click here to see the billing details of this member</a></center>
			<br>
		~/if`
		<center class=red>~$ACTIVE_STATUS_MESSAGE`</center>
		<form name="insertForm" method="post" action="inbound_allot.php" onsubmit="return validate();">
		<input type="hidden" name="cid" value="~$cid`">
		<input type="hidden" name="profileid" value="~$profileid`">
		<input type="hidden" name="username" value="~$username`">
		<input type="hidden" name="email" value="~$email`">

		<table width=90% align="center" cellspacing=2 cellpadding=1 border=0>
		<tr>
			<td class=label align="right" colspan="2">
				<a href="#" onclick="openBrWindow('do_not_call.php?username=~$username`&profileid=~$profileid`&cid=~$cid`','','width=200,height=200,scrollbars=yes'); return false;">Mark User as Do Not Call</a>
			</td>
		</tr>
		<tr>
			<td class=label align="left" width=30%> Username</td>
			<td class=fieldsnew width=70%> ~$username`</a></td>
		</tr>
		<tr>
			<td class=label align="left" width=30%> Email</td>
			<td class=fieldsnew width=70%> ~$email`</a></td>
		</tr>
		<tr>
			<td class="label" width="30%">
				~if $CHECK_CALL_SOURCE eq "Y"`
					<font color="red">Call Source</font>
				~else`
					Call Source*
				~/if`
			</td>
			<td class="fieldsnew">
				<select name="call_source" class="textboxes1">
					<option value="">Select</option>
					~section name=next loop=$call_source_arr`
						<option value="~$call_source_arr[next].value`">~$call_source_arr[next].name`</option>
					~/section`
				</select>
			</td>
		</tr>
		<tr>
			<td class="label" width="30%">
				~if $CHECK_QUERY_TYPE eq "Y"`
					<font color="red">Query Type</font>
				~else`
					Query Type*
				~/if`
			</td>
			<td class="fieldsnew">
				<select name="query_type" class="textboxes1">
					<option value="">Select</option>
					~section name=next loop=$query_type_arr`
						<option value="~$query_type_arr[next].value`">~$query_type_arr[next].name`</option>
					~/section`
				</select>
			</td>
		</tr>
		<tr>
 			<td class=label width="30%">
			   ~if $WILL_PAY eq "y"`<font color="red"> Disposition*</font>~else` Disposition*~/if`</td>
			<td class=fieldsnew>
        			<select name="WILL_PAY" class="textboxes1" onChange="PopSPEC(this,'WILL_PAY','REASON');">
			                <option value="" selected>Select any one option</option>
			                ~$WILL_PAY`
				</select>&nbsp;&nbsp;Validation*:
			        <select name="REASON" class="textboxes1">
			                <option  value="" selected>Select</option>
			                ~$REASON`
			        </select>
  			</td>
		</tr>
		<tr>
			<td width="30%" class="label">
				~if $CHECK_COMMENTS eq "Y"`
					<font color="red">Comments*<font>
				~else`
					Comments*
				~/if`
			</td>
			<td class="fieldsnew" height="26">
				<textarea name="comments" value="~$comments`" class="textbox" cols="55" rows="3" ></textarea>
			</td>
		</tr>
		<tr>
			<td class=label width="30%" height="2">&nbsp;</td>
			<td colspan="2" height="2" class=fieldsnew>&nbsp;
				<input type="submit" name="submit" value="submit" class="buttons1">
			</td>
		</tr>
		<tr>
			<td colspan=2 align=center><br><hr></td>
		</tr>
		<tr>
			<td colspan=2 align=center>~$msg`<td>
		</tr>
		<tr>
			<td colspan=2 align=center><br><hr></td>
		</tr>
		<tr>
			<td colspan=2 align=center>~$pmsg`</td>
		</tr>
		</table>
		</form>
		<br><br>
		~/if`
	~/if`
</body>
</html>

