<html>
   <head>
       <title>Wrong/Unreachable Number</title>
       <link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
       <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
       <script lang="javascript">
	function doit()
	{
		window.opener.location.reload();
		window.close();
		
	}
       </script>
   </head>
   <body>
      <br><br>
      <table width=100% cellspacing="1" cellpadding='0' ALIGN="CENTER" >
         <tr class="formhead"><td>Profileid has been marked</td></tr>
	 <tr class="fieldsnew" align="center"><td><a href="#" onclick="doit();">Click Here to close</a></td></tr>
      </table>
   </body>
</html>
