<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
<style type="text/css">
<!--
.style1 {font-weight: bold}
.style2 {color: #FF0000}
-->
</style>
</head>

<body>
<table width="520" border="0" align="center" cellpadding="2" cellspacing="2">
 <tr>
  <td><div align="center" class="extrabigblack"><u><b>PROFORMA INVOICE</b></u><br>
    <b>Jeevansathi Internet Services</b></div></td>
 </tr>
</table>
<table width="520" border="0" align="center" cellpadding="2" cellspacing="2">
 <tr>
  <td width="28" class="bigblack">&nbsp;</td>
  <td width="286" class="bigblack"><b>~$name`<br>
 ~$address`</b></td>
  <td width="186" class="bigblack"><b>Account No. ~$accno`</b><br class="style1">
   (User ID: ~$username`)<br>
   <b>Invoice No. ~$invoiceno`</b><br>
   <b>Dated: ~$dated`</b></td>
 </tr>
</table>
 <br>
 <table width="520" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000" bgcolor="#CCCCCC">
  <tr>
   <td width="47" class="bigblack"><b>S,NO</b></td>
   <td width="225" class="bigblack"><div align="center"><b>PARTICULAR</b></div></td>
   <td width="32" class="bigblack"><div align="center"><b>QTY</b></div></td>
   <td width="71" class="bigblack"><div align="center"><b>RATE</b></div></td>
   <td width="145" class="bigblack"><div align="center"><b>AMOUNT</b></div></td>
  </tr>
  <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td><table width="145"  border="0" cellpadding="0" cellspacing="0" bgcolor="#f2f2f2">
     <tr>
      <td width="90"><div align="center"><b>Rs</b></div></td>
      <td width="55"><div align="center"><b>P.</b></div></td>
     </tr>
   </table></td>
  </tr>
 </table>
 <br>
 <table width="520" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#666666">
  <tr><td>
 <table width="520" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td><table width="520"  border="0" align="center" cellpadding="2" cellspacing="0">
~section name=index loop=$ser`
 <tr bgcolor="#f2f2f2">
  <td height="2" colspan="6" valign="top" class="bigblack"></td>
  </tr>
 <tr>
  <td width="47" height="21" valign="top" class="bigblack">~$ser[index].sno`</td>
  <td width="225" valign="top" "class=bigblack"><div align="left">~$ser[index].servicename`</div></td>
  <td width="32" valign="top"  "class=bigblack"><div align="center">~$ser[index].qty`</div></td>
  <td width="71" valign="top" "class=bigblack"><div align="center">~$ser[index].feevalue`</div></td>
  <td width="90" valign="top" "class=bigblack"><div align="center">~$ser[index].feevalue`</div></td>
  <td width="55" valign="top" "class=bigblack"><div align="center">~$ser[index].paise`</div></td>
 </tr>
~/section`
 <tr bgcolor="#FFFFFF">
     <td height="59" width="47" valign="top"><div align="center">&nbsp;</div></td>
     <td width="225" valign="top" bgcolor="#f2f2f2" ><br>Subtotal</td>
     <td width="32" valign="top" bgcolor="#f2f2f2" ><div align="center">&nbsp;</div></td>
     <td width="71" valign="top" bgcolor="#f2f2f2" ><div align="center">&nbsp;</div></td>
     <td width="90" valign="top" bgcolor="#f2f2f2" ><div align="center"><br>~$service_cost_total`</div></td>
     <td width="55" valign="top" bgcolor="#f2f2f2" ><div align="center"><br>00</div></td>
    </tr>
~if $DISCOUNT neq ''`
<tr bgcolor="#FFFFFF">
     <td height="59" width="47" valign="top"><div align="center">&nbsp;</div></td>
     <td width="225" valign="top" bgcolor="#f2f2f2" ><br>Discount</td>
     <td width="32" valign="top" bgcolor="#f2f2f2" ><div align="center">&nbsp;</div></td>
     <td width="71" valign="top" bgcolor="#f2f2f2" ><div align="center">&nbsp;</div></td>
     <td width="90" valign="top" bgcolor="#f2f2f2" ><div align="center"><br>~$DISCOUNT`</div></td>
     <td width="55" valign="top" bgcolor="#f2f2f2" ><div align="center"><br>00</div></td>
    </tr>
~/if`


 <tr bgcolor="#FFFFFF">
     <td width="47" height="50" valign="top"><div align="center">&nbsp;</div></td>
     <td width="225" valign="top" bgcolor="#FFFFFF" ><br>Service Tax @ ~$tax_rate`%</td>
     <td width="32" valign="top" bgcolor="#FFFFFF" ><div align="center">&nbsp;</div></td>
     <td width="71" valign="top" bgcolor="#FFFFFF" ><div align="center">&nbsp;</div></td>
     <td width="90" valign="top" bgcolor="#FFFFFF" ><div align="center"><br>~$tax`</div></td>
     <td width="55" valign="top" bgcolor="#FFFFFF" ><div align="center"><br>00</div></td>
    </tr>
<tr bgcolor="#FFFFFF">
     <td width="47" height="100" valign="top"><div align="center"></div></td>
     <td width="225" valign="top" bgcolor="#FFFFFF" ><br></td>
     <td width="32" valign="top" bgcolor="#FFFFFF" ><div align="center"></div></td>
     <td width="71" valign="top" bgcolor="#FFFFFF" ><div align="center"></div></td>
     <td width="90" valign="top" bgcolor="#FFFFFF" ><div align="center"><br></div></td>
     <td width="55" valign="top" bgcolor="#FFFFFF" ><div align="center"><br></div></td>
    </tr>

   </table></td>
  </tr>
 </table>
</td></tr></table>
 <br>
 <table width="520" height="23"  border="0" align="center" cellpadding="0" cellspacing="1">
  <tr>
   <td width="309"><b class="mediumblack">~$cur` ~$cost`</b></td>
	<td width="50">&nbsp;</td>
   <td width="161" valign="center"><b class="bigblack"><span class="style2">Total: ~$cur` ~$costvalue`/= </span></b></td>
  </tr>
 </table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
