<html>  
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title> ADDING NEW USER INFORMATION </title>
	<link rel="stylesheet" href="jeevansathi.css" type="text/css">
	<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
<tr width=100% border=1>
       	<td width=30% class="formhead" height="23" align="center"><font><b>Welcome </b></font></td>
       	<td width=30% class="formhead" align='CENTER' height="23">
       		<a href="mainpage.php?cid=~$cid`">Mainpage</a>
       	</td>
       	<td width=30% class="formhead" align='CENTER' height="23">
	       	<a href="/jsadmin/logout.php?cid=~$cid`">Logout</a>
       	</td>
</tr>
</table>
<center><h5>Negative Profile List<h5></center>
<table width=760 ALIGN="CENTER">
<tr align="right">
        <td>
               <h5> <a href="negativeProfileAdd.php?cid=~$cid`">Add new profile </a> &nbsp;&nbsp; <a href="negativeProfileSearch.php?cid=~$cid`"> Search profile</a></h5>        
        </td>
</tr>   
~if $noRecords`
<tr>
	<td align="center"><font color="red">
                No record Exist, please change the search parameters
	</font>
	</td>
</tr>
~/if`
</table>


<table border="0" cellspacing="2" cellpadding="2" align=center width=100%>
<tr class=label align=center>
        <td>ID</td>
        <td>TYPE</td>
        <td>USERNAME</td>
        <td>PROFILEID</td>
        <td>COMPANY</td>
        <td>WEBSITE</td>
	<td>DOMAIN NAME</td>
        <td>PERSON NAME</td>
        <td>EMAIL</td>
        <td>MOBILE</td>
        <td>ISD</td>
        <td>STD</td>
        <td>LANDLINE</td>
        <td>CITY</td>
        <td>ADDRESS</td>
        <td>ACTIVATED</td>
        <td>MATCHED BY</td>
        <td>MESSENGER ID</td>
        <td>IP ADDRESS</td>
        <td>COMMENTS</td>
	<!--<td>EMAIL FORMAT</td>-->
        <td>ENTRY BY</td>
        <td>ENTRY DATE</td>
	<td></td>

</tr>

~foreach from=$resultSet item=data_val key=data_k`
<tr align=center class=fieldsnew>
        <td>~$data_val.ID`</td>
        <td>~$data_val.TYPE`</td>
        <td>~$data_val.USERNAME`</td>
        <td>~$data_val.PROFILEID`</td>
        <td>~$data_val.COMPANY`</td>
        <td>~$data_val.WEBSITE`</td>
        <td>~$data_val.DOMAIN`</td>
        <td>~$data_val.NAME`</td>
        <td>~$data_val.EMAIL`</td>
        <td>~$data_val.MOBILE`</td>
        <td>~$data_val.ISD`</td>
        <td>~$data_val.STD_CODE`</td>
        <td>~$data_val.LANDLINE`</td>
        <td>~$data_val.LOCATION`</td>
        <td>~$data_val.ADDRESS`</td>
        <td>~$data_val.ACTIVATED`</td>
        <td>~$data_val.MATCHED_BY`</td>
        <td>~$data_val.MESSENGER_ID`</td>
        <td>~$data_val.IP_ADDRESS`</td>
        <td>~$data_val.COMMENTS`</td>
	<!--<td>~$data_val.EMAIL_FORMAT`</td>-->
        <td>~$data_val.ENTRY_BY`</td>
        <td>~$data_val.ENTRY_DT`</td>
	<td><a href="negativeProfileAdd.php?updateSet=1&ID=~$data_val.ID`&cid=~$cid`" target=_blank> Edit </a></td>

</tr>
~/foreach`
</table>

</body>
</html>   
