<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title> ADDING NEW USER INFORMATION </title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
<tr width=100% border=1>
       	<td width=30% class="formhead" height="23" align="center"><font><b>Welcome </b></font></td>
       	<td width=30% class="formhead" align='CENTER' height="23">
       		<a href="mainpage.php?cid=~$cid`">Mainpage</a>
       	</td>
       	<td width=30% class="formhead" align='CENTER' height="23">
	       	<a href="/jsadmin/logout.php?cid=~$cid`">Logout</a>
       	</td>
</tr>
</table>
<center><h5>ADD NEW USER INFORMATION<h5><center>
<table width=760 ALIGN="CENTER">
<tr align="right">
        <td>
               <h5> <a href="negativeProfileSearch.php?cid=~$cid`"> Search profile</a></h5> 
        </td>
</tr>   
</table>

<form name="insertForm" action="negativeProfileAdd.php?cid=~$cid`" method=POST>
<table border="0" cellspacing="2" cellpadding="2" width=80% align=center>
<tr>
        <td>
                ~if $empty_err_msg`
                <font color="red" size="2">Please fill up fields marked with *</font>
                ~else`
                <font color="black" size="2"><b>Please fill fields marked with *</b></font>
                ~/if`
        </td>
</tr>
<br>
<tr>
        <td class=label width=40%>
		~if $check_type` <font color="red"> Type* ~else` Type* ~/if` 
        </td>
        <td class=fieldsnew>
		<select name="selectTypeDropdown">
			~$typeDropdown`	
		</select>
	</td>
</tr>
<tr>
	<td class=label width=40%>
		JS Username*			
	</td>
	<td class=fieldsnew><input type=text   name="jsUsername"  value="~$jsUsername`"></td>
</tr>
<tr>
        <td class=label width=40%>
		Company Name                                
        </td>
        <td class=fieldsnew><input type=text   name="companyName"  value="~$companyName`"></td>
</tr>
<tr>
        <td class=label width=40%>
		Website* 
        </td>
        <td class=fieldsnew><input type=text   name="website"  value="~$website`"></td>
</tr>
<tr>
        <td class=label width=40%>
		Domain Name                                
        </td>
        <td class=fieldsnew><input type=text   name="domainName"  value="~$domainName`"></td>
</tr>
<tr>
        <td class=label width=40%>
		Person Name                                
        </td>
        <td class=fieldsnew><input type=text   name="personName"  value="~$personName`"></td>
</tr>
<tr>
        <td class=label width=40%>
		~if $check_email`<font color="red"> Email* </font> ~else` Email* ~/if`                                
        </td>
        <td class=fieldsnew><input type=text   name="email"  value="~$email`"></td>
</tr>
<tr>
        <td class=label width=40%>
		~if $check_isd` <font color="red"> ISD</font> ~else` ISD  ~/if`                                
        </td>
        <td class=fieldsnew><input type=text   name="isd"  value="~$isd`" maxlength='6'></td>
</tr>
<tr>
        <td class=label width=40%>
		~if $check_landline || $check_std` <font color="red"> Landline Number*</font> ~else` Landline Number* ~/if`			                     </td>
        <td class=fieldsnew>
		<input type=text name="std" value="~$std`" size=3 maxlength='6'>~if $check_std` <font color="red">STD</font> ~else` STD  ~/if` &nbsp;&nbsp;
		<input type=text name="landline" value="~$landline`" size=10 maxlength='10'>~if $check_landline` <font color="red">LANDLINE ~else` LANDLINE ~/if`</td>
</tr>
<tr>
        <td class=label width=40%>
		~if $check_mobile`<font color="red"> Mobile Number*</font> ~else` Mobile Number* ~/if`
        </td>
        <td class=fieldsnew><input type=text   name="mobile"  value="~$mobile`" maxlength='10'></td>
</tr>
<tr>
        <td class=label width=40%>
		City Name(Location)                                
        </td>
        <td class=fieldsnew><input type=text   name="cityLocation"  value="~$cityLocation`"></td>
</tr>
<tr>
        <td class=label width=40%>
		Address                                
        </td>
        <td class=fieldsnew><textarea name="address">~$address`</textarea>
	</td>
</tr>
<tr>
        <td class=label width=40%>
		Matched By                                
        </td>
        <td class=fieldsnew>
		<input type=checkbox name="emailMatch"  value="1" ~if $emailMatch`checked ~/if`> 		Email<br>
		<input type=checkbox name="mobileMatch"  value="1" ~if $mobileMatch`checked ~/if`>		Mobile<br>
		<input type=checkbox name="landlineMatch"  value="1" ~if $landlineMatch`checked ~/if`>		Landline
	</td>
</tr>
<tr>
        <td class=label width=40%>
		Messenger ID                                
        </td>
        <td class=fieldsnew><input type=text   name="messengerId"  value="~$messengerId`"></td>
</tr>
<tr>
        <td class=label width=40%>
		IP Address                                
        </td>
        <td class=fieldsnew><input type=text   name="ipAddress"  value="~$ipAddress`"></td>
</tr>
<!--
<tr>
        <td class=label width=40%>
               	Email format 
        </td>
        <td class=fieldsnew><input type=text   name="emailFormat" VALUE="~$emailFormat`"></td>
</tr>
-->
<tr>
        <td class=label width=40%>
		Comments                                
        </td>
        <td class=fieldsnew><textarea  name="comments" rows="5" cols="30">~$comments`</textarea>
	</td>
</tr>



<tr align=center>
	<td class=fieldsnew colspan=100%>
		<input type=hidden  name=cid    value=~$cid`>
		<input type=submit  name=submit value=Submit>
		~if $updateSet`
			<input type=hidden  name="ID" value="~$ID`">
			<input type=hidden  name="jsProfileid" value="~$jsProfileid`">	
		~/if`
			
	</td>
</tr>
</table>
</body>
</html>   
