<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>AdminNew : Jeevansathi.com Matrimonial Services</title>
<link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">

<SCRIPT language="JavaScript">
<!--
function MM_openBrWindow(obj,theURL,winName,features)
{
	if (confirm('Are you sure you want to delete?'))
	{	
	        window.open(theURL,winName,features);
	        obj.onclick= null;
	        obj.style.color='#008800';
	}
}

//-->
</script>


</head>
~include file="head.htm"`

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width=100% cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr width=100% class="formhead">
          <td width=25% class="formhead" border=1><font><b>Welcome : ~$name`</b></font></td>
          <td width="25%" class="formhead" align="center"></td>
        <td width="25%" class="formhead" align="center"><a href="mainpage.php?cid=~$cid`">Click here to go to home page</a></td>
          <td width=20% class="formhead" border=1 align='CENTER'><a href="logout.php?cid=~$cid`">Logout</a></td>
    </tr>
</table>
~if $show_search eq 'Y'`
<form action="status_track.php" method="post">
<table width=100% cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr width=100% class="formhead">
	<td width=3% class="formhead" align="right"><font><b>Username:-</b></font></td>
	<td width=4%><input type="text" name="sel_name" value="~$SEL_NAME`" >
	<input type="submit" name="Search" value="Search"></td>    
	<input type="hidden" name="user" value="~$name`">
	<input type="hidden" name="cid" value="~$cid`">
</tr>
</table>
</form>
~/if`
<form action="status_track.php" method="post">
<table width=100% cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr width=100% class="formhead">
        <td width=6% class="formhead" align="right"><font><b>Status:-</b></font></td>
        <td width=4%><Select name="status_type" >
	<option value="all" ~if $status_type eq 'all'`selected~/if`>All</option>
	<option value="det_enter" ~if $status_type eq 'det_enter'` selected~/if`>Details-entered</option>
	<option value="pending" ~if $status_type eq 'pending'` selected~/if`>Pending</option>
        <option value="collected" ~if $status_type eq 'collected'` selected~/if`>Payment-Collected</option>
        <option value="serv_start" ~if $status_type eq 'serv_start'` selected~/if`>Service-started</option>
        <option value="denied" ~if $status_type eq 'denied'` selected~/if`>Payment-Denied</option>
        <option value="resent" ~if $status_type eq 'resent'` selected~/if`>Resent for pickup</option>
	<option value="closed" ~if $status_type eq 'closed'` selected~/if`>Case-Closed</option>
	<option value="discarded" ~if $status_type eq 'discarded'` selected~/if`>Discarded</option>
	</select>
        <input type="submit" name="Submit" value="Submit"></td>
        <input type="hidden" name="user" value="~$name`">
        <input type="hidden" name="cid" value="~$cid`">
</tr>
</table>
</form>

<table width=100% align="CENTER" >
<tr align="CENTER">
      <td  class="formhead" colspan="2">
      <font color="blue">~if $showall eq 'Y'`Page ~$CURRENTPAGE` of ~$NO_OF_PAGES` ~else` &nbsp; ~/if` </font>
      </td>
                                                                                                                            
      <td class="formhead" colspan="4" height="23"><b><font size="3" color="brown">Pick Up Request Status</font></b></td>
      <td class="formhead" colspan="3" height="23">~if $showlink eq "Y"`<a href="status_track.php?user=~$name`&cid=~$cid`&showall=Y">Show All</a>~/if`</td>
</tr>
<tr align="CENTER">
<td class="label" height="21"><b>S.No</b></td>
<td class="label" height="21"><b>Request-ID</b></td>
<td class="label" height="21"><b>Username</b></td>
<td class="label" height="21"><b>Name</b></td>
<td class="label" height="21"><b>Status</b></td>
<td class="label" height="21"><b>Discount(in Rs)</b></td>
<td class="label" height="21"><b>Request Date</b></td>
<td class="label" height="21"><b>Remove from list</b></td>
</tr>
~section name=index loop=$ROWS` 
<tr align="left" ~if $ROWS[index].RED eq 'Y'`style="color:red" ~else`bgcolor="color:#fbfbfb" ~/if`class="fieldsnew" >
<td align="center" height="21">~$ROWS[index].sno`</td>
<td align="center" height="21">~$ROWS[index].ID`</td>
<td align="center" height="21">~if $ROWS[index].RED neq 'Y'`<font color="blue">~/if`~$ROWS[index].USERNAME`</font></td>
<td align="center" height="21">~$ROWS[index].NAME`</td>
<td align="center" height="21">~$ROWS[index].STATUS`  on ~$ROWS[index].STATUS_DATE`</td>
<td align="center" height="21">~$ROWS[index].DISCOUNT`</td>
<td align="center" height="21">~$ROWS[index].BEGIN_DATE`</td>
<td height="21" align="center"><a href="#" color="D80101" onclick="MM_openBrWindow(this,'status_track.php?cid=~$cid`&remove=Y&id=~$ROWS[index].ID`&log=~$ROWS[index].LOG`&user=~$ROWS[index].USERNAME`','','width=400,height=150,screenX=200,screenY=100')">Remove</a></td>
</tr>

        ~section name=i loop=$LOG`
        ~if $LOG[i].logid eq $ROWS[index].ID`
        <tr align="left" bgcolor="#fbfbfb" class="fieldsnew">
        <td height="21" ></td>
        <td height="21" colspan=3 >~if $LOG[i].comments eq ''`<span class="green">Comments not available.</span>~else` ~$LOG[i].comments` ~/if`</td>
        <td height="21">~$LOG[i].entryby`</td>
        <td height="21">&nbsp;</td>
        <td height="21">&nbsp;</td>
        <td height="21">&nbsp;</td>
        </tr>
        ~/if`
	~/section`


<tr align="left" bgcolor="#fbfbfb" class="fieldsnew">
        <td height="21" ></td>
        <td height="21" colspan=3 >~if $ROWS[index].comments eq ''`<span class="green">Comments not available.</span>~else` ~$ROWS[index].comments` ~/if`</td>
        <td height="21">~$ROWS[index].entryby`</td>
        <td height="21">&nbsp;</td>
        <td height="21">&nbsp;</td>
        <td height="21">&nbsp;</td>
        </tr>

~/section`
<tr bgcolor="white">
    <td class="fieldsnew" colspan="8" height="50" align="center">
    ~$PAGELINK`
    </td>
</tr>
</table>

<br><br><br><br><br><br>
~include file="foot.htm"`

</body>
</html>
