RewriteEngine on 
RewriteCond %{HTTP_HOST} ^adidravida.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/tamil-adi-dravida-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^ahmedabad.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/ahmedabad-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^arora.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/arora-matrimonials/ [L,R=301]
RewriteCond %{HTTP_HOST} ^aryavysya.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/telugu-arya-vysya-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^assamese.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/assamese-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^bangalore.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/bangalore-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^bania.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/bania-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^bengali.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/bengali-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^bhandari.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/konkani-bhandari-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^bihari.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/bihari-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^bornagain.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/born-again-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^brahmin.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/brahmin-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^brahminbhumihar.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/brahmin-bhumihar-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^brahminiyer.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/iyer-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^brahminkanyakubj.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/kanyakubj-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^brahminpandit.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/kashmiri-brahmin-pandit-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^brahminsaryuparin.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/saryuparin-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^buddhism.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/buddhist-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^catholic.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/catholic-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^chamar.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/haryanvi-chamar-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^chandigarh.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/chandigarh-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^chennai.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/chennai-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^chettiar.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/tamil-chettiar-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^christian.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/christian-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^delhi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/delhi-matrimonials/ [L,R=301]
RewriteCond %{HTTP_HOST} ^deshasthabrahmin.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/deshastha-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^digamber.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/digamber-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^ezhava.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/malayalee-ezhava-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^gaurbrahmin.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/gaur-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^gowda.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/kannada-gowda-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^gujarati.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/gujarati-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^gupta.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/gupta-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^gursikh.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/sikh-gursikh-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^hindu.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/hindu-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^hyderabad.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/hyderabad-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^jain.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/jain-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^jat.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/jat-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^jatav.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/jatav-uttar-pradesh-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^jewish.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/jewish-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^kamma.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/telugu-kamma-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^kannada.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/kannada-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^kapu.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/telugu-kapu-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^kashyap.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/bengali-kashyap-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^khandayat.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/oriya-khandayat-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^khatri.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/khatri-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^kshatriya.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/kshatriya-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^kunbi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/kunbi-maharashtra-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^kurmi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/kurmi-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^kushwaha.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/bihari-kushwaha-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^lingayat.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/lingayat-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^maheshwari.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/rajasthani-maheshwari-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^maithilbrahmins.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/maithil-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^malayalee.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/malayalee-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^mali.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com [L,R=301]
RewriteCond %{HTTP_HOST} ^maratha.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/maratha-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^marathi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/marathi-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^marwari.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/rajasthani-marwari-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^mudaliar.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/tamil-mudaliar-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^mumbai.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/mumbai-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^muslim.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/muslim-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^nadar.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/tamil-nadar-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^naidu.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/telugu-naidu-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^nair.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/nair-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^oriya.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/oriya-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^padmashali.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/telugu-padmashali-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^parsi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/parsi-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^patel.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/patel-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^pillai.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/tamil-pillai-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^protestant.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/protestant-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^pune.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/pune-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^punjabi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/punjabi-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^rajasthani.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/rajasthani-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^rajput.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/rajput-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^ramgarhia.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/sikh-ramgarhia-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^reddy.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/telugu-reddy-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^saini.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/punjabi-sikh-saini-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^saraswatbrahmin.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/saraswat-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^scheduledcaste.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/scheduled-caste-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^shwetamber.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/shwetamber-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^sikh.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/sikh-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^sindhi.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/sindhi-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^sonar.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com [L,R=301]
RewriteCond %{HTTP_HOST} ^soni.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com [L,R=301]
RewriteCond %{HTTP_HOST} ^sunniislam.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/sunni-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^tamil.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/tamil-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^teli.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/teli-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^telugu.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/telugu-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^thakur.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/himachali-thakur-matrimony-matrimonials [L,R=301]
RewriteCond %{HTTP_HOST} ^vaishnav.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/vaishnav-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^vishwakarma.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/vishwakarma-matrimonial/ [L,R=301]
RewriteCond %{HTTP_HOST} ^yadav.jeevansathi.com [NC]
RewriteRule ^(.*)$ http://www.jeevansathi.com/matrimonials/yadav-matrimonial/
