@charset "utf-8";
/* CSS Document */


#wrapper {
  width:924px; 
  margin:auto;
  border:2px solid #bcbcbc;
  box-shadow: 0px 0px 4px -2px; 
 
}

#wrapper H1 {
 font:20px arial;
 color:#6c7805;
 clear:both;
}

#container {
 float:left;
 clear:both;
 padding:0px 27px;
 background:#EEE;
  font:13px arial;
 color:#000;
}

.left-div { 
 width:562px;
}
.right-div {
 width:272px;
}

.center-heading {
 font:24px arial;
 text-decoration:underline;
 text-align:center;
}

.div-more {
 width:353px;
 background:#f8f8f8;
 padding:21px 32px 0px ;
 height:auto;
 margin-bottom:30px;
}

.tab-active {
 width:auto; 
 float:left; 
 background:#727c0c; 
 color:#fff; 
 font:16px arial; 
 padding:8px 12px; 
 margin-right:5px;
 border-radius:6px 6px 0px 0px;
 cursor:hand; 
 cursor:pointer;
}




.tab-inactive {
 width:auto; 
 float:left; 
 background:#a9b258; 
 color:#292929; 
 font:16px arial; 
 padding:8px 12px; 
 margin-right:5px;
 border-radius:6px 6px 0px 0px;
 cursor:hand; 
 cursor:pointer;
}


.fl {
 float:left
}
.fr { 
float:right;
}

.text-style {
 color: #FFFFFF;
 font: bold 16px arial;
 left: 55px;
 position: relative;
 top: -39px;
 z-index: 1000;
}

.text-style-right {
 color: #FFFFFF;
 font: bold 16px arial;
 left: 129px;
 position: relative;
 top: -39px;
 z-index: 1000;
}
