body{margin:0; padding:0; font-size:12px; color:#000000; font-family:Arial,sans-serif;}
.blink{color:#117daa;cursor:pointer;}
/*a:link, a:visited{color:#000; text-decoration:none;}*/
a:link, a:visited{color:#117daa; text-decoration:none;}
a.thickbox:link:hover{color:#117daa; text-decoration:underline;cursor:pointer;}  /* LAVESH RAWAT cursor:pointer*/
a.thickbox:link, a.blink:visited, a.blink:active{color:#117daa; text-decoration:none;cursor:pointer;}
a.blink:link, a.blink:visited, a.blink:active{color:#117daa; text-decoration:none;cursor:pointer; important!}
a.blink:hover{color:#117daa; text-decoration:underline;cursor:pointer;} /*LAVESH RAWAT cursor:pointer*/
.abc {position:absolute; top:-5px; left:-6px;}
.b{font-weight:bold}
.fn{font-weight:normal;}
.spacer2{clear:both; line-height:8px;}
.spacer1{clear:both; line-height:4px;}
.rf{float:right}
.lf{float:left}
.t16{font:bold 16px arial; color:#117daa}
.t16n{font:normal 16px arial;}
.t18 {color:#117DAA;font-family:arial;font-size:18px;font-size-adjust:none;font-style:normal;font-variant:normal;font-weight:bold;line-height:normal;}
.t10{font:normal 10px arial; color:#000}
.t20{font:normal 20px arial;}
.t14{font-size:14px;}
.t12{font-size:12px;}
.t11{font-size:11px;}
.no_b{font-weight:normal;}
.topbg{background-image:url(IMG_URL/images/top_bg.gif); background-repeat:repeat-x; height:24px;}
.subtopbg{background-image:url(IMG_URL/images/subtop_bg.gif);background-repeat:repeat-x; height:103px;}
#top{margin:5px}
.clear{clear:both; line-height:10px;}
.maroon{color:#c8080e;}
.green{color:#33b300;}
.gray{color:#726f6f;}
.orange{color:#fe8a0d;}
.black{color:#000000}
.maroon a:link, .maroon a:visited{color:#c8080e;text-decoration:none;}
.sp3{clear:both;height:5px; overflow:hidden}
.sp5{clear:both;height:5px; overflow:hidden}
.sp8{clear:both;height:8px;overflow:hidden}
.sp12{clear:both;height:12px;overflow:hidden}
.sp16{clear:both;height:16px;overflow:hidden}
~if $bms_home neq 1`
input{font:normal 12px arial; border:1px #969696 solid; padding:2px;}
~/if`
select{font:normal 12px arial; border:1px #969696 solid;}
.inp_height{height:14px;}
.gborder{border:1px #dbdbdb solid;width:285px; padding:10px;}
.search_hrbg{background-image:url(IMG_URL/images/search_hrbg1.gif); background-repeat:repeat-y;width:298px;}
.width1{width:95%;}
h1{font:bold 16px arial;color:#e51219;margin:0px;padding:0px;}

/*profile*/
.yellowbrd{border:1px #fed369 solid; padding:5px;}
.grey_bdr{border:1px solid #b3b3b3;}
.pgbarborder{border:1px #d4d2d4 solid; padding:2px;}
.pgbar{background-image:url(IMG_URL/images/pgbar.gif);background-repeat:repeat-x;height:15px;}
.pd5{padding:3px 3px 3px 6px;margin-bottom:3px}
.pd6 {padding:6px;}
.p2{padding:2px;}
.p5{padding:5px;}
.subhd{background-color:#f5f5f5; width:280px}
div.row2{float:left;width:100%; margin:2px 0px}
div.row2 label{float:left;text-align:left;width:125px;padding-left:6px;}
div.row3{float:left;width:97%; margin:3px 0px}
div.row3 label{float:left;text-align:right;width:126px;padding-right:6px;color:#726f6f;font-weight:bold;}
div.row3 span{float:left;text-align:left;width:190px;padding-left:5px;}
.hd2{color:#ff8400; font:bold 15px arial;}
div.row4{float:left;width:96%; margin:5px 0px}
div.row4 label{float:left;text-align:right;width:145px;padding:2px 6px 0 0;color:#726f6f;font-weight:bold;}
div.row4 span{float:left;text-align:left;width:230px;padding-left:5px;}
div.row4 span span{float:left;text-align:left;padding:0 3px 0 0;}
.pd{padding:3px}
.red{color:#e40410}
.nor_button{background-image:url(IMG_URL/images/nor_button.gif); border:1px #dadada solid;}
div.row1 {clear: both;padding-top: 10px; overflow:hidden}/*NIKHIL CHANGES*/
div.row1 label {float: left;width: 55px;text-align: left;padding-right: 5px; margin: 0px;}/*NIKHIL CHANGES */
.sp2{clear:both; height:5px; overflow:hidden;}
.gray_btn{background-image:url(IMG_URL/images/gray_btn.gif); border:#b7b4b2 1px; border-style:solid; font:bold 11px arial; text-align:center; background-repeat:repeat-x; width:80px; color:#000; height:20px; }
.graybox{border:1px #dedddd solid;background-color:#f6f5f5; padding:3px;}
.redbox{border:1px #ff0000 solid;background-color:#f6f5f5; padding:3px;}
.blue_border{width:510px;border:1px #d7ec7a;border-style:solid; background-color:#fff;}
.green_bg{background-image:url(IMG_URL/images/green_bg.gif); background-repeat:repeat-x; height:22px; padding:3px 0 0 6px;color:#515151; font-weight:bold;}

/* clusters */
.pink{width:420px;border:1px #f0ced6;border-style:solid; background-color:#fdf4f5;}
.scrollbox{overflow:auto;height:195px;border:1px solid #fdf4f5; background-color:#fdf4f5;padding:4px 2px 4px 4px;_padding:3px 0px 0px 4px;}
.scrollboxl{overflow:auto; border:1px solid #cccccc; background-color:#FFFFFF; width:220px; height:96px; border:1px solid #cccccc; padding:2px 2px 4px 3px; _padding:3px 0px 0px 4px;}
.wd{width:185px}
.wd1{width:115px}
.chbx{padding:0px; margin:0px; width:16px; height:16px; border:none;}
.scrollbox3{overflow:auto; border:1px solid #cccccc; background-color:#FFFFFF; width:250px; height:96px; border:1px solid #cccccc; padding:2px 2px 4px 3px; _padding:3pxpx 0px 0px 4px;}
.scrollbox2{background-color:#FDF4F5;border:1px solid #FDF4F5;overflow:auto;padding:8px 2px 4px 8px;width:685px; height:350px;}
/*div label{display:block; clear:both;}*/ /* -- neha */
.scrollbox1{background-color:#FDF4F5;border:1px solid #FDF4F5;overflow:auto;padding:8px 2px 4px 8px;width:500px; height:270px;}
.scrollbox5{background-color:#FDF4F5;border:1px solid #FDF4F5;overflow:auto;padding:8px 2px 4px 8px;width:430px; height:270px;}
.grcolor{background-color:#F0F0F0;}
/*general pagination starts here*/
.green_verify{background:url(IMG_URL/images/green_tick_circle.jpg) no-repeat 0 2px; padding:4px 25px; color:#97c904; margin-left:10px;}
.red_alert{background:url(IMG_URL/images/alert.gif) no-repeat 0 4px; padding:4px 22px; color:#e40410; margin-left:10px;}


ul.pagination{margin:0; padding:0; font:11px Arial, Helvetica, sans-serif;}

ul.pagination li{float:left; border:1px solid #929292; color:#929292; margin-left:5px; list-style:none;}

ul.pagination li a{color:#0090da; text-decoration:none; padding:2px 10px; float:left;}

ul.pagination li a:hover{background:#0090da; color:#fff;}

ul.pagination li.pg_num select{width:57px; height:18px; margin:0; padding:0; font:11px Arial, Helvetica, sans-serif;border:1px solid #929292}

/*general pagination ends here*/

/*common footer starts here*/

.ftr{background:url(IMG_URL/images/footer_bg_strip.gif) repeat-x top;padding:20px 20px 5px; padding-right:0px;}

.ftr .ftr_cont{margin:auto; width:750px;}



.ftr_links {

	float:left;

	width:749px;

}

.ftr_links .r1 {

	width:98%;

	float:left;

}

.ftr_links label.l1 {

	float:left;

	width:71px;

	padding-right:10px;

}

ul.foot {

	margin:0;

	padding:0;

}

ul.foot li {

	float:left;

	margin:0 3px;

	color:#9a9999;

	list-style:none;

}

ul.foot li a:hover{text-decoration:underline;}

ul.foot li a,ul.foot li a:visited {

	color:#117daa;
}

.mar_top_15 {margin-top:15px;}
.mar_left_10{margin-left:10px;}

/*common footer ends here*/
#dropmenudiv{
position:absolute;
/*myjs */
 .t18{font:18px Arial, Helvetica, sans-serif;}
.scrollbox2_new{background-color:#FDF4F5;border:1px solid #FDF4F5;overflow:auto;padding:8px 0 4px 0; width:700px; height:350px;}
/* div label{display:block; clear:both;}*/
/*myjs */
font:normal 12px arial;
line-height:18px;
z-index:50;
}
#dropmenudiv a{
width: 154px;
display: block;
text-indent: 3px;
padding: 2px 2px;
text-decoration: none;
color:#2573bb;
z-index:50;
}
#dropmenudiv a:hover {
background-color:#f8e6ea;color:#2573bb;font-weight:bold;
}
.red_alert_bg{background-image:url(IMG_URL/images/red_alert_bg.gif);background-repeat:repeat-x;height:57px;}
/*yellow_bg_gradient starts here*/
.success_yrs_bg {background:transparent url(IMG_URL/images/success_yrs_bg.gif) repeat-x scroll 0; height:20px; padding:5px 5px 0;}/*yellow_bg_gradient ends here*/
.center{text-align:center;}
.mar_top_4{margin-top:4px;}
.mar_top_6{margin-top:6px;}
.mar_top_10{margin-top:10px;}
a.light_gray:link,a.light_gray:visited{color:#a6a6a6;}
.pink_photo_tip{padding:10px 0; margin:0 10px;}
.pink_photo_tip .big_img_load{width:338px;background:#efefef; border:1px solid #dfdfdf; text-align:center; height:303px;}
.pink_photo_tip .tip_block{width:102px;}
.pink_photo_tip .tip_block_wide{width:180px;}
.pink_photo_tip .tip_block p{line-height:18px; margin:6px 0 5px;}
.pink_photo_tip .tip_block_wide p{line-height:18px; margin:6px 0 5px;}
input.add_title{width:373px; height:22px; border:1px solid #d8d8d8;}
input.add_title1{width:230px; border:1px solid #d8d8d8;}
.green_verify{background:url(IMG_URL/images/green_tick_circle.jpg) no-repeat 0 2px; padding:4px 25px; color:#97c904; margin-left:10px;}
.red_alert{background:url(IMG_URL/images/alert.gif) no-repeat 0 4px; padding:4px 22px; color:#e40410; margin-left:10px;}

.grn_bg_grad {
        height:29px;background:#fff url(IMG_URL/images/green_bg_gradient.gif) repeat-x bottom;       margin:0 3px;   border:1px solid #bed563;
        padding:6px 0 0 10px;
}
/*yellow block starts here*/
.yel_cont!{width:162px; height:52px;}
.y_t_brd_1{background:#fff7ab url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-x top;}
.y_b_brd_1{background:url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-x bottom;}
.y_r_brd_1{background:url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-y right;}
.y_l_brd_1{background:url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-y left;}
.y_t_l_1{background:url(IMG_URL/images/registration_new/yel_t_l_cur.gif) no-repeat top left;}
.y_t_r_1{background:url(IMG_URL/images/registration_new/yel_t_r_cur.gif) no-repeat top right;}
.y_b_r_1{background:url(IMG_URL/images/registration_new/yel_b_r_cur.gif) no-repeat bottom right;}
.y_b_l_1{background:url(IMG_URL/images/registration_new/yel_b_l_cur.gif) no-repeat bottom left;}
/*yellow block ends here*/
div.row5{float:left;width:96%; margin:5px 0px}
div.row5 label{float:left;text-align:right;width:100px;padding:2px 6px 0 0;color:#726f6f;font-weight:bold;}
div.row5 span{float:left;text-align:left;width:250px;padding-top:2px;}
div.row5 span.label{float:left;text-align:right;padding:2px 3px 0 0;width:95px;color:#726f6f;font-weight:bold;}
.st_open_tab{float:left;font:normal 12px arial;padding:3px 0 7px 1px;color:#117DAA;clear:both;width:155px;}
.st_close_tab{ background-image:url(IMG_URL/images/open_tab_setting.gif);background-repeat:no-repeat;width:163px;height:25px;font:bold 12px arial;padding:2px 0 0 1px;color:#117DAA;clear:both; background-position:right}
.st_close_bigtab{ background-image:url(IMG_URL/images/open_bigtab_setting.gif);background-repeat:no-repeat;width:163px;height:40px;font:bold 12px arial;padding:2px 0 0 1px;color:#117DAA;clear:both; background-position:right}
.sub_st_tab{padding:4px 0 0 12px;}
.success_bg{background-image:url(IMG_URL/images/bg_success_story.gif); background-repeat:no-repeat;width:118px; height:94px;}
.hide_delete_bg{ background-color:#ffed77;border:1px #ffe742 solid; padding:5px;}
.green_btn_new{background:url(IMG_URL/images/green_button_bg.gif) repeat-x; height:25px; border:1px solid #578d00; padding-bottom:2px; color:#fff; cursor:pointer; font-size:12px;}
a.blink_bg,a.blink_bg:visited{background:#3181b6; padding:2px; color:#fff; text-decoration:none;}
/*yellow_bg_gradient starts here*/
.success_yrs_bg {background:transparent url(IMG_URL/images/success_yrs_bg.gif) repeat-x scroll 0; height:20px; padding:5px 5px 0;}/*yellow_bg_gradient ends here*/
.center{text-align:center;}
.mar_top_4{margin-top:4px;}
.mar_top_6{margin-top:6px;}
.mar_top_10{margin-top:10px;}
a.light_gray:link,a.light_gray:visited{color:#a6a6a6;}
.pink_photo_tip{padding:10px 0; margin:0 10px;}
.pink_photo_tip .big_img_load{width:338px;background:#efefef; border:1px solid #dfdfdf; text-align:center; height:303px;}
.pink_photo_tip .tip_block{width:102px;}
.pink_photo_tip .tip_block_wide{width:180px;}
.pink_photo_tip .tip_block p{line-height:18px; margin:6px 0 5px;}
.pink_photo_tip .tip_block_wide p{line-height:18px; margin:6px 0 5px;}
input.add_title{width:373px; height:22px; border:1px solid #d8d8d8;}
input.add_title1{width:230px; border:1px solid #d8d8d8;}
.green_verify{background:url(IMG_URL/images/green_tick_circle.jpg) no-repeat 0 2px; padding:4px 25px; color:#97c904; margin-left:10px;}
.red_alert{background:url(IMG_URL/images/alert.gif) no-repeat 0 4px; padding:4px 22px; color:#e40410; margin-left:10px;}

/*yellow block starts here*/
.yel_cont!{width:162px; height:52px;}
.y_t_brd_1{background:#fff7ab url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-x top;}
.y_b_brd_1{background:url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-x bottom;}
.y_r_brd_1{background:url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-y right;}
.y_l_brd_1{background:url(IMG_URL/images/registration_new/yellow_brd_img.gif) repeat-y left;}
.y_t_l_1{background:url(IMG_URL/images/registration_new/yel_t_l_cur.gif) no-repeat top left;}
.y_t_r_1{background:url(IMG_URL/images/registration_new/yel_t_r_cur.gif) no-repeat top right;}
.y_b_r_1{background:url(IMG_URL/images/registration_new/yel_b_r_cur.gif) no-repeat bottom right;}
.y_b_l_1{background:url(IMG_URL/images/registration_new/yel_b_l_cur.gif) no-repeat bottom left;}
/*yellow block ends here*/

#head_maintab {margin: 0px;}
#head_maintab ul { margin:4px 0 0 0; padding: 0; list-style: none; }
#head_maintab li { float: left; white-space: nowrap; background-image:url(IMG_URL/images/top-nav-bg.gif); background-position:bottom; background-repeat:repeat-x; font: 16px Arial, Helvetica, sans-serif; font-weight:bold; }
#head_maintab a { float: left; padding: 0 0 0 9px; text-decoration: none;color:#117daa;}
#head_maintab a:hover { color: #000000;}
#head_maintab a.current { background-position: 0 -28px; background: url(IMG_URL/images/top-tab-left.gif) no-repeat; color:#117daa; }
#head_maintab a span { float: left;  padding: 5px 9px 4px 0;}
#head_maintab a:hover span{ cursor: pointer; color:#117daa; }
#head_maintab a.current span {background-position: 100% -28px; background: url(IMG_URL/images/top-tab-rite.gif) no-repeat 100% 0; cursor: default;}
#head_maintab a.current:hover span {cursor: default;}

/*forms in pink pop-up starts here*/
.pink .form_small{padding:10px;}
.pink .form_small label.l1{float:left; text-align:right;width:50px; margin:4px 5px 0 0; display:inline;}
.pink .form_small input.txt1{width:300px; border:1px solid #b4c4ce;}
/*forms in pink pop-up ends here*/
/*photo upload */
.pink .actual_size{width:152px;}
.pink .actual_size_thumb{width:70px;}
.photo_reg{width:600px;}
.photo_reg .white_cont{background:#fff; padding:10px 15px 10px 20px;}
.photo_reg .white_cont h2{font:bold 12px Arial, Helvetica, sans-serif; margin:0; padding:0;}
.photo_reg .white_cont .prof_plus_thummb{width:220px; background:#fbfbfb; border:1px solid #f5f5f5; padding:5px 14px 5px 4px;}
.photo_reg .white_cont .prof_img{width:140px; margin:6px 5px 0 0; display:inline;}
.photo_reg .white_cont .priv_setting{margin:auto; width:476px; border:1px solid #c7c7c7; background:#f9f9f9; padding:10px;}
.photo_reg .white_cont .priv_setting input.rd1{border:none; width:12px; height:12px; margin:0 5px 0 0; padding:0;}
.photo_reg .white_cont .priv_setting label.l1{float:left;}
.photo_reg .white_cont p.photos{margin:10px 0 0 33px; padding:0;}
/*photo upload ends here*/

/* sub head css starts here*/
.sr_top_bg{background-image:url(IMG_URL/images/sr_top_bg.gif); background-repeat:repeat-x; height:20px;}
.sr_bottom_bg{background-image:url(IMG_URL/images/sr_bottom_bg.gif); background-repeat:repeat-x; height:5px;}
/*more option layer */
.more_topbg{background-image:url(IMG_URL/images/moreoption_top.gif);width:180px;height:26px;background-repeat:no-repeat;}
.more_hrbg{background-image:url(IMG_URL/images/moreoption_hr.gif); width:180px; background-repeat:repeat-y;}
.more_footerbg{background-image:url(IMG_URL/images/moreoption_footer.gif); width:180px; background-repeat:no-repeat; height:8px;}
.more_topbg1{background-image:url(IMG_URL/images/moreoption_top1.gif);width:200px;height:26px;background-repeat:no-repeat;}
.more_hrbg1{background-image:url(IMG_URL/images/moreoption_hr1.gif); width:200px; background-repeat:repeat-y;}
.more_footerbg1{background-image:url(IMG_URL/images/moreoption_footer1.gif); width:200px; background-repeat:no-repeat; height:8px;}
.scrollbox2_new{background-color:#FDF4F5;border:1px solid #FDF4F5;overflow:auto;padding:8px 0 4px 0; width:700px; height:350px;}
/* sub head css ends here*/
.blink_org:hover{color:#FE8A0D;text-decoration:none;}
.org_bdr{border:1px #fed369; border-left-style:solid; border-right-style:solid; padding:5px;}
.org_bdr label.l1{width:85px; font-weight:bold; float:left; display:inline; clear:none; !important}
.org_bdr label.l2{font-weight:bold; float:left; text-align:left; display:inline; clear:none;!important}
.org_bdr{color:#000;}
.org_bdr p{margin:5px 5px 15px; font-weight:normal;}
.org_bdr p b{margin:0 0 4px;display:block;}
.org_bdr i{float:left; padding-right:5px; font-style:normal;}
/*print profile css ends here*/

.date_picker {
        width:190px;
        height:180px;
        background:#ebf8b9;
        border:1px solid #7ba328;
        padding:5px;
}
.date_picker select {
        font:11px Arial, Helvetica, sans-serif;
        height:19px;
        border:1px solid #969696;
}
.date_picker select.sel_mon {
        width:75px;
}
.date_picker select.sel_year {
        width:52px;
}
.date_picker .cal { 
        width:190px;
        float:left;
}
.date_picker .cal .top {
        background:url(IMG_URL/images/cal_border_img.gif) repeat-x top;
}
.date_picker .cal .left {
        background:url(IMG_URL/images/cal_border_img.gif) repeat-y left;
}
.date_picker .cal .right {
        background:url(IMG_URL/images/cal_right_shadow_img.gif) repeat-y right;
        padding:2px 3px 0 1px;
}
.date_picker .cal .btm {
        background:#fff url(IMG_URL/images/cal_bot_img.gif) repeat-x bottom;
        height:150px;
}
.date_picker .cal .btm ul.days {
        margin:0;
        padding:0;
        float:left;
}
.date_picker .cal .btm ul.days li {
        list-style:none;
        float:left;
        width:25px;
        text-align:center;
        padding:5px 0;
        color:#c8c8c8;
}
.date_picker .cal .btm ul.days li a{cursor:pointer; color:#000;text-decoration:none;}
.date_picker .cal .btm ul.days li.selected {
        background:#ebf8b9;
        border:1px solid #7ba328;
        padding:4px 0;
}
/* breadcrumb css*/
.breadcrumb_bg{background:#117daa; padding:0;  margin:0 4px 0 0;}
.breadcrumb_bg a{padding:0 2px;}

/* what icons css */
.scrollbox2_new ul.icons{margin:auto;padding:0; width:95%;}
.scrollbox2_new ul.icons li{border-bottom:1px solid #ccc; padding:10px 0; list-style:none; float:left; width:100%;}
.scrollbox2_new ul.icons li .desc{width:150px; float:left;}
.scrollbox2_new ul.icons li h2{width:130px; margin:0 10px 0 0; padding:0; font:bold 12px Arial, Helvetica, sans-serif; float:left;}
.scrollbox2_new ul.icons li p{float:left; width:290px; margin:0; padding:0;}
/* why limit css*/
.exp_int {
width:270px;
margin:30px;
height:150px;
display:inline;
}
.exp_int h2 {
margin:0;
padding:0;
}
.exp_int p {
margin:0;
padding:0;
margin-top:20px;
}
/*Add to members list css*/
/*icons starts here*/
.sprt_cn_ctr{ background:url(IMG_URL/images/pro_tup_cur.png) no-repeat;}
.new_icon{width:28px; height:13px; background-position:0 -73px;}
.phone_vrfd{width:14px; height:14px; background-position:0 -88px;}
.kundli_icon{width:14px; height:14px; background-position:-19px -88px;}
.smly_icon{width:14px; height:14px; background-position:0 -106px;}
.vw_smlr_icon{width:11px; height:14px; background-position:-21px -106px;}
.cntc_rcved_icon{width:15px; height:16px; background-position:0 -123px;}
.e_rshta_icon{width:47px; height:15px; background-position:0 -146px;}
.e_vlu_icon{width:38px; height:12px; background-position:0 -161px;}
.mtch_pnt_icon{width:69px; height:16px; background-position:0 -177px;}
.phne_unvrfd_icon{width:14px; height:14px; background-position:0 -195px;}
.fvrt_icon{width:14px; height:14px; background-position:-19px -195px;}
.blckd_icon{width:14px; height:14px; background-position:-38px -195px;}
.prf_icon{width:20px; height:22px; background-position:0 -214px;}
.hgly_prf_icon{width:27px; height:22px; background-position:-25px -214px;}
.vwd_icon{width:44px; height:13px; background-position:0 -242px;}
.hiv_icon{width:9px; height:14px; background-position:-54px -241px;}
.vw_cnct_icon{width:14px; height:14px; background-position:-56px -74px;}
.cl_mde_icon{width:17px; height:16px; background-position:-18px -123px;}
.wrt_msg{width:15px; height:14px; background-position:-31px -73px;}
.snd_rmndr{width:14px; height:14px; background-position:-56px 0;}
.cl_nw{width:9px; height:19px; background-position:-61px -106px;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.g_tlk_icon{width:30px; height:15px; font-size:2px; background-position:-40px -17px;}
.js_icon{width:21px; height:18px; font-size:2px; background-position:-37px -96px;}
.cl_icon{width:14px; height:14px; font-size:2px; background-position:-37px -118px;}
.min_round{width:12px; height:12px; background-position:-58px -134px;}
.plus_round{width:12px; height:12px; background-position:-43px -134px;}
.jsexlusivebg{ background:url(IMG_URL/images/jsexec.png) no-repeat;width:69px;height:13px}
/*icons ends here*/
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}
.clr_10{clear:both; height:10px;}
/*For mozilla 3.0 ul maintab starts here*/
#head_maintab ul,x:-moz-any-link,x:default { margin:5px 0 0 0; padding: 0; list-style: none; }
/*For mozilla 3.0 ul maintab ends here*/
/******Call now*********/
.lyr .shw_info .wtbox{width:229px; padding:8px 5px; float:left; margin-top:8px;background:#fff; border:1px solid #a6a6a6;}
.mobno, .llineno{width:80px; display:block; float:left;}
.coverhelp{position:absolute;display:inline;} 
.helpbox{display:none; border:1px solid #f7db59; left:10px; top:-7px; margin-right:25px; padding:8px;position:absolute;width:130px;z-index:100;background:#ffeb65;} 
.helpimg{position: absolute; top: 8px;left:-9px;background:url(org_arrow2.gif) no-repeat; width:9px; height:12px;}
.lyr .cntcall{width:280px; float:right;margin:10px 15px 10px 0; display:inline;}
.lyr .cntcall h4{font:bold 16px Arial, Helvetica, sans-serif; color:#ff5a00; margin:0; padding:0; width:80%; float:left;}
.lyr a.crscall{color:#117daa; text-decoration:none; margin:-5px 0 0 0; position:relative;}
.lyr textarea.txt_area1call{float:left; width:260px; height:67px; border:1px solid #ccc; padding:10px; font:11px Arial, Helvetica, sans-serif;}
.lyr .shw_info_call{width:249px; padding:8px 5px; margin-top:8px;background:#fff; border:1px solid #a6a6a6;}
.lyr .shw_info_call ul{margin:0; padding:0; float:left; width:249px; list-style:none;}
.lyr .shw_info_call ul li{float:left; width:99.9%;margin:0 0 3px;}
.lyr .shw_info_call ul li label{float:left; width:42px; color:#fe6b01; font-size:11px; font-weight:bold;}
.lyr .shw_info_call ul li i{float:left; width:200px; font-style:normal;!_padding-left:2px;}
.lyr .shw_info_call u{float:right;font-style:normal;text-decoration:none;}
.lyr .shw_info_call .ucalled{margin-left:30px; line-height:16px;}
.lyr .shw_info_call .ucalled .calldates{float:left;width:124px; font-size:11px;}
.lyr .shw_info_call .ucalled .calltime{float:left;text-align:right;width:64px;font-size:11px;}
.lyr .shw_info_call .callhding{color:#ff5a00;}
.lyr .call_bt_cntnt { padding:0 18px 0 2px;}
.lyr .call_bt_cntnt ul{float:left;width:99.9%;margin:0 0 3px;}
.lyr .call_bt_cntnt ul li{line-height:15px;list-style-image:none;list-style-position:outside;list-style-type:none;margin-left:0;padding-left:1em;text-indent:-.8em;}
/***********Ends here***********/
/* Mobile view Switcher*/
.switchBx{border:1px solid #ccc;padding:4px;width:169px;font-size:12px;}
.switchDdr{color:#9A9999;}
/***********Ends here***********/

/* Verification Seal*/
.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	//background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)"; /* IE8 */    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);   /* IE6 & 7 */      zoom: 1;
	 z-index: 999;
}
.verlogo-band{font-family:'Myriad Pro';color:#fff; text-align:center; background:url(IMG_URL/images/verificationSeal/verfi_logo.png) no-repeat 10px 0px; line-height:35px;}
.verf_hover{background-color:#dddddd;border:1px solid #a5a5a5;padding:8px; cursor:pointer; margin-top: 10px;}
.verfdisp {display: none;}
.hoverlayer:hover  .verfdisp { display: block;}
.verfcol1{color:#34495e;vertical-align: top;}
.verfcol2{color:#333333;vertical-align: top;}
.verwid1{width:100px;}
.verwid2{width:250px;}
.verfpos1{top: 196px; width: 250px;z-index: 999999999;}
.verficon1{background:url(IMG_URL/images/verificationSeal/verfi_logo.png) no-repeat 0px -42px; width:30px; height:15px; display:block;top:-14px;}
.clearfix:after {	visibility: hidden;	display: block;	font-size: 0;	content: " ";	clear: both;	height: 0;	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.verfpadb{padding-bottom:2px;}
