@font-face {
    font-family: "roboto Th";
    src: local("roboto Th"), local(Roboto-Thin), url("/css/fonts/Roboto-Thin.woff");
}
@font-face {
font-family:"Roboto Light";
src:url("/css/fonts/Roboto-Light.woff");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Roboto Regular";
src:url("/css/fonts/Roboto-Regular.woff");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Roboto bold";
src:url("/css/fonts/Roboto-Black.eot?") format("eot"), url("/css/fonts/Roboto-Black.woff") format("woff"), url("/css/fonts/Roboto-Black.ttf") format("truetype"), url("/css/fonts/Roboto-Black.svg#Roboto-Black") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Roboto Thin";
src:local('Roboto Thin'),url("/css/fonts/Roboto-Thin.woff");
font-weight:normal;
font-style:normal;
}
@font-face{font-family: 'WebRupee';src: url("/css/fonts/WebRupee.V2.0.eot");src: local('WebRupee'), url("/css/fonts/WebRupee.V2.0.ttf") format('truetype'),  url("/css/fonts/WebRupee.V2.0.woff") format('woff'), url("/css/fonts/WebRupee.V2.0.svg") format('svg');font-weight: normal;font-style: normal;}
.WebRupee{font-family: 'WebRupee';}
.fontlig{font-family:"Roboto Light"; }
.fontreg{font-family:"Roboto Regular";}
.fontrobbold{font-family:"Roboto bold";}
.fontthin{font-family:"Roboto Thin";}
