.fl {

	float:left;

}

.fr {

	float:right;

}

.sprite_sul {

	background:url(/images/sul_sprite.gif);

}

.sul_hdr {

	width:993px;

	margin:auto;

}

.sul_hdr .bg {

	height:35px;

	background-position:0 -70px;

	margin-bottom:15px;

}

.sul_hdr .bg .lft_cur {

	width:6px;

	height:35px;

	background-position:-73px 0;

}

.sul_hdr .bg .rgt_cur {

	width:6px;

	height:35px;

	background-position:-79px 0;

}

.sul_hdr .bg .lft_lg_bg {

	width:180px;

	background-position:0 -35px;

	height:35px;

	font:bold 16px Arial, Helvetica, sans-serif;

	line-height:32px;

	color:#fff;

	text-indent:5px;

}

.sul_hdr .bg .lft_cur_sdw {

	width:34px;

	height:35px;

}

.sul_hdr .bg .rgt_cur_sdw {

	width:34px;

	height:35px;

	background-position:-34px 0;

}

.sul_hdr .bg p {

	width:484px;

	text-align:center;

	font:bold 12px Arial, Helvetica, sans-serif;

	color:#fff;

	float:left;

	margin-top:8px;

}

/*curves starts here*/

s {

	display:block;

}

.c, .c1, c2, c3, c4 {

	height:1px;

	overflow:hidden;

	border:1px solid #9a9a9a;

	border-width:0 1px;

}

.c1 {

	margin:0 4px;

}

.c2 {

	margin:0 3px;

}

.c3 {

	margin:0 2px;

}

.c4 {

	margin:0 1px;

}

/*curves ends here*/



.sul_lgo {

	width:155px;

	height:19px;

	background-position:0 -151px;

	margin:10px 5px 10px 10px;

	display:inline;

}

.lgo_text {

	font:bold 18px Arial, Helvetica, sans-serif;

	color:#887f80;

	margin-top:12px;

}

.pwrd_by {

	width:139px;

	height:35px;

	background-position:0 -170px;

	margin:5px 10px;

}

.sul_hdr ul.sul_nav {

	float:left;

	width:990px;

	list-style:none;

	margin:0;

	padding:0;


	display:inline;

}

.sul_hdr ul.sul_nav li {

	float:left;

}

.sul_hdr ul.sul_nav li a {

	float:left;

	background:url(/images/sul_sprite.gif) right -105px;

	font:bold 11px Arial, Helvetica, sans-serif;

	color:#fff;

	text-decoration:none;

	height:23px;

	cursor:pointer!important;

}

.sul_hdr ul.sul_nav li a:hover {

	background-position:right -128px;

	color:#000;

}

.sul_hdr ul.sul_nav li a.active {

        background-position:right -128px;

        color:#000;

}

.sul_hdr ul.sul_nav li a i {

	float:left;

	width:4px;

	height:23px;

	background:url(/images/sul_sprite.gif) 0 -105px;
	font-size:2px;
}

.sul_hdr ul.sul_nav li a:hover i {

	background-position:0 -128px;

}

.sul_hdr ul.sul_nav li a.active i {

        background-position:0 -128px;

}


.sul_hdr ul.sul_nav li a b {

	float:left;

	margin:5px 5px 0 0;

}

.sul_hdr ul.sub_matri {

	width:99%;

	padding-left:10px;

	background:#f9ed99;

	float:left;

	list-style:none;

	margin:0;
}

.sul_hdr ul.sub_matri li {

	float:left;

	padding:5px 10px;

	border-right:1px solid #000;

	font:12px Arial, Helvetica, sans-serif;

}

.sul_hdr ul.sub_matri li a {

	color:#000;

	float:left;

	text-decoration:none;

}
.lft_lg_bg a{color:#fff!important;}

.lgo_text a{color:#887f80!important;}
.f11 {
font-size:11px!important;
}
.str{width:4px; height:5px; font-size:2px; background-position:-150px 0; margin:14px 0 0 0; display:inline; overflow:hidden;}

