@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {border: 0; margin: 0; outline: 0; padding: 0;}
body{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; line-height:18px;}

h1{font-size:30px; font-weight:bold; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#000000; text-transform:uppercase; margin-bottom:15px;}
h1 span{color:#d6373c;}
h2{font-size:26px; font-weight:bold; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#000000; text-transform:uppercase; margin-bottom:20px;}
#mainWrapper p{margin:5px 0 35px 0; line-height:20px; text-align:justify;}
h3{font-size:14px; font-weight:bold; margin:0; text-transform:uppercase;}

#mainWrapper{width:930px; margin:0 auto; background:#ffffff; padding:24px;margin-top:30px;}
#benWrap div{float:left;}
#benWrap .txtdiv{margin-top:30px;}
#benWrap .txtdiv span{font-weight:bold; color:#d6373c;}


/*spriteIMGS*/
.logoIMG, .arrwImg, .executive_IC, .verification_IC, .document_IC, .stampIC, .msgIC, .profileIC, .contIC{background:url(IMG_URL/images/KycAgent/spritIMG.gif) no-repeat}
.logoIMG{background-position:left top; height:58px; width:224px;}
.logoIMG a{text-indent:-999px; line-height:56px; display:block; overflow:hidden;}
.bdrArrw .arrwImg{background-position:left -611px; width:15px; height:6px; margin-left:32px;}
.bdrArrw{border-top:1px solid #d6373c;}
.executive_IC{background-position:left -78px; width:88px; height:89px; margin-right:36px; float:right;}
.verification_IC{background-position:4px -188px; width:175px; height:105px; float:right;}
.document_IC{background-position:4px -312px; width:175px; height:116px; float:right; margin-top:90px;}
.stampIC{background-position:left -449px; width:92px; height:89px; margin-right:8px;}
.msgIC{background-position:-102px -449px; width:122px; height:89px; margin-right:8px;}
.profileIC{background-position:-98px -78px; width:117px; height:89px; margin-right:8px;}
.contIC{background-position:left -557px; height:44px; position:absolute; top:-6px; padding-left:49px;}
.contWrap{background:#dcdada; line-height:39px; position:relative; width:390px; border-radius:0 5px 5px 0; height:31px;}


.w920{width:920px; margin:0 auto;}
.w726{width:726px; float:left;}
.w726 table tr td{height:47px; line-height:45px; padding:0 10px;}
.w726 table tr td.lftColumn{background:#e4e4e4;}
.w726 table tr td.lftColumn1{background:#d9d9d9}
.w726 table tr td.rhtColumn{background:#dfdfdf;}
.w726 table tr td span{font-weight:bold;}
.flLFT{float:left;}
.flRHT{float:right;}
.clr{clear:both; height:1px; overflow:hidden; font-size:1px;}
.h57{height:57px;}
.h25{height:25px;}
.h17{height:17px;}
