html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
html, body, ul, form, button, input, p {
	margin:0;
	padding:0
}
form {
	display:inline
}
a {
	text-decoration:none;
	outline:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display:block
}
section:after, footer:after, clearline {
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
	zoom:1
}
i {
	display:inline-block;
	font-style:normal
}
.container {
	margin:0 auto;
	padding:0
}
.clearfix {*zoom:1}
.clearfix:before, .clearfix:after {
	display:table;
	line-height:0;
	content:""
}
.clearfix:after {clear:both}
.fullw{width:100%}
.txtc{text-align:center}
.posrel{position:relative}
.posabs{position:absolute}
.fs1{font-family:Cambria}
.fs2{font-family:Arial, Helvetica, sans-serif}
.fsos1 {font-family: 'Open Sans', sans-serif;font-weight:300}
.fsos2 {font-family: 'Open Sans', sans-serif;font-weight:600}
.fsos3 {font-family: 'Open Sans', sans-serif;font-weight:700}
.fl{float:left}
.fr{float:right}
.dispib,.dispibl{display:inline-block}
.dispi{display:inline}
.dispt{display:table}
.disptc{display:table-cell}
.mb40{margin-bottom:40px}
.maut{margin:0 auto}
.color1{color:#3d2c09}
.color4{color:#333333}
.color6 {color: #ec3963;}
.f11{font-size: 11px}
.f15{font-size:15px}
.f20{font-size:20px}
.f30{font-size:30px}
.pb10{padding-bottom:10px}
.pb30{padding-bottom: 30px}
.pb50{padding-bottom:50px}
.pt5{padding-top: 5px}
.pl28{padding-left:28px}
.pt10{padding-top:10px}
.pad5{padding:10px 15px}
.mt12{margin-top:12px}
.bg1{background-color:#f4f6f6}
.bg2{background-color:#fff}
.shade1{-webkit-box-shadow: 0px 5px 7px 0px rgba(166,156,166,1);
-moz-box-shadow: 0px 5px 7px 0px rgba(166,156,166,1);
box-shadow: 0px 5px 7px 0px rgba(166,156,166,1);}
.inpText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    padding-bottom: 7px;
    line-height:28px;
	padding-left:15px;
}
.dn{display:none}
.subbtn{
	background:#ec3963; 
	color:#fff; 
	font-family: 'Open Sans', sans-serif;font-weight:600
	font-size:15px; 
	font-weight:bold;  
	width:100%; 
	border:0 !important; 
	height: 50px;
padding: 0px !important;}
.pad20{padding:20px;}
@media (min-width: 280px) and (max-width: 720px) {
	.dispMS{display:block}
	.dispPC{display:none}
	.pad14{padding:14px}
	.ms-widd{width:100%}
	.ms-widf{width:100%}
	.ms-c1{text-align:center; padding-top:10px}
	.Ms-header {
		background:#dbdbdb;
		height:50px
	}
	.ms-pad3{padding:10px}
	.ms-pad5{padding:15px 8px}
	.ms-pta{padding-top:15px}
}
@media (min-width: 711px) {
	.dispMS{display:none}
	.dispPC{display:block}
	.pc-fl{float:left}
	.pc-padb{padding: 0px 25px}
	.pc-pad3{padding:30px 25px}
	.pc-pt10{padding-top:10px}
	.wida{width:990px}
	.widb{width:930px}
	.pc-widd{width:100%}
	.pc-widf{width:280px}
	.pc-wid1{width:34%;}
}
.fullwid{width:100%}
