me.underline {
	text-decoration:underline !important;
	color:#0046c5;
}

.wt {
	width:auto;
}
.sprite-new {

}
.sprite {
}


.ico-blur-phone 
{
  background-position: 0px -333px; 
  width: 207px!important; 
  height: 56px!important; 
  margin-left:5px; }
.ico-blur-phone2{background-position: 0 -503px;height: 54px;width: 207px;margin-left:4px;margin-top:-3px;}

.ico-blur-phone-arrow 
{
	background-position:0 -400px; 
	width: 205px; 
	height: 59px; 
	margin-left:5px;
}

.fto-btn-green {
background-image: url("IMG_URL/P/I/mobilejs/btn-bg.gif");
background-repeat: repeat-x;
height: 28px;
border: 1px solid #cccccc;
padding-bottom: 2px;
font-size: 12px;
color: #ffffff;
cursor: pointer;
}




.grey-grad-btn {
	background-position:0 -304px; 
	  border: 2px solid #d4d4d4;
    text-align: center;
	color:#1171ae;
	font:18px arial;
	padding:0px 10px;
	height:31px;
}

.gry-brd-top {
 BORDER-TOP:2PX dotted #9e9e9e;
 float:left;
 width:95%;
  margin:10px 0px;
}


.gry-brd-bot {
 BORDER-bottom:2PX dotted #9e9e9e;
 float:left;
 width:95%;
 margin:10px 0px;
}

.preset-message-uneditable {
	background:#efefef; 
	color:#4d4d4d; 
	padding:5px; 
	width:330px; 
	border:1px;
	solid #dbdbdb;
}

.grey-area {
	width: 613px;
	padding:20px 0px; 
	float:left; 
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	font-weight:normal
}

.w190
{
	width:190px;
}

.w94
{
	width:94px;
}

.orange
{
	color:#fe8a0d !important;
}

.profile-widget-container,.profile-widget-container_layer
{
	height: 300px;
	padding: 10px 5px 0 10px;
	width: 378px;
	float:left;
	border-left:2px solid #888888;
	border-right:2px solid #888888;
	border-bottom:2px solid #888888;
	box-shadow:0px 0px 0px 3px #ccc;
	border-radius:4px 4px 0 0;

}

.sp50{ clear:both;height:50px;overflow:hidden}
.sp24{ clear:both;height:24px;overflow:hidden}

.expb{width:167px;}
.maindiv
{
	width:337px; 
	padding-top:7px; 
	padding-left:12px
}
.sp80
{ 
	clear:both;
	height:80px;
	overflow:hidden
}
.ph_lock{
	bottom: 0px;
	 left: 10px;
	  width:77px
}

.ico-wrong
{
	background-image: url(IMG_URL/images/contactImages/mobilejs/confirm.jpg);
	width: 31px;
	height: 28px;
	margin-right: 10px;
}
.ce_div{
	height:100%;width:95%;
}

.ico-right {
	background-image: url(IMG_URL/images/contactImages/mobilejs/confirm.jpg);
	width: 31px;
	height: 28px;
	margin-right: 10px;
}

.inner_div{
	width:95%; padding-top:7px;padding-left:12px;height:95%;overflow:auto;
}
.inner_div_detail{
	width:95%; padding-top:7px;padding-left:12px;
}

.fs15 {
    font-size: 12px; 
}
.abs
{
	position:absolute;
	#background:#ffffff;
	z-index:98;
	font-weight:normal;
	left:-120px;
	top:-25px;
}
.abs_ce
{
	position:absolute;
	#background:#ffffff;
	z-index:98;
	font-weight:normal;
	left:-120px;
}
.abs_cc
{
        position:absolute;
        #background:#ffffff;
        z-index:98;
        font-weight:normal;
        left:-275px;
}

.expressLayer
{
	position:relative;
}
.ce_357
{
	width:100%;
	padding-top:1px;
}
.ce_337
{
	width:337px; 
	padding-top:7px;
}

.pd12
{
	padding-left:12px;
}
.ww{
	word-wrap: break-word;
}

.profile-widget-container_layer
{
	background:#ffffff;
	width:385px;
	border-top:2px solid #888888;
	z-index:98;
	position:relative;
}

#clickHolderCE
{
	position:absolute;
	z-index:79;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); 
	BACKGROUND-COLOR: white;
	opacity:0
}


.layerce{position:relative;display:inline; font-weight: normal !important;}
.layerce1{left:20px;}
.layerce2{left:-70px;}

.cp 
{
 cursor:pointer;
}
a#NOT_INTERESTED
{
	color:#117daa !important;
}

.ce_360{
	width:360px;
}
.ce_360 div 
{
	margin-bottom:1px;
}
.crossCE{
width:14px;
height:14px;
font:12px arial;
border: 1px solid #8b8b8b;
color:#636363;
border-right-width:2px;
border-bottom-width:2px; 
text-align:center;
float:right;
margin-top:-19px;
margin-right:-19px;
position:relative;
font-weight: bold!important;
cursor:pointer;z-index:99;
top:30px;
left:-34px;
}
.pnk_bdr {
background:#fefbfc;
padding:8px 8px 8px 2px;
width:616px;
border:1px solid #ffecec;
}
.mar_top_15 {
margin-top:15px;
}
.lf {
float:left;
}
.grn_tk {
width:18px;
height:18px;
background-position:-181px -266px;
}
.w350{width:350px;}
.w300{width:auto;}



//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
body, form, div{margin:0;padding:0}
body{font-family:Arial,Verdana,sans-serif,Helvetica;}
img{border:0px;}
.clr{clear:both;}
.fbld{font-weight:bold;}
.flt{ float:left;}
.frt{ float:right;}
.ml10{margin-left:10px;}
.navigation{background-image:url(IMG_URL/P/I/mobilejs/top-bg.gif); background-repeat:repeat-x;line-height:36px; padding:5px 4px 4px 4px; }
.tp1{ background-image:url(IMG_URL/P/I/mobilejs/top-bg.gif); background-repeat:repeat-x; float:left; padding:5px 0px 0px 0px;}
.footer-top{border-top:#cecece solid 1px; margin:0px 10px 0px 10px;}
.footer-top1{border-top:#6f6f6f solid 1px; margin:0px 10px 0px 10px;}
.footer-top2{border-top:#6f6f6f solid 1px; margin:10px 10px 5px 10px;}
.footer{font-size:11px;color:#555;margin:10px 0}
.footer a:link,.footer a:active, .footer a:visited, .footer a:hover{color:#0046c5;text-decoration:none;}
.existing1{font-size:16px;color:#cd5601;padding-top:5px;margin-left:10px;}
.quick1{font-size:13px;color:#000000;margin-left:10px; padding-top:5px;}
.quickce{font-size:12px;color:#000000;}
.gobtn{margin:2px 0 10px 4px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc; padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer;}
.searchbtn{margin:10px 0 10px 15px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc;padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer;}
.new_exreg_btn{ background-color:#eeeeee; font-size:14px; color:#000000; width:170px; margin:5px 5px 5px 34px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn a:active, .new_exreg_btn a:visited, .new_exreg_btn a:hover{color:#0046c5;text-decoration:none;}
.new_exreg_btn1{ background-color:#eeeeee; font-size:14px; color:#000000; width:130px; margin:5px 5px 14px 50px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn1 a:active, .new_exreg_btn1 a:visited, .new_exreg_btn1 a:hover{color:#0046c5;text-decoration:none;}
ul.formbkend{margin:0; padding:0; list-style:none;}
ul.formbkend li{width:auto; margin:0px; padding:3px; padding-left:12px; font-size:12px;}
ul.formbkend li label{float:left; width:53px; text-align:left; padding:2px 5px 0 0; font-weight:normal; font-size:12px;color:#000000;}
.regterms{ font-size:11px; color:#000000; padding-left:70px;}
a:link,.regterms a:active, .regterms a:visited, .regterms a:hover{color:#0046c5;text-decoration:none;}
.registerbtn{margin:10px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc;padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer; margin-left:70px;}
.new_exreg_btn2{ background-color:#eeeeee; font-size:14px; color:#000000; width:130px; margin:5px 5px 14px 70px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn2 a:active, .new_exreg_btn2 a:visited, .new_exreg_btn2 a:hover{color:#0046c5;text-decoration:none;}
.loginbtn{margin:10px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc;padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer; margin-left:10px;}
.forgetpass_btn{font-size:12px;color:#0046c5;margin:0px 5px 0px 0px;padding:5px 0px 0px 0px;}
a:link,.forgetpass_btn a:active, .forgetpass_btn a:visited, .forgetpass_btn a:hover{color:#0046c5;text-decoration:none;}
.new_exreg_btn3{ background-color:#eeeeee; font-size:14px; color:#000000; width:170px; margin:5px 5px 14px 10px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn3 a:active, .new_exreg_btn3 a:visited, .new_exreg_btn3 a:hover{color:#0046c5;text-decoration:none;}
.backbtn{font-size:13px; color:#0046c5;padding:5px 0px 5px 12px;}
a:link,.backbtn a:active, .backbtn a:visited, .backbtn a:hover{color:#0046c5;text-decoration:none;}
.new_exreg_btn4{margin:5px 5px 10px 0px; padding:5px 0px 0px 10px; font-size:14px;}
.new_exreg_btn4 a:active, .new_exreg_btn4 a:visited, .new_exreg_btn4 a:hover{ background-color:#CCCCCC;color:#0046c5;text-decoration:none;}
.confirm_msg{font-size:16px; color:#75ad1c; padding:2px 10px 2px 10px;}
.confirm_msg1{font-size:12px; color:#000000; padding:2px 10px 2px 10px;min-height: 70px;}
.confirm_msg2{font-size:13px; color:#75ad1c; padding:2px 10px 2px 5px; line-height:16px;}
.confirm_msg3{font-size:14px; color:#000000; padding:2px 10px 2px 10px;}
.new_exreg_btn5{ font-size:14px; color:#000000;  margin:5px 5px 5px 5px; padding:5px 0px 0px 5px; height:20px;}
a:link,.new_exreg_btn5 a:active, .new_exreg_btn5 a:visited, .new_exreg_btn5 a:hover{color:#0046c5;text-decoration:none;}
ul.formbkend1{margin:0; padding:0; list-style:none;}
ul.formbkend1 li{width:auto; margin:0px; padding:3px; padding-left:12px; font-size:12px;}
ul.formbkend1 li label{float:left; width:120px; text-align:left; padding:2px 5px 0 0; font-weight:normal; font-size:12px;color:#000000;}
.srch1{font-size:12px; color:#000000; padding-left:12px; margin-top:12px; margin-bottom:5px;}
.pgsel{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;cursor:pointer; font-size:11px; float:right;margin-right:10px; text-decoration:none;}
.pgdis{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5; font-size:11px; margin-left:12px; float:left;text-decoration:none;}
.photo1{ margin:5px 10px 5px 10px; font-size:12px; text-align:center; float:left;color:#bc011d;}
.photo1 a:active, .photo1 a:visited, .photo1 a:hover{color:#0046c5;text-decoration:none;}
.photoleft{font-size:12px; font-weight:bold; color:#bc011d; margin-top:5px;text-decoration:none;}
.photoleft a:active, .photoleft a:visited, .photoleft a:hover{color:#bc011d;text-decoration:none;}
.pgseln{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;cursor:pointer; font-size:11px; margin-left:47px;text-decoration:none;}
.pgseln1{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;cursor:pointer; font-size:11px; margin-left:35px;text-decoration:none; font-weight:normal;}
.pgseln2{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;font-size:11px; margin-left:47px;text-decoration:none;}
.c11{font-size:12px;color:#555555;margin:2px 10px;padding-bottom:2px;}
.c11 a:link,.c11 a:active, .c11 a:visited, .c11 a:hover{color:#0046c5;text-decoration:none; font-weight:bold;}
.myupdat{font-size:14px; background-color:#f1f1f1; margin:5px 0px 0px 12px; padding:3px;color:#565656;}
.myjs1{ color:#565656; font-size:14px;margin-left:12px; line-height:19px; text-decoration:none;}
.myjs1 a{ color:#565656; font-size:14px;line-height:19px; text-decoration:none;}
.myjs1 a:hover{ font-weight:bold; color:#d65500; font-size:14px;line-height:19px; text-decoration:none; background-image:url(IMG_URL/P/I/mobilejs/moverbg.gif); background-repeat:repeat-x; height:25px; padding:2px;}
.myjsmesg{ background-color:#f1f1f1; color:#000000; font-size:12px; padding:2px 2px 2px 10px; margin:2px 8px 2px 8px;text-decoration:none;}
.myjsmesg a:active, .myjsmesg a:visited, .myjsmesg a:hover{color:#0046c5;text-decoration:none;}
.myjsdpp{width:234px;font-size:12px;padding-left:12px;}
.myjsdpp1{ color:#000000; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg.gif); background-repeat:repeat-x; width:100px; height:20px; padding:3px 2px 2px 4px; border:1px solid #cccccc;}
.myjsdpp1 a{color:#000000;text-decoration:none;}
.myjsdpp1 a:hover{color:#000000;text-decoration:none;}
.myjsdpp2{ color:#0046c5; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg1.gif); background-repeat:repeat-x; width:130px; height:40px; padding:3px 5px 5px 5px;}
.myjsdpp2 a{color:#0046c5;text-decoration:none;}
.myjsdpp2 a:hover{color:#0046c5;text-decoration:none;}

.myjsdpp1a{ color:#0046c5; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg1.gif); background-repeat:repeat-x; width:80px; height:20px; padding:3px 2px 2px 4px; border:1px solid #cccccc;}
.myjsdpp1a a{color:#0046c5;text-decoration:none;}
.myjsdpp1a a:hover{color:#0046c5;text-decoration:none;}
.myjsdpp2a{ color:#000000; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg.gif); background-repeat:repeat-x; width:130px; height:30px; padding:3px 5px 5px 5px;}
.myjsdpp2a a{color:#000000;text-decoration:none;}
.myjsdpp2a a:hover{color:#000000;text-decoration:none;}

.myjsdppbg{font-size:13px; background-color:#7097ae; margin:0px 10px 0px 12px; padding:3px;color:#ffffff;}
.myjsdppcon{ color:#000000; font-size:12px; padding:2px 2px 2px 10px; margin:2px 8px 2px 8px;text-decoration:none;}
div.row2{float:left; margin:2px 0px; font-size:12px; padding-left:12px;}
div.row2 label{float:left;text-align:left;width:90px;padding-left:6px;}

.rederr{color:#c0112c; padding-left:4px; font-size:11px; margin:4px;}
.rederr4{color:#c0112c; padding-left:4px; font-size:11px; margin:4px;margin-left:53px;}
.rederr1{color:#c0112c; padding-left:0px; font-size:11px; margin-left:10px;}
.rederr2{color:#c0112c; padding-left:3px; font-size:14px; margin:4px; font-weight:bold;}

.rederr3{color:#0046c5; padding-left:3px; font-size:12px; margin:4px; font-weight:bold;}
.rederr3 a:active, .rederr3 a:visited, .rederr3 a:hover{color:#0046c5;text-decoration:none;}
.gnricbtn{background-image: url("IMG_URL/P/I/mobilejs/btn-bg.gif"); background-position: -1px 0px;background-repeat: repeat-x;border: 1px solid #CCCCCC;color: #FFF !important;cursor: pointer;font-size: 13px;padding: 5px 10px;}
.normalbtn{background-image: url("IMG_URL/P/I/mobilejs/btn-bg.gif"); background-position: -1px 0px;background-repeat: repeat-x;border: 1px solid #CCCCCC;color: #FFF !important;cursor: pointer;font-family:sans-serif !important;font-size: 11px;padding: 3px 8px 3px 10px; margin-right:2px;white-space:nowrap;}
a.normalbtn{display:block;float:left;}
.greenbtn{background-image: url("IMG_URL/P/I/registration_revamp_new/green_button_bg.gif"); background-position: -1px 1px;background-repeat: repeat-x;border: 1px solid #CCCCCC;color: #FFF !important;font-family:sans-serif !important;font-size: 11px;padding: 3px 3px; margin-right:2px;white-space:nowrap;float:left;}
/* Include by Yashpal Sharma */
.commonTilte{font-size:18px;color:#cd5601;margin:1px 0 10px}
.hTitle{margin:5px 0 10px 0;padding:0 10px;font-size:16px}
#jsContent{padding:0 10px}
#jsContent p{font-size:12px}
#jsContent table{font-size:12px}
.fixhght{font-size:1px;line-height:1px;height:1px;overflow:hidden}
.fcBlack{color:#000}
.fcDRed{color:#bf0b20}
.fcMrgnt{color:#bc011d;}
.fs14{font-size:12px}
.pr12{padding-right:12px}
.ffv{font-family:verdana}
.slistingtxt{padding:5px 0 0 0}
.fs12{font-size:12px}
.fs13{font-size:13px}
.fs18{font-size:18px}
.mlr30{margin:0 30px 0 30px}
.mb2{margin-bottom:1px}
.mt10{margin-top:10px}
.pf5{padding:5px}
.w90p{width:93%}
.w93p{width:97%}
.h75{height:75px}
.activebtn{background:#d03e02 url(IMG_URL/P/I/mobilejs/btn-bg.gif) left top repeat-x;height:28px;border:1px solid #ccc;font-size:12px;color:#fff;cursor:pointer;padding-bottom:2px}
#footer{font-size:11px;color:#010101;border-top:1px solid #cecece;padding:10px 0;margin:40px 5px 0 5px}
#footer a:link,#footer a:active, #footer a:visited, #footer a:hover{color:#0046c5;text-decoration:none}

/* Tabs */
#n_tab{background:url(IMG_URL/P/I/mobilejs/n_bgTab.gif) left bottom repeat-x;height:32px;overflow:hidden}
#n_tab ul{margin:0;padding:0;list-style:none;margin-left:6px}
#n_tab ul li{float:left;height:32px;overflow:hidden;margin-right:3px}
#n_tab ul li a{float:left;height:32px;line-height:12px;background:url(IMG_URL/P/I/mobilejs/n_dTab.gif) left top repeat-x;text-decoration:none;color:#919191;border-left:1px solid #ddd;border-right:1px solid #ddd;font-size:11px;padding:4px 7px 0 7px;overflow:hidden}
#n_tab ul li a.selected{background:url(IMG_URL/P/I/mobilejs/n_aTab.gif) left top repeat-x;color:#000;font-weight:700}
.fs16 { padding-top:10px;}
.grey-box { background:#efefef; border: 1px solid #dbdbdb; padding:5px; color:#4d4d4d;}

.cmb-sel {
 width:137px;
 height:27px;

}

.txt-area {
	height:80px;
	border:1px solid #8a8a8a;
	font:14px arial;
	padding:5px;
	color:#4a4a4a;
	width:95%;
}
.w350{width:auto;}
padding-left{0px;}
.sp24{height:15px; clear:both;overflow:hidden;}
.sp80{height:40px;clear:both;overflow:hidden;}
.sp12{height:12px;clear:both;overflow:hidden;}
.sp15{height:14px;clear:both;overflow:hidden;}
.ce_357 p{margin:1px;padding:1px;}
.imgR{position:relative;top:6px;}
.textCE{width:95%;font-size:12px;height:45px}
.w347CE{width:95%;font-size:12px;}
.h102CE{font-size:12px;height:102px}
.h60CE{height:45px;font-size:12px;}
.w457CE{width:95%;font-size:12px;}
.h80CE{height:80px;font-size:12px;}
.h75CE{height:45px;font-size:12px;}
.w358CE{width:95%;font-size:12px;}
.h90CE{height:45px;font-size:12px;}
.h88CE{height:45px;font-size:12px;}
.w342CE{width:95%;font-size:12px;}
.h265CE{height:265px;}
.messagedropdown{float:right;width:180px!important;height:36px!important;}
.savedraft{width:20%; height:30px}
.w80mob{width:80%;}
.sp10{height:10px;clear:both;overflow:hidden;}
.quick2{font-size:12px;color:#000000;margin:0px 0px 0px 0px;}
.express-confirm {
 color:#75ad1c;
 font-weight:bold; 
}
.flt{float:left;}
.flce{width:95%;}
.flcet{width:100%}
.spce15{height:15px;clear:both;overflow:hidden;}
.redCE{color:#e40410}
.mob_div{margin-left:10px;margin-right:10px;}
.ml_23{}
.c50{color:#505050;}
.sp2,.sp5{height:2px;clear:both;overflow:hidden;}
.sp5{height:5px;}
.mgtop{position:relative;top:4px;}
.hideCE{display:none;}
.pMar{float:left;width:100%;}
.mar_top_-4{margin-top:-4px;margin-bottom:5px;}
.h265{height:265px;}
.bleft{bottom: 0px; left: 10px;}
.dspce15{height:15px;clear:both;}
