body, form, div{margin:0;padding:0}
body{font-family:Arial,Verdana,sans-serif,Helvetica;}
img{border:0px;}
.clr{clear:both;}
.fbld{font-weight:bold;}
.flt{ float:left;}
.frt{ float:right;}
.ml10{margin-left:10px;}
.navigation{background-image:url(IMG_URL/P/I/mobilejs/top-bg.gif); background-repeat:repeat-x;line-height:36px; padding:5px 4px 4px 4px; }
.tp1{ background-image:url(IMG_URL/P/I/mobilejs/top-bg.gif); background-repeat:repeat-x; float:left; padding:5px 0px 0px 0px;}
.footer-top{border-top:#cecece solid 1px; margin:0px 10px 0px 10px;}
.footer-top1{border-top:#6f6f6f solid 1px; margin:0px 10px 0px 10px;}
.footer-top2{border-top:#6f6f6f solid 1px; margin:10px 10px 5px 10px;}
.footer{font-size:11px;color:#555;margin:10px 0}
.footer a:link,.footer a:active, .footer a:visited, .footer a:hover{color:#0046c5;text-decoration:none;}
.existing1{font-size:16px;color:#cd5601;padding-top:5px;margin-left:10px;}
.quick1{font-size:13px;color:#000000;margin-left:10px; padding-top:5px;}
.quick2{font-size:12px;color:#000000;margin:5px 0px 5px 15px;}
.quickMob{font-size:12px;color:#000000;margin:5px;}
.searchbtn{margin:10px 0 10px 15px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc;padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer;}
.new_exreg_btn{ background-color:#eeeeee; font-size:14px; color:#000000; width:170px; margin:5px 5px 5px 34px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn a:active, .new_exreg_btn a:visited, .new_exreg_btn a:hover{color:#0046c5;text-decoration:none;}
.new_exreg_btn1{ background-color:#eeeeee; font-size:14px; color:#000000; width:130px; margin:5px 5px 14px 50px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn1 a:active, .new_exreg_btn1 a:visited, .new_exreg_btn1 a:hover{color:#0046c5;text-decoration:none;}
ul.formbkend{margin:0; padding:0; list-style:none;}
ul.formbkend li{width:auto; margin:0px; padding:3px; padding-left:12px; font-size:12px;}
ul.formbkend li label{float:left; width:53px; text-align:left; padding:2px 5px 0 0; font-weight:normal; font-size:12px;color:#000000;}
.regterms{ font-size:11px; color:#000000; padding-left:70px;}
a:link,.regterms a:active, .regterms a:visited, .regterms a:hover{color:#0046c5;text-decoration:none;}
.registerbtn{margin:10px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc;padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer; margin-left:70px;}
.new_exreg_btn2{ background-color:#eeeeee; font-size:14px; color:#000000; width:130px; margin:5px 5px 14px 70px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn2 a:active, .new_exreg_btn2 a:visited, .new_exreg_btn2 a:hover{color:#0046c5;text-decoration:none;}
.loginbtn{margin:10px; background-image:url(IMG_URL/P/I/mobilejs/btn-bg.gif);background-repeat:repeat-x;height:28px;border:1px solid #cccccc;padding-bottom:2px;font-size:12px; color:#ffffff;cursor:pointer; margin-left:10px;}
.forgetpass_btn{font-size:12px;color:#0046c5;margin:0px 5px 0px 0px;padding:5px 0px 0px 0px;}
a:link,.forgetpass_btn a:active, .forgetpass_btn a:visited, .forgetpass_btn a:hover{color:#0046c5;text-decoration:none;}
.new_exreg_btn3{ background-color:#eeeeee; font-size:14px; color:#000000; width:170px; margin:5px 5px 14px 10px; padding:5px 0px 0px 12px; height:20px;}
a:link,.new_exreg_btn3 a:active, .new_exreg_btn3 a:visited, .new_exreg_btn3 a:hover{color:#0046c5;text-decoration:none;}
.backbtn{font-size:13px; color:#0046c5;padding:5px 0px 5px 12px;}
a:link,.backbtn a:active, .backbtn a:visited, .backbtn a:hover{color:#0046c5;text-decoration:none;}
.new_exreg_btn4{margin:5px 5px 10px 0px; padding:5px 0px 0px 10px; font-size:14px;}
.new_exreg_btn4 a:active, .new_exreg_btn4 a:visited, .new_exreg_btn4 a:hover{ background-color:#CCCCCC;color:#0046c5;text-decoration:none;}
.confirm_msg{font-size:16px; color:#75ad1c; padding:2px 10px 2px 10px;}
.confirm_msg1{font-size:12px; color:#000000; padding:2px 10px 2px 10px;}
.confirm_msg2{font-size:13px; color:#75ad1c; padding:2px 10px 2px 5px; line-height:16px;}
.confirm_msg3{font-size:14px; color:#000000; padding:2px 10px 2px 10px;}
.new_exreg_btn5{ font-size:14px; color:#000000;  margin:5px 5px 5px 5px; padding:5px 0px 0px 5px; height:20px;}
a:link,.new_exreg_btn5 a:active, .new_exreg_btn5 a:visited, .new_exreg_btn5 a:hover{color:#0046c5;text-decoration:none;}
ul.formbkend1{margin:0; padding:0; list-style:none;}
ul.formbkend1 li{width:auto; margin:0px; padding:3px; padding-left:12px; font-size:12px;}
ul.formbkend1 li label{float:left; width:120px; text-align:left; padding:2px 5px 0 0; font-weight:normal; font-size:12px;color:#000000;}
.srch1{font-size:12px; color:#000000; padding-left:12px; margin-top:12px; margin-bottom:5px;}
.pgsel{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;cursor:pointer; font-size:11px; float:right;margin-right:10px; text-decoration:none;}
.pgdis{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5; font-size:11px; margin-left:12px; float:left;text-decoration:none;}
.photo1{ margin:5px 10px 5px 10px; font-size:12px; text-align:center; float:left;color:#bc011d;}
.photo1 a:active, .photo1 a:visited, .photo1 a:hover{color:#0046c5;text-decoration:none;}
.photoleft{font-size:12px; font-weight:bold; color:#bc011d; margin-top:5px;text-decoration:none;}
.photoleft a:active, .photoleft a:visited, .photoleft a:hover{color:#bc011d;text-decoration:none;}
.pgseln{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;cursor:pointer; font-size:11px; margin-left:47px;text-decoration:none;}
.pgseln1{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;cursor:pointer; font-size:11px; margin-left:35px;text-decoration:none; font-weight:normal;}
.pgseln2{background-color:#ededed;border:1px solid #e4e4e4;color:#0046c5;font-size:11px; margin-left:47px;text-decoration:none;}
.c11{font-size:12px;color:#555555;margin:2px 10px;padding-bottom:2px;}
.c11 a:link,.c11 a:active, .c11 a:visited, .c11 a:hover{color:#0046c5;text-decoration:none; font-weight:bold;}
.myupdat{font-size:14px; background-color:#f1f1f1; margin:5px 0px 0px 12px; padding:3px;color:#565656;}
.myjs1{ color:#565656; font-size:14px;margin-left:12px; line-height:19px; text-decoration:none;}
.myjs1 a{ color:#565656; font-size:14px;line-height:19px; text-decoration:none;}
.myjs1 a:hover{ font-weight:bold; color:#d65500; font-size:14px;line-height:19px; text-decoration:none; background-image:url(IMG_URL/P/I/mobilejs/moverbg.gif); background-repeat:repeat-x; height:25px; padding:2px;}
.myjsmesg{ background-color:#f1f1f1; color:#000000; font-size:12px; padding:2px 2px 2px 10px; margin:2px 8px 2px 8px;text-decoration:none;}
.myjsmesg a:active, .myjsmesg a:visited, .myjsmesg a:hover{color:#0046c5;text-decoration:none;}
.myjsdpp{width:234px;font-size:12px;padding-left:12px;}
.myjsdpp1{ color:#000000; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg.gif); background-repeat:repeat-x; width:100px; height:20px; padding:3px 2px 2px 4px; border:1px solid #cccccc;}
.myjsdpp1 a{color:#000000;text-decoration:none;}
.myjsdpp1 a:hover{color:#000000;text-decoration:none;}
.myjsdpp2{ color:#0046c5; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg1.gif); background-repeat:repeat-x; width:130px; height:40px; padding:3px 5px 5px 5px;}
.myjsdpp2 a{color:#0046c5;text-decoration:none;}
.myjsdpp2 a:hover{color:#0046c5;text-decoration:none;}

.myjsdpp1a{ color:#0046c5; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg1.gif); background-repeat:repeat-x; width:80px; height:20px; padding:3px 2px 2px 4px; border:1px solid #cccccc;}
.myjsdpp1a a{color:#0046c5;text-decoration:none;}
.myjsdpp1a a:hover{color:#0046c5;text-decoration:none;}
.myjsdpp2a{ color:#000000; background-image:url(IMG_URL/P/I/mobilejs/dpplayerbg.gif); background-repeat:repeat-x; width:130px; height:30px; padding:3px 5px 5px 5px;}
.myjsdpp2a a{color:#000000;text-decoration:none;}
.myjsdpp2a a:hover{color:#000000;text-decoration:none;}

.myjsdppbg{font-size:13px; background-color:#7097ae; margin:0px 10px 0px 12px; padding:3px;color:#ffffff;}
.myjsdppcon{ color:#000000; font-size:12px; padding:2px 2px 2px 10px; margin:2px 8px 2px 8px;text-decoration:none;}
div.row2{float:left; margin:2px 0px; font-size:12px; padding-left:12px;}
div.row2 label{float:left;text-align:left;width:90px;padding-left:6px;}

.rederr{color:#c0112c; padding-left:4px; font-size:11px; margin:4px;}
.rederr4{color:#c0112c; padding-left:4px; font-size:11px; margin:4px;margin-left:53px;}
.rederr1{color:#c0112c; padding-left:0px; font-size:11px; margin-left:10px;}
.rederr2{color:#c0112c; padding-left:3px; font-size:14px; margin:4px; font-weight:bold;}

.rederr3{color:#0046c5; padding-left:3px; font-size:12px; margin:4px; font-weight:bold;}
.rederr3 a:active, .rederr3 a:visited, .rederr3 a:hover{color:#0046c5;text-decoration:none;}
.gnricbtn{background-image: url("IMG_URL/P/I/mobilejs/btn-bg.gif"); background-position: -1px 0px;background-repeat: repeat-x;border: 1px solid #CCCCCC;color: #FFF !important;cursor: pointer;font-size: 13px;padding: 5px 10px;}
.normalbtn{background-image: url("IMG_URL/P/I/mobilejs/btn-bg.gif"); background-position: -1px 0px;background-repeat: repeat-x;border: 1px solid #CCCCCC;color: #FFF !important;cursor: pointer;font-family:sans-serif !important;font-size: 11px;padding: 3px 8px 3px 10px; margin-right:2px;white-space:nowrap;}
a.normalbtn{display:block;float:left;}
.greenbtn{background-image: url("IMG_URL/P/I/registration_revamp_new/green_button_bg.gif"); background-position: -1px 1px;background-repeat: repeat-x;border: 1px solid #CCCCCC;color: #FFF !important;font-family:sans-serif !important;font-size: 11px;padding: 3px 3px; margin-right:2px;white-space:nowrap;float:left;}
/* Include by Yashpal Sharma */
.commonTilte{font-size:18px;color:#cd5601;margin:1px 0 10px}
.hTitle{margin:5px 0 10px 0;padding:0 10px;font-size:16px}
#jsContent{padding:0 10px}
#jsContent p{font-size:12px}
#jsContent table{font-size:12px}
.fixhght{font-size:1px;line-height:1px;height:1px;overflow:hidden}
.fcBlack{color:#000}
.fcDRed{color:#bf0b20}
.fcMrgnt{color:#bc011d;}
.fs14{font-size:14px}
.pr12{padding-right:12px}
.ffv{font-family:verdana}
.slistingtxt{padding:5px 0 0 0}
.fs12{font-size:12px}
.fs13{font-size:13px}
.fs18{font-size:18px}
.mlr30{margin:0 30px 0 30px}
.mb2{margin-bottom:1px}
.mt10{margin-top:10px}
.pf5{padding:5px}
.w90p{width:93%}
.w93p{width:97%}
.h75{height:75px}
.activebtn{background:#d03e02 url(IMG_URL/P/I/mobilejs/btn-bg.gif) left top repeat-x;height:28px;border:1px solid #ccc;font-size:12px;color:#fff;cursor:pointer;padding-bottom:2px}
#footer{font-size:11px;color:#010101;border-top:1px solid #cecece;padding:10px 0;margin:40px 5px 0 5px}
#footer a:link,#footer a:active, #footer a:visited, #footer a:hover{color:#0046c5;text-decoration:none}

/* Tabs */
#n_tab{background:url(IMG_URL/P/I/mobilejs/n_bgTab.gif) left bottom repeat-x;height:32px;overflow:hidden}
#n_tab ul{margin:0;padding:0;list-style:none;margin-left:6px}
#n_tab ul li{float:left;height:32px;overflow:hidden;margin-right:3px}
#n_tab ul li a{float:left;height:32px;line-height:12px;background:url(IMG_URL/P/I/mobilejs/n_dTab.gif) left top repeat-x;text-decoration:none;color:#919191;border-left:1px solid #ddd;border-right:1px solid #ddd;font-size:11px;padding:4px 7px 0 7px;overflow:hidden}
#n_tab ul li a.selected{background:url(IMG_URL/P/I/mobilejs/n_aTab.gif) left top repeat-x;color:#000;font-weight:700}

/*new album*/
.box {margin:0px 10px; background:#f1f1f1;   color:#000;padding:5px 5px 5px 5px;_padding-top:2px; font:13px arial; clear:both}
.clear { clear:both}
.blk { color:#000000}
.fl {float:left;}
.fr { float:right;}
.mar10pxright { margin-right:10px;}
.declinebtn {
  background-image: url("IMG_URL/P/I/mobilejs/bg-grey.jpg");
  background-position: -1px 0;
  background-repeat: repeat-x;
border: 1px solid #CCCCCC;
color: #000000 !important;
cursor: pointer;
        font-family: sans-serif !important;
        font-size: 11px;
        margin-right: 2px;
padding: 3px 8px 3px 10px;
         white-space: nowrap;
}
.fs16 { font-size:16px;}

.grey-box { background:#efefef; border: 1px solid #dbdbdb; padding:5px; color:#4d4d4d;}

.cmb-sel {
width:137px;
height:27px;
}

.txt-area {
height:80px;
border:1px solid #8a8a8a;
font:14px arial;
padding:5px;
color:#4a4a4a;
width:100%;
}

.light-grey-box { background:#f8f8f8; border: 1px solid #dadada; padding:5px; color:#4d4d4d;}

.content-holder {
padding:0px 3px;
}

.fto-legend {
border: 2px solid #8c8c8c; background:#f0efef; 
padding: 5px 5px 5px 15px;
width:180px;
}

.fto-fldset {
border:2px solid #8c8c8c;
height: auto;
}

.take-fto {
border: 3px solid #e24707; background:#fcf8c9; text-align:center;margin:0 auto; padding:10px 0px; width:172px; border-radius:4px
}

.down-arrow {
width:20px; height:32px; margin:0 auto; position:relative;
      margin-top:5px;}
.b{font-weight:bold;}
.orangeLink {background-color:orange;color:#ffffff;}
.flts {margin-left:80px;color:#505050;}

.reg, .lgnIc, .srchIc, .calIc, .jaIc,.err_msg small,.homeIc,.matchesIc{background:url(IMG_URL/images/mobilejs/nmIc.png) 0 0 no-repeat; overflow:hidden; display:inline-block; vertical-align:middle}
/*nav icon css start here*/
.reg,.lgnIc, .srchIc, .calIc,.homeIc,.matchesIc{width:18px; height:24px;  display:block; margin:/*0.625em*/0 auto}
.reg{background-position:-13px 0;}
.lgnIc{background-position:-13px -30px;}
.srchIc{background-position:-13px -60px} .calIc{background-position:-13px -95px; width:16px}
.homeIc{background-position:-13px -187px;}
.matchesIc{background-position:-12px -151px;}
.reg{background-position:-13px 0;}
.hdLogo{padding:6px 0 6px 15px;display:block;}
html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,hr,table,tbody,tr,th,td,iframe,object,span,em,img,strong,blockquote,abbr,address,q,sub,sup,i,a,form,label,fieldset,legend,article,aside,details,footer,small,header,hgroup,nav,section,summary,time,mark,button{border:0;font-size:100%;font-family:inherit;vertical-align:baseline;-webkit-text-size-adjust:none;margin:0;padding:0;}html{overflow-y:scroll;}body{line-height:1;font:400 .75em Arial, Helvetica, sans-serif;}body,html{height:100%;}ul,ol,li{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{background:transparent;color:#00f;text-decoration:none;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}a:hover,a:active{outline:none;}mark{background:#ff0;color:#000;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0;}pre{white-space:pre-wrap;word-wrap:break-word;}sub,sup{position:relative;font-size:75%;line-height:1;}sup{top:-.5em;vertical-align:text-top;}sub{bottom:-.25em;vertical-align:text-bottom;}small{font-size:81%;}img,a img{-ms-interpolation-mode:bicubic;border:0;}:first-child+html button,:first-child+html input,:first-child+html select,:first-child+html textarea{vertical-align:middle;}textarea{overflow:auto;vertical-align:top;resize:none;}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}:first-child+html input[type=checkbox],:first-child+html input[type=radio]{height:13px;width:13px;}input[type=search]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}.cl{clear:both;overflow:hidden;}.dispN{display:none;}.dispIB{display:inline-block;}.fR,.fr{float:right;}.fwN{font-weight:400;}.grid-col-2 .gridCol{width:50%;}.grid-col-3 .gridCol{width:33.33%;}.grid-col-4 .gridCol{width:25%;}.grid-col-5 .gridCol{width:20%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.dispB{display:block;}th,td,input[type=radio],input[type=checkbox]{vertical-align:top;}b,strong,.fwB{font-weight:700;}svg:not(:root),.ovh,.oh,.grid-col-2,.grid-col-3,.grid-col-4,.grid-col-5{overflow:hidden;}.fL,.fl,.gridCol{float:left;}
nav{text-align:center;width:100%}
nav a{color:#fff;display:block;padding:11px 0 4px /*height:53px*/;margin:0 1px 0 0;font-size:16px;border:1px solid #d74405;
background: #ff9500; /* Old browsers */
background: -moz-linear-gradient(top, #ff9500 20%, #ea4500 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ff9500), color-stop(100%,#ea4500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff9500 20%,#ea4500 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ea4500',GradientType=0 ); /* IE6-9 */
*display:inline-block;
}
nav a:hover, nav .active{color:#fff;font-weight:bold;padding-bottom:3px;background: #ffe200; /* Old browsers */
background: -moz-linear-gradient(top, #ffe200 20%, #ffa800 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffe200), color-stop(100%,#ffa800)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffe200 20%,#ffa800 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe200', endColorstr='#ffa800',GradientType=0 ); /* IE6-9 */
}

.photoRequestSent{height: 33px; width: 75px; position: absolute; left: 6px; background: none repeat scroll 0% 0% #bbb; text-decoration: none; text-align: center; top: 73px; opacity: 0.8; font-size: 13px; line-height: 15px; font-weight: 600; color: #000;}

.requestPhoto{height: 33px; width: 75px; position: absolute; left: 6px; background: none repeat scroll 0% 0% rgb(221, 221, 221); text-decoration: none; text-align: center; top: 73px; opacity: 0.8; font-size: small; line-height: 15px; font-weight: 600;}

