
.wd_pwd{
}

@media (min-width: 280px) and (max-width: 480px) {
 	.showhide{
display: inline;
margin: auto;
margin: 10px 10px 10px 10px;
color: gray;
cursor: pointer;
position: absolute;
right: 1px;
top:-1px;
font-size: 11.7px;
}
 }
@media (min-width: 481px) {

	.showhide{
display: inline;
margin: auto;
margin: 10px 10px 10px 10px;
color: gray;
cursor: pointer;
position: absolute;
right: 10px;
top:-1px;
font-size: 11.7px;
}
	
}
