
body{ text-align:center;font:12px Arial, Helvetica, sans-serif; margin:0px; padding:0px;} 
article, aside, figure, footer, header, hgroup,menu, nav, section { display: block; }
img{border:0px;}
.container_v1{width:930px; margin:0px auto; text-align:left;padding:0px}
.fr_v1{float:right;}
.clr_v1{clear:both;}

.imgbrder_v1{border:1px solid #959595; padding:2px;}
.imone_v1{width:100px; height:134px;}
.imtwo_v1{width:60px; height:60px;}

.height90_v1{height:90px;}
.hgt70_v1{height:70px;}
.hgt10_v1{height:10px;}
.underlinenone{text-decoration:none;}

.fl_v1{float:left;}
.txtalign_c_v1{text-align:center;}
.dispone_v1{display:inline-block;}
.lht10_v1{line-height:10px;}
.lht20_v1{line-height:20px;}
.brdr1_v1{	border-bottom:1px solid #E3E3E3;}
.lpbrder_v1{border:1px solid #BDC48B;}
.rbg_v1{border:1px solid #900504;}
.brdr4_v1{border:1px solid #BDC48B;}
.brdr6_v1{border:5px solid #B6B6B6;}
.brdr8_v1{border:2px solid #399109;}
.brdr3_v1{border:1px solid #CFD4AB;}
.brdr2_v1{border:1px solid #D4D2D4;}
.brdr5_v1{border:1px solid #C3C7CA;}
.probrdrbtm_v1{border-bottom:1px solid #BDC48B;}
.bgred_v1{background-color:#FC0000;}
.bgclr9_v1{background-color:#fff;}
.bgorg_v1{background-color:#FFF1A4;}
.lpbg1_v1{background-color:#FCFCFD}
.bgcol1_v1{background-color:#EBF0F3;}
.bgclr6_v1{background-color:#E7E7E7;}
.bgcol2_v1{background-color:#FBFCFE;}
.classrela_v1{ position:relative;}
.classabso_v1{position:absolute;}
.curpoint_v1{cursor:pointer;}
.pos1_v1{top:-31px; right:178px;}
.closeabs_v1{position:absolute;right:5px; top:2px;}


.helppopup_v1{ position:absolute;top:-10px; left:123px;z-index:4;}
.popup2_v1{display:none;}
.popup3{background:url(IMG_URL/images/my_js/contentimg.png) 17px -154px no-repeat; width:289px; height:83px;}
.popup3{display:none;}
.help1 a:hover .popup3{display:block;}
.help1 a:hover .popup3{display:block;}
.helppopup3{ position:absolute;top:-29px; left:0px;z-index:4;}

#help_v1 a:hover .popup2_v1{display:block;}
.hgt10_v1{height:10px;}
.hgt148_v1{height:148px;}
.prgrbg_v1{background-color:#DAEFCE;width:180px;height:15px;}
.numberbox_v1{background: linear-gradient(#FC0000, #E70000) repeat scroll 0 0 transparent;border: 1px solid #941010;color: #FFFFFF;}

.smallarrow_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -327px -53px; width:12px; height:16px;}
.justjoin_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -312px -7px; width:75px; height:20px;}
.clsbtn_v1{background:url(IMG_URL/images/my_js/contentimg.png) -327px -67px no-repeat;width:20px;height:20px;}
.seprator3_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -207px -104px; width:12px; height:16px;}
.justjoin_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -312px -7px; width:75px; height:20px;}
.prevbtn_v1{background:url(IMG_URL/images/my_js/contentimg.png) -224px -8px no-repeat;width:28px; height:25px;}
.nextbtn_v1{background:url(IMG_URL/images/my_js/contentimg.png) -254px -8px no-repeat;width:28px; height:25px;}
.prgressbar_v1{background:url(IMG_URL/images/my_js/prfcom.png) repeat-x;height:15px;width:62%;}
.loginhistry_v1{background:url(IMG_URL/images/my_js/contentimg.png) -347px -138px no-repeat;width:59px; height:35px;}
.helpimg_v1{background:url(IMG_URL/images/my_js/contentimg.png) -1px 0px no-repeat; width:19px; height:19px;}
.popup2_v1{background:url(IMG_URL/images/my_js/contentimg.png) 17px -154px no-repeat; width:289px; height:83px;}
.seephn_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -97px 1px; width:76px; height:39px;}
.seechat_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -174px 1px; width:47px; height:39px;}
.seemsg_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -105px -43px; width:35px; height:39px;}
.upgraade_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -15px -84px; width:184px; height:61px;}
.evallogo_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -146px -54px; width:40px; height:20px;}
.seprator2_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -203px -103px; width:3px; height:20px;}
.guna_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -195px -55px; width:20px; height:20px;}
.linkedinlogo_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -290px -7px; width:20px; height:20px;}
.commentarrow_v1{background:url(IMG_URL/images/my_js/contentimg.png) -228px -63px no-repeat; width:20px ; height:28px;}
.mobileicon_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -294px -35px; width:20px; height:20px;}
.gtalkicon_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -319px -29px ; width:47px; height:25px;}
.expitn_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -297px -66px; width:23px; height:25px;}
.phnicon_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -297px -97px; width:23px; height:25px;}
.shrtlistcon_v1{background:url(IMG_URL/images/my_js/contentimg.png) no-repeat -297px -129px; width:23px; height:25px;}
.boxprofile_v1:hover{background-color:#FFFFC1;}
.boxprofile_v1 .bgclr2{background-color:#C7D4E4;color:#5b5b5b;}
.boxprofile_v1 .bgclr3{background-color:#DEE5EF;color:#5b5b5b;}
.boxprofile_v1:hover .bgclr2{background-color:#869EBC;color:#fff;}
.boxprofile_v1:hover .bgclr3{background-color:#869EBC;color:#fff;}
.boxprofile_v1:hover .commentarrow_v1{background-position: -228px -97px;}
.boxprofile_v1:hover .commentarrow1_v1{background-position: -228px -97px;}
.brdr1radius_v1{border-radius:4px;}


.arrowpos_v1{position:absolute;top:20px; left:-19px;}



/* padding */
.padalla_v1{padding:6px 9px 3px 4px}
.paddallb_v1{padding:5px 0px;}
.padallc_v1{padding:0px 10px;}
.paddalld_v1{padding:3px 0px;}
.padallfour_v1{padding:4px;}
.paddallthree_v1{padding:3px;}
.padall_10_v1{padding:10px;}
.paddala_b_v1{padding:8px 8px 3px 52px;}
.padall_5_v1{padding:5px;}
.paddala_2_v1{padding:2px;}
.paddala_d_v1{padding:6px 10px;}
.paddala_e_v1{padding:14px 10px;}
.paddall_f_v1{padding:0px 3px;}

.pt4_v1{padding-top:4px;}
.pt5_v1{padding-top:5px;}
.pt6_v1{padding-top:6px;}
.pt9_v1{padding-top:9px;}
.pt10_v1{padding-top:10px;}
.pt17_v1{padding-top:17px;}
.pt20_v1{padding-top:20px;}
.pt25_v1{padding-top:25px;}


.padleft4_v1{padding-left:4px;}
.padleft5_v1{padding-left:5px;}
.padleft6_v1{padding-left:6px;}
.padleft10_v1{padding-left:10px;}
.padleft15_v1{padding-left:15px;}
.padleft22_v1{padding-left:22px;}
.padleft28_v1{padding-left:28px;}
.padleft50_v1{padding-left:50px;}

.padright4_v1{padding-right:5px;}
.padright5_v1{padding-right:5px;}


.mrgintop_v1{margin-top:-2px;}


.probrdrbtm_v1{border-bottom:1px solid #BDC48B;}
/* font */
.txt4color_v1{color:#5b5b5b;}
.txt3color_v1{color:#3d3d3d}
.txtdeco_v1{text-decoration:none;}
.txt5color_v1{color:#000 !important;}
.txtcolwhite_v1{color:#fff;}
.txtcolblu1_v1{color:#1171ae;}
.txtlpcolor_v1{color:#6f872d !important;}
.txt2color_v1{color:#874c07;}
.ftbld_v1{font-weight:bold;}
.fntsize9_v1{font-size:9px;}
.fnt12_v1{font-size:12px;}
.fntsize12_v1{font-size:14px;}
.fntsize14_v1{font-size:14px;}
.fntsize16_v1{font-size:16px;}
.fntsize17_v1{font-size:17px;}
.fntsize20_v1{font-size:20px;}
.fntinpt_v1{font: bold 13px Arial, Helvetica, sans-serif;}


/* width */
.fullwidth_v1{width:100%;}
.wid16_v1{width:16px;}
.wid20_v1{width:20px;}
.wid130_v1{width:130px;}
.wid153_v1{width:153px;}
.wid180_v1{width:180px;}
.wid200_v1{width:200px;}
.wid230_v1{width:230px;}
.wid242_v1{width:242px;}
.wid250_v1{width:250px;}
.wid266_v1{width:266px;}
.wid225_v1{width:225px;}
.wid257_v1{width:257px;}
.wid320_v1{width:320px;}
.wid361_v1{width:361px;}
.wid400_v1{width:400px;}
.wid480_v1{width:480px;}
.wid663_v1{width:663px;}

/* submit btn */
.greenbtn_v1{color:#fff;border:2px solid #7DC258;background: #3D960D;background: -webkit-gradient(linear, left top, left bottom, from(#56B623), to(#3D960D));
background: -webkit-linear-gradient(#56B623, #3D960D);background: -moz-linear-gradient(top, #56B623, #3D960D);background: -ms-linear-gradient(#56B623, #3D960D);
background: -o-linear-gradien(#56B623, #3D960D);background: linear-gradient(#56B623, #3D960D);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56B623', endColorstr='#3D960D');}
.btnwid_v1{width:140px; height:30px;}
.greybtn_v1{color:#1171ae;border:1px solid #D4D4D4;background: #D2D2D2;background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#D2D2D2));
background: -webkit-linear-gradient(#F4F4F4, #D2D2D2);background: -moz-linear-gradient(top, #F4F4F4, #D2D2D2);background: -ms-linear-gradient(#F4F4F4, #D2D2D2);
background: -o-linear-gradien(#F4F4F4, #D2D2D2);background: linear-gradient(#F4F4F4, #D2D2D2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#D2D2D2');}
.greybtn1_v1{color:#676b6f;border:1px solid #A2A2A2; background-color:#C4BFB9;}



/* left panel */


.inboxlist_v1 ul{margin:0px; padding:0px; list-style-type:none;}
.inboxlist_v1 ul li{padding:10px;border-bottom:1px solid #BDC48B;}
.inboxlist_v1 ul li .bg1{color:#fff;border:1px solid #941010;background: #E70000;background: -webkit-gradient(linear, left top, left bottom, from(#FC0000), to(#E70000));
background: -webkit-linear-gradient(#FC0000, #9EBA50);background: -moz-linear-gradient(top, #FC0000, #E70000);background: -ms-linear-gradient(#FC0000, #E70000);
background: -o-linear-gradient#FC0000, #E70000);background: linear-gradient(#FC0000, #E70000);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC0000', endColorstr='#E70000');}
.inboxlist_v1 ul li:hover{background: #BFD974;background: -webkit-gradient(linear, left top, left bottom, from(#BFD974), to(#9EBA50));
background: -webkit-linear-gradient(#BFD974, #9EBA50);background: -moz-linear-gradient(top, #BFD974, #9EBA50);background: -ms-linear-gradient(#BFD974, #9EBA50);
background: -o-linear-gradient#BFD974, #9EBA50);background: linear-gradient(#BFD974, #9EBA50);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFD974', endColorstr='#9EBA50');}
.inboxlist_v1 ul li  .colorh{color:#000;}
.inboxlist_v1 ul li:hover  .colorh{color:#fff;}
.inboxlist_v1 ul li .bg2{color:#fff;border:1px solid #DEDEDE;background: #8F8F8F;}
.inboxlist_v1 ul li:hover .bg2{color:#8F8F8F;border:1px solid #8F8F8F;background: #fff;}

.numberbox{background: linear-gradient(#FC0000, #E70000) repeat scroll 0 0 transparent;border: 1px solid #941010;color: #FFFFFF;}
.numberboxgrey_v1{background: #8F8F8F;border: 1px solid #A7A8AA;color: #FFFFFF;}
.prevbtn{background:url(IMG_URL/images/my_js/contentimg.png) -224px -8px no-repeat;width:28px; height:25px;}
.nextbtn{background:url(IMG_URL/images/my_js/contentimg.png) -254px -8px no-repeat;width:28px; height:25px;}
.imgbrder{border:1px solid #959595; padding:2px;}
.imone{width:100px; height:134px;}
.imtwo_v1{width:60px; height:60px;}


/* profile widget */
#profillink ul{ margin:0px; padding:0 0px 0 10px; list-style-type:none;}
#profillink ul li a{ color:#1171ae; text-decoration:underline; display:block;padding-bottom:5px;}
.helpimg{background:url(IMG_URL/images/my_js/contentimg.png) -1px 0px no-repeat; width:19px; height:19px;}
.profseprator{background:url(IMG_URL/images/my_js/contentimg.png) 0px -20px no-repeat; width:6px; height:125px;}
.loginhistory_v1{ position:absolute;top:61px; left:-127px; widows:200px; height:200px;z-index:4;}
.viewloginpopup{ background:url(IMG_URL/images/my_js/contentimg.png) 1px -237px no-repeat; width:425px;height:258px;}
.closepopup1_v1{background:url(IMG_URL/images/my_js/contentimg.png) -21px -4px no-repeat; width:20px; height:20px;}
.datascroll1_v1{width:378px; height:190px; overflow:auto}
.helppopup{ position:absolute;top:-10px; left:123px;z-index:4;}
.popup2{background:url(IMG_URL/images/my_js/contentimg.png) 17px -154px no-repeat; width:289px; height:83px;}

.helppopup3{ position:absolute;top:-29px; left:0px;z-index:4;}
.popup3{background:url(IMG_URL/images/my_js/contentimg.png) 17px -154px no-repeat; width:289px; height:83px;}

.prgressbar{background:url(IMG_URL/images/my_js/prfcom.png) repeat-x;height:15px;width:62%;}
.prgrbg{background-color:#DAEFCE;width:180px;height:15px;}
.infoicon{background:url(IMG_URL/images/my_js/contentimg.png) -39px -2px no-repeat; width:17px; height:20px;}
.instyle input{border: 1px solid #AAAAAA;border-radius: 5px;   height: 25px;}
.instyle select{border: 1px solid #AAAAAA;border-radius: 0.3em 0.3em 0.3em 0.3em;height: 30px;padding: 3px;}
.savebtn{background-color: #D9D9D9;background-image: -moz-linear-gradient(center bottom , #D9D9D9 0%, #EFEFEF 70%);border: 1px solid #CACACA;border-radius: 4px 4px 4px 4px;color: #424242;padding: 4px;}

ul.linkblue{
	margin: 0;padding: 0;list-style: none;
}

.linkblue li{
	padding-left: 12px;background-image: url(IMG_URL/images/my_js/contentimg.png);background-repeat: no-repeat;background-position: -490px -5px; line-height:20px
}

/* profile pagination */
ul.navlist{margin: 0;padding: 0;white-space: nowrap;}
.navlist li{display: inline;list-style-type: none;}
.navlist a { background:url(IMG_URL/images/my_js/contentimg.png) -275px -68px; width:16px;height:14px; display:inline-block; font-size:10px; }
.navlist a:hover{ background-position:-256px -68px; color:#fff;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

.mrtop15n_v1{margin-top:-15px;}

}





