select{
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance:none;
        outline:none;
        appearance:none;
        background:none!important;
        /*padding:9px 40px 9px 10px;*/
        width:100%;
		height:25px !important;		
		padding:2px 0px 0px 2px;
}
input[type="text"],input[type="password"], textarea {
    border: 1px solid #aaa;
	border-radius:0px;
	height:25px;
   
}
input[type="radio"] { border: none !important;}
.icon{background: none !important; border:0px !important;}
#main{background-color:#454545;}
textarea[name="message"]{ height:120px;}
div.frm-container div.row05 div{
width:45%;
}
div.frm-container div.row05 div.mid{
width:5%;
margin-top:3px;
}
.message-btn{
background-color:#f16c01 !important;
}
.js-list ul li div.u-code span.shortlist {
border: 1px solid #cbcbcb;
color: #336aba;
font-size: 11px;
font-family: Arial;
display: inline-block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 1px 1px 1px 4px;
margin-left: 10px;
position: relative;
}
