/* CSS Document */
* {margin:0; padding:0}

.topbg {
	width:100%;
background-image: url("IMG_URL/profile/images/top_bg.jpg");background-repeat: repeat-x;height: 33px;
}
.title { color:#505050; }
.blink1{ color:#1171ae; }

*html select{ font-size:11px;}
	
.no-margin-padding{margin:0!important; padding:0!important}
.sp15 {clear:both; height:15px; }
.sp18 {clear:both; height:18px; }
.sp5 {clear:both; height:5px!important; }
.grey_note_box {background-color:#f6f5f5;padding:5px;width:78%;border:1px #dedddd solid; float:right;}
.green-hash {color:#8cc502}

.block { display:block}

.center { text-align:center}

.fs18 { font-size:18px;}
.fs16 { font-size:16px;}


.scrollbox2_1{background-color:#FDF4F5!important;border:1px solid #FDF4F5!important;
padding:5px 2px 0px 11px!important;width:auto!important;min-height:350px!important; color:#505050!important; font-size:13px!important; } 
.grey2 { width:170px!important}

.border-footer {border:1px #F0CED6; border-top-style:solid}

.mar_left_50 {margin-left:50px; display:inline}

.blue {color:#2179b2!important;}

div.row3 label.grey, div.row4 label.grey {vertical-align:top;color:#797979!important; font-size:13px;padding:0px 8px 0px 0px!important; }



div.row3 label.grey2, div.row4 label.grey2 {vertical-align:top;padding-right:10px;
float:left;color:#797979!important; font-size:13px; width:170px }

.scroll_new{background-color:#FFFFFF!important;
border:1px solid #cccccc;overflow:auto;
padding:3px 2px 4px 3px;width:242px!important; height:105px;}

.decotxt_2 {width:265px!important; height:20px!important}



.vam{vertical-align:middle;}
.fs12 { font:12px arial;}
.fs13 { font:13px arial!important;}
.fs14 {font:14px arial}
.hideme { display:none!important;}


.horz_sp35{ width:30px; }
*html .horz_sp35{width:23px}
.setwidth { width:242px; display:inline-block}
.widthauto { width:auto!important;}


.maroon { color:#cd3737}


span.containerSp { width:284px!important;}

.next-line {display:inline;
background-color: rgb(251, 236, 239);
float:left; 
 clear: both;
  margin-left:259px;  padding: 5px; width: 420px; margin-top:5px}

.width100 {width:100%!important;_width:100%!important}


.box-help {z-index: 1000; position: absolute; float: left; display: none; left: 633px; top: 108px;}

.setmargin {margin-top:-2px; float:left}


.chbx { border: medium none;     margin: 0;   
 padding: 0;    width: 16px!important; vertical-align:top}

.mar_left_10 { margin-left:10px!important}
.mar_left_38 { margin-left:38px!important}
.mar_left_big { margin-left:272px;}

.green {
    color: #33B300;
}

.ttip_top {padding:5px 0 0 77px;
}

.note { color:#797979; margin-left:90px; font-size:13px; display:inline}

.sml_pink_box {background:#fbedf0; padding:20px; float:left ;
 height:auto; border:1px solid #f5e1e5; width:575px }

.sml_pink_box div { padding:3px 0px;}

.div_txt_left {width:302px;}
div	.border_top_bot {border-top:1px solid #d7cdcf; border-bottom:1px solid #d7cdcf;}

.mar_left_14 {margin-left:14px}

 
 .fullwidth { width:100%!important;	}
 .b { font-weight:bold!important;}
 .fr { float:right!important} 
  
 
 /* new css added on 21st march  */
 
 .i { font-style:italic}
 .brick { color:#cb5209}
 .black { color:#000000}
 
 .divWhiteBox { border-top:1px solid #505050;border-bottom:1px solid #505050; background:#ffffff; height:auto; width:717px; float:left ;  }
 .divBlockLeft {padding:18px 18px 18px 18px; float:left; width:479px; display:inline; }
 .divBlock { width:479px;  position:relative;}
 .divBlock1 {width:157px; margin-top:4px;}
 .divBlock2 { width:200px;} 
 
.btnGreen_2 {background:#7cb306 url(IMG_URL/profile/images/btn_bg_green.jpg); width:107px; height:25px; border:1px solid #7cb306; font-size:14px;  color:#000000; cursor:pointer; text-transform:capitalize;box-shadow:1px 2px 2px -1px; float:left }
*html .btnGreen_2{filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135,strength=3);}
*+html .btnGreen_2 {filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135,strength=3);}

 
.btnGrey_2 { background:#c1c1c1;width:107px; height:25px; font-size:14px; box-shadow:1px 2px 2px -1px; color:#6a6969; cursor:pointer;text-transform:capitalize; float:left}
*html .btnGrey_2{filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135,strength=3);}
*+html .btnGrey_2 {filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135,strength=3);}
 
 .imgConnect {left: 389px;    position: absolute;    top: 69px;}
 .imgConnect_fto {left: 389px;    position: absolute;    top: 87px;}
 
 .txtBox { margin-left: 5px;  width: 100px; height:25px;border:1px solid #7f7f7f; }  
 
 .txtBox_nobrd {width:100px; border:none; margin-left: 5px; height:25px; }
 *html .textalign { line-height:1.6; position:relative; top:2px}
 *+html .textalign {line-height:1.6; position:relative; top:2px}
    
.brd_none {border:none; margin-left:5px;}

.txtBox_small{width:38px;height:25px; border:1px solid #7f7f7f; margin-left:5px;color:#000000;}
.txtBox_small_nobrd{width:38px;height:25px; border:none; margin-left:5px;color:#000000;}

.imgIndicator {left: 98.5%;    position: absolute;    top: -13px;}


.divBlockRight {background:#fff17f; width:182px; padding:12px 0px 12px 20px; float:right; min-height:135px  }
.divBlockRight {height:126px;height:auto;_height:140px }
*+html .divBlockRight {height:140px}


 .divGreyBox { background:#eae4e5; height:auto; width:697px; float:left ; overflow-x:scroll; min-height:133px; padding:25px 10px;  }
 
 .divGreyBox div.panel { width:231px; height:auto;}
 .divGreyBox div.panel div { float:left; line-height:20px}
 .w100px { width:100px;} 
 
 
 .mar_left_5 { margin-left:5px}



