.photoRequestSent{height: 33px; width: 75px; position: absolute; left: 6px; background: none repeat scroll 0% 0% #bbb; text-decoration: none; text-align: center; top: 73px; opacity: 0.8; font-size: 13px; line-height: 15px; font-weight: bold; color: #000;}

.requestPhoto{height: 33px; width: 75px; position: absolute; left: 6px; background: none repeat scroll 0% 0% rgb(221, 221, 221); text-decoration: none; text-align: center; top: 73px; opacity: 0.8; font-size: small; line-height: 15px; font-weight: bold;}

.img-holder a { 
    color: #0045A9;
}

