body{ font-size:12px; color:#000000; font-family:Arial,sans-serif; margin:0px;}
.pnew{width:700px; background-color:#fdf4f5;}
.topbg_new{background-image:url(IMG_URL/images/top_bg.gif); background-repeat:repeat-x; height:27px;}
.green_btn{background-image:url(IMG_URL/images/green_button_bg.gif); background-repeat:repeat-x; height:22px; border:1px #578d00; border-style:solid; padding-bottom:2px; font-size:11px; color:#fff; cursor:pointer;}
.sp7{clear:both;height:3px;overflow:hidden}
.pink_photo_tip .big_img_load_new{width:340px;background:#efefef; border:1px solid #dfdfdf; text-align:center; height:310px;}
.big_img_load_new{
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.pink_photo_tip{padding-left:10px; margin:0 10px;}
.pink_photo_tip .tip_block_new{width:110px;}
.pink .actual_size{width:152px;}
.pink .actual_size_thumb{width:70px;}
.pink{width:420px; border:2px #f0ced6 solid; background-color:#fdf4f5;}
.green_verify{background:url(IMG_URL/images/green_tick_circle.jpg) no-repeat 0 2px; padding:4px 25px; color:#97c904; margin-left:10px;}
.green_verify1{background:url(IMG_URL/images/alert.gif) no-repeat 0 2px; padding:4px 25px; color:#97c904; margin-left:10px;}
.mar_top_6{margin-top:6px;}
.pd{padding:3px;}
.t12{font-size:12px;}
.lf{float:left;}
.rf{float:right;}
.b{font-weight:bold;}

