bihtml,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,hr,table,tbody,tr,th,td,iframe,object,span,em,img,strong,blockquote,abbr,address,q,sub,sup,i,a,form,label,fieldset,legend,article,aside,details,footer,small,header,hgroup,nav,section,summary,time,mark,button{border:0;font-size:100%;font-family:inherit;vertical-align:baseline;-webkit-text-size-adjust:none;margin:0;padding:0;}html{overflow-y:scroll;}body{line-height:1;font:400 .75em Arial, Helvetica, sans-serif;}body,html{height:100%;}ul,ol,li{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{background:transparent;color:#00f;text-decoration:none;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}a:hover,a:active{outline:none;}mark{background:#ff0;color:#000;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0;}pre{white-space:pre-wrap;word-wrap:break-word;}sub,sup{position:relative;font-size:75%;line-height:1;}sup{top:-.5em;vertical-align:text-top;}sub{bottom:-.25em;vertical-align:text-bottom;}small{font-size:81%;}img,a img{-ms-interpolation-mode:bicubic;border:0;}:first-child+html button,:first-child+html input,:first-child+html select,:first-child+html textarea{vertical-align:middle;}textarea{overflow:auto;vertical-align:top;resize:none;}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}:first-child+html input[type=checkbox],:first-child+html input[type=radio]{height:13px;width:13px;}input[type=search]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}.cl{clear:both;overflow:hidden;}.dispN{display:none;}.dispIB{display:inline-block;}.fR,.fr{float:right;}.fwN{font-weight:400;}.grid-col-2 .gridCol{width:50%;}.grid-col-3 .gridCol{width:33.33%;}.grid-col-4 .gridCol{width:25%;}.grid-col-5 .gridCol{width:20%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.dispB{display:block;}th,td,input[type=radio],input[type=checkbox]{vertical-align:top;}b,strong,.fwB{font-weight:700;}svg:not(:root),.ovh,.oh,.grid-col-2,.grid-col-3,.grid-col-4,.grid-col-5{overflow:hidden;}.fL,.fl,.gridCol{float:left;}
body{color:#000;}
a{color:#000}
.fl{float:left}	.fr{float:right}	.cls{clear:both}
.cl{clear:both;height:1px; overflow:hidden;font-size:1px;}
.wrap{padding:1.5em 1.5em 0; background:#fff}.wrapper{padding:0 0 2em 1.5em}
.paddnum{padding:.7em 0;}
.widnum{width:40px;padding:0px 0.5em;}
.numcenter{text-align:center;}
.redcolor{color:#FF0000}
.greencolor{color:#50BE00}
/*Sprites*/
.reg, .lgnIc, .srchIc, .calIc, .jaIc,.err_msg small,.homeIc,.matchesIc{background:url(IMG_URL/images/mobilejs/nmIc.png) 0 0 no-repeat; overflow:hidden; display:inline-block; vertical-align:middle}
/*header start here*/
.hdLogo{padding:6px 0 6px 15px;display:block;}
/*navigation start here*/
nav{text-align:center;width:100%}
nav a{color:#fff;display:block;padding:11px 0 4px /*height:53px*/;margin:0 1px 0 0;font-size:16px;border:1px solid #d74405;
background: #ff9500; /* Old browsers */
background: -moz-linear-gradient(top, #ff9500 20%, #ea4500 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ff9500), color-stop(100%,#ea4500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff9500 20%,#ea4500 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ea4500',GradientType=0 ); /* IE6-9 */
*display:inline-block;
}
nav a:hover, nav .active{color:#fff;font-weight:bold;padding-bottom:3px;background: #ffe200; /* Old browsers */
background: -moz-linear-gradient(top, #ffe200 20%, #ffa800 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffe200), color-stop(100%,#ffa800)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffe200 20%,#ffa800 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe200', endColorstr='#ffa800',GradientType=0 ); /* IE6-9 */
}
/*nav icon css start here*/
.reg,.lgnIc, .srchIc, .calIc,.homeIc,.matchesIc{width:18px; height:24px;  display:block; margin:/*0.625em*/0 auto}
.reg{background-position:-13px 0;}
.lgnIc{background-position:-13px -30px;}
.srchIc{background-position:-13px -60px} .calIc{background-position:-13px -95px; width:16px}
.homeIc{background-position:-13px -187px;}
.matchesIc{background-position:-12px -151px;}
/*nav icon css ends here*/
/*navigation ends here */
/*header ends here*/
/*body container css start here*/
.pageHdCont{background:#fff; padding:0 0 1px;margin:1px 0 0;}
.pageHd{overflow:hidden;font-size:14px;font-weight:bold;padding:0.8em;background:#f2f2f2;color:#000;}
.pageHd span{font:12px arial;margin:0 0 0 20px;display:inline;}
/*Form & Form Elements*/
input[type=text],input[type=password],input[type=tel], select, textarea{width:98%; border:#aaa solid 1px;-moz-border-radius:.6em; -webkit-border-radius:.6em;border-radius:.6em;outline:none;}
input[type=password],input[type=text],input[type=tel]{padding:0 0.5%; width:98%;height:30px;}
select{width:99%;padding:0.2em 0;height:30px;font-size: 14px;} textarea{width:98.8%; height:149px; padding:0.313em 0.5% 0.438em;}
.inst{font-size:12px;color:#000;}
.lblStyl{display:block; font-size:14px; padding:0 0 0.2em;color:#000;} .formR .labelSml{font-size:1.4em}
/*mobile input field*/
.num p{font:12px arial;color:#919191;}
.num p span{color:#000;}
.mbNum{float:left;width:100%;}
.mbNum .num1{width:12%;margin: 0 5px 0 0;float:left;border:1px solid #aaaaaa;height:30px;line-height:30px;text-align:center;border-radius: 0.6em 0.6em 0.6em 0.6em;}
.mbNum .num2 input{width:100%;margin:0;}
.mbNum .num2{float:left;width:84%;margin:0;}
.gen{*width:49% !important;}
.gen label{float:left;line-height:14px;}
.gen input[type="radio"]{float:left;margin-right:1px;height:14px;width:15px;margin-left:1px;}
.birth{margin:0 5px 0 0;display:inline;}
.birth.last{margin-right:0;}
.birth select{width:31%;}
.mob{padding-left:5px;}
.formRow{padding-bottom:2em;}
.tc{font-size:12px;color:#000;padding:10px 0 0 ;}
.tc a{color:#0046c5;}
.err_msg{font-size:12px;color:#ff0000;background:#ebebeb;width:99.2%;line-height:20px;float:left;}
.err_msg small{background-position:-13px -127px; width: 18px;height:18px;}
.bodyCon{clear:both;}
.mar3top{margin-top:3px;}

/*Buttons*/
.btnM{display:inline-block;border:#f68119 solid 1px;font-size:16px;color:#fff;font-weight:bold;background: #ff9500; /* Old browsers */
background: -moz-linear-gradient(top, #ff9500 20%, #ea4500 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ff9500), color-stop(100%,#ea4500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff9500 20%,#ea4500 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff9500 20%,#ea4500 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ea4500',GradientType=0 ); /* IE6-9 */
padding:0.625em 0.938em;cursor:pointer;}
.proWrap .formRow{padding-bottom: 0.5em;}
.btnM:hover{font-weight:bold;background: #ffe200; /* Old browsers */
background: -moz-linear-gradient(top, #ffe200 20%, #ffa800 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffe200), color-stop(100%,#ffa800)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffe200 20%,#ffa800 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffe200 20%,#ffa800 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe200', endColorstr='#ffa800',GradientType=0 ); /* IE6-9 */}
/*body container css ends here*/

/*footer start here*/
footer{border-top:#dad9d9 solid 1px;text-align:center; color:#555; line-height:16px; padding:0.5em 0;margin:4em 0 0;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
.fbDummy{padding:0 0 0.5em;}
.callNo span{color:#0046c5;font-size:1.2em;}
.blckTxt{font-size:1.2em;color:#000;}
.smlTxt{font-size:1.2em;color:#0046c5;}
.smlTxt a{color:#0046c5;}
.copy{color:#555;font-size:1.2em;}
.error{padding-bottom:2em;}
/*footer ends here*/
/*select dropdown*/
  .selectParent
  {
	float:left;	width:100%;	border-radius:8px 8px 8px 8px;	border : 1px solid #aaa;	position:relative;	box-shadow:0 1px 0 #fff inset;	background-color:#eee;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));background-image: -webkit-linear-gradient(top, #eee 20%, #fff 80%);background-image: -moz-linear-gradient(top, #eee 20%, #fff 80%);background-image: -o-linear-gradient(top, #eee 20%, #fff 80%);background-image: linear-gradient(#eee 20%, #fff 80%);background:url("IMG_URL/images/map_locate.png") no-repeat scroll 100% 0 transparent;
}
.selectText{position:absolute;		font-size:15px;		padding:6px 4px 4px 6px;
}
/*select drop ends here*/
/*Custom radio starts*/
.radio {width: 1.9em;height: 1.9em;padding: 0 5px 0 0;background: url(IMG_URL/images/registration_new/radio.png) no-repeat;display: block;clear: left;float: left;}
input.styled { display: none; }  .disabled { opacity: 0.5; filter: alpha(opacity=50); }
.gennew{*width:49% !important;}
.gennew label{float:left;line-height:20px;}
.gennew input[type="radio"]{float:left;margin-right:1px;height:14px;width:15px;margin-left:1px;}
/* Custom radio ends here*/
.terms {padding:0 0 0.5em 1.5em;}
.t_c{color:#0046c5;}
.footer1{color:#555555;font-size:1.0em;}
