*{margin:0; padding:0; float:none; text-decoration:none; list-style:none;}
input{vertical-align:middle;}
body{font:12px Arial, Helvetica, sans-serif;}
textarea,select{border:1px solid #ccc; font:12px Arial, Helvetica, sans-serif;background-color:#fff;}
a:link {color:#117daa; text-decoration:none} a:visited{ text-decoration:none}
.w36{width:36px}.w40{width:40px}.w57{width:57px}.w62{width:64px}.w64{width:68px}.w65{width:65px}.w68{width:68px}.w110{width:110px}.w112{width:112px}.w150{width:150px}.w222{width:222px}.w225{width:225px}.w230{width:230px}.w237{width:237px}.w245{width:245px}.w304{width:304px}.w342{width:342px}.w343{width:343px}
.h17{height:17px}.h52{height:52px}.h98{height:98px}.h104{height:104px}
.fs17{font-size:17px;}
.mar5left{margin-left:5px}

.fl{float:left;}
.fr{float:right;}
.clr{clear:both; height:0; overflow:hidden;}
.cl_5{height:5px;}
.cl_10{height:10px;}
.cl21{height:21px;}

.f_17{font-size:17px;}
.f_11{font-size:11px;}
.f_13{font-size:13px;}

.mt_6{margin-top:6px;}
.mr_4{margin-right:4px;}
.mt_10{margin-top:10px;}
.mt_21{margin-top:21px;}
.ml_5{margin-left:5px; display:inline;}
.ml_10{margin-left:10px; display:inline;}

.pos_abs{position:absolute;}
.pos_rltv{position:relative;}
.p_tl_0{top:0; left:0;}
.p_tr_0{top:0; right:0;}
.p_bl_0{bottom:0; left:0;}
.p_br_0{bottom:0; right:0;}


.b{font-weight:bold;}
.u{text-decoration:underline;}
.orng{color:#ffaf00;}
.drk_gry{color:#444;}
.lt_gry{color:#8d8d8d;}
.mar{color:#C8080E;}

a.blue{color:#057ec3;}
a.mar{color:#C8080E;}

h4{font-size:18px;}
h3{font-size:18px;}
h2{font-size:20px;}
.sprtereg{background:url(IMG_URL/profile/images/registration_revamp_new/pg1_sprte_new.png) no-repeat;}
.reg_cont{width:775px; margin:auto;}
.main_form_cont{border:1px solid #dadada;}

ul.form{margin:0; padding:1px 0px 1px 1px; list-style:none; width:96%;}
ul.form li{float:left; padding-bottom:19px; width:100%;}
ul.form li label{float:left; width:170px; text-align:right; padding-right:5px; color:#4b4b4b;}
ul.form li input.txt1{float:left; width:214px; height:17px; border:1px solid #ccc;}
ul.form li input.txt2{float:left; height:17px; border:1px solid #ccc;}
ul.form li label u{color:#ffaf00; text-decoration:none;}
ul.form li h2{font-size:14px;color:#bd001c;padding-left:10px;font-weight:normal;}
.sel_sml{width:60px;

}


.sel_mid{width:174px;}
.sel_mid1{width:214px;}
.sel_lng{width:225px;
width: 225px;

}
.sel_bgst{width:285px;}
.bot_bdr{border-bottom:2px solid #dadada;}

.tp_bg{height:24px; background-repeat:repeat-x; background-position:0 -272px;}
.hlp{width:16px; height:15px; background-position:-284px -55px;}
/*.logo{width:219px; height:35px; background-position:0 -465px;}*/
.logo{ background-position:0 -53px; width: 219px; height: 35px;}

.nkri_lgo{width:85px; height:13px; background-position:0 -14px;}
.h_w_6{height:6px; width:6px; font-size:2px;}
.h_w_5{height:5px; width:5px; font-size:2px;}
.info_icn{width:18px; height:18px; background-position:-282px -73px;}
.crt_prof_btn{width:177px; height:43px; background-position:0 -507px;}
.red_tick{width:16px; height:15px; background-position:-284px -21px;}

.mrd{width:108px; float:left;}
.gry_cont{width:404px; padding:10px; background:#f5f5f5; border:1px solid #e8e9e9;}

.err{color:#c8080e;float:left;margin-top:4px}
.coverhelp{position:relative;display:inline;}

.helpbox{display:none; border:1px solid #99b1c8; left:16px; top:-7px; margin-right:25px; position:absolute;width:220px;z-index:100;background:#fff;}
.helpimg{position: absolute; top: 5px;left:-16px;background:url(IMG_URL/profile/images/registration_revamp/arrow2.gif) no-repeat; width:16px; height:12px;}
.pd_5{padding:5px;}

/* Last two curve starts from here  */
.cur_btm_left{float:right;margin:-4px -2px -2px -2px; _margin:10px -2px -2px; position:relative; z-index:10;}
.cur_btm_right{float:left;margin:-4px -10px -2px -2px; _margin:10px -10px -2px -2px; position:relative; z-index:10;}
/* Ends Here */ 

optgroup.lab{font-weight:bold!important};
option.lab_nor{font-weight:normal;}
.cvr_hlp{border:0 solid #ccc!important; width:10px;}
ul.formnew li label{float:left; font-size:11px; width:140px; text-align:left; padding-right:5px; color:#231f20;}






.fto-notification-box {
 border:3px solid #fec928;
 height:auto;
 clear:both;
 background:#f8f8f8;
 font:20px Arial, Helvetica, sans-serif;
 margin: 0 auto;
 margin-top:7px;
 position:relative;
 font-variant:normal
}
.box1 {
	width:490px;
	padding:25px 15px;
}
.box2 {
	width:734px;
	padding:15px;
}

.box3 {
	width:720px;
	padding:15px;
}



.fto-btn-fill-form {
 background: url(IMG_URL/profile/images/registration_revamp_new/pg1_sprte_new.png) repeat-x scroll  -150px -240px  transparent;
 height:30px;
 margin:18px 0px;
 font:18px arial;
 color:#fff;
 border: 2px solid #7dc258;
 width:100px;
}

.fto-close-arrow {
 background-position: -245px -156px;
    background-repeat: no-repeat;
    height: 51px;
    left: 604px;
    position: absolute;
    top: -26px;
    width: 55px;
    z-index: 1001;

}
.fto-notification-box1 {
 width:490px;
 border:3px solid #fec928;
 height:auto;
 padding:25px 15px; 
 clear:both;
 background:#f8f8f8;
 font:20px Arial, Helvetica, sans-serif;
 margin: 0 auto;
 margin-top:7px;
 position:relative;
 font-variant:normal
}

.fto-arrow-down  {
 width:80px;
 height:35px;
 float:left;
 background-position:-213px -306px;
 margin-left:20px;
}

.fto-close-arrow-sprte {
	background:url("IMG_URL/profile/images/registration_revamp_new/close_x_icn.png") 0% 0% no-repeat;
	height: 49px;
	left: 608px;
	position: absolute;
	top: -26px;
	width: 49px;
	z-index: 1001;
	cursor:pointer;
	}



.olive {
 color:#a38600;
}

.fs20 {
 font-size: 20px;
}

.fs18 {
 font-size:18px;
}

.pos-lt {
    background-position:8px -119px;
}


.pos-rt {
    background-position: -144px -119px;
    width: 120px;
}


.box-message .btn-sub {
  background: url(IMG_URL/profile/images/registration_revamp_new/pg1_sprte_new.png) no-repeat 0 -229px;
  border: 2px solid #81C45D;
}

.logo{width:219px; height:35px; background-position:0 -53px;}

.password-strength p {
  margin: 0;
  }
  .password-strength .meter {
  margin: 4px 0;
  height: 5px;
  background: #f5f5f5;
  }
  .password-strength .meter #strength-bar {
  display: block;
  height: 100%;
  width: 0px;
  }
  .password-strength .meter .short {
  background: #a03;
  }
  .password-strength .meter .weak {
  background: #a03;
  }
  .password-strength .meter .fair {
  background: #fc3;
  }
  .password-strength .meter .good {
  background: #2d98f3;
  }
  .password-strength .meter .strong {
  background: #76c261;
  }
  .password-strength .meter .notRated {
  background: #666;
  }


.olive {
 color:#a38600;
}

.fs20 {
 font-size: 20px;
}

.fs18 {
 font-size:18px;
}
.login_bar {
	width:772px;
	height:55px;
	background:#f9f9f9;
	border:2px solid #dadada
}
.login_bar label {
	float:left;
	color:#494949;
	margin:0 5px;
}
.login_bar input.txt1 {
	float:left;
	width:118px;
	height:16px;
	border:1px solid #969696;
}
.boy_grl {
	width:232px;
	height:230px;
	background-position:0 -30px;
}
.grn_bg {
	background:#fff;
	width:210px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:17px;
}
.g_t_l {
	background-position:-289px 0;
}
.g_t_r {
	background-position:-295px 0;
}
.g_b_l {
	background-position:-289px -6px;
}
.g_b_r {
	background-position:-295px -6px;
}
.grn_bg ul {
	margin:10px auto;
	padding:0;
	width:180px;
}
.grn_bg ul li {
	float:left;
	width:114%;
	margin-bottom:15px;
	list-style:none;
	font-weight:bold;
	 margin-left: -6px;
	 font-size:11px;
}
.gry{color:#828282;}
.orng_1{color:#FF7A00}
.toll_free{font:bold 16px Arial, Helvetica, sans-serif; padding:10px 0px 0px 35px;}
.suc_stry_img {
width:204px;
height:147px;
background-position:0 -303px;
}
	   .err_msg{float:left; width:300px; color:#c8080e; margin:4px 0 0;}
   #xy{position:relative; z-index:-1;}
   html>body #xy{position:relative; z-index:0;}

//Registration page5 css start
.mt_min_19 {
	margin-top:-19px;
	z-index:10;
	position:relative;
}
h1 {
	font:11px verdana, Helvetica, sans-serif;color:#000000!important
}
.w_202 {
	width:252px;
}
.gry_bdr {
	border:1px solid #ccc;
}
.pl_2 {
	padding-left:2px;
}
.chk_box_cont {
	overflow: auto;
	width: 250px;
	height: 98px;
}
div.chk_box_cont label{font-weight:normal!important; float:none!important; padding:0!important; width:auto!important; text-align:left;color:#000000!important}
div.chk_box_cont input{margin:0 2px 3px 0;}
//Registration page5 css end
.err_msg{float:left; width:300px; color:#c8080e; margin:4px 0 0;}

#xy{position:relative; z-index:-1;}

html>body #xy{
  position:relative; z-index:0;
}

.mt_min_19 {
	margin-top:-19px;
	z-index:10;
	position:relative;
}
h1 {
	font:11px verdana, Helvetica, sans-serif;
}
.w_202 {
	width:252px;
}
.gry_bdr {
	border:1px solid #ccc;
}
body div .gry_bdr label{color:#00000;float:none;font-weight:normal;padding:2px;width:auto;}

.pl_2 {
	padding-left:2px;
}
.chk_box_cont {
	overflow: auto;
	width: 250px;
	height: 98px;
}
.cur_btm_left{float:right;margin:-4px -2px -2px -2px; _margin:10px -2px -2px; position:relative; z-index:10;}

.cur_btm_right{float:left;margin:-4px -10px -2px -2px; _margin:10px -10px -2px -2px; position:relative; z-index:10;}

.err{color:#c8080e;float:left;margin-top:4px}
.mt_min_19 {
	margin-top:-19px;
	z-index:10;
	position:relative;
}
h1 {
	font:11px verdana, Helvetica, sans-serif;
}
ul.wrte_abt {
	width:190px;
	margin:0 0 0 5px;
	padding:0;
	float:left;
	background:#fafafa;
	padding:5px;
}
ul.wrte_abt li {
	float:left;
	width:99.9%;
	padding-bottom:4px;
}
.grn_tick {
	width:10px;
	height:9px;
	background-position:-290px -94px;
}
.sel_lng_new{
	width:230px;
}
.gry{color:#828282;}
.orng_1{color:#FF7A00}
.toll_free{font:bold 16px Arial, Helvetica, sans-serif; padding:10px 0px 0px 35px;}
.hdrtxt{float: right;font: 11px Vardana,Helvetica,sans-serif;padding: 2px 0 0;}
 @-moz-document url-prefix() {

    .regHeader{position: relative; font-weight: normal; font-size: 12px;top: 4px;left: 228px !important;color:#000000;}

}

.regHeader{position: relative; font-weight: normal; font-size: 12px;top: 4px;left: 210px;left: 230px\9;color:#000000;}

.ftblc_phntxt{ font-weight:bold;}
.helpicon_phn{background:url(IMG_URL/images/registration_new/new-phn-hover-img1.png) no-repeat 1px -25px; width:21px; height:21px;}
.posrel_phn{position:relative;}
#phn_popup .popup_phn{display:none;}
#phn_popup a:hover .popup_phn{display:block;}
.popup_phn{ position:absolute;top:-33px; left:36px;}
.phnpopbrdr{border:2px solid #A8A8A8; background-color:#fff;width:310px;}
.phnbrpad5{padding:5px;}
.popphnarow{background:url(IMG_URL/images/registration_new/new-phn-hover-img1.png) no-repeat 1px 1px; width:25px; height:21px;}
 .popphnarowpos{position:absolute;top:30px; left:-20px;}
 
 /* new reg css changes:atul */
 .ncolh{color:#bd001c;}
 .nfs16{font-size:16px;}
 .yjoin  ul{width:180px;}
 .yjoin ul li{list-style:disc outside none !important;color:#bd001c;margin-left:8px;font-size:12px;font-weight:normal;margin:0px 0px 10px 26px;}
 .yjoin ul li span, .ncolgrey{color:#4b4b4b;}
 .ntxtcent{text-align:center;}
 .ntxtleft{text-align:left;}
 .ndispin{display:inline;}
 .nfullwid{width:100%;}
 .nrbrdr{display:inline; border:1px solid #dadada;padding:10px;}
 .nh121{height:121px;}
 .nsubbtn{background-color:#bd001e;padding:10px 25px;color:#fff;font-size:16px;cursor:pointer;border:0px;}
 ul#setlbwid li label{width:150px;}
 #reg_yourinfo::-webkit-input-placeholder { color:#4B4B4B; }
 #reg_yourinfo::-moz-placeholder { color:#4B4B4B; }

.sprte-hdr-foot {
  background:url(IMG_URL/images/sprite-header-footer.png) transparent;
}
.hdr-logo-small {
background-position: 0 -84px !important;
height: 33px;
margin-top: 4px;
width: 172px;
}
.reg_h1{float:right} 
.mar30left{margin-left:30px;}
