html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
html, body, ul, form, button, input, p {
	margin:0;
	padding:0
}
form {
	display:inline
}
a {
	text-decoration:none;
	outline:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display:block
}
section:after, footer:after, clearline {
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
	zoom:1
}
i {
	display:inline-block;
	font-style:normal
}
.container {
	margin:0 auto;
	padding:0
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display:table;
	line-height:0;
	content:""
}
.clearfix:after {
	clear:both
}


.fullw{width:100%}
.txtc{text-align:center}
.posrel{position:relative}
.posabs{position:absolute}
.fs1{font-family:Cambria}
.fs2{font-family:Arial, Helvetica, sans-serif}
.fsos1 {font-family: 'Open Sans', sans-serif;font-weight:300}
.fsos2 {font-family: 'Open Sans', sans-serif;font-weight:600}
.fsos3 {font-family: 'Open Sans', sans-serif;font-weight:700}

.fl{float:left}
.fr{float:right}

.dispib,.dispibl{display:inline-block}
.dispi{display:inline}
.dispt{display:table}
.disptc{display:table-cell}



.maut{margin:0 auto}



.color1{color:#3d2c09}
.color2{color:#666666}
.color3{color:#d82742}
.color4{color:#333333}
.color5{color:#fff}
.color6 {color: #ec3963;}

.brdr1 {border: 1px solid #ec3963 !important;}

.f10{font-size: 10px}
.f11{font-size: 11px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f15{font-size:15px}
.f18{font-size:18px}
.f20{font-size:20px}
.f30{font-size:30px}

.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom: 30px}
.pb50{padding-bottom:50px}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}
.pt5{padding-top: 5px}
.pl28{padding-left:28px}
.pt10{padding-top:10px}
.pt12{padding-top:12px}
.pt14{padding-top: 14px}
.pt20{padding-top:20px}	
.pt34{padding-top:34px}
.pt37{padding-top:37px}
.pt131{padding-top:131px}
.pad5{padding:10px 15px}
.mt10{margin-top: 10px}

.bg1{background-color:#f4f6f6}
.bg2{background-color:#fff}
.bg3{background-color:#999999}
.bg4{background-color:#363636}

.wid40p{width:40%}
.wid50p{width:50%}
.wid90p{width:90%}

.shade1{-webkit-box-shadow: 0px 5px 7px 0px rgba(166,156,166,1);
-moz-box-shadow: 0px 5px 7px 0px rgba(166,156,166,1);
box-shadow: 0px 5px 7px 0px rgba(166,156,166,1);}

#submitform input {
    width: 92%;
}
#submitform input {
    padding: 11px 9px; border:1px solid #e1e1e1
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    padding-bottom: 7px;
    display: block;
}
.dn{display:none}
.vishid {visibility: hidden;}
.upbtn {
    background-color: #ec3963;
    border: 0;
    color: #fff;
    font-size: 15px;
    width: 100%;
    line-height: 39px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;font-weight:600
}
.subbtn{
	background:#ec3963; 
	color:#fff; 
	font-family: 'Open Sans', sans-serif;font-weight:600
	font-size:15px; 
	font-weight:bold;  
	width:100%; 
	border:0 !important; 
	height: 50px;
padding: 0px !important;}

@media (min-width: 280px) and (max-width: 720px) {
	
	.dispMS{display:block}
	.dispPC{display:none}
	.ms-bg1{background-color:#fee496}
	
	
	
	.pad1{padding:20px 15px}
	.imgdiv{width:261px; height:61px}
	.msf1{font-size:16px}
	.ms-wid1{width:98%;}
	.ms-widd{width:100%}
	.ms-widf{width:100%}
	.ms-c1{text-align:center; padding-top:10px}
	
	.Ms-header {
		background:url(../images/sathi/ms-header.jpg) no-repeat center center #dbdbdb;-webkit-background-size: cover;-moz-background-size: cover; height:350px
	}
	
	.ms-pad1{padding:20px 0}
	.ms-pad2{padding-top:20px}	
	.ms-pad3{padding:10px}
	.ms-pad4{padding:30px 0 50px 0}
	.ms-pad5{padding:15px 8px}
	
	.ms-pta{padding-top:15px}
	.ms-ptb{padding-top:25px}
	
	
	
	
}
@media (min-width: 711px) {
	
	
	
	.dispMS{display:none}
	.dispPC{display:block}
	.M-header {background:url(../images/sathi/M-headimg.jpg) no-repeat center center #Dbdbdb;-webkit-background-size: cover;-moz-background-size: cover;
    -o-background-size: cover;background-size: cover;}
	
	.pos1{top:0; left:0}
	.padChange {padding: 7px 0 20px 0;}
	@-moz-document url-prefix() {
    	.pos1{top:0; left:-5px}
    	.padChange{padding: 7px 0px 34px;}
	}

.pos2{bottom:5px; right:20px}
	
	.hgta{height:434px}
	
	.pc-fl{float:left}
	.pc-fr{float:right}
	.pc-pra{padding-right:20px}
	.pc-pla{padding-left:20px}
	.pc-padb{padding: 40px 25px}
	
	.pc-pad3{padding:30px 25px}
	.pc-pad4{padding:30px 0 50px 0}
	
	.pc-pt60{padding-top:60px}
	
	.pc-pb1{padding-bottom:50px}
	.pad1{padding:30px 0}
	.pad6{padding:7px 0 20px 0}
	.pad7{padding:20px 10px 10px 15px}
	
	.pc-ma{margin-top:21px}
	
	.wida{width:990px}
	.widb{width:930px}
	.widc{width:530px}
	.pc-widd{width:68%}
	.wide{width:30%}
	.pc-widf{width:280px}
	.pc-wid96p{width: 96% !important}
	
	.bdr1{border-right:1px solid #767676}
	
	.lh18{line-height:18px}
	
	
	
	
	ul.imglist{list-style-type:none; padding:0; margin:0}
.imgd{width:249px; height:145px}
	.ms-pad2{padding-top:50px}
	.msf1{font-size:20px}
	
	.pc-wid1{width:34%;}
	
	.bdr2{border-right:1px solid #ebebeb;}
	
	.lquo{background:url(../images/sathi/quotes.png) 1px 1px no-repeat; width:16px; height:14px;}
	.rquo{background:url(../images/sathi/quotes.png) 1px -13px no-repeat; width:16px; height:14px;}
	.lquo2{background:url(../images/sathi/quotes2.png) no-repeat 1px 1px; width:24px; height:24px}
	.rquo2{background:url(../images/sathi/quotes2.png) no-repeat 1px -20px; width:24px; height:24px}
	.cls1 {width: 218px;font-style: italic;line-height: 25px;}

}