body{margin:0; padding:0; font-size:12px; color:#000000; font-family:Arial,sans-serif}
#main{width:100%; margin:0px;float:left;}
.sreach_pannal{background-image:url(IMG_URL/img_revamp/bg_search.gif);background-repeat:repeat-x;width:778px;}
div.row{clear:both; padding:3px 0 0px 0;color:#000;width:98%;margin:auto;}
.pd2{padding:2px 2px 2px 5px;}
.pd{padding:3px}
.pd1{padding:1px}
.pd5{padding:5px}
#container{width: 778px; margin: 0px auto; }
select{font:normal 10px verdana;color:#000000;}
.hd1{color:#ff8400; font:bold 25px arial;}
.hd2{color:#ff8400; font:bold 15px arial;}

.hd1new{color:#ff8400; font:bold 20px arial;}
.hd2new{color:#ff8400; font:bold 13px arial;}
.pgwidth{width:32%}
.pgdis{border: 1px solid #929292;color: #929292; background:#FFF; margin:0 2px 0 2px; font:normal 11px arial;padding:0px}
.pgdes{font-weight: bold;border: 1px solid navy;background-color: #2e6ab1;color: #FFF; width:12px; margin:0 2px 0 2px; font:normal 11px arial;padding:0px}
.pgsel{border: 1px solid #929292;color: #929292;background-color: #FFF; width:12px; margin:0 2px 0 2px; cursor:pointer; font:normal 11px arial;padding:0px}
.greenborder{border:1px #bed563; border-style:solid; width:99%; background-image:url(IMG_URL/img_revamp/grbg.gif); background-repeat:repeat-x; background-position:bottom;}
/* block */
.sr_top_bg{background-image:url(IMG_URL/img_revamp/sr_top_bg.gif); background-repeat:repeat-x; height:20px;}
.sr_bottom_bg{background-image:url(IMG_URL/img_revamp/sr_bottom_bg.gif); background-repeat:repeat-x; height:5px;}
.pd_top_bg{background-image:url(IMG_URL/img_revamp/pd_top_bg.gif); background-repeat:repeat-x; height:23px;}
.pd_bottom_bg{background-image:url(IMG_URL/img_revamp/pd_bottom_bg.gif); background-repeat:repeat-x; height:7px;}
.blue_border{border:1px #bca8ff; border-left-style:solid; border-right-style:solid;width:100%; padding:5px; width:448px;}
.blue_border_bg{ background-image:url(IMG_URL/img_revamp/pd_hr_bg.gif); background-repeat:repeat-y; width:100%; padding:4px 8px 4px 8px; width:444px;}
.gray_border{border:1px #dbdbdb; border-left-style:solid; border-right-style:solid;width:100%; padding:6px;width:153px;}
.green_border{border:1px #bed563; border-left-style:solid; border-right-style:solid;width:100%; padding:6px;width:153px;}
.orange_border{border:1px #fed369; border-left-style:solid; border-right-style:solid;width:100%; padding:5px; width:448px;}
.gray{color:#6f6e6e; text-decoration:none}
.green{color:#229f00;}
.red{color:#e40410}
.gray_background{background-color:#f0f0f0;width:100%}
.orange{color:#fe8a0d;}
.dark_orange{color:#ff5a00;}
a.gray:link, a.gray:active, a.gray:visited{color:#6f6e6e; text-decoration:none}
.success_bg{background-image:url(IMG_URL/img_revamp/bg_success_story.gif); background-repeat:no-repeat;width:118px; height:94px;}
.graybar{background-image:url(IMG_URL/img_revamp/graybar.gif);background-repeat:no-repeat;width:155px;height:31px; padding:6px;}
.graybar_down{ background-image:url(IMG_URL/img_revamp/graybar_down.gif); background-repeat:no-repeat; width:167px;height:5px;}
.greenbar{background-image:url(IMG_URL/img_revamp/greenbar.gif);background-repeat:no-repeat;width:155px;height:31px; padding:6px;}
.greenbar_down{ background-image:url(IMG_URL/img_revamp/greenbar_down.gif); background-repeat:no-repeat; width:167px;height:5px;}
.green_hover{background-image:url(IMG_URL/img_revamp/green_hover.gif); background-repeat:repeat-x; background-position:bottom
;border:1px #d6e49c;border-style:solid;padding:2px;}
.photo_bg{background-image:url(IMG_URL/img_revamp/photo_bg1.gif);background-repeat:no-repeat;width:145px;height:123px;}
.similar_bg{ background-image:url(IMG_URL/img_revamp/similar_bg.gif); width:180px; height:77px;}
.greenhr{border:1px #bed563; border-bottom-style:solid;}
.rfree_panel{ background-image:url(IMG_URL/img_revamp/rfree_panel_bg.gif);background-repeat:no-repeat;width:124px;height:255px;}
.res_hd{color:#197ecc;}
/* clusters */
.pink{width:420px;border:1px #f0ced6;border-style:solid; background-color:#fdf4f5;}
.scrollbox{overflow:auto;height:195px;border:1px solid #fdf4f5; background-color:#fdf4f5;padding:4px 2px 4px 4px;_padding:3px 0px 0px 4px;}
.wd{width:185px}
.wd1{width:115px}
.chbx{padding:0px; margin:1px; width:16px; height:16px; border:none;}
/* save search */
.save_topbg{background-image:url(IMG_URL/img_revamp/save_topbg.gif);width:298px;height:34px;background-repeat:no-repeat;}
.save_hrbg{background-image:url(IMG_URL/img_revamp/save_hrbg.gif); width:298px; background-repeat:repeat-y;}
.save_hrbg_photo{width:298px;}
.save_footerbg{background-image:url(IMG_URL/img_revamp/save_footerbg.gif); width:298px; background-repeat:no-repeat; height:8px;}

/*more option layer */
.more_topbg{background-image:url(IMG_URL/img_revamp/moreoption_top.gif);width:180px;height:26px;background-repeat:no-repeat;}
.more_hrbg{background-image:url(IMG_URL/img_revamp/moreoption_hr.gif); width:180px; background-repeat:repeat-y;}
.more_footerbg{background-image:url(IMG_URL/img_revamp/moreoption_footer.gif); width:180px; background-repeat:no-repeat; height:8px;}
.more_topbg1{background-image:url(IMG_URL/img_revamp/moreoption_top1.gif);width:200px;height:26px;background-repeat:no-repeat;}
.more_hrbg1{background-image:url(IMG_URL/img_revamp/moreoption_hr1.gif); width:200px; background-repeat:repeat-y;}
.more_footerbg1{background-image:url(IMG_URL/img_revamp/moreoption_footer1.gif); width:200px; background-repeat:no-repeat; height:8px;}
.sr_display_top{background-image:url(IMG_URL/img_revamp/sr_display_top.gif);width:270px;height:26px;background-repeat:no-repeat;}
.sr_display_hr{background-image:url(IMG_URL/img_revamp/sr_display_hr.gif); width:270px; background-repeat:repeat-y;}
.sr_display_footer{background-image:url(IMG_URL/img_revamp/sr_display_footer.gif); width:270px; background-repeat:no-repeat; height:8px;}

div.row1 {clear: both;padding-top: 10px; overflow:hidden}
div.row1 label {float: left;width: 55px;text-align: left;padding-right: 5px; margin: 0px;}
.pink_bg{background-image:url(IMG_URL/img_revamp/pink_bg.gif); background-repeat:repeat-y; width:460px;}

/* curve */
.y{background-color:;}
.y_b_l {background: transparent url(IMG_URL/img_revamp/y_b_l.gif) 0 100% no-repeat}
.y_b_r {background: transparent url(IMG_URL/img_revamp/y_b_r.gif) 100% 100% no-repeat}
.y_t_l {background: transparent url(IMG_URL/img_revamp/y_t_l.gif) 0 0 no-repeat}
.y_t_r {background: transparent url(IMG_URL/img_revamp/y_t_r.gif) 100% 0 no-repeat; padding:3px}
.y_top {background: url(IMG_URL/img_revamp/y_dot.gif) 0 0 repeat-x; width: 100%;}
.y_bot {background: url(IMG_URL/img_revamp/y_dot.gif) 0 100% repeat-x}
.y_lft {background: url(IMG_URL/img_revamp/y_dot.gif) 0 0 repeat-y}
.y_rgt {background: url(IMG_URL/img_revamp/y_dot.gif) 100% 0 repeat-y}
.sreach_pannal{background:url(IMG_URL/img_revamp/bg_search.gif) repeat-x;}
.sreach_pannal input,select{font:12px Arial, Helvetica, sans-serif;}
.search_box input,select{border:1px solid #ccc; font:12px Arial, Helvetica, sans-serif;}
.search_box input.search{width:360px;}
.search_box select.small{width:62px;}
.search_box select.mid{width:156px;}
.search_box select.big{width:216px;}
.clear{clear:both;}
/* layer starts here*/
.lyr{width:314px; background:url(IMG_URL/profile/images/lyr_bg_img.gif) repeat-y;float:left}
.lyr_tp_cur{width:314px; height:12px; font-size:2px; background:url(IMG_URL/profile/images/lyr_tp_btm_cur.gif);float:left}
.lyr_btm_cur{width:314px; height:12px; font-size:2px; background:url(IMG_URL/profile/images/lyr_tp_btm_cur.gif) 0 -12px;float:left}
.lyr .cnt{width:280px; float:right;margin:10px 15px 10px 0; display:inline;}
.lyr .cnt h4{font:bold 14px Arial, Helvetica, sans-serif; color:#ff5a00; margin:0; padding:0; width:80%; float:left;}
.lyr a.crs{color:#117daa; text-decoration:none; margin:-10px 0 0 0; position:relative;}
.lyr textarea.txt_area1{float:left; width:260px; height:67px; border:1px solid #ccc; padding:10px; font:11px Arial, Helvetica, sans-serif;}
.lyr .shw_info{width:254px; padding:10px; background:#f6f5f5; border:1px solid #ccc;height:190px;overflow-x:hidden;overflow-y:auto}
.lyr .shw_info ul{margin:0; padding:0; float:left; width:252px; list-style:none;}
.lyr .shw_info ul li{float:left; width:95%; margin:0 0 6px;}
.lyr .shw_info ul li label{float:left; width:58px;}
.lyr .shw_info ul li i{float:left; width:184px; font-style:normal;}
.fl{float:left;}
/* layer ends here*/

.cntct_dts{width:430px; border:1px solid #ccc; border-width:1px 1px 2px; margin:9px; padding:4px; display:inline;}
.mar_top_10{margin-top:10px;}
.mar_pad *{margin:0; padding:0;}
