/* Homepage CSS created By Vishal Kaul */
.t12{}
.wd{width:200px;}
.c_top{margin-top:10px;}
.pleft{padding-left:12px;}
.b_head {font-family:Arial, Helvetica, sans-serif;font-weight:bold; color:#ba001a; font-size:17px;}
.b_head1 {font-family:Arial, Helvetica, sans-serif; color:#676767; font-size:12px;}
.b_head2 {font-family:Arial, Helvetica, sans-serif; color:#727272; font-size:14px;}
.m_col{color:#000000; font-size:12px; text-align:left;}
.clr_hp{ height:13px;}
.rf{float:right;}
.lf{float:left;}


*{margin:0; padding:0; float:none; list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both; height:0; overflow:hidden;}
.clr_4{clear:both; height:4px; overflow:hidden;}
.clr_2{clear:both; height:2px; overflow:hidden;}
.clr_18{clear:both; height:18px; overflow:hidden;}

select{border:1px solid #CCCCCC;}
body,input{font:12px Arial, Helvetica, sans-serif;}
.f_2{font-size:2px;}
.f_14{font-size:14px;}
.mron{color:#d20000;}
a.mron,a.mron:link ,a.mron:visited{color:#d20000; text-decoration:none;}
.gry{color:#828282;}
.orng{color:#ff7a00;}
.b{font-weight:bold;}

.m_t_b_15 {margin:15px 0!important;}
.m_t_l_15 {margin:15px 16px!important;}
.mt_10 {margin-top:10px;}
.mt_4 {margin-top:4px;}
.ml_17 {margin-left:17px!important;}

.mt_min_12{margin:-12px 0 0!important; position:relative;}
a{text-decoration:none; color:#003498;}
.mar{color:#373737;}
#main_cont{width:930px; margin:auto;}
.sprte{background:url(IMG_URL/profile/images/comm_pages/hm_pg_sprte.png);}
.hdr{width:99.9%; float:left;}
.lgo{width:219px; height:35px; margin-top:12px;}
/*.hdr i{float:left; padding:3px 0 0 138px; font:11px Arial, Helvetica, sans-serif;}*/
.tp_lnks{float:right; width:350px; padding:16px 0 16px; font-size:13px; color:#3c84c1;}
.tp_lnksa {color:#3c84c1;}
/* login home page starts*/
.sprtlgn{ background:url(IMG_URL/profile/images/comm_pages/hm_pg_sprte_lgn.png);}
.t_lrc{background-position:0 0;width:311px;height:9px;overflow:hidden}
.b_lrc{background-position:0 -11px;width:311px;height:9px;overflow:hidden}
.t_mc{background:url(IMG_URL/profile/images/comm_pages/t_mc_lgn.png) left top repeat-y;width:311px; } 
           
/*login home page end*/
.tp_plus_call{width:397px; float:right;}
.call_us{font:bold 16px Arial, Helvetica, sans-serif; float:right;}
.hdr u{width:15px; height:25px; background-position:-81px -51px; margin:0 7px;}
/*quick search bar css starts here*/
.q_search {
	width:930px;
	height:73px;
	background-position:0 -147px;
	margin:auto;
	float:left;
}
.l_search {
	width:70px;
	height:73px;
	background-position:0 -35px;
}
.r_search {
	width:7px;
	height:73px;
	background-position:-71px -35px;
}
.w_153 {
	width:153px;
}
.w_167 {
	width:167px;
}
.w_150 {
	width:150px;
}
.w_69 {
	width:69px;
}
.s_btn {
	width:69px;
	height:30px;
	background-position:-80px -96px;
	overflow:hidden;
}
.s_btn1 {
	width:122px;
	height:33px;
	background-position:-96px -53px;
	overflow:hidden;
	cursor:pointer;
}
.nkri_lgo{width:90px; height:14px; background-position:0px -129px;}
.hpl{width:15px; height:13px; background-position:0px -109px;}
.tp_head_se_links { font-size:13px; text-align:center; color:#117daa; padding:5px;}
.tp_head_se_links a { color:#117daa; }
.tp_head_active{ font-size:13px; font-weight:bold;}
.tp_head_se_links2 {background-image:url(IMG_URL/profile/images/comm_pages/top_tab_bg2_in.gif); background-repeat:repeat-x; width:99.9%; height:37px; padding-top:9px; margin:-2px;  color:#3c84c1; text-align:center;}
.tp_head_se_links2 a{ font-family:Arial, Helvetica, sans-serif;font-size:11px; color:#3c84c1;} 

.tp_head_se_links2_box { font-family:Arial, Helvetica, sans-serif;font-size:11px; font-weight:bold; background-color:#f4f4f4;padding: 9px 2px 10px 2px; background-image:url(images/top_tab_bg1.gif); border: 1px solid #c4dd37; color:#000000;}
.tp_head_se_links3 {background-image:url(IMG_URL/profile/images/comm_pages/top_tab_bg2_in.gif); background-repeat:repeat-x; width:99.9%; height:37px; padding-top:5px; margin:-2px;  color:#3c84c1;}


.mid_line{width:15px; height:25px; background-position:0px -220px; width:930px;}

.bdr_btm{border-top: 1px solid #CCCCCC;}
/*quick search bar css ends here*/

.banner{width:607px; height:284px; float:left;}
.lgn_pn2{width:310px; height:271px; float:right;}
.lgn_pnl h5{font:16px Arial, Helvetica, sans-serif; color:#808080; margin:10px 0;}
.lgn_t_l_c{width:4px; height:52px; background-position:-170px -36px;}
.lgn_t_r_c{width:4px; height:52px; background-position:-175px -36px;}
.lgn_b_l_c{width:4px; height:52px; background-position:-180px -36px;}
.lgn_b_r_c{width:4px; height:52px; background-position:-186px -36px;}
.lgn_mid{width:173px; float:left; border-top:1px solid #ccc; padding:17px 0 0 8px;}
.txt1{float:left; width:145px; height:17px; border:1px solid #ccc;}
.lgn_err_img{width:13px; height:14px; background-position:-142px -106px; margin:2px 4px 0 0;}
.lgn_btn{padding:3px;}
.frgt_pswd{width:173px; float:left; border-bottom:1px solid #ccc; border-width:0 0 1px; padding:0 0 5px 8px;}
.reg_bg{width:99.9%; height:111px; background-position:0 -221px; float:left; color:#323232;}
.reg_l_c{float:left; width:6px; height:111px; background-position:-204px -36px;}
.reg_r_c{float:right; width:6px; height:111px; background-position:-213px -37px;}
.reg_stp_1{width:42px; height:53px; background-position:0 -333px;}
.reg_stp_2{width:42px; height:53px; background-position:-43px -333px;}
.reg_stp_3{width:52px; height:44px; background-position:-87px -333px;}
.mr_24_r_12{margin:24px 12px 24px 10px;}


ul.form{margin:0; padding:0; list-style:none; width:100%; padding:10px;}
ul.form li{float:left; padding-bottom:2px; width:100%;}
ul.form li label{float:left; width:90px;  padding:2px 5px 0 0; color:#4b4b4b;}
ul.form li input.txt1{float:left; width:100px; height:17px; border:1px solid #ccc; font-size:12px;}
.sel_sml{width:58px;}
.form_left{padding-left:62px;}
.l_col{color:#3c84c1;}



/*footer starts here*/
.txt_plus_ul ul.tab li span u {float:left; width:auto; height:14px;padding:6px 6px 6px 4px;background:url(IMG_URL/profile/images/comm_pages/hm_pg_sprte.png)  right -561px transparent;text-decoration:none; cursor:pointer;} 
.txt_plus_ul ul.tab li span i {background:url(IMG_URL/profile/images/comm_pages/hm_pg_sprte.png)  repeat scroll -205px -93px transparent;float:left;height:26px;width:4px;}

.ftr { background-position:0 -395px; padding:10px 14px 0px; font-size:11px; margin:12px 0 0;}
.naukri_btn{width:130px; height:37px; background-position:-89px -590px; margin:10px auto; border:0;}
.mar_top_15 {margin-top:15px;}



.w765N{width:930px; margin:0 auto; padding-left:2px;}
.lwft, .lwft1{float:left; width:185px; border-left:1px solid #dadada; font-size:12px;}
.lwft2{border:none;}
.lwft div, .lwft1 div{padding:2px;}
.lwft div strong, .lwft1 div strong{display:block; padding:0 0 5px 5px;}
.lwft a, .lwft1 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; width:180px;}
.lwft a:hover, .lwft1 a:hover{text-decoration:none;}

.lwft3{float:left; width:110px; border-left:1px solid #dadada; font-size:12px;}
.lwft3 div{padding:2px;}
.lwft3 div strong{display:block; padding:0 0 5px 5px;}
.lwft a, .lwft3 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; width:98px;}

.lwft4{float:left; width:182px; border-left:1px solid #dadada; font-size:12px;}
.lwft4 div{padding:2px;}
.lwft4 div strong{display:block; padding:0 0 5px 5px;}
.lwft a, .lwft4 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; width:168px;}
.lwft4n a{color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; width:1px; display:inline;}

.lwft5{float:left; width:130px; border-left:1px solid #dadada; font-size:12px;}
.lwft5 div{padding:2px;}
.lwft5 div strong{display:block; padding:0 0 5px 5px;}
.lwft a, .lwft5 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; width:120px;}

.lwft6{float:left; width:185px; border-left:1px solid #dadada; font-size:12px;}
.lwft6 div{padding:2px;}
.lwft6 div strong{display:block; padding:0 0 5px 5px;}
.lwft a, .lwft6 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; width:170px;}
.footbdr{border: 1px #eaeaea solid ;}

/*footer ends here*/
.pro_mn_tp{ font-weight:bold; color:#303030; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding:0px 0px 10px 3px;}
.pro_tup{margin:5px;}
.pro_tup1{float:left; width:446px;}
.pro_tup2{float:right; width:445px;}
.pro_tup1b{ border-right:1px solid #bcbcbc ; padding-right:8px; }
.grn_bdr_bot{border-bottom:1px solid #bed563;}
.pb_5{padding-bottom:5px;}
.img_cont{width:100px;}
.img_cont1{width:100px;}
.ml_5{margin-left:5px;}
.fl{float:left;}
.fr{float:right;}
.prof_info{width:123px; margin-right:1px; font-weight:bold;}
.prof_info1{width:130px; margin-right:1px; font-weight:bold;}
.prof_info a{color:#157DBC;}
.pro_tup p{float:left; width:120px;}
.bcol{color:#157dbc;}
.p_tp1{background-color:#f4f4f4; width:335px; float:right; padding:2px;}
.p_tp2{font-size:15px; color:#CC0000;}
.p_tp3{font-size:12px; color:#CC0000;padding:2px;}
.mcol{font-size:15px; color:#dc4341;}
a.mcol,a.mcol:link ,a.mcol:visited{font-size:15px; color:#dc4341; text-decoration:none;}


.seo_top_style3 { font-family:Arial, Helvetica, sans-serif;font-size:13px; font-weight:bold; padding-top:8px; text-align:center; color:#117daa;}
.seo_top_style3 a { color:#117daa;text-decoration:none;}
.seo_top_style3 a:hover {font-family:Arial, Helvetica, sans-serif;font-size:13px; font-weight:bold; padding-top:0px; background-color:#f4f4f4;color:#b5001c; padding: 8px 2px 8px 2px; background-image:url(images/top_tab_bg1.gif); border: 1px solid #c4dd37;}

/*dropdown css*/
.seodp_topbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-up.gif);width:93px;height:37px;background-repeat:no-repeat;}
.seodp_hrbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-up1.gif);width:93px; background-repeat:repeat-y;}
.seodp_footerbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-up2.gif); width:93px; background-repeat:no-repeat; height:4px;}
.seo_irf{display:inline;position:relative;float:center;z-index:20}
/*.seodp_topbg{width:93px;height:37px;background-repeat:no-repeat;margin-top:-35px;margin-left:-8px;}
.seodp_hrbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-up1.gif);width:93px; background-repeat:repeat-y;}
.seodp_footerbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-up2.gif); width:93px; background-repeat:no-repeat; height:4px;}
*/
.seodp_style{font-family:Arial, Helvetica, sans-serif;color:#3c84c1; font-size:13px;text-align:left;}
.seodp_style a {color:#3c84c1;}
/*.seodp_style a:hover {font-weight:bold;font-size:13px;}*/
/*dropdown css*/

/*dropdown more css*/
.more_dpseo_topbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-more.png);width:371px;height:34px;background-repeat:no-repeat;}
.more_dpseo_hrbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-more1.png); width:371px; text-align:center; background-repeat:repeat-y;}
.more_dpseo_footerbg{background-image:url(IMG_URL/profile/images/comm_pages/drop-down-more2.png); width:371px; background-repeat:no-repeat; height:5px;}
.more_dpseo_close{ font-weight:bold;font-size:11px; border: 1px solid #adadad; padding:2px; background-color:#f6f6f6; color:#117daa;}

.more_seodp_style{font-family:Arial, Helvetica, sans-serif;color:#3c84c1; font-size:13px; padding:8px; text-align:left; padding-left:18px;}
.more_seodp_style a {color:#3c84c1;}

.more_lwft3{float:left; width:110px;font-size:12px;}
.more_lwft a, .more_lwft3 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; }
.more_lwft4{float:left; width:75px;font-size:12px;}
.more_lwft a, .more_lwft4 a{display:block; color:#0776bc; padding:2px 0 2px 5px; text-decoration:none; }
/*dropdown more css*/

.green_btn{background-image:url(IMG_URL/profile/images/green_button_bg.gif); background-repeat:repeat-x; height:22px; border:1px #578d00;border-style:solid; padding-bottom:2px; font-size:11px; color:#fff; cursor:pointer;}
.sr_display_hr{background-image:url(IMG_URL/profile/images/sr_display_hr.gif); width:270px; background-repeat:repeat-y;}
.sr_display_top { background-image:url(IMG_URL/profile/images/sr_display_top.gif); width:270px; height:26px; background-repeat:no-repeat; }
.sr_display_footer { background-image:url(IMG_URL/profile/images/sr_display_footer.gif); width:270px; background-repeat:no-repeat; height:8px; }

a.pro_url,a.pro_url:link ,a.pro_url:visited{color:#003498; text-decoration:none;}


div.txt_plus_ul {
    float: left;
    width: 830px;
}

div.tabcontents {
    height: 50px;
    overflow: hidden;
    padding: 3px;
}

.f_14{font-size:14px;}
.gry{color:#828282;}

div.tabcontents div.content {
    text-align:center;
    width: 100%;
    height: 230px;
    overflow-y: hidden;
}

ul.tab li {
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-align: center;
}

u.deco{
    background: url(IMG_URL/profile/images/comm_pages/hm_pg_sprte.png) repeat scroll right -561px transparent;
    cursor: pointer;
    float: left;
    height: 14px;
    padding: 6px 6px 6px 4px;
    text-decoration: none;
    width: auto;
}

i.deco{
    background: url(IMG_URL/profile/images/comm_pages/hm_pg_sprte.png) repeat scroll -205px -93px transparent;
    float: left;
    height: 26px;
    width: 4px;
}

.brwse{float:left; width:99.9%; padding:10px 0 0; font-family:Arial, Helvetica, sans-serif; color:#117daa; font-size:12px;}
.brwse a{color:#117daa; padding:2px; line-height:16px; text-decoration:none;}
.txt_plus_ul{float:left; width:930px;}
.txt_plus_ul ul.tab{float:left; width:99.9%; border-bottom:1px solid #ccc; margin:10px 0 0;}
.txt_plus_ul ul.tab li{float:left; margin:0 15px 0 0;}
.txt_plus_ul ul.tab li a{color:#4d4d4d;}
.txt_plus_ul ul.tab li a u{float:left; width:auto; height:14px; padding:6px 6px 6px 4px; background:url(IMG_URL/profile/images/hm_pg_sprte.png) right -561px; text-decoration:none;}
.txt_plus_ul ul.tab li a i{float:left; width:4px; height:26px; background:url(IMG_URL/profile/images/hm_pg_sprte.png) -205px -93px;}
.txt_plus_ul ul.tab li.active{margin-bottom:-1px; border-bottom:1px solid #fff;}
.txt_plus_ul ul.tab li.active u{float:left; width:auto; height:14px; padding:6px 6px 6px 4px; background:url(IMG_URL/profile/images/hm_pg_sprte.png) right -535px; text-decoration:none;}
.txt_plus_ul ul.tab li.active i{float:left; width:4px; height:26px; background:url(IMG_URL/profile/images/hm_pg_sprte.png) -635px -35px;}
.txt_plus_ul .brwse{float:left; width:99.9%; padding:10px 0 0;}
.txt_plus_ul .brwse a{color:#117daa; padding:2px; line-height:16px;}
.fl{float:left;}
.fr{float:right;}

/* New CSS code for the Drop down */

#nav, #nav ul {
	float: left;
/*	width: 265px;*/
	list-style: none;
	line-height: 1;
	font-weight: bold;
	padding: 0;
	margin: 0 35px 1em 0;
}
.ulpadd{ margin-left:32px;}

#nav a {
	display: block;
	width: auto;
	w\idth: auto;
	color: #048cbc;
	text-decoration: none;
	padding:7px 5px 5px 5px;
}

#nav a.daddy {
	background: url(IMG_URL/profile/images/comm_pages/seprator.gif) center right no-repeat; padding:5px 5px 5px 0;
}
#nav a.daddy_out {
	background: url(IMG_URL/profile/images/comm_pages/seprator.gif) center right no-repeat; float:left; font-weight:normal;font-size:12px;
}

#nav a.arrowmain{background:url(IMG_URL/profile/images/comm_pages/arow.gif) 0% 0% no-repeat;width:32px;height:20px;position:absolute;margin-left:-1px; }
#nav a.arrowmain:hover{background:url(IMG_URL/profile/images/comm_pages/arow.gif) 0% -31px no-repeat; width:32px; height:30px; position:absolute;}

#nav a.arrowmore{background:url(IMG_URL/profile/images/comm_pages/more-crv.gif) 100% 0% no-repeat; width:57px; height:17px; position:absolute;}
#nav a.arrowmore:hover{background:url(IMG_URL/profile/images/comm_pages/more-crv.gif) 100% -30px no-repeat; width:57px; height:109px; position:absolute; z-index:100000}

/*
#nav a.moreimg{float:left; margin-top:3px; position:absolute;width:57px; z-index:1000000;}
#nav a.moreimg:hover{float:left; margin-top:3px; width:57px; padding-left:3px; margin-left:0px; height:20px; position:absolute; z-index:1000000;background:url(more.png) 0% 0% no-repeat;}
*/

.mnuhding{float:left; padding-top:7px;color:#000;}
.arrowbox{background: url(IMG_URL/profile/images/comm_pages/arow.gif) 0 -31px no-repeat;width:31px; height:45px; float:right; text-align:right; clear:left; margin:1px 1px 0 0;}
.flowleft{ float:left;color:#000;}
#nav li {
	float: left;
	padding: 0;
	width: auto;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 265px;
	w\idth: 265px;
	font-weight: normal;
	background: #fff;
	border:2px #E2E2E2 solid;
	margin: 0;
	padding-left:5px;
/*	opacity: .95;
*/
}

/* This is to make opacity work in IE. */
/*
* html #nav li ul {
	background-color: transparent;
}
* html #nav li li {
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=90);
}
*/

#nav li li {
	padding-right: 5px;
	width: auto
}

#nav li ul a {
	width: auto;
	w\idth: auto;
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
	margin: -1.7em 0 0 13.95em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;margin-left:-241px; margin-top:-2px;
}

#nav li:hover, #nav li.sfhover {
}


/* Support for the "iehover-fix.js" */

ul.nav iframe {
	position: absolute;
	/* account for the border */
	left: -0.25em;
	top: -0.25em;
	z-index: -1;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}

* html ul.nav li { z-index: 201; }
.seo_top_style a { color: #117DAA;text-decoration: none;}

.cat_bg{margin:0 auto;text-align:center;width:100%;background-image:url(IMG_URL/profile/images/comm_pages/top_tab_bg.gif);background-repeat: repeat-x;padding-top:3px;}

.orng2_1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
        margin-left: 211px;margin-left: 235px\0/;
    margin-top: -2px;
        font-weight:normal;COLOR:#000
    }    
/* Mobile view Switcher*/
.switchBx{border:1px solid #ccc;padding:4px;width:169px;}
.switchDdr{color:#9A9999;}
.naukri_btn4 {background:url(IMG_URL/images/hm_pg_sprte_view.png);background-position: 0 -1007px;border: 0 none;height: 29px;padding-bottom: 11px;padding-left: 244px;width: 249px;cursor:pointer}
/* this is for IE 5.0
select.hide { visibility: hidden; }
End Support for the "iehover-fix.js" */


/* seo footer csss */
.sub-options {
background: url(IMG_URL/images/seo/grad-grey.jpg) repeat-x;
border: 1px solid #ccc;
position: absolute;
top: 14px;
margin-left:-90px;
border-radius: 10px;
padding: 10px 10px;
text-align: center;
width: auto;
white-space: nowrap;
z-index: 1000;
display:none;
}


div.tabcontents{height:100px;overflow:visible;}
.content{height:150px;}
.innty{display:none;}
.sBG{position:relative;clear:both;}
.sBG:hover span{display:inline;}
.pointer{position: absolute;
z-index: 100;
top: -10px;
left: 70px;}
/* seo footer ends here*/
