#slideshow {
	margin:0 auto;
	width:360px;
	height:357px;
	position:relative;
}
#slideshow #slidesContainer {
	margin:0 auto;
	width:320px;
	height:357px;
	overflow:hidden; /* allow scrollbar */
	position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:324px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:357px;
}

.control {
  display:block;
  width:15px;
  height:357px;
  text-indent:-10000px;
  position:absolute;
}

.sldr_sp{background:transparent url(IMG_URL/images/slider-arrow.png) 0 0 no-repeat;}
.leftControl {top:0;left:0; background-position:-19px 0;}
.rightControl {top:0; right:0;background-position:0 0;}
.leftControl_gr_arrow {top:0;left:0;background-position:-64px 0; cursor:pointer;}
.rightControl_gr_arrow {top:0;right:0;background-position:-45px 0; cursor:pointer;}
.leftControl_grn{top:0;left:0;background-position:-90px 0;cursor:pointer;}
.rightControl_grn {top:0;right:0;background-position:-109px 0;cursor:pointer;}

.mclass{width:96px; height:96px; border: 1px solid #e2e2e2;}
.mclass1{width:96px; height:96px; border: 0px solid #e2e2e2;}

img{border:none;}
/* image replacement */
        .graphic, #prevBtn, #nextBtn{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            }
    /* // image replacement */

	#container{	
		margin:0 auto;
		position:relative;
		text-align:left;
		width:500px;
		background:#fff;		
		margin-bottom:2em;
		}	

 	#container1{
                margin:0 auto;
                position:relative;
                text-align:left;
                width:310px;
                background:#fff;
                margin-bottom:2em;
                }
				
	#content{
		position:relative;
		}			

/* Easy Slider */

	#slider{
		border: 2px solid #666666;
		width:468px;
		height:500px;
		overflow:auto;
		text-align:center;
	}	
	#loader{
		border: 2px solid #666666;
		width:468px;
		height:500px;
		overflow:auto;
		text-align:center;
	}	
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:468px;
		height:500px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn{ 
		display:block;
		width:35px;
		height:45px;
		position:absolute;
		left:-45px;
		top:205px;
		cursor:pointer;
		}	
	#nextBtn{ 
		left:485px;
		}														
	#prevBtn a, #nextBtn a{  
		display:block;
		width:37px;
		height:367px;
		background:url(IMG_URL/images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a{ 
		background:url(IMG_URL/images/btn_next.gif) no-repeat 0 0;	
		}												
/* // Slider */
