#slideshow * { margin: 0; padding: 0; }
#slideshow { float:left; width:615px; top:10px; height:257px; background:url(IMG_URL/profile/images/slider_bg.png) repeat-x; position: relative;}
#slideshow #pictures { position: absolute; right:0; width: 447px;  height:255px; overflow: hidden; }
#slideshow #pictures li { display: block; position: absolute; top:0;  width:411px }
#slideshow #pictures li img { display: none; position: relative; bottom:0}
#slideshow #menu { float:left; width:167px; height:257px; }
#slideshow #menu li { display: block; position: relative;float:left; width:167px; height:64px; cursor:pointer; }
#slideshow #menu li a { display: block; float:left; width:167px; height:64px; }
#slideshow #menu li a b { float:left; width:124px; height:38px; font:15px Arial, Helvetica, sans-serif; color:#3d3d3d; padding:26px 0 0 12px;  background:url(IMG_URL/profile/images/slider_nrml_bg.png) repeat-x; }
#slideshow #menu li a u { float:left; width:31px; height:64px; }
#slideshow #menu li.current a b{ background:url(IMG_URL/profile/images/slider_hver_bg.png) repeat-x; }
#slideshow #menu li.current a u{ float:left; width:31px; height:64px; background:url(IMG_URL/profile/images/slider_hver_right.png) no-repeat; }
