@charset "utf-8";
/* CSS Document */

body { font:13px Arial, Helvetica, sans-serif!important}

.grnBox { width:195px; border:1px solid #bdc48b;  }
.sort {width:215px; height:24px; float:right}
.grnBox  a:link { color:#505050}
.greenbar {color:#5b5b5b;background:url("IMG_URL/images/searchImages/search_res_sprte.png") 0px -431px; background-repeat: repeat-x; height:45px; padding-left:10px}
.chbx { width:13px; height:13px;}
.green_border{float:left; width:100%;}
.container { width:707px; float:left; height:auto; margin-left:25px;}

.div_search_res_default { width:690px; min-height:216px; padding:15px 0px 15px 15px; border: 1px solid #bdc48b; float:right; margin-bottom:25px; /*background-color:#fcfcfd;*/ height:auto;}

.div_search_res_ignored { width:690px; min-height:15px; padding:15px 0px 15px 15px; border: 1px solid #bdc48b; float:right; margin-bottom:25px; background-color:#fcfcfd; height:auto;}

.div_search_res_filter_msg{width:690px; padding:10px 0px 10px 10px; border: 5px solid #CBCBCB; float:right; margin-bottom:25px; background-color:#888888; height:auto;}

.div_search_res_default  .div1 {width:180px; float:left; position:relative}
.div_search_res_default  .div1 span{ border:1px solid #959595; width:154px; height:204px; text-align:center; float:left; background-color:#ffffff}
.div_search_res_default  .div1 span img{ margin:2px}

.div_search_res_default  .div2 { width:293px; float:left; border-right:1px solid #e2e2e3; height:auto;}
*html .div_search_res_default  .div2 { height:230px}
*+html .div_search_res_default  .div2  { height:230px}

.div_search_res_default  .div3 { width:174px; float:left;  padding-left:20px; position:relative}

.data { display:block}
.data div { margin-bottom:5px ; color:#5b5b5b}
.data div span{width:105px; float:left; }

.chocoText { color:#7b3f05; font-size:12px}
.div3 div {
	margin-bottom:15px;
}
 .ico {width:22px; height:22px;
 background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -6px -44px; float:left}
 .ico_prof {width:25px; height:22px;
 background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat 0px -132px; float:left; margin-left:-4px}
.ico2 {width:22px; height:22px;
 background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -5px -77px; float:left}
.ico3 {width:22px; height:22px;
 background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -4px -109px; float:left}

.red_new {color:#fc0000 !important}

.white-arrow {background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -8px -158px; float:left; width:13px; height:8px;  margin-right:5px; position:relative; top:5px; overflow:hidden}

.fs16 { font-size:16px;}

.ico_chat{  background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -142px -136px transparent;
    height: 23px;
    position: relative;
    top: -11px;
    width: 56px;}
.ico_talk { width:42px; height:21px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -145px -92px; position:relative; top:-7px}

.ico_prev {background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -90px -184px; width:76px; height:24px; float:left}

.ico_next {background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -113px -210px; width:54px; height:24px; float:left}

.btns-nav {padding: 3px 5px 5px;
    width: 139px; height:20px;  background:#fff4b7; border-left:1px solid #ffe552;border-right:1px solid #ffe552;border-bottom:1px solid #ffe552}

.ico_lock { width:90px; height:92px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat  -209px -77px;}

.btn_view {
	font-size:13px;
	width:125px;
	height:25px;
	text-align:center;
	color:#FFFFFF;
	border:2px solid #7dc258;
	background-position:0px -352px;
	background-image: url(IMG_URL/images/searchImages/search_res_sprte.png);
	background-repeat: repeat-x;
}

.btn_view2 {font-size:13px;		background-position:0px -352px;
	background-image: url(IMG_URL/images/searchImages/search_res_sprte.png);

 width:auto; font-weight:bold; height:24px;box-shadow:0 2px 2px 0 rgba(0, 10, 0, 1);color:#FFFFFF;  }
 
 
 .mid-bg {background-position:-2px -211px;
	background-image: url(IMG_URL/images/searchImages/search_res_sprte.png); width:15px; height:30px}

.btn_view_grey {font-size:13px;width:125px; height:25px;  background:#eaeaea; border: 1px solid #d0ccc0;}


.ico_jj {width:76px; height:21px; background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat  -179px -56px}

.ico_paidmem {width:84px; height:21px; background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat  -171px -1px}
.ico_viewed {width:61px; height:21px; background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat  -190px -32px}

.ico_separator {width:96px; height:21px; border-right :1px solid #b0b0b1;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat  -171px -1px}

.ico_mob { width:23px; height:19px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -1px -4px ; margin-left:13px;}
.ico_kund { width:18px; height:20px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -33px -4px; margin-left:10px;}

.ico_phone { width:18px; height:20px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -63px -77px; margin-left:10px;}
.ico_invalidno { width:23px; height:19px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -60px -53px ; margin-left:13px;}

.ico_hiv { width:18px; height:20px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -92px -51px; margin-left:10px;}


.ico_linked { background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -34px -28px transparent;
    height: 20px;
    margin-left: 10px;
    width: 19px;}

.ico_hand { width:21px; height:23px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -62px -27px; margin-left:10px;}

.ico_close 
{
background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -58px -7px transparent;
border: 1px solid #B6B7B7;    float: left;    
height: 14px; width:14px; position:absolute; top:-11px; left:197px;	
}
.ico_close_green { width:17px; height:17px;background:url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat  -35px -78px; margin-right:5px;cursor :pointer;}

.ico_right_sml { width:27px; height:28px;background:url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat  -110px -28px; margin-right:5px;}
.ico_cross     { width:18px; height:20px;background:url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat  -90px -29px; margin-right:5px;}

.bott_link { float: left; margin-left: 44px;margin-top: 6px;}
.bott_link2 { float: left; margin-left: 36px;margin-top: 6px;}
	
	
.overlapimg {background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -167px -176px transparent;    float: left;    height: 74px;
    position: absolute; top: 131px; left:0px;  width: 90px; z-index:1;}
	
#div_topnote {width:682px; height:auto; border:1px solid #eeeeee; padding:12px ; float:left; background:#fafafa; margin-bottom:15px; }

#div_bot_pagination {width:673px; height:23px; border:1px solid #eeeeee; padding:10px 16px ; float:left; background:#fbfbfb; margin-bottom:27px;}
#div_bot_pagination input { margin-left:5px; border:none;border:1px solid #e6e6e6;width:auto; padding:2px 8px; font-size:13px}


input.pagination {background: url("IMG_URL/images/searchImages/search_res_sprte.png") -226px -321px repeat-x ; height:23px;  float:left;}

input.pagination_selected { 	background-position:0px -352px;
	background-image: url(IMG_URL/images/searchImages/search_res_sprte.png); height:23px;float:left;color:#fff!important;font-weight:Bold;}

.banner_space {	height:75px; text-align:center; float:left; width:100%; margin-bottom:15px;margin-top:-10px; }
.w107px {width:107px;}	
.blk_arrw{width:13px; height:7px;	background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -7px -170px transparent; float:right; overflow:hidden}
	.blue_arrw_dwn{width:14px; height:7px;	background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -7px -180px transparent; margin-top:3px;}
	
	.orgCornerLeft {	background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -81px -2px transparent; width:9px; height:20px; 
	}.orgCornerRight{	background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -98px -2px transparent; width:7px; height:20px; 
	}
	
		.skyblueCornerLeft {	background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -120px -3px transparent; width:6px; height:20px; 
	}.skyblueCornerRight{	background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -129px -3px transparent; width:5px; height:20px;	}
	
.accept-btn{ width:56px; height:27px;background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -146px -290px transparent; margin-left:10px}

.interest-btn{ width:98px; height:25px;background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -207px -292px transparent; margin-left:10px}

.bg_adv_search { background: url(IMG_URL/images/searchImages/hdr_bg.png) -3px -262px no-repeat;width:10px; height:30px;}
	
.bg_adv_search_mid {background: url(IMG_URL/images/searchImages/hdr_bg.png)  -78px -336px no-repeat; line-height:2; width:128px; text-align:center; BORDER-TOP:1px solid #e2f095;height:29px; }

.bg_adv_search_right { background: url(IMG_URL/images/searchImages/hdr_bg.png)  -79px -260px no-repeat;width:9px; height:30px;}
	
	
.div_brow_matri { 
background: url("IMG_URL/images/searchImages/search_res_sprte.png") repeat-x; background-position:0px -381px;  border-bottom: 1px solid #CCCCCC;    float: left;
    height: 26px;    margin: 10px 0 0;
    padding-top: 20px;    width: 99.9%;} 
	

		
.mrg20pxleft { margin-left:20px}
.txt_plus_ul .brwse {padding-left:29px; width:812px}
.txt_plus_ul ul.tab { padding-left: 74px;    width: 855px;}

.fs12 { font-size:12px!important}
	
.top_tab{height:20px; float:right; width:707px }	
.lh15 { line-height:1.5}	
	
.w_188 { width:188px;}
	
.border_top { border-top:1px solid #bdc48b}	
	
	
	.divfirst { background: none repeat scroll 0 0 #E6ECF0;
    height: 30px;
    line-height: 2.3;
    padding-left: 10px;
    width: 491px;}
	
	
.divthird{	width:191px; height:30px; background:#E6ECF0;}
	
/*
Search Interactions images/searchImages
*/

.div_interactions {
	min-width:185px;
	width:185px;
	height:auto;


	
}
.position_subHead {position:absolute;margin-top:-7px; left:420px; z-index:1001}
.position {position:absolute;margin-top:-7px; left:65px; z-index:1001}
.position2 {position:absolute; margin-top:-7px;left:380px; z-index:1001}
.position3 {	position:absolute;top:70px; left:3px; z-index:2}
.position4 {	position:absolute;top:70px; left:200px; z-index:2}
.position5 {left: 334px;position: absolute;
    top: 89px;    z-index: 1001;}
.position6 {	left: 251px;    position: absolute;
    top: 111px;    z-index: 1005;}
.position7 { left: 322px;    position: absolute;
    top: 143px;    z-index: 1001;	}
.w259 { width:259px!important}

.ico_right { width:27px; height:28px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat  -110px -28px; margin-right:5px;}
.w240 {
	width:269px!important
}
.divHeading { 	background-position:0px -351px;
	background-image: url(IMG_URL/images/searchImages/search_res_sprte.png); padding:5px 8px;    border-radius: 4px 4px 0 0; box-shadow:0px -4px 0px 4px #B6B6B6; 
 height: 18px;line-height: 1.5;  white-space: nowrap; position:relative;z-index:1011;
    width: auto;}
 
.divHeading img { margin-right:5px}	

.divlinks {padding:10px 10px 0px 10px; border:2px solid #75c438; background:#FFFfff; box-shadow:0px 0px 0 4px   #B6B6B6;width:160px}

.divlinks a {white-space:nowrap; line-height:1.8}

.bg-grey { background:#f8f8f8}
.separator {border-bottom:1px solid #cfcfd0; height:1px
margin:2px 0px  	}

.white { color:#FFF}
.w314 { width:314px!important;}
.w290 { width:290px}


#popup_Info {width:510px; height:auto; max-height:150px; _height: expression( this.scrollHeight > 149 ? "150px" : "auto" ); 
color:#707070; border:1px solid #bcbcbc;
box-shadow:2px 2px 2px; position:absolute; top:74px;
background:#fff;  left:192px; z-index:100; overflow:auto}

#popup_Info  .left { width:110px}

/* for height slider*/	
 .layout { font:11px arial; width:175px}
	.layout-slider { width: 100%; padding:20px 0px }
	.layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
	.layout-slider-settings pre { font-family: arial; }	
	
	/* end*/

 ul.tab li { float: left; width: auto; margin: 0; padding: 0; list-style-type:none; text-align: center; } 
 
 div.tabcontents { height: 50px; overflow: hidden; padding: 3px; } .f_14{font-size:14px;} .gry{color:#828282;} div.tabcontents div.content { text-align:center; width: 100%; height: 230px; overflow-y: hidden; } .brwse{float:left; width:99.9%; padding:10px 0 0; font-family:Arial, Helvetica, sans-serif; color:#117daa; font-size:12px;} .brwse a{color:#117daa; padding:2px; line-height:16px; text-decoration:none;} #nav, #nav ul { float: left;  list-style: none; line-height: 1; font-weight: bold; padding: 0; margin: 0 35px 1em 0; } 

/* new added*/

.right_2 { width:12px; height:73px; background:url(IMG_URL/images/searchImages/hdr_bg.png) no-repeat 0px -448px !important; } 
.s_btn_2 { width:91px !important; height:35px !important; background:url(IMG_URL/images/searchImages/hdr_bg.png) no-repeat -16px -452px !important; overflow:hidden!important; cursor:pointer!important; position:relative; top:20px; left:22px;_left:12px} 


.blue_arw1{
	width:6px;
	height:10px;
	background-position:-213px -128px;
	margin:2px 5px 0px 2px;_height:5px
	
}

.nobkg { background:none!important; width:7px!important}

.wht_arw{width:16px; height:14px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -9px -152px;}

.message_box {margin-bottom:25px ;padding:17px; float:left; width:670px; border:1px solid #75c438}

.message_box div { font-size:14px; line-height:20px}

.ico_info { width:22px; height:24px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -140px -27px; margin-right:5px;}

.width100{width: 100% !important;}
.width705{width: 705px; !important;}
.sp15 {clear:both; height:15px; }
.sp3 {clear:both; height:3px; }
.mar_left_14{margin-left:14px;}
.fs18{font-size:18px;}
.grey-highlight {
 background: none repeat scroll 0 0 #43514D;
 height: 39px;
 opacity: 0.87;
 filter: alpha(opacity=65);
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
 position: relative;
 margin-left:1px;
 margin-top: -40px;
 width: 150px;
}

.btn-req-photo {
 border: medium none;
 height: 25px;
 position: relative;
 top: 7px;
 width: 125px;
}
.loader { 
 position: relative;
}
select,input, textarea {width:200px; height:20px; border-width:1px;border-color:#CCC; border-style:solid;font: 12px Arial,Helvetica,sans-serif;}

.container_layer {
    position: relative;
}
.container_layer .foregroundImage {
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  width: auto;
  background-image:url('IMG_URL/images/searchImages/white_img.jpg');
  filter: alpha(opacity=20);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  opacity: .2;
  background-repeat:repeat;
  z-index:1 !important;
  display:none;
}
.searchResultsLoader{z-index:2}

/*cluster pat */
.disable_href{
   pointer-events: none;
   cursor: default;
}

.grey-cluster-area {
width:195px;
border:1px solid #bcbcbc;
}
.refine-title {
color:#101010;
background-repeat: repeat-x;
height:45px;
padding-left:10px;
}
.grey-cluster-subtitle {
/*background:url('IMG_URL/images/searchImages/search_res_sprte.png') no-repeat 0px -253px;*/
background-color: #f5f5f5;
padding:6px 0px 6px 10px;
width:185px;
border-top:1px solid #BCBCBC;
border-bottom:1px solid #BCBCBC;
float:left;
}
.ico-shrunk {
background:url('IMG_URL/images/searchImages/search_res_sprte.png') no-repeat -24px -291px;
cursor:pointer;
float:right;
width:16px;
height:16px;
margin-right:8px;
}
.ico-collapse {
background:url('IMG_URL/images/searchImages/search_res_sprte.png') no-repeat -6px -291px;
cursor:pointer;
float:right;
float:right;
width:16px;
height:16px;
margin-right:8px;
}
.eoi{z-index:1001}
.eoi div{margin-bottom:0px;}
.curpt{cursor:pointer;}
.ico_wrong_big {width:26px; height:29px;background:url(IMG_URL/images/searchImages/search_res_sprte.png) no-repeat -139px -55px; margin-right:4px;}

 .logo-small {  background: url("IMG_URL/images/hdr_bg_new.png") no-repeat scroll -4px -450px  transparent;
 width:178px;
 height:33px;
 margin-top:30px;
 }
.overlap-slider{width:188px; height:30px; opacity:0;position:relative;z-index:2;margin-left:-6px;margin-top:-30px;display:none;}
.acdec{background:#e6ecf0; height:30px;border:1px solid #BDC48B;border-top:0px;}
.a6e5fb{background:#a6e5fb; height:30px;border:1px solid #A3E2F5;border-top:0px;}
.acdec1 div{margin-left:4px;margin-top:4px}
/* Album icons arrows */
.ico_album_prev{
  background: url("IMG_URL/images/searchImages/search_album_sprte.png") no-repeat scroll  -23px  -13px  transparent;
  width:56px;
  height:45px;
  float:left;
 }
.ico_album_prev2 {
  background: url("IMG_URL/images/searchImages/search_album_sprte.png") no-repeat scroll  -23px  -64px  transparent;
  width:56px;
  height:45px;
  float:left;
 }
 .ico_album_next{
  background: url("IMG_URL/images/searchImages/search_album_sprte.png") no-repeat scroll  -32px  -147px  transparent;
  width:56px;
  height:45px;
  float:left;
 }
.ico_album_next2 {
  background: url("IMG_URL/images/searchImages/search_album_sprte.png") no-repeat scroll  -32px  -203px  transparent;
  width:56px;
  height:45px;
  float:left;
 }
 .close-btn-album {  background: url("IMG_URL/images/searchImages/search_album_sprte.png") no-repeat scroll  -110px  -25px  transparent;
  width:56px;
  height:45px;
  float:left;

}
.btn-express-multi {
background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll  0px  -553px  transparent;
width:144px;
height:23px;
cursor:pointer;
}
.w195{width:195px;}
.loaderDiv{
cursor :pointer;
}
.gryout{color:#808080;cursor:default;}
.arrow-down, .ico_white_arrow {
  background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -39px -121px transparent;
    float: left;
    height: 14px;
    left: 5px;
    position: relative;
    top: -18px;
    width: 14px;
}
.ico_white_arrow{top: 3px;left:-3px}
.arrow-up {
 background: url("IMG_URL/images/searchImages/search_res_sprte.png") no-repeat scroll -39px -142px transparent;
    float: left;
    height: 14px;
    left: 5px;
    position: relative;
    top: -18px;
    width: 14px;
}
.multibutton, .multibottom{width:145px; height:23px; box-shadow:none; line-height:1.5;cursor:pointer}
#eoi_multi{width:150px;margin-bottom:0px;}
#eoi_bottom{width:150px;}
.pos_rltv1{position:relative;}
.clr_18{clear:both; height:18px; overflow:hidden;}
.no_b1{font-weight:normal; color:#3490b6; text-align:right; font-size:11px;}
.no_b1 a:link,.no_b1 a:active, .no_b1 a:visited, .no_b1 a:hover{color:#3490b6;text-decoration:none}
#clickHolder{position:absolute;z-index:79;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); BACKGROUND-COLOR: white;opacity:0}
.filter_back{border-bottom: 1px solid #BDC48B; padding: 5px 5px 5px 25px; margin: -15px 0 15px -15px;}
.filter_arw{background: url("IMG_URL/images/searchImages/filter_arw.png") no-repeat scroll transparent; width:23px;height:12px;float:left;}
.sort_new{width:160px; height:auto; float:right}
