<table width="760" border="0" align="center" cellpadding="2" cellspacing="0">
 <tr>
  <td width="613">
   <table width="269" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td><a href="~$SITE_URL`/"><img src="/P/I/matrimonials.gif" width="269" height="66" border="0" title="Matrimonials - Leading indian matrimonial site" ALT="Matrimonials India"></a></td>
    </tr>
    <tr>
     <td class=mediumblack><div align="center">~if $LOGO_STRING`~$LOGO_STRING`~else`<H1>Indian Matrimonials - Meet Your Match</H1>~/if`</div></td>
    </tr>
   </table></td>

<!--BMSJS ADDITION STARTS HERE-->
<td align="right">
 <IFRAME width="465" height="85" scrolling=no frameborder=0 src="http://ser4.jeevansathi.com/bmsjs/bms_display_final.php?zonestr=~$bms_topright`&data=~$data`&subzone=1"></IFRAME>
</td>
<!--~if $zonedisp1`<td align="center">~if $zonedisp1`~$zonedisp1`~else`~$zone1`~/if`</td>~/if`
~if $zonedisp4`<td align="center">~if $zonedisp4`~$zonedisp4`~else`~$zone2`~/if`</td>~/if`
~if $zonedisp7`<td align="center">~if $zonedisp7`~$zonedisp7`~else`~$zone3`~/if`</td>~/if`
~if $zonedisp11`<td align="center">~if $zonedisp11`~$zonedisp11`~else`~$zone5`~/if`</td>~/if`
~if $zonedisp14`<td align="center">~if $zonedisp14`~$zonedisp14`~else`~$zone6`~/if`</td>~/if`
~if $zonedisp18`<td align="center">~if $zonedisp18`~$zonedisp18`~else`~$zone8`~/if`</td>~/if`
~if $zonedisp20`<td align="center">~if $zonedisp20`~$zonedisp20`~else`~$zone4`~/if`</td>~/if`-->

<!--BMSJS ADDITION ENDS HERE-->

 </tr>
~if $SHOWLINKS neq 'N'`
 <tr class="bgred">
  <td colspan="2" class=mediumgrey><div align="center"><span class="class10"><a href="/index.php" title="Matrimonial Home">Home</a> | <a href="~$SITE_URL`/profile/mainmenu.php?checksum=~$CHECKSUM`" title="My Matrimonials">My JeevanSathi</a> | <a href="/P/whyjeevansathi.php?checksum=~$CHECKSUM`" title="Why JeevanSathi Matrimonials">Why JeevanSathi</a> | <a href="/P/advance_search.php?FLAG=search&checksum=~$CHECKSUM`" title="Search Matrimonial Profiles">Search Matrimonials</a> | <a href="/P/mem_comparison.php?checksum=~$CHECKSUM`" title="Matrimonial Memberships">Memberships</a> | <a href="/success/success_stories.php" title="Matrimonials success stories">Success Stories</a></span></div></td>
 </tr>
</table>
<!--~if $CURRENTUSERNAME neq "" and $LOGGED_OUT_OF_CHAT neq "1" and $CURRENTUSERNAME neq "vikkujain" and $CURRENTUSERNAME neq "test4js"`<script language="javascript" src="/userplane/functions.php"></script>
~else`
<script language="javascript" src="/userplane/copy_of_functions.js"></script>~/if`
~/if`-->
