

.content1{
	overflow: auto;
	position: relative;
	width: 100%;
	
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.ceght1s{height: 150px;}

.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; /* MSPointer events - direct all pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar{ -ms-touch-action: auto; touch-action: auto; }
.mCustomScrollBox{position: relative;overflow: hidden;
		height: 100%;
		max-width: 100%;
		outline: none;
		direction: ltr;
	}

	.mCSB_container{ /* contains the original content */
		overflow: hidden;
		width: auto;
		height: auto;
	}
.mCSB_inside > .mCSB_container{ margin-right: 30px; }

	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */
		margin-right: 0;
		margin-left: 30px;
	}
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */

	.mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
		position: absolute;
		width: 16px;
		height: auto;
		left: auto;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */
		right: auto;
		left: 0;
	}
	
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */

	.mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0; 
		height: auto;
	}

	.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }

	.mCSB_scrollTools .mCSB_draggerRail{
		width: 4px;
		height: 100%;
		margin: 0 auto;
		-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
	}

	.mCSB_scrollTools .mCSB_dragger{ /* the draggable element */
		cursor: pointer;
		width: 100%;
		height: 30px; /* minimum dragger height */
		z-index: 1;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */
		position: relative;
		width: 4px;
		height: 100%;
		margin: 0 auto;
		-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
		text-align: center;
	}
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }

	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown{
		display: block;
		position: absolute;
		height: 20px;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		cursor: pointer;
	}

	.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }

.mCSB_scrollTools, 
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown,
	.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_scrollTools .mCSB_buttonRight{
		-webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		-moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		-o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	}
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
		-webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-o-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
	}
.mCSB_scrollTools{ opacity: 0.75; filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }
	
	.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
	.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 0; filter: "alpha(opacity=0)"; -ms-filter: "alpha(opacity=0)"; }
	
	.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
	.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
	.mCustomScrollBox:hover > .mCSB_scrollTools,
	.mCustomScrollBox:hover ~ .mCSB_scrollTools,
	.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
	.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }

	.mCSB_scrollTools .mCSB_draggerRail{
		background-color: #e5e5e4; background-color: rgba(229,229,228,0.4);
		filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)"; 
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background-color: #565659; background-color: rgba(86,86,89,1);
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}

	.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background-color: #565659; background-color: rgba(86,86,89,1);
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}
	.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background-color: #565659; background-color: rgba(86,86,89,1);
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}




/*--- css related to contact engine ---*/
.cebg1{background-color:#f2f2f2}
.celyr1 {
	background:url(IMG_URL/images/jspc/contactEngine/layer1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.cep1{padding:15px 20px}
.cep2{padding:15px 30px}
.cep3{padding:30px 20px 10px 20px}
.cep4{padding-right:10%}
.cep5{padding:20px 20px}
.cep6{padding:5px}
.cebrd1{border-bottom:1px solid #ccd0d4}
.sendcross1 {background-position: -42px -220px;width: 19px;height: 20px;}
.sendcross2{background-position: -43px -223px; width: 19px;height: 15px;}
.cepos1{right:0; top:0;}
.cepos2{top:15px; right:22px}
.cepos4{top:15px; right:15px}
.cepos3{top:3px; right:10px}
.cehgt1{height:220px}
.cewid1{width:30px}
.cewid2{/*width:21.5%*/width:13.5%}
.cewid3{/*width:62%*/width:93%}
.cewid4{/*width:65%*/width:80%}
ul.ceviewcontct li div:nth-child(1){ color:#353e4f; width:15%; text-align:right}
ul.ceviewcontct li div:nth-child(2){ color:#666666; width:65%; padding-left:38px}
.cehgta{height:125px}
.chkicon {
    background-position: -40px -177px;
    width: 31px;
    height: 21px;
}
.sendintcross {
    background-position: -40px -199px;
    width: 18px;
    height: 18px;
}
.cehgta{height:125px}

.content1{
	overflow: auto;
	position: relative;
	width: 100%;
	
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.ceght1s{height: 150px;}
.cErightZero{right:0}
.prfbg8CC{background-color:#9a9a9a !important}
.classForDisableIcon{background-color:#34495E; opacity: 0.4;}
.classForDisableIcon:hover{background-color:#34495E !important; opacity: 0.4;}
.CEParent:hover .classForDisableIconsearch{background-color:#34495E; opacity: 0.4;}


/* css for communication history Layer and report Invalid*/
.comhisp1{padding:40px 21px 94px 21px}
.reportInv1{padding:0px 21px 30px 21px}
.reportInv2{padding:31px 21px 0px 21px}
.prfdim12{width:45px; height:45px}
.prfdim13{width:51px; height:51px}
.prfdim14{width:40px; height:40px}
.prfwid18{width:40px;}
.prfwid19{width:80%;}
.shrp1{padding:31px 21px 20px 21px}
.prfbg6{background-color:#f2f2f2}
.prfwid16{width:424px;}
.prfrad{border-radius:80px}
.prfdim8{width:60px; height:60px;}
.prfbr6{border:1px solid #979797}
.prfbr7{border-bottom:1px solid #e2e4e6}
.prfm2{margin:5px}
.comhp1{padding:0 20px 20px 21px}
ul.comhis li{padding-top:30px}
ul.comhis li:nth-child{padding-top:0}
ul.comhis li.setl > div{float:left}
ul.comhis li.setr > div{float:right}
ul.comhis li.setr > div > p {text-align:right}

#commHistoryOverlay-layer .cEcontent{

                overflow: auto;

                position: relative;

                width: 100%;

                height: 300px;

                -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

}
.prfic42{background-position: -148px -403px;width: 30px;height: 21px;}
.prfic43{background-position:-150px -425px;width: 21px;height: 21px;}
.prfp22{padding:31px 21px 4px 21px}
.prfp20{padding:15px 0}
.prfdim5{width:50px; height:50px;}



.custom-checkbox-reportAbuse {
    width: 12px;
    height: 13px;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    top: 2px;
    background: url(IMG_URL/images/jspc/commonimg/sprite-two.png) no-repeat -40px -21px transparent;
}


.selected .custom-checkbox-reportAbuse{background-position:-39px -33px}
.selected #otherOptionMsgBox{display: block;}


.custom-checkbox-reportAbuse  input[type="radio"]{
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}
ul.reportlist li a{color:#999999; display:inline-block; padding-left:10px}
ul.reportlist li{padding-bottom:12px}
.colorerror{color:#d9475c}
