<html>
<head>

   <title>New Affiliate</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$SITE_URL`/jsadmin/jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; visibility:hidden}
</style>
</head>


<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form action="actionAds.php" method="post" enctype="multipart/form-data">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../../profile/images/logo_1.gif" width="209" hei
ght="63"  border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>
<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
<tr class="formhead">
	<td align="center">Approve/Disapprove Advertiser</td>
</tr>
</table>
<br>
~if $det[0].LOGO neq ''`
<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
<tr><td align="center">LOGO</td></tr>
<tr class="formhead">
        <td align="center"><img src="display_logo.php?ADV_ID=~$det[0].ADV_ID`"></td>
</tr>
</table>
~/if`
<br>
	
	<table width=100% border=0 align="center"  rows=19 cols=2 cellspacing=4 cellpadding=5>
	
	~section name=a loop=$det`
		
		<tr class="label"><td>ADVERTISER ID</td><td class="fieldsnew">~$det[a].ADV_ID`</td></tr>
		<tr class="label"><td>~if $NAME_ERR eq '1'`<font color="red">NAME</font>~else`NAME~/if`</td><td class="fieldsnew"><input type="text" name="NAME" value="~$det[a].NAME`"></td></tr>
		<tr class="label"><td>~if $CPERSON_ERR eq '1'`<font color="red">CONTACT PERSON</font>~else`CONTACT PERSON~/if`</td><td class="fieldsnew"><input type="text" name="CONTACT_PERSON" value="~$det[a].CONTACT_PERSON`"></td></tr>
		<tr class="label"><td>~if $ADDRESS_ERR eq '1'`<font color="red">ADDRESS</font>~else`ADDRESS~/if`</td><td class="fieldsnew"><input type="text" name="ADDRESS" value="~$det[a].ADDRESS`"></td></tr>
		<tr class="label"><td>~if $PHONE_ERR eq '1'`<font color="red">PHONE</font>~else`PHONE~/if`</td><td class="fieldsnew"><input type="text" name="PHONE" value="~$det[a].PHONE`"></td></tr>
		<tr class="label"><td>~if $EMAIL_ERR eq '1'`<font color="red">EMAIL</font>~else`EMAIL~/if`</td><td class="fieldsnew"><input type="text" name="EMAIL" value="~$det[a].EMAIL`"></td></tr>
		<tr class="label"><td>CITY</td>
				  <td class="fieldsnew">
					<select name="CITY">
						~section name=c loop=$city`
						<option value="~$city[c].VALUE`" ~if $city[c].LABEL eq $det[a].CITY`selected~/if`>~$city[c].LABEL`</option>
						~/section`
					</select>
				  </td></tr>
		<tr class="label"><td>~if $DESCPN_ERR eq '1'`<font color="red">DESCRIPTION</font>~else`DESCRIPTION~/if`</td><td class="fieldsnew"><TEXTAREA COLS=30 ROWS=10 name="DESCPN">~$det[a].DESCPN`</TEXTAREA></td></tr>

		<tr class="label"><td>PAID MEMBER</td><td class="fieldsnew">~if $det[a].PAID eq 'Y'`Yes~else`No~/if`</td></tr>
		<tr class="label">
			<td>SUBCRIPTION</td>
			<td class="fieldsnew">
				~if $det[a].SUBS eq 'BA'`BASIC LISTING
				~elseif $det[a].SUBS eq 'BO'`BOLD LISTING
				~elseif $det[a].SUBS eq 'MI'`MICROSITE LISTING
				~elseif $det[a].SUBS eq 'BN'`BANNER LISTING
				~/if`&nbsp;&nbsp;&nbsp;&nbsp;

				<select name="SUBSCPN">
				<OPTION VALUE='BA'>BASIC LISTING</OPTION>
				<OPTION VALUE='BO'>BOLD LISTING</OPTION>
				<OPTION VALUE='MI'>MICROSITE LISTING</OPTION>
				<OPTION VALUE='BN'>BANNER LISTING</OPTION>
				</select>
			</td>
		</tr>

		<tr class="label"><td>~if $URL_ERR eq '1'`<font color="red">MICROSITE URL</font>~else`MICROSITE URL~/if`</td><td class="fieldsnew"><input type="text" name="MICROSITE_URL" value="~$det[a].MICROSITE_URL`"></td></tr>
		<tr class="label"><td>EXPIRY DATE</td>
				  <td class="fieldsnew">
					<select name="yr">
						<option value=2004>2004</option>
						<option value=2005>2005</option>
						<option value=2006>2006</option>
						<option value=2007>2007</option>
						<option value=2008>2008</option>
						<option value=2009>2009</option>
						<option value=2010>2010</option>
						<option value=2011>2011</option>
						<option value=2012>2012</option>
						<option value=2013>2013</option>
					</select>
					<select name="mnth">
						<option value=01>1</option>
						<option value=02>2</option>
						<option value=03>3</option>
						<option value=04>4</option>
						<option value=05>5</option>
						<option value=06>6</option>
						<option value=07>7</option>
						<option value=08>8</option>
						<option value=09>9</option>
						<option value=10>10</option>
						<option value=11>11</option>
			                        <option value=12>12</option>
					</select>
					<select name="day">
						<option value=01>1</option>
						<option value=02>2</option>
						<option value=03>3</option>
						<option value=04>4</option>
						<option value=05>5</option>
						<option value=06>6</option>
						<option value=07>7</option>
						<option value=08>8</option>
						<option value=09>9</option>
						<option value=10>10</option>
						<option value=11>11</option>
						<option value=12>12</option>
						<option value=13>13</option>
						<option value=14>14</option>
						<option value=15>15</option>
						<option value=16>16</option>
						<option value=17>17</option>
						<option value=18>18</option>
						<option value=19>19</option>
						<option value=20>20</option>
						<option value=21>21</option>
						<option value=22>22</option>
						<option value=23>23</option>
						<option value=24>24</option>
						<option value=25>25</option>
						<option value=26>26</option>
						<option value=27>27</option>
						<option value=28>28</option>
						<option value=29>29</option>
						<option value=30>30</option>
						<option value=31>31</option>
					</select>
				</td></tr>
		<tr class="label"><td>UPLOAD LOGO</td><td class="fieldsnew">~if $det[a].LOGO eq ''`No logo available~else`Logo available~/if`&nbsp;<input type="file" name="LOGO"></td></tr>
		<tr class="label"><td>CATEGORY</td>
				<td class="fieldsnew">
					<select name="CATEGORY">
					~section name=b loop=$dd`
					<option value="~$dd[b].ID`" ~if $dd[b].LABEL eq $det[a].CATEGORY` selected ~/if`>~$dd[b].LABEL`</option>
					~/section`
					</select>
				</td></tr>
		~/section`
	
	</table>


<center>
<input type="hidden" name="ADV_ID" value="~$det[0].ADV_ID`">
<input type="hidden" name="cid" value="~$cid`">
<!--<input type="hidden" name="NAME" value="~$det[0].NAME`">-->
<br><br>
<input type="radio" name="act" value="app" checked><font size=2>Approve</font>
<input type="radio" name="act" value="disap" ><font size=2>Disapprove</font><br>
<input type="submit" value="Submit" name="submit">
</center>

</form>

<body>
</html>
