<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>ADD NEW CAMPAIGN </title>
  <link rel="stylesheet" href="jeevansathi.css" type="text/css">
  <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body>
<form action=addnew_camp.php method=POST>               
<center> 
	<h3>CAMPAIGN INFORMATION <br/><h3>
</center>
<table border="0" cellspacing="2" cellpadding="2" width=80% align=center> 
<tr>  
	<td class=label>~if $check_label eq 1` <font color="red">NAME </font>~else` NAME ~/if`</td>
	<td class=fieldsnew><input type=text  name="LABEL" value="~$LABEL`"></td> 
</tr>   
<tr>  
	<td class=label>~if $check_active eq 1` <font color="red">ACTIVE </font>~else` ACTIVE ~/if`</td>
	<td class=fieldsnew><input type=checkbox  name="ACTIVE" value="Y" checked></td> 
</tr>      
<tr>
<td colspan=100% align=center class=fieldsnew>
	<input type=hidden name=cid value="~$cid`">		 
	<input type=submit  name=submit   value="Submit" > 
</td> 
</tr>
</table>
</form>     
</body>
</html>
