<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Offline System</title>
<link rel="stylesheet" type="text/css" href="ap_styles.css" />
<link href="~$SITE_URL`/min/?f=/profile/css/common1.css,/profile/css/colorbox_css.css,/css/edit_layer_css.css,/css/edit_css.css" type="text/css" rel="stylesheet">
<script type = "text/javascript" src = "~$JQUERY_JS`"></script>
<SCRIPT type="text/javascript" language="Javascript" SRC="~$SITE_URL`/min/?f=/profile/js/revampCommon_js.js,/profile/js/colorbox.js,/profile/profile_js.js"></SCRIPT>
<style>
#main_cont .mid_cont .right_cont .info p{float:left; width:121px!important;}
#main_cont .mid_cont .right_cont .info label{float:left; width:230px!important; padding-bottom:3px;}
</style>
<script>
var page='';
function submitPage(action)
{
	var checkComments=0;
	var submitFlag=1;
	~if $DPP_STATUS eq 'SE'`
		if(action=='QA')
			checkComments=1;
	~/if`
	var trimComments=trim(document.editDPP.postedComments.value);
	if(checkComments==1)
	{
		if(trimComments=='')
		{
			submitFlag=0;
			alert("Please put in a comment!");
		}
	}
	if(submitFlag==1)
	{	
		var comments=escape(trimComments);
		var url="~$SITE_URL`/jsadmin/ap_dpp.php?cid=~$cid`&new=~$new`&editID=~$EDIT_DPP_ID`&dppCreatedBy=~$DPP_CREATED_BY`&online=~$DPP_ONLINE`&editedProfile=~$PROFILEID`&sub=~$SUBSCRIPTION`&action="+action+"&postedComments="+comments+"&pulledProfile=~$pulledProfile`&outOfQueue=~$outOfQueue`&randomNumber="+Math.round(Math.random()*1000);
		window.location=url;
	}
}
function showComments(dppId)
{
	var commentDiv="comments_"+dppId;
	var divName="DPP_"+dppId;
        var anchorName="anchor_"+dppId;

        if(eval("document.getElementById(\""+divName+"\").style.display=='none'"))
		showDPP(dppId);
	eval("document.getElementById('"+commentDiv+"').style.display='block'");
	
}
function hideComments(dppId)
{
	var commentDiv="comments_"+dppId;
        var divName="DPP_"+dppId;
        var anchorName="anchor_"+dppId;
        eval("document.getElementById('"+commentDiv+"').style.display='none'");
}
function showDPP(dppId)
{
	var divName="DPP_"+dppId;
	var anchorName="anchor_"+dppId;

	eval("document.getElementById(\""+divName+"\").style.display='block'");
	eval("document.getElementById(\""+anchorName+"\").innerHTML=\"<a href='#' onClick=hideDPP('"+dppId+"');><img src='~$SITE_URL`/profile/images/blue_top_arr.gif' alt='hide' border='0'> Hide</a>\"");
}
function hideDPP(dppId)
{
        var divName="DPP_"+dppId;
        var anchorName="anchor_"+dppId;
	var commentDiv="comments_"+dppId;

	if(eval("document.getElementById(\""+commentDiv+"\")"))
	{
		if(eval("document.getElementById(\""+commentDiv+"\").style.display=='block'"))
			eval("document.getElementById(\""+commentDiv+"\").style.display='none'");
	}

        eval("document.getElementById(\""+divName+"\").style.display='none'");
	eval("document.getElementById(\""+anchorName+"\").innerHTML=\"<a href='#' onClick=showDPP('"+dppId+"');><img src='~$SITE_URL`/profile/images/blue_bot_arr.gif' alt='hide' border='0'> Show</a>\"");
}
function apply_thickbox_class()
{
        $('.thickbox').colorbox();
        imgLoader = new Image();// preload image
        imgLoader.src = tb_pathToImage;
}
</script>
</head>
<body>
<div id="main_cont">
  <!-- header starts here-->
  <div class="hdr fl"><a href="#"><img src="~$SITE_URL`/profile/images/offlineLogo.gif" alt="jeevansathi" border="0" /></a></div>
  <!-- header ends here-->
  <p class="clr"></p>
  <!-- mid cont starts here-->
  <div class="mid_cont">
    <!--Left navigation starts here-->
	~$LINKS`
    <!--Left navigation ends here-->
    <!-- Right cont starts here-->
	<form name="editDPP" method="post" ~if $ROLE eq 'QA'`style="float:right; _margin-top:-100px; padding:0px;width:700px;"~else`style="float:right; _margin-top:-260px; padding:0px;width:700px;"~/if`>
    <div class="right_cont fl">
	~foreach from=$displayDPP key=k item=v`
	~if $displayDPP[$k].FIRST eq 1 && $displayDPP[$k].LAST eq 1`
	<div class="ylw_cont m_18">
	<div class="tp drk_gry"> <b class=" f_13 fl blk">~if $EDIT eq 1`Edit ~/if`~$USERNAME`'s Desired Partner Profile</b>
	~if $displayDPP[$k].COMMENTS neq ''`
	<b class="fl ml_17" style="position:relative;">
        
        <div class="cmts_pop_box" id="comments_~$displayDPP[$k].DPP_ID`"><img src="~$SITE_URL`/profile/images/comnt_pop_up_arr.gif" style="margin:-23px 0 0 230px; z-index:10000; position:relative; float:left;" />
	<div style="float:right"><a onclick="hideComments('~$displayDPP[$k].DPP_ID`');" class="blink" href="#"><B>[ x ]</B></a></div>
        <div class="clr"></div>
	~$displayDPP[$k].COMMENTS`
      </div>
        
        <a href="#" onclick="showComments('~$displayDPP[$k].DPP_ID`')">Comments</a></b>
	~/if`
          <p class="fr f_11">[ ~$displayDPP[$k].DATE` ]</p>
        </div>
	
	~else`
		~if $displayDPP[$k].FIRST eq 1`
		<div class="ylw_cont">
		<div class="tp drk_gry"> <b class=" f_13 fl">~$USERNAME`'s Desired Partner Profile as initially taken</b><b class="fr ml_17"><div id="anchor_~$displayDPP[$k].DPP_ID`"><a href="#" onClick="showDPP('~$displayDPP[$k].DPP_ID`');"><img src="~$SITE_URL`/profile/images/blue_bot_arr.gif" alt="hide" border="0"/> Show</a></div></b>
          <p class="fr f_11">[ ~$displayDPP[$k].DATE` ]</p>
        </div>

		~else`
			~if $displayDPP[$k].LAST eq 1`
			<div class="ylw_cont m_18">
				<div class="tp drk_gry"> <b class=" f_13 fl blk">~if $EDIT eq 1`Edit ~/if`~$USERNAME`'s Desired Partner Profile</b>
				~if $displayDPP[$k].COMMENTS neq ''`
				<b class="fl ml_17" style="position:relative;">
					<div class="cmts_pop_box" id="comments_~$displayDPP[$k].DPP_ID`"><img src="~$SITE_URL`/profile/images/comnt_pop_up_arr.gif" style="margin:-23px 0 0 230px; z-index:10000; position:relative; float:left;" />
						<div style="float:right"><a onclick="hideComments('~$displayDPP[$k].DPP_ID`');" class="blink" href="#"><B>[ x ]</B></a></div>
						<div class="clr"></div>
						~$displayDPP[$k].COMMENTS`
						</div>
					
					<a href="#" onclick="showComments('~$displayDPP[$k].DPP_ID`')">Comments</a></b>
				~/if`
					<b class="fr ml_17"><div id="anchor_~$displayDPP[$k].DPP_ID`"><a href="#" onClick="hideDPP('~$displayDPP[$k].DPP_ID`');"><img src="~$SITE_URL`/profile/images/blue_top_arr.gif" alt="hide" border="0" align="bottom" /> Hide</a></div></b>
					 <p class="fr f_11">[ ~$displayDPP[$k].DATE` ]</p>
				</div>
			~else`
			<div class="ylw_cont m_18">
	                <div class="tp drk_gry"> <b class=" f_13 fl">~$USERNAME`'s Desired Partner Profile</b>
			~if $displayDPP[$k].COMMENTS neq ''`
                                <b class="fl ml_17" style="position:relative;">
                                <div class="cmts_pop_box" id="comments_~$displayDPP[$k].DPP_ID`"><img src="~$SITE_URL`/profile/images/comnt_pop_up_arr.gif" style="margin:-23px 0 0 230px; z-index:10000; position:relative; float:left;" />
				<div style="float:right"><a onclick="hideComments('~$displayDPP[$k].DPP_ID`');" class="blink" href="#"><B>[ x ]</B></a></div>
                                <div class="clr"></div>
                                ~$displayDPP[$k].COMMENTS`
                                </div>
                                <a href="#" onclick="showComments('~$displayDPP[$k].DPP_ID`')">Comments</a></b>
			~/if`
			<b class="fr ml_17"><div id="anchor_~$displayDPP[$k].DPP_ID`"><a href="#" onClick="showDPP('~$displayDPP[$k].DPP_ID`');"><img src="~$SITE_URL`/profile/images/blue_bot_arr.gif" alt="hide" border="0"/> Show</a></div></b>
		          <p class="fr f_11">[ ~$displayDPP[$k].DATE` ]</p>
			</div>
			~/if`
		~/if`
	~/if`
	<div id="DPP_~$displayDPP[$k].DPP_ID`"  ~if $displayDPP[$k].FIRST eq 1 && $displayDPP[$k].LAST eq 1 || $displayDPP[$k].LAST eq 1` style="display:block" ~else` style="display:none" ~/if`>
	<div class="fl pd_4">
          <div class="info fl drk_gry"> <b class="fl">Basic Details</b> ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1`<b class="fl mb_5 ml_8"><a href="~$SITE_URL`/profile/edit_dpp.php?width=700&FLAG=partner&flag=PPBD&gli=~$GENDER`&~$matchPointString`&editID=~$EDIT_DPP_ID`&edited=~$DPP_EDITED`" class="thickbox" style="color:#117DAA;">Edit</a></b>~/if`
            <div class="clr"></div>
            <p>Height</p>
            <label>: ~$displayDPP[$k].HEIGHT`</label>
            <p>Age</p>
            <label>: ~$displayDPP[$k].AGE` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1`<a ~if $displayDPP[$k].AGE_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=AGE&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=AGE&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].AGE_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
            <p>Marital Status</p>
            <label> : ~$displayDPP[$k].MSTATUS`  ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_MSTATUS_FILTER`<a ~if $displayDPP[$k].MSTATUS_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=MSTATUS&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=MSTATUS&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].MSTATUS_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
	    ~if $displayDPP[$k].CHILDREN`
            <p>Have Children</p>
	    <label> : ~$displayDPP[$k].CHILDREN`</label>
	    ~/if`
            <p>Country</p>
            <label>: ~$displayDPP[$k].COUNTRYRES` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_COUNTRYRES_FILTER`<a ~if $displayDPP[$k].COUNTRY_RES_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=COUNTRY_RES&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=COUNTRY_RES&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].COUNTRY_RES_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
            <p>City/State</p>
            <label>: ~$displayDPP[$k].CITYRES` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_CITYRES_FILTER`<a ~if $displayDPP[$k].CITY_RES_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=CITY_RES&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=CITY_RES&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].CITY_RES_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
          </div>
          <div class="info fr drk_gry"> <b class="fl">Religion and Ethnicity </b> ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1`<b class="fl ml_8 mb_5"><a href="~$SITE_URL`/profile/edit_dpp.php?width=700&FLAG=partner&flag=PPRE&gli=~$GENDER`&~$matchPointString`&editID=~$EDIT_DPP_ID`&edited=~$DPP_EDITED`" class="thickbox" style="color:#117DAA;">Edit</a></b>~/if`
            <div class="clr"></div>
            <p>Religion </p>
            <label> : ~$displayDPP[$k].RELIGION` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_RELIGION_FILTER`<a ~if $displayDPP[$k].RELIGION_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=RELIGION&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=RELIGION&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].RELIGION_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
            <p>Caste </p>
            <label>: ~$displayDPP[$k].CASTE` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_CASTE_FILTER`<a ~if $displayDPP[$k].CASTE_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=CASTE&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=CASTE&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].CASTE_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
            <p>Mother tongue</p>
            <label> : ~$displayDPP[$k].MTONGUE` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_MTONGUE_FILTER`<a  ~if $displayDPP[$k].MTONGUE_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=MTONGUE&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=MTONGUE&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].MTONGUE_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
            <p>Manglik</p>
            <label>: ~$displayDPP[$k].MANGLIK_STATUS`</label>
          </div>
          <div class="clr"> </div>
          <div class="info fl drk_gry"> <b class="fl">Lifestyle And Attributes</b> ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1`<b class="fl mb_5 ml_8"><a href="~$SITE_URL`/profile/edit_dpp.php?width=700&FLAG=partner&flag=PPLA&gli=~$GENDER`&~$matchPointString`&editID=~$EDIT_DPP_ID`&edited=~$DPP_EDITED`" class="thickbox" style="color:#117DAA;">Edit</a></b>~/if`
            <div class="clr"></div>
            <p>Diet</p>
            <label>: ~$displayDPP[$k].DIET`</label>
            <p>Smoke</p>
            <label>: ~$displayDPP[$k].SMOKE`</label>
            <p>Drink </p>
            <label> : ~$displayDPP[$k].DRINK` </label>
            <p>Complexion</p>
            <label> : ~$displayDPP[$k].COMP` </label>
            <p>Body Type</p>
            <label>: ~$displayDPP[$k].BTYPE`</label>
            <p>Challenged</p>
            <label>: ~$displayDPP[$k].HANDICAPPED`</label>
            ~if $displayDPP[$k].NHANDICAPPED neq ''`
            <p>Nature of Handicap</p>
            <label>: ~$displayDPP[$k].NHANDICAPPED`</label>
            ~/if`
          </div>
          <div class="info fr drk_gry"> <b class="fl">Education and Occupation</b> ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1`<b class="fl ml_8 mb_5"><a href="~$SITE_URL`/profile/edit_dpp.php?width=700&FLAG=partner&flag=PPEO&gli=~$GENDER`&~$matchPointString`&editID=~$EDIT_DPP_ID`&edited=~$DPP_EDITED`" class="thickbox" style="color:#117DAA;">Edit</a></b>~/if`
            <div class="clr"></div>
            <p>Education Level</p>
            <label> : ~$displayDPP[$k].ELEVEL_NEW`</label>
            <p>Occupation</p>
            <label>: ~$displayDPP[$k].OCC`</label>
            <p>Income</p>
            <label> : ~$displayDPP[$k].INCOME` ~if $EDIT eq 1 && $displayDPP[$k].LAST eq 1 && $displayDPP[$k].SHOW_INCOME_FILTER`<a ~if $displayDPP[$k].INCOME_FILTER eq 'Y'` href="ap_dpp.php?cid=~$cid`&filter=INCOME&editID=~$EDIT_DPP_ID`&value=N&new=~$new`&editedProfile=~$editedProfile`" ~else` href="ap_dpp.php?cid=~$cid`&filter=INCOME&editID=~$EDIT_DPP_ID`&value=Y&new=~$new`&editedProfile=~$editedProfile`" ~/if`>~if $displayDPP[$k].INCOME_FILTER eq 'Y'`Remove~else`Set as~/if` filter</a>~/if`</label>
          </div>
        </div>
      </div>
	~/foreach`
	~if $ROLE eq 'QA'`
	<p align="center">Number of Matches  : ~if $numberOfMatches`~$numberOfMatches`~else`0~/if`</p>
	~/if`
      <div class="comment fl mt_10 f_13">
	~foreach from=$displayDPP key=k item=v`
        <div class="mb_5 fl">
	~if $displayDPP[$k].COMMENTS neq ''`
	<b>~if $displayDPP[$k].ROLE eq 'SE'` Sales ~else` QA ~/if` Comments</b>
          <div class="fl mr_10">:</div>
          <i>~$displayDPP[$k].COMMENTS`</i>
	~/if`	
	</div>
	~/foreach`
        <div class="clr"></div>
	~if $ROLE eq 'SE' || $ROLE eq 'QA'`
        <div class="mb_5 fl"><b>Add Comments</b>
          <div class="fl mr_10">:</div>
          <textarea class="txt1 fl" name="postedComments" rows="1" cols="1"></textarea>
        </div>
	~/if`
        <div class="clr"></div>
      </div>
       </div>
    <!-- Right cont ends here-->
~if $ROLE eq 'SE'`
    <div class="fl" style="margin:15px 0 0 465px; display:inline;"><a href="#" onClick="submitPage('QA');"><img src="~$SITE_URL`/profile/images/save_send_btn.gif" class="mr_10" /></a>~if $DPP_STATUS eq 'SE'`<a href="#" onClick="submitPage('LIVE');"><img src="~$SITE_URL`/profile/images/accept_btn.gif" /></a>~/if`</div>
~else`
	~if $ROLE eq 'QA'`
    <div class="fl" style="margin:15px 0 0 465px; display:inline;"><a href="#" onClick="submitPage('SE');"><img src="~$SITE_URL`/profile/images/snd_sls_exc_btn.gif" class="mr_10" /></a>~if !$pulledProfile`<a href="#" onClick="submitPage('LIVE');"><img src="~$SITE_URL`/profile/images/accept_btn.gif" /></a>~/if`</div>
	~/if`
~/if`
  </div>
	</form>
  <!-- mid cont ends here-->
  <div class="clr"></div>
</div>
</body>
<script type="text/javascript">
apply_thickbox_class();
</script>
</html>
