<html>
<head>
<title>
	Jeevansathi :: BlueDart Print Bill by Airway Number 
</title>
<script>
function print_bill()
{
	window.open("../billing/bluedart_bill.php?cid=~$cid`&air=~$air`","printpage","dependent=yes,width=775,height=600,screenX=300,screenY=400,titlebar=no,scrollbars=yes,maximize=no");
}
</script>

<link rel="stylesheet" href="/jsadmin/jeevansathi.css" type="text/css">
<link rel="stylesheet" href="/profile/images/styles.css" type="text/css">
</head>
<body>
 ~include file="head.htm"`
  <br>
     <table width=100% cellspacing="1" cellpadding='0' ALIGN="CENTER" >
        <tr width=100% border=1>
    	<td width="25%" class="formhead" height="23"><font><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome :~$name`</b></font></td>
	<td width="25%" class="formhead" align="center"></td>
	<td width="25%" class="formhead" align="center"><a href="../jsadmin/mainpage.php?cid=~$cid`">Click here to go to main page</a></td>
        <td width="25%" class="formhead" align="center" height="23">
        	<a href="logout.php?cid=~$cid`">Logout</a>
    	</td>
	<td width="3%" class="formhead" height="23">&nbsp;</td>
       </tr>
 </table>
 <br>
<form name="printbill" method="post" action="bluedart_print_bill.php?cid=~$cid`">
	<br /><br />
	<table align=center>
		<tr class="fieldsnew">
			<td class="label">Please Enter <b>Airway Number</b> for Printing the Bill</td>
			<td>
				<input type="text" value="~$air`" name="airway">
			</td>
			<td>
				<input type="submit" value="Search" name="submit">
			</td>
		</tr>
	</table>
	<br /><br />
	<br /><br />
	<table align=center>
		<tr class="fieldsnew">
			<td class="label">Please &nbsp;<a href="../billing/billing_start.php?cid=~$cid`">click here</a>&nbsp;&nbsp; for Search Airway Number by Username</td>
		</tr>
	</table>
</form>
<br /><br />
<table cellpadding = 5 align=center>

	~if $wrong_airway eq 'Y'`
		<tr class="fieldsnew">
			<td class="red" colspan=2>Sorry ! You have entered wrong Airway Number.</td>
		</tr>
	~/if`
</table>
</body>
</html>
