<html>
<head>
   <title>Enquiries</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$SITE_URL`/jsadmin/jeevansathi.css" type="text/css">

<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form action="category_enquiry.php" method="post">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../../profile/images/logo_1.gif" width="209" hei
ght="63"  border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>


<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
<tr class="formhead">
	<td align="center">Enquiries</td>
</tr>
</table><br>
<table width=100% >
<tr class="right">
	<td align="right" class="fieldsnew"><a href="mainAds.php?cid=~$cid`">Go to Main Page</a></td>
</tr>
</table>
<br>
	<table width=100% border=0 cellspacing=4 cellpadding=5>
	<tr class="label">
	<td>ID</td>
	<td>Enquirer Name</td>
	<td>Enquirer Address</td>
	<td>Enquirer Contact Number</td>
	<td>Enquirer E-Mail</td>
	<td>Category</td>
	<td>Enquiry</td>
	<td>Enquiry Date</td>
	<td>&nbsp;</td>
	</tr>

	~section name=a loop=$enq`
	<tr class="fieldsnew">
	<td>~$enq[a].ID`</td>
	<td>~$enq[a].NAME`</td>
	<td>~$enq[a].ADDRESS`</td>
	<td>~$enq[a].CONTACT_NUM`</td>
	<td>~$enq[a].EMAIL`</td>
	<td>~$enq[a].CATEGORY`</td>
	<td>~$enq[a].ENQUIRY`</td>
	<td>~$enq[a].ENQ_DT`</td>
	<td><input type="checkbox" value="~$enq[a].ID`" name="approve[]"></td>
	</tr>
	~/section`
	</table>

<center><input type="submit" value="submit" name="submit"></center>
<input type="hidden" name="cid" value="~$cid`">

</form>
</body>
</html>
