<html>
	<head>
		<title>Festive offer</title>
		<link rel="stylesheet" href="jeevansathi.css" type="text/css">
	</head>
	<body>
		<table width="50%" align="center" cellpadding="4" cellspacing="4" border="0">
			<tr>
				<td align="center"><img src="../profile/images/logo_1.gif" width="192" height="65"></td>
			</tr>
                        <tr class="formhead">
                                <td align="center"><a href="../jsadmin/mainpage.php?cid=~$cid`">Mainpage</a></td>
                        </tr>
		</table>
		<br>
			<form name="name1" method="post" action="change_festive.php" enctype="multipart/form-data">
			<table width="40%" border="0" align="center" cellpadding="4" cellspacing="4">
                                <tr class="fieldsnew">
                                        <td width="50%" align="center">Festival : 
                                        </td>
                                        <td>
					<select name="festivalId">
						~foreach from=$festivalArr item=data_val key=k`	
							<option value="~$k`" ~if $k eq $selFestiveId` selected ~/if`>~$data_val`</option>
						~/foreach`	
                                        </td>
                                </tr>
                                <tr class="fieldsnew">
                                        <td width="50%" align="center">
					~if $errorDate eq 'Y'`<font color="red">Festive Expiry Date:</font>~else`Festive Expiry Date:~/if`
                                        </td>
                                        <td>
		                                <select name="day1">
        		                                <option value="">Day</option>
                		                        ~section name=dd loop=$ddarr`
                        		                        <option value="~$ddarr[dd]`" ~if $ddarr[dd] eq $curday` selected ~/if`>~$ddarr[dd]`</option>
                                		        ~/section`
                                		</select>
                                		&nbsp;
                                		<select name="month1">
                                        		<option value="">Month</option>
                                        		~section name=mm loop=$mmarr`
                                                		<option value="~$mmarr[mm].VALUE`" ~if $mmarr[mm].VALUE eq $curmonth` selected ~/if`>~$mmarr[mm].NAME`</option>
                                       			~/section`
                                		</select>
                                		&nbsp;
                                		<select name="year1">
                                        		<option value="">Year</option>
                                        		~section name=yy loop=$yyarr`
                                                		<option value="~$yyarr[yy]`" ~if $yyarr[yy] eq $curyear` selected ~/if`>~$yyarr[yy]`</option>
                                        		~/section`
                                		</select>
                                        </td>
                                </tr>
                                <tr class="fieldsnew">
                                        <td width="50%" align="center">Festive offer: <b>~$status`</b>
                                        </td>
                                        <td>
                                        <input type="submit" name="submit" value="~$action`">
                                        </td>
                                </tr>
			</table>
			<input type="hidden" name="cid" value="~$cid`">
			<input type="hidden" name="name" value="~$name`">
			</form>
	</body>
</html>
