<html>
	<head>
        <title>Jeevansathi.com - Operator Statistics</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link rel="stylesheet" href="jeevansathi.css" type="text/css">
		<style>
        	DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
		</style>
		<script>
                function win_open(url)
                {
                        window.open(url,'','width=865,height=500,resizable=1,scrollbars=1');
                }
                </script>

	</head>
	<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
			<tbody>
				<tr>
        			<td valign="top" width="30%" bgcolor="#efefef"></td>
        			<td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        			<td valign="bottom" width="30%" bgcolor="#efefef"></td>
				</tr>
			</tbody>
		</table>
        <table width=100% align="center">
        	<tr class="formhead">
        		<td colspan=100% align="center">&nbsp;Operator Name : ~$operator_name`</td>
			<td bgcolor="#87FF5C" align="center">&nbsp;Billed</td>
                        <td bgcolor="#B9BDFF" align="center">&nbsp;Unbilled</td>
		</tr>
        </table>
        <p align="center"><font color="red">Number of profiles assigned : ~$assigned_profile` </font></p>
	<table width=100% align="center">
        	<tr class="formhead">
        		<td align="center">&nbsp;User Name</td>
			<td align="center">&nbsp;Password</td>
        		<td align="center">&nbsp;Contact Number</td>
			<td align="center">&nbsp;Profiles in Pool</td>
        		<td align="center">&nbsp;Short Listed Profiles</td>
        		<td align="center">&nbsp;Total Acceptance</td>
        		<td align="center">&nbsp;Acceptance Left</td>
        		<td align="center">&nbsp;Start Date</td>
        		<td align="center">&nbsp;Days Remaining</td>
			<td align="center">&nbsp;Comments</td>
        	</tr>
		~assign var="tab" value=0`
		~assign var="cat" value=0`
        	~foreach from=$tableArray item=d key=pid`
        	<tr class="label">		
        	~foreach name=users from=$d item=k`        	        					
		       ~if $smarty.foreach.users.first`
                                ~if $k eq 'billed'`
                                        ~assign var= 'color' value='green'`
                                ~else`
                                        ~assign var= 'color' value='blue'`
                                ~/if`
                        ~else`
                                ~if $smarty.foreach.users.iteration eq '2'`
                                ~if $color eq 'green'`<td align="center" bgcolor="#87FF5C"> ~else` <td align="center" bgcolor="#B9BDFF"> ~/if`&nbsp;~$k`~assign var= 'uname' value=$k`</td> ~else`
                                        <td align="center">&nbsp;~$k`</td>
                                ~/if`
                        ~/if`
 	
        	~/foreach`
			<td align="center">
				&nbsp;<a href="#" onclick="win_open('~$SITE_URL`/jsadmin/user_comments.php?cid=~$CHECKSUM`&pid=~$pid`&op=~$operator_name`');return false;">Comments</a><br>
				~*$qqq`
				~$antilog[$tab]`
				~math equation="x/y" x=$qqq y=$antilog[$tab] assign="test" format="%d"`
				~$test*`
				~if $arr[$tab] ge 1`
					~assign var="inc" value=$cat`
					~assign var="qwe" value=0`
					~section name=ser loop=$arr[$tab]`
						~if $qwe gt 2`
							<br/>~assign var="qwe" value=0`
						~/if`
						<a href="#" onclick="win_open('~$SITE_URL`/jsadmin/client_feedback.php?cid=~$CHECKSUM`&username=~$uname`&sr=~$id_no[$inc]`&check=1');return false;">SR~$service[$inc]`&nbsp;</a>
						~assign var="inc" value=$inc+1`
						~assign var="qwe" value=$qwe+1`
					~/section`
				 ~assign var="cat" value=$cat+$arr[$tab]`
				~/if`
				
			</td>        	
        	</tr>        	
		~assign var="tab" value=$tab+1`
        	~/foreach`        	
        </table>
	<table width=100% align="center">
                <tr class="formhead">
                        <td colspan=100% align="center"><a href=# onclick="javascript:window.close();">Close the Window</a></td>
                </tr>
        </table>
    </body>
</html>	        
        
        	




