<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Jeevansathi.com - Enter Discount Details</title>
		<link rel="stylesheet" href="jeevansathi.css" type="text/css">
		<script>
			function toggle_discount_code()
			{
				docF = document.form1;
				if(docF.discount_usage.value == "S")
				{
					document.getElementById("discount_code_label_multiple").style.display = 'none';
					document.getElementById("discount_code_value_multiple").style.display = 'none';
					document.getElementById("discount_code_label_single").style.display = 'inline';
					document.getElementById("discount_code_value_single").style.display = 'inline';
				}
				else if(docF.discount_usage.value == "M")
				{
					document.getElementById("discount_code_label_multiple").style.display = 'inline';
					document.getElementById("discount_code_value_multiple").style.display = 'inline';
					document.getElementById("discount_code_label_single").style.display = 'none';
					document.getElementById("discount_code_value_single").style.display = 'none';
				}
			}

			function change_tab(id)
			{
				if(id == "show_discount_codes")
				{
					document.getElementById("discount_codes").style.display = 'block';
					document.getElementById("new_entry").style.display = 'none';
				}
				else if(id == "show_new_entry")
				{
					document.getElementById("discount_codes").style.display = 'none';
					document.getElementById("new_entry").style.display = 'block';
				}
				return false;
			}
		</script>
	</head>
	~include file="head.htm"`
	<table border="0" cellpadding="4" cellspacing="4" width="70%" align="center">
		<tr class="formhead" align="center">
			<td>
				<a href="mainpage.php?cid=~$cid`">Mainpage</a>
			</td>
		</tr>
	</table>
	<br />
	<body ~if !$SUBMITTED` onload="toggle_discount_code();" ~/if` vlink="#0000FF">
		~if $SUBMITTED`
			<table border="0" cellpadding="4" cellspacing="4" width="70%" align="center">
				<tr class="formhead" align="center">
					<td colspan="2">
						Enter Discount Details
					</td>
				</tr>
				~if $ALREADY_EXISTS`
					<tr class="label" align="center">
						<td>
							<font color="red">CODE ALREADY EXISTS</font>
						</td>
					</tr>
				~elseif $SHOW_GENERATED_CODES_LINK`
					<tr class="label" align="center">
						<td>
							<a href="discount_new_entry.php?cid=~$cid`&discount_name=~$discount_name`&view_generated_codes=1">View Generated_Codes</a>
						</td>
					</tr>
				~/if`
				<tr class="fieldsnew" align="center">
					<td colspan="2">
						<a href="discount_new_entry.php?cid=~$cid`">Continue&gt;&gt;</a>
					</td>
				</tr>
			</table>
		~else`
			<table border="0" cellpadding="4" cellspacing="4" width="70%" align="center">
				<tr class="formhead" align="center">
					<td>
						<a href="" id="show_discount_codes" onClick="return change_tab(this.id);">View discount code(s) details</a>
					</td>
					<td>
						<a href="" id="show_new_entry" onClick="return change_tab(this.id);">Enter new discount details</a>
					</td>
				</tr>
			</table>
			<div id="discount_codes" ~if $ERROR` style="display:none" ~else` style="display:block" ~/if`>
				<table border="0" cellpadding="4" cellspacing="4" width="70%" align="center">
					<tr class="formhead" align="center">
						<td colspan="100%">Multiple Use Codes</td>
					</tr>
					<tr align="center">
						<td class="label">CODE</td>
						<td class="label">NAME</td>
						<td class="label">DISCOUNT PERCENT</td>
						<td class="label">DISCOUNT MESSAGE</td>
						<td class="label">DISCOUNT START_DATE</td>
						<td class="label">DISCOUNT END_DATE</td>
					</tr>
					~if $multiple_use`
						~section name="mul" loop=$multiple_use`
							<tr align="center">
								<td class="label">~$multiple_use[mul].CODE`</td>
								<td class="fieldsnew">~$multiple_use[mul].NAME`</td>
								<td class="fieldsnew">~$multiple_use[mul].PERCENT` %</td>
								<td class="fieldsnew">~$multiple_use[mul].MESSAGE`</td>
								<td class="fieldsnew">~$multiple_use[mul].START_DATE`</td>
								<td class="fieldsnew">~$multiple_use[mul].END_DATE`</td>
							</tr>
						~/section`
					~else`
						<tr align="center" class="fieldsnew">
							<td colspan="100%">No active multiple use codes found</td>
						</tr>
					~/if`
				</table>
				<br />
				<br />
				<table border="0" cellpadding="4" cellspacing="4" width="70%" align="center">
					<tr class="formhead" align="center">
						<td colspan="100%">Single Use Codes</td>
					</tr>
					<tr align="center">
						<td class="label">CODE</td>
						<td class="label">NAME</td>
						<td class="label">DISCOUNT PERCENT</td>
						<td class="label">DISCOUNT MESSAGE</td>
						<td class="label">DISCOUNT START_DATE</td>
						<td class="label">DISCOUNT END_DATE</td>
					</tr>
					~if $single_use`
						~section name="sin" loop=$single_use`
							<tr align="center">
								<td class="label">
									<a href="discount_new_entry.php?cid=~$cid`&discount_name=~$single_use[sin].NAME`&view_generated_codes=1">View Codes</a>
								</td>
								<td class="fieldsnew">~$single_use[sin].NAME`</td>
								<td class="fieldsnew">~$single_use[sin].PERCENT` %</td>
								<td class="fieldsnew">~$single_use[sin].MESSAGE`</td>
								<td class="fieldsnew">~$single_use[sin].START_DATE`</td>
								<td class="fieldsnew">~$single_use[sin].END_DATE`</td>
							</tr>
						~/section`
					~else`
						<tr align="center" class="fieldsnew">
							<td colspan="100%">No active single use codes found</td>
						</tr>
					~/if`
				</table>
			</div>
			<div id="new_entry" ~if $ERROR` style="display:block" ~else` style="display:none" ~/if`>
				<form name="form1" method="post" action="discount_new_entry.php">
				<input type="hidden" name="cid" value="~$cid`">
				<table border="0" cellpadding="4" cellspacing="4" width="70%" align="center">
					<tr class="formhead" align="center">
						<td colspan="2">
							Enter Discount Details
							~if $ERROR`
								<br/>
								<font color="red">All field are mandatory</font>
							~/if`
						</td>
					</tr>
					<tr>
						<td class="label" align="right">
							~if $CHECK_DISCOUNT_USAGE`
								<font color="red">Discount Usage :</font>
							~else`
								Discount Usage :
							~/if`
						</td>
						<td class="fieldsnew" align="left">
							<select name="discount_usage" class="textboxes1" onChange="toggle_discount_code();">
								<option value="S" ~if $DISCOUNT_USAGE eq 'S'` selected="yes" ~/if`>Single Use</option>
								<option value="M" ~if $DISCOUNT_USAGE eq 'M'` selected="yes" ~/if`>Multiple Use</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="label" align="right">
							~if $CHECK_DISCOUNT_NAME`
								<font color="red">Discount Name :</font>
							~else`
								Discount Name :
							~/if`
						</td>
						<td class="fieldsnew" align="left">
							<input type="text" name="discount_name" value="" class="textboxes1" />
						</td>
					</tr>
					<tr>
						<td class="label" align="right">
							<div id="discount_code_label_multiple" style="display:none;">
								~if $CHECK_DISCOUNT_CODE`
									<font color="red">Discount Code :</font>
								~else`
									Discount Code :
								~/if`
							</div>
							<div id="discount_code_label_single" style="display:inline;">
								~if $CHECK_NUMBER_OF_CODES`
									<font color="red">Number of Codes :</font>
								~else`
									Number of Codes :
								~/if`
							</div>
						</td>
						<td class="fieldsnew" align="left">
							<div id="discount_code_value_multiple" style="display:none">
								<input type="text" name="discount_code" value="" class="textboxes1" />
							</div>
							<div id="discount_code_value_single">
								<select name="number_of_codes" class="textboxes1">
									<option value="1">1</option>
									<option value="10">10</option>
									<option value="1000">1000</option>
									<option value="2000">2000</option>
									<option value="50000">50000</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td class="label" align="right">
							~if $CHECK_DISCOUNT_PERCENT`
								<font color="red">Discount(percent) :</font>
							~else`
								Discount(percent) :
							~/if`
						</td>
						<td class="fieldsnew" align="left">
							<input type="text" name="discount_percent" value="" class="textboxes1" />
						</td>
					</tr>
					<tr>
						<td class="label" align="right">
							~if $CHECK_DISCOUNT_DURATION`
								<font color="red">Discount duration :</font>
							~else`
								Discount duration :
							~/if`
						</td>
						<td class="fieldsnew" align="left">
							<select name="discount_duration_start_day" class="textboxes1">
								~section name="dd" loop=$ddarr`
									<option value="~$ddarr[dd]`" ~if $discount_duration_start_day eq $ddarr[dd] or $curday eq $ddarr[dd]` selected ~/if`>~$ddarr[dd]`</option>
								~/section`
							</select>
							<select name="discount_duration_start_month" class="textboxes1">
								~section name="mm" loop=$mmarr`
									<option value="~$mmarr[mm]`" ~if $discount_duration_start_month eq $mmarr[mm] or $curmonth eq $mmarr[mm]` selected ~/if`>~$mmarr[mm]`</option>
								~/section`
							</select>
							<select name="discount_duration_start_year" class="textboxes1">
								~section name="yy" loop=$yyarr`
									<option value="~$yyarr[yy]`" ~if $discount_duration_start_year eq $yyarr[yy] or $curyear eq $yyarr[yy]` selected ~/if`>~$yyarr[yy]`</option>
								~/section`
							</select>
							to
							<select name="discount_duration_end_day" class="textboxes1">
								~section name="dd" loop=$ddarr`
									<option value="~$ddarr[dd]`" ~if $discount_duration_end_day eq $ddarr[dd] or $later_day eq $ddarr[dd]` selected ~/if`>~$ddarr[dd]`</option>
								~/section`
							</select>
							<select name="discount_duration_end_month" class="textboxes1">
								~section name="mm" loop=$mmarr`
									<option value="~$mmarr[mm]`" ~if $discount_duration_end_month eq $mmarr[mm] or $later_month eq $mmarr[mm]` selected ~/if`>~$mmarr[mm]`</option>
								~/section`
							</select>
							<select name="discount_duration_end_year" class="textboxes1">
								~section name="yy" loop=$yyarr`
									<option value="~$yyarr[yy]`" ~if $discount_duration_end_year eq $yyarr[yy] or $later_year eq $yyarr[yy]` selected ~/if`>~$yyarr[yy]`</option>
								~/section`
							</select>
						</td>
					</tr>
					<tr>
						<td class="label" align="right">
							~if $CHECK_DISCOUNT_MESSAGE`
								<font color="red">Discount Message (to be shown on payment page) :</font>
							~else`
								Discount Message (to be shown on payment page) :
							~/if`
						</td>
						<td class="fieldsnew" align="left">
							<input type="text" name="discount_message" value="" class="textboxes1" />
						</td>
					</tr>
					<tr class="formhead" align="center">
						<td colspan="2">
							<input type="submit" name="submit" value="Submit" class="buttons1" />
						</td>
					</tr>
				</table>
				</form>
			</div>
		~/if`
	</body>
</html>
