<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Edit Details</title>
	<link rel="stylesheet" href="jeevansathi1.css" type="text/css">
	<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<SCRIPT language="Javascript">
		var tax_rate = parseFloat(~$TAX_RATE`)/100;
		$(document).ready(function(){
			if(isNaN(document.form1.amt.value) || document.form1.amt.value === ''){
				var amt = 0;	
				document.form1.amt.value=0;
			} else {
				var amt = document.form1.amt.value;
			}
			if(isNaN(document.form1.tds.value) || document.form1.tds.value === ''){
				var tds = 0;
				document.form1.tds.value=0;
			} else {
				var tds = document.form1.tds.value;
			}
			var tot_amt = parseInt(amt)+parseInt(tds);
			var computed_tax = tot_amt - (tot_amt/(1+tax_rate));
			computed_tax = +computed_tax.toFixed(2);
			$("#service_tax").val(computed_tax);
			document.form1.service_tax1.value = computed_tax;
		})
		function checkNaN(){
			if(isNaN(document.form1.amt.value) || document.form1.amt.value === ''){
				alert("please enter only digits")
				var amt = 0;	
				document.form1.amt.value=0;
			} else {
				var amt = document.form1.amt.value;
			}
			if(isNaN(document.form1.tds.value) || document.form1.tds.value === ''){
				alert("please enter only digits")
				var tds = 0;
				document.form1.tds.value=0;
			} else {
				var tds = document.form1.tds.value;
			}
		}
		function deleteReason()
		{
			if(document.form1.delreason.value=='')
			{
			   alert("Reason to Delete field should not be Empty");
			   return false;
			}
			else
			   return true;
		}
		function compute_reverse_service_tax(){
			if(isNaN(document.form1.amt.value) || document.form1.amt.value === ''){
				var amt = 0;	
			} else {
				var amt = document.form1.amt.value;
			}
			if(isNaN(document.form1.tds.value) || document.form1.tds.value === ''){
				var tds = 0;
			} else {
				var tds = document.form1.tds.value;
			}
			var tot_amt = parseInt(amt)+parseInt(tds);
			var computed_tax = tot_amt - (tot_amt/(1+tax_rate));
			computed_tax = +computed_tax.toFixed(2);
			$("#service_tax").val(computed_tax);
			document.form1.service_tax1.value = computed_tax;
		}
	</script>
</head>
~include file='head_billing.htm'`
<body>
	~if $flag eq 'saved'`
		<br><br>
		<table width="70%" align="center" border="0" cellspacing="4" cellpadding="4">
			<tr class="formhead" align="center">
				<td>You have successfully edited the detail(s).</td>
			</tr>
			<tr class="fieldsnew" align="center">
				<td>
					<a href="search_rev_user.php?user=~$USER`&cid=~$CID`&phrase=~$phrase`&criteria=~$criteria`&billid=~$billid`">Continue &gt;&gt;</a>
				</td>
			</tr>
		</table>
	~elseif $flag eq 'deleted'`
		<br><br>
		<table width="70%" align="center" border="0" cellspacing="4" cellpadding="4">
			<tr class="formhead" align="center">
				<td>
					~if $DUP eq ''`
					<a href="search_rev_user.php?user=~$USER`&cid=~$CID`&phrase=~$phrase`&criteria=~$criteria`&billid=~$billid`">Continue &gt;&gt;</a>
					~else`
						Kindly Close This Wndow.
			<!--                <a href="../mis/duplicate_entry_mis.php?user=~$USER`&cid=~$CID`">Continue &gt;&gt;</a> -->
					~/if`
				</td>
			</tr>
		</table>
	~else`
	<br>
	<form name="form1" method="post" action="edit_rev_payment_details.php">
	<table width="70%" align="center" border="0" cellspacing="4" cellpadding="4">
		<tr class="formhead" align="center">
			<td colspan="3">Please check the field to be changed</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" disabled></td>
			<td class="label">Username</td>
			<td class="fieldsnew">~$uname`</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" disabled></td>
			<td class="label">Receipt ID</td>
			<td class="fieldsnew">~$receiptid`</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" disabled></td>
			<td class="label">Bill ID</td>
			<td class="fieldsnew">~$billid`</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" name="chk_start_date"></td>
			<td class="label">Start Date</td>
			<td class="fieldsnew">
				<input type="text" name="start_date" ~if $start_date` value="~$start_date`" ~else` value="0000-00-00" ~/if`>&nbsp;(YYYY-MM-DD);
			</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" name="chk_end_date"></td>
			<td class="label">End Date</td>
			<td class="fieldsnew">
				<input type="text" name="end_date" ~if $end_date` value="~$end_date`" ~else` value="0000-00-00" ~/if`>&nbsp;(YYYY-MM-DD);
			</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" name="chk_mode"></td>
			<td class="label">Mode</td>
			<td class="fieldsnew">
				<select name="mode" class="textboxes1">
					<option value="">Select</option>
					~section name=next loop=$pay_mode`
						<option value="~$pay_mode[next].value`" ~if $pay_mode[next].value eq $mode` selected ~/if`>~$pay_mode[next].name`</option>
					~/section`
				</select>
			</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" name="chk_from_source"></td>
			<td class="label">Source</td>
			<td class="fieldsnew">
				<select name="from_source" class="textboxes1">
					<option value="">Select</option>
					~section name=next loop=$from_source_arr`
						<option value="~$from_source_arr[next].value`" ~if $from_source eq $from_source_arr[next].value` selected ~/if`>~$from_source_arr[next].name`</option>
					~/section`
				</select>
			</td>
		</tr>
		<tr>
			<td class="label"><input type="checkbox" name="chk_transaction_number"></td>
			<td class="label">Transaction Number</td>
			<td class="fieldsnew">
				<input type="text" name="transaction_number" value="~$transaction_number`" class="textboxes1">
			</td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_type">
			</td>
			<td class="label">Type</td>
			<td class="fieldsnew">
				<select name="type" class="textboxes1">
					<option value="RS" ~if $type eq "RS"` selected ~/if`>RS</option>
					<option value="DOL" ~if $type eq "DOL"` selected ~/if`>DOL</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_amt">
			</td>
			<td class="label">Amount</td>
			<td class="fieldsnew">
				<input type="text" name="amt" value="~$amt`" class="textboxes1" onKeyUp="compute_reverse_service_tax(); checkNaN();">
			</td>
		</tr>
		<tr>
                        <td class="label">
                                <input type="checkbox" name="chk_tds">
                        </td>
                        <td class="label">TDS Amount</td>
                        <td class="fieldsnew">
                                <input type="text" name="tds" value="~$tds`" class="textboxes1" onKeyUp="compute_reverse_service_tax(); checkNaN();">
                        </td>
                </tr>
	
		<tr>
		<tr>
			<td class="label">
				<input type="checkbox" ~if $service_tax` checked="checked" ~/if` name="chk_service_tax">
			</td>
			<td class="label">Service Tax computed</td>
			<td class="fieldsnew">
				<input disabled id="service_tax" type="text" name="service_tax" value="~$service_tax`" class="textboxes1">
			</td>
		</tr>
			<td class="label">
				<input type="checkbox" disabled>
			</td>
			<td class="label">Entry Date</td>
			<td class="fieldsnew">~$entry_dt`</td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_cdnum">
			</td>
			<td class="label">Cheque/DD No.</td>
			<td class="fieldsnew"><input type="text" name="cd_num" value="~$cd_num`"></td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_cd_dt">
			</td>
			<td class="label">Cheque/DD Date</td>
			<td class="fieldsnew">
				<input type="text" name="cd_dt" value="~$cd_dt`">&nbsp;(YYYY-MM-DD)
			</td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_bank">
			</td>
			<td class="label">Bank</td>
			<td class="fieldsnew"><input type="text" name="bank" value="~$bank`"></td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_reason">
			</td>
			<td class="label">Reason</td>
			<td class="fieldsnew"><textarea rows="4" cols=50 name="reason" >~$reason`</textarea></td>
		</tr>
		<tr>
			<td class="label">
				<input type="checkbox" name="chk_delreason">
			</td>
			<td class="label">Reason to Delete</td>
			<td class="fieldsnew"><textarea rows=5 cols=50 name="delreason"></textarea></td>
		</tr>
	</table>
	<table width="70%" align="center" border="0" cellspacing="4" cellpadding="4">
		<tr>
			<td align="center" class="fieldsnew">
				<input type="submit" name="delete" value="Delete" onClick="return deleteReason()" class="buttons1">
			</td>
			<td align="center" class="fieldsnew">
				<input type="submit" name="save" value="Save" class="buttons1">
			</td>
		</tr>
	</table>
	<input type="hidden" name="user" value=~$USER`>
	<input type="hidden" name="cid" value=~$CID`>
	<input type="hidden" name="uname" value="~$uname`">
	<input type="hidden" name="saleid" value=~$saleid`>
	<input type="hidden" name="receiptid" value=~$receiptid`>
	<input type="hidden" name="billid" value=~$billid`>
	<input type="hidden" name="phrase" value=~$phrase`>
	<input type="hidden" name="criteria" value=~$criteria`>
	<input type="hidden" name="service_tax1">
	</form>
	~/if`
</body>
</html>
