<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Edit Details</title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
<SCRIPT language="Javascript">
  function deleteReason()
  {
	if(document.form1.delreason.value=='')
	{
	   alert("Reason to Delete field should not be Empty");
  	   return false;
        }
        else
	   return true;
  }
</script>
</head>
<body>
~include file='head.htm'`
~if $flag eq 'saved'`
<br><br>
<table width=100% align="CENTER" border="0" cellspacing="0" cellpadding="0">
<tr class="formhead" align="center">
        <td>
                <a href="search_user.php?user=~$USER`&cid=~$CID`&phrase=~$phrase`&criteria=~$criteria`&billid=~$billid`">Continue &gt;&gt;</a>
        </td>
</tr>
</table>
~elseif $flag eq 'deleted'`
<br><br>
<table width=100% align="CENTER" border="0" cellspacing="0" cellpadding="0">
<tr class="formhead" align="center">
        <td>
		~if $DUP eq ''`
                <a href="search_user.php?user=~$USER`&cid=~$CID`&phrase=~$phrase`&criteria=~$criteria`&billid=~$billid`">Continue &gt;&gt;</a>
		~else`
			Kindly Close This Wndow.
<!--                <a href="../mis/duplicate_entry_mis.php?user=~$USER`&cid=~$CID`">Continue &gt;&gt;</a> -->
		~/if`
        </td>
</tr>
</table>
~else`
<br>
<h4 align='center'>Please check the field to be changed </h4> 
<form name=form1 method=post action="edit_details.php">
<table width=570 border=0 align="center" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="formhead"></td>
<td class="formhead" height="21">Username</td>
<td class="fieldsnew">~$uname`</td>
</tr>
<tr>
<td class="formhead"></td>
<td class="formhead" height="21">Receipt ID</td>
<td class="fieldsnew">~$receiptid`</td>
</tr>
<tr>
<td class="formhead"></td>
<td class="formhead" height="21">Bill ID</td>
<td class="fieldsnew">~$billid`</td>
</tr>
<tr>
<td class="formhead"><input type=checkbox name="chk_mode"></td>
<td class="formhead" height="21">Mode</td>
<td class="fieldsnew">
        <select name="mode" class="textboxes1">
	<option value="CASH" ~if $mode eq "CASH"` selected ~/if`>Cash</option>
	<option value="CHEQUE" ~if $mode eq "CHEQUE"` selected ~/if`>Cheque</option>
	<option value="DD" ~if $mode eq "DD"` selected ~/if`>Demand Draft</option>
	<option value="ONLINE" ~if $mode eq "ONLINE"` selected ~/if`>Online</option>
	<option value="TT" ~if $mode eq "TT"` selected ~/if`>TT</option>
	<option value="CCOFFLINE" ~if $mode eq "CCOFFLINE"` selected ~/if`>CCOFFLINE</option>
	</select>
</td>
</tr>
<!--
<tr>
<td class="formhead" height="21">Type</td>
<td class="fieldsnew">
	<select name="type" class="textboxes1">
	<option value="RS" ~if $type eq "RS"` selected ~/if`>RS</option>
	<option value="DOL" ~if $type eq "DOL"` selected ~/if`>DOL</option>
	</select>
</td>
</tr>
-->
<!--
<tr>
<td class="formhead" height="21">Amount</td>
<td class="fieldsnew"><input type="text" name="amt" value=~$amt` class="textboxes1"></td>
</tr>
-->
<tr>
<td class="formhead"><input type=checkbox name="chk_status"></td>
<td class="formhead" height="21">
Status
</td>
<td class="fieldsnew">
	<select name="status" class="textboxes1">
	<option value="DONE" ~if $status eq "DONE"` selected ~/if`>DONE</option>
	<option value="REFUND" ~if $status eq "REFUND"` selected ~/if`>REFUND</option>
	</select>
	</td>

</tr>

<tr>
<td class="formhead">
</td>
<td class="formhead" height="21">Entry Date</td>
<td class="fieldsnew">~$entry_dt`</td>
</tr>
<tr>
<td class="formhead">
</td>
<td class="formhead" height="21">Entry By</td>
<td class="fieldsnew">~$entryby`</td>
</tr>
<tr>
<td class="formhead"><input type=checkbox name="chk_walkinby"></td>
<td class="formhead" height="21">Walkin By</td>
<td class="fieldsnew">~$walkinby`&nbsp;&nbsp;
	<select name="walkinby" class="textboxes1">
		<option value="">Change with</option>
	~section name=sec loop=$users`
		<option value="~$users[sec]`">~$users[sec]`</option>
	~/section`
	
	</select>
</td>
</tr>
<tr>
<td class="formhead"><input type=checkbox name="chk_cd_num"></td>
<td class="formhead" height="21">Cheque/DD No./CC Offline Transaction No</td>
<td class="fieldsnew"><input type="text" name="cd_num" value="~$cd_num`"></td>
</tr>
<tr>
<td class="formhead"><input type=checkbox name="chk_cd_dt"></td>
<td class="formhead" height="21">Cheque/DD Date</td>
<td class="fieldsnew"><input type="text" name="cd_dt" value="~$cd_dt`">&nbsp;(YYYY-MM-DD)</td>
</tr>
~if $change_dep eq 'Y'`
<tr>
<td class="formhead"><input type=checkbox name="chk_deposit_dt"></td>
<td class="formhead" height="21">Deposit Date</td>
<td class="fieldsnew"><input type="text" name="deposit_dt" value="~$deposit_dt`">&nbsp;(YYYY-MM-DD)</td>
</tr>

<tr>
<td class="formhead"><input type=checkbox name="chk_dep_branch"></td>
        <td class="formhead" width="21%">Deposit Branch</td>
        <td bgcolor="#f5f5f5" width="26%">         <select name="dep_branch" size="1" class="TextBoxes1">         ~section name=sec loop=$dep_branch_arr`
                        <option value=~$dep_branch_arr[sec]` ~if $dep_branch eq $dep_branch_arr[sec]` selected ~/if`>~$dep_branch_arr[sec]`</option>
                ~/section`
        </select>
</td>
</tr>
~/if`
<tr>
<td class="formhead"><input type=checkbox name="chk_bank"></td>
<td class="formhead" height="21">Bank</td>
<td class="fieldsnew"><input type="text" name="bank" value="~$bank`"></td>
</tr>
<tr>
<td class="formhead"><input type=checkbox name="chk_reason"></td>
<td class="formhead" height="21">Reason</td>
<td class="fieldsnew"><textarea rows="4" cols=50 name="reason" >~$reason`</textarea></td>
</tr>
<tr>
<td class="formhead"><input type=checkbox name="chk_delreason"></td>
<td class="formhead" height="21">Reason to Delete</td>
<td class="fieldsnew"><textarea rows=5 cols=50 name="delreason"></textarea></td>
</tr>
<tr>
<td class="formhead"></td>
<td class="formhead" height="21">Add to due amount</td>
<td class="fieldsnew"><input type=checkbox name="add_back_amt"></textarea></td>
</tr>
<tr>
<td ></td>
<td class="fieldsnew" height="21">&nbsp;</td>
<td class="fieldsnew" height="21">&nbsp;</td>
</tr>
<tr>
<td ></td>
<input type="hidden" name="user" value=~$USER`>
<input type="hidden" name="cid" value=~$CID`>
<input type="hidden" name="uname" value=~$uname`>
<input type="hidden" name="profileid" value=~$profileid`>
<input type="hidden" name="receiptid" value=~$receiptid`>
<input type="hidden" name="billid" value=~$billid`>
<input type="hidden" name="phrase" value=~$phrase`>
<input type="hidden" name="prev_walkinby" value=~$walkinby`>
<input type="hidden" name="criteria" value=~$criteria`>
<td align="center" class="fieldsnew"><input type="submit" name="delete" value="Delete" onClick="return deleteReason()"></td>
<td align="center" class="fieldsnew"><input type="submit" name="save" value="Save"></td>
</table>
</form>
~/if`
<br><br>
~include file='foot.htm'`
</body>
</html>
