<html>
	<head>
		<title>Large File</title>
		<link rel="stylesheet" href="jeevansathi.css" type="text/css">
	</head>
	<body>
		<table width="50%" align="center" cellpadding="4" cellspacing="4" border="0">
			<tr>
				<td align="center"><img src="../profile/images/logo_1.gif" width="192" height="65"></td>
			</tr>
                        <tr class="formhead">
                                <td align="center"><a href="../jsadmin/mainpage.php?cid=~$cid`">Mainpage</a></td>
                        </tr>
		</table>
		<br>
			<form name="name1" method="post" action="go_to_large_file.php" enctype="multipart/form-data">
			<table width="40%" border="0" align="center" cellpadding="4" cellspacing="4">
				<tr class="fieldsnew">
					<td width="50%" align="center">Large File</td>
					<td><label name="entry_dt">~$entry_dt`</label></td>
				</tr>
				<tr class="fieldsnew">
					<td width="50%" align="center">Data Limit</td>
					<td><input type="text" name="limit" value="~$limit`"></td>
				</tr>
				<tr class="fieldsnew">
					<td width="50%" align="center">Lead Ids Suffix</td>
					<td><label name="leadid">~$leadid`</label></td>
				</tr>
				<tr class="fieldsnew" align="center">
					<td><input type="submit" name="submit" value="Activate Large File"></td>
					<td><input type="submit" name="submit" value="Update Limit"></td>
				</tr>
			</table>
			<input type="hidden" name="cid" value="~$cid`">
			<input type="hidden" name="name" value="~$name`">
			<input type="hidden" name="entry_dt" value="~$entry_dt`">
			</form>
	</body>
</html>
