<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>OPT IN to avail the best deals!</title>
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
<script type="text/javascript" language="javascript">
function checkFields() {
missinginfo = "";
if (document.form1.name.value == "") {
missinginfo += "\n     -  Name";
}
if ((document.form1.email.value == "") || 
(document.form1.email.value.indexOf('@') == -1) || 
(document.form1.email.value.indexOf('.') == -1)) {
missinginfo += "\n     -  Email address";
}
if (document.form1.phone.value == "") {
missinginfo += "\n     -  Phone";
}
if (document.form1.budget.value == "") {
missinginfo += "\n     -  Budget";
}
if (document.form1.city.value == "") {
missinginfo += "\n     -  City";
}
if (missinginfo != "") {
missinginfo ="_____________________________\n" +
"You failed to correctly fill in your:\n" +
missinginfo + "\n_____________________________" +
"\nPlease re-enter and submit again!";
alert(missinginfo);
return false;
}
else return true;
}
</script>
</head>
<body>
<center>
  <table width="779" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #818181 ">
    <tr>
      <td><table width="779" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="http://www.jeevansathi.com/mailers/icici-optin27jul/limages/img1hl.jpg" alt="Please update your requirements and details. This will help us to serve you better. " width="399" height="159"><img src="http://www.jeevansathi.com/mailers/icici-optin27jul/limages/img2hl.jpg" alt="OPT IN to avail the best deals!" width="380" height="159"></td>
          </tr>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="779">
          <tbody>
            <tr>
              <td valign="top">
                <!--form action="http://www.jeevansathi.com/mailers/icici-optin27jul/landing.php" method="post" name="form1" style="margin:0px;" onsubmit="return checkFields();"-->
		<form action="landing.php" method="post" name="form1" style="margin:0px;" onsubmit="return checkFields();">
                  <table align="center" border="0" cellpadding="4" cellspacing="1" width="779">
                    <tbody>
                      <tr>
                        <td class="bgbrownL3" colspan="4" valign="middle"><div align="left" class="textblink"> <strong>&rsaquo;</strong> Details </div></td>
                      </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="4" cellspacing="1" width="779">
                    <tbody>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">*</td>
                        <td class="mediumblack" valign="middle"><div align="left"><font ~if $check_name eq "1"` color="red" ~else` color="black" ~/if`>Name</font> </div></td>
                        <td colspan="3" class="mediumblack" align="left" valign="middle"><input name="name" value="~$name`" class="mediumblack" id="Namel" maxlength="40" value="" type="text">
                        </td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">*</td>
                        <td class="mediumblack" valign="middle"><div align="left"><font ~if $check_email eq "1"` color="red" ~else` color="black" ~/if`>Email</font></div></td>
                        <td colspan="3" class="mediumblack" align="left" valign="middle"><input name="email" value="~$email`" type="text" class="mediumblack"></td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">*</td>
                        <td class="mediumblack" valign="middle"><div align="left"><font ~if $check_phone eq "1"` color="red" ~else` color="black" ~/if`>Phone</font></div></td>
                        <td colspan="3" class="mediumblack" align="left" valign="middle"><input name="phone"  value="~$phone`" type="text" class="mediumblack"></td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">*</td>
                        <td class="mediumblack" valign="middle">~if $check_budget eq "1"` <font color="red">~/if` Budget </font></td>
                        <td colspan="3" class="mediumblack" align="left" valign="middle"><select name="budget" class="mediumblack" id="budget">
                            <option selected="selected">INR</option>
                            <option >Below 7 lacs</option>
                            <option >7 to 15 lacs</option>
                            <option >15 to 25 lacs</option>
                            <option > 25 to 40 lacs</option>
                            <option >40 to 60 lacs</option>
                            <option > 60 to 100 lacs</option>
                            <option >1 to 1.5 crores</option>
                            <option >1.5 to 2 crores</option>
                            <option >2 to 2.5 crores</option>
                            <option >Above 2.5 crores</option>
                            <option >Negotiable</option>
                          </select></td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">&nbsp;</td>
                        <td class="mediumblack" align="left" valign="middle">Monthly Income </td>
                        <td colspan="2" class="mediumblack" align="left" valign="middle"><select name="area_range" class="mediumblack">
                            <option selected="selected">Select</option>
                            <option >Less than 7000</option>
                            <option >7001-10000</option>
                            <option >10001-15000</option>
                            <option >15001-25000</option>
                            <option >25001-40000</option>
                            <option >40000+</option>
                          </select></td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">*</td>
                        <td class="mediumblack" valign="middle">~if $check_city eq "1"` <font color="red"> ~/if`City</font></td>
                        <td colspan="3" class="mediumblack" align="left" valign="middle"><span class="bottom">
                          <select name="city[]" size="3" class="mediumblack" id="city" multiple>
                            <option >Select City</option>
                            <option class=boldclass >Delhi / NCR</option>
                            <option>North</option>
                            <option>South</option>
                            <option>East</option>
                            <option>West</option>
                            <option>Dwarka</option>
                            <option>Central</option>
                            <option>Noida</option>
                            <option>Greater Noida</option>
                            <option>Gurgaon</option>
                            <option>Ghaziabad</option>
                            <option>Faridabad</option>
                            <option>Delhi Others</option>
                            <option class=boldclass >Mumbai</option>
                            <option>Mumbai Harbour</option>
                            <option>Mumbai Central</option>
                            <option>Mumbai Navi</option>
                            <option>Mumbai South</option>
                            <option>South West</option>
                            <option>Western Suburb</option>
                            <option>Mumbai Thane</option>
                            <option>Others</option>
                            <option class=boldclass >Pune</option>
                            <option class=boldclass >Bangalore</option>
                            <option>Bangalore North</option>
                            <option>Bangalore East</option>
                            <option>Bangalore Central</option>
                            <option>Banglore South</option>
                            <option>West</option>
                            <option>Others</option>
                            <option class=boldclass >Kolkata</option>
                            <option>North Kolkata</option>
                            <option>South Kolkata</option>
                            <option>East Kolkata</option>
                            <option>West Kolkata</option>
                            <option>Central Kolkata</option>
                            <option>Others</option>
                            <option  class=boldclass >Chennai</option>
                            <option>Chennai North</option>
                            <option>Chennai South</option>
                            <option>Chennai Central</option>
                            <option>Chennai West</option>
                            <option>Others</option>
                            <option  class=boldclass >Hyderabad</option>
                            <option>Hyderabad Central</option>
                            <option>Hyderabad East</option>
                            <option>Hyderabad North</option>
                            <option>Hyderabad South</option>
                            <option>Hyderabad West</option>
                            <option>Others</option>
                            <option  class=boldclass >Ahmedabad</option>
                            <option>Ahmedabad-North</option>
                            <option>Ahmedabad South</option>
                            <option>Ahmedabad East</option>
                            <option>Ahmedabad West</option>
                            <option>Ahmedabad Central</option>
                            <option>Others</option>
                            <option>AP-Anantapur</option>
                            <option>AP-Guntakal</option>
                            <option>AP-Guntur</option>
                            <option>AP-Kurnool</option>
                            <option>AP-Nellore</option>
                            <option>AP-Nizamabad</option>
                            <option>AP-Razahmundry</option>
                            <option>AP-Secunderabad</option>
                            <option>AP-Tirupati</option>
                            <option>AP-Vijayawada</option>
                            <option>AP-VIsakhapatnam</option>
                            <option>AP-Warangal</option>
                            <option>AP-Others</option>
                            <option>A'chal-Itanagar</option>
                            <option>A'chal-Other</option>
                            <option>Assam-Guwahati</option>
                            <option>Assam-SIlchar</option>
                            <option>Assam-Others</option>
                            <option>Bihar-Bhagalpur</option>
                            <option>Bihar-Patna</option>
                            <option>Bihar-Others</option>
                            <option>Chandigarh</option>
                            <option>C'garh-Bhillai</option>
                            <option>C'garh-Raipur</option>
                            <option>C'garh-Others</option>
                            <option>DNN Haveli</option>
                            <option>Daman&Dui</option>
                            <option>Goa-Panaji</option>
                            <option>Goa-Panjim</option>
                            <option>Goa-Vasco Da Gama</option>
                            <option>Goa-Others</option>
                            <option>Guj-Anand</option>
                            <option>Guj-Baroda</option>
                            <option>Guj-Bharuch</option>
                            <option>Guj-Bhavnagar</option>
                            <option>Guj-Bhuj</option>
                            <option>Guj-Gandhinagar</option>
                            <option>Guj-Gir</option>
                            <option>Guj-Jamnagar</option>
                            <option>Guj-Kandla</option>
                            <option>Guj-Porbandar</option>
                            <option>Guj-Rajkot</option>
                            <option>Guj-Surat</option>
                            <option>Guj-Vadodara</option>
                            <option>Guj-Others</option>
                            <option>Haryana-Ambala</option>
                            <option>Haryana-Faridabad</option>
                            <option>Haryana-Gurgaon</option>
                            <option>Haryana-Karnal</option>
                            <option>Haryana-K'shetra</option>
                            <option>Haryana-Panipat</option>
                            <option>Haryana-Rohtak</option>
                            <option>Sonipat</option>
                            <option>Haryana-Others</option>
                            <option>HP-Dalhousie</option>
                            <option>HP-Dharamsala</option>
                            <option>HP-Kulu/Manali</option>
                            <option>HP-Shimla</option>
                            <option>HP-Others</option>
                            <option>J&K-Jammu</option>
                            <option>J&K-Srinagar</option>
                            <option>J&K-Others</option>
                            <option>J'khand-Bokaro</option>
                            <option>J'khand-Dhanbad</option>
                            <option>J'khand-Jamshedpur</option>
                            <option>J'khand-Ranchi</option>
                            <option>K'natka-Belgaum</option>
                            <option>K'natka-Bellary</option>
                            <option>K'natka-Bidar</option>
                            <option>K'natka-Dharwad</option>
                            <option>K'natka-Gulbarga</option>
                            <option>K'natka-Hubli</option>
                            <option>K'natka-Kolar</option>
                            <option>K'natka-Mangalore</option>
                            <option>K'natka-Mysore</option>
                            <option>K'natka-Others</option>
                            <option>Kerala-Calicut</option>
                            <option>Kerala-Cochin</option>
                            <option>Kerala-Ernakulam</option>
                            <option>Kerala-Kochi</option>
                            <option>Kerala-Kollam</option>
                            <option>Kerala-Kottayam</option>
                            <option>Kerala-Kozhi</option>
                            <option>Kerala-Palakkad</option>
                            <option>Kerala-Palghat</option>
                            <option>Kerala-Thrissur</option>
                            <option>Kerala-Trivandrum</option>
                            <option>Kerala-Other</option>
                            <option>MP-Bhopal</option>
                            <option>MP-Gwalior</option>
                            <option>MP-Indore</option>
                            <option>MP-Jabalpur</option>
                            <option>MP-Ujjain</option>
                            <option>MP-Other</option>
                            <option>MAH-Ahmednagar</option>
                            <option>MAH-Aurangabad</option>
                            <option>MAH-Jalgaon</option>
                            <option>MAH-Kolhapur</option>
                            <option>MAH-Nagpur</option>
                            <option>MAH-Nasik</option>
                            <option>MAH-Sholapur</option>
                            <option>MAH-Other</option>
                            <option>Manipur-Imphal</option>
                            <option>Manipur-Other</option>
                            <option>Megha-Shillong</option>
                            <option>Megha-Other</option>
                            <option>Miz.-Aizwal</option>
                            <option>Miz.-Other</option>
                            <option>Nagaland-Dimapur</option>
                            <option>Nagaland-Other</option>
                            <option>Orissa-Bhubaneshwar</option>
                            <option>Orissa-Cuttak</option>
                            <option>Orissa-Paradeep</option>
                            <option>Orissa-Puri</option>
                            <option>Orissa-Rourkela</option>
                            <option>Orissa-Other</option>
                            <option>Pondicherry</option>
                            <option>Punjab-Amritsar</option>
                            <option>Punjab-Jalandhar</option>
                            <option>Punjab-Ludhiana</option>
                            <option>Punjab-Mohali</option>
                            <option>Punjab-Pathankot</option>
                            <option>Punjab-Patiala</option>
                            <option>Punjab-Other</option>
                            <option>Raj-Ajmer</option>
                            <option>Raj-Jaipur</option>
                            <option>Raj-Jaisalmer</option>
                            <option>Raj-Jodhpur</option>
                            <option>Raj-Kota</option>
                            <option>Raj-Udaipur</option>
                            <option>Raj-Other</option>
                            <option>Sikkim-Gangtok</option>
                            <option>Sikkim-Other</option>
                            <option>TN-Coimbatore</option>
                            <option>TN-Erode</option>
                            <option>TN-Hosur</option>
                            <option>TN-Madurai</option>
                            <option>TN-Ooty</option>
                            <option>TN-Salem</option>
                            <option>TN-Tirunelveli</option>
                            <option>TN-Trichy</option>
                            <option>TN-Vellore</option>
                            <option>TN-Other</option>
                            <option>Tripura-Agartala</option>
                            <option>Tripura-Other</option>
                            <option>UP-Agra</option>
                            <option>UP-Aligarh</option>
                            <option>UP-Allahabad</option>
                            <option>UP-Bareilly</option>
                            <option>UP-Faizabad</option>
                            <option>UP-Ghaziabad</option>
                            <option>UP-Gorakhpur</option>
                            <option>UP-Kanpur</option>
                            <option>UP-Lucknow</option>
                            <option>UP-Mathura</option>
                            <option>UP-Meerut</option>
                            <option>UP-Noida</option>
                            <option>Greater Noida</option>
                            <option>UP-Varanasi</option>
                            <option>UP-Other</option>
                            <option>Dehradun</option>
                            <option>Uttaranchal-Other</option>
                            <option>WB-Durgapur</option>
                            <option>WB-Kharagpur</option>
                            <option>WB-Other</option>
                            <option class=boldclass >Other</option>
                            <option>International</option>
                          </select>
                          </span></td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">&nbsp;</td>
                        <td colspan="4" align="center" valign="middle" class="mediumblack">                          <input name="Submit" class="mediumblack" id="Submit " value="Submit" type="submit">                        </td>
                      </tr>
                      <tr>
                        <td class="mediumblack" align="center" valign="middle">&nbsp;</td>
                        <td colspan="4" valign="middle" class="smallgrey">Note : Fields marked * are mandatory </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <br>              
                <table width="99%" border="0" cellspacing="2" cellpadding="2" align="center">
                   <tr>
                    <td class="mediumblack"><div align="center">Copyright &copy; 2004, JeevanSathi Internet Services. </div></td>
                  </tr>
                </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </table>
</center>
</body>
</html>
