<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base href='~$SITE_URL`/profile/'>
<title>Complete your profile</title>
</head>
<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #e3e3e3;">
  <tr>
    <td colspan="2" align="left" valign="top" background="~$SITE_URL`/profile/images/top_rept.jpg"><img src="~$SITE_URL`/profile/images/logo_an.gif" width="235" height="89" align="left" hspace="0" vspace="0" /></td>
  </tr>
  <tr>
    <td align="left" valign="top"><img src="~$SITE_URL`/profile/images/img1_an.gif" width="285" height="188" align="left" hspace="0" vspace="0" /></td>
    <td align="left" valign="top"><img src="~$SITE_URL`/profile/images/img2_an.gif" width="315" height="188" align="left" hspace="0" vspace="0" /></td>
  </tr>
  <tr>
    <td height="15" colspan="2" align="left" valign="top"></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" style="padding:0px 18px 22px 22px;"><div style="font-family:Verdana, Arial; font-size:11px; color:#000000; line-height:17px;"><strong>Dear ~$username`,</strong><br />
              <br />
              ~$bl_msg`
              <br />
    <strong>Many prospective matches are unable to view your profile, as your details are not complete.</strong><br />
    <br />
To make your profile visible to them, please provide a 100 words description about yourself. Once you have filled in your details, you will be able to contact other matches and they will be able to see your details.
</div></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" style="padding:0px 0px 22px 22px;">
    <table width="550" border="0" align="left" cellpadding="0" cellspacing="0" style="border:solid 1px #fff5dd;">
      <tr>
        <td background="~$SITE_URL`/profile/images/login_bg.jpg" bgcolor="#FFFBF0" style="padding:10px 0px 10px 15px;"><table width="480" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3"><div style="font-family:Verdana, Arial; font-size:11px; color:#484848;"><strong>Your login information</strong></div></td>
            </tr>
          <tr>
            <td height="10" colspan="3"></td>
            </tr>
          <tr>
            <td width="111"><div style="font-family:Verdana, Arial; font-size:11px; color:#484848;">Username</div></td>
            <td width="33"><div style="font-family:Verdana, Arial; font-size:11px; color:#484848;">:</div></td>
            <td width="336"><div style="font-family:Verdana, Arial; font-size:11px; color:#000000;">~$username`</div></td>
          </tr>
          <tr>
            <td height="10" colspan="3"></td>
          </tr>
          <tr>
            <td><div style="font-family:Verdana, Arial; font-size:11px; color:#484848;">Email id</div></td>
            <td><div style="font-family:Verdana, Arial; font-size:11px; color:#484848;">:</div></td>
            <td><div style="font-family:Verdana, Arial; font-size:11px; color:#000000;">~$email`</div></td>
          </tr>

        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" style="padding:0px 0px 35px 22px;"><table width="480" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="162" height="51" align="center" valign="middle" background="~$SITE_URL`/profile/images/button_bg_an.gif" bgcolor="#84AD05"><div style="font-family:Arial, Helvetica; font-size:19px; color:#ffffff;"><b><a href="~$SITE_URL`/profile/viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$myprofilechecksum`&EditWhatNew=incompletProfile&echecksum=~$echecksum`&CAME_FROM_CONTACT_MAIL=1" style="color:#ffffff; text-decoration:none; display:block;">Log on now</a></b></div></td>
        <td style="padding:0px 0px 0px 15px;"><div style="font-family:Verdana, Arial; font-size:17px; color:#666666;"><strong><i>to complete your profile</i></strong></div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" style="padding:0px 0px 5px 30px;"><div style="font-family:Verdana, Arial; font-size:12px; color:#565656;"><b>In case of a query :</b></div></td>
  </tr>
  <tr>
    <td height="80" colspan="2" align="left" valign="top" background="~$SITE_URL`/profile/images/footer_bg.gif" style="padding:8px 0px 0px 37px;"><div style="font-family:Verdana, Arial; font-size:11px; color:#3d3d3d; line-height:21px;">Please reach us at : B-8, Sector - 132, Noida - 201301<br />
Phone no : 0120 - 4393500, 0120 - 6000629<br />
E-mail id : <a href="mailto:feedback@jeevansathi.com" style="color:#0478e5; text-decoration:underline;"><strong>feedback@jeevansathi.com</strong></a></div></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" style="padding:22px 0px 22px 22px;"><div style="font-family:Verdana, Arial; font-size:12px; color:#000000; line-height:22px;">Wish you good luck in your search for Jeevansathi.<br />
  <br />
  <b>Regards,<br />
  <font color="#c4151c">Jeevansathi</font>.com Team</b> </div></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" 
cellspacing="0">

  <tr>

    <td style="padding:15px 0px 0px 0px; font-family:Verdana, Arial; 
font-size:10px; color:999999;"><div align="center" 
style="font-size:10px; color:999999; font-family:Verdana, Arial;">You
are receiving this mail as a registered member of Jeevansathi.com. In
case you do not wish to receive mails from Jeevansathi.com in the
future, you can <a 
href="~$SITE_URL`/profile/unsubscribe.php">unsubscribe</a></div></td>

  </tr>

</table>

</body>
</html>
