<html>
<head>
 <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>

~if $flag eq '1'`
<form method=post action="invoice_mis.php">
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="formhead" width="100%"><td align="center" colspan=14><a href="~$SITE_URL`/jsadmin/mainpage.php?cid=~$cid`">MAIN PAGE</a></td></tr>
	<tr class="formhead">
        <td colspan=100% align="center">INVOICE TRACK MIS</td>
	</tr>
	<tr class="formhead">
	<td colspan=100% align="center">&nbsp;~if $day` Day - ~/if`Month - Year : ~if $day`~$day`-~/if`~$month`-~$year`  to  ~if $eday` Day - ~/if`Month - Year : ~if $eday`~$eday`-~/if`~$emonth`-~$eyear`</td>
	</tr>
	</table>
	<br>
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="label">
	<td width=10% align="center" class=green>&nbsp;Sno.</td>
	<td width=10% align="center" class=green>&nbsp;MAILID</td>
	<td width=50% align="center" class=green>&nbsp;SENT TO</td>
	<td width=10% align="center" class=green>&nbsp;SENT BY</td>
	<td width=10% align="center" class=green>&nbsp;TIME</td>
	 <td width=5% align="center" class=green>&nbsp;CHECK</td>
	<td width=5% align="center" class=green>&nbsp;DOWNLOAD</td>
	</tr>
	 ~section name=i loop=$res_arr`
	<tr class="fieldsnew">
		<td width=10% align="center">&nbsp;~$res_arr[i].sno`</td>
		<td width=10% align="center">&nbsp;~$res_arr[i].MAILID`</td>
		<td width=50% align="center">&nbsp;~$res_arr[i].SENT_TO`</td>
		<td width=10% align="center">&nbsp;~$res_arr[i].SENT_BY`</td>
		<td width=10% align="center">&nbsp;~$res_arr[i].TIME`</td>
		<td  width="5%"><input type=checkbox name="cb~$res_arr[i].MAILID`" value='~$res_arr[i].MAILID`'></td>
		<td width=5% align="center">&nbsp;<a href="invoice_mis.php?cid=~$cid`&id=~$res_arr[i].MAILID`&download=Y">download</a></td>
	</tr>
	~/section`
	<tr align="center">
<input type="hidden" name="cid" value=~$cid`>
<td  height="21" colspan=4><br><input type=submit value="mail" name="mail"></td>
	</table>
	</form>

~else`
	<form method=post action="invoice_mis.php">
	<table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td >FROM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="day">
                <option value="">--Select--</option>
        ~section name=dd loop=$ddarr`
                <option value=~$ddarr[dd]`>~$ddarr[dd]`</option>
        ~/section`
        </select> - 
	<select name="month">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> - 
	<select name="year">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
	</td>
	</tr>

	<tr>
        <td >TO
        <select name="eday">
                <option value="">--Select--</option>
        ~section name=dd loop=$ddarr`
                <option value=~$ddarr[dd]`>~$ddarr[dd]`</option>
        ~/section`
        </select> -
        <select name="emonth">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> -
        <select name="eyear">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
        </td>
        </tr>


	<tr>
	<input type="hidden" name="cid" value=~$cid`>
	<td ><input type="submit" name="CMDGo" value="     Go     "></td>
	</tr>
	</table>
	</form>
~/if`
</body>
</html>
