<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Search for profiles successfully done.</title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../jeevansathi/profile/images/styles.css" type="text/css">
</head>
<body leftmargin="5" topmargin="5">
~$HEAD`
<form name=f1 action="mainpage.php" method=post>
<input type=hidden name=cid value=~$CID`>
<table border=0 width=100%>
<br><br>
<tr>
<td class="extrabigblack" align="center">~$NUM_ROWS` record(s) successfully inserted.</td>
</tr>
<tr>
<td class="bigblack" align=center> Click here to go back.</td>
</tr>
<tr>
<td colspan=2 align=center><input type=submit value=submit></td>
</tr>
</table>
</form>
<br>
~$FOOT`
</body>
</html>

