<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/IN/styles.php" type="text/css">
<title>Mailer Id accepted</title>
</head>

<body>
<table width="485" cellpadding="0" cellspacing="0" style="border:1px solid #999999">
  <tr>
    <td style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#000000; padding:5px; border-bottom:1px dashed #999999"><div align="right"><img src="http://www.jeevansathi.com/marriage_bureau/images/logo_js.gif" width="222" height="35"></div>
      <br></td>
  </tr>
  <tr bgcolor="#ffe8c5">
    <td style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#000000; padding:5px; border-bottom:1px dashed #999999"><span>Congratulations! You have successfully changed your User ID.</span></td>
  </tr>
  <tr>
    <td style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:5px; line-height:18px;"><p>Your new USER NAME is <b>~$newusername`</b>
      <div style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">Your old user name will no longer be valid.<br></div>
      To access Jeevansathi, use your new User Name.<br>
      <br>
NEW USERNAME: <b>~$newusername`</b><br>
Email ID:<b>~$emailid`</b>
<p></p></td>
  </tr>
  <tr>
    <td style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:5px; border-bottom:1px dashed #999999; line-height:18px;">~$THINGSTODO` </td>
  </tr>
  <tr>
    <td style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:5px;"><p>To logon to My Jeevansathi, <a href="http://www.jeevansathi.com/profile/mainmenu.php">click here </a>    
      <p><b>Jeevansathi.com Team</b>
      </td>
  </tr>
  
</table>
</body>
</html>
