<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Please enter keywords to be searched</title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
~$HEAD`
<br><br>
<body leftmargin="5" topmargin="5">
<form name=f1 action="mailid_search.php" method=post>
<input type=hidden name=cid value=~$CID`>
<table width="760" align="center" border=0>
<tr>
<td class="label">Enter comma(,) separated list of keywords to search :</td>
<td class="textboxes1"><input type=text size=50 name="mail_list"></td>
</tr>
<tr>
<td colspan=2 align=center><input type=submit value=submit></td>
</tr>
</table>
</form>
<br>
~$BODY`
<br>
~$FOOT`
</body>
</html>

