<html>
<head>

<title>Main Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../../mis/jeevansathi.css" type="text/css">

<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>


<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../../profile/images/logo_1.gif" width="209" hei
ght="63"  border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>


<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
<tr class="formhead">
	<td align="center">Main Page </td>
</tr>
</table><br>
<table width=100% >
<tr align="right">
	<td align="right" class="fieldsnew"><a href="mainpage.php?cid=~$cid`">Go To Main Page</a></td>
</tr>
</table>
<br>


<table width=100% border=0 align="center" cellspacing=4 cellpadding=5>
<tr class="label">
	<td align="center"><a href="addAds.php?fl=A&cid=~$cid`">Add Listings to Landing Page</a></td>
</tr>
<tr class="label">
	<td align="center"><a href="newAds.php?fl=A&cid=~$cid`">View Approved Advertisers</a></td>
</tr>
<tr class="label">
	<td align="center"><a href="newAds.php?fl=N&cid=~$cid`">View All New Advertisers</a></td>
</tr>
<tr class="label">
	<td align="center"><a href="category_enquiry.php?cid=~$cid`">View All Enquiries</a></td>
</tr>
<tr class="label">
	<td align="center"><a href="add_wedding_category.php?cid=~$cid`">Add Category</a></td>
</tr>
<tr class="label">
        <td align="center"><a href="contactus_wedding_directory.php?cid=~$cid`">View all Feedbacks</a></td>
</tr>

</table>



</body>
</html>
