<html>
<head>

<title>Manage Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../../mis/jeevansathi.css" type="text/css">

<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>


<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../../profile/images/logo_1.gif" width="209" hei
ght="63"  border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>


<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
<tr class="formhead">
	<td align="center"  width=80%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage Homepage</td>
	<td align="right"><a href="mainpage.php?cid=~$cid`">Main Page</a></td>
</tr>
</table>
<br>


<table width=100% border=0 align="center" cellspacing=4 cellpadding=5>
<tr class="label">
	<td align="center"><a href="add_homepage_user.php?cid=~$cid`">Add Users to Homepage</a></td>
</tr>
<tr class="label">
	<td align="center"><a href="display_homepage_user.php?cid=~$cid`">View/Remove users from Home Page</a></td>
</tr>
<tr class="label">
	<td align="center"><a href="delete_homepage_user.php?cid=~$cid`">Delete users with preset criteria</a></td>
</tr>
</table>



</body>
</html>
