<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Add/Remove Spammers : Jeevansathi.com Matrimonial Services</title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="~$SITE_URL`/profile/images/styles.css" type="text/css">
<script language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features)
{
        window.open(theURL,winName,features);
}
function loadForm()
{
        document.form1.submit();
}
function checkboxes() 
{  
	var i=0;
        var check=0;
	for(i=0;i<document.spammer.elements.length;i++)
        {
                if((document.spammer.elements[i].type=="checkbox") && (document.spammer.elements[i].checked))
                {
                        if(document.spammer.elements[i].checked==true)
                        {
                                check++;
                        }
                }
        }
        if(check <= 0)
        {
        	alert("No UserName Selected!");
		return false;
	}
	else
	{
		return true;
	}
}
-->
</script>
</head>
~include file="head.htm"`
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form action="mark_unmark_spammers.php" method="post">
<input type="hidden" name=cid value="~$cid`">
<input type="hidden" name=user value="~$user`">
<input type="hidden" name=grp_no value="~$grp_no`">
<table width=760 cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr class="formhead">          
          <td width="50%" class="formhead" align="center"><a href="~$SITE_URL`/jsadmin/mainpage.php?cid=~$cid`">Main Page</a></td>
          <td width=50% class="formhead" border=1 align='CENTER'><a href="~$SITE_URL`/jsadmin/logout.php?cid=~$cid`">Logout</a></td>
    </tr>
</table>
<br><br>
<table width="60%" border="0" cellspacing="1" cellpadding="4" align="center">
          <tr>
            <td class="formhead" valign="middle" colspan="2">&#155; Search</td>
          </tr>
          <tr>
            <td width="40%" class="formhead" bgcolor="#F9F9F9">Enter Usernames<br> (using ',' as separator between two names)</td>

            <td width="60%" bgcolor="#F9F9F9">
              <textarea name="userlist" class=textboxes1 rows="4" cols="68" >~$USER_LIST`</textarea> 
            </td>
          </tr>
          <tr valign="middle" align="center">
	  	<td class="fieldsnew" colspan="2"><input type="submit" name="Go" value="Search" class="textboxes1"></td>
	  </tr>
	</table>
<br>	
~if $SEARCH eq "YES"`
<form action="mark_unmark_spammers.php" method="post" name="spammer">
 <table width="60%" align="CENTER" border="0">
 	<input type="hidden" name=cid value="~$cid`">
	<tr>   	
      		<td class="formhead" bgcolor="#F9F9F9" width="30%">&nbsp;&nbsp;JUNK ENTRIES</td>
		<td class="formhead" bgcolor="#F9F9F9">&nbsp;&nbsp;
		~foreach from=$JUNKLIST item=k`
                 	~$k`                                
                ~/foreach`
		</td>
   	</tr>
	<tr></tr><tr></tr><tr></tr><tr></tr>
	~if $not_required neq "yes"`
	<tr><td class="formhead" colspan="2" align="center">&nbsp;&nbsp;****** Earlier-Spammers(YELLOW)/Spammers(RED)/Non-Spammers(CYAN) ******</td></tr>
	~/if`
	~if $flag neq "checkall"`
                <tr><td class="formhead" colspan="2" align="center">&nbsp;&nbsp;~$flag`</td></tr>
	~else`
	~if $not_required neq "yes"`
	<tr>
        	<td colspan="2" class="formhead" bgcolor="#F9F9F9">
			Select<input type="checkbox" name="check_uncheck11" onclick="javascript:check_uncheck1(this.checked)">&nbsp;All&nbsp;&nbsp;<input type="checkbox" name="check_uncheck121" onclick="javascript:check_uncheck21(this.checked)">&nbsp;Earlier-Spammers<input type="checkbox" name="check_uncheck122" onclick="javascript:check_uncheck22(this.checked)">&nbsp;Spammers&nbsp;&nbsp;<input type="checkbox" name="check_uncheck13" onclick="javascript:check_uncheck3(this.checked)">&nbsp;&nbsp;Non-Spammers
		</td>
        </tr>
	~/if`
	~/if`
	<script>
	function check_uncheck1(t)
	{
		inputs = document.getElementsByTagName('input');
		if(t)
		{
			for(i = 0; i < inputs.length; i++) {
		
				if(inputs[i].type=='checkbox') {
					inputs[i].checked=true;
				}
			}
		}
		else
		{
			for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=false;
                                }
                        }
		}
	}
 	function check_uncheck21(t)
        {
                inputs = document.getElementsByName('cspamlist1[]');
                if(t)
                {
                        for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=true;
                                }
                        }
                }
                else
                {
                        for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=false;
                                }
                        }
                }
        }
	function check_uncheck22(t)
        {
                inputs = document.getElementsByName('cspamlist2[]');
                if(t)
                {
                        for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=true;
                                }
                        }
                }
                else
                {
                        for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=false;
                                }
                        }
                }
        }
	function check_uncheck3(t)
        {
                inputs = document.getElementsByName('cnonspamlist[]');
                if(t)
                {
                        for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=true;
                                }
                        }
                }
                else
                {
                        for(i = 0; i < inputs.length; i++) {
                
                                if(inputs[i].type=='checkbox') {
                                        inputs[i].checked=false;
                                }
                        }
                }
        }
	</script>
	<tr>    
       		~section name=tr1 loop=$SPAMIDLIST`
                <tr>
		~if $COLOR[tr1] eq 'yellow'`	
			<td colspan=2 bgcolor="yellow"><input type="checkbox" name="cspamlist1[]" value="~$SPAMIDLIST[tr1]`">
                        &nbsp;&nbsp;~$SPAMLIST[tr1]`</td>
		~else`
			<td colspan=2 bgcolor="red"><input type="checkbox" name="cspamlist2[]" value="~$SPAMIDLIST[tr1]`">
                        &nbsp;&nbsp;~$SPAMLIST[tr1]`</td>
		~/if`
		</tr>
                ~/section`               
	</tr>
	<tr>
                ~section name=tr1 loop=$NONSPAMIDLIST`
		<tr>	
			<td  colspan=2 bgcolor=cyan><input type="checkbox" name="cnonspamlist[]" value="~$NONSPAMIDLIST[tr1]`">&nbsp;&nbsp;~$NONSPAMLIST[tr1]`</td>
		</tr>                
                ~/section`                
        </tr>
	~if $not_required neq "yes"`
   	<tr>   
      		<td align="center" colspan="2" class="fieldsnew">
  			<input type="submit" name="add" value="Add Spammer" onclick="return checkboxes();">
			<input type="submit" name="remove" value="Remove Spammer" onclick="return checkboxes();">	
      		</td>
   	</tr>
	~/if`
</table>                                            
</form>              
~/if`
~if $SEARCH eq "BLANK"`
<table width=50% cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr width=100%>
          <td width=55% align="center" border=1><font><b>~$message`</b></font></td>
    </tr>
</table>
~/if`
</form> 
</body>
</html>
