~if $MSG`
	<table width="90%" bgcolor="yellow" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr align="center">
			<td>
				<font color="black" face="Verdana" size="4">
					~$MSG`
				</font>
			</td>
		</tr>
		~if $SHOW_CLOSE_BUTTON`
			<tr align="center" class="fieldsnew">
				<td>
					<input type="button" value="Close" class="buttons1" onClick="window.close();return false;">
				</td>
			</tr>
		~/if`
	</table>
	~if $scriptname`
		<table width="90%" align="center">
			<tr align="center">
				<td style="font-family: Verdana; font-size: 11px; font-weight: normal; color: #000000; text-decoration: none; background-color: #F9F9F9">
					<a href="~$scriptname`?checksum=~$checksum`&~$extra_params`">Click here to continue</a>
				</td>
			</tr>
		</table>
	~/if`
	<br>
~/if`
