<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Change PROFILE Username</title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="~$SITE_URL`/profile/images/styles.css" type="text/css">

<script language="Javascript">
function removeother(num)
{
	markeda = document.f1.markeda;//approved
	markedd = document.f1.markedd;
	if(num=='d'){
	//coming from accepted case
	if(document.f1.checkalld.checked)document.f1.checkalld.checked=false;
	if(!markedd[0])markedd.checked=false;
	for (i=0; i<markeda.length; i++)
		if(markeda[i].checked)
			markedd[i].checked=false;
	}else if(num=='a'){
	//coming from declined case
	if(document.f1.checkalla.checked)document.f1.checkalla.checked=false;
	if(!markedd[0])markeda.checked=false;
        for (i=0; i<markedd.length; i++)
                if(markedd[i].checked)
                        markeda[i].checked=false;
	}
}
function checkall(num)
{
	if(document.f1.checkalla.checked&&num=='a')
	{
		document.f1.checkalld.checked=false;
		markeda = document.f1.markeda;
		if(!markeda[0])markeda.checked=true;
		for (i=0; i<markeda.length; i++)
                        markeda[i].checked=true;
		removeother('d');
	}
	else if(!document.f1.checkalla.checked&&num=='a')
		removeother('a');
	else if(document.f1.checkalld.checked&&num=='d')
	{
		document.f1.checkalla.checked=false;
		markedd = document.f1.markedd;
		if(!markedd[0])markedd.checked=true;
                for (i=0; i<markedd.length; i++)
                        markedd[i].checked=true;
		removeother('a');
	}
	else if(!document.f1.checkalld.checked&&num=='d')
                removeother('d');
}
function create_list()
{
	var done = confirm("Do you surely want to send records to log file ?");
	if (done == true)
	{
		f_1=false;
		f_2=false;
		markeda = document.f1.markeda;//approved
		markedd = document.f1.markedd;//disapproved
		IdLista = document.f1.IdLista;
		IdListd = document.f1.IdListd;
		a_username=document.f1.a_username;
		IdLista_name = document.f1.IdLista_name;
		IdLista.value = "";	
		IdListd.value = "";
		IdLista_name.value = "";
		if(!markedd[0]&&markedd.checked)
				IdListd.value  = markedd.value ;
		if(!markeda[0]&&markeda.checked){
				IdLista.value  = markeda.value;
				IdLista_name.value = a_username.value;
		}
		for (i=0; i<markeda.length; i++)
			if(markeda[i].checked)
			{
				if(f_2){IdLista.value  += "|oo|"+markeda[i].value;		
				IdLista_name.value+="|oo|" + a_username[i].value;}
				else
				{
					IdLista.value = markeda[i].value;
					IdLista_name.value+=a_username[i].value;
					f_2=true;
				}
			}
		for (i=0; i<markedd.length; i++)
                        if(markedd[i].checked)
			{
				if(f_1)
	                                IdListd.value  += "|oo|"+markedd[i].value ;
				else
				{
					IdListd.value = markedd[i].value ;
					f_1=true;
				}
			}
		return true;
		//document.f1.submit();
	}
	else 
		return false;
}
</script>
</head>
<body>
~$HEAD`
<br>
<table width=760 cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr class="formhead">
          <td width=55% class="formhead" border=1><font><b>Welcome : </b></font></td>
          <td width="35%" class="formhead" align="center"><a href="mainpage.php?name=&cid=~$CID`">Main Page</a></td>
          <td width=10% class="formhead" border=1 align='CENTER'><a href="logout.php?cid=~$CID`">Logout</a></td>
    </tr>
</table><br>
<table width=760 align="CENTER" >
    <tr align="CENTER">
      <td  class="formhead" colspan="2">
      <font color="blue">Page ~$CURRENTPAGE` of ~$NO_OF_PAGES`</font>
    </td></tr>
</table>
<br>
<table width=760 cellspacing="1" cellpadding='3' ALIGN="CENTER" border="0">
~if $arethere neq 0`
<form name=f1 action="newusername.php" method=post>
<input type=hidden name="IdLista">
<input type=hidden name="IdListd">
<input type=hidden name="IdLista_name">
<input type=hidden name=cid value=~$CID`>
<tr class="formhead">
<td width=20% align="center">S.No</td>
<td width=20% align="center">Old Username</td>
<td width=20% align="center">Username</td>
<td width=20% align="center">Mark as Approved<input type=checkbox name=checkalla onchange="checkall('a');"></td>
<td width=20% align="center">Mark as Disapproved<input type=checkbox name=checkalld onchange="checkall('d');"></td>
</tr>
~section name=i loop=$ROWS`
<tr >
<td class="label" border=1 align="center">~$ROWS[i].sno`</td>
<td class="label" border=1 align="center"><a href="~$SITE_URL`/operations.php/commoninterface/ShowProfileStats?cid=~$CID`&profileid=~$ROWS[i].PROFILEID`" target="_blank">~$ROWS[i].OLD_USERNAME`</a></td>
<td class="label" border=1 align="center"><a href="~$SITE_URL`/operations.php/commoninterface/ShowProfileStats?cid=~$CID`&profileid=~$ROWS[i].PROFILEID`" target="_blank">~$ROWS[i].USERNAME`</a></td>
<td class="label" border=1 align="center"><input type=checkbox name=markeda onchange="removeother('d');" value='~$ROWS[i].PROFILEID`'></td>
<input type="hidden" name="a_username" value='~$ROWS[i].USERNAME`'>
<td class="label" border=1 align="center"><input type=checkbox name=markedd  onchange="removeother('a');" value='~$ROWS[i].PROFILEID`'></td>
</tr>
~/section`
<tr></tr>
<tr>
<td colspan=3 align=center>&nbsp;</td>
<td align=center><input name="Submit" type="Submit" value="Submit" OnClick="return create_list();"></td>
</tr>
</form>
~else`
        <tr><td width=25% align="center">No Username to be updated</td></tr>
~/if`
<tr>
<td> 
</td>
</tr>
   <tr bgcolor="white">
    <td class="fieldsnew" colspan="4" height="20" align="center">
    ~$PAGELINK`
    </td>
   </tr>

</table>
<br>
~$BODY`
<br>
~$FOOT`
</body>
</html>
