<html>
        <head>
 	
	<script type="text/javascript">
	function validate()
	{	
		var dml=document.forms['form1'];
		//alert(dml.submit.value);
		if(dml.submit.value=='Remove From Pool')
		{		  				
	       		var len = dml.elements.length;
       		 //	alert(len);
	
			var i=0;
			var count=0;
			var totalcount=0;
	  		for( i=0 ; i<len ; i++)
	  		{
		   	 	if (dml.elements[i].name=='check1[]')
	           	 	{
                		 	totalcount++; 
			 		if(dml.elements[i].checked)
		         	 	{
			   		  count++;
		         	 	}
                   		 }
	       		 }
			//alert(count);
			//alert(totalcount);
    			if(totalcount-count<4)
      			{
		 		alert("Please 'De-Select' Some Entries from Pool. Pool should have minimum 4 entries.");
				return false;
       			}
		}
     	     return true;
	}

	</script>
        	
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 

		~include file="head.htm"`
	<br>
	<table>
	<tr>
		<td width="25%" class="formhead" height="23"><font><b>Welcome :~$name`</b></font></td>
		<td><a href="mainpage.php?cid=~$cid`">JSADMIN Mainpage</a></td>
		<td><a href="pool_success.php?kk6=yes&cid=~$cid`">Success Pool Mainpage</a></td>
		<td><a href="pool_success.php?kk5=yes&cid=~$cid`">Final Pool Page</a></td>
                <td width="6%" class="formhead" align='RIGHT' height="23"><a href="logout.php?cid=~$cid`">Logout</a></td>
	</tr>
	</table>
	</br>	
		<title>Success Story Selection Page</title>

                <link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
                <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
	</head>

<!--<body bgcolor='#ADDFFF'>-->
<form name=form1 method="post" action="pool_success.php?cid=~$cid`"  onsubmit="return validate()">

~if $show_form eq 0`
<p align="center"><b>Welcome to Success Story Pool Selection Page<i> Kindly Enter Month & Year Range Below and Press Submit</b></i></p>
</br>
<table width= "714" align="center" bgcolor="" border="0" style="width:614px; height:126px">
<tr>
<td><b>Select Your Date Range</b></td>
<td>

<select name="month1">
		<option value='01'>Jan</option>
		<option value='02'>Feb</option>
		<option value='03'>Mar</option>
		<option value='04'>Apr</option>
		<option value='05'>May</option>
		<option value='06'>Jun</option>
		<option value='07'>Jul</option>
		<option value='08'>Aug</option>
		<option value='09'>Sep</option>
		<option value='10'>Oct</option>
		<option value='11'>Nov</option>
		<option value='12'>Dec</option>
</select>

<select name="year1">
~assign var=thisYear value=$smarty.now|date_format:"%Y"`
	~section name=years start=2003 loop=$thisYear+1 step=1`
     <option value="~$smarty.section.years.index`">~$smarty.section.years.index`</option>
    ~/section`
</select>

<b><i>To</i></b>

<select name="month2">
		<option value='01'>Jan</option>
		<option value='02'>Feb</option>
		<option value='03'>Mar</option>
		<option value='04'>Apr</option>
		<option value='05'>May</option>
		<option value='06'>Jun</option>
		<option value='07'>Jul</option>
		<option value='08'>Aug</option>
		<option value='09'>Sep</option>
		<option value='10'>Oct</option>
		<option value='11'>Nov</option>
		<option value='12'>Dec</option>
</select>
<select name="year2">
~assign var=thisYear value=$smarty.now|date_format:"%Y"`
	~section name=years start=2003 loop=$thisYear+1 step=1`
     <option value="~$smarty.section.years.index`">~$smarty.section.years.index`</option>
    ~/section`
</select>
</td>
</tr>
<input type="hidden" value="yes" name="kk">
<!--<input type="submit" value="submit" name="submit"> -->
</table>
</br>
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Click Here" name="submit">
~/if`


~if $show_form eq 1 && $page eq 1`
<p align="center"><tr>Below is Success Stories ! Please Select Check Boxes & Press Button 'Add to Pool' to add any success story for home page.</tr></p>

<H4 align="center"><b><i>Important...Please Select only those entries which have photo</i></b></H4>
<table allign="center">
	~section name=mysec loop=$id`
	<tr>
		<td><br>
		~$id[mysec]`
		</br></td>
		<td><hr>
		<img src="~$photo[mysec]`" height=64 width=53 >
		</hr></td>
		<td><br>
		~$husb[mysec]`
		</br></td>
		<td><br>
		~$wife[mysec]`
		</br></td>
		<td>
		~$comments[mysec]`
		</td>
		<td>
		<input type="checkbox" name="check1[]" value="~$id[mysec]`">
		</td>
	</tr>
	~/section`
</table>
<input type="hidden" value="yes" name="kk1">
<input type="submit" value="Add to Pool" name="submit">
~/if`

~if $show_form eq 1 && $page eq 2`
<p align="center" ><b><i><tr> Congratulations. ! You have Selected below mentioned Records.Please Press Submit Button to Proceed & to see the ENTIRE POOL.</tr></i></b></p>
<table allign="centre">
	~section name=mysec loop=$id`
	<tr>
		<td><br>
		~$id[mysec]`
		</br></td>
		<td><hr>
		<img src="~$photo[mysec]`" height=64 width=53 >
		</hr></td>
 	        <td><br>
                ~$husb[mysec]`
                </br></td>
                <td><br>
                ~$wife[mysec]`
                </br></td>
		<td>
		~$comments[mysec]`
		</td>
		<!--<td>
		<input type="checkbox" name="check[]" value="~$id[mysec]`">
		</td>-->
	</tr>
	~/section`
</table>
<input type="hidden" value="yes" name="kk2">
<input type="submit" value="Click here to Proceed" name="submit">
~/if`


~if $show_form eq 1 && $page eq 3`
<p align='center' ><b><i><tr>Pool Page ! If You want to  'Delete More' the Entries,Please Select the Check Boxes & Press 'Remove From Pool' Button else Leave the Page without Any Action</tr></i></b></p>
<table allign="centre">
	~section name=mysec loop=$id`
	<tr>
		<td><br>
		~$id[mysec]`
		</br></td>
		<td><hr>
		<img src="~$photo[mysec]`" height=64 width=53 >
		</hr></td>
	        <td><br>
                ~$husb[mysec]`
                </br></td>
                <td><br>
                ~$wife[mysec]`
                </br></td>
		<td>
		~$comments[mysec]`
		</td>
		<td>
		<input type="checkbox" name="check1[]" value="~$id[mysec]`">
		</td>
	</tr>
	~/section`
</table>
<input type="hidden" value="yes" name="kk3">
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Remove From Pool" name="submit">
~/if`

~if $show_form eq 1 && $page eq 4`
<p align='center' ><b><i><tr>Pool Page ! If You want to  'Delete More' the Entries,Please Select the Check Boxes & Press 'Remove From Pool' Button else Leave the Page without Any Action.</tr></i></b></p>
<table allign="centre">
        ~section name=mysec loop=$id`
        <tr>
                <td><br>
                ~$id[mysec]`
                </br></td>
                <td><hr>
                <img src="~$photo[mysec]`" height=64 width=53 >
                </hr></td>
		<td><br>
                ~$husb[mysec]`
                </br></td>
                <td><br>
                ~$wife[mysec]`
                </br></td>
                <td>
                ~$comments[mysec]`
                </td>
                <td>
                <input type="checkbox" name="check1[]" value="~$id[mysec]`">
                </td>
        </tr>
        ~/section`
</table>
<input type="hidden" value="yes" name="kk3">
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Remove From Pool" name="submit">
~/if`



<!--~if $show_form eq 1 && $page eq 4`
<p align="center" ><b><i>Pool Page After Deletion ,Thank you for Using this Software ! </i></b></p>
<table allign="centre"> 
	~section name=mysec loop=$id`
	<tr>
		<td><br>
		~$id[mysec]`
		</br></td>
		<td><hr>
		<img src="photo_mail_serve.php?sid=~$id[mysec]`&get_home_photo_from_pool_upload=y" height=64 width=53 >
		</hr></td>
		<td>
		~$comments[mysec]`
		</td>
		<td>
		<input type="checkbox" name="check[]" value="~$id[mysec]`">
		</td>
	</tr>
	~/section`
</table>
<input type="hidden" value="yes" name="kk4">
~/if`-->

</form>
</body>
</html>

