<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Jeevansathi.com</title>
<link rel="stylesheet" href="~$SITE_URL`/jsadmin/main.css" type="text/css">
</head>
<body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0" onLoad="javascript : window.print();">
<table width="630" border="0" align="center" cellpadding="0" cellspacing="0" style="border:0px solid #f09329">
<tr>
<td width="374"><img src="~$PHOTO_URL`/profile/images/js-logo2.jpg" width="226" height="41" hspace="15" vspace="5"></td>
  </tr>
  <tr>
   <td bgcolor="#bc001d" colspan="2" height="2"></td>
  </tr>
  <tr align="right">
    <td colspan="2" valign="top" height="5"></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top"><table width="628" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10">&nbsp;</td>
        <td width="155">
		             ~if $PHOTOFILE eq "http://ser2.jeevansathi.com/profile/images/no_photo.gif"`
                                                ~if $GENDER eq "M"`
                                                        ~if !$crmback`<a href="" onclick="MM_openBrWindow('~$SITE_URL`/profile/photorequest.php?checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filtered=~$FILTERED`&samegender=~$SAMEGENDER`','','width=370,height=330'); return false;">~/if`<img src="http://ser4.jeevansathi.com/P/images/Request-a-photo-male.gif" width="150" height="200" GALLERYIMG="NO" border="0" oncontextmenu="return false;"></a>
                                                ~else`
                                                        ~if !$crmback`<a href="" onclick="MM_openBrWindow('~$SITE_URL`/profile/photorequest.php?checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`&filtered=~$FILTERED`&samegender=~$SAMEGENDER`','','width=370,height=330'); return false;">~/if`<img src="http://ser4.jeevansathi.com/P/images/Request-a-photo-Female.gif" width="150" height="200" GALLERYIMG="NO" border="0" oncontextmenu="return false;"></a>
                                                ~/if`
                             ~else`
                                                <div style="width:150px;"><img src="~$PHOTOFILE`" width="150" height="200" GALLERYIMG="NO" border="0" oncontextmenu="return false;"></div>
                             ~/if`                             
	</td>
        <td width="233"><table width="97%" height="192"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Posted By</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">: ~$RELATION`</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Height</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">: ~$HEIGHT`</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Age</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">: ~$AGE`</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">City</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">: ~if $CITY_RES neq ""`~$CITY_RES`, ~/if`~$COUNTRY_RES`</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Caste</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">: ~$CASTE`</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Profession</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">: ~$OCCUPATION`</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Marital Status</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">:  : ~if $MSTATUS eq 'Annulled'` <span style=" color:#FF6600;position:relative; border-bottom: 3px double #FF6600;" onmouseover="javascript:annulled_show()" onmouseout="javascript:delaysec()" >~$MSTATUS`</span> ~else` ~$MSTATUS` ~/if`
</td>
          </tr>
          <tr>
            <td valign="top" class="profile-info" style="padding:3px 0 0 2px">Have Childeren</td>
            <td valign="top" class="profile-info" style="padding:3px 0 0 0">:  ~$CHILDREN`</td>
          </tr>
          <tr>
            <td width="42%" valign="top" class="profile-info" style="padding:3px 0 0 2px">              Annual Income </td>
            <td width="58%" valign="top" class="profile-info" style="padding:3px 0 0 0">              : ~$INCOME`</td>
          </tr>
  
        </table></td>
	~if $single`
        <td><table width="97%" height="192"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top" class="contact-table"><p><strong><u>Contact Details</u></strong><br>
              <br>
<strong>Email Address :</strong>  ~$EMAIL`<br>
<br>
~if $PHN_P neq '0'`
<strong>Contact No. :</strong> ~$PHONE`<br>
~/if`
~if $ADR_P neq '0'`
<br>
<strong>Contact Address. :</strong> ~$ADDRESS`<br>
~/if`

~if $MESNGR neq '0'`
<br>
<strong>~$MESSENGER_CH` Messenger ID :</strong> ~$MESSENGER_ID`</p>~/if`</td>
          </tr>
        </table></td>
	~else`
	<td>&nbsp;</td>
	~/if`
        <td width="10">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td height="5" colspan="3"></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="608" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="608" bgcolor="#B9C16E" class="bar-center"><strong><u>Personal Profile of ~$PROFILENAME`</u></strong></td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3" height="140" class="main-text">~if $PROFILENAME eq "test4js"` ~$COMMENTS`~$SUBYOURINFO`~$YOURINFO` ~else` ~$SUBYOURINFO`~$YOURINFO` ~/if`
                                <!--<b>Looking for:</b> Smart,intelligent,confident,caring.funloving as i am,He should respect me and my feelings,should be understanding. <br><br> -->
                                ~if $PROFILEGENDER eq 'Female' and $CAREER_AFTER_MARRIAGE neq ""`
                                        <b>About Career:</b> ~$CAREER_AFTER_MARRIAGE`
                                ~/if`
                                ~if $FAMILYINFO neq ""` <b>My Family:</b> ~$FAMILYINFO` ~/if`
               </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="608" border="0" cellspacing="0" cellpadding="0">
          <tr>
           <td width="608" bgcolor="#DBD196" class="bar-center"><strong><u>About ~$PROFILENAME`</u></strong></td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td height="10" colspan="3"></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="608" border="0" cellspacing="1" cellpadding="1" style="border:1px solid #e6c4ab" class="main-text">
          <tr bgcolor="#e8e8e8">
            <td colspan="2" height="20"><strong>Religion and Ethnicity</strong></td>
            <td colspan="2"><strong>Astro Data </strong></td>
            </tr>
          <tr>
            <td width="126">Religion</td>
            <td width="175">: ~$RELIGION_SELF`</td>
            <td width="117">Date of Birth </td>
            <td width="175">: ~$DTOFBIRTH`</td>
          </tr>
          <tr>
            <td>Mother Toungue </td>
            <td>: ~$MTONGUE`</td>
            <td>Country of Birth</td>
            <td>: ~$COUNTRY_BIRTH`</td>
          </tr>
          <tr>
            <td>Caste</td>
            <td>: ~$CASTE`</td>
            <td>City of Birth </td>
            <td>: ~$CITYBIRTH`</td>
          </tr>
          <tr>
            <td>Sub Caste/ Surname </td>
            <td>: ~$SUBCASTE`</td>
            <td>Time of Birth </td>
            <td>: ~if $BTIMEHOUR neq "" and $BTIMEMIN neq ""`~$BTIMEHOUR`hrs:~$BTIMEMIN`mins~else`Not Available~/if`</td>
          </tr>
          <tr>
            <td>Nakshatram</td>
            <td>: ~$NAKSHATRA`</td>
            <td>~$Own_Manglik`</td>
            <td>: ~$Own_Manglik_Status` </td>
          </tr>
          <tr>
            <td>Gothra</td>
            <td>: ~$GOTHRA`</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="608" border="0" cellspacing="1" cellpadding="1" style="border:1px solid #e6c4ab" class="main-text">
          <tr bgcolor="#e8e8e8">
            <td colspan="2" height="20"><strong>Lifestyle and Attributes</strong></td>
            <td colspan="2"><strong>Education and Occupation</strong></td>
          </tr>
          <tr>
            <td width="117">Diet </td>
            <td width="187">: ~$DIET`</td>
            <td width="121">Education Level </td>
            <td width="181">: ~$EDUCATION_LEVEL`</td>
          </tr>
          <tr>
            <td>Smoke</td>
            <td>: ~$SMOKE`</td>
            <td>Highest Degree </td>
            <td>: ~$EDU_LEVEL_NEW` </td>
          </tr>
          <tr>
            <td>Drink</td>
            <td>: ~$DRINK`</td>
            <td>Educational Qualification</td>
            <td valign="top">: ~$EDUCATION`</td>
          </tr>
          <tr>
            <td>Complexion</td>
            <td>: ~$COMPLEXION`</td>
            <td>Occupation</td>
            <td>: ~$OCCUPATION`</td>
          </tr>
          <tr>
            <td>Body Type </td>
            <td>: ~$BODYTYPE`</td>
            <td>Income</td>
            <td>: ~$INCOME`</td>
          </tr>
          <tr>
            <td>Challenged</td>
            <td>: ~$HANDICAPPED`</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="608" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="608" bgcolor="#DBD196" class="bar-center"><strong><u>About ~$PROFILENAME`'s Family</u></strong></td>
           </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td height="5" colspan="3"></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="608" border="0" cellspacing="1" cellpadding="1" style="border:1px solid #e6c4ab" class="main-text">
          <tr>
            <td width="117">Family Values</td>
            <td width="187">: ~$FAMILY_VALUES`</td>
            <td width="121">Father</td>
            <td width="181">: ~if $FAMILY_BACK eq ""` -~else` ~$FAMILY_BACK` ~/if`</td>
          </tr>
          <tr>
            <td>Family Type</td>
            <td>: ~$FAMILY_TYPE`</td>
            <td>Mother</td>
            <td>: ~if $MOTHER_OCC eq ''` - ~else` ~$MOTHER_OCC` ~/if`</td>
          </tr>
          <tr>
            <td>Family Status</td>
            <td>: ~$FAMILY_STATUS`</td>
            <td>Sister(s)</td>
            <td valign="top">: ~$T_SISTER` sister~if $T_SISTER neq '1'`s~/if` ~if $M_SISTER neq '0'` <span class="greyele">of which married ~$M_SISTER`</span>~/if`</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Living with parents</td>
            <td>: ~$LIVE_WITH_PARENTS`</td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
</table>
</body>
</html>
