<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title> EDITING THE PRIVILEGES </title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body>
<br>
<form action="priv_edit.php" method=POST>
<table border="0" cellspacing="2" cellpadding="2" width=80% align=center>
<tr>
	<td class=label>~if $check_val eq 1` <font color=red> VALUE </font> ~else` VALUE ~/if`</td>
	<td class=fieldsnew><input type=text   name=MOD_VALUE  value=~$VALUE`></font></td>
</tr>
<tr>
	<td class=label>~if $check_label eq 1` <font color=red> LABEL </font> ~else` LABEL ~/if`</td>
	<td class=fieldsnew><input type=text   name=MOD_LABEL   value="~$LABEL`"></td>
</tr>
<tr>
	<td class=label> ACTIVE </td>
	<td class=fieldsnew><input type=checkbox name=MOD_ACTIVE value="Y" ~if $ACTIVE eq 'Y'` checked ~/if`></td>
</tr>
<tr align=center>
<td class=fieldsnew colspan=100%>
	<input type=Hidden  name=ID    value=~$ID`>
	<input type=Hidden  name=cid    value=~$cid`>
	<input type=submit  name=submit value=MODIFY>
</td>
</tr>
</table>
</body>
</html>   
