<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Jeevansathi.com</title>
<link href="~$SITE_URL`/jsadmin/main.css" rel="stylesheet" type="text/css">
<style type="text/css">
.p1 { background-image:url(~$PHOTO_URL`/profile/images/p1.gif); background-position:right; background-repeat:no-repeat; }
.p2 { background-image:url(~$PHOTO_URL`/profile/images/p2.gif); background-position:right; background-repeat:no-repeat; }
.p3 { background-image:url(~$PHOTO_URL`/profile/images/p3.gif); background-position:right; background-repeat:no-repeat; }
.p4 { background-image:url(~$PHOTO_URL`/profile/images/p4.gif); background-position:right; background-repeat:no-repeat; }
.p4-1 { background-image:url(~$PHOTO_URL`/profile/images/p4-1.gif); background-position:right; background-repeat:no-repeat; }
.p5 { background-image:url(~$PHOTO_URL`/profile/images/p5.gif); background-position:right; background-repeat:no-repeat; }
.p6 { background-image:url(~$PHOTO_URL`/profile/images/p6.gif); background-position:right; background-repeat:no-repeat; }
</style>
<script src="~$SITE_URL`/profile/js/dw_viewport.js" type="text/javascript"></script>
<script src="~$SITE_URL`/profile/js/searchhover.js" type="text/javascript"></script>
<script src="~$SITE_URL`/profile/js/tooltip_new.js" type="text/javascript"></script>
<SCRIPT language=JavaScript1.2 src="~$SITE_URL`/profile/profile.js" type=text/javascript></SCRIPT>
<SCRIPT type=text/javascript language="JavaScript" SRC="~$SITE_URL`/profile/js/search.js"></SCRIPT>
<SCRIPT type=text/javascript language="JavaScript" SRC="~$SITE_URL`/profile/js/conf_layer.js"></SCRIPT>
<script type="text/javascript">
function formsubmit(profileid)
{
	document.poolform.sl_profileid.value=profileid;
	document.poolform.submit();
}
function checkboxes()
{
	var i=0;
	var check=0;
	 for(i=0;i<document.poolform.elements.length;i++)
        {
                if((document.poolform.elements[i].type=="checkbox") && (document.poolform.elements[i].checked))
                {
                        if(document.poolform.elements[i].checked==true)
                        {
                                check++;
                        }
                }
        }
        if(check>0)
        {
                if(check>document.poolform.acc_rem.value)
                {
                        alert("No of profiles selected are greater than acceptances remaining!");
                        return false;
                }
                document.poolform.submit();
                return false;
        }
        else
        alert("Please select atleast one profile!");
	return false;
}
function shownote(e,divname,textname)
{
	var x=0, y=0; viewport.getAll();
	var o=document.getElementById(divname);
	var offx=10;
	var offy=10;
	textname='note'+textname;
	// check positioning choices
	if ( this.offX == "c" ) 
	{
		x = Math.round( (viewport.width - o.offsetWidth)/2 ) + viewport.scrollX;
	} 
	else 
	{  // use mouse location onclick to position
		x = e.pageX? e.pageX: e.clientX + viewport.scrollX;
		offx = offx || this.offX;  // check for passed offsets
		if ( x + o.offsetWidth + offx > viewport.width + viewport.scrollX )
		x = viewport.width + viewport.scrollX - o.offsetWidth;
		else x = x + offx;
	}
	if ( this.offY == "c" ) 
	{
		y = Math.round( (viewport.height - o.offsetHeight)/2 ) + viewport.scrollY;                
	} 
	else 
	{
		y = e.pageY? e.pageY: e.clientY + viewport.scrollY;                        
		offy = offy || this.offY;
		if ( y + o.offsetHeight + offy > viewport.height + viewport.scrollY )
		y = viewport.height + viewport.scrollY - o.offsetHeight;
		else y = y + offy;
	}
	document.getElementById(divname).style.left = x + "px"; 
	document.getElementById(divname).style.top = y + "px";
	document.getElementById(divname).style.visibility='visible';
	document.getElementById(divname).style.display="inline";
	eval('document.poolform.'+textname+'.focus()');

} 
function hidenote(divname)
{
	document.getElementById(divname).style.visibility='hidden';
}
function win_open(url)
{
        window.open(url,'','width=760,height=570,resizable=1,scrollbars=1');
}
function win_open_contact(url)
{
        window.open(url,'','width=365,height=160,resizable=1,scrollbars=1');
}
function $() {
var elements = new Array();
for (var i=0;i<arguments.length;i++) {
var element = arguments[i];
if (typeof element == 'string') element = document.getElementById(element);
if (arguments.length == 1) return element;
elements.push(element);
}
return elements;
}
var BoxHeights = {
maxh: 0,
boxes: Array(),
num: 0,
op_test: false,
equalise: function() {
this.num = arguments.length;
for (var i=0;i<this.num;i++) if (!$(arguments[i])) return;
this.boxes = arguments;
this.maxheight();
for (var i=0;i<this.num;i++) $(arguments[i]).style.height = this.maxh+"px";
},
maxheight: function() {
var heights = new Array();
for (var i=0;i<this.num;i++) {
if (navigator.userAgent.toLowerCase().indexOf('opera') == -1) {
heights.push($(this.boxes[i]).scrollHeight);
} else {
heights.push($(this.boxes[i]).offsetHeight);
}
}
heights.sort(this.sortNumeric);
this.maxh = heights[this.num-1];
},
sortNumeric: function(f,s) {
return f-s;
}
}

window.onload = function() {
BoxHeights.equalise('one','two');BoxHeights.equalise('four','five');BoxHeights.equalise('seven','eight');BoxHeights.equalise('ten','eleven');
BoxHeights.equalise('a1','a2');BoxHeights.equalise('a4','a5');BoxHeights.equalise('a7','a8');BoxHeights.equalise('a10','a11');
BoxHeights.equalise('b1','b2');BoxHeights.equalise('b4','b5');BoxHeights.equalise('b7','b8');BoxHeights.equalise('b10','b11');
BoxHeights.equalise('c1','c2');BoxHeights.equalise('c4','c5');BoxHeights.equalise('c7','c8');BoxHeights.equalise('c10','c11');
BoxHeights.equalise('d1','d2');BoxHeights.equalise('d4','d5');BoxHeights.equalise('d7','d8');BoxHeights.equalise('d10','d11');
}
</script>
</head>

<body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0" ~if $detailview && $PRINT` onLoad="javascript : window.print();" ~/if`>
~if $PFLAG`
<table width="745" border="0" align="center" cellpadding="0" cellspacing="0" style="border:0px solid #f09329">
~else`
<table width="775" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #f09329">
~/if`
  <tr>
	~if $detailview`
	<td><img src="~$PHOTO_URL`/profile/images/js-logo.gif" width="226" height="63" hspace="15" vspace="5"></td>
	~if !$PFLAG`
	<td align="right"><a href="#" onClick="javascript : window.close();">Close this window</a>
	~/if`
	~else`
    	<td colspan="2"><img src="~$PHOTO_URL`/profile/images/js-logo.gif" width="226" height="63" hspace="15" vspace="5"></td>
	~/if`
~if !$PFLAG`
  </tr>
  <tr>
    <td height="6" colspan="2" bgcolor="#bc001d"></td>
  </tr>
  <tr>
    <td height="1" colspan="2"></td>
  </tr>
  <tr>
    <td height="20" colspan="2" bgcolor="#f09329"></td>
  </tr>
~else`
 <tr>
    <td height="3" colspan="2" bgcolor="#bc001d"></td>
  </tr>
~/if`
<form ~if $detailview` action="displayprofile.php" ~else` action="rejected_matches.php" ~/if` name="poolform" method="post">
<input type="hidden" name="cid" value="~$cid`">
<input type="hidden" name="acc_remain" value="~$acc_remain`">
<input type="hidden" name="profileid" value="~$profileid`">
~if $detailview`
~if $ACCEPTED`
<tr>
	<td colspan="2" align="center"><font color="red"><strong>Profile was successfully accepted!</strong></font></td>
</tr>
~else`
	~if !$p_expire`
~if !$PFLAG`
<tr>
<input type="hidden" name="action">
<input type="hidden" name="page" value="reject">
<input type="hidden" name="oc_id">
<input type="hidden" name="searched_profileid" value="~$SEARCHED_PROFILEID`">
<td valign="top" align="left"><a href="~$SITE_URL`/jsadmin/displayprofile.php?cid=~$cid`&profileid=~$profileid`&searched_profileid=~$SEARCHED_PROFILEID`&accept=1&page=reject&oc_id=~$oc_id`"><img src="~$PHOTO_URL`/profile/images/accept.gif" width="69" height="18" hspace="11" vspace="5" border="0"></a></td>
<td valign="top" align="right">
<span class="main-text"><strong><a href="#" onClick="win_open('~$SITE_URL`/jsadmin/displayprofile.php?cid=~$cid`&profileid=~$profileid`&searchid=~$SEARCHED_PROFILEID`&page=reject&pflag=1&print=1');return false;" style="color:#000000">Print this Profile</a><br>
	~if $COMPATIBILITY_LINK eq 'R'`
                <a href="#" onClick="window.open('~$SITE_URL`/profile/horoscoperequest.php?profileid=~$profileid`&profilechecksum=~$PROFILECHECKSUM`&via_ofm=1','','width=340,height=310,resizable=1');" style="color:#000000"><strong> Request Horoscope</strong></a><br>
                ~else`
                <a href="#" onClick="window.open('~$SITE_URL`/profile/horoscope_astro.php?checksum=~$cid`&profilechecksum=~$PROFILECHECKSUM`','','width=625,height=625,resizable=1,scrollbars=1');" style="color:#000000"><strong> View Horoscope</strong></a><br>
                ~/if`
                ~if $COMPATIBILITY_SUBSCRIPTION eq '1'`
                ~if $COMPATIBILITY_LINK eq 'C'`
                <a href="#" onClick="window.open('~$SITE_URL`/profile/check_horoscope_compatibility.php?profileid=~$profileid`&checksum=~$cid`&profilechecksum=~$PROFILECHECKSUM`&via_ofm=1&compatibility_subscription=~$COMPATIBILITY_SUBSCRIPTION`','','width=570,height=570,resizable=1');" style="color:#000000"><strong> Check Astro Compatibilty</strong></a><br>
                ~/if`
                ~/if`
	</strong> &nbsp;&nbsp;&nbsp;&nbsp;</span>
</td>   
</tr>
	~/if`
	~else`
	<tr>
	<td colspan="2" align="center"><font color="red"><strong>This action is disallowed as your account is now inactive</strong></font></td>
	</tr>
	~/if`
~/if`
<tr>
<td colspan="2">~$viewprofile`</td>
</tr>
~if !$ACCEPTED && !$p_expire && !$PFLAG`
<tr>
<td colspan="2" valign="top" align="left"><a href="~$SITE_URL`/jsadmin/displayprofile.php?cid=~$cid`&profileid=~$profileid`&searched_profileid=~$SEARCHED_PROFILEID`&accept=1&page=reject&oc_id=~$oc_id`"><img src="~$PHOTO_URL`/profile/images/accept.gif" width="69" height="18" hspace="11" vspace="5" border="0"></a></td>
</tr>
~/if`
~else`
  <tr>
    <td height="50" colspan="2" background="~$PHOTO_URL`/profile/images/top-bg.gif" class="main-text" style="padding-left:5px; color:#525252"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="52%"><strong>You are logged in as ~$customer_name` | <a href="javascript: self.close()" style="color:#525252">Logout</a></strong></td>
        <td width="35%" align="right" style="line-height:20px">Profiles Remaining :&nbsp;<br>
          Days Remaining :&nbsp; </td>
        <td width="13%" align="left" style="line-height:20px"><strong>~$acc_remain`<br>
          ~$day_remain`</strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="198" align="left" valign="top" bgcolor="#f4f4f4" style="border-right:1px solid #bdbdbd"><table width="198" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="login_customer.php?profileid=~$profileid`&flag=1&cid=~$cid`" style="text-decoration:none; color:#000000">Home</a></td>
      </tr>
      <tr>
        <td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href=# onclick="win_open('~$SITE_URL`/P/profileselect_oc.php?profileid=~$profileid`')" style="text-decoration:none; color:#000000">My Profile</a></td>
      </tr>
	  <tr>
        <td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="search_profiles.php?profileid=~$profileid`&cid=~$cid`" style="text-decoration:none; color:#000000">Search Profile</a></td>
      </tr>
	  <tr>
        <td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"><a href="~$SITE_URL`/jsadmin/pool_matches.php?cid=~$cid`&profileid=~$profileid`" style="text-decoration:none; color:#000000"> Pool of available matches</td>
      </tr>
	  <tr>
	<td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="shortlisted_profiles.php?cid=~$cid`&profileid=~$profileid`" style="text-decoration:none; color:#000000">Short Listed Profiles</a></td>
      </tr>
	  <tr>
        <td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="accept_matches.php?profileid=~$profileid`&cid=~$cid`" style="text-decoration:none; color:#000000">Accepted Profiles</a></td>
      </tr>
	 <tr>
        <td height="32" class="left-links-inactive"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="~$SITE_URL`/jsadmin/accept_matches.php?profileid=~$profileid`&cid=~$cid`&crd_status=1" style="text-decoration:none; color:#000000">Couriered Profiles</a></td>
      </tr>
	  <tr>
        <td height="32" class="left-links-active"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="~$SITE_URL`/jsadmin/rejected_matches.php?cid=~$cid`&profileid=~$profileid`" style="text-decoration:none; color:#000000">Rejected Profiles</a></td>
      </tr>
	~if $profile_verified eq 'N'`
         <tr>
        <td height="32" class="left-links-inactive" style="color:red"><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7">&nbsp;User reported for verification failure</td>
      </tr>
        ~else`
          <tr>
        <td height="32" class="left-links-inactive" ><img src="~$PHOTO_URL`/profile/images/bullet.gif" width="4" height="7"> <a href="#" onclick="win_open_contact('~$SITE_URL`/jsadmin/verification_failed.php?profileid=~$profileid`&cid=~$cid`')"  style="text-decoration:none; color:red">Report verification failure</a></td>
      </tr>
        ~/if`
	  <tr>
	    <td>&nbsp;</td>
	    </tr>
	  <tr>
	    <td>&nbsp;</td>
	    </tr>
	  <tr>
	    <td>&nbsp;</td>
	    </tr>
    </table></td>
	~if $NOREC`
	<td>
	~if $ACCEPTED`
        <p align="center"><font><strong>Profile has been successfully accepted!</strong></p>
        <br>
	~/if`
	<p align="center"><font color="red"><strong>No profiles currently rejected</strong></font></p>
	</td>
	~else`
    <td width="577" align="left" valign="top"><table width="573"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" class="main-text">&nbsp;</td>
        <td width="279" align="center" class="main-text"><strong>Search Profile by ID</strong>
          <input name="searchid" type="text" class="main-text"></td>
        <td align="center" class="main-text">&nbsp;</td>
        <td width="279" align="left" class="main-text"><a href="#" onClick="javascript : document.poolform.submit();"><img src="~$PHOTO_URL`/profile/images/search.gif" width="69" height="18" border="0"></a></td>
        <td align="center" class="main-text">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      ~if $WRONGID`
     <tr>
	<td colspan="5" height="10" align="center"><font color="red">Invalid username entered!</font></td>
     </tr>
      ~/if`
      ~if $NOTINREJ`
  	<tr>
		<td colspan="5" height="10" align="center"><font color="red">Profile Not Rejected!</font></td>
	</tr>
      ~/if`
      ~if $ACCEPTED`
	<tr>
		<td colspan="5" height="10" align="center">Profile has been successfully accepted!</td>
	</tr>
      ~/if`
      <tr align="center">
        <td colspan="5"><img src="~$PHOTO_URL`/profile/images/seperator-big.gif" width="559" height="1"></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
	~if $SEARCHED_PROFILE`
	<tr>
	<input type="hidden" name="searched_profileid" value=~$SEARCHED_PROFILEID`>
		<td>&nbsp;</td>
	 
		<td valign="top" align="left"><a href="~$SITE_URL`/jsadmin/rejected_matches.php?cid=~$cid`&profileid=~$profileid`&accid=~$SEARCHED_PROFILEID`"><img src="~$PHOTO_URL`/profile/images/accept.gif" width="69" height="18" hspace="11" vspace="5" border="0"></a></td>

	<td>&nbsp;</td>
	<td colspan="2" valign="top" align="right">
	<span class="main-text"><strong><a href="#" onClick="win_open('~$SITE_URL`/jsadmin/displayprofile.php?cid=~$cid`&profileid=~$profileid`&searchid=~$SEARCHED_PROFILEID`&page=shortlist&print=1');"style="color:#000000">Print this Profile</a><br>
        ~if $COMPATIBILITY_LINK eq 'R'`
                <a href="#" onClick="window.open('~$SITE_URL`/profile/horoscoperequest.php?profileid=~$profileid`&profilechecksum=~$PROFILECHECKSUM`&via_ofm=1','','width=340,height=310,resizable=1');" style="color:#000000"><strong> Request Horoscope</strong></a><br>
                ~else`
                <a href="#" onClick="window.open('~$SITE_URL`/profile/horoscope_astro.php?checksum=~$cid`&profilechecksum=~$PROFILECHECKSUM`','','width=625,height=625,resizable=1,scrollbars=1');" style="color:#000000"><strong> View Horoscope</strong></a><br>
                ~/if`
                ~if $COMPATIBILITY_SUBSCRIPTION eq '1'`
                ~if $COMPATIBILITY_LINK eq 'C'`
                <a href="#" onClick="window.open('~$SITE_URL`/profile/check_horoscope_compatibility.php?profileid=~$profileid`&checksum=~$cid`&profilechecksum=~$PROFILECHECKSUM`&via_ofm=1&compatibility_subscription=~$COMPATIBILITY_SUBSCRIPTION`','','width=570,height=570,resizable=1');" style="color:#000000"><strong> Check Astro Compatibilty</strong></a><br>
                ~/if`
                ~/if`
	</strong> &nbsp;&nbsp;&nbsp;&nbsp;</span>
	</td>
  	</tr>
	<tr>
		<td width="2">&nbsp;</td>
		<td colspan="3" rowspan="5" valign="top">
		~$viewprofile`
		</td>
	</tr>
	~else`
      <tr>
        <td height="10">&nbsp;</td>
        <td height="10" colspan="3"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>

		<td valign="top" align="left"><input type="image" src="~$PHOTO_URL`/profile/images/accept.gif" onclick="return checkboxes();">
</a></td>
                <td align="right" class="main-text">~$PAGELINK`</td>
          </tr>
        </table></td>
        <td height="10">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td width="2">&nbsp;</td>
        <td colspan="3" rowspan="5" valign="top">
	<div id="srf">
	<input type="hidden" name="sl_profileid" value="">
	~assign var="tab" value=0`
	~section name="tr1" start=0 loop=$length`
	~assign var="finalval" value=$tab`
	~if $RESULTS_ARRAY[$finalval].PROFILEID neq ''`
	~if $finalval % 2 eq 0`
		<ul>
	~/if`
	<li>
		~if $RESULTS_ARRAY[$finalval].BOLDLISTING eq 0`
		<div class="mbx">
		~else`
		<div class="mbx-fea">
		~/if`
                 ~if $RESULTS_ARRAY[$finalval].CATEGORY neq ''`
			~if $RESULTS_ARRAY[$finalval].CATEGORY eq '4' AND $RESULTS_ARRAY[$finalval].SHOW_STAR eq '1'` 
                                <div class="prf p~$RESULTS_ARRAY[$finalval].CATEGORY`-1" id="~$a[$finalval]`">
                        ~else`                                  ~if $RESULTS_ARRAY[$finalval].MEMBER_101 eq "1"`
                                <div class="prfh p~$RESULTS_ARRAY[$finalval].CATEGORY`" id="~$a[$finalval]`">
                                ~else`
                                <div class="prf p~$RESULTS_ARRAY[$finalval].CATEGORY`" id="~$a[$finalval]`">
                                ~/if`
                        ~/if`   
                ~else`
			 ~if $RESULTS_ARRAY[$finalval].MEMBER_101 eq "1"`
                                <div class="prfh" id="~$a[$finalval]`">
                        ~else`
                                <div class="prf" id="~$a[$finalval]`">
                        ~/if`
                ~/if`
		~if $RESULTS_ARRAY[$finalval].ACTIVATED neq 'D'`
          	<input type="checkbox" name="profile[]" value="~$RESULTS_ARRAY[$finalval].PROFILEID`" id="un~$finalval`" style="vertical-align:middle">~/if`
			<span class="blacklink">                                                                                                <label for="un~$finalval`" style="cursor:pointer;">~$RESULTS_ARRAY[$finalval].USERNAME`</label>
		 	</span>
		</div>
		<div class="tx bluelink" id="~$boxheight[$finalval]`">
		~$RESULTS_ARRAY[$finalval].MY_PHOTO`

			<span class="blacklink"><b>~$RESULTS_ARRAY[$finalval].PROTITLE`</b>~$RESULTS_ARRAY[$finalval].YOURINFO`</a></span>
			...
			<a href="#" onclick="win_open('~$SITE_URL`/jsadmin/displayprofile.php?cid=~$cid`&profileid=~$profileid`&searchid=~$RESULTS_ARRAY[$finalval].PROFILEID`&page=reject&compatibility_subscription=~$COMPATIBILITY_SUBSCRIPTION`');return false;">Read More</a>...
		</div>
		 ~if $RESULTS_ARRAY[$finalval].BOLDLISTING eq 0`
		<div class="dts" id="~$b[$finalval]`">
		~else`
		<div class="dts-fea" id="~$b[$finalval]`">
		~/if`
		~$RESULTS_ARRAY[$finalval].INFO`
		</div>
		<div class="lks" id="c2">
		~if $RESULTS_ARRAY[$finalval].ACTIVATED eq 'D'`
          	<strong>This profile was deleted.</strong><br>
		~else`
			~if $RESULTS_ARRAY[$finalval].ICON eq 1`
			<img src="~$PHOTO_URL`/profile/images/mobilephone3_set3.gif" title="Valid phone number(s) not available" width="14" height="22" border="0">
	                ~/if`
			<a href="~$SITE_URL`/jsadmin/rejected_matches.php?cid=~$cid`&profileid=~$profileid`&accid=~$RESULTS_ARRAY[$finalval].PROFILEID`"><strong>Accept this Profile</strong></a><br>
			~/if`
			~if $RESULTS_ARRAY[$finalval].COMPATIBILITY_LINK eq 'R'`
                	<a href="#" onClick="window.open('~$SITE_URL`/profile/horoscoperequest.php?profileid=~$profileid`&profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&via_ofm=1','','width=340,height=310,resizable=1');"><strong> Request Horoscope</strong></a><br>
                	~else`
                	<a href="#" onClick="window.open('~$SITE_URL`/profile/horoscope_astro.php?checksum=~$cid`&profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`','','width=625,height=625,resizable=1,scrollbars=1');"><strong> View Horoscope</strong></a><br>
                	~/if`
                	~if $COMPATIBILITY_SUBSCRIPTION eq '1'`
                		~if $RESULTS_ARRAY[$finalval].COMPATIBILITY_LINK eq 'C'`
                		<a href="#" onClick="window.open('~$SITE_URL`/profile/check_horoscope_compatibility.php?profileid=~$profileid`&checksum=~$cid`&profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM``&via_ofm=1&compatibility_subscription=~$COMPATIBILITY_SUBSCRIPTION`','','width=570,height=570,resizable=1');"><strong> Check Astro Compatibilty</strong></a><br>
                		~/if`
                	~/if`
			</div>
			<div class="tx"><strong>Profile Score:</strong> ~$RESULTS_ARRAY[$finalval].PSCORE`/600
		<br>
		</div><!-- mbx div ends-->
	</li>
	 ~assign var="tab" value=$tab+1`
	~if $finalval % 2 eq 1`
	</ul>
	<div class="spacer">&nbsp;</div>
	~/if`
	
	~if $finalval eq $RESULTS_ARRAY_COUNT-1 && $RESULTS_ARRAY_COUNT % 2 neq 0`
	</ul>
	<div class="spacer">&nbsp;</div>
	~/if`
	~/if`
	~/section`
	</div>        
	</td>
        <td width="2">&nbsp;</td>
      </tr>
      <tr>
        <td height="8"></td>
        <td height="8"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="8"></td>
        <td height="8"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>

	    <td valign="top" align="left"><a href="#" onClick="return checkboxes();"><img src="~$PHOTO_URL`/profile/images/accept.gif" width="69" height="18" hspace="11" vspace="5" border="0"></a></td>
        
    <td align="right" class="main-text">~$PAGELINK`</td>
          </tr>
	~/if`
        </table></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </td>
~/if`
  </tr>
~/if`
</form>
</table>
</body>
</html>
