<html>
<head>
<title>JeevanSathi Matrimonials - Resources</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$SITE_URL`/profile/images/styles.css" type="text/css">
<link rel="stylesheet" href="~$SITE_URL`/jsadmin/jeevansathi.css" type="text/css">
</head>
<body leftmargin="5" topmargin="5">
~$HEAD`
<br>
<table width=100%>
<tr class="formhead">
<td>Name</td>
<td>Link</td>
<td>Description</td>
<td>Show</td>
<td>Edit</td>
<td>Delete</td>
</tr>
~section name=i loop=$ROWS`
<tr class="fieldsnew">
<td>~$ROWS[i].NAME`</td>
<td>~$ROWS[i].LINK`</td>
<td>~$ROWS[i].DESCR`</td>
<td>~$ROWS[i].VISIBLE`</td>
<td><a href="resources_form.php?flag=edit&id=~$ROWS[i].ID`&cid=~$CID`">Edit</a></td>
<td><a href="resources_add_info.php?flag=delete&id=~$ROWS[i].ID`&cid=~$CID`" onClick="return confirm('Are you sure. You want to delete?');">Delete</a></td>
</tr>
~/section`
</table>
<br>
~$FOOT`
<br>
</body>
</html>

