
<head>
<title>JeevanSathi Matrimonials - Resources</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$SITE_URL`/profile/images/styles.css" type="text/css">
</head>
<body leftmargin="5" topmargin="5">
~$HEAD`
<br>
<a href="resources_admin_cat.php?cid=~$CID`">Main Page</a>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td> <img src="~$SITE_URL`/profile/images/matrimonial_resources.gif" width="730" height="36"></td>
  </tr>
</table>
<br>
<table width=100%>
<tr class="formhead ">
<b><td>Title</td>
<td>Name</td>
<td>Email</td>
<td>URL</td>
<td>Description</td>
<td>Category</td>
<td>Show on page</td>
<td>Delete</td>
<td>Submit</td>
</b>
</tr>
~section name=i loop=$pended`
<tr class="fieldsnew">
<form name='f~$smarty.section.i.index`' action='resources_admin_cat.php' method='post'>
<input type='hidden' name='count_no' value='~$smarty.section.i.index`'>
<input type='hidden' name='ID' value='~$pended[i].ID`'>
<input type='hidden' name='fn' value='pending'>
<input type='hidden' name='cid' value='~$CID`'>
<td>~$pended[i].TITLE`</td>
<td>~$pended[i].NAME`</td>
<td>~$pended[i].EMAIL`</td>
<td>~$pended[i].LINK`</td>
<td>~$pended[i].DESCR`</td>
<td><select name="CatId"> ~section name=ii  loop=$ROWS`  <option  value="~$ROWS[ii].CAT_ID`"> ~$ROWS[ii].CAT_DISPLAY`  </option> ~/section`</select></td>
<td><input type='radio' name='pageno' value='0'>P0<input type='radio' name='pageno' value='1'>P1<input type='radio' name='pageno' value='2'>P2<input type='radio' name='pageno' value='3'>P3</td>
<td><input type='submit' name='perform' value='Delete'></td>
<td><input type='submit' name='perform' value='Submit'></td>


</form>
</tr>
~/section`





</body>
</html>
