
<head>
   <title>Success Story Screening</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!--link rel="stylesheet" href="stylesheet.css" type="text/css"-->
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
</head>
~include file="head.htm"`
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width=760 cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr class="formhead">
          <td width=33% class="formhead" border=1 align="center"><font><b>Welcome ~$user`</b></font></td>
          <td width="33%" class="formhead" align="center"><a href="mainpage.php?cid=~$cid`">Main Page</a></td>
          <td width=33% class="formhead" border=1 align='CENTER'><a href="logout.php?cid=~$cid`">Logout</a></td>
    </tr>
</table>
<br>
<table width=760 cellspacing="1" cellpadding="3" ALIGN="CENTER">
<tr class="formhead">
~if $REMOVE`
<td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`">Screen & Upload</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user`=~$user`&Vskip=1`">View Skipped Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&offline=1">Add Offline Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&unhold=1">Unhold/Edit Success Story</a></td>
~else`
	~if $VSKIP`
	<td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Remove=1`">Remove Uploaded Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user`=~$user`">Screen & Upload</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user`=~$user`&offline=1">Add Offline Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&unhold=1">Unhold/Edit Success Story</a></td>
	~else`
		~if $OFFLINE`
		 <td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Remove=1`">Remove Uploaded Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`">Screen & Upload</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Vskip=1`">View Skipped Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&unhold=1">Unhold/Edit Success Story</a></td>
		~else`
			~if $UNHOLD`
			<td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Remove=1`">Remove Uploaded Stories</a><td class="formhead" border="1" align="center"><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`">Screen & Upload</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&offline=1">Add Offline Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Vskip=1`">View Skipped Stories</a></td>
			~else`
			<td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Remove=1`">Remove Uploaded Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&Vskip=1`">View Skipped Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&offline=1">Add Offline Stories</a></td><td class="formhead" border="1" align="center"><a href="screen_success_story.php?cid=~$cid`&user=~$user`&unhold=1">Unhold/Edit Success Story</a></td>
			
			~/if`
		~/if`
	~/if`
~/if`
</tr>
</table>
<br >
~if $UNHOLD eq "1"`
	~if $showformunhold`
	~section name=holdloop loop=$story`
	 <form name="unhold" action="~$SITE_URL`/jsadmin/screen_success_story.php" enctype="multipart/form-data" method="post">
	~if $story[holdloop].id eq $screenid`
		~if $NONAME || $NOSTORY || $NOPIC`
		<p align="center"> <font color="red">Please enter all the details again!</font></p>
		~/if`
	~/if`
	<table align="center" width="50%" cellspacing="2" cellpadding="2">
	<tr class="formhead" align="center"><td align="center">STATUS</td><td colspan="2">~$story[holdloop].status`</td></tr>
        <tr class="fieldsnew" align=center>
          <TD align=center class="label">
          STORY ID
         </TD>
          <TD align="center"><input type="text" name="STORY_ID" value="~$story[holdloop].sid`">
         </TD><td></td>
        </tr>
        <tr class="fieldsnew" align="center"><td align="center" class="label">USER ID(HUSBAND)</td>
						<td align="center"><input type="text" name="user_h" value="~$story[holdloop].user_h`"></td>
						<td align="center">&nbsp;</td>
	</tr>
        
        <tr class="fieldsnew" align="center"><td align="center" class="label">USER ID(WIFE)</td>
						<td align="center"><input type="text" name="user_w" value="~$story[holdloop].user_w`"></td>
						<td align="center">&nbsp;</td>
	</tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">NAME (HUSBAND)</td>
                                                <td align="center"><input type="text" name="name_h" value="~$story[holdloop].name_h`"></td>
                                                <td align="center">~if $story[holdloop].id eq $screenid`~if $NONAME`<font color="red">Please enter atleast one name!</font>~/if`~else`&nbsp;~/if`</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">NAME (WIFE)</td>
                                                <td align="center"><input type="text" name="name_w" value="~$story[holdloop].name_w`"></td>
                                                <td align="center">&nbsp;</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">HEADING</td>
                                               <td align="center"><input type="text" name="heading" value="~$story[holdloop].heading`"></td>
                                                <td align="center">&nbsp;</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">CONTACT</td>
                                                <td align="center"><input type="text" name="contact" value="~$story[holdloop].contact`"></td>
                                                <td align="center">&nbsp;</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">EMAIL</td>
                                                <td align="center"><input type="text" name="email" value="~$story[holdloop].email`"></td>
                                                <td align="center">&nbsp;</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">UPLOAD DATE & TIME</td>
                                                <td align="center">~$story[holdloop].datetime`</td>
                                                <td align="center">&nbsp;</td>
        </tr>

	~if $story[holdloop].photo eq '1'`
		~if $story[holdloop].status eq 'UPLOADED' || $story[holdloop].status eq 'REMOVED'`
	 		<tr class="fieldsnew" align="center"><td align="center" class="label">MAIN PHOTO</td>
                        		                     <td align="center"><img src="photo_mail_serve.php?sid=~$story[holdloop].sid`" height="200" width="150"></img></td>
                                                	     <td align="center">&nbsp;</td>
		        </tr>
			 <tr class="fieldsnew" align="center"><td align="center" class="label">FRAMED PHOTO</td>
                		                                <td align="center"><img src="~$SITE_URL`/success/images_06_05/~$story[holdloop].sid`_sm.jpg?~$rand`" height="200" width="150"></img></td>
                                		                <td align="center">&nbsp;</td>
		        </tr>


<tr class="fieldsnew" align="center"><td align="center" class="label">HOME PHOTO</td>
                        		                     <td align="center"><img src="photo_mail_serve.php?sid=~$story[holdloop].sid`&get_home_photo_from_photo_upload=1" height="200" width="150"></img></td>
                                                	     <td align="center">&nbsp;</td>
		        </tr>







		~else`
			 <tr class="fieldsnew" align="center"><td align="center" class="label">MAIN PHOTO</td>
                                                             <td align="center"><img src="photo_mail_serve.php?id=~$story[holdloop].id`&storyid=~$story[holdloop].sid`" height="200" width="150"></img></td>
                                                             <td align="center">&nbsp;</td>
                        </tr>
		~/if`
		<tr class="fieldsnew"><td class="label" align="center">Delete photos</td>
					<td align="center"><input type="checkbox" name="delete"></td>
					<td align="center">&nbsp;</td>
	
	~else`
	 <tr class="fieldsnew" align="center"><td align="center" class="label">PHOTO</td>
                                                <td align="center">NO PHOTO UPLOADED</td>
                                                <td align="center">&nbsp;</td>
        </tr>
	~if $story[holdloop].sid`
		~if $story[holdloop].photo_ss`
			<tr class="fieldsnew" align="center"><td align="center" class="label">SUBMITED PHOTO</td>
                                                             <td align="center"><img src="photo_mail_serve.php?id=~$story[holdloop].id`" height="200" width="150"></img></td>
                                                             <td align="center">&nbsp;</td>
                        </tr>
		~/if`
	~/if`
	~/if`
	 <tr class="fieldsnew" align="center"><td align="center" class="label">MAIN PHOTO</td>
                                                <td align="center"><input type="file" name="fullphoto"></td>
                                                <td align="center">~if $story[holdloop].id eq $screenid`~if $NOPIC`<font color="red">Both the photos have to be uploaded simultaneously!</font>~/if`~else`&nbsp;~/if`</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">FRAMED PHOTO</td>
                                                <td align="center"><input type="file" name="frame"></td>
                                                <td align="center">&nbsp;</td>
        </tr>




	 <tr class="fieldsnew" align="center"><td align="center" class="label">HOME PHOTO</td>
                                                <td align="center"><input type="file" name="homephoto"></td>
                                                <td align="center">~if $story[holdloop].id eq $screenid`~if $NOPIC`<font color="red">Both the photos have to be uploaded simultaneously!</font>~/if`~else`&nbsp;~/if`</td>
        </tr>





	 <tr class="fieldsnew" align="center"><td align="center" class="label">STORY</td>
                                                <td align="center"><textarea name="textstory" align="center" cols="50" rows=10">~$story[holdloop].story`</textarea></td>
                                              <td align="center">~if $story[holdloop].id eq $screenid`~if $NOSTORY`<font color="red">There has to be a story!</font>~/if`~else`&nbsp;~/if`</td>
        </tr>
	 <tr class="fieldsnew" align="center"><td align="center" class="label">WEDDING DATE ~$story[holdloop].day`</td>
                                                <td align="center"><select name="day">
                                                <option value="1" ~if $story[holdloop].day eq "01"` selected~/if`>1</option>
                                                <option value="2" ~if $story[holdloop].day eq "02"` selected~/if`>2</option>
                                                <option value="3" ~if $story[holdloop].day eq "03"` selected~/if`>3</option>
                                                <option value="4" ~if $story[holdloop].day eq "04"` selected~/if`>4</option>
                                                <option value="5" ~if $story[holdloop].day eq "05"` selected~/if`>5</option>
                                                <option value="6" ~if $story[holdloop].day eq "06"` selected~/if`>6</option>
                                                <option value="7" ~if $story[holdloop].day eq "07"` selected~/if`>7</option>
                                                <option value="8" ~if $story[holdloop].day eq "08"` selected~/if`>8</option>
                                                <option value="9" ~if $story[holdloop].day eq "09"` selected~/if`>9</option>
                                                <option value="10" ~if $story[holdloop].day eq "10"` selected~/if`>10</option>
                                                <option value="11" ~if $story[holdloop].day eq "11"` selected~/if`>11</option>
                                                <option value="12" ~if $story[holdloop].day eq "12"` selected~/if`>12</option>
                                                <option value="13" ~if $story[holdloop].day eq "13"` selected~/if`>13</option>
                                                <option value="14" ~if $story[holdloop].day eq "14"` selected~/if`>14</option>
                                                <option value="15" ~if $story[holdloop].day eq "15"` selected~/if`>15</option>
                                                <option value="16" ~if $story[holdloop].day eq "16"` selected~/if`>16</option>
                                                <option value="17" ~if $story[holdloop].day eq "17"` selected~/if`>17</option>
                                                <option value="18" ~if $story[holdloop].day eq "18"`selected~/if`>18</option>
                                                <option value="19" ~if $story[holdloop].day eq "19"`selected~/if`>19</option>
                                                <option value="20" ~if $story[holdloop].day eq "20"`selected~/if`>20</option>
                                                <option value="21" ~if $story[holdloop].day eq "21"`selected~/if`>21</option>
                                                <option value="22" ~if $story[holdloop].day eq "22"`selected~/if`>22</option>
                                                <option value="23" ~if $story[holdloop].day eq "23"`selected~/if`>23</option>
                                                <option value="24" ~if $story[holdloop].day eq "24"`selected~/if`>24</option>
                                                <option value="25" ~if $story[holdloop].day eq "25"`selected~/if`>25</option>
                                                <option value="26" ~if $story[holdloop].day eq "26"`selected~/if`>26</option>
                                                <option value="27" ~if $story[holdloop].day eq "27"`selected~/if`>27</option>
                                                <option value="28" ~if $story[holdloop].day eq "28"`selected~/if`>28</option>
                                                <option value="29" ~if $story[holdloop].day eq "29"`selected~/if`>29</option>
                                                <option value="30" ~if $story[holdloop].day eq "30"`selected~/if`>30</option>
                                                <option value="31" ~if $story[holdloop].day eq "31"`selected~/if`>31</option>
                                            </select> / <select name="month">
						 <option value="1" ~if $story[holdloop].month eq "01"`selected~/if`>1</option>
                                                <option value="2" ~if $story[holdloop].month eq "02"`selected~/if`>2</option>
                                                <option value="3" ~if $story[holdloop].month eq "03"`selected~/if`>3</option>
                                                <option value="4" ~if $story[holdloop].month eq "04"` selected~/if`>4</option>
                                                <option value="5" ~if $story[holdloop].month eq "05"`selected~/if`>5</option>
                                                <option value="6" ~if $story[holdloop].month eq "06"`selected~/if`>6</option>
                                                <option value="7" ~if $story[holdloop].month eq "07"`selected~/if`>7</option>
                                                <option value="8" ~if $story[holdloop].month eq "08"`selected~/if`>8</option>
                                                <option value="9" ~if $story[holdloop].month eq "09"`selected~/if`>9</option>
                                                <option value="10" ~if $story[holdloop].month eq "10"`selected~/if`>10</option>
                                                <option value="11" ~if $story[holdloop].month eq "11"`selected~/if`>11</option>
                                                <option value="12" ~if $story[holdloop].month eq "12"`selected~/if`>12</option>
                                             </select> / <select name="year">

						~assign var=thisYear value=$smarty.now|date_format:"%Y"`
                                                ~section name=years start=2005 loop=$thisYear+1 step=1`
                                                        <option value="~$smarty.section.years.index`" ~if $story[holdloop].year eq $smarty.section.years.index`selected~/if`>~$smarty.section.years.index`</option>
                                                ~/section`
                                                </select></td>
        			             <td align="center">&nbsp;</td>
        </tr>
	</table>
	<input type="hidden" name="cid" value="~$cid`">
        <input type="hidden" name="user" value="~$user`">
        <input type="hidden" name="unhold" value="~$UNHOLD`">
	~if $story[holdloop].status eq 'UPLOADED' || $story[holdloop].status eq 'REMOVED'`
	<input type="hidden" name="sid" value="~$story[holdloop].sid`">
		~if $story[holdloop].photo_ss`
		<input type="hidden" name="photo_ss" value="~$story[holdloop].photo_ss`">
		~/if`
	~/if`
	<input type="hidden" name="id" value="~$story[holdloop].id`">
	<input type="hidden" name="sid" value="~$story[holdloop].sid`">
	<input type="hidden" name="mail_name_h" value="~$story[holdloop].name_h`">
	<input type="hidden" name="mail_name_w" value="~$story[holdloop].name_w`">
	<input type="hidden" name="usemail" value="~$story[holdloop].email`">
	<input type="hidden" name="photo" value="~$story[holdloop].photo`">
	~if $search_user_h`
	<input type="hidden" name="search_user_h" value="~$search_user_h`">
	~/if`
	~if $search_user_w`
	<input type="hidden" name="search_user_w" value="~$search_user_w`">
	~/if`
	~if $search_name_h`
	<input type="hidden" name="search_name_h" value="~$search_name_h`">
	~/if`
	~if $search_name_w`
	<input type="hidden" name="search_name_w" value="~$search_name_w`">
	~/if`
	<table width="50%" align="center">
	~if $story[holdloop].status eq 'UPLOADED'`
	
	<tr class="formhead" align="center"><td align="center"><input type="submit" name="remove" value="REMOVE"></td>
                                           <td align="center"><input type="submit" name="accept" value="UPLOAD"></td>
                                                <td align="center">&nbsp;</td>
	~else`
		~if $story[holdloop].status eq 'REMOVED'`
		<tr class="formhead" align="center"><td align="center"><input type="submit" name="accept" value="UPLOAD"></td>
					   <td align="center">&nbsp;</td>
                                           <td align="center">&nbsp;</td>
		~else`
			~if $story[holdloop].status eq 'REJECTED'`
				 <tr class="formhead" align="center"><td align="center"><input type="submit" name="accept" value="UPLOAD" ></td>
			                        
                        			                     <td align="center"><input type="submit" name="hold" value="HOLD"></td>


			~else`	
				<tr class="formhead" align="center"><td align="center"><input type="submit" name="accept" value="UPLOAD" ></td>
                                				    <td align="center"><input type="submit" name="reject" value="REJECT"></td>
                                           			    <td align="center"><input type="submit" name="hold" value="HOLD"></td>
			~/if`
		
		~/if`
	~/if`				
	</table>
	<br />
	</form>
	~/section`
	<br />
	<form action="~$SITE_URL`/jsadmin/screen_success_story.php" method="post">
	<table width="50%" align="center">
	<tr class="formhead" align="center"><td align="center"><input type="submit" name="cancelunhold" value="Cancel"></td></tr>
	<input type="hidden" name="cid" value="~$cid`">
	<input type="hidden" name="user" value="~$user`">
	<input type="hidden" name="unhold" value="~$UNHOLD`">
	</table>
	</form>
	~else`
		~if $UNHOLDMAIL eq "1"`
		<form action="~$SITE_URL`/jsadmin/screen_success_story.php" method="post">
 <table border="0" cellspacing="2" cellpadding="2" align=center><tr><td class="fieldsnew" align="center">Mail to be sent to ~$mail_name_h` and ~$mail_name_w` specifying reason for rejection</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td align="center">
                <textarea name="mail" value ="" cols="50" rows="10" >
                Dear Jeevansathi member,

                Thank you for sending you success story.

                We would request you to send a couple photograph of the wedding and your complete address in India (with phone number) so that we can send you a surprise gift as a token of appreciation from our side.

                Wishing you a happy married life ahead.

                Thanks and regards
                Jeevansathi Team
                </textarea>
                </td></tr>
                <tr><td>&nbsp;</td></tr>
                <input type="hidden" name="cid" value="~$cid`">
                <input type="hidden" name="user" value="~$user`">
                <input type="hidden" name="id" value="~$id`">
		<input type="hidden" name="unhold" value="~$UNHOLD`">
                <input type="hidden" name="useemail" value="~$useemail`">
                <tr><td align="center"><input type ="submit" value="send" name="send"></td></tr>
                </table>
                </form>
		~else`
		 <form name="unhold" action="~$SITE_URL`/jsadmin/screen_success_story.php">
	        ~if $NODATA`<p align="center"><font color="red">You have to enter at least one field!</font>~/if`
        	<table width="50%" align="center" cellspacing="2" cellpadding="2">
	        <tr class="formhead"><td colspan="3" align="center">PLEASE ENTER ONE OR MORE FIELDS</td></tr>
	        <tr class="fieldsnew"><td class="label" align="center">Story Id</td>
        	        <td align="center"><input type="text" name="STORY_ID" value="~$sid`"></td>
	        </tr>

        	<tr class="fieldsnew"><td class="label" align="center">User ID of Husband</td>
                <td align="center"><input type="text" name="search_user_h" value="~$search_user_h`"></td>
	        </tr>
        	<tr class="fieldsnew"><td class="label" align="center">User ID of Wife</td>
                <td align="center"><input type="text" name="search_user_w" value="~$search_user_w`"></td>
	        </tr>
        	<tr class="fieldsnew"><td class="label" align="center">Husband's name</td>
                <td align="center"><input type="text" name="search_name_h" value="~$search_name_h`"></td>
	        </tr>
        	<tr class="fieldsnew"><td class="label" align="center">Wife's name</td>
                 <td align="center"><input type="text" name="search_name_w" value="~$search_name_w`"></td>
	        </tr>
        	<tr class="fieldsnew"><td class="label" colspan="3" align="center"><input type="submit" value="Search" name="unsearch"></td></tr>
	        </table>
        	<input type="hidden" name="cid" value="~$cid`">
	        <input type="hidden" name="user" value="~$user`">
	        <input type="hidden" name="unhold" value="~$UNHOLD`">
	        </form>
        ~if $NOSTORY`<p align="center"><font color="red"><b>No story with given entries exists!</b></font></p>~/if`
		~/if`
	~/if`

~/if`
~if $OFFLINE eq "1"`
<form name="uploadnew" enctype="multipart/form-data" action="~$SITE_URL`/jsadmin/screen_success_story.php" method="post">
<table width=60%  align="center" cellspacing="2" cellpadding="2" >
<tr class="formhead"><td colspan="3" align="center">Please Enter the Follwing Details. Fields Marked with <font color="red">*</font> are compulsory</td><tr>
<tr class="fieldsnew"><td class="label" align="center">USER ID(HUSBAND)</td>
			<td align="center"><input type="text" name="user_h" value="~$user_h`"></td>
			<td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">USER ID(WIFE)</td>
                        <td align="center"><input type="text" name="user_w" value="~$user_w`"></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">NAME(HUSBAND)<font color="red">*</font></td>
                        <td align="center"><input type="text" name="name_h" value="~$name_h`"></td>
                        <td align="center">~if $noname`<font color="red">Please enter atleast one name!</font>~else`&nbsp;~/if`</td></tr>
<tr class="fieldsnew"><td class="label" align="center">NAME(WIFE)<font color="red">*</font></td>
                        <td align="center"><input type="text" name="name_w" value="~$name_w`"></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">WEDDING DATE</td>
                        <td align="center"><select name="day">
						<option value="1" ~if $day eq '1'`selected~/if`>1</option>
						<option value="2" ~if $day eq '2'`selected~/if`>2</option>
						<option value="3" ~if $day eq '3'`selected~/if`>3</option>
						<option value="4" ~if $day eq '4'`selected~/if`>4</option>
						<option value="5" ~if $day eq '5'`selected~/if`>5</option>
						<option value="6" ~if $day eq '6'`selected~/if`>6</option>
						<option value="7" ~if $day eq '7'`selected~/if`>7</option>
						<option value="8" ~if $day eq '8'`selected~/if`>8</option>
						<option value="9" ~if $day eq '9'`selected~/if`>9</option>
						<option value="10" ~if $day eq '10'`selected~/if`>10</option>
						<option value="11" ~if $day eq '11'`selected~/if`>11</option>
						<option value="12" ~if $day eq '12'`selected~/if`>12</option>
						<option value="13" ~if $day eq '13'`selected~/if`>13</option>
						<option value="14" ~if $day eq '14'`selected~/if`>14</option>
						<option value="15" ~if $day eq '15'`selected~/if`>15</option>
						<option value="16" ~if $day eq '16'`selected~/if`>16</option>
						<option value="17" ~if $day eq '17'`selected~/if`>17</option>
						<option value="18" ~if $day eq '18'`selected~/if`>18</option>
						<option value="19" ~if $day eq '19'`selected~/if`>19</option>
						<option value="20" ~if $day eq '20'`selected~/if`>20</option>
						<option value="21" ~if $day eq '21'`selected~/if`>21</option>
						<option value="22" ~if $day eq '22'`selected~/if`>22</option>
						<option value="23" ~if $day eq '23'`selected~/if`>23</option>
						<option value="24" ~if $day eq '24'`selected~/if`>24</option>
						<option value="25" ~if $day eq '25'`selected~/if`>25</option>
						<option value="26" ~if $day eq '26'`selected~/if`>26</option>
						<option value="27" ~if $day eq '27'`selected~/if`>27</option>
						<option value="28" ~if $day eq '28'`selected~/if`>28</option>
						<option value="29" ~if $day eq '29'`selected~/if`>29</option>
						<option value="30" ~if $day eq '30'`selected~/if`>30</option>
						<option value="31" ~if $day eq '31'`selected~/if`>31</option>
					    </select> / <select name="month">
						<option value="1" ~if $month eq '1'`selected~/if`>1</option>
						<option value="2" ~if $month eq '2'`selected~/if`>2</option>
						<option value="3" ~if $month eq '3'`selected~/if`>3</option>
						<option value="4" ~if $month eq '4'` selected~/if`>4</option>
						<option value="5" ~if $month eq '5'`selected~/if`>5</option>
						<option value="6" ~if $month eq '6'`selected~/if`>6</option>
						<option value="7" ~if $month eq '7'`selected~/if`>7</option>
						<option value="8" ~if $month eq '8'`selected~/if`>8</option>
						<option value="9" ~if $month eq '9'`selected~/if`>9</option>
						<option value="10" ~if $month eq '10'`selected~/if`>10</option>
						<option value="11" ~if $month eq '11'`selected~/if`>11</option>
						<option value="12" ~if $month eq '12'`selected~/if`>12</option>
					     </select> / <select name="year">
						~assign var=thisYear value=$smarty.now|date_format:"%Y"`
						~section name=years start=2005 loop=$thisYear+1 step=1`
							<option value="~$smarty.section.years.index`" ~if $year eq $smarty.section.years.index or $story[holdloop].year eq $smarty.section.years.index`selected~/if`>~$smarty.section.years.index`</option>
						~/section`
						</select></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">HEADING</td>
                        <td align="center"><input type="text" name="heading" value="~$heading`"></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">CONTACT DETAILS</td>
                        <td align="center"><input type="text" name="contact" value="~$contact`"></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">EMAIL of Husband</td>
                        <td align="center"><input type="text" name="email_h" value="~$email_h`"></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">EMAIL of Wife</td>
                        <td align="center"><input type="text" name="email_w" value="~$email_w`"></td>
                        <td align="center">&nbsp;</td></tr>
<tr class="fieldsnew"><td class="label" align="center">MAIN PHOTO</td>
                        <td align="center"><input type="file" name="fullphoto"></td>
                        <td align="center">~if $nopic`<font color="red">Both photos have to be uploaded</font>~else`&nbsp;~/if`</td></tr>
<tr class="fieldsnew"><td class="label" align="center">FRAMED PHOTO</td>
                        <td align="center"><input type="file" name="frame"></td>
                        <td align="center">&nbsp;</td></tr>





<tr class="fieldsnew"><td class="label" align="center">HOME PHOTO</td>
                        <td align="center"><input type="file" name="homephoto"></td>
                        <td align="center">~if $nopic`<font color="red">Both photos have to be uploaded</font>~else`&nbsp;~/if`</td></tr>







<tr class="fieldsnew"><td class="label" align="center">STORY<font color="red">*</font></td>
                        <td align="center"><textarea name="story" rows=10 cols=50>~$story`</textarea></td>
                        <td align="center">~if $nostory`<font color="red">Please enter the story!</font>~else`&nbsp;~/if`</td></tr>
<table>
<br>
<input type="hidden" name="cid" value="~$cid`">
<input type="hidden" name="user" value="~$user`">
<input type="hidden" name="offline" value="~$OFFLINE`"> 
<table width=60% align="center" cellspacing="2" cellpadding="2">
<tr class="fieldsnew"><td class="label" align="center"><input type="submit" name="Upload" value="Upload"></td></tr>
</table>
</form>
<br /><br />
~/if`
~if $VSKIP eq "1"`
	<table width=100% align="CENTER">
	<tr align="CENTER"><td class="formhead" colspan="9" height="23"><b><font size="4" color="blue">Skipped Stories </font></b></td></tr>
	<tr align="CENTER">
        <td class="label" width=15% height="20"><b>Name (Husband)</b></td>
        <td class="label" width=15% height="21"><b>Name (Wife)</b></td>
        <td class="label" width=15% height="21"><b>User ID (Husband)</b></td>
        <td class="label" width=15% height="21"><b>User ID (Wife)</b></td>
        <td class="label" width=15% height="21"><b>Receive Date</b></td>
	<td class="label" width=15% height="21"><b>Skip Comments</b></td>
        <td class="label" width=10% height="21"><b>View </b></td>
	</tr>
	~section name=index loop=$values`
	<tr align="CENTER" bgcolor="#fbfbfb" >
        <td height="21" align="CENTER">~$values[index].name_h`</td>
        <td height="21">~$values[index].name_w`</td>
        <td height="21" align="CENTER">~$values[index].user_h`</td>
        <td height="21">~$values[index].user_w`</td>
        <td height="21">~$values[index].date`</td>
	<td height="21">~$values[index].skip_comments`</td>
        <td height="21"><b><a href="screen_success_story.php?screenskip=1&id=~$values[index].id`&cid=~$cid`&user=~$user`">view</a></td> </b></td>
	</tr>
	~/section`
	<tr bgcolor="#fbfbfb">
        <td colspan="7" height="21">&nbsp; </td>
	</tr>
	<tr>
        <td colspan="7" height="21">&nbsp; </td>
	</tr>
	</table>
~/if`

~if $VSKIP eq "1"`
~/if`

~if $REMOVE eq "1"`
	~if $showformremove eq "1"`
	<form name="removeaction" action="~$SITE_URL`/jsadmin/screen_success_story.php">
	~section name=storyloop loop=$story`
	 <table width="90%" border="0" cellspacing="2" cellpadding="2" align=center>
                <tr class=label>
                <td align=center width=20% >Username [H]</td>
                <td align=center width=20% >Username [W]</td>
                <td align=center width=20% >Name [H]</td>
                <td align=center width=20% >Name [W]</td>
		 <td align=center width=20% >Heading</td>
		</tr>
                <tr align=center class=fieldsnew>
                <td width=20%>~$story[storyloop].user_h`</td>
                <td width=20%>~$story[storyloop].user_w`</td>
                <td width=20%>~$story[storyloop].name_h`</td>
                <td width=20%>~$story[storyloop].name_w`</td>
                 <td width=20%>~$story[storyloop].heading`</td>
                 </tr>
                </table>
                <br />
                <table width="50%" border="0" cellspacing="2" cellpadding="2" align=center>
                <tr align=center class=label><td><b>Success Story</b></td></tr>
                <tr align=center class=fieldsnew>
                <td align="center">~$story[storyloop].story`</td>
                </tr>
                </table>
                <br />
		  <table width="50%" border=0 cellspacing="2" cellpadding="2" align="center">
                ~if $story[storyloop].photo eq "1"`
                <tr class="formhead"><td colspan="2" align="center">Uploaded Photos</td></tr>
                <tr class="fieldsnew"><td width="25%" align="center">Full Photo</td><td width="75%" align="center"><img src="photo_mail_serve.php?sid=~$story[storyloop].sid`" height="200" width="150"></img></td></tr>
		<tr class="fieldsnew"><td width="25%" align="center">Framed Photo</td><td align="center"><img src="~$SITE_URL`/success/images_06_05/~$story[storyloop].sid`_sm.jpg?~$rand`" height="200" width="150"></img><td></tr>
                ~else`
                <tr class="formhead"><td align="center">No Photo Uploaded</td></tr>
                ~/if`
                </table>
        	<br />
		 <input type="hidden" name="sid" value="~$story[storyloop].sid`">
                <input type="hidden" name="id" value="~$story[storyloop].id`">
                 <input type="hidden" name="cid" value="~$cid`">
                <input type="hidden" name="user" value="~$user`">
                <input type="hidden" name="Remove" value="~$REMOVE`">
		 <table align="center" width="50%" cellspacing="2" cellpadding="2">
                <tr class="formhead">
                <td align="center"><input type="submit" value="Remove" name="doremove"></input></td>
                </tr>
                </table>
		<br /><br />
		~/section`
		 <table align="center" width="50%" cellspacing="2" cellpadding="2">
                <tr class="formhead">
                <td align="center"><input type="submit" value="Cancel" name="cancelremove"></input></td>
                </tr>
                </table>
		</form>
	
	~else`	
	<form name="remove" action="~$SITE_URL`/jsadmin/screen_success_story.php">
	~if $NODATA`<p align="center"><font color="red">You have to enter atleast one field!</font>~/if`
	<table width="50%" align="center" cellspacing="2" cellpadding="2">
	<tr class="formhead"><td colspan="3" align="center">PLEASE ENTER ONE OR MORE FIELDS</td></tr>
        <tr class="fieldsnew"><td class="label" align="center">Story Id</td>
                <td align="center"><input type="text" name="STORY_ID" value="~$sid`"></td>
        </tr>

	<tr class="fieldsnew"><td class="label" align="center">User ID of Husband</td>
		<td align="center"><input type="text" name="user_h" value="~$user_h`"></td>
	</tr>
	<tr class="fieldsnew"><td class="label" align="center">User ID of Wife</td>
                <td align="center"><input type="text" name="user_w" value="~$user_w`"></td>
	</tr>
	<tr class="fieldsnew"><td class="label" align="center">Enter Husband's name</td>
                       <td align="center"><input type="text" name="name_h" value="~$name_h`"></td>
	</tr>
	<tr class="fieldsnew"><td class="label" align="center">Enter Wife's name</td>
        	       <td align="center"><input type="text" name="name_w" value="~$name_w`"></td>
	</tr>
	<tr class="fieldsnew"><td class="label" colspan="3" align="center"><input type="submit" value="Search" name="search"></td
	></tr>
	</table>
	<input type="hidden" name="cid" value="~$cid`">
	<input type="hidden" name="user" value="~$user`">
	<input type="hidden" name="Remove" value="~$REMOVE`">
	</form>
	~if $NOTUP`<p align="center"><font color="red"><b>This story is not uploaded!</b></font></p>~/if`
	~if $NOSTORY`<p align="center"><font color="red"><b>No story with given entries exists!</b></font></p>~/if`
	~/if`
~/if`
	
~if $SCREEN eq "1"`
		~if $photo eq "1"`
		  <form name="screen" enctype="multipart/form-data" action="~$SITE_URL`/jsadmin/screen_success_story.php" method="POST">
		~else`
  		 <form action="~$SITE_URL`/jsadmin/screen_success_story.php" method="POST">
		~/if`
		  <table width="90%" border="0" cellspacing="2" cellpadding="2" align=center>
		~if $showformskip neq 1`<tr class=label>
		<td align=center colspan=8>Success Stories left to be screened:<b> ~$row_total`</b>
		</tr>
		~/if`
	        <tr class=label>
	        <td align=center width=10% >Username [H]</td>
        	<td align=center width=10% >Username [W]</td>
		<td align=center width=10% >Name [H]</td>
	        <td align=center width=10% >Name [W]</td>
		<td align=center width=10% >Email</td>
        	<td align=center width=10% >Contact Detail</td>
	        <td align=center width=10% >Wedding Date</td>
		<td align=centre width=10% >Upload Date & Time</td>
		</tr>
		<tr align=center class=fieldsnew>
                <td width=10%>~$user_h`</td>
        	<td width=10%>~$user_w`</td>
	        <td width=10%>~$name_h`</td>
		<td width=10%>~$name_w`</td>
        	<td width=10%>~$email`</td>
	        <td width=10%>~$contact`</td>
	        <td width=10%>~$wedding_date`</td>
                <td width=10%>~$dateandtime`</td>
                </tr>
	        </table>
		~if $NOSTORY`
		<p align="center"><font color="red">Story cant be blank!</font></p>
		~/if`
		~if $NOPIC`
		<p align="center"><font color="red">You have to upload or delete both pictures!</font></p>
		~/if`
        	<table width="50%" border="0" cellspacing="2" cellpadding="2" align=center>
	        <tr align=center class=label><td><b>Success Story</b></td></tr>
        	<tr align=center class=fieldsnew>
	        <td><textarea name="story" cols="50" rows="10">~$comments`</textarea></td>
        	</tr>
                </table>
		<br />
		 <table width="50%" border=0 cellspacing="2" cellpadding="2" align="center">
		~if $photo eq "1"`
		<tr class="formhead"><td align="center">Uploaded Photo</td></tr>
		<tr class="fieldsnew"><td align="center"><img src="photo_mail_serve.php?id=~$id`"></td></tr>
		<tr class="fieldsnew" height="50px"><td align="center"><input type="checkbox" name="delete" ~if $delete` checked ~/if`>Delete photo</td></tr>
		~else`
                <tr class="formhead"><td align="center">No Photo Uploaded</td></tr>
		~/if`
		</table>
		<br /><table width="50%" align="center" cellspacing="2" cellpadding="2">
		                <tr><td>&nbsp;</td></tr>
                 <tr class="formhead"><td align="center">YEAR</td>
                <td><select name =year >~$YEAR`</select></td>
                </tr>
		</table><br>
		~if $photo eq "1"`
		<table width="50%" align="center" cellspacing="2" cellpadding="2">
		<tr class="formhead" align="center"><td colspan="2" align="center">Please Screen Photos and Upload</td></tr>
		<tr class="fieldsnew"><td align="center">Framed Main Page Photo</td>
		<td><input name="frame" type="file"></td>
		</tr>
		 <tr class="fieldsnew"><td align="center">Full Size Photo</td>
                <td><input name="fullphoto" type="file"></td>
                </tr>



		 <tr class="fieldsnew"><td align="center">HOME Photo</td>
                <td><input name="homephoto" type="file"></td>
                </tr>



		

		</table>
		<br />
		~/if`
		<input type="hidden" name="name_h" value="~$name_h`">
                <input type="hidden" name="name_w" value="~$name_w`">
                <input type="hidden" name="user_h" value="~$user_h`">
                <input type="hidden" name="user_w" value="~$user_w`">
		<input type="hidden" name="username" value="~$username`">
                <input type="hidden" name="cid" value="~$cid`">
                <input type="hidden" name="user" value="~$user`">
                <input type="hidden" name="photo" value="~$photo`">
                <input type="hidden" name="id" value="~$id`">
                <input type="hidden" name="comments" value="~$comments`">
		<input type="hidden" name="email" value="~$email`">
		~if $YEAR eq ''`<input type="hidden" name="year" value="~$year`">~/if`
		~if $showformskip eq "1"`
		<input type="hidden" name="skip" value="1">
		~/if`
		<table align="center" width="50%" cellspacing="2" cellpadding="2">
		<tr class="formhead">
		~if $photo eq "1"`
		<td align="center" width="25%"><input type="submit" value="Accept" name="Accept"></input></td>
		~else`
		<td align="center" width="25%"><input type="submit" value="Accept" name="Accept"></input></td>
		~/if`
		 <td align="center" width="25%"><input type="submit" value="Hold" name="Hold"></input></td>
		 <td align="center" width="25%"><input type="submit" value="Reject" name="Reject"></input></td>
		~if $showformskip neq "1"`
		 <td align="center" width="25%"><input type="submit" value="Skip" name="Skip"></input></td>
		~/if`
		</tr>
		</table>
</form>
~/if`

~if $MAIL eq "1"`
 <form action="~$SITE_URL`/jsadmin/screen_success_story.php" method="post">
 <table border="0" cellspacing="2" cellpadding="2" align=center><tr><td class="fieldsnew" align="center">Mail to be sent to ~$name_h` and ~$name_w` specifying reason for rejection</td></tr>
	        <tr><td>&nbsp;</td></tr>
        	<tr><td align="center">
	        </td></tr>
        	<tr><td>&nbsp;</td></tr>
	        <input type="hidden" name="cid" value="~$cid`">
		<input type="hidden" name="id" value="~$id`">
		<input type="hidden" name="user" value="~$user`">	
		<input type="hidden" name="email" value="~$email`">
		~if $skip eq "1"`
		<input type="hidden" name="skip" value="~$skip`">
		~/if`
        	<tr><td align="center"><input type ="submit" value="Send" name="Send"></td></tr>
	        </table>
        	</form>

~/if`
</body>
</html>
