<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Jeevansathi.com</title>
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
~include file='head.htm'`
<br>
<table width=760 align="center">
<tr class="formhead">
<td align="center">S No.</td>
<td align="center">Username</td>
<td align="center">Bill ID</td>
<td align="center">Service</td>
<td align="center">Email</td>
<td align="center">Status</td>
<td align="center">Entry Date</td>
<td align="center">Walkin</td>
</tr>
~section name=sec loop=$arr`
	<tr class="fieldsnew">
		<td align="center">~$smarty.section.sec.index_next`</td>
		<td align="center">~$arr[sec].username`</td>
		<td align="center">~$arr[sec].billid`</td>
		<td align="center">~$arr[sec].service_name`</td>
		<td align="center">~$arr[sec].email`</td>
		<td align="center">~$arr[sec].status`</td>
		<td align="center">~$arr[sec].entrydt`</td>
		<td align="center">~$arr[sec].walkin`</td>
	</tr>
~/section`
</table>
<br>
</body>
</html>
