<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Jeevansthi.com :: Special Discounts</title>
</head><body>
<table width="600" align="center" bgcolor="#9b0b0b" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td colspan="3"><img src="~$IMG_URL`/profile/images/sd_img1.gif" usemap="#Map" height="70" hspace="0" vspace="0" width="600" align="left" border="0"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="~$IMG_URL`/profile/images/sd_img2.jpg" height="135" hspace="0" vspace="0" width="600" align="left"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="600" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td><img src="~$IMG_URL`/profile/images/sd_img3.jpg" height="164" hspace="0" vspace="0" width="59" align="left"></td>
        <td valign="top" width="136" align="center" background="~$IMG_URL`/profile/images/sd_img4.jpg" bgcolor="#fff3e3" style="text-align:center;"><span style="font-family: 'Times New Roman',Times,serif; font-size: 56px;"><strong>~$discount`%</strong></span><br>
<span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 22px;">Discount&nbsp;</span></td>
        <td style="font-family: 'Times New Roman',Times,serif; color: rgb(255, 255, 255); padding-bottom: 8px;" valign="bottom" width="350" align="left" background="~$IMG_URL`/profile/images/sd_img5.jpg" bgcolor="#9b0b0b"><span style="font-size: 22px;">Jeevansathi.com offers</span> <br> 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 34px;">you a special discount</span><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; <span style="font-size: 34px;">of ~$discount`%</span></td>
        <td><img src="~$IMG_URL`/profile/images/sd_img6.jpg" height="164" hspace="0" vspace="0" width="55" align="left"></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="~$IMG_URL`/profile/images/sd_img7.jpg" height="32" hspace="0" vspace="0" width="600" align="left"></td>
  </tr>
  <tr>
    <td valign="top" background="~$IMG_URL`/profile/images/sd_bg_1.gif"><img src="~$IMG_URL`/profile/images/sd_img8.jpg" height="181" hspace="0" vspace="0" width="59" align="left"></td>
    <td valign="top" width="486" align="center" bgcolor="#ffffff" style="text-align:left;"><table width="428" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align:left;">
      <tbody><tr>
        <td colspan="2" style="font-family: Arial,Helvetica,sans-serif; font-size: 15px;">Dear ~$username`,</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" style="font-family: Arial,Helvetica,sans-serif; font-size: 15px; line-height: 23px;">Congratulations! You have been selected for a<br> 
          <em><b style="color: rgb(201, 4, 4); font-size: 17px;">special discount of ~$discount`%</b></em> by the Jeevansathi.com team.<br>
          Please click below to become a paid member and avail the special discount.
          <br>
          <br>
          You can enjoy the following benefits as a paid member:</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 15px 0px 15px 10px; font-family: Arial,Helvetica,sans-serif; font-size: 14px;" bgcolor="#f5f4df">          
<img src="~$IMG_URL`/profile/images/sd_bullet.gif" height="8" hspace="10" vspace="10" width="4" align="absmiddle">View contact details of members<br>
<img src="~$IMG_URL`/profile/images/sd_bullet.gif" height="8" hspace="10" vspace="10" width="4" align="absmiddle">Initiate and respond to chats <br>
<img src="~$IMG_URL`/profile/images/sd_bullet.gif" height="8" hspace="10" vspace="10" width="4" align="absmiddle">Send and reply email messages <br>
<img src="~$IMG_URL`/profile/images/sd_bullet.gif" height="8" hspace="10" vspace="10" width="4" align="absmiddle">Send your phone number &amp; email id to members you like <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; via personal messages <br></td>
      </tr>
      <tr>
        <td colspan="2" valign="top" align="center"><center><img src="~$IMG_URL`/profile/images/sd_hurry_txt.gif" height="51" width="135"></center></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><table width="387" align="center" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td height="40" valign="middle" align="center" background="~$IMG_URL`/profile/images/sd_button.gif" bgcolor="#f7d422"><a href="~$SITE_URL`/profile/mem_comparison.php?from_source=vd_mail&echecksum=~$echecksum`&checksum=~$profilechecksum`" style="padding: 10px 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(135, 5, 5); text-decoration: none; display: block;text-align:center;"><strong>Become a paid member now to avail ~$discount`% discount</strong></a></td>
          </tr>
        </tbody></table></td>
	</tr>
	<tr>
        <td colspan="2" style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(74, 73, 73);" height="30" valign="middle" align="center"><center>Offer valid only till ~$edate`.</center></td>
      </tr>
      <tr>
        <td colspan="2" height="30"></td>
      </tr>
      <tr>
        <td style="font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px;text-align:left;"><span style="line-height: 22px;">Regards,<br>
<span style="color: rgb(196, 21, 28);"><strong>Jeevansathi</strong></span><strong><span style="color: rgb(1, 0, 0);">.com</span></strong> Team</span></td>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(150, 150, 150);" align="right">*Conditions Apply</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    </tbody></table></td>
    <td valign="top" background="~$IMG_URL`/profile/images/sd_bg_2.gif"><img src="~$IMG_URL`/profile/images/sd_img9.jpg" height="181" hspace="0" vspace="0" width="55" align="right"><br>
    <br>
    <br>
    <br></td>
  </tr>
  <tr>
    <td valign="top" background="~$IMG_URL`/profile/images/sd_bg_1.gif">&nbsp;</td>
    <td style="padding: 15px 0px 5px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(255, 255, 255); line-height: 18px;" valign="middle" align="center" bgcolor="#9c0b0b"><center><strong>PAN India Toll free</strong> : 1800 419 6299 <br>
      <strong>Noida</strong> : 0120-4393500  <br>
      <strong>Mumbai</strong> : 022-67029730, 022-67029732, 09324086055, 09323141740  <br>
      <strong>Pune</strong> : 020-41407101, 9370279665 <br>
      <strong>Bangalore</strong> : 080-40439009, 080- 40439008, 9342232688  <br>
      <strong>Hyderabad</strong> : 040-44751014/9703938224  <br>
      <strong>Chennai</strong> : 044-42977412, 09342232688<center></td>
    <td valign="top" background="~$IMG_URL`/profile/images/sd_bg_2.gif">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(84, 84, 84);" height="66" valign="middle" align="center" background="~$IMG_URL`/profile/images/sd_footer.jpg"><center>100% Profile Screening &nbsp; &nbsp; | &nbsp; &nbsp; 50 Lakh Members &nbsp; &nbsp; | &nbsp; &nbsp; Privacy Options <center></td>
  </tr>
</tbody></table>

<map name="Map" id="Map"><area shape="rect" coords="37,11,269,68" href="http://www.jeevansathi.com/" target="_blank" alt="Jeevansathi.com">
</map></body></html>
