<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Jeevansathi Matrimonials</title>
        <link rel="stylesheet" href="jeevansathi.css" type="text/css">
</head>
<body>
	<p align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" align="center" border="0"></p>
	 <table cellpadding="4" cellspacing="4" border="0" width="90%" align="center">
                <tr class="formhead" align="center">
                        <td><b>Search User for 40 % Discount</b></td>
                </tr>
                <tr class="fieldsnew" align="center">
                        <td><a href="mainpage.php?cid=~$cid`">Mainpage</a></td>
                </tr>
        </table>
	<form action="special_discount.php?cid=~$cid`" name="form1" method="post">
	<table cellpadding="4" cellspacing="4" border="0" width="50%" align="center">
	<tr class="formhead" align="center">
		<td>
			Search
			<input type="text" name="phrase">
		</td>
		<td>
			Username
		</td>
		<td>
			<input type="submit" name="submit" value="GO">
		</td>
	</tr>
	<tr class="fieldsnew" align="center">
		<td colspan="3">
			~if $RESULT_FOUND`
				~if $FOUND`
					<font color="green" size="6" face="Arial">
						~$username` can avail 40 % discount till ~$DATE`.
					</font>
				~else`
					<font color="red" size="6" face="Arial">
						~$username` cannot avail 40 % discount.
					</font>
				~/if`
			~elseif $NO_RESULT_FOUND`
				<font color="blue" size="6" face="Arial">
					Username is invalid.
				</font>
			~/if`
		</td>
	</tr>
	<input type="hidden" name="cid" value="~$cid`">
	</form>
</body>
</html>
