<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Jeevansathi Matrimonials</title>
        <link rel="stylesheet" href="jeevansathi.css" type="text/css">
</head>
<body>
	<p align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" align="center" border="0"></p>
	 <table cellpadding="4" cellspacing="4" border="0" width="90%" align="center">
                <tr class="formhead" align="center">
                        <td><b>Search User for variable Special Discount</b></td>
                </tr>
                <tr class="fieldsnew" align="center">
                        <td><a href="mainpage.php?cid=~$cid`">Mainpage</a></td>
                </tr>
        </table>
	<form action="special_var_discount.php?cid=~$cid`" name="form1" method="post">
	<table cellpadding="4" cellspacing="4" border="0" width="50%" align="center">
	<tr class="formhead" align="center">
		<td>
			Search
			<input type="text" name="phrase">
		</td>
		<td>
			Username
		</td>
		<td>
			<input type="submit" name="submit" value="GO">
		</td>
	</tr>
	<tr align="center">
		<td class="fieldsnewgreen">Green band represents currently active discount</td>
		<td class="red">Red font represents discount is expired</td>
	</tr>
	<tr align="center">
	<td><br></td>
	</tr>
	<tr class="fieldsnew" align="center">
		<td colspan="3">
			~if $RESULT_FOUND`
				~if $FOUND`
				<table cellpadding="2" cellspacing="2" border="1" width="100%" align="center">
				<tr class="formhead">
				<td width='35%' align="center">Start Date</td>
				<td width='35%' align="center">End Date</td>
				<td width='30%' align="center">Discount</td>
				~section name=next loop=$DATA`
					<tr ~if $DATA[next].ACTIVE eq '1'`class="fieldsnewgreen"~elseif $DATA[next].ACTIVE eq '2'`class="red"~else`class="fieldsnew "~/if` >
					<td width='35%' align="center">~$DATA[next].SDATE`</td>
					<td width='35%' align="center">~$DATA[next].EDATE`</td>
					<td width='30%' align="center">~$DATA[next].DISC`</td>
					</tr>
				~/section`
				</table>
				~else`
					<font color="red" size="6" face="Arial">
						~$username` cannot avail 40 % discount.
					</font>
				~/if`
			~elseif $NO_RESULT_FOUND`
				<font color="blue" size="6" face="Arial">
					Username is invalid.
				</font>
			~/if`
		</td>
	</tr>
	<input type="hidden" name="cid" value="~$cid`">
	</form>
</body>
</html>
