<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {
	font-family: Verdana;
	font-size: 12px;
}
.style2 {font-size: 12px;
	font-family: Arial;
}
.style3 {font-family: Arial;
	font-size: 13px;
}

-->
</style>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#000000">
  <tr>
    <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <td><img src="http://www.jeevansathi.com/mailer/images/expiry_reminder.gif" width="600" height="218"></td>
      </tr>
      <tr>
        <td><table width="600" border="0" cellspacing="1" cellpadding="1">
          <tr>
            <td width="238">&nbsp;</td>
           <td width="355" class="style1">Dear ~$USERNAME`,<br>
              <br>
              This is to remind you that your membership expires today. We are sure, you would have made some wonderful contacts through jeevansathi.com and if you would like to continue your search for your dream partner (we have over 5 lakh profiles to choose from) then <a href="http://www.jeevansathi.com/membership/jspc" target="_blank"><b>re-new your membership</b></a>. 
              <br>
                <br>
                If you would like to delete your profile (and we hope, the reason you want to, is because you have found your soul mate), then <a href="http://www.jeevansathi.com/profile/deleteprofile.php?checksum=&mail=Y" target="_blank"><b>click here</b></a>.
               <br>
  <br>
          
          <strong>Warm regards,</strong><br>
          <br>
          <table width="263" border="0" cellspacing="0" cellpadding="0">
           <tr>
            <td width="174" height="47"><span class="style2"><img src="http://www.jeevansathi.com/profile/images/logo_mailer.gif" width="173" height="47"></span></td>
            <td width="89"><table width="79" border="0" cellspacing="0" cellpadding="0">
              <tr>
               <td width="79" height="4"><b>Team</b> </td>
              </tr>
              <tr>
               <td height="4"></td>
              </tr>
            </table></td>
           </tr>
          </table>
          <br>
          <span class="style2"></span></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><div align="center" class="style3"><a href="http://www.jeevansathi.com/profile/unsubscribe.php?checksum=&mail=Y">Unsubscribe</a></div></td>
  </tr>
</table>
</body>
</html>
