<html>
<head>
<title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
~$HEAD`
<br>
<table width=760 cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr class="formhead">
          <td width=55% class="formhead" border=1><font><b>Welcome : </b></font></td>
          <td width="35%" class="formhead" align="center"><a href="mainpage.php?name=&cid=~$CID`">Main Page</a></td>

          <td width=10% class="formhead" border=1 align='CENTER'><a href="logout.php?cid=~$CID`">Logout</a></td>
    </tr>
</table>

<br>
<table width="70%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tbody>
	<tr class="label">
        <td valign="top" width="20%">TH : Total Hits</td>
        <td valign="top" width="20%">CP : Completed Profiles</td>
        <td valign="top" width="20%">IP : Incomplete Profiles</td>
	<td valign="top" width="20%">DP : Deleted Profiles</td>
	<td valign="top" width="20%">PAID : Paid Profiles</td>
	</tr>
	</tbody>
</table>

<br>
<table width=100% border=0 align=center>
	<tr class="formhead">
	<td align=center width=20%>Username</td>
	<td align=center width=20%>Source</td>
	<td align=center width=20%>Modify Password</td>
	<td align=center width=20%>Modify Privileges</td>
	<td align=center width=20%>Delete User</td>
	</tr>

	~section name=i loop=$ROWS`
	
	<tr class="fieldsnew">
	<td align=center width=20%>~$ROWS[i].USERNAME`</td>
	<td align=center width=20%>~$ROWS[i].GROUPNAME`</td>
	<td align=center width=20%><a href="tieups_modify_passwd.php?cid=~$CID`&resid=~$ROWS[i].RESID`&flag=edit">~$ROWS[i].PASSWORD`&nbsp;</a></td>
	<td align=center width=20%><a href="tieups_modify_privileges.php?cid=~$CID`&resid=~$ROWS[i].RESID`">~$ROWS[i].PRIVILAGE`&nbsp;</a></td>
	<td align=center width=20%><a href="tieups_modify_passwd.php?cid=~$CID`&resid=~$ROWS[i].RESID`&flag=delete" onClick="return confirm('Are you sure you want to delete?')">Delete</a></td>
	</tr>
	
	~/section`

</table>
</body>
</html>
