<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>JeevanSathi</title>
  <link rel="stylesheet" href="jeevansathi.css" type="text/css">
  <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
<script language="javascript">
<!--
function MM_openBrWindow(theURL,winName,features)
{
        window.open(theURL,winName,features);
}
function go()
{
	document.getElementById("sub").style.display="none";
	document.getElementById("process").style.display="block";	
}
//-->
</script>
 </head>
 ~include file="head.htm"`
 <br>
 <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
   <tr width=100% border=1>
    <td width=30% class="formhead" height="23" align="center"><font><b>Welcome :~$name`</b></font></td>
    <td width=30% class="formhead" align='CENTER' height="23">
     <a href="mainpage.php?cid=~$cid`">Click here to go to mainpage</a>
    </td>
    <td width=30% class="formhead" align='CENTER' height="23">
     <a href="logout.php?cid=~$cid`">Logout</a>
    </td>
   </tr>
  </table>
	<form name="form1" action="upsell_profiles_transfer.php?name=~$name`&cid=~$cid`" method="post">
	~if $msg eq ''`
        <table width=760 align="center">
                <tr class="formhead">
                        <td align="center" width="50%">&nbsp;Transfer profiles of
				<select name="day">
					~section name=val loop=$day_arr`
                                		<option value=~$day_arr[val]`>~$day_arr[val]`</option>
                        		~/section`
                		</select>
				<select name="month">
                                        ~section name=val loop=$month_arr`
                                                <option value=~$month_arr[val]`>~$month_arr[val]`</option>
                                        ~/section`
                                </select>
				<select name="year">
                                        ~section name=val loop=$year_arr`
                                                <option value=~$year_arr[val]`>~$year_arr[val]`</option>
                                        ~/section`
                                </select>
			</td>
                </tr>
		<tr>
			<td align="center" width="50%">
		                <select name="transfer_of">
                		        ~section name=val loop=$agent_arr`
                                		<option value=~$agent_arr[val]`>~$agent_arr[val]`</option>
		                        ~/section`
                		</select> to
                		<select name="transfer_to">
		                        ~section name=val loop=$agent_arr`
                		                <option value=~$agent_arr[val]`>~$agent_arr[val]`</option>
		                        ~/section`
		                </select>
                	</td>
		</tr>
		<tr align="CENTER" class="fieldsnew" id="sub" style="display:block;">
		      <td colspan="2"><input type="submit" name="Submit" value="Transfer" onclick="go();">&nbsp;&nbsp;&nbsp;</td>
     		</tr>
		<tr align="CENTER" class="fieldsnew" id="process" style="display:none;">
                      <td colspan="2">Profile transferring please wait...&nbsp;&nbsp;&nbsp;</td>
                </tr>
        </table>
	~else`<p align="center">~$msg`</p>~/if`
	</form>

  <br><br><br><br>
  ~include file="foot.htm"`
 </body
</html>
