<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Jeevansathi.com - We Match Better</title>
	</head>
<body>
	<table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
		    <td width="20" bgcolor="#e5e4e0"></td>
		    <td height="15" bgcolor="#e5e4e0"></td>
		    <td width="20" bgcolor="#e5e4e0"></td>
		</tr>
		<tr>
		    <td bgcolor="#e5e4e0"></td>
		    <td style="border-width: 3px 3px 0px; border-style: solid solid none; border-color: rgb(253, 253, 253) rgb(253, 253, 253) -moz-use-text-color;" height="71">
		   <table width="554" border="0" cellpadding="0" cellspacing="0">
		    <tbody>
 		    	<tr>
			    <td><a href="~$SITE_URL`" target="_blank"><img src="~$IMG_URL`/profile/images/vd_mailer/logo.gif" alt="Jeevansathi.com - We Match Better" style="color: rgb(0, 0, 0); font-size: 16px;" height="71" hspace="0" vspace="0" width="248" align="right" border="0"></a>
			    </td>
			    <td height="71" width="306" background="~$IMG_URL`/profile/images/vd_mailer/img1.gif"><div style="padding-right: 20px; font-family: Arial,Helvetica; font-size: 13px; color: rgb(83, 80, 80); text-align: right; line-height: 40px;">a <a href="https://www.naukri.com/" target="_blank" style="color: rgb(83, 80, 80); text-decoration: none;">naukri.com</a> venture</div>
			    </td>
			  </tr>
		    </tbody>
		   </table>
		</td>
		<td bgcolor="#e5e4e0"></td>
	    </tr>
    <tr>
   	 <td colspan="3">
	 <table width="600" border="0" cellspacing="0" cellpadding="0" height="160" background="~$IMG_URL`/profile/images/vd_mailer/js_coup.jpg">
		 <tbody>
		    <tr>
			<td width="307">&nbsp;</td>
			<td width="293"><font face="Arial, Helvetica, sans-serif" style="font-size:16px;">Jeevansathi offers you</font><br />
				<font style="font:bold 21px Arial, Helvetica, sans-serif">special discount of</font> <font style="font:bold 26px Arial, Helvetica,sans-serif;">~$discount`%</font>
			</td>
		    </tr>
		 </tbody>
	 </table>
  	</td>
  </tr>
  </tbody></td></tr>
  <tr>
    <td bgcolor="#e5e4e0"></td>
    <td style="border-right: 3px solid rgb(253, 253, 253); border-left: 3px solid rgb(253, 253, 253); border-width: 0px 3px; border-style: none solid; border-color: -moz-use-text-color rgb(253, 253, 253);"><img src="~$IMG_URL`/profile/images/vd_mailer/img4.gif" height="26" hspace="0" vspace="0" width="554" align="left"></td>
    <td bgcolor="#e5e4e0"></td>
  </tr>
  <tr>
    <td bgcolor="#e5e4e0"></td>
    <td style="border-right: 3px solid rgb(253, 253, 253); border-left: 3px solid rgb(253, 253, 253); border-width: 0px 3px; border-style: none solid; border-color: -moz-use-text-color rgb(253, 253, 253); font-size: 13px; color: rgb(0, 0, 0); font-family: Arial,Helvetica;"><table width="554" border="0" cellpadding="0" cellspacing="0">

    <tbody>
    	<tr>
	    <td width="15"></td>
	    <td>Dear Member,<br>
	    <br>
	    <span style="font-size: 15px;">Congratulations!</span> You have been selected for a <b style="color: rgb(142, 0, 29); font-size: 15px;">special discount of ~$discount`%</b> by the Jeevansathi.com team. Please click below to become a paid member and avail the special discount.</td>
	    <td width="10"></td>
	</tr>
	<tr><td colspan="3" height="16"></td></tr>
	<tr>
	    <td></td>
	    <td>
	    <table style="font-family: Arial,Verdana; font-size: 14px; text-align: center;" align="left" border="0" cellpadding="0" cellspacing="0">
	    <tbody>
	    	<tr>
	    		<td style="line-height: 25px; font-size: 14px; color: rgb(142, 0, 29);" height="20" valign="top" align="left">&nbsp;&nbsp;<b>Hurry!</b>
	    		</td> 
	    	</tr>
	    	<tr>
	    		<td style="font-family: Arial,Verdana; font-size: 15px; text-align: center; height: 44px;" height="44" width="244"
			align="center" background="~$IMG_URL`/profile/images/vd_mailer/button.gif" bgcolor="#870502"><a href="~$SITE_URL`/profile/mem_comparison.php?from_source=vd_mail&echecksum=~$echecksum`&checksum=~$profilechecksum`" title="Register FREE" target="_blank" style="text-decoration: none; color: rgb(255, 247, 227); line-height: 44px; font-size: 15px; display: block;"><b>Become a paid member now</b></a>
			</td>
	   	 </tr>
	    	 <tr>
	        	<td style="line-height: 25px;" height="25" valign="top" align="center"><i>Offer valid till ~$edate`</i></td>
            	</tr>
	    </tbody>
	    </table>
	    </td>
	    
	    <td></td>
	</tr>
	<tr><td colspan="3" height="22"></td></tr>
        <tr>
   	 <td></td>
	    <td>Enjoy the various <b style="color: rgb(142, 0, 29); font-size: 15px;">benefits of being a paid member</b> by availing Jeevansathi.com's subscription at a special discounted price.
	    </td>
	 <td></td>
	</tr>
	<tr><td colspan="3" height="22"></td></tr>
 	<tr>
	    <td></td>
	    <td bgcolor="#f7f7f6"><table width="529" background="~$IMG_URL`/profile/images/vd_mailer/img5.gif" border="0" cellpadding="0" cellspacing="0">
	    <tbody>
	    	<tr>
		  	<td rowspan="2" width="12"></td>
		 	<td width="90"><img src="~$IMG_URL`/profile/images/vd_mailer/icon1.gif" height="66" hspace="0" vspace="2" width="87" align="left"></td>
			<td width="170">View <b style="color: rgb(128, 18, 18);">phone numbers</b> and <b style="color: rgb(128, 18, 18);">email id's</b> of members
			</td>
			<td rowspan="2" width="3"><img src="~$IMG_URL`/profile/images/vd_mailer/img6.gif" height="137" hspace="0" vspace="0" width="3" align="left">
			</td>
			<td width="87"><img src="~$IMG_URL`/profile/images/vd_mailer/icon2.gif" height="66" hspace="0" vspace="2" width="87" align="left"></td>
			<td width="179">Initiate and respond to <b style="color: rgb(128, 18, 18);">chats</b></td>
		</tr>
		<tr>
			<td>
				<img src="~$IMG_URL`/profile/images/vd_mailer/icon3.gif" height="66" hspace="0" vspace="2" width="87" align="left">
			</td>
			<td>
				Send and receive <b style="color: rgb(128, 18, 18);">personalized messages</b>
			</td>
			 <td><img src="~$IMG_URL`/profile/images/vd_mailer/icon4.gif" height="66" hspace="0" vspace="2" width="87" align="left"></td>
		   	 <td>Get more visibility as a <b style="color: rgb(128, 18, 18);">featured profile</b></td>
	       </tr>
	    </tbody>
	  </table>
     </td>
     <td></td>
     </tr>
     <tr>
     	<td colspan="3" height="22"></td>
     </tr>
     <tr>
	    <td></td>
    	    <td>&nbsp;</td>
            <td></td>
     </tr>
     <tr>
	    <td></td>
	    <td>Best Wishes,<br><b style="color: rgb(196, 21, 28);">Jeevansathi</b><span style="font-size: 1px;"> </span>.<b>com</b> Team</td>
	    <td></td>
     </tr>
	    <tr><td colspan="3" height="22"></td></tr>
     <tr>
   	    <td></td>
	    <td style="font-family: Arial,Helvetica; font-size: 11px; color: rgb(122, 118, 118); line-height: 15px;" height="65" align="center" bgcolor="#f7f7f6"><b style="color: rgb(150, 5, 5);">Call us (Toll free): 1800-419-6299,</b><br>
	    <span style="color: rgb(57, 52, 52);">Noida</span> : 0120-4393500, <span style="color: rgb(57, 52, 52);">Mumbai</span> : 022-67029730, 022-67029732, 09324086055, 09323141740,<br>
	   <span style="color: rgb(57, 52, 52);">Pune</span> : 09324086055, 09323141740, <span style="color: rgb(57, 52, 52);">Bangalore</span> : 7259031517, 7259031516<br></td>
	   <td></td>
    </tr>
    <tr>
	   <td colspan="3" height="16"></td></tr>
	   </tbody></table></td>
	   <td bgcolor="#e5e4e0"></td>
     </tr>
     <tr>
    	<td bgcolor="#e5e4e0"></td>
	    <td height="34" bgcolor="#e5e4e0"><div style="font-family: Verdana,Arial,sans-serif; font-size: 11px; color: rgb(29, 28, 28); line-height: 26px; text-align: center;">100% Profile Screening &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: rgb(145, 142, 142);">|</span>&nbsp;&nbsp;&nbsp;&nbsp; Millions of members &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: rgb(145, 142, 142);">|</span>&nbsp;&nbsp;&nbsp;&nbsp; Privacy Options</div></td>
	<td bgcolor="#e5e4e0"></td>
      </tr>
     </tbody></table>
</body>
</html>
