<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
<link href="~$SITE_URL`/jsadmin/main.css" rel="stylesheet" type="text/css">
<script language="JavaScript">
function close_reload()
{
	window.opener.location.reload()
	self.close ();
}

</script>
</head>

<body>
<table width="351" height="115" border="0" cellpadding="0" cellspacing="0" background="~$PHOTO_URL`/profile/images/contact-layer-bg.gif">
~if $done eq '1'`
<tr>
        <td align="center" class="main-text" style="padding:5px 0px 5px 10px; line-height:25px">User ~$username` reported for failure of verification.<br>Click <a href="#" onclick="close_reload()">here</a> to close this window</td>
</tr>
~else`
  <tr>
	<td align="center" class="main-text" style="padding:5px 0px 5px 10px; line-height:25px">You are about to report user ~$username` for failure of verification. Do you want to proceed?</td>
</tr>
  <tr>
	<td align="center" class="main-text" style="padding:5px 0px 5px 10px; line-height:25px"><a href="~$SITE_URL`/jsadmin/verification_failed.php?profileid=~$profileid`&cid=~$cid`&username=~$username`">[Yes]</a> <a href="javascript: self.close ()">[Cancel]</a></td>
  </tr>
~/if`
</table>
</body>
</html>
