<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Alternate Way</title>
	<link rel="stylesheet" href="jeevansathi.css" type="text/css">
	<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
~include file="head.htm"`
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width=100% cellspacing="1" cellpadding='3' ALIGN="CENTER" >
<tr width=100% class="formhead">
	<td width=25% class="formhead" border=1><font><b>Welcome : ~$user`</b></font></td>
	<td width="25%" class="formhead" align="center"><a href="mainpage.php?cid=~$cid`">Click here to go to main page</a></td>
	<!--<td width="25%" class="formhead" align="center"><a href="add_edit_fields.php?cid=~$cid`">Add profiles to edit</a></td>
	<td width=10% class="formhead" border=1 align='CENTER'>
	~if $val eq 'new'`
		<a href="admin_new.php?cid=~$cid`&name=~$name`">Alternate New</a>
	~elseif $val eq 'edit'`
		<a href="admin_edit.php?cid=~$cid`&name=~$name`">Alternate Edit</a>
	~/if`
	</td-->
	<td width=25% class="formhead" align='CENTER'><a href="logout.php?cid=~$cid`">Logout</a>
	</td>
</tr>
</table>

<br /><br />

<table width=100% align="CENTER" >
<tr>
	<td height="23" class="formhead" align="center">
	<h2 align="center">PHOTO PROFILES</h2>
	</td>
</tr>
</table>
<table width=100% border=0>
<tr>
	<td>
	<table border=0 align="center" width=80%>
	<tr>
		<td class="label" align="center">
			Total Unassigned New Photo Profiles 
		</td>
		<td class="fieldsnew"align="center">
		~if $unewcnt eq 0`
			~$unewcnt`
		~else`
		<a href="../mis/unassigned_zone.php?cid=~$cid`&val=new&from=P">~$unewcnt`</a>
		~/if`
		</td>
	</tr>
        <tr>
                <td class="label" align="center">
                        Total Unassigned Edit Photo Profiles
                </td>
                <td class="fieldsnew"align="center">
                ~if $ueditcnt eq 0`
                        ~$ueditcnt`
                ~else`
                <a href="../mis/unassigned_zone.php?cid=~$cid`&val=edit&from=P">~$ueditcnt`</a>
                ~/if`
                </td>
        </tr>
	<tr>
		<td class="label" align="center">
			Profiles Skipped (New+Edit) : 
		</td>
		<td class="fieldsnew" align="center">
		~if $totalqueue neq '0'`
			<a href="view_skipped_profiles.php?name=~$name`&cid=~$cid`&val=~$val`&from=P">~$totalqueue`</a>
		~else`
			~$totalqueue` 
		~/if`
		</td>
	</tr>
	   <tr>
                <td class="label" align="center">
                        Total Unassigned Mails
                </td>
                <td class="fieldsnew"align="center">
                ~if $mail_count eq 0`
                        ~$mail_count`
                ~else`<a href="../mis/unassigned_zone.php?cid=~$cid`&from=MP">~$mail_count`</a>
                ~/if`
                </td>
        </tr>

	  <tr>
                <td class="label" align="center">
                        Total Unassigned App Photo Profiles :
                </td>
                <td class="fieldsnew" align="center">
                        ~$uappcnt`
                </td>
        </tr>

	</table>
	</td>
	<td>
	<table border=0 align=center width=80%>
	<tr class="label" align="center">
		<td>Operator's Name</td>
		<td align="center" class="label">New Photo Profiles </td>
		<td align="center" class="label">Edit Photo Profiles</td>
		<td align="center" class="label">Photo Profiles From Mails</td>
	</tr>
		<!--tr><td align="center" class="label">(New+Edit)</td>
		</tr-->
		 
	~section name="uname" loop=$s_user`
	<tr>
		<td align="center" class="label">~$s_user[uname]`</td>
		<td align="center" class="fieldsnew">~$snonew[uname]`</td>
		<td align="center" class="fieldsnew">~$snoedit[uname]`</td>
		<td align="center" class="fieldsnew">~$smailno[uname]`</td>
	</tr>
	~/section`
	</tr>
        </table>
        </td>
</tr>
</table>
~include file="foot.htm"`
</body>
</html>
