<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>JeevanSathi</title>
  <link rel="stylesheet" href="jeevansathi.css" type="text/css">
  <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
</head>
 ~include file="head.htm"`
 <br>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
                <tr width=100% border=1>
                        <td width=30% class="formhead" height="23" align="center"><font><b>Welcome :~$name`</b></font></td>
                        <td width=30% class="formhead" align='CENTER' height="23">
                                <a href="mainpage.php?cid=~$cid`">Click here to go to mainpage</a>
                        </td>
                        <td width=30% class="formhead" align='CENTER' height="23">
                                <a href="logout.php?cid=~$cid`">Logout</a>
                        </td>
                </tr>
        </table>
        <br>
	<table width="760" cellspacing="1" cellpadding="0" align="center">
		<tr align="center" class="formhead">
		<td align="center" width=50%><a href="voucher_backend_design.php?cid=~$cid`&name=~$name`">Design pending deals</a></td>		     
		<td align="center" width=50%><a href="voucher_backend_design.php?cid=~$cid`&name=~$name`&editdeal=1">Edit a deal</a></td>
		</td>
	</table>
	<br>
~if $DONE`
~if $editdeal`
<p align="center">You have successfully edited design details for ~$cname`</p>
<br>
<p align="center"><a href="voucher_backend_design.php?cid=~$cid`&name=~$name`&editdeal=1">Click here to continue</a></p>
~else`
<p align="center">You have successfully submitted design details for ~$cname`</p>
<br>
<p align="center"><a href="voucher_backend_design.php?cid=~$cid`&name=~$name`">Click here to continue</a></p>
~/if`
~else`

	~if $NODEALS`
		~if $editdeal`
		<p align="center">All deals have been assigned to design team!</p>
		~else`
		<p align="center"> No pending deals left to design! </p>
		~/if`
	~else`
	~if $EDIT`
	<form enctype="multipart/form-data" action="voucher_backend_design.php" method="post">
	<table align="center" width="50%" cellspacing="2" cellpadding="2">
		<tr align="center" class="formhead">	
		<td align="center" colspan="2">Please upload the images ~if $error`again~/if`( only jpg / gif allowed )</td>
		</tr>	
		~if $editdeal`
		~if $error.nochange`
			<tr align="center" class="fieldsnew">
			<td align="center" class="label" colspan="2"><font color="red">No file changed!</td>
			</tr>
		~/if`
		~/if`
		~if $error`
			~foreach from=$error.file key=k item=v`
			<tr align="center" class="fieldsnew">
			<td align="center" class="label" colspan="2"><font color="red">Please upload the ~$k`</font></td>
			</tr>
			~/foreach`
		~/if`
		~if $error`
			~foreach from=$error.type key=k item=v`
			<tr align="center" class="fieldsnew">
			<td align="center" class="label" colspan="2"><font color="red">Please check file type for ~$k`(only jpg/gif allowed)</font></td>
			</tr>
			~/foreach`
		~/if`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Client Name</td>
		<td align="center">~$cname`</td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Headline</td>
		<td align="center">~$headline`</td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Client Details</td>
		<td align="center">~$cdetails`</td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Voucher Summary</td>
		<td align="center">~$vsummary`</td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Voucher Details</td>
		<td align="center">~$vdetails`</td>
		</tr>	
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Start Date</td>
		<td align="center">~$sdate`</td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Comments</td>
		<td align="center">~$comments`</td>
		</tr>

		~if $design`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Logo</td>
		<td align="center"><img src="voucher_backend_display.php?clientid=~$clientid`&file=LOGO_FILE"></img></td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Vlogo</td>
		<td align="center"><img src="voucher_backend_display.php?clientid=~$clientid`&file=VLOGO"></img></td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Creative 1</td>
		<td align="center"><img src="voucher_backend_display.php?clientid=~$clientid`&file=CREATIVE1"></img></td>	
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Creative 2</td>
		<td align="center"><img src="voucher_backend_display.php?clientid=~$clientid`&file=CREATIVE2"></img></td>
		</tr>
		~if $type eq "E"`
		~if $oldvoucher`
                <tr align="center" class="fieldsnew">
                <td align="center" class="label" colspan="2">Previous client, Voucher template on disk</td>
		</tr>
		~else`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Voucher</td>
		<td align="center"><img src="voucher_backend_display.php?clientid=~$clientid`&file=VOUCHER" height="400" width="400"></img></td>
		</tr>
		~/if`
		~/if`
		~/if`
		~if $link`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">Download image zip</td>
		<td align="center">~$link`</td>
		</tr>
		~else`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label" colspan="2">Previous client, no image zip available</td>`
		</tr>
		~/if`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">~if $error.file.Logo || $error.type.Logo`<font color="red">Logo (jpg/gif)</font>~else`Logo (jpg/gif)~/if`</td>
		<td align="center"><input type="file" name="logo"></td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">~if $error.file.Vlogo || $error.type.Vlogo`<font color="red">Vlogo (jpg/gif)</font>~else`Vlogo (jpg/gif)~/if`</td>
		<td align="center"><input type="file" name="vlogo"></td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">~if $error.file.Creative1 || $error.type.Creative1`<font color="red">Creative 1 (jpg/gif)</font>~else`Creative 1 (jpg/gif)~/if`</td>
		<td align="center"><input type="file" name="creative1"></td>
		</tr>
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">~if $error.file.Creative2 || $error.type.Creative2`<font color="red">Creative 2 (jpg/gif)</font>~else`Creative 2 (jpg/gif)~/if`</td>
		<td align="center"><input type="file" name="creative2"></td>
		</tr>
		~if !$oldvoucher`
		~if $type eq "E"`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label">~if $error.file.Voucher || $error.type.Voucher`<font color="red">Voucher (jpg/gif)</font>~else`Voucher (jpg/gif)~/if`</td>
		<td align="center"><input type="file" name="voucher"></td>
		</tr>
		~/if`
		~/if`
		<tr align="center" class="fieldsnew">
		<td align="center" class="label" colspan="2">
		 ~if $design`
		<input type="hidden" name="design" value="~$design`">
		~if $oldvoucher`
		<input type="hidden" name="oldvoucher" value="~$oldvoucher`">
		~/if`
		~/if`
		~if $editdeal`
		<input type="hidden" name="editdeal" value="~$editdeal`">
		~/if`
		<input type="submit" name="formsubmit" value="Upload Design Details">
		</td>
		</tr>
		
	</table>
	<input type="hidden" name="cname" value="~$cname`">
	<input type="hidden" name="cdetails" value="~$cdetails`">
	<input type="hidden" name="vdetails" value="~$vdetails`">
	<input type="hidden" name="vsummary" value="~$vsummary`">
	<input type="hidden" name="comments" value="~$comments`">
	<input type="hidden" name="headline" value="~$headline`">
	<input type="hidden" name="sdate" value="~$sdate`">
	<input type="hidden" name="type" value="~$type`">
	<input type="hidden" name="clientid" value="~$clientid`">	
	~else`
	<form action="voucher_backend_design.php" method="post">
	<table align="center" width="50%" cellspacing="2" cellpadding="2">
	~if $editdeal`
	<tr align="center" class="formhead"><td align="center">Please select a deal</td></tr>
	~else`
	<tr align="center" class="formhead"><td align="center">Pending deals left to design</td></tr>
	~/if`
	<tr align="center" class="fieldsnew">
		<td align="center">
			<select name="deal">
				~$options`
			</select>
	</td>
	</tr>
	<tr align="center" class="fieldsnew">
		<td align="center" class="label">
			<input type="submit" name="dealsubmit" value="Edit">
		</td>
	</tr>
	</table>
	~/if`
	~/if`
	~if $editdeal`
	<input type="hidden" name="editdeal" value="~$editdeal`">
	~/if`
	<input type="hidden" name="name" value="~$name`">
	<input type="hidden" name="cid" value="~$cid`">
	</form>
~/if`
</body>
</html>

