<noscript>

        <div style="position:fixed;z-index:1000;width:100%">

                <div style="text-align:center;padding-bottom:3px;font-family:verdana,Arial;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;background-color:#E5E5E5;">

                        <b><img class="err" width="23" height="20"> Javascript is disabled in your browser.Due  to this certain functionalities will not work. 

                                <a href="http://www.jeevansathi.com/P/js_help.htm" target="_blank">Click Here</a> , to know how  to enable it.

                        </b>

                </div>

        </div>

</noscript>

<div class="main_cont">

	<div class="fr b"> <a href="mailto:achin.kapoor@jeevansathi.com" class="black no_under">Email us</a> I sms “centre ” to 57098 </div>

	<div class="clear"></div>

	<h1 class="fl logo mt_10"><a href="~$SITE_URL`"><img src="images/matchpoint_logo.gif" alt="Jeevansathi Matchpoint" title="Jeevansathi Matchpoint" border="0" /></a></h1>

	<div class="fr mt_46"><img src="images/call_us_img.gif" alt="call us" title="call us" /></div>

	<div class="clear"></div>

	<div class="mid_cont">

		<div><a href="~$SITE_URL`">Back to home</a></div>

		<div class="test_sucess fl mt_15 g_t_img" style="width:99.9%;padding-bottom:0px;" id="d1">

			<div class="grey_fill_t_l"></div>

			<div class="grey_fill_t_r"></div>

			<div class="b_l_g_c"></div>

			<div class="b_r_g_c"></div>

			<h2 class="fl f_18" style="padding:8px 25px;">

				<a id="a1" style="display:none">Locate your nearest Jeevansathi Match Point Centre</a>

				<a id="a2">Locate your nearest Jeevansathi Match Point Centre  <img src="images/blue_down_arrow.gif" alt="locate nearest matchpoint" title="locate nearest matchpoint" border="0" /></a>				

			</h2>

			<div class="clear"></div>

			<div class="fl" style="margin-left:30px; display:none;" id="maindiv1">

				<div class="mt_15">

					<label class="b">Select City</label>

					<select class="sel_city b" name='lynj' id='lynj'>

						~section name=sec loop=$STATES`

						<option value="~$STATES[sec]`" ~if $STATES[sec] eq $default_city` selected='selected' ~/if`>&nbsp; ~$STATES[sec]`</option>

						~/section`

					</select>

				</div>

				<div class="sel_city_cont">

					<div class="left_cont b">Select  Centers in <span class="maroon" id='city_menu'>~$default_city`</span></div>

					<div class="clear"></div>

					<ul class="city b" id='narayan' style="height:125px">

					~section name=sec loop=$details`

						<li>

							<a href="#" ~if $smarty.section.sec.first`class="active"~/if` id='changer~$smarty.section.sec.index`' tabindex='~$smarty.section.sec.index`'>~$details[sec].NAME`</a>

							<ul class="address" style="display:~if $smarty.section.sec.first`block~else`none~/if`" id='changed~$smarty.section.sec.index`'>

								<li>

									<span class="black">Address of matchpoint center in</span>

									<span class="gry">~$details[sec].NAME`<br /><br />~$details[sec].ADDRESS`</span>

									<br /><br />

									<span class="fr"><a href="#" id="anched~$smarty.section.sec.index`" coords="~$details[sec].LATITUDE`,~$details[sec].LONGITUDE`" class="view_map">View Map directions</a></span>

								</li>

							</ul>

						</li>

					~/section`

					</ul>

				</div>

			</div>

			<div  id='close1' style="display:none" class="close_grey_btn cur_ptr"></div>

		</div>

		<div class="test_sucess fl mt_15 g_t_img" style="width:99.9%;padding-bottom:0px;" id="d2">

			<div class="grey_fill_t_l"></div>

			<div class="grey_fill_t_r"></div>

			<div class="b_l_g_c"></div>

			<div class="b_r_g_c"></div>

			<h2 class="fl f_18" style="padding:8px 25px;">

		<a name='Error'></a>

		<a name='Success'></a>

				<a id="a3" style="display:none">Provide Details of a Call Back</a>

				<a id="a4" >Provide Details of a Call Back <img src="images/blue_down_arrow.gif" alt="locate nearest matchpoint" title="locate nearest matchpoint" border="0" /></a>

			</h2>

			<div class="clear"> </div>

			<div class="call_back_form" style="margin:0 0 0 30px;width:619px;display:none" id="maindiv2">

                                <form name="form2" action="match.php" method="post" enctype="multipart/form-data">

                                        <ul>

                                                <li><div class="maroon" style="display:~if $noerror`block~else`none~/if`" id="li1">Your details are registered with us, we will call you back soon</div></li>

                                                <li>Please provide your personal details so that our service personel from matchpoint centres can contact you</li>

                                                <li style="margin-top:-10px;">&nbsp;</li>

                                                <li><label>Name :</label><input type="text" class="txt1 fl" name="first_name" value='~$first_name`'/><input name="last_name" value='~$last_name`' type="text" class="txt1 fl ml_5" /></li>

                                                <li><div style="display:none" class="error" id="li2"><label>&nbsp;</label><span class="err" id="span2">Name cannot contain special characters and numbers</span></div></li>

                                                <li><label>Email :</label><input type="text" class="txt1 fl" style="width:162px;" name="email" value="~$email`"/></li>

                                                <li><div class="error" style="display:~if $error ge 2`block~else`none~/if`" id="li3"><label>&nbsp;</label><span class="err" id="span3">~$emailerror`</span></div></li>

                                                <li>

                                                        <label>Location :</label>

                                                        <select class="sel1 fl" name="location">

                                                                <option value="">Please select location</option>

                                                                ~section name=sec loop=$STATES`

                                                                        <option class="~$std_code[sec]`" value="~$STATES[sec]`" ~if $STATES[sec] eq $location` selected='selected' ~/if`>&nbsp; ~$STATES[sec]`</option>

                                                                ~/section`

                                                                <option class="" value="others" ~if $location eq 'others'`selected='selected'~/if`>&nbsp; Others</option>

                                                        </select>

                                                </li>

                                                <li><div style="display:none" class="error" id="li4"><label>&nbsp;</label><span class="err" id="span4">Please select a location</span></div></li>

                                                <li><label>Phone :</label><input type="text" name="state_code" class="txt1 fl" style="width:42px;" value='~$state_code`'/><input value='~$phone`' type="text" name="phone" class="txt1 fl ml_5" /></li>

                                                <li><div style="display:none" class="error" id="li5"><label>&nbsp;</label><span class="err" id="span5">Please enter a minimum six digit phone number</span></div></li>

                                                <li><label>Mobile :</label><input type="text" class="txt1 fl" name='mobile' style="width:162px;" value='~$mobile`'/></li>

                                                <li><div class="error" style="display:none" id="li6"><label>&nbsp;</label><span class="err" id="span6">Please enter atleast Mobile or Phone number</span></div></li>

                                                <li>

                                                        <label>Suitable Time of call :</label>

                                                        <select class="txt1 fl" style="width:43px;" name="start_time">

                                                                ~section name=sec loop=13 start=1`

                                                                        <option value="~$smarty.section.sec.index`" ~if $smarty.section.sec.index eq $start_time`selected~/if`>~$smarty.section.sec.index`</option>

                                                                ~/section`

                                                        </select>

                                                         <select class="txt1 fl ml_5" style="width:43px;" name="start_day">

                                                                <option value="AM" ~if $start_day eq 'AM'`selected~/if`> AM </option>

                                                                <option value="PM" ~if $start_day eq 'PM'`selected~/if`> PM </option>

                                                        </select>

                                                        <span class="fl">&nbsp;to&nbsp;</span>

                                                        <select class="txt1 fl" style="width:43px;" name="end_time">

                                                                ~section name=sec loop=13 start=1`

                                                                        <option value="~$smarty.section.sec.index`" ~if $smarty.section.sec.index eq $end_time`selected~/if`>~$smarty.section.sec.index`</option>

                                                                ~/section`

                                                        </select>

                                                        <select class="txt1 fl ml_5" style="width:43px;" name="end_day">

                                                                <option ~if $end_day eq 'AM'`selected~/if` value="AM"> AM </option>

                                                                <option ~if $end_day eq 'PM'`selected~/if` value="PM"> PM </option>

                                                        </select>

                                                </li>

                                                <li>

                                                        <label>Upload your Biodata :</label>

                                                        <div class="fl" style="width:254px; position:relative;">

                                                                <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />

                                                                <input name="biod" type="file" value="~$file`"/>

                                                        </div>

                                                </li>

                                                <li class="light_grey"><label>&nbsp;</label>Only microsoft word file accepted</li>

                                                <li><div class="error" id="li7" style="display:~if !$error or $error gt 2`none~elseif $error le 2`block~/if`"><label>&nbsp;</label><span class="err" id="span6">Please choose a Microsoft word file under 5mb in size</span></div></li>

                                        </ul>

                                        <div class="clear"></div>

                                        <div class="mt_10" style="text-align:center; padding-bottom:15px;">

                                                <input type="submit" class="submit1 cur_ptr" value="Submit" name="sub"/>

                                        </div>

                                </form>

			</div>

			<div class="close_grey_btn cur_ptr" id='close2' style="display:none"> </div>

		</div>

		<div class="top_combine_cur fl mt_15"></div>

		<div class="clear"></div>
