<div id="u9" style="border:1px solid #ccc; display:none; position:absolute; left:0px;top:0px;z-index:100">
<!--google map starts here-->
        <div id="u8" class="g_map" style="display:block; position:absolute; left:0px;top:0px;z-index:2">
                <input type="hidden" value="~$googleApiKey`" id="google_api_key">
                <input type="hidden" value="" id="g_latitude">
                <input type="hidden" value="" id="g_longitude">
                <div class="t_line">
                        <div class="b_line">
                                <div class="r_line">
                                        <div class="l_line">
                                                <div class="top_right">
                                                        <div class="bot_right">
                                                                <div class="bot_left">
                                                                        <a onmouseclick="ReverseContentDisplay('u9'); return true;" href="javascript:ReverseContentDisplay('u9')" ><img src="images/close_btn.gif" alt="close" border="0" style="margin:0 10px 5px; padding:0; float:right;" title="close" /></a>
                                                                        <div class="clear"></div>
                                                                        <div id="left_arrow" style="display:block; position:absolute; top:157px; left:-29px"><img src="images/left_arrow.gif" alt="google map" title="google map" /></div>
                                                                        <div id="top_arrow" style="display:none; position:absolute; top:-30px; left:337px"><img src="images/g_map_top_arrow.gif" alt="google map" title="google map" /></div>
                                                                        <div class="clear"></div>
                                                                        <div class="g_img" id="map">
                                                                        <!--
                                                                          <img style="margin: 0pt; padding: 0pt; float: left;" title="google map" alt="google map" src="images/google_map.jpg"/>
                                                                        -->
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                        <div id="right_arrow" style="display:block; position:absolute; top:100px; left:369px"><img src="images/g_map_right_arrow.gif" alt="google map" title="google map" /></div>
                                                                        <div id="bottom_arrow" style="display:none; position:absolute; top:237px; left:307px"><img src="images/g_map_bot_arrow.gif" alt="google map" title="google map" /></div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
<!--google map ends here-->
</div>
<!--Containser div ends here-->

