<!--div class="wed_row">
<div class="no_img">
<img src="images/wed_4_img.gif" alt="jeevansathi" title="jeevansathi" class="lf"></div>
<div class="fl">

<p class="b">Monal weds Chintan</p>
<p>I would like to thank Jeevansathi.com Match Point for helping me find a life partner for me. I am a Canadian citizen and was on a four-month holiday to India. I wanted things to get materialized within this period. Really, it happened that way. I got registered with Jeevansathi.com match point services, Baroda branch on 11th November’2008 and got married on 13th Feb’2009 with Chintan. </p>
</div>
<div class="clear">
</div>
</div-->
<div class="wed_row">
<div class="no_img"><img src="images/wed_5_img.gif" alt="jeevansathi" title="jeevansathi" class="lf" /></div>
<div class="fl">
<p class="b">Pawan weds Deepti</p>
<p>I thank Miss Jennifer of Jeevansathi Match point for her efforts in binding my life with Miss Deepti. Our marriage was held happily on 6th of June09 at Triplicane. She has done a wonderful job and made my work so much easier in finding my life partner. I registered in Jeevansathi Chennai Branch Offline service on 31st of October 08 and I got my life partner through them in the mid of Jan09. This was really great effort from their side. Without their effort s nothing would have happened so early. My second brother Jitendran also got married to a girl on the same day  through Jeevansathi website.(Online). We are so happy with your best services that we will soon be registering my younger brother with Match point as well. </p>
</div>
<div class="clear">

</div>
</div>
<div class="wed_row">
<div class="no_img">
<img src="images/wed_6_img.gif" alt="jeevansathi" title="jeevansathi" class="lf"></div>
<div class="fl">
<p class="b">Rati weds Nipun Khanna </p>
<p>“We had registered with Jeevansathi Match Point for a suitable match for our daughter on 9thSep,08. We had a very good response and Cooperation from Jeevansathi Match Point for the above purpose. It gives me great pleasure to put on record that with in a very short spam of less than three months we  got a match of our requirements with the dedicated and caring efforts of Jeevansathi Match Point. I am very thankful to Mrs Shaveta Dandona for the time, care and cooperation she provided to us to achieve our goal.</p>
</div>
<div class="clear">
</div>
</div>

<div class="wed_row" style="border-bottom:0;">
      <div class="lf">
	      <p class="b">Shyam weds Sneha</p>

      		<p> I would like to acknowledge the efforts made by Jeevansathi.com match point for finding my life partner. They demonstrated exceptional attention and interest in all the requests made by me.</p>
      </div>
      <div class="clear"></div>
</div>
