<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Jeevansathi.com - Assign Profile</title>
  <link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
  <link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
 </head>
 ~include file="head.htm"`
 <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <br>
 <table width=100% cellspacing="1" cellpadding='3' ALIGN="CENTER" >
    <tr width=100% class="formhead">
          <td width=25% class="formhead" border=1><font><b>Welcome : ~$name`</b></font></td>
          <td width="65%" class="formhead" align="center"><a href="~$SITE_URL`/jsadmin/mainpage.php?user=~$name`&cid=~$cid`">Click here to go to main page</a></td>
          <td width=10% class="formhead" border=1 align='CENTER'><a href="logout.php?cid=~$cid`">Logout</a></td>
    </tr>
</table>
<script language="javascript">
function MM_openBrWindow_R(obj,theURL,winName,features)
{
 
          window.open(theURL,winName,features);
                
}

</script>
<br>
~if $DONE eq "1"`
	<p align="center">The records have been successfully uploaded</p>
~else`

	~if $UPRESULT eq "1"`
		~if $ERR_YEAR`
			<table align="center" cellspacing="2" cellpadding="2">
			<tr align="center" class="formhead">
				<td align="center"> Entries with wrong date </td>
			</tr>
			~foreach from=$ERR_YEAR item=k`
				<tr align="center" class="fieldsnew">
				<td align="center">~$k`</td>
			</tr>
			~/foreach`
		
			</table>
		~/if`
		 ~if $ERR_NOTEXIST`
			<table align="center" cellspacing="2" cellpadding="2">
			<tr align="center" class="formhead">
				<td align="center"> Entries with invalid username</td>
			</tr>
			~foreach from=$ERR_NOTEXIST item=k`
				<tr align="center" class="fieldsnew">
					<td align="center">~$k`</td>
				</tr>
			~/foreach`

			</table>
		~/if`
		 ~if $ERR_ALLOTED`
			<table align="center" cellspacing="2" cellpadding="2">
			<tr align="center" class="formhead">
				<td align="center"> Usernames which are already alotted</td>
			</tr>
			~foreach from=$ERR_ALLOTED item=k`
				<tr align="center" class="fieldsnew">
                                <td align="center">~$k`</td>
                        </tr>
			~/foreach`

			</table>
		~/if`
		 ~if $ERR_AGENT`
			<table align="center" cellspacing="2" cellpadding="2">
			<tr align="center" class="formhead">
				<td align="center"> Entries with invalid crm id </td>
			</tr>
			~foreach from=$ERR_AGENT item=k`
				<tr align="center" class="fieldsnew">
					<td align="center">~$k`</td>
				</tr>
			~/foreach`

			</table>
		~/if`
		<br>
		<form action="upload_crm.php" method="post">
		<table align="center" cellspacing="2" cellpadding="2">
			<tr align="center" class="formhead"><td colspan="2" align="center"><a href="#" onclick="MM_openBrWindow_R(this,'display_entry.php','mywindow',''); return false;">Click here to view valid entries</a></td></tr>
			~if $ERR_YEAR || $ERR_NOTEXIST || $ERR_ALLOTED || $ERR_AGENT`
			<tr align="center" class="formhead">
				<td align="center"><input type="submit" name="skip" value="Skip entries and proceed"></td>
				<td align="center"><input type="submit" name="back" value="Go back to upload page"></td>
			</tr>
			~else`
			<tr align="center" class="formhead">
				<td align="center"><input type="submit" name="skip" value="Upload"></td>
			</tr>
			~/if`
		</table>
		<input type="hidden" name="cid" value="~$cid`">
		<input type="hidden" name="name" value="~$name`">
		</form>
	~else`
		~if $ERR_MSG`
			<p align="center"><font color="red">~$ERR_MSG`</font></p>
		~/if`
		<p align="center">
		<font color="red">Note</font> : The file should be in csv format with comma separated fields as shown below
		</p>
		<table align="center">
		<tr align="center"><td align="center">XWS7533,2007-08-31,chhavi</td></tr>
		<tr align="center"><td align="center">YTG3453,2007-08-31,moumita</td></tr>
		</table>
		<br>
		<form enctype="multipart/form-data" action="upload_crm.php" method="post">
		<table align="center" cellspacing="2" cellpadding="2">
		<tr class="fieldsnew" align="center">
		<td align="center" class="label">File for upload
		<td align="center"><input name="uploadfile" type="file">
		</tr>
		<tr class=fieldsnew align="center">
		<td align="center" colspan="2"><input type="submit" name="submit" value="Upload">
		</tr>
		</table>
		<input type="hidden" name="name" value="~$name`">
		<input type="hidden" name="cid" value="~$cid`">
		</form>
	~/if`
~/if`
 </body>
</html>

