<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>JeevanSathi</title>
		<link rel="stylesheet" href="../jsadmin/jeevansathi.css" type="text/css">
		<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
		<script>
		function MM_openBrWindow(theURL,winName,features)
		{
			window.open(theURL,winName,features);
		}
		</script>
	</head>
	~include file="head.htm"`
	<br>
	<body bgcolor="#FFFFFF">
		<table width="90%" cellspacing="4" cellpadding="4" align="center">
			<tr class="label">
				<td align="center"><b>Welcome :~$name`</b></td>
				<td align="center"><a href="mainpage.php?cid=~$cid`">Click here to go to main page</a></td>
				<td align="center"><a href="logout.php?cid=~$cid`">Logout</a></td>
			</tr>
		</table>
		<br>
		<form method="post" action="welcome_call.php" name="form1">
		<table width="30%" align="center">
			<tr>
				<td align="center" class="label">Profileid</td>
				<td align="center" class="fieldsnew"><input type="textbox" name="profileid" value="~$profileid`"></td>
				<td align="center" class="fieldsnew"><input type="submit" name="submit" value="Go" class="buttons1"></td>
				<input type="hidden" name="cid" value="~$cid`">
				<input type="hidden" name="name" value="~$name`">
			</tr>
		</table>
		<br><br>
		~if $NOT_FOUND`
			<table width="70%" align="center">
				<tr class="fieldsnew" align="center"><td><font color="red">Profile not found</font></td></tr>
			</table>
		~elseif $ALREADY_CALLED`
			<table width="70%" align="center">
				<tr class="fieldsnew" align="center"><td><font color="blue">Call to this profile has been made already</font></td></tr>
			</table>
		~elseif $SHOW_LINKS`
			<table width="70%" align="center">
				<tr class="fieldsnew" align="center">
					<td><a href="#" onClick="MM_openBrWindow('phone_number_validation.php?name=~$name`&cid=~$cid`&profileid=~$profileid`','','width=800,height=400,resizable=no,scorllbars=no')">Mark Phone/Mobile number as verified</a></td>
					<td><a href="#" onClick="MM_openBrWindow('welcome_call.php?name=~$name`&cid=~$cid`&profileid=~$profileid`&calling_done=1','','width=200,height=200,resizable=no,scorllbars=no')">Calling done for this profile</a></td>
				</tr>
			</table>
		~/if`
		</form>
	</body>
</html>
