.pad18Incomplete{padding:5% 0 8% 0;}

 @media (min-width: 280px) {
 	.image_incomplete{ width:80px; height:80px; margin-top: 4px; margin-left: 4px; z-index:3; position:relative; border-radius:100%;}
 }
@media (min-width: 321px) {
.image_incomplete{ width:80px; height:80px;  z-index:3;  border-radius:100%; }
}

.pdt15{
	padding-top:15%;
	}
.darkBackgrnd {overflow:auto;background-color:#282828; position:fixed; top:0; right:0; bottom:0; left:0;margin:0; padding:0px 0px 60px 0px; z-index:102;}          
.pad_new{padding:40px 20px 0px 20px}
.pad_new2{padding:10px 20px 10px 20px}
.mt30{margin-top:30px}
.lh60{line-height:60px}
.colr8A{color:#8A8A8A}
.brdrRad2{border-radius:2px}
.mlNeg2{margin-left:-2px}
.bgBtnGrey{background-color:#C6C6C6}
.pt35p{padding-top:15px}
.hgt90{height: 90px;}
#skipBtn{display: inline-block;position: relative;left: 50%;transform: translate(-50%,0);-Webkit-transform: translate(-50%,0);-Moz-transform: translate(-50%,0);-O-transform: translate(-50%,0); -ms-transform: translate(-50%,0);}


 .suggestOption {
            margin: 5px;
            padding: 5px;
            border-radius: 20px;
            min-width: 60px;
        }
        
        .suggestOptionRange {
            margin: 6px auto;
            width: 160px;
        }
        
        .suggestOptionRange2 {
            margin: 6px auto;
            width: 200px;
        }
        
        .mb30 {
            margin-bottom: 30px
        }
        
        .mb10 { margin-bottom:10px}
		.suggestSelected {background-color:#d9475c;color:white;}



