#appPromo img {
	max-width: 100%;
	height: auto;
}
.app_posr{position:relative;}
.app_posa{position:absolute;}
.app_pt10{padding-top:10px;}
.app_pt20{padding-top:20px;}
.app_pt30{padding-top:30px;}
.app_txtc{text-align:center;}
.app_f20{font-size:20px;}
.app_f40{font-size:140%;}
.app_lh20{ line-height:180%;}
.app_txtc{text-align:center;}
.app_pos1{top:10px;}
.app_fnt16{font-size:16px;}
.app_clrw{color:#fff;}
.app_clr1{color:#d09091;}
.app_btn{background-color:#AA5053;padding:15px;margin:0px auto;width:70%;}
/*
.app_fnt22{font-size:14px;font-family: "Roboto Light"}
.app_fnt38{font-size:25px;font-family: "Roboto Light"; line-height:28px;}*/
.transitionApp{
	height:0px;
-webkit-transition: height 2s linear;
  -moz-transition: 3s ease;
   -o-transition: 3s ease;
   transition: 3s ease;

   }
.apppromoshow{display:block;}


.app_grad1
{

background: -webkit-linear-gradient(#8B1B03, #9A1904); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#8B1B03, #9A1904); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#8B1B03, #9A1904); /* For Firefox 3.6 to 15 */
background: linear-gradient(#8B1B03, #9A1904); /* Standard syntax (must be last) */
}

/* neww css */
.napp_pos2{top:5%; left:5%}
.nfamily1{font-family:"Roboto Light"}
.nfamily2{font-family:"Roboto Light"}
.app_txtl{text-align:left;}
.app_txtr{text-align:right;}
.ncolr1{color:#999999;}
.ncolr2{color:#e2e2e2;}
.app_fnta{font-size:80%;}
.app_fntb{font-size:120%;}
.napp_pad1{padding:3% 4% 0%}
.napp_pt1{padding-top:3%}
.napp_rat5{background:url(https://static.jeevansathi.com/images/mobilejs/ratingapp.png) no-repeat;width:135px; height:31px;}

.napp_pt20{padding-top:20px;}
.napp_pt_abc{padding-top:20px;}
.napp_promo_profile{width:180px; font-weight:normal;}
@media (min-width: 340px) and (max-width: 979px){
	.napp_pad1{padding:10% 4% 0% 4%}
	.napp_pt20{padding-top:80px;}
	.napp_pt_abc{padding-top:40px;}
	.napp_promo_profile{width:240px; font-weight:normal}
}

.nl_pageHd {
    background: none repeat scroll 0 0 #42688f;font-size: 12px;font-weight: normal;overflow: hidden;padding: 0.7em 0.8em 0.8em; color:#fff}
.nl_f16{font-size:16px}
.nl_f13{font-size:13px}
.nl_f18{font-size:18px}
.nl_f11{font-size:11px}
.nl_f12{font-size:12px}
.start_r{background: url(https://static.jeevansathi.com/images/nl-star.png) no-repeat 1px 1px;width: 62px;height: 15px;}
.nl_close{background: url(https://static.jeevansathi.com/images/nl-star.png) no-repeat -2px -19px;width: 16px;height: 16px;display: block; }
.nl_full{width:100%}
.nl_pt12{padding-top:12px}
.nl_p10{padding:10px}
.nl_wid49{width:49%;}
.nl_wid38{width:38%}
.nl_txtc{text-align:right}
.nl_btn1{background-color:#e9e9e9;text-align: center; padding:9px 15px; font-size:13px
;text-decoration:none;color:black;}
.nl_marginappPromo{margin-left:0px;}
.nl_pt15{padding-top:15px}

/* new mobile site css*/
.int_img1 {
	background: url(https://static.jeevansathi.com/images/jsms/interstital/bg_ham.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.int_color1{color:#e2e2e2}
.int_quote1{background-position: -238px -295px;
width: 33px;
height: 46px;}


 @media (min-width: 280px) and (max-width: 320px) {
 	.int_pad1{padding-top:0%}
	.int_pad2{padding-top:5%}
	.logo_pad1 {
padding: 20px 0 20px;
}
.logo_pad1ios {
padding: 20px 0 0px;
}
.int_btm{bottom:16px}
 }
@media (min-width: 321px) and (max-width: 720px) {
  .int_pad1{padding-top:5%}
  .int_pad2{padding-top:10%}
  .logo_pad1 {
padding: 55px 0 20px;
}
.logo_pad1ios {
padding: 55px 0 20px;
}
.int_btm{bottom:25px}
}
.ham_minu100{
-webkit-transform: translateY(-100%);
transform:  translateY(-100%);
}
.ham_plus100{
-webkit-transform: translateY(100%);
transform:  translateY(100%);
}
.ham_b100{
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
-webkit-transition: -webkit-transform 2s;
transition: transform 2s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
	.newocbbg1{background-color:#fff}
	.newocbbg2{background-color:#d9475c}
	.ocbnewimg{background-image:url(https://static.jeevansathi.com/images/jsms/interstital/mob-newocb.svg); background-repeat:no-repeat}
	.logoocb{background-position:1px 1px; width:60px; height:58px}
	.ocbclose{background-position: -61px -27px;width: 16px;height: 16px;}
	.ocbstar{background-position: -62px -4px;width: 69px;height: 16px;}
	.ocbbr1{border-radius:5px}
	.ocbp1{padding:10px 20px}
.ham_minu20{
-webkit-transform: translateY(-78px);
transform:  translateY(-78px);
}
.ham_minu_mess20{
-webkit-transform: translateY(-130px);
transform:  translateY(-130px);
}
.ham_plus20{
-webkit-transform: translateY(78px);
transform:  translateY(78px);
}
.ham_b20{
position: absolute;
overflow: hidden;
width: 100%;
//height: 78px;
cursor: pointer;
-webkit-transition: -webkit-transform 2s;
transition: transform 2s;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.padAppPromo{
padding:10px 15px;
}


/* new css added for app propmi layer on myjs */
.ham_b20_n{
position: fixed;
overflow: hidden;
width: 100%;
//height: 78px;
cursor: pointer;
-webkit-transition: -webkit-transform 2s;
transition: transform 2s;
-webkit-transform-origin: 100% 100%;
transform-origin: 100% 100%;
z-index:9;
}

.borderMessAppPromo{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(156,140,156,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(156,140,156,1);
box-shadow: 0px 2px 5px 0px rgba(156,140,156,1);
}

.innerTextBorder{
    border-bottom:1px solid #d1cccc;
}