@font-face {
    font-family: "roboto Th";
    src: local("roboto Th"), local(Roboto-Thin), url("https://static.jeevansathi.com/css/fonts/Roboto-Thin.woff");
}
@font-face {
font-family:"Roboto Light";
src:url("https://static.jeevansathi.com/css/fonts/Roboto-Light.woff");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Roboto Regular";
src:url("https://static.jeevansathi.com/css/fonts/Roboto-Regular.woff");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Roboto bold";
src:url("https://static.jeevansathi.com/css/fonts/Roboto-Black.eot?") format("eot"), url("https://static.jeevansathi.com/css/fonts/Roboto-Black.woff") format("woff"), url("https://static.jeevansathi.com/css/fonts/Roboto-Black.ttf") format("truetype"), url("https://static.jeevansathi.com/css/fonts/Roboto-Black.svg#Roboto-Black") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Roboto Thin";
src:local('Roboto Thin'),url("https://static.jeevansathi.com/css/fonts/Roboto-Thin.woff");
font-weight:normal;
font-style:normal;
}
@font-face{font-family: 'WebRupee';src: url("https://static.jeevansathi.com/css/fonts/WebRupee.V2.0.eot");src: local('WebRupee'), url("https://static.jeevansathi.com/css/fonts/WebRupee.V2.0.ttf") format('truetype'),  url("https://static.jeevansathi.com/css/fonts/WebRupee.V2.0.woff") format('woff'), url("https://static.jeevansathi.com/css/fonts/WebRupee.V2.0.svg") format('svg');font-weight: normal;font-style: normal;}
.WebRupee{font-family: 'WebRupee';}
.fontlig{font-family:"Roboto","sans-serif"; font-weight:300;}
.fontreg{font-family:"Roboto","sans-serif";font-weight:400;}
.fontrobbold{font-family:"Roboto","sans-serif";font-weight:700;}
.fontthin{font-family:"Roboto","sans-serif";font-weight:100;}
.fontmed{font-family:"Roboto", "sans-serif";font-weight:500}