.fontlig{font-family:"Roboto","sans-serif"; font-weight:300;}
.fontreg{font-family:"Roboto","sans-serif";font-weight:400;}
.fontrobbold{font-family:"Roboto","sans-serif";font-weight:700;}
.fontthin{font-family:"Roboto","sans-serif";font-weight:100;}
.fontmed{font-family:"Roboto", "sans-serif";font-weight:500}
