<html>

<body ~if $FLAG eq '0'` onload="opener.window.location.reload(true);"~/if`>

~if $FLAG eq '1'`
<p>~$Invalidfile`</p>
<p>Please Select a file to Upload</p>
<form method="post" enctype="multipart/form-data" action="attach.php">
<input type="hidden" name="id" value="~$id`">
<input type="hidden" name="checksum" value="~$checksum`">
<input type="hidden" name="user" value="~$username`">
<input type="file" name="uploaded" size=40>
<input type="submit" value="Upload">
</form>

~elseif $FLAG eq '2'`
<p>~$Already`</p>

~elseif $FLAG eq '3'`
<p>~$Error`</p>
<p>Please Select a file to Upload</p>
<form method="post" enctype="multipart/form-data" action="attach.php">
<input type="hidden" name="id" value="~$id`">
<input type="hidden" name="user" value="~$user`">
<input type="hidden" name="checksum" value="~$checksum`">
<input type="file" name="uploaded" size=40>
<input type="submit" value="Upload">
</form>

~elseif $FLAG eq '4'`
<p>~$Noid`</p>
<p>Please Select a file to Upload</p>
<form method="post" enctype="multipart/form-data" action="attach.php">
<input type="hidden" name="id" value="~$id`">
<input type="hidden" name="user" value="~$user`">
<input type="hidden" name="checksum" value="~$checksum`">
<input type="file" name="uploaded" size=40>
<input type="submit" value="Upload">
</form>

~elseif $FLAG eq '5'`
<p>File doesn't exists</p>
<p>Please Select a file to Upload</p>
<form method="post" enctype="multipart/form-data" action="attach.php">
<input type="hidden" name="id" value="~$id`">
<input type="hidden" name="user" value="~$user`">
<input type="hidden" name="checksum" value="~$checksum`">
<input type="file" name="uploaded" size=40>
<input type="submit" value="Upload">
</form>

~elseif $FLAG eq '0'`
<p>~$Done`</p>
<form method="post" action="attach.php">
<table>
<tr>
	<td>To:</td>
	<td><input type="text" name="to" value="~$to`" size="40"></td>
</tr>
<tr>
	<td>CC:</td>
	<td><input type="text" name="cc1" size="40"></td><td>,matriprofile@jeevansathi.com<input type="hidden" name="cc2" value="matriprofile@jeevansathi.com"><input type="hidden" name="id" value="~$id`"><input type="hidden" name="user" value="~$user`"></td>
</tr>
<tr>
	<td>Message:</td>
</tr></table>
<table>
<tr><td>
	<textarea name="msg" rows="10" cols="60">Please find the attaced document</textarea>
</td>
</tr>	

<tr>
	<td><input type="submit" name="sendmail" value="Send Mail"></td>
</tr>
</table>
</form>

~elseif $FLAG eq '7'`
<p>~$MailSent`</p>

~else`
<p>Please Select a file to Upload</p>
<form method="post" enctype="multipart/form-data" action="attach.php">
<input type="hidden" name="id" value="~$id`">
<input type="hidden" name="user" value="~$user`">
<input type="hidden" name="checksum" value="~$checksum`">
<input type="file" name="uploaded" size=40>
<input type="submit" value="Upload">
</form>
</body>
</html>
~/if`
