<html>
<head>
<!--search_query.htm-->  
 <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>

~if $flag eq '1'`
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="formhead" width="100%"><td align="center" colspan=14><a href="clustering_mis.php?cid=~$cid`">MAIN PAGE</a></td></tr>
	<tr class="formhead">
        <td colspan=100% align="center">SEARCH RESULTS</td>
	</tr>
	<tr class="formhead">
	<td colspan=100% align="center">&nbsp;~if $day` Day - ~/if`Month - Year : ~if $day`~$day`-~/if`~$month`-~$year`  to  ~if $eday` Day - ~/if`Month - Year : ~if $eday`~$eday`-~/if`~$emonth`-~$eyear`</td>
	</tr>
	</table>
	<br>
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="label">
		<td width=10% align="center" class=green>&nbsp;TOTAL</td>
	</tr>
	
	<tr class="fieldsnew">
		<td width=10% align="center">&nbsp;~$total`</td>
	</tr>
	</table>
	<br>
	<hr>
	
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
        <tr class="formhead">
        <td colspan=100% align="center">No of Times a Field has been Searched</td>
        </tr>
	<tr class="label">
        <td width=10% align="center" class=green>&nbsp;Relation</td>
        <td width=10% align="center" class=green>&nbsp;Education</td>
        <td width=10% align="center" class=green>&nbsp;Occupation</td>
        <td width=10% align="center" class=green>&nbsp;Income</td>
        <td width=10% align="center" class=green>&nbsp;Manglik Status</td>
        <td width=10% align="center" class=green>&nbsp;Diet</td>
        <td width=10% align="center" class=green>&nbsp;Special Search</td>
        </tr>
	<tr class="fieldsnew">
	<td width=10% align="center">&nbsp;~$relation`</td>
	<td width=10% align="center">&nbsp;~$edu_level_new`</td>
	<td width=10% align="center">&nbsp;~$occupation`</td>
	<td width=10% align="center">&nbsp;~$income`</td>
	<td width=10% align="center">&nbsp;~$manglik`</td>
	<td width=10% align="center">&nbsp;~$diet`</td>
	<td width=10% align="center">&nbsp;~$newsearch`</td>
        </tr>
        </table>
	<br>	
	<hr>

	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
        <tr class="formhead">
        <td colspan=100% align="center">No of Times a Field has been Searched Uniquely </td>
        </tr>
        <tr class="label">
        <td width=10% align="center" class=green>&nbsp;Relation</td>
        <td width=10% align="center" class=green>&nbsp;Education</td>
        <td width=10% align="center" class=green>&nbsp;Occupation</td>
        <td width=10% align="center" class=green>&nbsp;Income</td>
        <td width=10% align="center" class=green>&nbsp;Manglik Status</td>
        <td width=10% align="center" class=green>&nbsp;Diet</td>
        <td width=10% align="center" class=green>&nbsp;Special Search</td>
        </tr>
        <tr class="fieldsnew">
        <td width=10% align="center">&nbsp;~$u_relation`</td>
        <td width=10% align="center">&nbsp;~$u_edu_level_new`</td>
        <td width=10% align="center">&nbsp;~$u_occupation`</td>
        <td width=10% align="center">&nbsp;~$u_income`</td>
        <td width=10% align="center">&nbsp;~$u_manglik`</td>
        <td width=10% align="center">&nbsp;~$u_diet`</td>
        <td width=10% align="center">&nbsp;~$u_newsearch`</td>
        </tr>
        </table>
        <br>
        <hr>


~else`
	<form method=post action="clustering_mis.php">
	<table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td >FROM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="day">
                <option value="">--Select--</option>
        ~section name=dd loop=$ddarr`
                <option value=~$ddarr[dd]`>~$ddarr[dd]`</option>
        ~/section`
        </select> - 
	<select name="month">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> - 
	<select name="year">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
	</td>
	</tr>

	<tr>
        <td >TO
        <select name="eday">
                <option value="">--Select--</option>
        ~section name=dd loop=$ddarr`
                <option value=~$ddarr[dd]`>~$ddarr[dd]`</option>
        ~/section`
        </select> -
        <select name="emonth">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> -
        <select name="eyear">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
        </td>
        </tr>
	<tr>
	<input type="hidden" name="cid" value=~$cid`>
	<td ><input type="submit" name="CMDGo" value="     Go     "></td>
	</tr>
	</table>
	</form>
~/if`
</body>
</html>
