<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br>
	<table width=80% align=center>
	<tr class=formhead align=center>
	<td colspan=100%>~$mm` - ~$yy`</td>
	</tr>
	<tr class=label>
		<td width=50% align=center>Community</td>
		<td width=50% align=center>Total</td>
	</tr>
	~section name=gen loop=$commarr`
		<tr class=fieldsnew>
			<td align=center class=label>~$commarr[gen]`</td>
                        <td align=center>&nbsp;<span class=green>~$pertot[gen]`</span><br><span class=blue>~$cnt[gen]`</span><br><span class=orange>~$avg[gen]`</span></td>
                </tr>
	~/section`
	<tr class=label>
		<td align=center>Total</td>
		<td align=center>&nbsp;~$totall` ( ~$avgtot` ) </td>
	</tr>
	</table>

</body>
</html>
