<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br>
<br>
~if $flag eq '1'`
	<table width=100% border=0 align="center">
	~if $dflag eq '1'`
		<tr class="formhead">
		<td colspan=100% align="center">&nbsp;Month : ~$dt`</td>
		</tr>
	~elseif $mflag eq '1'`
		<tr class="formhead">
		<td colspan=14 align="center">&nbsp;Financial Year ~$dt`-~$dt1`</td>
		</tr>
	~/if`
		
	</table>
	<br>
	<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
	~if $mflag eq '1'`
		<table width="150%" align="center" border=0 cellspacing=4 cellpadding=5>
		<tr class="label">
		<td align="center">&nbsp;Month</td>
		~section name=mon loop=$mmarr`
			<td width=6% align="center">&nbsp;~$mmarr[mon]`</td>
		~/section`
		<td align="center">&nbsp;Total</td>
		</tr>
			~section name=ty loop=$typearr`
					<tr class="fieldsnew">
					<td align="center" class="label">&nbsp;~$typearr[ty]`</td>
					~section name=mon loop=$mmarr`
						<td width=6% align="center">~$cnt[ty][mon]`</td>
					~/section`
					<td align="center" class="label">~$tota[ty]`</td>
					</tr>
			~/section`
			<tr class="label">
			<td align="center">&nbsp;Total</td>
			~section name=mon loop=$mmarr`
				<td width=6% align="center">~$totb[mon]`</td>
				~assign var="td" value=$totb[mon]`
				~assign var="totall" value=$totall+$td`
			~/section`
			<td align="center">~$totall`</td>
			</tr>
		</table>
	~elseif $dflag eq '1'`
		<table width="150%" align="center" border=0 cellspacing=2 cellpadding=5>
		<tr class="label">
		<td align="center" width=6%>&nbsp;Day</td>
		~section name=dd loop=$ddarr`
			<td align="center">&nbsp;~$ddarr[dd]`</td>
		~/section`
		<td align="center" width="6%">&nbsp;Total</td>
		</tr>
		~section name=ty loop=$typearr`
				<tr class="fieldsnew">
				<td align="center" class="label">&nbsp;~$typearr[ty]`</td>
				~section name=dd loop=$ddarr`
					<td width=6% align="center">~$cnt[ty][dd]`</td>
				~/section`
				<td align="center" class="label">~$tota[ty]`</td>
				</tr>
		~/section`
		<tr class="label">
		<td align="center">&nbsp;Total</td>
		~section name=dd loop=$ddarr`
			<td width=6% align="center">~$totb[dd]`</td>
			~assign var="td" value=$totb[dd]`
			~assign var="totall" value=$totall+$td`
		~/section`
		<td align="center">~$totall`</td>
		</tr>
		</table>
	~/if`
~else`
	<form method=post action="contactsmisnew.php">
	<br><br><br>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type=radio name=dt_type value=D checked>
	&nbsp;&nbsp;&nbsp;&nbsp;
	Day Wise : (For a particular month)
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="ddate_mon">
	~section name=mm loop=$mmarr`
		<option value="~$mmarr[mm]`">~$mmarr[mm]`</option>
	~/section`
	</select>
	<select name="ddate_yyyy">
	<option value="2004">2004</option>
	<option value="2005">2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
	</select>
	<br><br><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type=radio name=dt_type value=M>
	&nbsp;&nbsp;&nbsp;&nbsp;
	Month Wise : (For a particular year)
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="mdate_yyyy">
	<option value="2004">2004</option>
	<option value="2005">2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
	</select>
	<br><br><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="hidden" name="cid" value="~$cid`">
	<input type="submit" name="CMDGo" value="   Go   ">
	</form>
~/if`
</body>
</html>
