<html>
<head>
        <title>Jeevansathi.com - MIS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
	DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                                             
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
~if $searchFlag==1`
	<br><br>
	<table width=100% border=0 align="center">
	<tr><td><font color="green">For Accepted Contact  Color=Green</font></td></tr>
	<tr><td><font color="red">For Declined Contact  Color=Red</font></td></tr>
	<tr><td><font color="blue">For Canceled Acceptance  Color=Blue</font></td></tr>
	<tr><td><font color="darkgray">For Canceled EOI  Color=DarkGray</font></td></tr>
	<tr><td><font color="brown">For Awaiting Contact  Color=Brown</font></td></tr>
	<tr class="formhead">
	<td colspan=100% align="center">&nbsp;Month : ~$searchMonth`  Year : ~$searchYear`</td>
	</tr>
	</table>
	<br>
	<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
	<tr class="label">
	<td colspan=100% align="center">&nbsp;Search Type : ~$searchTypePrint` </td>
	</tr>
	<table width="150%" align="center" border=0 cellspacing=2 cellpadding=5>
	<tr class="label">
	<td align="center" width=6%>&nbsp;Day</td>
	~foreach from=$monthDaysArray item=v`
	<td align="center">&nbsp;~$v`</td>
	~/foreach`
	 <td align="center">&nbsp;Total</td>
         </tr>

	 ~if $searchTypePrint!='ALL'`
		<tr class="fieldsnew">
		<td align="center" class="label">&nbsp;~$searchTypePrint`</td>
		~foreach from=$monthDaysArray item=v`
	<td width=6% align="center">

			~foreach from=$index item=i`
			~if $i eq 'I'`
				<font color="brown">
				~$dataArraynew[$v][$i]`
				</font>
			~elseif $i eq 'A'`
				<font color="green">
				~$dataArraynew[$v][$i]`
				</font>
			~elseif $i eq 'D'`
				<font color="red">
				 ~$dataArraynew[$v][$i]`
				</font>
			~elseif $i eq 'C'`
				<font color="blue">
				~$dataArraynew[$v][$i]`
				</font>
			~elseif $i eq 'E'`
                                <font color="darkgray">
                                ~$dataArraynew[$v][$i]`
                                </font>
			~/if`
			<br>
				<!--<td width=6% align="center">&nbsp;~$dataArraynew[$v][$i]`</td>-->
			~/foreach`
			</td>
		~/foreach`
		<!--<td align="center" class="label">&nbsp;~$totData`</td>-->
		<td align="center" class="label">&nbsp;
					<font color="green">~$acceptence`</font>
					&nbsp;<br><font color="red">~$decline`</font>
					&nbsp;<br><font color="blue">~$cancel`</font>
					&nbsp;<br><font color="brown">~$initiated`</font>
					<br>~$totDatanew`</td>
		</tr>

		~else`
		~foreach from=$searchKeyArray key=k item=v`
		<tr class="fieldsnew">
		<td align="center" class="label">&nbsp;~$searchKeyArray[$k]` (~$k`)</td>
		~foreach from =$monthDaysArray item=d`
		<!--<td align="center">~$dataArray[$k][$d]`</td>-->
		<td align="center">
			~foreach from =$index item=i`
				~if $i eq 'I'`
                                <font color="brown">
                                ~$dataArraynew[$k][$d][$i]`
                                </font>
                        ~elseif $i eq 'A'`
                                <font color="green">
                                ~$dataArraynew[$k][$d][$i]`
                                </font>
                        ~elseif $i eq 'D'`
                                <font color="red">
                                 ~$dataArraynew[$k][$d][$i]`
                                </font>
                        ~elseif $i eq 'C'` 
                                <font color="blue">
                                ~$dataArraynew[$k][$d][$i]`
                                </font>
			~elseif $i eq 'E'`
                                <font color="darkgray">
                                ~$dataArraynew[$v][$i]`
                                </font>
                        ~/if`


			<br>
			~/foreach`
			
		</td>	
		~/foreach`
		<td align="center" class="label">
			<font color="green">~$acceptence[$k]`</font>
			<br>
			<font color="red">~$decline[$k]`</font>
                        <br>
			<font color="blue">~$cancel[$k]`</font>
                        <br>
			<font color="brown">~$initiated[$k]`</font>
                        <br>
			<!--<td align="center" class="label">~$totSearchMonth[$k]`</td>-->
			~$totSearchMonthnew[$k]`
			</td>
		</tr>
		~/foreach`




		<tr class="label">
		<td align="center">
		Total Sent
		</td>
		~foreach from=$monthDaysArray item=v`
		<!--<td align="center">~$totSearchDay[$v]`</td>-->
		<td align="center">
			<font color="green">~$totalSentArray["A"][$v]`</font>
			 <br>
			 <font color="red">~$totalSentArray["D"][$v]`</font>
			<br>
			<font color="blue">~$totalSentArray["C"][$v]`</font>
			 <br>
			<font color="brown">~$totalSentArray["I"][$v]`</font>
			<br>
			~$totalSentArray_total[$v]`
		</td>			
		</td>
		~/foreach`
		<td align="center">
			<!--~$grandTotal`-->
			<font color="green">~$totalSentArray_totalAccept`</font>
			 <br>
			 <font color="red">~$totalSentArray_totalDecline`</font>
			<br>
			<font color="blue">~$totalSentArray_totalCancel`</font>
			 <br>
			<font color="brown">~$totalSentArray_totalInitiate`</font>
			<br>
			~$grandTotalSentnew`	
		</td>
		</tr>





		<tr class="label">
		<td align="center">
		Per Day Total
		</td>
		~foreach from=$monthDaysArray item=v`
		<!--<td align="center">~$totSearchDay[$v]`</td>-->
		<td align="center">
			<font color="green">~$day_acceptence[$v]`</font>
			 <br>
			 <font color="red">~$day_decline[$v]`</font>
			<br>
			<font color="blue">~$day_cancel[$v]`</font>
			 <br>
			<font color="brown">~$day_initiated[$v]`</font>
			<br>
			~$totSearchDaynew[$v]`
		</td>			
		</td>
		~/foreach`
		<td align="center">
			<!--~$grandTotal`-->
			<font color="green">~$day_acceptence_total`</font>
			 <br>
			 <font color="red">~$day_decline_total`</font>
			<br>
			<font color="blue">~$day_cancel_total`</font>
			 <br>
			<font color="brown">~$day_initiated_total`</font>
			<br>
			~$grandTotalnew`	
		</td>
		</tr>
	~/if`
	</table>
~else`
<form action="dailySearchCount.php" method="post">
	 <table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td>
	Search Type : 
	</td>
	<td>
		<select name="typeEntered">
			 <option value="ALL" selected="selected">ALL</option>
			~foreach from=$searchKeyArray key=k item=v` 
			<option value=~$k`>~$v`</option>
			~/foreach`
		</select>
		
	</td>
	</tr>
	<tr>
	<td>
	Month:
	</td>
	<td>
		<select name="monthEntered">
			~foreach from=$monthArray key=k item=v`
			~if $k!=$todMonth`
			<option value=~$k`>~$v`</option>
			~else`
			<option value=~$k` selected="selected">~$v`</option>
			~/if`
			~/foreach`
		</select>
	</td>
	</tr>
	<tr>
	<td>
	Year:
	</td>
	<td>
		<select name="yearEntered">
			~section name=formYearLoop loop=$yearArray`
			~if $yearArray[formYearLoop]!=$todYear`
			<option value=~$yearArray[formYearLoop]`>~$yearArray[formYearLoop]`</option>
			~else`
			<option value=~$yearArray[formYearLoop]` selected="selected">~$yearArray[formYearLoop]`</option>
			~/if`
			~/section`
		</select>
	</td>
	</tr>


	<tr>
	<td width=100% align="center">
       <input type="hidden" name="checksum" value=~$CHECKSUM`></input>
	<input type="submit" name="CMDGo" value="GO!"></input>
	</td>
	</tr>
	</table>
</form>

~/if`
</body>
</html>
