<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>
~if $flag eq '1'`
	<table width=100% align=center>
        <tr class=formhead>
                <td width=20% align=center>Branch/Executive</td>
                <td width=15% align=center>Inbound</td>
                <td width=15% align=center>Outbound</td>
                <td width=15% align=center>Walkin</td>
                <td width=15% align=center>Chat</td>
                <td width=20% align=center>Total</td>
        </tr>
	~if $BRANCH eq 'Y'`
        ~section name=brn loop=$brancharr`
                <tr class=formhead>
                        <td class=blue align=center>~$brancharr[brn]`</td>
                        <td colspan=5>&nbsp;</td>
                </tr>
                ~section name=op loop=$operatorarr[brn]`
                        <tr class=fieldsnew>
                                <td class=label align=center>~$operatorarr[brn][op]`</td>
                                ~section name=md loop=$modearr`
                                        <td align=center>~$amt[brn][op][md]`</td>
                                ~/section`
				<td align=center class=label>~$amta[brn][op]`</td>
                        </tr>
                ~/section`
		<tr class=label>
			<td class=label align=center>&nbsp;</td>
			~section name=md loop=$modearr`
				<td align=center>~$amtb[brn][md]`</td>
			~/section`
			<td align=center class=red>~$amttot[brn]`</td>
		</tr>
        ~/section`
	~else`
		<tr class=label>
		<td colspan=6 class=red align=center>No records to show</td> 
		</tr>
	~/if`
        </table>
~else`
        <form method=post action="crm_users_claim_record.php">
        <table width=80% border=0 align="center" cellpadding=5>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;
        ~if $VIEWALL eq 'Y'`
                Branch :
                <select name="branch">
                        <option value="ALL">ALL</option>
                ~section name=brn loop=$brancharr`
                        <option value="~$brancharr[brn]`">~$brancharr[brn]`</option>
                ~/section`
                </select>
        ~/if`
        </td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;<input name="vtype" type="radio" value='M' checked>&nbsp;Month Wise</td>
        <td>
        <select name="mmonth">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> -
        <select name="myear">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
        </td>
        </tr>
        <tr>
        <td><br><br>&nbsp;&nbsp;&nbsp;<input name="vtype" type="radio" value='D'> Day Wise <br><br></td>
        <td>
        <select name="day">
        ~section name=dd loop=$ddarr`
                <option value=~$ddarr[dd]`>~$ddarr[dd]`</option>
        ~/section`
        </select> -
        <select name="dmonth">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> -
        <select name="dyear">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Day - Month - Year
        </td>
        </tr>
        <tr>
        <input type="hidden" name="cid" value=~$cid`>
        ~if $priv eq 'MC' or $priv eq 'MD'`
                <input type="hidden" name="branch" value=~$branch`>
        ~/if`
        <td align="right"><input type="submit" name="CMDGo" value="     Go     "></td>
        </tr>
        </table>
        </form>
~/if`
<br><br>
</body>
</html>
