<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
<script language=javascript>
<!--
	function changeMode()
	{
//alert("hi");
		document.form1.submit();
	}
-->
</script>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br>
~if $flag eq '1'`
	<center>
	<font color=orange>Color Orange = Paid Count</font>&nbsp;&nbsp;
	<font color=blue>Color Blue = Claimed Count</font>
	</center>
	<br>
	<form name="form1" action="crm_overall_count.php" method=post>
	<table width=80% align=center>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mode&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;
			<select name="mode" onChange="changeMode()">
				<option value=""  ~if $mode eq ''`  selected ~/if`>All</option>
				<option value="I" ~if $mode eq 'I'` selected ~/if`>Inbound</option>
				<option value="O" ~if $mode eq 'O'` selected ~/if`>Outbound</option>
				<option value="W" ~if $mode eq 'W'` selected ~/if`>Walkin</option>
				<option value="C" ~if $mode eq 'C'` selected ~/if`>Chat</option>
			</select>
		</td>
		<td colspan=100%>
			<input type=hidden name="year" value="~$year`">
			<input type=hidden name="month" value="~$month`">
			<input type=hidden name="cid" value="~$cid`">
			<input type=hidden name="branch" value="~$branch`">
			<input type=hidden name="CMDGo" value="1"> 
<!--			<input type=submit name="CMDGo" value="  Go  "> -->
		</td>
	</tr>
	</table>
	</form>
	<table width=100% align=center>
	<tr class=formhead align=center>
	<td colspan=100%>~$month` - ~$year`</td>
	</tr>
	~section name=brn loop=$brancharr`
		<tr class=formhead>
		<td colspan=100% align=center class=red>~$brancharr[brn]`</td>
		</tr>
		<tr class=label>
			<td width=5% align=center>Operator</td>
			~section name=dd loop=$ddarr`
				<td width=3% align=center>~$ddarr[dd]`</td>
			~/section`
			<td width=5% align=center>Total</td>
		</tr>
		~section name=ops loop=$opsarr[brn]`
			<tr class=fieldsnew>
				<td align=center class=label>~$opsarr[brn][ops]`</td>
				~section name=dd loop=$ddarr`
					<td align=center>&nbsp;<span class=orange>~$cnt[brn][ops][dd].pd`</span><br><span class=blue>~$cnt[brn][ops][dd].cl`</span></td>
				~/section`
				<td class=label align=center>&nbsp;<span class=orange>~$tot[brn][ops].pd`</span><br><span class=blue>~$tot[brn][ops].cl`</span></td>
			</tr>
		~/section`
		<tr>
			<td align=center>&nbsp;</td>
		</tr>
	~/section`
	</table>
~else`
        <form method=post action="crm_overall_count.php">
        <table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td>&nbsp;Branch
	<select name="branch">
		<option value="">All</option>
		~section name=brn loop=$brancharr`
			<option value="~$brancharr[brn]`">~$brancharr[brn]`</option>
		~/section`
	</select>
	</td>
	</tr>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;Day Wise (For a particular month)</td>
	</tr>
	<tr>
        <td>
        <select name="month">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> -
        <select name="year">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
        </td>
        </tr>
        <tr>
        <input type="hidden" name="cid" value=~$cid`>
        <td><input type="submit" name="CMDGo" value="     Go     "></td>
        </tr>
        </table>
        </form>
~/if`

</body>
</html>
