<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>
~if $flag eq '1'`
	<table width=100% align=center>
        ~if $mflag eq '1'`
        <tr align="center">
        <td class=fieldsnew align="center" colspan="14">
                <span class=red>Color Red - Total Calls</span><br>
                <span class=blue>Color Blue - Percent of Conversion</span><br>
                <span class=green>Color Green - Total Amount Collected</span><br>
        </td>
        </tr>
        <tr class=formhead>
                <td colspan=14 align="center">MIS for Year - ~$yy`</td>
        </td>
        <tr class=formhead>
                <td width=4% align=center>Executive</td>
		~section name=mm loop=$mmarr`
                <td width=3% align=center>~$mmarr[mm]`</td>
		~/section`
                <td width=4% align=center>Total</td>
        </tr>
        ~if $norecords neq '1'`
        ~section name=j loop=$operatorarr`
                       <tr class=fieldsnew>
                        <td class=label align=center>~$operatorarr[j]`</a></td>
                                ~section name=mm loop=$mmarr`
                                        <td align=center><span><a href="followupcount.php?cid=~$cid`&alloted_to=~$operatorarr[j]`&year=~$yy`&month=~$montharr[mm]`"><span class="red">&nbsp;~$crmwork[j][mm].callcnt`</span></a><br><span class="blue">~$crmwork[j][mm].conv`</span></span></td>
                                ~/section`
				<td align=center class=label><span class="red">&nbsp;~$total[j].callcnt`</span><br><span class="blue">~$total[j].conv_per`</span><br><span class="green">~$total[j].totamt`</span></span></td>
                        </tr>
         ~/section`
      
		<tr class=label>
			<td class=label align=center>&nbsp;Total</td>
			~section name=mm loop=$mmarr`
				<td align=center><span class="red">&nbsp;~$grandtotal[mm].callcnt`</span><br><span class="blue">~$grandtotal[mm].conv_per`</span><br><span class="green">~$grandtotal[mm].totamt`</span></span></td>
</td>
			~/section`
			<td align=center><span class="red">&nbsp;~$annualtot.callcnt`</span><br><span class="blue">~$annualtot.conv_per`</span><br><span class="green">~$annualtot.totamt`</span></span></td>
		</tr>
		<tr class=label>
			<td class=label align=center>&nbsp;Total (all branches)</td>
			~section name=mm loop=$mmarr`
				<td align=center><span class="red">&nbsp;~$grandtotal_allbranch[mm].callcnt`</span><br><span class="blue">~$grandtotal_allbranch[mm].conv_per`</span>
</td>
			~/section`
			<td align=center><span class="red">&nbsp;~$annualtot.callcnt`</span><br><span class="blue">~$annualtot.conv_per`</span><br><span class="green">~$annualtot.totamt`</span></span></td>
		</tr>
          ~else`
		<tr class=label>
		<td colspan=14 class=red align=center>No records to show</td> 
		</tr>
         ~/if`
        </table>
         ~elseif $dflag eq '1'`
        <tr align="center">
        <td class=fieldsnew align="center" colspan="33">
                <span class=red>Color Red - Total Calls</span><br>
                <span class=blue>Color Blue - Percent of Conversion</span><br>
                <span class=green>Color Green - Total Amount Collected</span><br>
        </td>
        </tr> 
        <tr class=formhead>
                <td colspan=33 align="center">MIS for  :  ~$month` - ~$year`</td>
        </td>
        <tr class=formhead>
                <td width=4% align=center>Executive</td>
		~section name=dd loop=$ddarr`
                <td width=3% align=center>~$ddarr[dd]`</td>
		~/section`
                <td width=4% align=center>Total</td>
        </tr>
        ~if $norecords neq '1'`
         
         ~section name=brn loop=$brancharr`
                <tr class=formhead>
                        <td class=blue align=center>~$brancharr[brn]`</td>
                        <td colspan=100%>&nbsp;</td>
                </tr>
               ~section name=j loop=$operatorarr[brn]`
                       <tr class=fieldsnew>
                        <td class=label align=center>~$operatorarr[brn][j]`</a></td>
                                ~section name=dd loop=$ddarr`
                                        <td align=center><span><span class="red">&nbsp;~$crmwork[brn][j][dd].callcnt`</span><br><span class="blue">~$crmwork[brn][j][dd].conv`</span></span></td>
                                ~/section`
				<td align=center class=label><span class="red">&nbsp;~$total[brn][j].callcnt`</span><br><span class="blue">~$total[brn][j].conv_per`</span><br><span class="green">~$total[brn][j].totamt`</span></span></td>
                        </tr>
               ~/section`
		<tr class=label>
			<td class=label align=center>&nbsp;Total</td>
			~section name=dd loop=$ddarr`
				<td align=center><span class="red">&nbsp;~$grandtotal[brn][dd].callcnt`</span><br><span class="blue">~$grandtotal[brn][dd].conv_per`</span><br><span class="green">~$grandtotal[brn][dd].totamt`</span></span></td>
</td>
			~/section`
			<td align=center><span class="red">&nbsp;~$annualtot[brn].callcnt`</span><br><span class="blue">~$annualtot[brn].conv_per`</span><br><span class="green">~$annualtot[brn].totamt`</span></span></td>
		</tr>
                <tr><td>&nbsp;<br></td></tr>
             ~/section`
		<tr class=label>
			<td class=label align=center>&nbsp;Total (all branches)</td>
			~section name=dd loop=$ddarr`
				<td align=center><span class="red">&nbsp;~$grandtotal_allbranch[dd].callcnt`</span><br><span class="blue">~$grandtotal_allbranch[dd].conv_per`</span></td>
</td>
			~/section`
			<td align=center><span class="red">&nbsp;~$annualtot_allbranch.callcnt`</span><br><span class="blue">~$annualtot_allbranch.conv_per`</span></td>
		</tr>
                <tr><td>&nbsp;<br></td></tr>
          ~else`
		<tr class=label>
		<td colspan=100% class=red align=center>No records to show</td> 
           ~/if`
        </table>
	<br>
	~if $SHOW_REVENUE eq 'Y'`
	<table width=100% align=center>
        <tr align="center" class="formhead">
        <td colspan="100%">Revenue Generated for the month</td>
        </tr>
        <tr class=formhead>
                <td width=4% align=center>Executive</td>
		~section name=dd loop=$ddarr`
                <td width=3% align=center>~$ddarr[dd]`</td>
		~/section`
                <td width=4% align=center>Total</td>
        </tr>
		  ~section name=j loop=$operatorarr`
                       <tr class=fieldsnew>
                        <td class=label align=center><a href="/crm/ncr_individual_operator_detail_sales_new.php?cid=~$cid`&opsname=~$operatorarr[j]`&yy=~$year`&mm=~$month`">~$operatorarr[j]`</a></td>
                                ~section name=dd loop=$ddarr`
                                        <td align=center>&nbsp;~$amt[j][dd]`</td>
                                ~/section`
				<td align=center class=label>&nbsp;~$amta[j]`</td>
                        </tr>
		 ~/section`
		<tr class=label>
			<td class=label align=center>&nbsp;Total</td>
			~section name=dd loop=$ddarr`
				<td align=center>&nbsp;~$amtb[dd]`</td>
			~/section`
			<td align=center>&nbsp;~$amttot`</td>
		</tr>
        </table>
	<br>
	~/if`
      ~/if`
~else`
        <form method=post action="crm_monthly_revenue_mis_tmp.php">
        <table width=80% border=0 align="center" cellpadding=5>
        <!--tr>
        <td>&nbsp;&nbsp;&nbsp;<input name="vtype" type="radio" value='M' checked>&nbsp;Month Wise</td>
        <td>
        <select name="yy">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Year
        </td>
        </tr-->
        <tr>
        <td>&nbsp;&nbsp;&nbsp;Branch :</td>
        <td> 
                <select name="branch">
		~if $VIEWALL eq 'Y'`
                        <option value="ALL">ALL</option>
		~/if`
                ~section name=brn loop=$brancharr`
                        <option value="~$brancharr[brn]`">~$brancharr[brn]`</option>
                ~/section`
                </select>
        </td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;<input name="vtype" type="radio" value='D' checked>&nbsp;Day Wise</td>
        <td>
        <select name="month">
        ~section name=mm loop=$mmarr`
                <option value=~$mmarr[mm]`>~$mmarr[mm]`</option>
        ~/section`
        </select>&nbsp;-
        <select name="year">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Year
        </td>
        </tr>
        <tr>
          <td>
		~if $ONLYBRANCH eq 'Y'`
                	<input type="hidden" name="branch" value=~$branch`>
        	~/if`
               <input type="hidden" name="cid" value="~$cid`">
          </td>
        </tr>
	<tr>
        <td>&nbsp;&nbsp;&nbsp;<input name="mis_type" type="radio" value='XLS' checked>&nbsp;Excel-Format</td>
        <td>&nbsp;&nbsp;&nbsp;<input name="mis_type" type="radio" value='htm' >&nbsp;HTML-Format</td>
        </tr>
        <tr>
        <td align="right"><input type="submit" name="CMDGo" value="     Go     "></td>
        </tr>
        </table>
        </form>
~/if`
<br><br>
</body>
</html>
