<html>
<head>
        <title>Jeevansathi.com - MIS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
	DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                                             
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
	
<form action="dgm_affiliate.php" method="post">
	 <table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td>
	Month:
	</td>
	<td>
		<select name="monthEntered">
			~foreach from=$monthArray key=k item=v`
			~if $k!=$todMonth`
			<option value=~$k`>~$v`</option>
			~else`
			<option value=~$k` selected="selected">~$v`</option>
			~/if`
			~/foreach`
		</select>
	</td>
	</tr>
	<tr>
	<td>
	Year:
	</td>
	<td>
		<select name="yearEntered">
			~section name=formYearLoop loop=$yearArray`
			~if $yearArray[formYearLoop]!=$todYear`
			<option value=~$yearArray[formYearLoop]`>~$yearArray[formYearLoop]`</option>
			~else`
			<option value=~$yearArray[formYearLoop]` selected="selected">~$yearArray[formYearLoop]`</option>
			~/if`
			~/section`
		</select>
	</td>
	</tr>


	<tr>
	<td width=100% align="center">
       <input type="hidden" name="checksum" value=~$CHECKSUM`></input>
	<input type="submit" name="CMDGo" value="GO!"></input>
	</td>
	</tr>
	</table>
	<br><br>
	<table width=100% border=0 align="center">
	<tr class="formhead">
	<td colspan=100% align="center">&nbsp;Month : ~$searchMonth`  Year : ~$searchYear`</td>
	</tr>
	</table>
</form>
	<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
	<tr class="label">
        <td colspan=100% align="center">&nbsp;<font color="brown">Total Hits from DGM :~$total_hits`</font></td>
        </tr>
	<tr class="label">
        <td colspan=100% align="center">&nbsp;<font color="green">Total Complete Profiles :~$complete_profiles`</font></td>
        </tr>
	<tr class="label">
	<td colspan=100% align="center">&nbsp;<font color="blue">Total Deleted Profiles :~$deleted_profiles`</font></td>
	</tr>
	<tr class="label">
	<td colspan=100% align="center">&nbsp;<font color="red">Total Incomplete Profiles :~$incomplete_profiles`</font></td>
	</tr>
	</table>		

	<table width="150%" align="center" border=0 cellspacing=2 cellpadding=5>
		<tr class="label">
			<td align="center" width=6%>&nbsp;USERNAME</td>
			<td align="center" width=6%>&nbsp;PASSWORD</td>
			<td align="center" width=6%>&nbsp;EMAILID</td>
			 <td align="center" width=6%>&nbsp;IPADD</td>
			<td align="center" width=6%>&nbsp;REGISTRATION DATE</td>
		</tr>
		
			~section name=index loop=$dataarr`
				<tr class="fieldsnew">
					<td align="center"><a href="../operations.php/commoninterface/ShowProfileStats?cid=~$CHECKSUM`&profileid=~$dataarr[index].profilechecksum`'>"><b>~$dataarr[index].username`</b></a></td>
					<td align="center">~$dataarr[index].password`</td>
					<td align="center">~$dataarr[index].email`</td>
					<td align="center">~$dataarr[index].ipadd`</td>
					<td align="center">~$dataarr[index].entry_dt`</td>
				</tr>
			~/section`
				
	</table>
</body>
</html>
