<html>
<head>
   <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="/profile/images/styles.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>
<table width=80% align="center">
<tr><td>
        <table width="100%" aligh="center"><tr align="center" class="bigblack">
        <td width="25%" class="class3"><a href="../jsadmin/mainpage.php?name=~$username`&cid=~$CID`">JSAdmin</a></td>
        <td width="25%" class="class3"><a href="../jsadmin/mainpage.php?name=~$username`&cid=~$CID`">Billing</a></td>
        <td width="25%" class="class3"><a href="../mis/mainpage.php?name=~$username`&cid=~$CID`">Mis</a></td>
        <td width="25%" class="class3"><a href="../jsadmin/logout.php?name=~$username`&cid=~$CID`">Logout</a></td>
        </tr></table><br><br>
</td></tr>
</table>
<br>
<table width=80% align=center>
<tr class=label>
	<td align=center>Date</td>
	<td align=center>Count</td>
</tr>
~if $cnt neq ''`
~section name=sec loop=$ddarr`
<tr class=fieldsnew>
	<td align=center>~$ddarr[sec]`</td>
	<td align=center>~$cnt[sec]`</td>
<tr>
~/section`
~else`
<tr class=label>
<td colspan=100% align=center>&nbsp;No Records Found</td>
</tr>
~/if`
</table>
<br>
</body>
</html>
