<html>

<head>
	<link rel="stylesheet" href="/mis/jeevansathi.css" type="text/css">
	<link rel="stylesheet" href="/profile/images/styles.css" type="text/css">
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>

<table width=100%>
        <tr class=formhead align=center>
                <td><b>&nbsp;JeevanSathi Indicator MIS</b></td>
        </tr>
</table>

<br>
<table width=100%>
	<tr class=formhead align=center>
		<td><b>&nbsp;Daily MIS</b></td>
	</tr>
</table>
<table border=0 cellspacing="4" cellpadding="4" width=100%>
	~foreach name=a key=k1 item=d1 from=$filearr`
	<tr>
		<td class="formhead" align=center>~$k1`</td>
		~foreach name=b key=key item=item from=$d1`
		<td class="label" align="center">
				<a href="indicator_serve.php?cid=~$cid`&id=~$item`">~$mtharr[$key]`</a>
		</td>
		~/foreach`
	</tr>
	~/foreach`
</table>

<br><br>

~if $yearmis`
<table width=100%>
        <tr class=formhead align=center>
                <td><b>&nbsp;Monthly MIS</b></td>
        </tr>
</table>
~/if`
<table border=0 cellspacing="4" cellpadding="4" width=100%>
	~foreach name=a key=k2 item=d1 from=$yearmis`
	~foreach key=key item=item from=$d1`
        <tr>
                <td class="label" align="center">
		<a href="indicators/~$item`">~$k2`</a>
                </td>
        </tr>
	~/foreach`
	~/foreach`
</table>

</body>
</html>
