<html>
<head>
        <title>Jeevansathi.com - MIS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
        DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                                             
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" height="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
~if $searchFlag eq 1`
	<br /><br />
	 <table width=760 cellspacing="1" cellpadding='0' ALIGN="CENTER" >
	   <tr width=100% border=1>
	    <td width=30% class="formhead" height="23" align="center"><font><b>Welcome </b></font></td>
 	 <td width=30% class="formhead" align='CENTER' height="23">
 	    <a href="mainpage.php?cid=~$CHECKSUM`">Click here to go to mainpage</a>
	    </td>
	    <td width=30% class="formhead" align='CENTER' height="23">
	     <a href="/jsadmin/logout.php?cid=~$CHECKSUM`">Logout</a>
	    </td>
	   </tr>
	  </table>

        <br><br>
	<table width=100% align="center">
	<tr class="formhead">
        <td colspan=100% align="center">&nbsp;Month : ~$searchMonth`  Year : ~$searchYear`</td>
        </tr>
        </table>
        <br>
	 <table width=50% border=0 align="center">
        <tr class="formhead">
        <td align="center">&nbsp;
        GRAND TOTAL
        </td>
        <td align="center">NEW</td>
        <td align="center">EDIT</td>
        <td align="center">MAILS</td>
        <td align="center">MOBILE_APP</td>
        <td align="center">TOTAL</td>
        </tr>
        <tr class="fieldsnew">
                <td align="center" class="label">PROFILES</td> 
                <td align="center">~$grand.PROFNEW`</td>
                <td align="center">~$grand.PROFEDIT`</td>
                <td align="center">~$grand.PROFMAIL`</td>
                <td align="center">~$grand.PROFAPP_PIC`</td>
                <td align="center">~$grand.PROF`</td>
        </tr>
        <tr class="fieldsnew">
                <td align="center" class="label">PHOTOS</td>  
                <td align="center">~$grand.PHONEW`</td>
                <td align="center">~$grand.PHOEDIT`</td>
                <td align="center">~$total.PHOAPPMAIL`</td>
                <td align="center">~$grand.PHOAPP_PIC`</td>
                <td align="center">~$grand.PHO`</td>
        </tr>
        </table>
	
	<p align="center"><font color="red">New Profiles</font> + <font color="blue">Edit Profiles</font> + <font color="#EB55CD">Mails</font> + <font color="#7EC3FF">Mobile App Profiles</font> = <font color="green"> Total Unique Profiles</font></p>
	<p align="center"> <font color="orange">New Photos</font> + <font color="brown">Edit Photos</font> + <font color
="grey">Mail photos</font> + <font color="#5E7C9E">Mobile App (Approve+Edited)Photos</font> = <font color="purple"> Total Unique Photos</font></p>
		 <table width=1070px  border=0 align="center">
	        	<tr class="formhead">
			        <td  align="center">&nbsp;APPROVED</td>
        		</tr>
	        </table>
	
        	<table width=100% align="center" border=0 cellspacing=2 cellpadding=5>
	        	<tr class="label">
		        	<td align="center">&nbsp;Day</td>
	        		~foreach from=$monthDaysArray item=v`
			        <td align="center" width=6% >&nbsp;~$v`</td>
        			~/foreach`
			         <td align="center">&nbsp;Total</td>
        		 </tr>
			~foreach from=$data key=k item=v`
			 <tr class="fieldsnew">
				 <td align="center" class="label">&nbsp;~$k`</td>
				~foreach from=$monthDaysArray item=d`
				<td>
					<table ><tr class="fieldsnew"><td align="center">~if $data[$k][$d].APPPROFNEW ||$data[$k][$d].APPPROFEDIT || $data[$k][$d].APPPROFMAIL || $data[$k][$d].APPPROFAPP_PIC`<font color="red">~if $data[$k][$d].APPPROFNEW`~$data[$k][$d].APPPROFNEW`~else`0~/if`</font>+<font color="blue">~if $data[$k][$d].APPPROFEDIT`~$data[$k][$d].APPPROFEDIT`~else`0~/if`</font>+<font color="#EB55CD">~if $data[$k][$d].APPPROFMAIL`~$data[$k][$d].APPPROFMAIL`~else`0~/if`</font>+<font color="#7EC3FF">~if $data[$k][$d].APPPROFAPP_PIC`~$data[$k][$d].APPPROFAPP_PIC`~else`0~/if`</font>=<font color="green">~$data[$k][$d].APPPROF`</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~else`&nbsp;~/if`</td></tr>
					<tr class="fieldsnew"><td align="center" > ~if $data[$k][$d].APPPHONEW || $data[$k][$d].APPPHOEDIT || $data[$k][$d].APPPHOMAIL || $data[$k][$d].APPPHOAPP_PIC || $data[$k][$d].EDITPHOAPP_PIC`<font color="orange">~if $data[$k][$d].APPPHONEW`~$data[$k][$d].APPPHONEW`~else`0~/if`</font>+<font color="brown">~if $data[$k][$d].APPPHOEDIT`~$data[$k][$d].APPPHOEDIT`~else`0~/if`</font>+<font color="grey">~if $data[$k][$d].APPPHOMAIL`~$data[$k][$d].APPPHOMAIL`~else`0~/if`</font>+<font color="#5E7C9E">(~if $data[$k][$d].APPPHOAPP_PIC`~$data[$k][$d].APPPHOAPP_PIC`~else`0~/if`+~if $data[$k][$d].EDITPHOAPP_PIC`~$data[$k][$d].EDITPHOAPP_PIC`~else`0~/if`)</font>=<font color="purple">~$data[$k][$d].APPPHO`</font>~else`&nbsp;~/if`</td></tr></table>
				</td>
				 ~/foreach`
				<td class="label">
					<table><tr class="fieldsnew"><td class="label" align="center">~if $usertotal[$k].APPPROFNEW || $usertotal[$k].APPPROFEDIT || $userapp[$k].APPPROFMAIL || $usertotal[$k].APPPROFAPP_PIC`<font color="red">~if $usertotal[$k].APPPROFNEW`~$usertotal[$k].APPPROFNEW`~else`0~/if`</font>+<font color="blue">~if $usertotal[$k].APPPROFEDIT`~$usertotal[$k].APPPROFEDIT`~else`0~/if`</font>+<font color="#EB55CD">~if $usertotal[$k].APPPROFMAIL`~$usertotal[$k].APPPROFMAIL`~else`0~/if`</font>+<font color="#7EC3FF">~if $usertotal[$k].APPPROFAPP_PIC`~$usertotal[$k].APPPROFAPP_PIC`~else`0~/if`</font>=<font color="green">~$usertotal[$k].APPPROF`</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~else`&nbsp;~/if`</td></tr> 
						<tr class="fieldsnew"><td class="label" align="center">~if $usertotal[$k].APPPHO || $usertotal[$k].APPPHOEDIT || $usertotal[$k].APPPHOMAIL || $usertotal[$k].APPPHOAPP_PIC || $usertotal[$k].EDITPHOAPP_PIC`<font color="orange">~if $usertotal[$k].APPPHONEW`~$usertotal[$k].APPPHONEW`~else`0~/if`</font>+<font color="brown">~if $usertotal[$k].APPPHOEDIT`~$usertotal[$k].APPPHOEDIT`~else`0~/if`</font>+<font color="grey">~if $usertotal[$k].APPPHOMAIL`~$usertotal[$k].APPPHOMAIL`~else`0~/if`</font>+<font color="#5E7C9E">(~if $usertotal[$k].APPPHOAPP_PIC`~$usertotal[$k].APPPHOAPP_PIC`~else`0~/if`+~if $usertotal[$k].EDITPHOAPP_PIC`~$usertotal[$k].EDITPHOAPP_PIC`~else`0~/if`)</font>=<font color="purple">~$usertotal[$k].APPPHO`</font>~else` &nbsp;~/if`</td></tr></table>
				</td>
			</tr>
			~/foreach`

			<tr class="fieldsnew">
				<td align="center" class="label">Per Day Total</td>
				~foreach from=$monthDaysArray item=d`
				<td class="label">
					<table><tr class="fieldsnew"><td class="label" align="center">~if $daytotal[$d].APPPROFNEW || $daytotal[$d].APPPROFEDIT || $daytotal[$d].APPPROFMAIL || $daytotal[$d].APPPROFAPP_PIC`<font color="red">~if $daytotal[$d].APPPROFNEW`~$daytotal[$d].APPPROFNEW`~else`0~/if`</font>+<font color="blue">~if $daytotal[$d].APPPROFEDIT`~$daytotal[$d].APPPROFEDIT`~else`0~/if`</font>+<font color="#EB55CD">~if $daytotal[$d].APPPROFMAIL`~$daytotal[$d].APPPROFMAIL`~else`0~/if`</font>+<font color="#7EC3FF">~if $daytotal[$d].APPPROFAPP_PIC`~$daytotal[$d].APPPROFAPP_PIC`~else`0~/if`</font>=<font color="green">~$daytotal[$d].APPPROF`</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~else`&nbsp;~/if`</td></tr>
					<tr class="fieldsnew"> <td class="label" align="center">~if $daytotal[$d].APPPHONEW || $daytotal[$d].APPPHOEDIT || $daytotal[$d].APPPHOMAIL || $daytotal[$d].APPPHOAPP_PIC || $daytotal[$d].EDITPHOAPP_PIC`<font color="orange">~if $daytotal[$d].APPPHONEW`~$daytotal[$d].APPPHONEW`~else`0~/if`</font>+<font color="brown">~if $daytotal[$d].APPPHOEDIT`~$daytotal[$d].APPPHOEDIT`~else`0~/if`</font>+<font color="grey">~if $daytotal[$d].APPPHOMAIL`~$daytotal[$d].APPPHOMAIL`~else`0~/if`</font>+<font color="#5E7C9E">(~if $daytotal[$d].APPPHOAPP_PIC`~$daytotal[$d].APPPHOAPP_PIC`~else`0~/if`+~if $daytotal[$d].EDITPHOAPP_PIC`~$daytotal[$d].EDITPHOAPP_PIC`~else`0~/if`)</font>=<font color="purple">~$daytotal[$d].APPPHO`</font>~else`&nbsp;~/if`</td></tr>
					</table>
				</td>
				~/foreach`
				<td class="label">
					<table ><tr class="fieldsnew"><td class="label" align="center" >~if $total.PROFAPPNEW || $total.PROFAPPEDIT || $total.PROFAPPMAIL || $total.PROFAPPAPP_PIC`<font color="red">~if $total.PROFAPPNEW`~$total.PROFAPPNEW`~else`0~/if`</font>+<font color="blue">~if $total.PROFAPPEDIT`~$total.PROFAPPEDIT`~else`0~/if`</font>+<font color="#EB55CD">~if $total.PROFAPPMAIL`~$total.PROFAPPMAIL`~else`0~/if`</font>+<font color="#7EC3FF">~if $total.PROFAPPAPP_PIC`~$total.PROFAPPAPP_PIC`~else`0~/if`</font>=<font color="green">~$total.PROFAPP`</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~else`&nbsp;~/if`</td></tr>
					<tr class="fieldsnew"><td class="label" align="center">~if $total.PHOAPPNEW || $total.PHOAPPEDIT || $total.PHOAPPMAIL || $total.PHOAPPAPP_PIC || $total.PHOEDITAPP_PIC`<font color="orange">~if $total.PHOAPPNEW`~$total.PHOAPPNEW`~else`0~/if`</font>+<font color="brown">~if $total.PHOAPPEDIT`~$total.PHOAPPEDIT`~else`0~/if`</font>+<font color="grey">~if $total.PHOAPPMAIL`~$total.PHOAPPMAIL`~else`0~/if`</font>+<font color="#5E7C9E">(~if $total.PHOAPPAPP_PIC`~$total.PHOAPPAPP_PIC`~else`0~/if`+~if $total.PHOEDITAPP_PIC`~$total.PHOEDITAPP_PIC`~else`0~/if`)</font>=<font color="purple">~$total.PHOAPP`</font>~else`&nbsp;~/if`</td></tr>
					</table>
				</td>
			</tr>
		</table>
	
		<br />
		  <p align="center"><font color="red">New Profiles</font> + <font color="blue">Edit Profiles</font> + <font color="#EB55CD">Mails</font> = <font color="green"> Total Unique Profiles</font></p>
        <p align="center"> <font color="orange">New Photos</font> + <font color="brown">Edit Photos</font>  + <font color
="#EB55CD">Mail photos</font> = <font color="purple"> Total Unique Photos</font></p>
	
		  <table width=1070px  border=0 align="center">
                        <tr class="formhead">
                                <td  align="center">&nbsp;DELETED</td>
                        </tr>
                </table>

                <table width=100% align="center" border=0 cellspacing=2 cellpadding=5>
                        <tr class="label">
                                <td align="center">&nbsp;Day</td>
                                ~foreach from=$monthDaysArray item=v`
                                <td align="center" width=6% >&nbsp;~$v`</td>
                                ~/foreach`
                                 <td align="center">&nbsp;Total</td>
                         </tr>
                        ~foreach from=$data key=k item=v`
                         <tr class="fieldsnew">
                                 <td align="center" class="label">&nbsp;~$k`</td>
                                ~foreach from=$monthDaysArray item=d`
                                <td>
                                        <table><tr class="fieldsnew"><td align="center">~if $data[$k][$d].DELPROFNEW || $data[$k][$d].DELPROFEDIT || $data[$k][$d].DELPROFMAIL`<font color="red">~if $data[$k][$d].DELPROFNEW`~$data[$k][$d].DELPROFNEW`~else`0~/if`</font>+<font color="blue">~if $data[$k][$d].DELPROFEDIT`~$data[$k][$d].DELPROFEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $data[$k][$d].DELPROFMAIL`~$data[$k][$d].DELPROFMAIL`~else`0~/if`</font>=<font color="green">~$data[$k][$d].DELPROF`</font>~else`&nbsp;~/if`</td></tr>
                                        <tr class="fieldsnew"><td align="center" > ~if $data[$k][$d].DELPHONEW || $data[$k][$d].DELPHOEDIT || $data[$k][$d].DELPHOMAIL`<font color="orange">~if $data[$k][$d].DELPHONEW`~$data[$k][$d].DELPHONEW`~else`0~/if`</font>+<font color="brown">~if $data[$k][$d].DELPHOEDIT`~$data[$k][$d].DELPHOEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $data[$k][$d].DELPHOMAIL`~$data[$k][$d].DELPHOMAIL`~else`0~/if`=<font color="purple">~$data[$k][$d].DELPHO`</font>~else`&nbsp;~/if`</td></tr></table>
                                </td>
                                 ~/foreach`
                                <td class="label">
                                        <table><tr class="fieldsnew"> <td align="center" class="label">~if $usertotal[$k].DELPROFNEW || $usertotal[$k].DELPROFEDIT || $usertotal[$k].DELPROFMAIL`<font color="red">~if $usertotal[$k].DELPROFNEW`~$usertotal[$k].DELPROFNEW`~else`0~/if`</font>+<font color="blue">~if $usertotal[$k].DELPROFEDIT`~$usertotal[$k].DELPROFEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $usertotal[$k].DELPROFMAIL`~$usertotal[$k].DELPROFMAIL`~else`0~/if`</font>=<font color="green">~$usertotal[$k].DELPROF`</font>~else`&nbsp;~/if`</td></tr>
                                                <tr class="fieldsnew"><td align="center" class="label">~if $usertotal[$k].DELPHONEW || $usertotal[$k].DELPHOEDIT || $usertotal[$k].DELPHOMAIL`<font color="orange">~if $usertotal[$k].DELPHONEW`~$usertotal[$k].DELPHONEW`~else`0~/if`</font>+<font color="brown">~if $usertotal[$k].DELPHOEDIT`~$usertotal[$k].DELPHOEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $usertotal[$k].DELPHOMAIL`~$usertotal[$k].DELPHOMAIL`~else`0~/if`</font>=<font color="purple">~$usertotal[$k].DELPHO`</font>~else` &nbsp;~/if`</td></tr></table>
                                
                        </tr>
			  ~/foreach`

                        <tr class="fieldsnew">
                                <td align="center" class="label">Per Day Total</td>
                                ~foreach from=$monthDaysArray item=d`
                                <td class="label">
                                        <table><tr class="fieldsnew"><td class="label" align="center">~if $daytotal[$d].DELPROFNEW || $daytotal[$d].DELPROFEDIT || $daytotal[$d].DELPROFMAIL`<font color="red">~if $daytotal[$d].DELPROFNEW`~$daytotal[$d].DELPROFNEW`~else`0~/if`</font>+<font color="blue">~if $daytotal[$d].DELPROFEDIT`~$daytotal[$d].DELPROFEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $daytotal[$d].DELPROFMAIL`~$daytotal[$d].DELPROFMAIL`~else`0~/if`</font>=<font color="green">~$daytotal[$d].DELPROF`</font>~else`&nbsp;~/if`</td></tr>
                                        <tr class="fieldsnew"> <td class="label" align="center">~if $daytotal[$d].DELPHONEW || $daytotal[$d].DELPHOEDIT || $daytotal[$d].DELPHOMAIL`<font color="orange">~if $daytotal[$d].DELPHONEW`~$daytotal[$d].DELPHONEW`~else`0~/if`</font>+<font color="brown">~if $daytotal[$d].DELPHOEDIT`~$daytotal[$d].DELPHOEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $daytotal[$d].DELPHOMAIL`~$daytotal[$d].DELPHOMAIL`~else`0~/if`</font>=<font color="purple">~$daytotal[$d].DELPHO`</font>~else`&nbsp;~/if`</td></tr>
                                        </table>
                                </td>
                                ~/foreach`
                                <td class="label">
                                        <table ><tr class="fieldsnew"><td class="label" align="center" >~if $total.PROFDELNEW || $total.PROFDELEDIT || $total.PROFDELMAIL`<font color="red">~if $total.PROFDELNEW`~$total.PROFDELNEW`~else`0~/if`</font>+<font color="blue">~if $total.PROFDELEDIT`~$total.PROFDELEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $total.PROFDELMAIL`~$total.PROFDELMAIL`~else`0~/if`</font>=<font color="green">~$total.PROFDEL`</font>~else`&nbsp;~/if`</td></tr>
                                        <tr class="fieldsnew"><td class="label" align="center">~if $total.PHODELNEW || $total.PHODELEDIT || $total.PHODELMAIL`<font color="orange">~if $total.PHODELNEW`~$total.PHODELNEW`~else`0~/if`</font>+<font color="brown">~if $total.PHODELEDIT`~$total.PHODELEDIT`~else`0~/if`</font>+<font color="#EF55CD">~if $total.PHODELMAIL`~$total.PHODELMAIL`~else`0~/if`</font>=<font color="purple">~$total.PHODEL`</font>~else`&nbsp;~/if`</td></tr>
                                        </td></table>
                                </td>
                        </tr>
                </table>

                <br /><br />


~else`
<form action="photo_screen_stats.php" method="post">
<input type="hidden" name="checksum" value=~$CHECKSUM`></input>

	  <table width=20% border=0 align="center">
        <tr >
        <td>
	  Month:
        </td>
        <td>
                <select name="month">
                        ~foreach from=$monthArray key=k item=v`
                        ~if $k!=$todMonth`
                        <option value=~$k`>~$v`</option>
                        ~else`
                        <option value=~$k` selected="selected">~$v`</option>
                        ~/if`
                        ~/foreach`
                </select>
        </td>
        </tr>
        <tr>
        <td>
	  Year:
        </td>
        <td>
                <select name="year">
                        ~section name=formYearLoop loop=$yearArray`
                        ~if $yearArray[formYearLoop]!=$todYear`
                        <option value=~$yearArray[formYearLoop]`>~$yearArray[formYearLoop]`</option>
                        ~else`
                        <option value=~$yearArray[formYearLoop]` selected="selected">~$yearArray[formYearLoop]`</option>
                        ~/if`
                        ~/section`
                </select>
        </td>
        </tr>
        <tr>
        <td width=100% align="center">
        <input type="submit" name="phogo" value="GO!"></input>
        </td>
        </tr>
        </table>
	

</form>


~/if`
<br /><br />
</body>
</html>

