<html>
<head>
<title>Jeevansathi.com - MIS - Payment Wise</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>

<table width=99% align="center">
<tr class="label">
<td align="center" width=25%>Month</td>
<td align="center" width=25%>Registered</td>
<!--
<td align="center" width=14%>Active</td>
-->
<td align="center" width=25%>Paid</td>
<td align="center" width=25%>Paid Percentage</td>
<!--
<td align="center" width=15%>Active Percentage</td>
<td align="center" width=15%>Paid/Active Percentage</td>
-->
</tr>
~section name=jp loop=$jmmarr`
<tr class="fieldsnew">
<td class="label" align="center">~$jmmarr[jp]`</td>
<td align="center">~$tot[jp].reg`</td>
<!--
<td align="center">~$tot[jp].act`</td>
-->
<td align="center">~$tot[jp].paid`</td>
<td align="center">~$tot[jp].percent`</td>
<!--
<td align="center">~$tot[jp].apercent`</td>
<td align="center">~$tot[jp].papercent`</td>
-->
</tr>
~/section`
</table>

<br><br>
</body>
</html>
