<html>
   <head>
      <title>SKYPAK MIS</title>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <link rel="stylesheet" href="jeevansathi.css" type="text/css">
      <style>
        DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
      </style>
   </head>
   <body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
   <br><br>
~if $flag eq '1'`
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	   <tr class="formhead">
              <td colspan=100% align="center">SKYPAK INVOICE MIS</td>
	   </tr>
	   <tr class="formhead">
	      <td colspan=100% align="center">MIS FOR &nbsp;~if $day`~$day`-~/if`~$month`-~$year`</td>
	   </tr>
	</table>
	<br>
	<table width="760" align="center" border=0 cellspacing=4 cellpadding=5>
	   <tr class="label">
	      <td width=10% align="center" class=green>&nbsp;Sno.</td>
	      <td width=80% >
		<table border="0" cellspacing=4 cellpadding=5 align=center>
		   <tr class="green">
		      <td width="20%" align="center">REQUEST ID</td>
		      <td width="20%" align="center">SENT TO</td>
		      <td width="20%" align="center">STATUS</td>
		      <td width="20%" align="center">CITY</td>
		      <td width="20%" align="center">REQUESTED BY</td>
		   </tr>
		</table>
              <td width=10% align="center" class=green>&nbsp;SENT BY</td>
	   </tr>
	 ~section name=i loop=$details`
	   <tr>
	      <td width=10% align="center" class="fieldsnew">&nbsp;~$details[i].sno`</td>
	      <td width=80% class="fieldsnew">
		<table border="1" cellspacing=4 cellpadding=5 align=center>
		~section name=j loop=$sent_name[i]`
		   <tr class="fieldsnew">
		      <td width="20%" align="center">
		          ~$sent_name[i][j].REQID`
		      </td>
		      <td width="20%" align="center">
		          ~$sent_name[i][j].name`
		      </td>
		      <td width="20%" align="center">
			  ~$sent_name[i][j].status`
                      </td>
		      <td width="20%" align="center">
			  ~$sent_name[i][j].CITY`
                      </td>
		      <td width="20%" align="center">
			  ~$sent_name[i][j].ENTRYBY`
                      </td>
		   </tr>
		~/section`
		</table>
	      </td>
              <td width=10% align="center" class="fieldsnew">&nbsp;~$details[i].SENTBY`</td>
	    </tr>
	~/section`
	</table>
~/if`
</body>
</html>
