<html>
<head>
   <title>Jeevansathi.com - MIS - SMS MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<link rel="stylesheet" href="../profile/images/styles.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>
~if $flag eq '1'`
		<center>
		<font color=red>Search when source is 'WIB'</font><br>
		<font color=blue>Search when source is 'WAP'</font><br>
		<font color=green>Search when source is 'SMS'</font><br>
		<font color=purple>Search when source is 'NULL'</font><br>
		</center>
		<br>

		<table width=100% border=0 align="center" cellspacing="4" cellpadding=5>
		<tr class="formhead">
		<td colspan=100% align="center">SMS COUNT &nbsp;&nbsp;Year-Month ~$year`-~$month`</td>
		</tr>
		<tr class="label">
		<td align="center">&nbsp;Day</td>
		~section name=dd loop=$ddarr`
			<td width=4% align="center">&nbsp;~$ddarr[dd]`</td>
		~/section`
		<td align="center">&nbsp;Total</td>
		</tr>

		<tr class="fieldsnew">
		<td align="center" class="label">&nbsp;Search log Count</td>
		~section name=dd loop=$ddarr`
			<td width=4% align="center"><span class="red">~if $cnt[0][dd] eq ''`0~else`~$cnt[0][dd]`~/if`</span><br><span class="blue">~if $cnt[1][dd] eq ''`0~else`~$cnt[1][dd]`~/if`</span><br><span class="green">~if $cnt[2][dd] eq ''`0~else`~$cnt[2][dd]`~/if`</span><br><span class="purple">~if $cnt[3][dd] eq ''`0~else`~$cnt[3][dd]`~/if`</span></td>
		~/section`
			<td align="center" class="label"><span class="red">~if $tot[0] eq ''`0~else`~$tot[0]`~/if`</span><br><span class="blue">~if $tot[1] eq ''`0~else`~$tot[1]`~/if`</span><br><span class="green">~if $tot[2] eq ''`0~else`~$tot[2]`~/if`</span><br><span class="purple">~if $tot[3] eq ''`0~else`~$tot[3]`~/if`</span></td>
		</tr>

		<tr class="fieldsnew">
	        <td align="center" class=label>&nbsp;Total</td>
		~section name=dd loop=$ddarr`
		<td width=4% align="center">~if $col[dd] eq ''`0~else`~$col[dd]`~/if`</td>
		~/section`
		<td align="center" class="label" >~$tot[4]`</td>
		</tr>
			
		<tr class="fieldsnew">
		<td align="center" class="label">&nbsp;Check Status Count</td>
                ~section name=dd1 loop=$ddarr`
                        <td width=4% align="center">&nbsp;~$cnt1[dd1]`</td>
                ~/section`
                <td align="center" class="label">&nbsp;~$tot1`</td>
		</tr>

		<tr class="fieldsnew">
                <td align="center" class="label">&nbsp;Sms Contacts Count (Initial Contact)</td>
                ~section name=dd2 loop=$ddarr`
                        <td width=4% align="center">&nbsp;~$cnt2[dd2]`</td>
                ~/section`
                <td align="center" class="label" >&nbsp;~$tot2`</td>
		</tr>
		
		<tr class="fieldsnew">
                <td align="center" class="label">&nbsp;Sms Contacts Count (Contact Accepted)</td>
                ~section name=dd3 loop=$ddarr`
                        <td width=4% align="center">&nbsp;~$cnt3[dd3]`</td>
                ~/section`
                <td align="center" class="label">&nbsp;~$tot3`</td>
                </tr>
		
		 <tr class="fieldsnew">
                <td align="center" class="label">&nbsp;Chat Invitation (Accepted)</td>
                ~section name=dd4 loop=$ddarr`
                        <td width=4% align="center">&nbsp;~$cnt4[dd4]`</td>
                ~/section`
                <td align="center" class="label" >&nbsp;~$tot4`</td>
                </tr>
                                                                                                                             
                <tr class="fieldsnew">
                <td align="center" class="label">&nbsp;Chat Invitation (Open)</td>
                ~section name=dd5 loop=$ddarr`
                        <td width=4% align="center">&nbsp;~$cnt5[dd5]`</td>
                ~/section`
                <td align="center" class="label">&nbsp;~$tot5`</td>
                </tr>

		<tr class="fieldsnew">
                <td align="center" class="label">&nbsp;Initial Request by mobile (Accepted By logging)</td>
                ~section name=dd6 loop=$ddarr`
                        <td width=4% align="center">&nbsp;~$cnt6[dd6]`</td>
                ~/section`
                <td align="center" class="label">&nbsp;~$tot6`</td>
                </tr>

		</table>
~else`
	<br><br>
	<form method=post action="sms_mis.php">
	<table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td>
		<select name="month">
	        ~section name=mm loop=$mmarr`
	                <option value=~$mmarr[mm]`>~$mmarr[mm]`</option>
        	~/section`
	        </select>-
		<select name="year">
	        ~section name=yr loop=$yyarr`
	                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        	~/section`
	        </select>Month-Year
	</td>
	</tr>
	<tr>
	<input type="hidden" name="cid" value=~$cid`>
	<td align="left"><input type="submit" name="CMDGo" value="     Go     "></td>
	</tr>
	</table>
	</form>
~/if`
</body>
</html>
