<html>
<head>
<!--view_for_mis_main.htm-->  
 <title>Jeevansathi.com - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>

~if $flag eq '1'`
	
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="formhead" width="100%"><td align="center" colspan=14><a href="view_for_mis_main.php?cid=~$cid`">MAIN PAGE</a></td></tr>
	<tr class="formhead">
        <td colspan=100% align="center">VIEWS RESULTS Day wise</td>
	</tr>
	<tr class="formhead">
	<td colspan=100% align="center">&nbsp;Month - Year : ~$month`-~$year`</td>
	</tr>
	</table>
	<br>
	<table width="100%" align="center" border=0 cellspacing=4 cellpadding=5>
	<tr class="label">
	~if $morc eq 'mtongue'`
	<td align="center">&nbsp;Mtongue</td>
	~else`
	<td align="center">&nbsp;Caste</td>
	~/if`
	~section name=co loop=$ddarr`
        <td align="center" colspan=3>&nbsp;~$ddarr[co]`</td>
	~/section`
        <td align="center" colspan=3>&nbsp;Total</td>
        </tr>
	
	~section name=ho loop=$cnt start=1`
        <tr class="fieldsnew">
        ~if $morc eq 'mtongue'`
	<td align="center"  class="label">&nbsp;~$mtongue[ho]`</td>
        ~else`
	<td align="center"  class="label">&nbsp;~$caste[ho]`</td>
	~/if`
	~section name=cho loop=32 start=1`
                <td align="center"  colspan=3>&nbsp;~$total[ho][cho]`</td>
        ~/section`
		<td align="center"  colspan=3 class="red">&nbsp;~$total_caste[ho]`</td>
	</tr>
	~/section`	
        <tr class="fieldsnew">
	<td align="center">&nbsp;Total Day wise</td>
	~section name=cho loop=32 start=1`
	<td align="center" colspan=3 class="red">&nbsp;~$total_day[cho]`</td>
	~/section`
	<td align="center" colspan=3 class="green">&nbsp;~$finaltotal`</td>
	</tr>
	
	<tr class="label">
        <td align="center">&nbsp;Days</td>
        ~section name=co loop=$ddarr`
        <td align="center" colspan=3>&nbsp;~$ddarr[co]`</td>
        ~/section`
        <td align="center" colspan=3>&nbsp;</td>
        </tr>

	</table>
	<br>
	<hr>

~else`
	<form method=post action="view_for_mis_main.php">
	<table width=80% border=0 align="center" cellpadding=5>
	<tr>
	<td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="month">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select> - 
	<select name="year">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Month - Year
	</td>
	</tr>
	<tr>
	<hr>
	<td>Select Criteria
	<input type=radio name=morc value="mtongue" checked>Mtongue
	<input type=radio name=morc value="caste">Caste
	</td>
	<td>Paid
	<select name=paid>
	<option value="">Select</option>
	<option value=Y>Yes</option>
	<option value=N>No</option>
	</select>	
	</td>
	<td>Photo
	<select name=photo>
	<option value="">Select</option>
	<option value=Y>Yes</option>
	<option value=N>No</option>
	</select>	
	</td>
	<br>
	<td>Gender
	<select name=gender>
	<option value="">Select</option>
	<option value=M>Male</option>
	<option value=F>Female</option>
	</select>	
	</td>
	<td>Match Alert
        <select name=matchalert>
        <option value="">Select</option>
        <option value=Y>Yes</option>
        <option value=N>No</option>
        <option value=T>Top</option>
        </select>
        </td>
	<td>Visitor Alert
        <select name=visitoralert>
        <option value="">Select</option>
        <option value=Y>Yes</option>
        <option value=N>No</option>
        </select>
        </td>

	</tr>
	<tr>
	<input type="hidden" name="cid" value=~$cid`>
	<td ><input type="submit" name="CMDGo" value="     Go     "></td>
	</tr>
	</table>
	</form>
~/if`
</body>
</html>
