<html>
<head>
<title>Jeevansathi - MIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>

~if $flag eq 1`
	<br>
	<table width=100% border=0 cellspacing=2 cellpadding=2>
		<tr class="formhead" align="center">
			<td>Source</td>
	        	~section name=dsec loop=$dtarr`
        			<td>~$dtarr[dsec]`</td>
			~/section`
			<td> Source Total </td>
	        </tr>
		~section name=ssec loop=$srcarr`
			<tr>
				<td class="label" align="center">~$srcarr[ssec]`</td>
			        ~assign var="src" value=$srcarr[ssec]`
				~section name=csec loop=$dtarr`
					~assign var="dt" value=$dtarr[csec]` 
					<td class="fieldsnew" align="center">~$cntarr[$src][$dt]`</td>
				~/section`
				<td class="label" align="center">~$totalsource[ssec]`</td>
			</tr>
	        ~/section`
		<tr>
		<td class="formhead" align="center"> Day Total </td>
                        ~assign var="totalall" value=0`
                        
			~section name=xyz loop=$totaldate`
                            ~assign var="td" value=$totaldate[xyz]`
				~assign var="totalall" value=$totalall+$td`
				<td class="label" align="center">~$totaldate[xyz]`</td>
			~/section`
			<td class="formhead" align="center">~$totalall`</td>
		<tr>
        </table>
~else`
	<br>

		~assign var="src" value=0`
	~section name=srcsec loop=$srcarr`
		<table width=100% border=0 cellspacing=3 cellpadding=4>
			<tr><td class="formhead" align="center">Source</td>
			<td class="formhead" align="center" colspan=25>  ~$srcarr[srcsec]`</td></tr>
			<tr class="formhead" align="center">
				<td>Hours</td>
				~section name=hsec loop=$hharr`
					<td>~$hharr[hsec]`</td>
				~/section`
				<td> Total </td>
			</tr>
			~section name=dtsec loop=$dtarr`
			<tr>
				~assign var="dt" value=$dtarr[dtsec]`
				<td class="label" align="center">~$dtarr[dtsec]`</td>
				~section name=hval loop=$hharr`
					~assign var="hh" value=$hharr[hval]`
					<td class="fieldsnew" align="center">~$cntarr[$src][$dt][$hh]`</td>
				~/section`
				<td class="label" align="center">~$totaldate[$src][dtsec]`</td>
			</tr>
			~/section`
			<tr>
				<td class="formhead" align="center">Total Hits</td>
				<td colspan=24 class="fieldsnew"> &nbsp;</td>
				<td class="label" align="center">~$totalsource[srcsec]`</td>
			</tr>
		</table>
		<br><br>
		~assign var="src" value=$src+1`
	~/section`

~/if`
</body>
</html>
