<html>
<head>
<title>Jeevansathi.com - MIS - ZONE STATUS </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="jeevansathi.css" type="text/css">
<style>
DIV {position: relative; top: 45px; right:25px; color:yellow; visibility:hidden}
</style>
                                                                                                 
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
                                                                                                 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
        <td valign="top" width="30%" bgcolor="#efefef"></td>
        <td valign="top" width="40%" bgcolor="#efefef" align="center"><img src="../profile/images/logo_1.gif" width="209" hei
ght="63" usemap="#Map" border="0"></td>
        <td valign="bottom" width="30%" bgcolor="#efefef">
        </td>
</tr>
</tbody>
</table>
<br><br>


~if $flag eq '1'`
        ~if $mflag eq '1'`


	~elseif $dflag eq '1'`

                <table width="100%" align="center" border=0 cellspacing=2 cellpadding=5>
                <tr class="formhead">
                <td colspan=100% align="center">&nbsp;&nbsp;&nbsp;&nbsp;Month : ~$dmonth` Year : ~$dyear`</td>
                </tr>
 ~section name=zz loop=$zone_arr`
                <tr class="label">
                <td align="center" width=6%>&nbsp;

~if $zone_arr[zz] eq 'COMFORT'`<font color="blue">~$zone_arr[zz]`</font>
~elseif $zone_arr[zz] eq 'RUSH'`<font color="orange">~$zone_arr[zz]`</font>
~elseif $zone_arr[zz] eq 'REDALERT'`<font color="red">~$zone_arr[zz]`</font>
~elseif $zone_arr[zz] eq 'EXPIRED'`<font color="purple">~$zone_arr[zz]`</font>~/if`


</td>
                ~section name=dd loop=$ddarr`
                        <td align="center">&nbsp;~$ddarr[dd]`</td>
                ~/section`
                </tr>
                ~section name=usr loop=$operators`
                        <tr class="fieldsnew">
                        <td align="center" class="label">&nbsp;~$operators[usr]`</td>
                        ~section name=dd loop=$ddarr`
<td width=6% align="center" valign="center">

~if $zone_arr[zz] eq 'COMFORT'`<font color="blue">~$cnt[zz][usr][dd]`</font>
~elseif $zone_arr[zz] eq 'RUSH'`<font color="orange">~$cnt[zz][usr][dd]`</font>
~elseif $zone_arr[zz] eq 'REDALERT'`<font color="red">~$cnt[zz][usr][dd]`</font>
~elseif $zone_arr[zz] eq 'EXPIRED'`<font color="purple">~$cnt[zz][usr][dd]`</font>~/if`

</td>
                        ~/section`
                        </tr>
                ~/section`
                <td colspan=100% align="center">&nbsp;</td>
 ~/section`

                </table>
	~/if`


~else`
<form method=post action="zone.php">
        <table width=80% border=0 align="center" cellpadding=5>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;
        </td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;
                <select name="user_type">
                        <option value="N">Normal Screening User</option>
                        <option value="P">Photo Screening User</option>
                </select>
        </td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;&nbsp;<input name="type" type="radio" value='M'>&nbsp;Month View</td>

        <td>
        <td colspan=2>
        <select name="dmonth">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select>&nbsp;Month

        <select name="myear">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Year
        </td>
        </tr>

        <tr>
        <td><br><br>&nbsp;&nbsp;&nbsp;<input name="type" type="radio" value='D'> Day View <br><br></td>
        <td colspan=2>
        <select name="dmonth">
        ~section name=mon loop=$mmarr`
                <option value=~$mmarr[mon]`>~$mmarr[mon]`</option>
        ~/section`
        </select>&nbsp;Month
        <select name="dyear">
        ~section name=yr loop=$yyarr`
                <option value=~$yyarr[yr]`>~$yyarr[yr]`</option>
        ~/section`
        </select>&nbsp;Year
        </td>
        </tr>
        <tr>
        <input type="hidden" name="checksum" value=~$CHECKSUM`>
        <td align="right"><input type="SUBMIT" name="SUBMIT" value="     Go     "></td>
        </tr>
        </table>
        </form>
~/if`
</body>
</html>

