.prf-coverNoPro {
	background:url(/images/jspc/viewProfileImg/coverNoProfile.jpg) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.blankHgt{height:270px;}
.settop1{top:-55px}
#srpOpaque .srewhite   
{background: rgba(255, 255, 255, 1);}
.colorC3{
    color:#C3C3C3;
}