.ccbg1{background-color:#f2f2f2}
.ccbg2{background-color:#fafafa}
.ccp1{margin:0 78px}
.ccp2{padding:20px 22px 0 22px}
.ccp3{padding:10px}
.ccp4{padding:13px 14px 10px 0}
.ccp5{margin-top:-4px}
.ccp6{padding:14px 22px}
.ccp7{padding:40px 0}
.ccp8{padding:25px 40px}
.ccp9{padding:20px 22px 0 22px}
.cc10{margin-top:-4px}
.ccp11{padding:20px 22px 20px 22px}
.cssline{bottom:0; height:2px; left:0}

.ccdim1Parent{width:100px; height:100px}
.ccdim1{width:100px;}
.ccdim2{width:572px; height:100px}
.ccdim3{width:40px; height:40px}


.ccbrdb1{border-bottom:1px solid #d5d5d5}
.ccbrdb2{border:1px solid #d5d5d5}
.ccout{outline:#FFF}

.ccwid1{width:244px}
.ccwid2{width:746px}
.ccwid3{width:180px}
.ccwid4{width:572px}
.ccwid5{width:599px}
.js-resultsCount
{
  padding-left: 4px;
  font-size: 15px;
}
.js-hmin
{
    min-height: 223px;
}

.js-message{
	min-height: 22px;
    word-wrap: break-word;
}
.ccww{word-wrap: break-word;}
.ccnbck{background-position: -178px -360px;width: 15px;height: 24px;}
.cccam{background-position: -178px -384px;width: 28px;height: 23px;}
.cckun{background-position: -178px -405px;width: 28px;height: 23px;}
.cch1{height:15px}

ul.ccvtab > li{line-height:45px;}
ul.ccvtab > li.active{background-color:#fff;border-bottom:1px solid #d5d5d5}
ul.ccvtab > li span{display:inline-block; padding:0 30px; cursor:pointer}
ul.ccvtab > li.active span{border-bottom:2px solid #34495e}

ul.cclist1 > li{width:200px; text-align:center;line-height:47px}

ul.ccsublist > li{padding-bottom:16px;}
.ccnb1{width:570px; border-top:1px solid #e2e4e7}
.ccnb2{border-bottom:1px solid #e2e4e7}
ul.ccsublist > li:hover .ccopt1{display:none}
.ccopt2{display:none}
ul.ccsublist > li:hover .ccopt2{display:block}

ul.seclvl li.active{color:#34495e}
ul.seclvl li{cursor:pointer}
ul.seclvl li:nth-child(1){border-right:1px solid #888888;padding-right:10px}

ul.cclist3 li{background-color:#34495e}
ul.cclist3 li:hover{background-color:#d9475c}

.pagprv {
    background-position: 0px -146px;
    width: 37px;
    height: 30px;
}
.pgnxt {
    background-position: -38px -146px;
    width: 37px;
    height: 30px;
}

.ccdimn4{width:602px; height:100px}
.cch2n{height:100px}
.ccp10{padding:13px 14px 10px 30px}
.ta200{
	max-height: 200px;
}

.js-padallmem {
    padding: 14px 27px
}

.mainBrdr {
  border-bottom: 1px solid #e2e4e7;
  padding: 16px 0px;
}
.mainBrdr2 {
    border-bottom: 1px solid #e2e4e7;
    padding: 16px 0px 30px 0px;
}

.wid68p {
  width: 68%;
}
.inDisp {
  display: inline-block;
}
.wid30p {
  width: 30%;
}
.verTop {
  vertical-align: top;
}
.calUserDiv {
  padding: 11px 13px;
  border: 1px solid #C0BEBE;
  margin: 18px;
}
.noUserDiv {
  padding: 11px 15px;
  border: 1px solid #C0BEBE;
}
.hlpcl11 {
  color:white;
  background-color: #999;
}
.wid60p{width:60%}
