.fixed-ratio-resize { /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

.imghid{visibility: hidden;}
.loadrpos{
		position: absolute;
		top:50%;
		left: 50%;
		-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	}
	.up_sprite {
    background-image: url('../../img/upload-sprite.png');
    background-repeat: no-repeat;
    display: block !important;
}
.puback {
    background-position: 1px -248px;
    width: 47px;
    height: 34px;
}
.bckpos{top:3%; left:3%}
.bckpos1{top:4%; left:47%}
.bckpos2{bottom:0;left:0}
