.key,
.uicon {
    width: 21px;
    height: 16px
}
.err2_icon,
.key,
.uicon {
    height: 16px
}
.clearfix:after,
.clr {
    clear: both
}
.nl_btn1,
a {
    text-decoration: none
}
.ham_b20,
.nl_pageHd,
.scrollhid {
    overflow: hidden
}
.headerimg1 {
    background: url('../../img/loginbg.jpg') center center no-repeat #3e3e3e!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.uicon {
    background-position: -7px -82px
}
.key {
    background-position: -7px -117px
}
.err2_icon {
    background-position: -143px -59px;
    width: 17px
}
.opaer1 {
    background-color: rgba(102, 102, 102, .9)
}
.classone input {
    border: 0;
    background: 0 0;
    font-size: 15px;
    color: #dddbdb
}
.icons1,
.mainsp {
    background-repeat: no-repeat
}
.classone input::-webkit-input-placeholder {
    color: #dddbdb
}
.classone input:-moz-placeholder {
    color: #dddbdb
}
.classone input::-moz-placeholder {
    color: #dddbdb
}
.classone input:-ms-input-placeholder {
    color: #dddbdb
}
.app_clrw,
.white {
    color: #fff
}
@media (min-width: 280px) and (max-width: 320px) {
    .lgin_pad1 {
        padding: 20px 0
    }
    .lgin_inp_pad {
        padding: 20px 15px
    }
}
@media (min-width: 321px) {
    .lgin_pad1 {
        padding: 45px 0 20px
    }
    .lgin_inp_pad {
        padding: 25px 15px
    }
}
.HamiconLogin {
    padding-left: 5%
}
.loginLogo {
    margin-left: 20%
}
.transLayer {
    position: absolute;
    height: 100%;
    opacity: .2;
    background-color: #fff
}
.loaderSmallIcon2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20px;
    height: 20px
}
.loaderSmallIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -2px
}
*,
body {
    margin: 0 auto
}
* {
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    font-family: "Roboto Light, Arial, sans-serif, Helvetica Neue", Helvetica;
    background-color: #f5f5f5
}
.fontlig,
.fontrobbold {
    font-family: Roboto, sans-serif
}
.clearfix:after,
.clearfix:before {
    display: table;
    line-height: 0;
    content: ""
}
.fl {
    float: left
}
.fr {
    float: right
}
.txtc {
    text-align: center
}
.txtr {
    text-align: right
}
.posrel {
    position: relative
}
.loader,
.posfix,
.urldiv {
    position: fixed
}
.dispbl {
    display: block
}
.dispibl {
    display: inline-block
}
.fullwid {
    width: 100%
}
.fullheight {
    height: 100%!important
}
.wid8p {
    width: 8%
}
.wid80p {
    width: 80%
}
.wid10p {
    width: 10%
}
.fwid_c1 {
    width: 100%
}
.wid49p {
    width: 49%
}
.wid76p {
    width: 76%
}
.lh30 {
    line-height: 30px
}
.bg7 {
    background-color: #d9475c
}
.bg10 {
    background-color: #34495e
}
.pad12 {
    padding: 12px 0
}
.padr10 {
    padding-right: 10px
}
.pad2 {
    padding: 20px 0
}
.padl10 {
    padding-left: 10px
}
.pad1 {
    padding: 0 15px
}
.pt3 {
    padding-top: 3px
}
.pt20 {
    padding-top: 20px
}
.app_pt10,
.pt10 {
    padding-top: 10px
}
.mt5 {
    margin-top: 5px
}
.opa70 {
    opacity: .7;
    filter: alpha(opacity=70)
}
.brdr9 {
    border-top: 1px solid #868181
}
.brdr10 {
    border-bottom: 1px solid #868181
}
.brdr11 {
    border-right: 1px solid #2d4156
}
.f13 {
    font-size: 13px
}
.f12 {
    font-size: 12px
}
.f14 {
    font-size: 14px
}
.f18 {
    font-size: 18px
}
.f17 {
    font-size: 17px
}
.f15 {
    font-size: 15px
}
.mainsp {
    background-image: url(https://static.jeevansathi.com/images/jsms/commonImg/main-sprite_new_1.png)
}
.icons1 {
    background-image: url(https://static.jeevansathi.com/images/jsms/commonImg/icons1.png)
}
input {
    border: 0;
    background: 0 0;
    outline: 0
}
.urldiv {
    width: 100%;
    background: url(https://static.jeevansathi.com/images/jsms/commonImg/loader.gif) center no-repeat #fff;
    top: 0;
    z-index: 10
}
.dn {
    display: none
}
.apppromoshow,
.nl_close {
    display: block
}
.loader {
    width: 0;
    height: 0
}
.loader.simple {
    width: 100%;
    height: 100%;
    z-index: 10000
}
.loader.simple.dark {
    opacity: .6;
    background: #fff
}
.loader.simple.dark.image,
.loaderimg {
    background-image: url(https://static.jeevansathi.com/images/jsms/commonImg/loader.gif);
    background-repeat: no-repeat;
    background-position: center
}
.fontlig {
    font-weight: 300
}
.fontrobbold {
    font-weight: 700
}
.padl5 {
    padding-left: 5px
}
#appPromo img {
    max-width: 100%;
    height: auto
}
.app_posr {
    position: relative
}
.app_posa,
.ham_b100 {
    position: absolute
}
.app_pt20 {
    padding-top: 20px
}
.app_pt30 {
    padding-top: 30px
}
.app_f20 {
    font-size: 20px
}
.app_f40 {
    font-size: 140%
}
.app_lh20 {
    line-height: 180%
}
.app_txtc {
    text-align: center
}
.app_pos1 {
    top: 10px
}
.app_fnt16 {
    font-size: 16px
}
.app_clr1 {
    color: #d09091
}
.app_btn {
    background-color: #AA5053;
    padding: 15px;
    margin: 0 auto;
    width: 70%
}
.transitionApp {
    height: 0;
    -webkit-transition: height 2s linear;
    -moz-transition: 3s ease;
    -o-transition: 3s ease;
    transition: 3s ease
}
.app_grad1 {
    background: -webkit-linear-gradient(#8B1B03, #9A1904);
    background: -o-linear-gradient(#8B1B03, #9A1904);
    background: -moz-linear-gradient(#8B1B03, #9A1904);
    background: linear-gradient(#8B1B03, #9A1904)
}
.napp_pos2 {
    top: 5%;
    left: 5%
}
.nfamily1,
.nfamily2 {
    font-family: "Roboto Light"
}
.app_txtl {
    text-align: left
}
.app_txtr,
.nl_txtc {
    text-align: right
}
.ncolr1 {
    color: #999
}
.ncolr2 {
    color: #e2e2e2
}
.app_fnta {
    font-size: 80%
}
.app_fntb {
    font-size: 120%
}
.napp_pad1 {
    padding: 3% 4% 0
}
.napp_pt1 {
    padding-top: 3%
}
.napp_rat5 {
    background: url(https://static.jeevansathi.com/images/mobilejs/ratingapp.png) no-repeat;
    width: 135px;
    height: 31px
}
.napp_pt20,
.napp_pt_abc {
    padding-top: 20px
}
.napp_promo_profile {
    width: 180px;
    font-weight: 400
}
@media (min-width: 340px) and (max-width: 979px) {
    .napp_pad1 {
        padding: 10% 4% 0
    }
    .napp_pt20 {
        padding-top: 80px
    }
    .napp_pt_abc {
        padding-top: 40px
    }
    .napp_promo_profile {
        width: 240px;
        font-weight: 400
    }
}
.nl_pageHd {
    background: #42688f;
    font-size: 12px;
    font-weight: 400;
    padding: .7em .8em .8em;
    color: #fff
}
.nl_f16 {
    font-size: 16px
}
.nl_f13 {
    font-size: 13px
}
.nl_f18 {
    font-size: 18px
}
.nl_f11 {
    font-size: 11px
}
.nl_f12 {
    font-size: 12px
}
.start_r {
    background: url(https://static.jeevansathi.com/images/nl-star.png) 1px 1px no-repeat;
    width: 62px;
    height: 15px
}
.nl_close {
    background: url(https://static.jeevansathi.com/images/nl-star.png) -2px -19px no-repeat;
    width: 16px;
    height: 16px
}
.nl_full {
    width: 100%
}
.nl_pt12 {
    padding-top: 12px
}
.nl_p10 {
    padding: 10px
}
.nl_wid49 {
    width: 49%
}
.nl_wid38 {
    width: 38%
}
.nl_btn1 {
    background-color: #e9e9e9;
    text-align: center;
    padding: 9px 15px;
    font-size: 13px;
    color: #000
}
.nl_marginappPromo {
    margin-left: 0
}
.nl_pt15 {
    padding-top: 15px
}
.int_img1 {
    background: url(https://static.jeevansathi.com/images/jsms/interstital/bg_ham.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.int_color1 {
    color: #e2e2e2
}
.int_quote1 {
    background-position: -238px -295px;
    width: 33px;
    height: 46px
}
@media (min-width: 280px) and (max-width: 320px) {
    .int_pad1 {
        padding-top: 0
    }
    .int_pad2 {
        padding-top: 5%
    }
    .logo_pad1 {
        padding: 20px 0
    }
    .logo_pad1ios {
        padding: 20px 0 0
    }
    .int_btm {
        bottom: 16px
    }
}
@media (min-width: 321px) and (max-width: 720px) {
    .int_pad1 {
        padding-top: 5%
    }
    .int_pad2 {
        padding-top: 10%
    }
    .logo_pad1,
    .logo_pad1ios {
        padding: 55px 0 20px
    }
    .int_btm {
        bottom: 25px
    }
}
.ham_minu100 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}
.ham_plus100 {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}
.ham_b100 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}
.newocbbg1 {
    background-color: #fff
}
.newocbbg2 {
    background-color: #d9475c
}
.ocbnewimg {
    background-image: url(https://static.jeevansathi.com/images/jsms/interstital/mob-newocb.png);
    background-repeat: no-repeat
}
.logoocb {
    background-position: 1px 1px;
    width: 60px;
    height: 58px
}
.ocbclose {
    background-position: -61px -27px;
    width: 16px;
    height: 16px
}
.ocbstar {
    background-position: -62px -4px;
    width: 69px;
    height: 16px
}
.errClass,
.ham_b20 {
    position: absolute;
    width: 100%
}
.ocbbr1 {
    border-radius: 5px
}
.ocbp1 {
    padding: 10px 20px
}
.ham_minu20 {
    -webkit-transform: translateY(-78px);
    transform: translateY(-78px)
}
.ham_plus20 {
    -webkit-transform: translateY(78px);
    transform: translateY(78px)
}
.ham_b20 {
    height: 78px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}
.padAppPromo {
    padding: 10px 15px
}
.errClass {
    z-index: 10000;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: opac0 .4s;
    -moz-animation: opac0 .4s;
    animation: opac0 .4s
}
.errClass.showErr {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: opac90 1s;
    -moz-animation: opac90 1s;
    animation: opac90 1s
}
.pad12_e {
    padding: 12px
}
.op1 {
    background-color: rgba(102, 102, 102, 1)
}
.baricon {
    background-position: -92px -22px;
    width: 21px;
    height: 20px;
}
