.key,
.uicon {
    width: 21px;
    height: 16px
}
.err2_icon,
.key,
.uicon {
    height: 16px
}
.clearfix:after,
.clr {
    clear: both
}
.nl_btn1,
a {
    text-decoration: none
}
.ham_b20,
.nl_pageHd,
.scrollhid {
    overflow: hidden
}
.headerimg1 {
    background: url('../../img/loginbg.jpg') center center no-repeat #3e3e3e!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.uicon {
    background-position: -7px -82px
}
.key {
    background-position: -7px -117px
}
.err2_icon {
    background-position: -143px -59px;
    width: 17px
}
.opaer1 {
    background-color: rgba(102, 102, 102, .9)
}
.classone input {
    border: 0;
    background: 0 0;
    font-size: 15px;
    color: #dddbdb
}
.icons1,
.mainsp {
    background-repeat: no-repeat
}
.classone input::-webkit-input-placeholder {
    color: #dddbdb
}
.classone input:-moz-placeholder {
    color: #dddbdb
}
.classone input::-moz-placeholder {
    color: #dddbdb
}
.classone input:-ms-input-placeholder {
    color: #dddbdb
}
.app_clrw,
.white {
    color: #fff
}
@media (min-width: 280px) and (max-width: 320px) {
    .lgin_pad1 {
        padding: 20px 0
    }
    .lgin_inp_pad {
        padding: 20px 15px
    }
}
@media (min-width: 321px) {
    .lgin_pad1 {
        padding: 45px 0 20px
    }
    .lgin_inp_pad {
        padding: 25px 15px
    }
}
.HamiconLogin {
    padding-left: 5%
}
.loginLogo {
    margin-left: 20%
}
.transLayer {
    position: absolute;
    height: 100%;
    opacity: .2;
    background-color: #fff
}
.loaderSmallIcon2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20px;
    height: 20px
}
.loaderSmallIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -2px
}
