.ot_chk {
    background-position: -185px -206px;
    width: 34px;
    height: 20px;
}
.newitcross {
    background-position: -196px -180px;
    width: 22px;
    height: 20px;
}
.ot_sprtie {
    background-image: url(https://static.jeevansathi.com/images/jsms/profile/viewProfile/viewpro_sprite_new.png);
    background-repeat: no-repeat;
}
.msg_srp {
    background-position: -204px -24px;
    width: 22px;
    height: 14px;
}
.mainsp {
    background-image: url(https://static.jeevansathi.com/images/jsms/commonImg/main-sprite_new_1.png);
    background-repeat: no-repeat;
}
.srp_pos2 {
	top: 0;
    right: 0;
    padding: 10px 5px;
}
.mb70{margin-bottom: 70px}

.threedot1 {
	    background-position: -207px -56px;
    width: 16px;
    height: 39px;
}
.srpoverlay_2 {
    width: 100%;
    position: absolute;
    left: 0%;
    z-index: 109;
}
.threeDotOverlay {
	position: absolute;
	top:50%;
	transform: translate(0%, -50%);
    -webkit-transform: translate(0,-50%);
}
.photoDiv {
	border: 1px solid rgb(255,255,255);
	border: 1px solid rgba(255,255,255,0.2);
	overflow:hidden;
	width: 90px;
	height: 90px;
	border-radius: 45px;
}
.pl15{padding-left: 15px}
.pr15{padding-right: 15px}
.mt45{margin-top: 45px}
.srp_close1 {
    width: 25px;
    height: 23px;
    background-position: -160px -228px;
}
.top18r0 {
	top: 18px;
	left: 0;
}
.reportAbuseContainer{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 120;
	background: rgb(0,0,0);
	opacity: 0.7;
}
.srp_box3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    top: 0px;
}
.mar200{ margin: 20px 0px;}
.margin20{margin:20px;}
.arow_new {
    background-position: -41px -53px;
    width: 25px;
    height: 19px;
    margin-left: 16px;
    margin-top: 24px;
  }
.reportAbuseTitle {
	position: relative;
    width: 90%;
    float: right;
    text-align: left;
}
.dashedBorder {
    border-bottom: 1px dotted #7e7e7e;
}
.pad3015 {
    padding: 30px 15px;
}
.abuseLi{
  text-align: left;
}
.top87{top: 87px;}
.bgTrans{background-color: transparent;}
.ot_msg {
    background-position: -228px -49px;
    width: 28px;
    height: 20px;
}
.lh26{line-height: 26px}
.lh50{line-height: 50px}
.srp_bg1 {
    background-color: #d2d2d2;
}
.freeMsgDiv {
    top: 50%;
    text-align: center;
}
.txtAr_bg1 {
    background-color: #272727;
}
.brdr23_contact {
    border-top: 1px solid #4f4541;
}
.com_pad3 {
    padding: 5px 0 5px 10px;
}
.lh15 {
    line-height: 15px;
}
.inp_1 {
    background-color: #5f4247;
    border-radius: 5px;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
    border: 0;
}
.com_pad4 {
    padding: 12px 14px 0 0;
}
.padl30_contact {
    padding-left: 35px;
}
.com_pad1_new {
    padding: 15px 10px 30px 35px;
}
.btm42{bottom: 42px;}
.shortlisted {
    background-position: -239px -130px;
    width: 29px;
    height: 20px;
}
.ce_top1{top: 0px}
.ce_z101{z-index: 101}
.ce_z102{z-index: 102}
.ce_z103{z-index: 103}
.ce_hgt1{height: 48px}
.ce_hgt2{line-height: 40px;text-align: center;}
.ce_lf1 {left: 0;top: 0;}
.ce_rg1{right:0; top:0}
.ce_dim1{width: 50px;height: 50px;}
.ce_pt1{padding-top: 55%}
.ce_pad_l {padding: 20px 10px 20px 50px;}
.ce_pad_2 {padding: 20px 50px 20px 10px;}
.ce_scoll1{overflow-y: auto; overflow-x: hidden;}
.ce_overlay {position: fixed;top: 0;right: 0;bottom: 0;left: 0;height: 100%;width: 100%; margin: 0; padding: 0; background: rgb(0,0,0);opacity: .70;
    filter: alpha(opacity=70);-moz-opacity: .70; overflow-x: none;}
.ce-bg { background: url("https://www.jeevansathi.com/images/jsms/membership_img/revamp_bg1.jpg") no-repeat center center #Dbdbdb;-webkit-background-size: cover;
    -moz-background-size: cover;-o-background-size: cover; background-size: cover; }
.ce_bdr1{border-bottom: 1px solid #cbc9c9;}
.ce_rptabu_c{width: 200%; overflow: auto; transform: translate(0px, 0px); transition-duration: 600ms;}
.ce_rptabu_d{transform: translate(-50%, 0px)}
.ce_abu_tick{background-position: -195px -204px; width: 28px; height: 20px;  margin-left: 3px;}


.ce_arow_new {background-position: -41px -53px;width: 25px;height: 19px;margin-left: 7px;margin-top: 15px;}


.srp_pinkdots{background-position: -207px -92px;
width: 16px;
height: 32px;}

.deleteDeclineNew{
  background-image:url(https://static.jeevansathi.com/images/jsms/commonImg/main-sprite.png); background-position: -162px -230px; width: 20px; height: 19px;
}

.deleteDecline{
	background-image:url(https://static.jeevansathi.com/images/jsms/commonImg/decline.png); background-repeat: no-repeat; background-position: -6px -90px; width: 25px; height: 25px;
}
.srp_phnicon{background-position: -135px -289px;width: 33px;height: 31px;}
.srp_msg1{background-position: -182px -289px;width: 33px;height: 31px;}
@media (max-width: 720px) and (min-width: 321px){

  .top_r1 {
      padding-top: 24%;
  }
}

.reportAbuseScreen,.reportInvalidScreen {float:left;width: 50%;position: relative;}
