<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/xhtml+xml; charset=utf-8" />
<title>My Jeevansathi</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<!-- Stylesheet start-->
<link href="~$IMG_URL`/profile/css/~$mobilejs_css`" rel="stylesheet" type="text/css" />
<!-- Stylesheet end-->
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
</head>
<body>
<!-- Header start-->
~$HEADER`
<!-- Header end-->
<!-- backbutton start-->
<!-- backbutton end-->
<!-- search for start-->
<div class="fbld" style="font-size:12px">
~$BREADCRUMB`
    ~if $LOGGEDIN`
    
        ~$MOBILE_LOGOUT_LINK`
        <!-- a href="~$SITE_URL`/P/logout.php?mobile_logout=1" style="font: 12px arial; float: right; font-weight: bold; color: #0046C5; margin-right: 10px;">Logout</a -->
    ~/if`
</div>
<div class="quick2 fs16" style="text-align:center"><div><strong>To buy paid membership</strong><br><br>
  Call us on<br>
  <strong style="color:#cd5601">1-800-419-6299</strong> [ Toll Free ]<br><br>
  Or drop us an Email at<br>
  <a href="mailto:help@jeevansathi.com" style="text-decoration:underline"><strong>help@jeevansathi.com</strong></a><strong></strong></div></div>
<p class="clr"></p>



<!-- footer start-->
~$FOOTER`
<!-- footer end-->

</body>
</html>
