<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/xhtml+xml; charset=utf-8" />
<title>Welcome-Jeevansathi</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!-- Stylesheet start-->
<link href="~$IMG_URL`/profile/css/~$mobilejs_css`" rel="stylesheet" type="text/css" />
<!-- Stylesheet end-->
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
</head>
<body>
<!-- Header start-->
~$HEADER`
<!-- Header end-->
<!-- search for start-->
<!-- search for end-->
<div class="confirm_msg fbld">
 ~if $ERR_MSG`<p class="flt"><img src="~$IMG_URL`/profile/I/mobilejs/red-error2.gif"/></p>
 <p/>
 <p  class="flt rederr2">~$ERR_MSG`</p>
 ~/if`
 ~if $MESSAGE`<p  class="flt pr12"><img src="~$IMG_URL`/profile/I/mobilejs/right-arrow.gif" /></p>
 <p  class="flt">~$MESSAGE`~/if`</p>
 ~if $PIXEL_CODE`
  ~$PIXEL_CODE`
 ~/if`
 <div class="clr fixhght">&nbsp;</div>
 </div>
 <a href="~$SITE_URL`/search/topSearchBand?isMobile=Y" class="gnricbtn fbld" style="margin:5px 0px 5px 53px;display:block;float:left" >Search Profiles</a>
<p style="height:60px;"></p>

<!-- footer start-->
~$FOOTER`
<!-- footer end-->

<!-- Google Code for Lead Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1072672959;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "666666";
var google_conversion_label = "lead";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1072672959/?label=lead&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
