.smallred {
	FONT-SIZE: 9px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.mediumblack {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mediumblack12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mediumwhite12 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.mediumblackb {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold
}
.mediumgreyb {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold
}
.mediumgreybl {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold
}

.mediummaroonb {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold
}

.mediumbrown {
	FONT-SIZE: 11px; COLOR: #F5A77C; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mediumbrownd {
	FONT-SIZE: 11px; COLOR: #5F241B; FONT-FAMILY: Arial, Helvetica, sans-serif
}




.formselect{FONT-FAMILY: Arial; FONT-SIZE: 11px;}

.bgbrowndark {background-color:#DB6422}
.bgbrown {background-color:#F5A77C}
.bgbrown1 {background-color:#F4AF69}
.bgbrownL {background-color:#FDB88C}
.bgbrownL1 {background-color:#FFC9A6}
.bgbrownL2 {background-color:#FFD3A1}
.bgbrownL3 {background-color:#FFE5CC}
.bgbrownL4 {background-color:#FFF2E5}
.bgbrownL5 {background-color:#FEF9F0}
.bgyellow {background-color:#FFED9F}
.bgwhite {background-color:#ffffff}
.bggrey {background-color:#cccccc}
.bggreyl {background-color:#e4e4e4}
.bggrey2 {background-color:#999999}
.bggrey3 {background-color:#F9F7F6}



img.floatLeft { float: left; margin: 2px; }
img.floatRight { float: right; margin: 2px; }


.redlink A:link {text-decoration: underline; color: #ff0000;}
.redlink A:visited {text-decoration: underline; color: #ff0000;}
.redlink A:active {text-decoration: underline; color: #ff0000;}
.redlink A:hover {text-decoration: underline; color: #ff0000;}

.blacklink A:link {text-decoration: none; color: #000000;}
.blacklink A:visited {text-decoration: none; color: #000000;}
.blacklink A:active {text-decoration: none; color: #000000;}
.blacklink A:hover {text-decoration: none; color: #000000;}

.blacklinku A:link {text-decoration: underline; color: #000000;}
.blacklinku A:visited {text-decoration: underline; color: #000000;}
.blacklinku A:active {text-decoration: underline; color: #000000;}
.blacklinku A:hover {text-decoration: underline; color: #000000;}

.bluelinku A:link {text-decoration: underline; color: blue;}
.bluelinku A:visited {text-decoration: underline; color: blue;}
.bluelinku A:active {text-decoration: underline; color: blue;}
.bluelinku A:hover {text-decoration: underline; color: blue;}

.greenlinku A:link {text-decoration: underline; color: green;}
.greenlinku A:visited {text-decoration: underline; color: green;}
.greenlinku A:active {text-decoration: underline; color: green;}
.greenlinku A:hover {text-decoration: underline; color: green;}



body {
	margin-left: 0px; margin-top: 0px; margin-right: 0px;
}
