.mbsearch{
        FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; cursor:pointer; padding-left:4; margin-bottom:0.5em
}

.extrabigblack {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; TYPE: bold
}

.bigblack {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.mediumblack {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mediumblack_new {
        FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.textblink {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        text-decoration:none;
        color: #990000;
}
.smallblack {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.smallblack1 {
        FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica,
sans-serif; TEXT-DECORATION: none
}

.bigwhite {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.mediumwhite{
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.smallwhite {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.mediumpinkbd {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #EB7E73; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.mediumpink {
	 FONT-SIZE: 10px; COLOR: #EB7E73; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.smallred {
	 FONT-SIZE: 9px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.mediumgreen {
	 FONT-SIZE: 11px; COLOR: #549458; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.mediumred{
	 FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.bigred{
         FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.smallblue {
	 FONT-SIZE: 9px; COLOR: #3366CC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

h2{font-weight: bold;   font-size: 12px; color: #669900; font-style: normal; font-family: ms sans serif; text-decoration: none; margin: 0;}
.TextBox {FONT-SIZE: 8pt; FONT-FAMILY: Arial;font-weight: normal}

.testbox {FONT-SIZE: 10px; FONT-FAMILY: arial}

.class1 A:link {text-decoration: none; color: #ffffff;}
.class1 A:visited {text-decoration: none; color: #ffffff;}
.class1 A:active {text-decoration: none; color: none;}
.class1 A:hover {text-decoration: none; color: black;}

.class2 A:link {text-decoration: none; color: green;}
.class2 A:visited {text-decoration: none; color: green;}
.class2 A:active {text-decoration: none color: none;}
.class2 A:hover {text-decoration: none; color: black;}

.class3 A:link {text-decoration: underline; color: #999999;}
.class3 A:visited {text-decoration: underline; color: #999999;}
.class3 A:active {text-decoration: underline color: none;}
.class3 A:hover {text-decoration: underline; color: black;}

.class4 A:link {text-decoration: none; color: black;}
.class4 A:visited {text-decoration: none; color: black;}
.class4 A:active {text-decoration: none color: none;}
.class4 A:hover {text-decoration: underline; color: green;}

.class5 A:link {text-decoration: underline; color: black;}
.class5 A:visited {text-decoration: underline; color: black;}
.class5 A:active {text-decoration: none color: none;}
.class5 A:hover {text-decoration: underline; color: green;}

.class5a A:link {text-decoration: none; color: black;}
.class5a A:visited {text-decoration: none; color: black;}
.class5a A:active {text-decoration: none color: black;}
.class5a A:hover {text-decoration: none; color: black;}

.class6 A:link {text-decoration: underline; color: green;}
.class6 A:visited {text-decoration: underline; color: green;}
.class6 A:active {text-decoration: none color: none;}
.class6 A:hover {text-decoration: underline; color: black;}

.class7 A:link {text-decoration: underline; color: red;}
.class7 A:visited {text-decoration: underline; color: red;}
.class7 A:active {text-decoration: none color: none;}
.class7 A:hover {text-decoration: underline; color: black;}

.class8 A:link {text-decoration: none; color: blue;}
.class8 A:visited {text-decoration: none; color: blue;}
.class8 A:active {text-decoration: none color: none;}
.class8 A:hover {text-decoration: underline; color: black;}

.extralargepink {
	 FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #EB7E73; FONT-FAMILY: Georgia, Times New Roman; TEXT-DECORATION: none
}

.class9 A:link {text-decoration: underline; color: blue;}
.class9 A:visited {text-decoration: underline; color: blue;}
.class9 A:active {text-decoration: none color: none;}
.class9 A:hover {text-decoration: underline; color: black;}

.style1 {color: #FF0000}

h1{font-weight: bold;    font-size: 14px; color: #000000; font-style: normal; font-family: ms sans serif; text-decoration: none;    margin: 0;}

.testbox1 {FONT-SIZE: 11px; FONT-FAMILY: arial; background-color: #ffffff; color:#3300FF; border-bottom-style:none; border-left-style:none; border-right-style:none; border-top-style:none}

.bgred {background-color:#D80101}
.bgyell {background-color:#FFF4B9}
.bggrey {background-color:#e8e8e8}
.bgwhi {background-color:#ffffff}
.bgsgrey {background-color:#B0C4D6}
.bglyell {background-color:#FFE57F}

.mediumgrey {
        FONT-SIZE: 12px; COLOR: #EBEBEB; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight: bold
}

.class10 A:link {text-decoration: none; color: #ebebeb;}
.class10 A:visited {text-decoration: none; color: #ebebeb;}
.class10 A:active {text-decoration: none; color: none;}
.class10 A:hover {text-decoration: none; color: #ffffff;}

.class11 A:link {text-decoration: none; color: black;}
.class11 A:visited {text-decoration: none; color: black;}
.class11 A:active {text-decoration: none color: none;}
.class11 A:hover {text-decoration: none; color: green;}

.class12 A:link {text-decoration: none; color: #828282;}
.class12 A:visited {text-decoration: none; color: #828282;}
.class12 A:active {text-decoration: none; color: 828282;}
.class12 A:hover {text-decoration: none; color: black;}

.mediumgrey1 {FONT-SIZE: 12px; COLOR: #EBEBEB; FONT-FAMILY: Arial; TEXT-DECORATION: none; font-weight: bold
}
.smallgrey {FONT-SIZE: 10px; COLOR: #828282; FONT-FAMILY: Arial; TEXT-DECORATION: none;
}

.headbigblack {
   FONT-SIZE: 16px; COLOR: #7A7A7A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight: bold
}

.bgsgrey1 {background-color:#D5DFE9}

.bglgrey {background-color:#f1f1f1}

.class1_1 A:link {text-decoration: underline; color: #ffffff;}
.class1_1 A:visited {text-decoration: underline; color: #ffffff;}
.class1_1 A:active {text-decoration: underline; color: none;}
.class1_1 A:hover {text-decoration: underline; color: #cccccc;}

.class1_a A:link {text-decoration: none; color: #ffffff;}
.class1_a A:visited {text-decoration: none; color: #ffffff;}
.class1_a A:active {text-decoration: none; color: #ffffff;}
.class1_a A:hover {text-decoration: none; color: #ffffff;}

.biglink a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
}
a:link {
        text-decoration: none;
}
a:visited {
        text-decoration: none;
        color: #000000;
}
a:hover {
        text-decoration: underline;
        color: #990000;
}
a:active {
        text-decoration: none;
}

-----STYLE FOR NEW LAYOUT-----

.mediumblackb {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold
}
.mediummaroonb {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold
}


.formselect{FONT-FAMILY: Arial; FONT-SIZE: 11px;}

.bgbrowndark {background-color:#DB6422}
.bgbrown {background-color:#F5A77C}
.bgbrownL {background-color:#FDB88C}
.bgbrownL1 {background-color:#FFC9A6}
.bgbrownL2 {background-color:#FFD3A1}
.bgbrownL3 {background-color:#FFE5C6}
.bgyellow {background-color:#FFED9F}
.bgwhite {background-color:#ffffff}


img.floatLeft { float: left; margin: 2px; }


.redlink A:link {text-decoration: none; color: #ff0000;}
.redlink A:visited {text-decoration: none; color: #ff0000;}
.redlink A:active {text-decoration: none; color: #ff0000;}
.redlink A:hover {text-decoration: none; color: #ff0000;}

.blacklink A:link {text-decoration: none; color: #000000;}
.blacklink A:visited {text-decoration: none; color: #000000;}
.blacklink A:active {text-decoration: none; color: #000000;}
.blacklink A:hover {text-decoration: none; color: #000000;}

.dropbg{color:#000000; background-color:#FFF1E3}
                                                                                                                            
.dropcolour{color:#DB6422}

.bigmahroon {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: normal;
        line-height: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        color: #990000;
}
.link { font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #990000; text-decoration:none;}
.link a:link{   font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #990000; text-decoration:underline;}
.link a:visited{font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #990000; text-decoration:underline;}
.link a:active{ font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #990000; text-decoration:underline;}
.link a:hover{  font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #990000; text-decoration:none;}
.button3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        background-color:#f3f3f3;
        background-image:url(/P/images/button_gif2.gif);
        background-repeat:repeat-x;
        font-weight: normal;
        padding-bottom: 6px;
        BORDER-RIGHT: #999999 1px solid;
        BORDER-TOP: #999999 1px solid;
        BORDER-LEFT: #999999 1px solid;
        BORDER-BOTTOM: #999999 1px solid;
        HEIGHT: 17px;
        cursor:pointer;
}
