<!DOCTYPE HTML PUBLIC "-//SoftQuad//DTD HoTMetaL PRO 4.0::19970714::extensions to HTML 4.0//EN"
 "hmpro4.dtd">

<HTML>
  
  <HEAD>
    <TITLE>BMS : Campaign Management System</TITLE>
    <LINK HREF="gifs/style.css" REL="stylesheet" TYPE="text/css">
<link rel="stylesheet" href="http://www.jeevansathi.com/jsadmin/jeevansathi.css" type="text/css"><link rel="stylesheet" href="http://www.jeevansathi.com/profile/images/styles.css" type="text/css">
	 <script language="JavaScript">

</script>   
  </HEAD>
  
  <BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" 
  ALINK="#000000" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
    ~$bmsheader`
<DIV CLASS="text-under" STYLE="margin-left:20px;"><BR>
  <A HREF="bms_adminindex.php?id=~$id`" TARGET="">MIS Home</A> &gt;&gt;<a href="bms_campaign.php?id=~$id`" target=""> Campaign Details</a> 
  &gt;&gt; <a href="bms_campaigndetails.php?id=~$id`&campaignid=~$campaignid`" target="">Banner Details</a> &gt;&gt; <B>Message</B></DIV>
<br>

    <FORM name="bannerdetails" action="bms_advbannerdetails.php" method="post" onSubmit="return validateForm();"><TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0" 
    ALIGN="CENTER">
	<BR /><BR /><br />
	
	<TABLE WIDTH="100%" BORDER="0">
    <TR>
    <TD WIDTH="20%" ALIGN="RIGHT"><IMG SRC="gifs/error-icon.gif" ALT="Error " BORDER="0" HSPACE="0" VSPACE="0" WIDTH="38" HEIGHT="33"></TD>
    <TD WIDTH="80%" CLASS="text"> ~$errormsg`</TD>
  </TR>
  ~if $bannerfixed neq "Y"`
  <TR>
  <TD colspan="2"><center> <input TYPE="image" NAME="savebasicdetails" SRC="gifs/save.gif" BORDER="0"></center></TD>
  </TR>
  ~/if`
    </TABLE>
	
	<BR /><BR /><br />
	<input type="hidden" name="campaignstatus" value="~$campaignstatus`" />
<input type="hidden" name="bannerid" value="~$bannerid`" />
<input type="hidden" name="id" value="~$id`" />
<input type="hidden" name="campaignid" value="~$campaignid`" />
<input type="hidden" name="bannerdefault" value="~$bannerdefault`" />
<input type="hidden" name="bannerclass" value="~$bannerclass`" />
<input type="hidden" name="bannerstartdate" value="~$bannerstartdate`" />
<input type="hidden" name="bannerenddate" value="~$bannerenddate`" />
<input type="hidden" name="bannergif" value="~$bannergif`" />
<input type="hidden" name="bannerurl" value="~$bannerurl`" />
<input type="hidden" name="bannerintext" value="~$bannerintext`" />
<input type="hidden" name="bannerfeaturelist" value="~$bannerfeaturelist`" />
<input type="hidden" name="bannerstatic" value="~$bannerstatic`" / >
<input type="hidden" name="bannerweightage" value="~$bannerweightage`" / >
<input type="hidden" name="bannerpriority" value="~$bannerpriority`" / >
<input type="hidden" name="bannerstatus" value="~$bannerstatus`" />
<input type="hidden" name="bannerkeyword" value="~$bannerkeyword`" />
<input type="hidden" name="bannerkeystype" value="~$bannerkeystype`" />
<input type="hidden" name="bannerlocation" value="~$bannerkeyword`" />
<input type="hidden" name="bannerexpmin" value="~$bannerkeyword`" />
<input type="hidden" name="bannerexpmax" value="~$bannerkeyword`" />
<input type="hidden" name="bannerfarea" value="~$bannerfarea`" />
<input type="hidden" name="bannercategories" value="~$bannercategories`" />
<input type="hidden" name="bannerip" value="~$bannerip`" />
<input type="hidden" name="bannerctc" value="~$bannerctc`" />
<input type="hidden" name="bannermem" value="~$bannermem`" />

<input type="hidden" name="bannerrel" value="~$bannerrel`" />
<input type="hidden" name="bannermstatus" value="~$bannermstatus`" />
<input type="hidden" name="banneredu" value="~$banneredu`" />
<input type="hidden" name="bannercom" value="~$bannercom`" />
<input type="hidden" name="bannerocc" value="~$bannerocc`" />
<input type="hidden" name="bannerpropcity" value="~$bannerpropcity`" />
<input type="hidden" name="bannerpropcat" value="~$bannerpropcat`" />
<input type="hidden" name="bannerpropinr" value="~$bannerpropinr`" />
<input type="hidden" name="bannerproptype" value="~$bannerproptype`" />

<input type="hidden" name="bannerctcmax" value="~$bannerctcmax`" />
<input type="hidden" name="banneragemax" value="~$banneragemax`" />
<input type="hidden" name="banneragemin" value="~$banneragemin`" />
<input type="hidden" name="bannerresmanexpmin" value="~$bannerresmanexpmin`" />
<input type="hidden" name="bannerresmanexpmax" value="~$bannerresmanexpmax`" />
<input type="hidden" name="bannerresmanindtype" value="~$bannerresmanindtype`" />
<input type="hidden" name="bannerresmanfarea" value="~$bannerresmanfarea`" />
<input type="hidden" name="bannerfareaserialize" value="~$bannerfarea`" />
<input type="hidden" name="criteriaarr" value="~$criteriaarr`" />
<input type="hidden" name="bannerfixed" value="~$bannerfixed`" />
<input type="hidden" name="zoneid" value="~$zoneid`" />
	</FORM>
    ~$bmsfooter`
  </BODY>
</HTML>

