<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>My Business Sathi</title>
<link rel="stylesheet" href="http://www.jeevansathi.com/profile/images/styles.css" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 5px;
	margin-top: 5px;
}
-->
</style>
</head>

<body>
~$HEAD`
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
 <tr>
  <td width="190" valign="top" class="bgyell">~$LEFT`</td>
  <td width="10"></td>
  <td valign="top" width="560"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td height="18" class="headbigblack"><b>Why Business Sathi</b></td>
 </tr>
 <tr>
  <td height="1" class="bgred"><img src="images/zero.gif" width="1" height="1"></td>
 </tr>
 <tr>
  <td height="8"></td>
 </tr>
</table>
   <table width="100%"  border="0" cellspacing="0" cellpadding="2">
    <tr>
     <td colspan="2" class="mediumblack">Jeevansaathi.com, one of India's leading matrimonial sites has launched the most rewarding affiliates programme in the history of e-business. <br>
      It's the <b>JeevanSathi Business Sathi Programme:</b>
      <ul>
       <li> You <b>pay nothing</b> to join and the entire programme is absolutely Free </li>
       <li> You <b>get paid for both FREE and Paid registrations</b></li>
       <li> You get paid even for conversions into FREE and Paid memberships within 1 week and 30 days respectively after the user's first visit. <br>
        <br>
       <b><i><span class="bigred">So, you earn even if we don't!</span><br>
       </i></b></li></ul>
     </td>
    </tr>
    <tr>
     <td valign="top" class="mediumblack"><img src="images/messanger3.gif" width="19" height="16"></td>
     <td class="bigblack"><b>Credibility Factor</b></td>
    </tr>
    <tr>
     <td width="2%" valign="top" class="mediumblack">&nbsp;</td>
     <td width="98%" class="mediumblack">A Naukri.com group company.<br>
Also, has 600000+ member database and thousands of Success Stories.</td>
    </tr>
    <tr>
     <td valign="top" class="mediumblack"><img src="images/messanger3.gif" width="19" height="16"></td>
     <td class="bigblack"><b>International Presence</b></td>
    </tr>
    <tr>
     <td valign="top" class="mediumblack">&nbsp;</td>
     <td class="mediumblack">Around 20% of our database includes Non-resident Indians (NRIs) from USA, UK, UAE, SEA, Canada, Australia, Pakistan and others. This partnership makes good business sense even if your target audience is not located in India.</td>
    </tr>
    <tr>
     <td valign="top" class="mediumblack"><img src="images/messanger3.gif" width="19" height="16"></td>
     <td class="bigblack"><b>Customised Banners and More</b></td>
    </tr>
    <tr>
     <td valign="top" class="mediumblack">&nbsp;</td>
     <td class="mediumblack">We will give you a choice of banners and links to put up on your site. If you wish, we can even create customised banners that fit in with the look and architecture of your website. You also have the option of putting up our quick search engine. </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
</body>
</html>
