<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>My Business Sathi</title>
<link rel="stylesheet" href="http://www.jeevansathi.com/profile/images/styles.css" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 5px;
	margin-top: 5px;
}
-->
</style>
</head>

<body>
<form action="businesssathi_payment_mis.php" method="post">
~$HEAD`
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
 <tr>
  <td width="190" valign="top" class="bgyell">~$LEFT`</td>
  <td width="10"></td>
  <td valign="top" width="560"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
   <tr>
    <td height="18" class="headbigblack"><b>Payment MIS </b></td>
   </tr>
   <tr>
    <td height="1" class="bgred"><img src="images/zero.gif" width="1" height="1"></td>
   </tr>
   <tr>
    <td height="8"></td>
   </tr>
  </table>
      <table width="560" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="mediumblack"><div align="center"><b>Please select the date range </b></div></td>
       </tr>
      </table>
      <br>
      <table width="400"  border="0" align="center" cellpadding="4" cellspacing="4">
       <tr>
        <td width="16%" class="mediumblack"><select name="Month1" class="TextBox">
<option SELECTED VALUE="">Month</option>
<option VALUE="01" >Jan</option>
<option VALUE="02" >Feb</option>
<option VALUE="03" >Mar</option>
<option VALUE="04" >Apr</option>
<option VALUE="05" >May</option>
<option VALUE="06" >Jun</option>
<option VALUE="07" >Jul</option>
<option VALUE="08" >Aug</option>
<option VALUE="09" >Sep</option>
<option VALUE="10" >Oct</option>
<option VALUE="11" >Nov</option>
<option VALUE="12" >Dec</option>
  </select></td>
        <td width="17%" class="mediumblack"><select name="Year1" class="TextBox">
<option SELECTED VALUE="">Year</option>
<option value="2005" >2005</option>
<option value="2006" >2006</option>
<option value="2007" >2007</option>
<option value="2008" >2008</option>
 </select></td>
        <td width="14%" class="mediumblack"></td>
        <td width="42%" class="mediumblack"><b>TO</b></td>
        <td width="42%" class="mediumblack"><select name="Month2" class="TextBox">
         <option SELECTED VALUE="">Month</option>
         <option VALUE="01" >Jan</option>
         <option VALUE="02" >Feb</option>
         <option VALUE="03" >Mar</option>
         <option VALUE="04" >Apr</option>
         <option VALUE="05" >May</option>
         <option VALUE="06" >Jun</option>
         <option VALUE="07" >Jul</option>
         <option VALUE="08" >Aug</option>
         <option VALUE="09" >Sep</option>
         <option VALUE="10" >Oct</option>
         <option VALUE="11" >Nov</option>
         <option VALUE="12" >Dec</option>
        </select></td>
        <td width="11%" class="mediumblack"><select name="Year2" class="TextBox">
         <option SELECTED VALUE="">Year</option>
         <option value="2005" >2005</option>
         <option value="2006" >2006</option>
         <option value="2007" >2007</option>
         <option value="2008" >2008</option>
        </select></td>
        <td width="42%" class="mediumblack"></td>
       </tr>
   </table>
      <div align="center"><br>
        <table width="200" border="0" cellspacing="0" cellpadding="0">
         <tr>
          <td><div align="center">
		<input type="hidden" name="submit" value="submit">
		<input type="image" name="submit" value="submit" src="images/submit.gif" width="72" height="22"></div></td>
         </tr>
        </table>
        <br>
      </div></td></tr>
</table>
<input type="hidden" name="checksum" value="~$CHECKSUM`">
</form>
</body>
</html>
