   <table width="170" border="0" align="center" cellpadding="0" cellspacing="0">
   <tr>
    <td width="160" height="10" colspan="2"></td>
   </tr>
    <tr class="bgred">
     <td class="bigwhite" height="22" colspan="2"><div align="center"><b>Essentials</b></div></td>
    </tr>
    <tr class="bgwhi">
     <td width="19" height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20" width="141"><span class="class4"><a href="businesssathi_mybusi_sathi.php?checksum=~$CHECKSUM`">My Business Sathi</a></span></td>
    </tr>
    <tr class="bgwhi">
     <td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20"><span class="class4"><a href="businesssathi_why_bsathi.php?checksum=~$CHECKSUM`">Why Business Sathi</a></span></td>
    </tr>
   </table>
   <br>
   <table width="170" border="0" align="center" cellpadding="0" cellspacing="0">
<tr class="bgred">
<td class="bigwhite" height="22" colspan="2"><div align="center"><b>My Account </b></div></td>
</tr>
<tr class="bgwhi">
<td width="19" height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
<td class=mediumblack height="20" width="141"><span class="class4"><a href="businesssathi_afl_revenue.php?checksum=~$CHECKSUM`">My Revenue </a></span></td>
</tr>

<tr class="bgwhi">
<td width="19" height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
<td class=mediumblack height="20" width="141"><span class="class4"><a href="businesssathi_ch_pass.php?checksum=~$CHECKSUM`">Change Password </a></span></td>
</tr>

<tr class="bgwhi">
<td width="19" height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
<td class=mediumblack height="20" width="141"><span class="class4"><a href="businesssathi_edit.php?checksum=~$CHECKSUM`">Edit My Details </a></span></td>
</tr>

<tr class="bgwhi">
<td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
<td class=mediumblack height="20"><span class="class4"><a href="businesssathi_pickbanner_index.php?checksum=~$CHECKSUM`">Banners</a></span></td>
</tr>
<tr class="bgwhi">
<td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
<td class=mediumblack height="20"><span class="class4"><a href="businesssathi_payment_mis.php?checksum=~$CHECKSUM`">Your Reports </a></span></td>
</tr>
</table>
   <br>
   <table width="170" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr class="bgred">
     <td class="bigwhite" height="22" colspan="2"><div align="center"><b>Quick links </b></div></td>
    </tr>
    <tr class="bgwhi">
     <td width="19" height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20" width="141"><span class="class4"><a href="businesssathi_revenue.php?checksum=~$CHECKSUM`">Revenue Structure </a></span></td>
    </tr>
    <tr class="bgwhi">
     <td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20"><span class="class4"><a href="businesssathi_tariff.php?checksum=~$CHECKSUM`">Tariff Info </a></span></td>
    </tr>
    <tr class="bgwhi">
     <td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20"><span class="class4"><a href="businesssathi_guidelines.php?checksum=~$CHECKSUM`">Guidelines</a></span></td>
    </tr>
    <tr class="bgwhi">
     <td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20"><span class="class4"><a href="businesssathi_faqs.php?checksum=~$CHECKSUM`">FAQ's</a></span></td>
    </tr>
    <tr class="bgwhi">
     <td height="20" class=mediumblack><div align="center"><img src="images/arrow_red.gif"></div></td>
     <td class=mediumblack height="20"><span class="class4"><a href="businesssathi_terms.php?checksum=~$CHECKSUM`">Terms and Conditions </a></span></td>
    </tr>
   </table>
  <br>
