.hp-header {background: url(/images/jspc/commonimg/header-banner.jpg) no-repeat center center #Dbdbdb;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.hplha {line-height:64px}
.hpwid1 {width:16.6%}
.hpwid2 {width:66.8%}
.hpwid3 {width:16.35%}
.hpwid4 {width:200px}
.hpwid5 {width:58%}
.hpwid8 {width:48%;}
.hpwid9 {width:45%;}
.hpwid10{width:75%;}
.hpwid11{width:796px;}
.hphgt1{min-height:106px}
.hphgt2{height:8px}
.hpwhite {background: rgb(255, 255, 255);background: rgba(255, 255, 255, 0.95);}
.hpblue1 {background: rgb(52, 73, 94);background: rgba(52, 73, 94, 0.75);}
.hpbg1{background-color:#0e68c2;}
.hpbg2{background-color:#30424e;}
.hpbg3{background-color:#eaecee}
.hpbg4{background-color:#e1e4e7}
.hpbg5{background-color:#cacdcf; padding:5px}
.hpic1{background-position: -103px -150px;width: 33px; height: 32px;}
.hpic2{background-position: -149px -95px;width: 64px;height: 63px;}
.hpic3{background-position:-149px -157px;width: 67px;height: 63px;}
.hpic4{background-position:0 -330px;width: 70px;height: 63px;}
.hpic5{background-position:0 -266px;width: 74px;height: 63px;}
.hpic5{background-position: 1px -358px;width: 177px;height: 58px;}
.hpic6{background-position:1px -422px;width: 178px;height: 58px;}
.hpic7{background-position:0 -268px;width: 70px;height: 63px;}
.hpic8{background-position: -3px -242px;width: 12px;height: 11px;}
.hpic9{background-position: -118px -206px;width: 19px;height: 19px;}
.hpp1{padding:13px 0}
.hpp2{padding:19px 0 19px 35px}
.hpp3{padding-top:250px}
.hpp4{padding:75px 0 40px 0}
.hpp5{padding:40px 0}
.hpp6{padding:80px 0 68px 0}
.hpp7{padding-top:80px}
.hpp8{padding:53px 0 48px 0}
.hpp9{padding-top:184px}
.hpp10new{padding-top:310px}
.hpp11new{padding-top:345px}
.hppos1{top: 30px;right: -47px;}
.hppos2{top:17px; left:50%; margin-left:-6px}
.hppos3{top:25px}
.hppos4{left:-100%}
.hppos5{left:-22.5%}
.offerband {position: absolute;right: 0;top: 0;width: 200px;height: 150px;}
.offerband .tag {display: block;height: 30px;width: 200px;color: #fff;background:#30424e;text-align: center;font-size: 13px;line-height: 30px;-webkit-transform-origin: 15px 0px;  -moz-transform-origin: 15px 0px;-ms-transform-origin: 15px 0px;-o-transform-origin: 15px 0px;}
ul.mtch li{margin-right:36px}
ul.mtch li:nth-last-child(1){margin-right:0}
ul.mtch li p{text-align:center; padding-top:10px}
ul.hp_btm_tabs li{color:#405765;margin-right:14px; cursor:pointer}
ul.hp_btm_tabs li:nth-last-child(1){margin-right:0px}
.hpcolr1{color:#515050}
.subhobver{ visibility:hidden}
.outwhi{outline:rgba(255, 255, 255, 0.75);}
.hoverclass1{ display:none;position:absolute; top:17px;text-align:center;white-space: nowrap;z-index:101}
.hoverclass2{ display:none;position:absolute; top:27px;text-align:center;white-space: nowrap;margin-left:-60px;z-index:101}
.tab_content {/*display: none;*/text-align: center;}
.browsebyp ul {margin:0px;display:inline-block}
.browsebyp ul li {list-style-type:none;float:left;position:relative;}
.browsebyp ul li a{padding:5px 10px;font-family:"Roboto", "sans-serif";font-weight:300; font-size:13px;color:#909090;}
.browsebyp ul li:hover  .subhobver{visibility:visible}
.arrowhover{height: 11px; background-image: url('../../images/icons.png');background-repeat:no-repeat; background-position:center -208px; }
.bg1hover{background-color:#cacdcf;padding:5px;}
.browsebyp ul li .hoverclass2 a{color:#34495e}
.hpvishid{visibility:hidden; height:0}
ul.tabs li.active{background-color:#e5e5e5; -webkit-transition: all 0.5s cubic-bezier(0, 0.15, 0.27, 1);
    -moz-transition:all 0.5s cubic-bezier(0, 0.15, 0.27, 1);
    -o-transition:all 0.5s cubic-bezier(0, 0.15, 0.27, 1);
    transition:all 0.5s cubic-bezier(0, 0.15, 0.27, 1);}
ul.tabs li{padding:8px}
/*login Layer Css*/
.brderred{
border: 1px solid #d40d12;
}

/* css added for hh1 tags */

.homeTag h1,.homeTag h2,.homeTag h3,.homeTag h4{font-size:30px;font-weight:300; display:inline}

.homeSuccessWidHgt{
height:220px;width:220px;
}

#homepage .stickyTopNavBar{position: fixed !important}

.loaderSmallIcon2{
display:block;
position: relative;
width: 20px;
height: 20px;
}