<html>
<head>
<title>JeevanSathi Matrimonials - Jeevansathi Membership Comparison</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
<script language="JavaScript">
<!--

function newWindow(url, height, width) {
    nameW='feature'
 if (navigator.appVersion.indexOf('4') != -1) {
 // Vars for centering the new window on Version 4 Browsers
 xTop = screen.width/2 - (width/2);
 yTop = screen.height/2 - (height/2);
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=' + xTop + ',top=' + yTop + '');
 } else {
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=150,top=200');
 }
}
//-->
</SCRIPT>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td>
~$HEAD`
~$SUBHEADER` 
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="3" height="3" valign="top"></td><SPACER height="3" type="block"></SPACER> 
</tr>
<tr>
<td width="190" valign="top" class="bgyell"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#FFFFFF"><div align="center">
~$TOPLEFT`
</div></td>
</tr>
<tr>
<td width="190">
~$LEFTPANEL`
</td>
</tr>
</table>
</td>
</tr>
</table></td>
<TD width=10 vAlign=top class=mediumblack><B><SPACER type="block" width="10"></B></TD>
<td width="560" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td height="18" class="headbigblack"><b>ACTIVATE !</b></td>
 </tr>
 <tr>
  <td height="1" bgcolor="#CC0033"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="1" height="1"></td>
 </tr>
 <tr>
  <td height="8">&nbsp;</td>
 </tr>
</table> 
 <table width="88%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td class=mediumblack><div align="center">Mail sent successfully.<br>
     Kindly check the <b>activation mail</b> sent to your e-mail id<span class=class7> ~$USER_EMAIL`</span><br>
     and follow the instructions specified.<br>
     <br>
      <br>
      </div></td>
  </tr>
 </table>
 <br>
 </td>
</tr>
</table>
</td>
</tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
