<html>
<head>
<title>JeevanSathi Matrimonials - Jeevansathi Membership Comparison</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td>
~$HEAD`
~$SUBHEADER` 
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="3" height="3" valign="top"></td><SPACER height="3" type="block"></SPACER> 
</tr>
<tr>
<td width="190" valign="top" class="bgyell"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#FFFFFF"><div align="center">
~$TOPLEFT`
</div></td>
</tr>
<tr>
<td width="190">
~$LEFTPANEL`
</td>
</tr>
</table>
</td>
</tr>
</table></td>
<TD width=10 vAlign=top class=mediumblack><B><SPACER type="block" width="10"></B></TD>
<td width="560" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td height="18" class="headbigblack"><b>ALREADY REGISTERED !</b></td>
 </tr>
 <tr>
  <td height="1" bgcolor="#CC0033"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="1" height="1"></td>
 </tr>
 <tr>
  <td height="8">&nbsp;</td>
 </tr>
</table> 
 <table width="88%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td class=mediumblack><div align="center">You are already registered on jeevansathi.com with Username: ~$USERNAME` ~if $EMAIL neq ''` and Emailid: ~$EMAIL`~/if` .<br>To login <a href="~$SITE_URL`/profile/mainmenu.php">click here</a><br>.
     </div></td>
  </tr>
 </table>
 <br>
 </td>
</tr>
</table>
</td>
</tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
