<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Address Verification</title>
<link href="~$IMG_URL`/min/?f=/profile/css/adr_vrfy.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	function addr_validate()
	{
		var docF=document.address_verify_frm;
		document.getElementById('address_error').style.display="none";
		document.getElementById('city_error').style.display="none";
		document.getElementById('pincode_error').style.display="none";	
		var maxlength ='40';

		if(ignoreSpaces(docF.address.value)=="" || docF.city.value=="")
		{
			if(ignoreSpaces(docF.address.value)=="")
				document.getElementById('address_error').style.display="block";
			if(docF.city.value=="")
				document.getElementById('city_error').style.display="block";
			return false;
		}
		if(docF.address.value.length > maxlength){
			document.getElementById('address_error').style.display="block";
			document.getElementById('address_error').innerHTML="Please check the limit, maxlimit 40";	
			return false;
		}
		if((!checkIntegers(docF.pincode.value)) && (ignoreSpaces(docF.pincode.value)!='')){
			document.getElementById('pincode_error').style.display="block";	
			return false;
		}
		return true;			
	}
	function frm_submit()
	{
		addr_val =addr_validate();
		if(addr_val){
			document.address_verify_frm.submit();
		}
	}
	function checkIntegers(no)
	{
		var i;
        	for (i = 0; i < no.length; i++)
            	{
                	var c = no.charAt(i);
                        if(isNaN(c))
                        	return false;
                }
                return true;
	}
	function ignoreSpaces(string) {
                var docF=document.address_verify_frm;
                var str=new String();
                str=trim(docF.address.value);
                str=trim_newline(str);
                return str;
	}

	function trim_newline(string){
        	return string.replace(/^\s*|\s*$/g, "");
        }

	function trim(inputString) {
   	if (typeof inputString != "string") { return inputString; }
      	var retValue = inputString;
        var ch = retValue.substring(0, 1);
        while (ch == " " || ch == '\n' || ch == '\t' || ch == '\r') {
        	retValue = retValue.substring(1, retValue.length);
                ch = retValue.substring(0, 1);
        }
        ch = retValue.substring(retValue.length-1, retValue.length);
        while (ch == " " || ch == '\n' || ch == '\t' || ch == '\r') {
        	retValue = retValue.substring(0, retValue.length-1);
                ch = retValue.substring(retValue.length-1, retValue.length);
        }
        while (retValue.indexOf("  ") != -1) {
       		retValue = retValue.substring(0, retValue.indexOf("  ")) + retValue.substring(retValue.indexOf("  ")+1, retValue.length);
        }
        return retValue;
	}

</script>

~include file="../jeevansathi/google_analytics.htm"`</head>
<body>
<!--Header starts here-->
~$REVAMP_HEAD`
<!--Header starts here-->

<div class="container">
<p class="clr_15"></p>
<!--Top search band starts here-->
<div id="topSearchBand"></div>
<!--Top search band ends here-->

<!--Sub Header starts here-->
<div style="width: 740px; font-size: 12px ! important;" class="fr">
~$SUB_HEAD`
</div>
<!--Sub header ends here-->
<p class="clr_15"></p>

<!--Address Verification Container Starts here-->
<div class="adr_vrfy">
<form name="address_verify_frm" action="~$SITE_URL`/profile/addr_verify.php" method="post" enctype="multipart/form-data" onsubmit="javascript:frm_submit(); return false;">
	<h5>Please give us your correct address. </h5>
	<p class="clr_15"></p>
	<div class="ur_adr">
		<u>Your Address with us:</u>
		~$contact` <br /> 
		~$city_res` ~if $pincode` - ~$pincode` ~/if` <br /> 
		~$country_res`	
	</div>
	<div class="fill_adr">
		<u>Provide us with your correct address:</u>
		<div>
			<label>Address :</label>
			<textarea name="address" rows="2" cols="2" style="width:277px; height:73px; border:1px solid #ccc; float:left;"></textarea>
			<p id="address_error" style="display:none;">Please provide correct address</p>
		</div>
		<div>
			<label>City :</label>
			<select name="city">
			<option value="">Select a City</option>
			~section name=foo loop=$city_value`
				<option value="~$city_value[foo]`">~$city_label[foo]`</option>
			~/section`	
			<option value="0">Others</option>
			</select>
			<p id="city_error" style="display:none;">Please select city</p>
		</div>
		<div>
			<label>Pincode :</label><input type="text" name="pincode" id="pincode" maxlength="10"/>
			<p id="pincode_error" style="display:none;">Please enter numeric values </p>
		</div>
		<div>
			<label>&nbsp;</label>
			<!--<button onclick="javascript:frm_submit();"><b>Save</b></button>-->
			<input type="button" value="Save" onclick="javascript:frm_submit();" class="btn" style="width:auto;">
			<input type="hidden" name="frmSave" value="Save";>
			<br /><br />
		</div>
	</div>
</form>

</div>
<!--Address Verification Container Ends here-->
</div>

<p class="clr_15"></p>
~$FOOT`
<!--Footer Ends here-->
</body>
</html>

