<html>
<head>
<title>JeevanSathi Matrimonials - Jeevansathi horoscope thanks</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/IN/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
~$HEAD` ~$SUBHEADER`
   ~$LEFTPANEL`
   <table width="72%"  border="0" cellspacing="0" cellpadding="0" align="center" height="1110">
   <tr>
<td valign="top">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td height="18" class="headbigblack"><b> Request Sent </b></td>
 </tr>
 <tr>
  <td height="1" bgcolor="#CC0033"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="1" height="1"></td>
 </tr>
 <tr>
  <td height="8"><br>
   <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
     <td class=mediumblack><div align="center">
      <p align="center">  Your request for Astro Data has been sent. You will be able to view horoscope / match your Kundali with <b>&lt;~$USERNAME`&gt;</b> as soon as the Astro Data is provided. <br>
       </p>
     </div></td>
    </tr>
   </table>
   <br>
   <table width="50%"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
     <td class=bigblack><div align="center"><span class=class6><b><a href="viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`">Back to Profile </a></b></span></div></td>
    </tr>
   </table>
   <br>
   </td>
 </tr>
</table>
</td>
</tr>
</table>

<br>
~$SUBFOOTER` <br>
<br>
<br>
~$FOOT`
</body>
</html>

