<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Jeevansathi Matrimonials- Search Results</title>
		<link rel="stylesheet" href="css/searchstyle.css" type="text/css">
	</head>
	<body>
		<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$cluster_js`" type=text/javascript></SCRIPT>
		<DIV id="dhtmltooltip" class="ttip"></DIV>
		<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$tooltip_new_js`" type=text/javascript></SCRIPT>
		<script language=JavaScript1.2 type=text/javascript>
			<!--
			var edulist=~$EDU_LABEL`
			var eduvalue=~$EDU_VALUE`
			var occlist=~$OCC_LABEL`
			var occvalue=~$OCC_VALUE`
			var incomelist=~$INCOME_LABEL`
			var incomevalue=~$INCOME_VALUE`
			var checkededu='~$EDU_LEVEL_NEW`'
			var checkedoccupation='~$OCCUPATION`'
			var checkedincome='~$INCOME`'
			var checkedincomelabel='~$INCOME_LABEL_CLUSTERING`'
			var leftpanel_div_open='~$leftpanel_div_open`'
			var type_for_tooltip='clustering_profession_tip';
			//-->
		</SCRIPT>
		<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$multiselect_clustering_js`" type=text/javascript></SCRIPT>
		<div id="cstb">
			<form name="form_search_clustering" action="~$SITE_URL`/profile/awaiting_decline_search.php" method="post" target="_parent" style="margin:0px;">
			<input type="hidden" name="type" value="~$type`">
			<input type="hidden" name="item" value="">
			<input type="hidden" name="value" value="">
			<input type="hidden" name="bread_crumb_hidden" id="bread_crumb_hidden" value="">
			<input type="hidden" name="crmback" value="~$crmback`">
			<input type="hidden" id="edu" value="~$EDU_LEVEL_NEW`" name="edu">
			<input type="hidden" id="occupation" value="~$OCCUPATION`" name="occupation">
			<input type="hidden" id="income" value="~$INCOME`" name="income">
			<input type="hidden" id="edu_level" value="~$EDU_LEVEL`" name="edu_level">
			<input type="hidden" value="~$EDU_BIG_LABEL`" name="EDU_BIG_LABEL">
			<input type="hidden" value="~$INCOME_BIG_LABEL`" name="INCOME_BIG_LABEL" id="INCOME_BIG_LABEL">
			<input type="hidden" value="~$OCCUPATION_BIG_LABEL`" name="OCCUPATION_BIG_LABEL">
			<input type="hidden" value="~$ORIGINAL_INCOME`" name="ORIGINAL_INCOME">
			<input type="hidden" value="~$ORIGINAL_EDU`" name="ORIGINAL_EDU">
			<input type="hidden" value="~$ORIGINAL_OCCUPATION`" name="ORIGINAL_OCCUPATION">
			<input type="hidden" name="searched_lage" value="~$searched_lage`">
			<input type="hidden" name="searched_hage" value="~$searched_hage`">
			<input type="hidden" name="searched_lheight" value="~$searched_lheight`">
			<input type="hidden" name="searched_hheight" value="~$searched_hheight`">
			<input type="hidden" name="searched_City_Res" value="~$searched_City_Res`">
			<input type="hidden" name="searched_mtongue" value="~$searched_mtongue`">
			<input type="hidden" name="searched_caste" value="~$searched_caste`">
			<input type="hidden" name="searched_mstatus" value="~$searched_mstatus`">
			<input type="hidden" name="searched_havephoto" value="~$searched_havephoto`">
			<input type="hidden" name="searched_include_declines" value="~$searched_include_declines`">
			<input type="hidden" name="searched_income" value="~$searched_income`">
			<input type="hidden" name="searched_occupation" value="~$searched_occupation`">
			<input type="hidden" name="searched_education" value="~$searched_education`">
			<input type="hidden" name="searched_relation" value="~$searched_relation`">
			<input type="hidden" name="searched_diet" value="~$searched_diet`">
			<input type="hidden" name="searched_manglik" value="~$searched_manglik`">
			<input type="hidden" name="searched_special_search" value="~$searched_special_search`">
			<input type="hidden" name="searched_with_without_message" value="~$searched_with_without_message`">
			<input type="hidden" name="searched_ordering" value="~$searched_ordering`">
			<input type="hidden" name="searched_by_cluster_click" value="1">
			<input type="hidden" name="MIN_AGE" value="~$MIN_AGE`">
			<input type="hidden" name="MAX_AGE" value="~$MAX_AGE`">
			<input type="hidden" name="MIN_HEIGHT" value="~$MIN_HEIGHT`">
			<input type="hidden" name="MAX_HEIGHT" value="~$MAX_HEIGHT`">
			<input type="hidden" name="total_awaiting" value="~$total_awaiting`">
			<input type="hidden" name="flag" value="~$flag`">
			<input type="hidden" name="vflag" value="~$VFLAG`">
			<input type="hidden" name="newsearch_clustering_type" value="~$newsearch_clustering_type`">
			~if $crmback`
				<input type="hidden" name="cid" value="~$cid`">
				<input type="hidden" name="inf_checksum" value="~$inf_checksum`">
			~/if`
			~if $income_cluster`
				<div class="cstcol bluelink" style="width:20%">
					<span class="csthed">Annual Income</span>
					~section name=next loop=$income_cluster`
						~if $income_cluster[next].VALUE eq $INCOME_VAL`
							<br>~$income_cluster[next].LABEL`
						~else`
							<br><a href="#" onclick="search_clustering('income','~$income_cluster[next].VALUE`','income'); return false;">~$income_cluster[next].LABEL`</a>
						~/if`
					~/section`
					~if $SHOW_MORE_INCOME`
						<br><a onclick="javascript:if(window.parent.document.getElementById('TipLayer5').style.visibility=='hidden') {stm_cluster(Text[6],Style[9],'income','~$currentusername`')}" href="javascript:void(0);">more<img src="~$IMG_URL`/profile/ser4_images/cstarrow.gif" align="baseline" style="margin-left:5px" border="0"></a>
					~/if`
				</div>
			~/if`
			~if $occupation_cluster`
				<div class="cstcol1 bluelink" style="width:16%">
					<span class="csthed">Profession</span>
					~section name=next loop=$occupation_cluster`
						~if $occupation_cluster[next].VALUE eq $OCCUPATION_VAL`
							<br>~$occupation_cluster[next].LABEL`
						~else`
							<br><a href="#" onclick="search_clustering('occupation','~$occupation_cluster[next].VALUE`','occupation'); return false;">~$occupation_cluster[next].LABEL`</a>
						~/if`
					~/section`
					~if $SHOW_MORE_OCC`
						<br><a onclick="javascript:if(window.parent.document.getElementById('TipLayer4').style.visibility=='hidden') {stm_cluster(Text[4],Style[9],'occupation','~$currentusername`')}" href="javascript:void(0);">more<img src="~$IMG_URL`/profile/ser4_images/cstarrow.gif" align="absmiddle" style="margin-left:5px" align="baseline" border="0"></a>
					~/if`
				</div>
			~/if`
			~if $education_cluster`
				<div class="cstcol1 bluelink" style="width:19%">
					<span class="csthed">Education</span>
					~section name=next loop=$education_cluster`
						~if $education_cluster[next].VALUE eq $EDUCATION_VAL`
							<br>~$education_cluster[next].LABEL`
						~else`
							<br><a href="#" onclick="search_clustering('edu','~$education_cluster[next].VALUE`','edu'); return false;">~$education_cluster[next].LABEL`</a>
						~/if`
					~/section`
					~if $SHOW_MORE_EDU`
						<br><a onclick="javascript:if(window.parent.document.getElementById('TipLayer3').style.visibility=='hidden') {stm_cluster(Text[5],Style[9],'edu','~$currentusername`')}" href="javascript:void(0);">more<img src="~$IMG_URL`/profile/ser4_images/cstarrow.gif" style="margin-left:5px" align="baseline" border="0"></a>
					~/if`
				</div>
			~/if`
			~if $SHOW_MORE_PREFERENCE`
				<div class="cstcol2 bluelink" style="width:40%">
					<span class="csthed ">More Preferences</span>
					~if $SHOW_RELATION`
						<br><span class="csthed2">Profile Posted by:</span> 
						~if $RELATION_VAL eq '2,3'`
							Parent
						~else`
							<a href="#" onclick="search_clustering('relation','2,3','relation'); return false;">Parent</a>
						~/if`
						|
						~if $RELATION_VAL eq '1'`
							Self
						~else`
							<a href="#" onclick="search_clustering('relation','1','relation'); return false;">Self</a>
						~/if`
					~/if`
					~if $SHOW_DIET`
						<br><span class="csthed2">Diet:</span> 
						~if $SHOW_VEG`
							~if $DIET_VAL eq 'V'`
								Vegetarian
							~else`
								<a href="#" onclick="search_clustering('diet','V','diet'); return false;">Vegetarian</a>
							~/if`
						~/if`
						~if $SHOW_NONVEG`
							|
							~if $DIET_VAL eq 'N'`
								Non-veg
							~else`
								<a href="#" onclick="search_clustering('diet','N','diet'); return false;">Non-veg</a>
							~/if`
						~/if`
						~if $SHOW_JAIN`
							|
							~if $DIET_VAL eq 'J'`
								Jain
							~else`
								<a href="#" onclick="search_clustering('diet','J','diet'); return false;">Jain</a>
							~/if`
						~/if`
					~/if`
					~if $SHOW_MANGLIK`
						<br><span class="csthed2">Manglik:</span> 
						~if $MANGLIK eq 'M'`
							Manglik
						~else`
							<a href="#" onclick="search_clustering('manglik','M','manglik'); return false;">Manglik</a>
						~/if`
						|
						~if $MANGLIK eq 'N'`
							Non-Manglik
						~else`
							<a href="#" onclick="search_clustering('manglik','N','manglik'); return false;">Non-Manglik</a>
						~/if`
					~/if`
					~if $SHOW_NRI or $SHOW_COSMO or $SHOW_ECLASS or $SHOW_MEM_ONLINE`
						<br><span class="csthed2">Special Search: </span>
						~if $SHOW_NRI`
							~if $SPECIAL_SEARCH_VAL eq 'nri'`
								NRI
							~else`
								<a href="#" onclick="search_clustering('newsearch_clustering','nri','special'); return false;">NRI</a>
							~/if`
						~/if`
						~if $SHOW_COSMO`
							~if $SHOW_NRI`
								|
							~/if`
							~if $SPECIAL_SEARCH_VAL eq 'cosmo'`
								Cosmopolitan
							~else`
								<a href="#" onclick="search_clustering('newsearch_clustering','cosmo','special'); return false;">Cosmopolitan</a>
							~/if`
						~/if`
						~if $SHOW_NRI or $SHOW_COSMO`
							<br>
						~/if`
						~if $SHOW_ECLASS`
							~if $SPECIAL_SEARCH_VAL eq 'e-class'`
								E-classified Members
							~else`
								<a href="#" onclick="search_clustering('newsearch_clustering','e-class','special'); return false;">E-classified Members</a>
							~/if`
						~/if`
						~if $SHOW_MEM_ONLINE`
							~if $SHOW_ECLASS`
								|
							~/if`
							~if $SPECIAL_SEARCH_VAL eq 'online'`
								Members Online
							~else`
								<a href="#" onclick="search_clustering('newsearch_clustering','online','special'); return false;">Members Online</a>
							~/if`
						~/if`
					~/if`
				</div>
			~/if`
			</form>
		</div>
	</body>
</html>
