<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>JeevanSathi Matrimonials - Jeevansathi Payment</title>
<link href="http://www.jeevansathi.com/profile/images/styles.css" rel="stylesheet" type="text/css">
<link href="http://www.jeevansathi.com/profile/imagesnew/styles.css" rel="stylesheet" type="text/css">

~include file="../jeevansathi/google_analytics.htm"`</head>

<body>
	~$HEAD`
        ~$LEFTPANEL`

<script language="javascript">
<!--
function MM_openBrWindow1(theURL,winName,features)
{
window.open(theURL,winName,features);
}
//-->
</script>
<script language=JavaScript1.2 type=text/javascript>
<!--
var edulist=new Array(); var occlist=new Array();
var incomelist=new Array();
var count=new Array(); var eduvalue=new Array();
var occvalue=new Array(); var incomevalue=new Array();
var checkededu=''
var checkedoccupation=''
var checkedincome=''
var checkedincomelabel=''
//-->
</SCRIPT>

<SCRIPT language=JavaScript1.2 src="http://ser4.jeevansathi.com/profile/js/~$multiselect_clustering_js`"
type=text/javascript></SCRIPT>

<style type="text/css">
.menutitle{
cursor:pointer;
color:#000000;
width:122px;
padding-left:4px;
FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.submenu{
margin-bottom: 0.5em;
cursor:pointer;
padding-left:4px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
</style>



<script type="text/javascript">
</script>

<table width="70%"  height=1100 border="0" align="center" cellpadding="0" cellspacing="0" class="mblack">
<tr>
<td height="1100" valign="top"><br><br><table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
  <td align="right" ><span class="bluelinku"><a href="/P/mainmenu.php?checksum=~$CHECKSUM`">Skip to MyJeevansathi </a></span></td>
 </tr>
  <tr>
  <td height="2"></td>
 </tr>
 <tr>
  <td height="1" bgcolor="#000000"></td>
 </tr>
 <tr>
  <td><table width="100%"  border="0" cellspacing="2" cellpadding="4" >
   <tr>
    <td width="98%">Dear Member <b>~$username`
    </b>     <p><b>Take the next step</b><br>
     </p></td>
    <td width="2%" rowspan="2" valign="top"><img src="~$IMG_URL`/profile/ser4_imagesnew/topaid_main.jpg" width="196" height="309"></td>
   </tr>
   <tr>
    <td><b><img src="~$IMG_URL`/profile/ser4_imagesnew/topaid_arrow.gif" width="15" height="10"><font color="#DB6422"> View contact details of ~$count` accepted members</font></b><br>
     Take your search for life partner to next level, send proposals or
     meet / speak to accepted members.<br>
     <br>
     <b><img src="~$IMG_URL`/profile/ser4_imagesnew/topaid_arrow.gif" width="15" height="10"> <font color="#DB6422">Increase your ranking in search results</font></b><br>
     This helps you to get more number of response from members<br>
     <br>
     <b><img src="~$IMG_URL`/profile/ser4_imagesnew/topaid_arrow.gif" width="15" height="10"> <font color="#DB6422">Initiate Chat with Online members</font></b><br>
     Know more about the person before you meet. You can also
     leave offline messages on chat <br>
     <br>     <br>
     <table width="348" height="19"  border="0" cellpadding="0" cellspacing="0" background="http://ser4.jeevansathi.com/profile/imagesnew/topaid_headbg.gif">
      <tr>
       <td><b><font color="#FFFFFF">&nbsp;Upgrade your membership now</font></b></td>
      </tr>
     </table>
     <br>
     <table width="100%"  border="0" cellspacing="2" cellpadding="2">
      <tr>
       <td><a href="~$SITE_URL`/profile/payment.php?ser_main=P"><img src="~$IMG_URL`/profile/ser4_imagesnew/logo_erishta2.gif" border="0"></a></td>
       <td><a href="~$SITE_URL`/profile/payment.php?ser_main=C"><img src="~$IMG_URL`/profile/ser4_imagesnew/logo_evaluepack.gif" border="0"></a></td>
      </tr>
      <tr>
       <td>starts @ Rs. 950 only, <br>
         <span class="bluelinku"><a href="~$SITE_URL`/profile/payment.php?ser_main=P">click here</a></span> to Pay Online</td>
       <td>starts @ Rs. 1500 only, <br>
         <span class="bluelinku"><a href="~$SITE_URL`/profile/payment.php?ser_main=C">click here</a></span> to Pay Online</td>
      </tr>
     </table>
     <br>
     To locate the nearest Jeevansathi branch, <span class="bluelinku"><a href="~$SITE_URL`/profile/contact.php">Click Here </a><br>
     <br>
     </span></td>
    </tr>
  </table></td>
 </tr>
 <tr>
  <td height="1" bgcolor="#000000"></td>
 </tr>
 <tr>
  <td align="right" ><span class="bluelinku"><a href="/P/mainmenu.php?checksum=~$CHECKSUM`">Skip to MyJeevansathi </a></span></td>
 </tr>
</table></td>
</tr></table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
