<div style="width:255px;">
<div id="CALL_CONTACT" style="display:inline">
	 ~if $CONTACT_LOCKED eq 1`
	<div class="sp5"></div>
                           <h4>Contact details</h4>
			~if $SHOW_CROSS`<a class="fr crs b" onclick="return ~if $close_func`~$close_func`~else`$.colorbox.close();close_all_con_layer();hide_exp_layer()~/if`" href="#">[x]</a>~/if`
		<div class="fl mt_15 shw_info">
			<ul class="con_list_tuple" ~if $LATEST_ACC_DEC` style="height:152px"~/if`>
				~if $SHOW_MOBILE`
			      <li>Mobile no.~if $MOB_PROFILENAME` of  ~$MOB_PROFILENAME` (~$MOB_RELATION_NAME`)~/if`<br>
				<b>~$SHOW_MOBILE`</b> ~if $VERIFIED_MOB`(Verified)~/if`</li>
				~/if`
                                ~if $ALT_MOBILE`
                              <li>Alternative Mobile no.~if $ALT_MOBILE_LABEL`~$ALT_MOBILE_LABEL`~/if`<br>
                                <b>~$ALT_MOBILE`</b></li>
                                ~/if`
				~if $PHONE_NO`
			      <li>Landline no.~if $PHONE_PROFILENAME` of  ~$PHONE_PROFILENAME` (~$PHONE_RELATION_NAME`)~/if`<br>
				<b>~$PHONE_NO`</b> ~if $VERIFIED_LANDLINE`(Verified)~/if`</li>
				~/if`
                                <!----------Call now---------->
                                ~$SHOW_CALLNOW_LINK`
                                <!--------------Ends here----------->
				~if $TIME_TO_CALL_START`
			      <li>Suitable time to call<br>
				<b>~$TIME_TO_CALL_START` to ~$TIME_TO_CALL_END`</b></li>
				~/if`
				~if $SHOW_ADDRESS`
			      <li>Address<br>
				<b>~$SHOW_ADDRESS`</b></li>
				~/if`
			       ~if $SHOW_PARENTS_ADDRESS`
			      <li>Parent's address<br>
				<b>~$SHOW_PARENTS_ADDRESS`</b></li>
				~/if`
				~if $EMAIL_ID`
				<li>Email ID<br>
				<b>~$EMAIL_ID`</b>
				</li>
				~/if`
				~if $SHOW_MESSENGER`
			      <li>Messenger ID<br>
				<b>~$SHOW_MESSENGER`</b></li>
				~/if`
			    </ul>
		</div>
                                ~else`
                                  <h4>Contact details are locked</h4>
                <a class="fr crs b" onclick="return ~if $close_func`~$close_func`~else`hide_exp_layer()~/if`" href="#">[x]</a>
                <div class="clr"></div>
                <div class="fl f_11 mt_15">~if $CON_DET_MES`~$CON_DET_MES`~/if`</div>
                <div class="fl mt_15 shw_info" ~if $BOTTOM_LINE`style="height:150px!important"~/if`>
                        <ul>
			      <li>Mobile no.</li>
			      <li>Landline no.</li>
			      <li>Suitable time to call</li>
			      <li>Address</li>
			      <li>Parent's address</li>
			      <li>Email ID</li>
                        </ul>
			<div class="fl" style="margin: -100px 0pt 0pt 128px; display:inline;">
				<img src="images/locked.gif" />
			</div>
                </div>
		~if $PHONE_NO || $SHOW_MOBILE`
                <div class="fl mt_15 f_11"><a class=thickbox" href="" onclick="javascript:{hide_exp_layer();$.colorbox({href:'report_invalid_phone.php?checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`'});return false;}">Report Invalid telephone number</a></div>
                ~/if`
		<div style="border-style: none none solid; border-color: rgb(182, 182, 182); border-width: 1px;float: left; padding-top: 4px; padding-bottom: 4px;width:264px;height:1px"></div>
				<div class="t11 lf" style="">Please note you have <span class="dark_orange b t14">~$LEFT_ALLOTED`</span> more contacts available. </div>
                                ~/if`
                        ~if $MOB_NOT_VERI && $LANDLINE_NOT_VERI`
                                <div class="t11 b">Contact details are locked because you have not verified your phone number(s). <a href="~$SITE_URL`/profile/myjs_verify_phoneno.php?width=700" class="thickbox">Click here</a> to know how to verify your contact details and unlock
                                </div>
                        ~else`
                                ~if $TYPE eq 'D' && $WHO eq 'SENDER'`
                                <div class="t11 b"><BR>~$CONTACT_HEADLINE`
                                </div>
                                ~/if`
                        ~/if`
                       ~if $CONTACT_LOCKED neq 0`
                                ~if $PHONE_NO || $SHOW_MOBILE`
                                <div class="t11 lf" ><a class=thickbox" href="" onclick="javascript:{hide_exp_layer();$.colorbox({href:'report_invalid_phone.php?checksum=~$CHECKSUM`&profilechecksum=~$PROFILECHECKSUM`'});return false;}">Report Invalid telephone number</a>
                                </div>
                                ~/if`
				
				<div style="border-style: none none solid; border-color: rgb(182, 182, 182); border-width: 1px;float: left; padding-top: 4px; padding-bottom: 4px;width:254px;height:1px"></div>
				<div class="t11 lf" style="">Please note you have <span class="dark_orange b t14">~$LEFT_ALLOTED`</span> more contacts available. </div>
                        ~/if`
	</div>
</div>
