		~if !$FROM_VIEW`
		<h4>Call now</h4>
		<a class="fr crscall b" onclick="return hide_exp_layer()" href="#">[ x ]</a>
		~else`
<div class="sp8"></div>
		<div class="dark_orange t14 b">Call now</div>~/if`
		<div class="clr"></div>
		<div class="fl f_11 mt_15"></div>
		~if $CALLNOW_RESULT eq 'SUCCESS'`
		<div class="fl mt_15 shw_info_call">

			~if $DIALCODE_ERROR`
                        <div class="f11">
                                <span class="b">Sorry. You cannot call the person. Please try later.</span>
                        </div>
                        <div class="sp8"></div>
			~else`
			~if !$FROM_VIEW`<div class="f11">
				<span class="b">~$CALLNOW_SUCCESS.MESSAGE`</span>
			</div>
			<div class="sp8"></div>  
			~/if`

			~if $CALLNOW_SUCCESS.PATCHED_CALLS`
			~if !$FROM_VIEW`
			<div class="f11">
				<span><b class="callhding">Call details-</b> Your number - ~$CALLNOW_SUCCESS.PATCHED_CALLS[0].caller`</span>
				<div class="ucalled orange">
					<div class="mt_5">You called on-</div>
					~section name=sec loop=$CALLNOW_SUCCESS.PATCHED_CALLS`
					<div><span class="calldates">Date-~$CALLNOW_SUCCESS.PATCHED_CALLS[sec].date`</span> <span class="calltime">~$CALLNOW_SUCCESS.PATCHED_CALLS[sec].time`</span></div>
					~/section`
				</div>
			</div>
			<div class="sp5" style="border-top:1px #aaaaaa solid;"></div>  
			~/if`
			~/if`

			<ul>
			<li><label>Step-1</label>Dial <b>~$CALLNOW_SUCCESS.SHORTCODE`</b></li>
			<li><label>Step-2</label><i>Enter the code <b>~$CALLNOW_SUCCESS.DIALCODE`</b> to speak ~$CALLNOW_SUCCESS.RELATIONSHIP`</i></li>
			</ul>
			~if $CALLNOW_SUCCESS.AVAILABLE_TIME.startTime and $CALLNOW_SUCCESS.AVAILABLE_TIME.endTime`<u class="f11">user is available between ~$CALLNOW_SUCCESS.AVAILABLE_TIME.startTime` - ~$CALLNOW_SUCCESS.AVAILABLE_TIME.endTime`</u>~/if`
			~/if`
			<div class="sp8"></div>
			~if $FROM_VIEW`
			<div class="f12">
                            <span><b class="callhding">~$CALLNOW_SUCCESS.MESSAGE`</b></span>
                            <div class="ucalled_now orange">
				~section name=sec loop=$CALLNOW_SUCCESS.PATCHED_CALLS`
                            <div><span class="calltime">Date</span><span style="width: 120px;" class="calltime">~$CALLNOW_SUCCESS.PATCHED_CALLS[sec].monthtime`</span><span class="calltime">~$CALLNOW_SUCCESS.PATCHED_CALLS[sec].year`</span> <span class="calltime">~$CALLNOW_SUCCESS.PATCHED_CALLS[sec].time`</span></div><br>
				~/section`
                            </div>
                          </div>
			~/if`
			
		</div>
		<div class="sp5"></div>
		<div class="call_bt_cntnt">
			<!--a class="fr crscall f11" href="#">Report invalid number</a-->
			<div class="sp5"></div>
			<div class="f11 mb_5"><b>Please note</b> </div>
			<ul class="f11">
			<li>- Call charges are Rs. 6 per minute</li>
			<li>- You cannot call from BSNL lines</li>
			<li>- You can call only from the number registered in your profile</li>
			<li>- You can call a profile only 3 times</li>
			<li>- This code is valid only for 7 days.</li>
			</ul>
		</div>
		~else`
		<div class="fl mt_15 shw_info_call">
			<div class="f1~if $FROM_VIEW`2~else`1~/if` b">~$CALLNOW_ERROR.MESSAGE` ~if $FROM_VIEW`~$CALLNOW_ERROR.LINK`~/if`</div>
			<div class="sp8"></div>
			~if !$FROM_VIEW`
			~if $CALLNOW_ERROR.LINK`
			<center>~$CALLNOW_ERROR.LINK`</center>
			<div class="sp8"></div>  
			~/if`
			~/if`
                        ~if $CALLNOW_ERROR.PATCHED_CALLS`
			~if $FROM_VIEW`
                        <div class="f12">
                            <span><b class="callhding">Your Call details to this member:</b></span>
                            <div class="ucalled_now orange">
                                ~section name=sec loop=$CALLNOW_ERROR.PATCHED_CALLS`                            
                                    <div><span class="calltime">Date</span><span style="width: 120px;" class="calltime">~$CALLNOW_ERROR.PATCHED_CALLS[sec].monthtime`</span><span class="calltime">~$CALLNOW_ERROR.PATCHED_CALLS[sec].year`</span> <span class="calltime">~$CALLNOW_ERROR.PATCHED_CALLS[sec].time`</span></div><br>
                                ~/section`
                            </div>      
                          </div>
			~else`
                        <div class="f11">
                                <span><b class="callhding">Call details-</b> Your number - ~$CALLNOW_ERROR.PATCHED_CALLS[0].caller`</span>
                                <div class="ucalled orange">
                                        <div class="mt_5">You called on-</div>
                                        ~section name=sec loop=$CALLNOW_ERROR.PATCHED_CALLS`
                                        <div><span class="calldates">Date-~$CALLNOW_ERROR.PATCHED_CALLS[sec].date`</span> <span class="calltime">~$CALLNOW_ERROR.PATCHED_CALLS[sec].time` &nbsp; ~$CALLNOW_ERROR.PATCHED_CALLS[sec].year`</span></div>
                                        ~/section`
                                </div>
                        </div>
			~/if`
                        ~/if`
		</div>
		<div class="sp16"></div>  
		~/if`
	<div class="clr"></div>
