<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<BASE HREF="~$SITE_URL`/profile/">
<title>Matrimonials by Caste – Matrimony by Caste – Indian Matrimonial – Jeevansathi.com</title>
<meta name="description" content="Matrimonials by Caste – Matrimony by Caste – Indian Matrimonial. Leading matrimony site for Indian & NRI matrimonial Profiles by Caste. Add Free Matrimonial Profile – Jeevansathi.com ! Find suitable Indian and NRI brides and grooms. Ready for Marriage ? Search matrimonials, matrimony profiles, bride and groom from our online matrimonial and matchmaking services.
" />
<meta name="keywords" content="Jeevansathi.com, matrimony, matrimonial, matrimonials, matrimony services, online matrimonials, Indian marriage, match making, matchmaking, matchmaker, match maker, marriage bureau , matchmaking services, matrimonial profiles, bride, groom, matrimony classified, Indian matrimonials, matrimonials for India, marriage website, partner search, matrimonials for indians, free matrimonial site, hindu matrimonial, muslim matrimonials, sikh, christians, marriage, weddings, indian matrimonial site, gujarati, marathi, punjabi, rajasthani, sindhi, bengali, kannada, malayalee, tamil, telugu, brahmin, kayastha, jain, marwari
" />

<style>
body{margin:0; padding:0; font-size:12px; color:#000000; font-family:Arial,sans-serif}
#main{width:100%; margin:0px;float:left;}
#container{width: 778px; margin: 0px auto; }

/* search */
.sreach_pannal{background-image:url(~$IMG_URL`/img_revamp/bg_search.gif);background-repeat:repeat-x;width:778px;}
.pd2{padding:2px 2px 2px 5px;}
div.row{clear:both; padding:3px 0 0px 0;color:#000;width:98%;margin:auto;}
.w1{ float:left;width:18%; padding:2px; font:12px normal verdana,arial}
</style>
~include file="../jeevansathi/google_analytics.htm"`</head>

<body topmargin="0" leftmargin="0">
<div id="main">
        ~$REVAMP_HEAD`
        <div style="width:778px;margin:auto">
                
                <div id="container">
			<div id="topSearchBand"></div>
                        <div class="clear"></div>
                        <div class="sp3"></div>
                        ~$SUB_HEAD`
			<div class="sp3"></div>
			<h1>Caste Matrimonials</h1>
			<div class="sp16"></div>
                        ~*assign var="tab" value=0`
                        ~section name=i loop=$list`
                                <div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>~$list[$tab]`</b></div>
                                ~assign var="tab1" value=0`
                                ~section name=j loop=$CASTE[$tab]`
                                        <div class="w1"><a href="../matrimonials/adi-dravida-matrimonial/"  class="blink">~$CASTE[$tab][$tab1]`</a></div>
                                ~assign var="tab1" value=$tab1+1`
                                ~/section`
                                <div class="sp2">&nbsp;</div>
                        ~assign var="tab" value=$tab+1`
                        ~/section*`

			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>A</b></div>
			<div class="w1"><a href="../matrimonials/adi-dravida-matrimonial/"  class="blink">Adi Dravida</a></div>
			<div class="w1"><a href="../matrimonials/agarwal-matrimonial/"  class="blink">Agarwal</a></div>
			<div class="w1"><a href="../matrimonials/anavil-brahmin-matrimonial/"  class="blink">Anavil Brahmin</a></div>
			<div class="w1"><a href="../matrimonials/arora-matrimonial/"  class="blink">Arora</a></div>
			<div class="w1"><a href="../matrimonials/arya-vyasa-matrimonial/"  class="blink">Arya Vysya</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>B</b></div>
			<div class="w1"><a href="../matrimonials/balija-naidu-matrimonial/"  class="blink">Balija Naidu</a></div>
			<div class="w1"><a href="../matrimonials/bania-matrimonial/"  class="blink">Baniya</a></div>
			<div class="w1"><a href="../matrimonials/bhandari-matrimonial/"  class="blink">Bhandari</a></div>
			<div class="w1"><a href="../matrimonials/bhavsar-matrimonial/"  class="blink">Bhavsar</a></div>
			<div class="w1"><a href="../matrimonials/billava-matrimonial/"  class="blink">Billava</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/born-again-matrimonial/"  class="blink">Born Again</a></div>
			<div class="w1"><a href="../matrimonials/brahmin-matrimonial/"  class="blink">Brahmin</a></div>
			<div class="w1"><a href="../matrimonials/brahmin-bhumihar-matrimonial/"  class="blink">Brahmin Bhumihar</a></div>
			<div class="w1"><a href="../matrimonials/bunt-matrimonial/"  class="blink">Bunt</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>C</b></div>
			<div class="w1"><a href="../matrimonials/catholic-matrimonial/"  class="blink">Catholic</a></div>
			<div class="w1"><a href="../matrimonials/chambhar-matrimonial/"  class="blink">Chambhar</a></div>
			<div class="w1"><a href="../matrimonials/chettiar-matrimonial/"  class="blink">Chettiar</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>D</b></div>
			<div class="w1"><a href="../matrimonials/devanga-matrimonial/"  class="blink">Devanga</a></div>
			<div class="w1"><a href="../matrimonials/dhangar-matrimonial/"  class="blink">Dhangar</a></div>
			<div class="w1"><a href="../matrimonials/dhobi-matrimonial/"  class="blink">Dhobi</a></div>
			<div class="w1"><a href="../matrimonials/digamber-matrimonial/"  class="blink">Digamber</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>E</b></div>
			<div class="w1"><a href="../matrimonials/ezhava-matrimonial/"  class="blink">Ezhava</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>G</b></div>
			<div class="w1"><a href="../matrimonials/gaur-matrimonial/"  class="blink">Gaur</a></div>
			<div class="w1"><a href="../matrimonials/goswami-matrimonial/"  class="blink">Goswami</a></div>
			<div class="w1"><a href="../matrimonials/goud-matrimonial/"  class="blink">Goud</a></div>
			<div class="w1"><a href="../matrimonials/gowda-matrimonial/"  class="blink">Gowda</a></div>
			<div class="w1"><a href="../matrimonials/gujjar-matrimonial/"  class="blink">Gujjar</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/gupta-matrimonial/"  class="blink">Gupta</a></div>
			<div class="w1"><a href="../matrimonials/gursikh-matrimonial/"  class="blink">Gursikh</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>H</b></div>
			<div class="w1"><a href="../matrimonials/havyaka-brahmin-matrimonial/"  class="blink">Havyaka Brahmin</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>J</b></div>
			<div class="w1"><a href="../matrimonials/jacobite-matrimonial/"  class="blink">Jacobite</a></div>
			<div class="w1"><a href="../matrimonials/jain-matrimonial/"  class="blink">Jain</a></div>
			<div class="w1"><a href="../matrimonials/jaiswal-matrimonial/"  class="blink">Jaiswal</a></div>
			<div class="w1"><a href="../matrimonials/jat-matrimonial/"  class="blink">Jat</a></div>
			<div class="w1"><a href="../matrimonials/jatav-matrimonial/"  class="blink">Jatav</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>K</b></div>
			<div class="w1"><a href="../matrimonials/kalar-matrimonial/"  class="blink">Kalar</a></div>
			<div class="w1"><a href="../matrimonials/kamboj-matrimonial/"  class="blink">Kamboj</a></div>
			<div class="w1"><a href="../matrimonials/kamma-matrimonial/"  class="blink">Kamma</a></div>
			<div class="w1"><a href="../matrimonials/kanyakubj-matrimonial/"  class="blink">Kanyakubj</a></div>
			<div class="w1"><a href="../matrimonials/kapu-matrimonial/"  class="blink">Kapu</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/kashmiri-pandit-matrimonial/"  class="blink">Kashmiri Pandit</a></div>
			<div class="w1"><a href="../matrimonials/kayastha-matrimonial/"  class="blink">Kayastha</a></div>
			<div class="w1"><a href="../matrimonials/khandayat-matrimonial/"  class="blink">Khandayat</a></div>
			<div class="w1"><a href="../matrimonials/khatri-matrimonial/"  class="blink">Khatri</a></div>
			<div class="w1"><a href="../matrimonials/kokanastha-matrimonial/"  class="blink">Kokanastha</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/koli-matrimonial/"  class="blink">Koli</a></div>
			<div class="w1"><a href="../matrimonials/koshti-matrimonial/"  class="blink">Koshti</a></div>
			<div class="w1"><a href="../matrimonials/kshatriya-matrimonial/"  class="blink">Kshatriya</a></div>
			<div class="w1"><a href="../matrimonials/kumaoni-matrimonial/"  class="blink">Kumaoni</a></div>
			<div class="w1"><a href="../matrimonials/kunbi-matrimonial/"  class="blink">Kunbi</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/kurmi-matrimonial/"  class="blink">Kurmi</a></div>
			<div class="w1"><a href="../matrimonials/kuruba-matrimonial/"  class="blink">Kuruba</a></div>
			<div class="w1"><a href="../matrimonials/kushwaha-matrimonial/"  class="blink">Kushwaha</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>L</b></div>
			<div class="w1"><a href="../matrimonials/leva-patidar-matrimonial/"  class="blink">Leva Patidar</a></div>
			<div class="w1"><a href="../matrimonials/lingayat-matrimonial/"  class="blink">Lingayat</a></div>
			<div class="w1"><a href="../matrimonials/lohana-matrimonial/"  class="blink">Lohana</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>M</b></div>
			<div class="w1"><a href="../matrimonials/madhwa-matrimonial/"  class="blink">Madhwa</a></div>
			<div class="w1"><a href="../matrimonials/maheshwari-matrimonial/"  class="blink">Maheshwari</a></div>
			<div class="w1"><a href="../matrimonials/mahisya-matrimonial/"  class="blink">Mahisya</a></div>
			<div class="w1"><a href="../matrimonials/maithil-matrimonial/"  class="blink">Maithil</a></div>
			<div class="w1"><a href="../matrimonials/mali-matrimonial/"  class="blink">Mali</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/mallah-matrimonial/"  class="blink">Mallah</a></div>
			<div class="w1"><a href="../matrimonials/marwari-matrimonial/"  class="blink">Marwari</a></div>
			<div class="w1"><a href="../matrimonials/maurya-matrimonial/"  class="blink">Maurya</a></div>
			<div class="w1"><a href="../matrimonials/menon-matrimonial/"  class="blink">Menon</a></div>
			<div class="w1"><a href="../matrimonials/mogaveera-matrimonial/"  class="blink">Mogaveera</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/mudaliar-matrimonial/"  class="blink">Mudaliar</a></div>
			<div class="w1"><a href="../matrimonials/mudaliar-arcot-matrimonial/"  class="blink">Mudaliar Arcot</a></div>
			<div class="w1"><a href="../matrimonials/malayalee-matrimonial/"  class="blink">Malayalee</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>N</b></div>
			<div class="w1"><a href="../matrimonials/nadar-matrimonial/"  class="blink">Nadar</a></div>
			<div class="w1"><a href="../matrimonials/nagar-matrimonial/"  class="blink">Nagar</a></div>
			<div class="w1"><a href="../matrimonials/naidu-matrimonial/"  class="blink">Naidu</a></div>
			<div class="w1"><a href="../matrimonials/nair-matrimonial/"  class="blink">Nair</a></div>
			<div class="w1"><a href="../matrimonials/nambiar-matrimonial/"  class="blink">Nambiar</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/nepali-matrimonial/"  class="blink">Nepali</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>O</b></div>
			<div class="w1"><a href="../matrimonials/obc-matrimonial/"  class="blink">OBC</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>P</b></div>
			<div class="w1"><a href="../matrimonials/padmashali-matrimonial/"  class="blink">Padmashali</a></div>
			<div class="w1"><a href="../matrimonials/parsi-matrimonial/"  class="blink">Parsi</a></div>
			<div class="w1"><a href="../matrimonials/patel-matrimonial/"  class="blink">Patel</a></div>
			<div class="w1"><a href="../matrimonials/patel-kadva-matrimonial/"  class="blink">Patel Kadva</a></div>
			<div class="w1"><a href="../matrimonials/patel-leva-matrimonial/"  class="blink">Patel Leva</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/patil-matrimonial/"  class="blink">Patil</a></div>
			<div class="w1"><a href="../matrimonials/patil-leva-matrimonial/"  class="blink">Patil Leva</a></div>
			<div class="w1"><a href="../matrimonials/pentecost-matrimonial/"  class="blink">Pentecost</a></div>
			<div class="w1"><a href="../matrimonials/pillai-matrimonial/"  class="blink">Pillai</a></div>
			<div class="w1"><a href="../matrimonials/prajapati-matrimonial/"  class="blink">Prajapati</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/protestant-matrimonial/"  class="blink">Protestant</a></div>

			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>R</b></div>
			<div class="w1"><a href="../matrimonials/rajput-matrimonial/"  class="blink">Rajput</a></div>
			<div class="w1"><a href="../matrimonials/rajput-garhwali-matrimonial/"  class="blink">Rajput Garhwali</a></div>
			<div class="w1"><a href="../matrimonials/rajput-kumaoni-matrimonial/"  class="blink">Rajput Kumaoni</a></div>
			<div class="w1"><a href="../matrimonials/ramgarhia-matrimonial/"  class="blink">Ramgarhia</a></div>
			<div class="w1"><a href="../matrimonials/reddy-matrimonial/"  class="blink">Reddy</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/rigvedi-matrimonial/"  class="blink">Rigvedi</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>S</b></div>
			<div class="w1"><a href="../matrimonials/sadgope-matrimonial/"  class="blink">Sadgope</a></div>
			<div class="w1"><a href="../matrimonials/saini-matrimonial/"  class="blink">Saini</a></div>
			<div class="w1"><a href="../matrimonials/saraswat-matrimonial/"  class="blink">Saraswat</a></div>
			<div class="w1"><a href="../matrimonials/saryuparin-matrimonial/"  class="blink">Saryuparin</a></div>
			<div class="w1"><a href="../matrimonials/scheduled-caste-matrimonial/"  class="blink">Scheduled Caste</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/shah-matrimonial/"  class="blink">Shah</a></div>
			<div class="w1"><a href="../matrimonials/shia-matrimonial/"  class="blink">Shia</a></div>
			<div class="w1"><a href="../matrimonials/shimpi-matrimonial/"  class="blink">Shimpi</a></div>
			<div class="w1"><a href="../matrimonials/shwetamber-matrimonial/"  class="blink">Shwetamber</a></div>
			<div class="w1"><a href="../matrimonials/smartha-matrimonial/"  class="blink">Smartha</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/somvanshi-matrimonial/"  class="blink">Somvanshi</a></div>
			<div class="w1"><a href="../matrimonials/sonar-matrimonial/"  class="blink">Sonar</a></div>
			<div class="w1"><a href="../matrimonials/sunni-matrimonial/"  class="blink">Sunni</a></div>
			<div class="w1"><a href="../matrimonials/sutar-matrimonial/"  class="blink">Sutar</a></div>
			<div class="w1"><a href="../matrimonials/swarnkar-matrimonial/"  class="blink">Swarnkar</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/syrian-matrimonial/"  class="blink">Syrian</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>T</b></div>
			<div class="w1"><a href="../matrimonials/teli-matrimonial/"  class="blink">Teli</a></div>
			<div class="w1"><a href="../matrimonials/thevar-matrimonial/"  class="blink">Thevar</a></div>
			<div class="w1"><a href="../matrimonials/thiyya-matrimonial/"  class="blink">Thiyya</a></div>
			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>V</b></div>
			<div class="w1"><a href="../matrimonials/vaidiki-matrimonial/"  class="blink">Vaidiki</a></div>
			<div class="w1"><a href="../matrimonials/vaish-matrimonial/"  class="blink">Vaish</a></div>
			<div class="w1"><a href="../matrimonials/vaishnav-matrimonial/"  class="blink">Vaishnav</a></div>
			<div class="w1"><a href="../matrimonials/vaishnav-vanik-matrimonial/"  class="blink">Vaishnav Vanik</a></div>
			<div class="w1"><a href="../matrimonials/vaishya-matrimonial/"  class="blink">Vaishya</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/vanniyar-matrimonial/"  class="blink">Vanniyar</a></div>
			<div class="w1"><a href="../matrimonials/varshney-matrimonial/"  class="blink">Varshney</a></div>
			<div class="w1"><a href="../matrimonials/veerashaiva-matrimonial/"  class="blink">Veerashaiva</a></div>
			<div class="w1"><a href="../matrimonials/vellalar-matrimonial/"  class="blink">Vellalar</a></div>
			<div class="w1"><a href="../matrimonials/vishwakarma-matrimonial/"  class="blink">Vishwakarma</a></div><br clear="all">
			<div class="w1"><a href="../matrimonials/viswa-brahmin-matrimonial/"  class="blink">Viswa Brahmin</a></div>
			<div class="w1"><a href="../matrimonials/vokaliga-matrimonial/"  class="blink">Vokkaliga</a></div>
			<div class="w1"><a href="../matrimonials/vysya-matrimonial/"  class="blink">Vysya</a></div>

			<div class="sp2">&nbsp;</div>
			<div class="p2" style="border-bottom: 1px solid rgb(153, 153, 153);"><b>Y</b></div>
			<div class="w1"><a href="../matrimonials/yadav-matrimonial/"  class="blink">Yadav</a></div>
		</div>
		<!-- start middle section -->
		<div class="sp16"></div>
	</div>
</div>
~$FOOT`
</body>
</html>
