<div class="pink" style="width:552px;">
<div class="topbg">
<div class="lf pd b t12"></div>
<div class="rf pd b t12"><a href="#" class="blink" onClick="$.colorbox.close();return false;">Close [x]</a></div>
</div><div class="clear"></div>

<div class="scrollbox1 t12" style="height:auto;" >
<div id="first_layer" style="display:inline";>
<div class="save_hrbg_photo" style="padding:10px;width:480px">
 <div class="lf t14 b" style="width:100%">~$MESSAGE`</div>
  <div class="sp5"></div>
  <div class="lf" style="text-align:center;width:100%;margin-top:10px;">
    <input type="button" class="b green_btn" value="Continue" style="width:85px;" onclick="javascript:~$CALL_SUBMIT_FORM`"> &nbsp;<a href="#" class="b blink" onClick="$.colorbox.close();return false;">Cancel</a>
  </div>
  <div class="sp3"></div>

	</div>
	</div>
</div>
