<html>
<head>
<title>JeevanSathi Matrimonials - Jeevansathi Confirmation & Feedback</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/P/IN/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
~$HEAD`
~$LEFTPANEL`
<table width="78%" height=1110 border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
      <td valign="top"> 
      
        <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
          <!--tr>
            <td colspan="3" height="3" valign="top"></td><SPACER height="3" type="block"></SPACER> 
          </tr-->
          <tr>
            <td height="18"><div align="center">

                  <form action="feedback.php" method="post">
                  <input type="hidden" name="checksum" value="~$CHECKSUM`">

    </div></td>
            <TD width=10 vAlign=top class=small><B><SPACER type="block" 
            width="10"></B></TD>
            <td width="571" valign="top"> <br>
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="extralargepink"><div align="center">~$HEADING`</div></td>
                </tr>
                <tr>
                  <td height="13" class="mediumgreen"><div align="center"><strong><br><br>
                  ~$MSG` 
             <br>
<br>
                  </strong></div></td>
                </tr>
                <tr>
                  <td height="26" class="mediumblack"><br>
                    <strong>Proceed&gt;&gt;</strong></td>
                </tr>
                <tr>
                  <td height="26" class="mediumblack"><span class="class5">~$LINK1`</span> &gt;&gt;&gt;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
   
      </td>
  </tr>
</table>
<br>
~$SUBFOOTER`


<br>

~$FOOT`
</form>
</body>
</html>
