<style>
.white-area{border:2px solid #797979; width:580px; height:25px; padding:10px; background:#fff; float:left; clear:both}
</style>
<script type="text/javascript">
//Draft loader
//dra_loader="<span align=center><img src=\"~$IMG_URL`/profile/images/loader_small.gif\"></span><BR><span align=center> Saving...</span>";
dra_loader="<div class='f11 mt_10 ml_15 gry' style='border-top:1px solid #ccc; padding:5px 0 0; _padding:3px 0 0; text-align:center;'><img src='~$IMG_URL`/profile/images/loader_small.gif' /><br />Saving message...<div class='clr'></div></div>";
//dra_end1="<span align=center>Message Saved as ";
//dra_end1="<span align=center>Message Saved as ";
dra_end1="<div class='white-area' style=''><img src='~$IMG_URL`/profile/images/small_tick.gif' align='absmiddle' /> Your message has  been saved as <span class='b'>";
dra_end2="</span><div class='clr'></div></div>";
~if $draft_status`
var d_status="~$draft_status`";
~/if`
</script>
~if $ERROR_MESSAGE`
<div class="pink" style="width:753px; padding-bottom:15px;">
	<div class="top_bg pd_3"> <a href="#" class="fr blink b" ~if $RELOAD`onClick="$.colorbox.close();window.location.reload();return false;"~else`onClick="$.colorbox.close();return false;"~/if`>Close [X]</a>
		<div class="clr"></div>
	</div>
	<div class="f14 pd_5" style="margin:5px 20px;">
		<div>
			~$ERROR_MESSAGE`
		</div>
		<div class="clr_10"></div>
	</div>
	<div class="clr"></div>
</div>
~else`
<div class="pink" style="width:753px; padding-bottom:15px;">
	<div class="top_bg pd_3"> <a href="#" class="fr blink b" ~if $RELOAD`onClick="$.colorbox.close();window.location.reload();return false;"~else`onClick="$.colorbox.close();return false;"~/if`>Close [X]</a>
		<div class="clr"></div>
	</div>
	~if $MSG_SENT`
	<div class="f14 pd_5" style=" margin:5px 20px;">
		<div class="fl">
			Message sent
		</div>
		<div class="clr_10"></div>
	</div>
	~else`
	<div class="fl t12 pd_5" style="margin:5px 20px; display:inline;width:700px;color:#505050!important">
		<div class="fl t13" style="margin-left:18px">
		<span style="font-size:16px;margin-left:-24px">
		~if $MESSAGE_SHOW`
			~$MESSAGE_SHOW`
		<BR><BR>
We are happy you found profiles you like, we will notify you as soon as any of them respond.
<BR>~if $PAID neq ''`Please note that you can see their respective contact details after acceptance
~else`<BR><BR>
To include contact details or send message, <a href="/profile/mem_comparison.php" class='b'>Become a Paid member now</a><BR>
~/if`
		~else`
			~if $FILTER_ALREADY_CONTACT`
				~$FILTER_ALREADY_CONTACT` 
			~else` 
				~if $CONTACTED_PROFILES`
					~$LAYER_MESSAGE` 
				~/if`
			~/if`
		~/if`
		</span>
		</div>
		
		~if $CUST_MESSAGE || $FREE_MESSAGE`
		<div class="sp8"></div>
		~if $MESSAGE_SHOW eq '' and !$DECLINE AND $CUST_MESSAGE`
		<div class="fl" style="display:inline" >
			Your message along with contact details has been sent to ~if $ACC_MES_CH`this member~else`these members~/if`
		</div>
		~/if`
		<div class="sp8"></div>
		~if $PAID neq ''`
		<div class="fl gray" style="display:inline;padding-bottom:5px;width:620px" >
		&nbsp;<b>Your message:</b>
		<br>
		'~$CUST_MESSAGE`~$FREE_MESSAGE`'
		</div>
		~/if`
		<div class="clr"></div>
		~/if`
		~if $SAVE_MESSAGE` 
		<span id="s_draft_show" style="display:block:float:left;">
		<input type='hidden' id="s_draft_mes" value="~$CUST_MESSAGE`">
		<div class="white-area" style="">      
			<div style="" class="fl">
				<input type="checkbox" class="fl" onclick="javascript:show_save(this.checked)"/>
				<span class="lf">&nbsp;Save this message</span> 
				<span id="mes_0" style="display:none;" class="lf">
					<span class="lf">&nbsp;as</span>&nbsp;&nbsp;<input type="text" class="txta" id="s_draft_name" maxchars="50" style="width:123px"/>
				</span>
				<span class="lf" id="mes_1" style="display:none;">
				~if $OVERFLOW`
				<span class="lf">&nbsp;&nbsp;Replace with&nbsp;&nbsp;</span>
				<select class="lf" id="s_draft_id" style="width: 135px;">
					<option value="">Select message</option>
					~foreach from=$DRA_MES_OPTION item=message key=id`
					<option value=~$id`>~$message`</option>
					~/foreach`
				</select>&nbsp;&nbsp;
				~/if`
				&nbsp;&nbsp;
				<input type="image" onclick="javascript:save_draft();" src="~$IMG_URL`/profile/images/save_btn.gif"/>
				</span>
			</div>&nbsp;
			
			<div class="clr"></div>
		</div>
		</span>
		
		~/if`
		~if $THRESHOLD_MESSAGE`
		<p class="clr"></p>
		<div style=" border-top: 1px solid #B3B1B2;    float: left;width: 90%; padding-top:4px" ><font class="b" >~$THRESHOLD_MESSAGE`.</font></div>~/if`
		<br>
		~if $filter_redirect`
		<p class="clr"></p>
		<div style=" border-top: 1px solid #B3B1B2;    float: left;width: 90%; padding-top:4px" ><font style="font-size:20px;">
		<a href="/profile/revamp_filter.php?fromPage=loginDeclineRedirect">Set filters</a>
		to make sure that only relevant profiles contact you
		</font></div>
		~/if`
		
		~if $multipleAccept`
		<div class="fl" style="margin-left:32px;display:inline" >
			<div class="clr"></div>
			<div class="f11 mb_5" style="line-height:15px;~if $BUY_MESSAGE_EOI`margin-top:5px~else`margin-top:30px~/if`"><b>Go to <a href="contacts_made_received.php?filter=A&page=accept">Accepted member</a> folder in 'My Contacts' to view the contact details of these members.</b></div>
			<div class="clr"></div>
		</div>
		~/if`
	</div>
	~if $SHOW_SIMILAR eq 'YES' && $RESULTS_ARRAY`
	<div class="clr"></div>
	<div style="padding: 5px 0pt 25px 25px; overflow: auto; height: 190px;"> <span class="b f14 orng">Meanwhile check out these profiles which are similar to <span class="blk">~$RECEIVER_USERNAME`</span>-</span>
		<div class="clr"></div>
		~assign var="tab" value=0`
		~assign var ="actual_found" value=0`
		~section name="tr1" start=0 loop=$length`
		~assign var="finalval" value=$tab`	
		~if $RESULTS_ARRAY[$finalval].PROFILEID neq ''`
		~assign var="cur_pid" value=$RESULTS_ARRAY[$finalval].PROFILEID`
		~assign var ="actual_found" value=$actual_found+1`
		<a href="~$SITE_URL`/profile/view_similar_profile.php?profilechecksum=~$profilechecksum`&checksum=~$CHECKSUM`&contact=~$contact`&total=~$totalrec`&j=~$BACK_TO_SEARCH_PAGE`&no_navigation=1&searchchecksum=~$SEARCHCHECKSUM`&CURRENTPROFILEID=~$RESULTS_ARRAY[$finalval].PROFILEID`&CURRENTUSERNAME=~$CURRENTUSERNAME`&status=~$status`&newsearch=~$newsearch`&FULLMEMBER=~$FULLMEMBER`&OPP_ECL=~$OPP_ECL`&j=~$j`&UPGRADE_MEMBERSHIP=~$UPGRADE_MEMBERSHIP`&~$NAVIGATOR`&overwrite=1&stype=~$STYPE`&nextViewSim1=1" style="cursor:pointer!important;">
		<div class="sim_pro"> 
			<b>~$RESULTS_ARRAY[$finalval].USERNAME`</b> 
			~$RESULTS_ARRAY[$finalval].MY_PHOTO`<p>~$RESULTS_ARRAY[$finalval].SMALL_TAG`</p>

		</div>
		</a>
		~if ($finalval+1) % 3 eq 0`
		<div class="clr"></div>
		~/if`
		~assign var="tab" value=$tab+1`
		~/if`
		~/section`
		<div class="clr_10"></div>
	</div>
	~if $actual_found ge 9`
	<a href="~$SITE_URL`/profile/view_similar_profile.php?profilechecksum=~$profilechecksum`&checksum=~$CHECKSUM`&contact=~$contact`&total=~$totalrec`&j=~$BACK_TO_SEARCH_PAGE`&no_navigation=1&searchchecksum=~$SEARCHCHECKSUM`&CURRENTUSERNAME=~$CURRENTUSERNAME`&status=~$status`&newsearch=~$newsearch`&FULLMEMBER=~$FULLMEMBER`&OPP_ECL=~$OPP_ECL`&j=~$j`&UPGRADE_MEMBERSHIP=~$UPGRADE_MEMBERSHIP`&~$NAVIGATOR`&overwrite=1&stype=~$STYPE`&nextViewSim1=1" class="fr b blink" style="margin-right:15px;">View all similar profiles</a>
	~/if`
	~/if` 
	~/if`
	<div class="clr"></div>
</div>
~/if`
