<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body>
<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border:1px solid #e4e4e4 !important; font-family:Arial, Helvetica, sans-serif !important; font-size:12px !important; " align="center">
  <tr>
    <td width="19"></td>
    <td width="306"><img src="~$IMG_URL`/profile/images/jsLogo.gif" width="208" height="57" border="0" /></td>
    <td width="261" align="right" style="font-family:Arial; font-size:10px; color:#474646; line-height:0px;"><img src="~$IMG_URL`/profile/images/iconimg.gif" width="21" height="22" align="middle"> <span style="font-size:11px;"><strong>Call us at:</strong></span>1800-419-6299 (Toll free),<br>
      0120-4393500</td>
    <td width="16"></td>
  </tr>
  <tr>
    <td colspan="4" height="11"></td>
  </tr>
  <tr>
    <td height="9"></td>
    <td colspan="2" >
    <td></td>
  </tr>
  <tr>
    <td height="36"><img src="~$IMG_URL`/profile/images/lftImg.gif" width="19" height="36" align="left" vspace="0" hspace="0" /></td>
    <td bgcolor="#920606" style="font-size:24px; color:#ffffff; height:36px; vertical-align: middle;"><strong><em>Expression of Interest</em></strong></td>
    <td bgcolor="#920606" align="right" valign="bottom"><img src="~$IMG_URL`/profile/images/img2mail.gif" width="240" height="36" align="right"  /></td>
    <td style="padding-left:0px;"><img src="~$IMG_URL`/profile/images/rhtImg.gif" width="16" height="36" align="right" vspace="0" hspace="0" /></td>
  </tr>
  <tr>
    <td></td>
    <td height="26"></td>
    <td rowspan="2" valign="top" align="right"><img src="~$IMG_URL`/profile/images/img1mail.jpg" width="240" height="139" /></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td valign="top" >Hi <span id="username">~$RECEIVERNAME`</span>,<br />
      <br />
      ~if $count eq 1` <span style="line-height:18px;">We are glad to inform you that Jeevansathi.com <br />
      member <strong>~$newsenders[0].NAME`</strong> has liked and shown interest in your profile.<br />
      <br />
      Don't keep ~if $GENDER eq 'M'`her ~else` him ~/if` waiting. ~if $GENDER eq 'M'`She ~else` He ~/if` could be the one for you!</span></td>
    ~else` <span style="line-height:16px;">We are glad to inform you that these Jeevansathi.com members have liked and shown interest in your profile.<br />
    <br />
    You can <font color="#920606">ACCEPT</font> those you like and <font color="#656464">DECLINE</font> the rest.</span>
      </td>
    ~/if`
    <td></td>
  </tr>
  ~section name=i loop=$newsenders`
  <tr>
    <td></td>
    <td colspan="2">
    <table width="562" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f6f6" style="border:1px solid #e4e4e4;">
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#575656;" height="25">&nbsp; &nbsp; <strong>~$newsenders[i].NAME`</strong></td>
        </tr>
        <tr>
          <td align="center"><table width="550" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ededed;" bgcolor="#FFFFFF">
              <tr>
                <td height="8"></td>
                <td colspan="2"></td>
                <td></td>
              </tr>
              <tr>
                <td width="9"></td>
                <td width="114" align="left" valign="top"><a href="~$SITE_URL`/profile/viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$newsenders[i].profilechecksum`&CAME_FROM_CONTACT_MAIL=1&echecksum=~$echecksum`&CALL_ME=~$DATA[index].album_link`&after_login_call=change_tab(dID('contact_history')%2C'Contact_History')&NAVIGATOR=EOI%3Apage__eoi%40filter__R%40j__1%2FExpressions+of+Interest%3B%3B" style="text-decoration:none; color:#0f529d;" target="_blank"> ~if $newsenders[i].HAVEPHOTO eq 'Y'` 
                   ~if $newsenders[i].privacy eq 'R' OR $newsenders[i].privacy eq 'F' OR $newsenders[i].photo_display eq 'H' OR $newsenders[i].photo_display eq 'C' OR $newsenders[i].photo_display eq 'F'`
~if $GENDER eq 'M'`
                        <img src="~$IMG_URL`/profile/ser4_images/ic_hidden_g_100.gif" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" /> 
~else`
			<img src="~$IMG_URL`/profile/ser4_images/ic_hidden_b_100.gif" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" />
~/if` 
                  ~else`  
                  <img src="~$newsenders[i].ThumbnailUrl`" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" /> 
                   ~/if` 
                  ~else`
                  ~if $newsenders[i].HAVEPHOTO eq 'U'`
                  ~if $GENDER eq 'M'` <img src="~$IMG_URL`/profile/ser4_images/ic_photo_coming_b_100.gif" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" /> ~else` <img src="~$IMG_URL`/profile/ser4_images/ic_photo_coming_g_100.gif" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" /> ~/if`
                  ~else`
                  ~if $GENDER eq 'M'` <img src="~$IMG_URL`/profile/ser4_images/ic_request_photo_g_100.gif" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" /> ~else` <img src="~$IMG_URL`/profile/ser4_images/ic_request_photo_b_100.gif" width="100" height="133" hspace="0" vspace="0" border="0" style="border:1px solid #e6e6e6;" /> ~/if`
                  ~/if`
                  ~/if` </a>
                  <div> ~if $newsenders[i].privacy neq 'R' and $newsenders[i].privacy neq 'F' and $newsenders[i].photo_display neq 'H' and $newsenders[i].photo_display neq 'C' and $newsenders[i].photo_display neq 'F'`
                    ~if $newsenders[i].album`
                    <table width="102" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Verdana; font-size:11px;">
                      <tr>
                        <td width="102" align="center" style="border:1px solid #e6e6e6; color:#0f529d;" height="38"><img src="~$IMG_URL`/profile/images/photoIC.gif" width="22" height="17" hspace="0" vspace="3" border="0" align="absmiddle" />&nbsp;<a href="~$SITE_URL`/profile/viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$newsenders[i].profilechecksum`&seq=1&CAME_FROM_CONTACT_MAIL=1&echecksum=~$echecksum`&CALL_ME=~$newsenders[i].album_link`&after_login_call=change_tab(dID('contact_history')%2C'Contact_History')&NAVIGATOR=EOI%3Apage__eoi%40filter__R%40j__1%2FExpressions+of+Interest%3B%3B" style="text-decoration:underline;" target="_blank">Photo Album</a></td>
                      </tr>
                    </table>
                    ~/if`
                    ~/if` 
                    </div></td>
                <td width="422" align="left"><table width="422" border="0" cellspacing="2" cellpadding="0" style="font-family:Arial, Verdana; font-size:12px; color:#000000;">
                    <tr>
                      <td width="107"><b>Age &amp; Height</b></td>
                      <td width="5">:</td>
                      <td width="218">~$newsenders[i].AGE`, ~$newsenders[i].HEIGHT`</td>
                      <td width="92"></td>
                    </tr>
                    ~if $newsenders[i].RELIGION neq '' or  $newsenders[i].CASTE`
                    <tr>
                      <td><b>~if $newsenders[i].RELIGION neq ''`Religion &amp;~/if` ~if $newsenders[i].CASTE` ~if $newsenders[i].RELIGION eq 'Muslim' or $newsenders[i].RELIGION eq 'Christian'` Sect ~else` Caste ~/if` ~/if`</b></td>
                      <td>:</td>
                      <td>~if $newsenders[i].RELIGION neq ''`~$newsenders[i].RELIGION`;~/if`~if $newsenders[i].CASTE` ~$newsenders[i].CASTE`~/if`<!--~if $newsenders[i].SUBCASTE neq ''`, ~$newsenders[i].SUBCASTE`~/if`--></td>
                      <td></td>
                    </tr>
                    ~/if`
                    ~if $newsenders[i].MTONGUE neq ''`
                    <tr>
                      <td><b>Mother Tongue</b></td>
                      <td>:</td>
                      <td>~$newsenders[i].MTONGUE`</td>
                      <td></td>
                    </tr>
                    ~/if`
                    ~if $newsenders[i].EDUCATION neq ''`
                    <tr>
                      <td><b>Education</b></td>
                      <td>:</td>
                      <td>~$newsenders[i].EDUCATION`</td>
                      <td></td>
                    </tr>
                    ~/if`
                    ~if $newsenders[i].OCCUPATION neq ''`
                    <tr>
                      <td><b>Occupation</b></td>
                      <td>:</td>
                      <td>~$newsenders[i].OCCUPATION`</td>
                      <td></td>
                    </tr>
                    ~/if`
                    ~if $newsenders[i].INCOME neq ''`
                    <tr>
                      <td><b>Income</b></td>
                      <td>:</td>
                      <td>~$newsenders[i].INCOME`</td>
                      <td></td>
                    </tr>
                    ~/if`
                    
                    <tr>
                      <td>~if $newsenders[i].RESIDENCE neq ''`<b>Location</b>~/if`</td>
                      <td>~if $newsenders[i].RESIDENCE neq ''`:~/if`</td>
                      <td>~if $newsenders[i].RESIDENCE neq ''`~$newsenders[i].RESIDENCE` ~/if`</td>
                      <td align="right"><table width="92" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Verdana; font-size:11px;">
                          <tr>
                            <td width="92" align="right"><a href="~$SITE_URL`/profile/viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$newsenders[i].profilechecksum`&CAME_FROM_CONTACT_MAIL=1&echecksum=~$echecksum`&button=accept&after_login_call=change_tab(dID('contact_history')%2C'Contact_History')&NAVIGATOR=EOI%3Apage__eoi%40filter__R%40j__1%2FExpressions+of+Interest%3B%3B" target="_blank" style="text-decoration:none; color:#0f529d;"><img src="~$IMG_URL`/profile/images/fullIC.gif" width="23" height="15" hspace="0" vspace="3" border="0" align="absmiddle" />&nbsp;<span style="text-decoration:underline;">Full Profile</span></a></td>
                          </tr>
                        </table></td>
                      </tr>
                    <tr>
                      <td colspan="4" height="17"></td>
                    </tr>
                    <tr>
                      <td colspan="4"><strong>Message from ~$newsenders[i].NAME`:</strong>~if $newsenders[i].CUSTMESSAGE` ~$newsenders[i].CUSTMESSAGE` 
                        ~else` I liked your profile and found it to be a good match. My user id on Jeevansathi.com is ~$newsenders[i].NAME`. In case you like my profile, please accept this initial contact message and contact me to proceed further. ~/if`</td>
                    </tr>
                  </table></td>
                <td width="9"></td>
              </tr>
              <tr>
                <td height="6"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="12"></td>
        </tr>
        <tr>
          <td><table width="395" border="0" cellspacing="0" cellpadding="0" style="font-size:13px; font-family:Arial; color:#000000;">
              <tr>
                <td width="19"><img src="~$IMG_URL`/profile/images/spacerimg.gif" width="19" height="1" /></td>
                <td width="155"><strong>Don't keep ~if $GENDER eq 'M'`her ~else` him ~/if` waiting</strong></td>
                <td background="~$IMG_URL`/profile/images/up_btnBG.gif" bgcolor="#ac0403" height="27" width="94" align="center" style="border:1px solid #d40832;"><a href="~$SITE_URL`/profile/viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$newsenders[i].profilechecksum`&CAME_FROM_CONTACT_MAIL=1&echecksum=~$echecksum`&button=accept&after_login_call=change_tab(dID('contact_history')%2C'Contact_History')&NAVIGATOR=EOI%3Apage__eoi%40filter__R%40j__1%2FExpressions+of+Interest%3B%3B" target="_blank" style="color:#ffffff; text-decoration:none; display:block;"><strong>ACCEPT</strong></a></td>
                <td width="33" align="center">or</td>
                <td background="~$IMG_URL`/profile/images/dec_btnBG.gif" bgcolor="#b9b2b2" height="27" width="94" align="center" style="border:1px solid #b2afaf;"><a href="~$SITE_URL`/profile/viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$newsenders[i].profilechecksum`&CAME_FROM_CONTACT_MAIL=1&echecksum=~$echecksum`&button=decline&search_decline=1&after_login_call=change_tab(dID('contact_history')%2C'Contact_History')&NAVIGATOR=EOI%3Apage__eoi%40filter__R%40j__1%2FExpressions+of+Interest%3B%3B" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; text-decoration: none;" target="_blank"><strong>DECLINE</strong></a></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="12"></td>
        </tr>
      </table></td>
    <td></td>
  </tr>
  <tr>
  <tr>
    <td colspan="4" height="16"></td>
  </tr>
  ~/section`
  
    <td colspan="4" height="26"></td>
  </tr>
  ~if $RECEIVER_IS_PAID neq "1"`
  <tr>
    <td></td>
    <td colspan="2"> ~if $RECEIVER_IS_PAID eq "0"` To see contact details of profile(s) you like, and avail other benefits of paid membership: ~/if`
      ~if $RECEIVER_IS_PAID eq "2"`Your membership will expire on ~$exp_dt`. To avail uninterrupted service like :~/if`</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="10"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><table width="490" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Times New Roman, Times, serif; font-size:11px; line-height:15px;">
        <tr>
          <td width="125"><img src="~$IMG_URL`/profile/images/call_ic.gif" width="121" height="48" vspace="0" hspace="0" align="left"></td>
          <td width="50">&nbsp;</td>
          <td width="125"><img src="~$IMG_URL`/profile/images/chat_box.gif" width="121" height="48" vspace="0" hspace="0" align="middle"></td>
          <td width="50">&nbsp;</td>
          <td width="140"><img src="~$IMG_URL`/profile/images/msg_box.gif" width="121" height="48" vspace="0" hspace="0" align="left"></td>
        </tr>
        <tr>
          <td align="center" height="40"><strong>See <font color="#801212">phone numbers</font><br>
            and <font color="#801212">email id's</font></strong></td>
          <td></td>
          <td align="center"><strong>Initiate <font color="#801212">chats</font> on<br>
            website or gtlak</strong></td>
          <td></td>
          <td align="center"><strong>Send <font color="#801212">personalized <br>
            messages</font></strong></td>
        </tr>
      </table></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="32"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><table width="464" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Times New Roman, Times, serif; font-size:11px; line-height:17px;">
        <tr>
          <td width="201" height="27" background="~$IMG_URL`/profile/images/up_btnBG.gif"  bgcolor="#ac0403" style="border:1px solid #d40832; font-size:13px; font-weight:bold; line-height:27px;" align="center"><a href="~$SITE_URL`/profile/mem_comparison.php?checksum=~$CHECKSUM`" target="_blank" style="text-decoration:none; color:#ffffff;">Upgrade membership now</a></td>
          <td style="font-style:italic; color:#575656;" width="263" valign="bottom"><img src="~$IMG_URL`/profile/images/lockimg.gif" width="24" height="20" vspace="0" hspace="2" align="absmiddle"> Easy and secure payment options available</td>
        </tr>
      </table></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="45"></td>
  </tr>
  ~/if`
  <tr>
    <td></td>
    <td colspan="2">Wish you success in your search.</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="18"></td>
  </tr>
  <tr>
    <td></td>
    <td valign="top" style="font-size:12px;">Warm Regards,<br>
      <strong><font color="#c4161c">Jeevansathi</font>.com Team</strong><br>
      <a href="https://www.facebook.com/jeevansathi" target="_blank"><img src="~$IMG_URL`/profile/images/fbBTN.gif" width="111" height="29" border="0" alt="Join Us on Facebook" vspace="4"></a></td>
    <td style="font-family:Arial; font-size:11px; color:#474646;" valign="center" colspan="2"><img src="~$IMG_URL`/profile/images/iconimg.gif" width="21" height="22" align="absmiddle"> <span style="font-size:13px;"><strong>Call us at:</strong></span>1800-419-6299 (Toll free) ~if $Agtadd`or<br>
      <img src="~$IMG_URL`/profile/images/visitIC.gif" width="32" height="33" align="left"><span style="font-size:11px; line-height:18px;">Visit your <strong>nearest Jeevansathi centre:</strong><br>
      ~$Agtadd`, ~$Agtname`-~$Agtmob` ~/if`</span></td>
  </tr>
  <tr>
    <td colspan="4" height="19"></td>
  </tr>
  <!-- ~if $bmsVariable`
  <tr>
  	<td></td>
    <td colspan="2" align="center"><img src="~$bmsVariable`/bmsjs/bms_display_final.php?zonestr=145&mailer=1" width="470" height="62" vspace="0" hspace="0"></td>
    <td></td>
  </tr>
  ~/if` -->
  <tr>
    <td></td>
    <td colspan="2" height="31" background="~$IMG_URL`/profile/images/lineSep.gif">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td style="font-size:11px;">You can also visit any of our 60+ offices across India </td>
    <td align="right"><a href="http://www.jeevansathi.com/profile/contact.php" target="_blank" title="View all Centre Addesses" style="color:#0f529d; font-size:11px;">View all Centre Addesses</a></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="10"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" style="font-size:11px;"><span style="color:#711e1e">North India:</span> Noida, Gurgaon, Delhi - <font color="#7a7676">Laxmi Nagar, Connaught Place, Nehru Place, Kamla Nagar, Pitampura, Malviya Nagar, Rajori Garden,</font> Agra, Allahabad, Chandigarh, Jaipur, Kanpur, Dehradun, Varanasi, Lucknow, Ludhiana, Jallandhar, Gorakhpur, Pathankot, Amritsar, Jammu, Bareilly</span></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="9"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" style="font-size:11px;"><span style="color:#711e1e">West India:</span> Goa, Kolahpur, Ahmedabad, Aurangabad, Baroda, Nagpur, Nashik, Rajkot, Surat, Pune - <font color="#7a7676">Chinchwad, Deccan, Koregaon, Modelina Road, Mumbai - Andheri(West), Andheri East, Borivalli, Chembur, Ghatkopar, Mulund, Thane, Vashi, Worli</font></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="9"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" style="font-size:11px;"><span style="color:#711e1e">South India:</span> Chennai, Kochi, Coimboture, Hosur, Mangalore, Mysore, Trichy, Trivandrum, Vijaywada, Vyzag
      Bangalore - <font color="#7a7676">Dickenson Road, Koramangla,</font> Hyderabad - <font color="#7a7676">Begumpet, Himmayat Nagar</font></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="9"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" style="font-size:11px;"><span style="color:#711e1e">East & Central India:</span> Ranchi, Bhopal, Bhubneshwar, Indore, Patna, Jamshedpur,  Gwalior, Jabalpur, Raipur,
      Kolkata - <font color="#7a7676">Ghariat Road, Salt Lake, AJC Bose Road</font></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" height="12"></td>
  </tr>
  <tr>
    <td><img src="~$IMG_URL`/profile/images/lftImg.gif" width="19" height="36" align="left" vspace="0" hspace="0"/></td>
    <td bgcolor="#920606"  style="font-family:Verdana, Arial, Times New Roman, Times, serif; color:#ffffff; font-size:11px;" colspan="2" align="center">100% Profile Screening &nbsp;&nbsp;&nbsp;<font color="#bd7676">|</font>&nbsp;&nbsp;&nbsp; Lakhs of Success Stories &nbsp;&nbsp;&nbsp;<font color="#bd7676">|</font>&nbsp;&nbsp;&nbsp; Privacy Options</td>
    <td style="padding-left:0px;"><img src="~$IMG_URL`/profile/images/rhtImg.gif" width="16" height="36" align="right" vspace="0" hspace="0" /></td>
  </tr>
  <tr>
    <td></td>
    <td height="46" colspan="2" align="center" style="font-size:11px; color:#c9c9c9;">This email sends you details of members who have liked and shown interest in your profile.<br />
      Click here if you wish to <a href="~$SITE_URL`/profile/unsubscribe.php" target="_blank" style="text-decoration:underline; color:#c9c9c9;">UNSUBSCRIBE</a> from Expression of Interest mails.</td>
    <td></td>
  </tr>
</table>
</body>
</html>
