~if $SHOW_DATE_SEARCH eq 1`
<form name="date_search" action="contacts_made_received.php" method="post">
<input type="hidden" name="date_search_submit" value="1">
<input type="hidden" name="checksum" value="~$CHECKSUM`">
<input type="hidden" name="page" value="~$page`">
<input type="hidden" name="filter" value="~$filter`">
<input type="hidden" name="initialCount" value="~$initialCount`">
<div style="border:1x solid #fff; margin-bottom:10px; position:relative;">
	<div style="margin: 0pt 3px; background: rgb(239, 239, 239) none repeat scroll 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="search_box">
		<div class="top_line">
			<div class="btm_line">
				<div class="right_line">
					<div class="left_line">
						<div class="tp_left_cur">
							<div class="tp_right_cur">
								<div class="btm_left_cur">
									<div style="margin: 0pt; padding: 0pt; width:457px;" class="btm_right_cur">
										<div style="padding: 10px; _float:left;">
											<span class="lf">~$searchTitle`</span><br/>
											<input type="text" class="date lf" name="date1xx" ~if $date1` value="~$date1`" ~/if` onClick="cal1xx.select(document.forms['date_search'].date1xx,'anchor1xx','dd/MM/yyyy',null,null,document.forms['date_search'].date2xx.value); this.blur(); return false;"></input>
											<a href="#" onClick="cal1xx.select(document.forms['date_search'].date1xx,'anchor1xx','dd/MM/yyyy',null,null,document.forms['date_search'].date2xx.value); return false;" name="anchor1xx" id="anchor1xx"><img src="~$IMG_URL`/img_revamp/cal_icon.gif" alt="pick a date" border="0" class="lf" title="pick a date" style="margin-left:4px;"></a><DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white; top:0; right:115px;"></DIV><span class="lf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<input type="text" class="date lf" name="date2xx" ~if $date2` value="~$date2`" ~/if` onClick="cal2xx.select(document.forms['date_search'].date2xx,'anchor2xx','dd/MM/yyyy',null,document.forms['date_search'].date1xx.value,null); this.blur(); return false;"></input>
											<a href="#" onClick="cal2xx.select(document.forms['date_search'].date2xx,'anchor2xx','dd/MM/yyyy',null,document.forms['date_search'].date1xx.value,null); return false;" name="anchor2xx" id="anchor2xx"><img src="~$IMG_URL`/img_revamp/cal_icon.gif" alt="pick a date" border="0" class="lf" title="pick a date" style="margin-left:4px;"></a><DIV ID="testdiv2" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white; top:0; right:-85px;"></DIV>
											<input type="button" style="font-weight:bold;" value="Go" class="green_btn mar_left_10" onClick="date_form_submit();"></input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
<DIV ID="testdiv2" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
</form>
<div class="clear"></div>
~if $DATE_SEARCH_SUBMIT`
<div class="lf">
	<b>~if $searchResultsCount`~$searchResultsCount`~else`No~/if` result~if $searchResultsCount ne 1`s~/if` found</b>&nbsp;&nbsp;<span style="color: rgb(114, 111, 111); font-size: 11px;">[ ~$search_string` ]</span>&nbsp;&nbsp;<a class="blink t11" href="~$clearSearchUrl`">Clear Search</a>
</div>
<div class="clear"></div>
~/if`
~else`
<div class="clear"></div>
~/if`
