<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Jeevansathi Matrimonials- Faq's</title>
	<link rel="stylesheet" href="/profile/css/~$comm_style_css`" type="text/css">
	<style type="text/css">
		.pghd{float:left; width:99% }
		.r14{float:left;font:bold 14px verdana,Arial; color:#CC0000; padding-top:5px}
		.co1{float:left; width:20%;padding:2px }
		.co2{float:left; width:50%; padding:2px}
	</style>
	<SCRIPT language=JavaScript1.2 src="~$SITE_URL`/profile/~$profile_js`" type=text/javascript></SCRIPT>
	<script language="JavaScript">
	<!--
		function trim_newline(string)
		{
		        return string.replace(/^\s*|\s*$/g, "");
		}

		function validate()
		{
			docF = document.form1;
			var x = docF.email.value;
                        var filter  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/;
			document.getElementById('my_email').style.color="#000000";
			if(document.getElementById('my_category'))
				document.getElementById('my_category').style.color="#000000";
			 document.getElementById('my_question').style.color="#000000";

                        if(docF.email.value.length==0)
                        {
                                alert('Please enter your Email address');
				document.getElementById('my_email').style.color="red";
                                docF.email.focus();
                                return false;
                        }
                        else if(!filter.test(x))
                        {
                                alert("'"+docF.email.value+"'" + " is not a valid Email-id");
				document.getElementById('my_email').style.color="red";
                                docF.email.focus();
                                return false;
                        }

			if(document.getElementById('my_category'))
			{
				if(docF.allcategory.value=='')
				{
					alert('Please Specify a Category');
					document.getElementById('my_category').style.color="red";
					docF.allcategory.focus();
					return false;
				}
			}

			if((trim(docF.message.value)=="") || trim_newline(docF.message.value)=="")
                        {
                                alert('Please enter your question');
				document.getElementById('my_question').style.color="red";
                                docF.message.focus();
                                return false;
                        }
		}
		function newWindow(url, height, width)
		{
			nameW='feature'
			if (navigator.appVersion.indexOf('4') != -1)
			{
				// Vars for centering the new window on Version 4 Browsers
				xTop = screen.width/2 - (width/2);
				yTop = screen.height/2 - (height/2);
				window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=' + xTop + ',top=' + yTop + '');
			}
			else
			{
				window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=150,top=200');
			}
		}
	//-->
	</script>
</head>
<body>
<DIV id="dhtmltooltip" class="ttip"></DIV>
<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$tooltip_new_js`" type=text/javascript></SCRIPT>
			<div class="pghd">
				<div class="spacer1">&nbsp;</div>
				<div class="spacer15" style="border-top:1px solid #000000; margin-top:5px;" >&nbsp;</div>

				<div style="float:left; width:100%">
				<form name="form1" action="faq_other.php" method="post">
					<div class="bele co1" align="right">Name : </div>
					<div class="co2">
						<input type="text" name="name" value="~$name`" class="textbox">
					</div>
					<div class="spacer1">&nbsp;</div>
					<div class="bele co1" align="right">Username : </div>
					<div class="bele co1">
						~$USERNAME_FIELD`
					</div>
	
					<div class="spacer1">&nbsp;</div>
					<div class="bele co1" align="right" id="my_email">
						~if $ER_EMAIL eq 'Y'`
						 <font color="red">* Email : </font>
						~else`
							 * Email : 
						~/if`
					</div>
					<div class="co2">
						<input type="text" name="email" value="~$email`" class="textbox">
					</div>

					<div class="spacer1">&nbsp;</div>

					~if $abuse neq 'Y'`
					<div class="bele co1" align="right" id="my_category">~if $ER_CAT eq 'Y'`<font color="red">* Category:  </font>~else`* Category:  ~/if`</div>
					<select name="allcategory" class="textbox">
						<option value="" selected >Please select an option</option>
						~section name=num loop=$category`
							<option value="~$category_value[num]`" ~if $select_category eq $category_value[num]` selected ~/if` >~$category[num]`</option>
						~/section`
					</select>
					~/if`

					<div class="spacer1">&nbsp;</div>
	
					<div class="bele co1" align="right" id="my_question">
						~if $ER_MESSAGE eq 'Y'`
							<font color="red">* Your Question : </font>
						~else`
							* Your Question : 
						~/if`
					</div>
					<div class="co2">
						<textarea name="message" cols="50" rows="5" class="textbox">~$message`</textarea>
					</div>

					<div class="spacer15">&nbsp;</div>
					<div class="bele" style="float:left; width:20%;padding:2px " align="right">&nbsp;</div>
					<div style="float:left; width:50%; padding:2px">
						~if $abuse neq 'Y'`
							<input type="hidden" name="usecategory" value="1">
						~/if`
						<input type="hidden" name="abuse" value="~$abuse`">
						<input type="hidden" name="tracepath" value="~$tracepath`">
						<input type="hidden" name="checksum" value="~$CHECKSUM`">
						<input type="submit" name="CMDSubmit" value="Send Feedback" class="textbox" onClick="return validate();">
					</div>
					<div class="rightflow greyele bluelink" align="right" style="padding-top:3px ">
                                        * Compulsory Fields
                                </div>
					<div class="spacer15">&nbsp;</div>
					<div class="spacerg">&nbsp;</div>
				</form>
				</div>
			</div>
</body>
</html>
