<html>
<head><!--cua.htm-->
<title>Check Username Availability</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://jeevansathi.com/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="http://jeevansathi.com/P/IN/styles.php" type="text/css">
<link rel="stylesheet" href="http://jeevansathi.com/P/I/styles.php" type="text/css">

<style type="text/css">
.txt{float:left;color:#000000; width:280px; margin-top:3px}
</style>

<script LANGUAGE="JAVASCRIPT">
i=0;
kss = new Array();
function putusername()
{
	docF=document.form2;
	var v=9999;
	var checked_username="";
	for (counter = 0; counter < docF.nname.length; counter++)
                if (docF.nname[counter].checked)
                        {v=counter;break;}
	if(v!=9999)
	{
	        window.opener.document.form1.newusername.value=kss[v];
		window.opener.document.form1.frommylist.value=1;
		if(window.opener.document.getElementById('ca'))
			window.opener.document.getElementById('ca').innerHTML='<td width="50%" style="padding-left:10px"><span class="smallblue">Available</span></td>';
		//if(window.opener.document.getElementById('ax'))
		//	window.opener.document.getElementById('ax').innerHTML="";
		window.close();
		window.opener.document.form1.Submit1.focus();
	}
}
function doit()
{
        window.close();
	window.opener.document.form1.Submit1.focus();
}

</script>

</head>
<body text="#000000" topmargin=0 leftmargin=0 marginheight=0 marginwidth=0 bgcolor="ffffff">
~if $invalid_username`
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="bigblack"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td class="bigblack" style="background-color:#f0e798; padding:10px; border-bottom:1px dashed #999999;  border-top:1px dashed #999999;"><b>~$newusername`</b> username is invalid.</td>
    </tr>
      <tr>
        <td height="40">
            <div style="padding-left: 40px; padding-top:10px; padding-bottom:10px;"></div></td></table>
		<div class="txt" align="center"><input type="submit" name="Submit" value="OK" class="textbox" style="width:40px "onClick="doit();"></div>
~elseif $username_available eq 1`
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="bigblack"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td class="bigblack" style="background-color:#f0e798; padding:10px; border-bottom:1px dashed #999999;  border-top:1px dashed #999999;"><b>~$newusername`</b> username is available.</td>
    </tr>
	<script language="javascript">
	if(window.opener.document.getElementById('ca'))
                        window.opener.document.getElementById('ca').innerHTML='<td width="50%" style="padding-left:10px"><span class="smallblue">Available</span></td>';
	</script>
    <tr>
      <td width="35%" height="25" valign="top"><div align="right">
        <p align="left"><br>
          </p>
        </div></td></tr>
                                                                                                 
      <tr>
        <td height="40">
            <div style="padding-left: 40px; padding-top:10px; padding-bottom:10px;"></div></td></table>
		<div class="txt" align="center"><input type="submit" name="Submit" value="OK" class="textbox" style="width:40px "onClick="doit();"></div>

~else`
<form method="POST" name="form2">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="bigblack" style="background-color:#f0e798; padding:10px; border-bottom:1px dashed #999999;  border-top:1px dashed #999999;"><b>~$newusername`</b> username is not available. Our system would like to suggest some Usernames</td>
    </tr>
    <tr>
      <td width="35%" height="25" valign="top"><div align="right">
        <p align="left"><b class="mediumblack" style="padding-left:15px;">Select a Username :</b></p>
        <p align="left" class="mediumblack" style="padding-left:15px;">

~section name=index loop=$suggestnames`
   <input type="radio" value="~$suggestnames[index]`" name="nname">
                        <span class="mediumblack">~$suggestnames[index]`&nbsp;</span>
			<script language="javascript">
                                kss[i]='~$suggestnames[index]`';
                                i++;
                        </script>

        <br>
~/section`

            </p>
      </div></td></tr>
      
      <tr>
        <td height="40">
            <div style="padding-left: 40px; padding-top:10px; padding-bottom:10px;">
                <input type="image" border="0" name="imageField" src="images/select_astro.gif" onClick="putusername();return false;">
            </div></td></table>
~/if`
</form>
</body>
</html>
