<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Jeevansathi Matrimonials- Privacy Policy</title>
<link rel="stylesheet" href="css/~$comm_style_css`" type="text/css">
<style type="text/css">
.pghd{float:left; width:99% }
.r14{font:bold 14px verdana,Arial; color:#CC0000; padding-top:5px}
.w1{width:3%;}
.w2{width:95%;}

</style>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body>
<DIV id="dhtmltooltip" class="ttip"></DIV>
<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$tooltip_new_js`" type=text/javascript></SCRIPT>
<div id="container">
	<!--HEADER STARTS-->
	~$HEAD`
	<!--HEADER ENDS-->
	<!--QUICK SEARCH STARTS-->
	<div class="spacer15">&nbsp;</div>
	<!--QUICK SEARCH ENDS-->
	<!--WRAPPER STARTS HERE-->
	<div id="wrapper">
	<!--LEFT PANNEL STARTS HERE-->
	~$LEFTPANEL`
	<!--LEFT PANNEL ENDS HERE-->
	<!--CENTER STARTS HERE-->
		<div id="center">
			<div class="pghd bele bluelink">
				<div class="r14">Differentiators at a glance</div>
				<div class="spacer" style="border-top:1px solid #000000; margin-top:5px;" >&nbsp;</div>
				<!--DISCRIPTION STARTS-->
				<p>At Jeevansathi, we fully understand your concerns when it comes to searching for a partner. We are committed to safeguarding your privacy and safety and also try our best to understand your preferences. To this end, we have taken several steps to ensure that your experience remains enjoyable and rewarding. Here are a few tips on how to utilize the different features of the site.</p>
<ul>
  <li><strong>Profile/Photo Privacy: </strong>Jeevansathi provides the most granular control of different parts of your profile both in terms of visibility and capability to contact. You can control the visibility settings of your profile and photograph individually. You can filter people from contacting you based on their age, religion, mother tongue, caste, and country. Do not want to be hassled with contacts for some time? Just hide your profile in the site. All these are as easy as turning a knob on your radio.<br>
    <br>
  </li>
  <li><strong>Tracking: </strong>We meticulously track our users&rsquo; actions. This involves tracking their IP addresses from where they login/register and as well as archiving all their contact details. However, we do not make anything publicly available. Tracking helps us to pin down rogue profiles in case of any problems/complaints. <br>
    <br>
  </li>
  <li><strong>Abuse Issues:</strong> We take abuse issues very seriously and look to see that profiles causing complaints are removed from the site promptly.<br>
    <br>
  </li>
  <li><strong>Intelligent Matching</strong><sup>TM</sup>: Our intelligent matching software understands your taste and brings to you, through match alerts and other services, the best matches to you among millions of profiles available in the site. So while you continue with your busy schedule we keep your interests in mind and constantly look out for that perfect partner you came to us for!<br>
  <br>
  <li><strong>Screening</strong>: We screen all the profiles that come to us. No exceptions</li>
</ul>
<p>With a combination of granular privacy settings,  an intelligent matching system that understands your tastes, a strong support team, and a zest to improve all these all the time, we believe that we can make your partner search in our site, safe, private, hassle-free, and enjoyable. </p>
<p>The Jeevansathi Team</p>
		<!--DISCRIPTION ENDS-->
		</div>
<!--pghd ENDS-->
	</div>
<!--CENTER ENDS HERE-->
</div>
<!--WRAPPER ENDS HERE-->
~$FOOT`
</div>
</div>
</body>
</html>
