<html>
<head>
<title>JeevanSathi Matrimonials - Disclaimer</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/profile/imagesnew/styles.css" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body>

~$HEAD`
~$LEFTPANEL`
<table width="78%" height="1110" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td valign="top"><br>
<table width="99%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td><div align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td height="4"></td>
       <SPACER height="4" type="block"></SPACER> </tr>
      <tr>
       <td class="headbigblack"><b> Terms and Conditions for New Media applications (SMS, Voice, WAP) </b></td>
      </tr>
      <tr class="bgred">
       <td height="1"></td>
       <SPACER height="1" type="block"></SPACER> </tr>
        <tr>
       <td height="8"></td>
       <SPACER height="8" type="block"></SPACER> </tr>
     </table></div></td>
</tr>
<tr>
  <td class=mediumblack height="42"><table width="94%" height="21"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td class="mediumblack">This website - Jeevansathionmobile.Com - found at the uniform resource locator (URL) id - www.Jeevansathionmobile.com - has been set up and promoted, and is maintained, by Info Edge (India) Ltd. (hereinafter referred to as Info Edge), which term shall, for the purposes hereof, be deemed to include its subsidiaries, affiliates, partners, shareholders, directors, executives, officers, employees, agents, attorneys, accountants and any person vested with any responsibility for any task relating to the affairs of the company), with its corporate office currently located at B - 8, Sector - 132, Noida – 201301. 
       <br>
       <br>
       <b>Acceptance of Contract Terms</b><br>
      The following are terms of a legal agreement between you and Info Edge. By accessing, browsing and/or using jeevansathionmobile.com, you acknowledge that you have read, understood, and agree, to be bound by these terms and to comply with all applicable laws and regulations. If you do not agree to these terms, do not use this Site. The material provided on this Site is protected by law, including, international treaties. Those who choose to access this Site do so on their own initiative and are responsible for compliance with applicable local laws. You (the user) can access Info Edge (&quot;the site&quot;), subject to the terms and conditions of use, as changed / updated from time to time entirely at the discretion of Info Edge, as set out below. This Agreement is for an indefinite term and you understand and agree that are bound by such terms till the time you access this site. <br>
      <br>
      <b> Terms and Conditions governing Info Edge Mobile based Services. </b>
       <ol>
        <li> The subscriber availing this service shall be deemed to have consented to be bound by all the applicable terms and conditions of this service. </li>
        <li> Decision of Info Edge regarding all transactions under this service shall be final and binding and no correspondence shall be entertained in this regard. </li>
        <li> Info Edge reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this service or any part thereof including charges, at its sole discretion at anytime as may be required in view of business exigencies and/or regulatory or statutory changes. </li>
        <li> Your mobile phone number (MSISDN) will be used during the transmission of text messages through the mobile service provider's server for SMS Service. </li>
        <li> The membership is for your personal use only. You cannot transfer, assign or authorize your membership to any other person. </li>
        <li> The subscriber understands that he/she can avail SMS Services at his/her discretion and the said service shall be availed in such options as are made available by Info Edge from time to time. </li>
        <li> This service is subject to guidelines/directions issued by Telecom Regulatory Authority of India or any other statutory authority from time to time. </li>
        <li> The SMS or its contents once sent for availing the SMS services shall be treated as final and the same cannot be withdrawn, changed or retrieved subsequently under any circumstances. </li>
        <li> WAP Services enable you to access our Services and to submit and/or receive Content through your wireless Device. Your access to our WAP Services may be dependent on the wireless Device you use to access the applicable WAP services. </li>
        <li> Subscription Services provide you with access to certain Content for a selected period of time, which will be as indicated and chosen by you prior to purchase. The frequency with which you will receive the relevant Content will be notified to you at the time you subscribe for the service. </li>
        <li> You will not post or transmit any content that is abusive, obscene, sexually oriented or against national interest. Info Edge reserves the right to suspend your profile if any prohibitive or objectionable content is found and may further initiate appropriate legal proceedings against you. </li>
        <li> The Service is an additional service offered by Info Edge. The functions of the Service are dependent on the Operator owning the network to facilitate this service (Operator), for which Info Edge does not undertake any responsibility for failure of this network transmission or failure of message transmission for any reasons whatsoever. From time to time, Info Edge may include additional features and services. </li>
        <li> Info Edge reserves the right to modify/delete the profile contents at its own discretion without prior notice if the contents of profile are deemed unfit for broadcast. </li>
        <li> Info Edge is not responsible for authenticity of the content arising thereto. </li>
        <li> The subscriber must maintain such minimum balance in his/her prepaid account as is specified by Info Edge for availing the particular option offered under these services. All incidental costs/taxes/levies, if any, related to the VAS shall be entirely borne by the customer. </li>
        <li> The users specifically note and agree that the content and service or part thereof may be varied, added, withdrawn, withheld or suspended by Info Edge at its sole discretion without prior notice to the users. </li>
        <li> Info Edge shall not be liable for any costs, loss or damage (whether direct or indirect), or for loss of revenue, loss of profits or any consequential loss whatsoever as a result of the user using the Service. </li>
        <li> No reversal of deducted charges shall be allowed under any circumstances. </li>
        <li> The users shall remain solely responsible for all content, information, data originated from the users and transmitted via the Service (content), and the users shall accordingly indemnify Info Edge and / or the Operator, against all third party claims relating to the users content or due to the users act, negligence or omission. </li>
        <li> You are bound by the terms and conditions as mentioned herein and as stated on the site. </li>
        <li> Message delivery is conditional to Mobile operator&rsquo;s technical infrastructure and its network uptime. </li>
        <li> By using various SMS based services from Info Edge like Match Search, Match Alert, Jeevansathi Chat, Check Status etc , you agree to receive phone calls, messages etc. from Info Edge and/or its associates. </li>
        <li> Info Edge doesn&rsquo;t take any responsibility for the relevancy of the content that you are getting either through SMS&rsquo;s or Voice calls. </li>
        <li> Subscribing or using various paid/free services of Info Edge on SMS/Voice/WAP either directly or indirectly doesn&rsquo;t in any manner guarantee the user a Match. </li>
        <li> Info Edge and/or its respective suppliers make no representations about the suitability, reliability, availability, timeliness, lack of viruses or other harmful components and accuracy of the information, software, products, services and related graphics contained within the, Info Edge sites/services for any purpose. All such information, software, products, services and related graphics are provided &quot;as is&quot; without warranty of any kind. Info Edge and/or its respective suppliers hereby disclaim all warranties and conditions with regard to this information, software, products, services and related graphics, including all implied warranties and conditions of merchantability, fitness for a particular purpose, workmanlike effort, title and non-infringement. Info Edge shall not be responsible or liable for any consequential damages arising thereto. </li>
        <li> By agreeing to register at Info Edge, a user allows Info Edge to get in touch with him/her from time to time on events or offers regarding Weddings and ancillary services on mobile. This can include exciting offers, information, as well as promotions. </li>
        <li> It is at the sole discretion of the recipient to respond to our message. </li>
        <li> The subscriber shall comply with all directions/instructions etc. issued by the Company relating to the network, the services and any/all matters connected therewith and provide the Company all other and further information and co-operation as the Company may require from time to time. </li>
        <li> The customer hereby agrees to promptly pay all amounts due to the operators as reflected in their official monthly bill statement and for all charges whatsoever for occasioned by the use of the Service irrespective of whether the charges were authorized by the customer or has arisen from any other causes whatsoever. </li>
        <li> This service is exclusive to any other offer/scheme/programme/service offered by Info Edge No substitution will be given nor any exchange or redemption for an equivalent cash amount or in any other form shall be allowed under any circumstances. </li>
        <li> Registration presumes that the users have read, understood and accepted the terms and conditions. </li>
        <li> This service is live in India only. </li>
       </ol>
       <br>
         <b> Exchange of Information for CHAT &amp; other Community Services</b><br>
  All information, data, text, video, messages or other materials, whether publicly or privately transmitted / posted, is the sole responsibility of the person from where such content originated (the Originator).Sending lewd, obscene or offensive content using Jeevansathi chat is strictly prohibited using the services of Jeevansathi Chat in a manner which is meant to be offensive to others shall render the user liable for prosecution under the existing laws as applicable. Info Edge assumes no responsibility for the nature of the content being exchanged using the Jeevansathi Chat.<br>
        The details of the SMS sent or received on the Mobile phone shall not be made available to the subscriber. The subscriber agrees that Company will not entertain any correspondence/calls in this regard.<br>
        <br>
        <b> Charges </b><br>
        This Site reserves the right to charge subscription and / or membership fees in respect of any part, aspect of this Site upon reasonable prior notice. Info Edge reserves its right to terminate your account without any prior notice for any violation of the Terms of Use.<br>
          All content posted by you becomes the property of Info Edge and you agree to grant/assign the royalty free, perpetual right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such content (in whole or part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed. <br>
          <br>
  
         <b> Disclaimer of Warranties and Liability </b><br>
        All the contents of this Site are only for general information or use. They do not constitute advice and should not be relied upon in making (or refraining from making) any decision. Any specific advice or replies to queries in any part of the Site is/are the personal opinion of such experts/consultants/persons and are not subscribed to by this Site.<br>
        The information from or through this site is provided on <b>&quot;AS IS&quot;</b> basis, and all warranties, expressed or implied of any kind, regarding any matter pertaining to any goods, service or channel, including without limitation, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement are disclaimed and excluded.<br>
         Certain links on the Site lead to resources located on servers maintained by third parties over whom Info Edge has no control or connection, business or otherwise as these sites are external to Info Edge you agree and understand that by visiting such sites you are <b>beyond</b> the Info Edge website. Info Edge therefore neither endorses nor offers any judgment or warranty and accepts no responsibility or liability for the authenticity/availability of any of the goods/services/or for any damage, loss or harm, direct or consequential or any violation of local or international laws that may be incurred by your visit and/or transaction/s on these sites.<br>
         <br>
         <b> Advertising Material </b><br>
         Part of the Site contains advertising/other material submitted to Info Edge by third parties. Responsibility for ensuring that material submitted for inclusion on the Site complies with applicable International and National law is exclusively on the advertisers and Info Edge will not be responsible for any claim, error, omission or inaccuracy in advertising material. Info Edge reserves the right to omit, suspend or change the position of any advertising material submitted for insertion. Acceptance of advertisements on the Site will be subject to Info Edge terms and conditions which are available on request.
         <br>
         <br>
         <b> Force Majeure</b><br>
         Info Edge shall have no liability to you for any interruption or delay in access to the Site irrespective of the cause.<br>
         <br>      
         <b> Indian Law </b><br>
         The Agreement shall be governed by the Laws of India. The Courts of law at Delhi/New Delhi shall have exclusive jurisdiction over any disputes arising under this agreement. <br>
         Terms and Conditions for New Media applications (SMS, Voice, WAP) <br>
         This website - Jeevansathionmobile.Com - found at the uniform resource locator (URL) id - www.Jeevansathionmobile.com - has been set up and promoted, and is maintained, by Info Edge (India) Ltd. (hereinafter referred to as Info Edge), which term shall, for the purposes hereof, be deemed to include its subsidiaries, affiliates, partners, shareholders, directors, executives, officers, employees, agents, attorneys, accountants and any person vested with any responsibility for any task relating to the affairs of the company), with its corporate office currently located at B - 8, Sector - 132, Noida – 201301.<br>
         <br>
         <b>   </b>
       </td>
    </tr>
  </table>
<br>
</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
  </tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
