<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<!--ec edit.htm-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="http://ser4.jeevansathi.com/profile/imagesnew/styles.php" rel="stylesheet" type="text/css">
<title>~$SUBJECT`</title>
<style type="text/css">
<!--
.mediumblack {
	font-family: Verdana;
	font-size: 12px;
}
.mediumblack1 {	font-family: Verdana;
	font-size: 12px;
}
-->
</style>
</head>

<body>
<!-- Head Sidepannel--><br>
<form  name=form1 action="~$SITE_URL`/profile/final_verify_service.php?checksum=~$checksum`&subject=~$SUBJECT`" method=post> 
<table width="600"  border="0" align="center" cellpadding="0" cellspacing="0">
 <tr bgcolor="#e2e2e2">
  <td height="18" class="mediumblack"><div align="center"><b><font color="#CC0000">JeevanSathi ~if $EVALUE eq "Y"` E-Value~else` E-Classifieds~/if` : Confirmation and Activation process</font></b></div></td>
 </tr>
</table>
<br>
<table width="600"  border="0" align="center" cellpadding="2" cellspacing="0">
 <tr>
  <td colspan="3" class="mediumblack"><b>Which of the following do you want to be displayed along with your profile?
  </b></td>
 </tr></table>
 <br>
 <table width="600"  border="0" align="center" cellpadding="2" cellspacing="0">
 <tr bgcolor="#FCF0E9">
  <td width="23" class="mediumblack"><span class="mediumblack1">
   <input type="checkbox" name="showAddress" value="Y">
  </span></td>
  <td width="142" class="mediumblack"><b>Address</b></td>
  <td width="6" valign="top" class="mediumblack"><b>:</b></td>
  <td width="368" class="mediumblack">~$CONTACT`</td>
  </tr>
 <tr>
  <td class="mediumblack"><span class="mediumblack1">
   <input type="checkbox" name="Show_Parents_Contact" value="Y">
  </span></td>
  <td class="mediumblack"><b>Address of Parents</b></td>
  <td valign="top" class="mediumblack"><b>:</b></td>
  <td class="mediumblack">~$PARENTS_CONTACT`</td>
  </tr>
 <tr bgcolor="#FCF0E9">
  <td class="mediumblack"><span class="mediumblack1">
   <input type="checkbox" name="Showphone" value="Y">
  </span></td>
  <td class="mediumblack"><b>Phone no.</b></td>
  <td class="mediumblack"><b>:</b></td>
  <td class="mediumblack">~$PHONE_RES`</td>
  </tr>
 <tr>
  <td class="mediumblack"><span class="mediumblack1">
   <input type="checkbox" name="Showmobile" value="Y">
  </span></td>
  <td class="mediumblack"><b>Mobile No.</b></td>
  <td class="mediumblack"><b>:</b></td>
  <td class="mediumblack">~$PHONE_MOB`</td>
  </tr>
 <tr bgcolor="#FCF0E9">
  <td class="mediumblack"><span class="mediumblack1">
  <input type="checkbox" name="showMessenger" value="Y">
 </span></td>
  <td class="mediumblack"><b>Messenger-ID</b> </td>
  <td class="mediumblack"><b>:</b></td>
  <td class="mediumblack">~$MESSENGER_ID`</td>
  </tr>
<tr>
  <td class="mediumblack"><span class="mediumblack1">
 </span></td>
  <td class="mediumblack"><b>Email</b> </td>
  <td class="mediumblack"><b>:</b></td>
  <td class="mediumblack">~$EMAIL`</td>
  </tr>
</table>
 <br>
 <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td><font face="verdana" size="1">* To change any of the above fields click on the edit link below.</font></td>
  </tr>
 </table>
 <br> 


 <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td width="15%"><span class="mediumblack1">
    <input type="submit" name="Submit" value="  Activate  " class="formselect">
   </span></td>
  
</form>

<form action="~$SITE_URL`/profile/activate_service.php?checksum=~$checksum`&subject=~$SUBJECT`" method="post"> 
  
   <td width="20%"><span class="mediumblack1">
    <input type="submit" name="Submit" value="      Edit      " class="formselect">
   </span></td>
<td>&nbsp;</td>  
</tr>
 </table>
</form>

<br> 
 <table width="600"  border="0" align="center" cellpadding="0" cellspacing="0">
 <tr bgcolor="#e2e2e2">
  <td height="2"></td>
 </tr>
</table>

<br>
<br>
<br>
</body>
</html>
