<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
</head>

<body>
<table width="396" cellpadding="0" cellspacing="0" style="border:1px solid #cccccc;">
  <tr>
    <td><img src="~$IMG_URL`/profile/ser4_images/image1_01.gif" width="396" height="48"></td>
  </tr>
  <tr>
    <td><img src="~$IMG_URL`/profile/ser4_images/image1_02.gif" width="396" height="47"></td>
  </tr>
  <tr>
    <td><div align="center"></div>      <div align="center"></div>      
    <div align="left"><img src="~$IMG_URL`/profile/ser4_images/image1_03.gif" width="396" height="24"></div></td>
  </tr>
  <tr>
    <td><table width="100%" cellpadding="0" cellspacing="0" style="background-color: #fff6e4; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:1.3;border:1px solid #cccccc; background-color">
        <tr>
          <td>&nbsp;</td>
        </tr>
<tr>
~if $error eq '1'`
          <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since your profile is under screening. </strong></td>
	  <tr><td style="padding-left:10px;padding-right:10px;"><strong>Please contact once your profile is live. </strong></td></tr>

~elseif $error eq '2'`           
	  <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since your profile is hidden. </strong></td>
	  <tr><td style="padding-left:10px;padding-right:10px;"><strong>To unhide your profile &nbsp;<a href="~$SITE_URL`/profile/deleteprofile.php?checksum=~$checksum`" target=_blank>click here</a></strong></td></tr>

~elseif $error eq '3'`
            <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since your profile details are missing. </strong></td>
	    <tr><td style="padding-left:10px;padding-right:10px;"><strong>To Complete your Registration &nbsp;<a href="~$SITE_URL`/profile/editprofile.php?checksum=~$checksum`" target=_blank>click here</a></strong></td></tr>

~elseif $error eq '4'`
          <td style="padding-left:10px;padding-right:10px;"><strong>You can not proceed since your gender is the same as the other member. </strong></td>

~elseif $error eq '5'`
          <td style="padding-left:10px;padding-right:10px;"><strong>Your Profile does not match the partner profile of other member. </strong></td>

~elseif $error eq '6'`
          <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since the user profile is hidden.</strong></td>
~elseif $error eq '7'`
          <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since the user profile is deleted.</strong></td>
~elseif $error eq '8'`
          <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since the user profile is under screening.</strong></td>
~elseif $error eq '0'`
          <td style="padding-left:10px;padding-right:10px;"><strong>You cannot proceed since this facility is available only in India.</strong></td>
~/if`
</tr>

~if $error gt '3'`	
	<tr>
          <td style="padding-left:10px;padding-right:10px;"><strong>Select another user profile to contact. </strong></td>
        </tr>
~/if`
        <tr>
          <td>&nbsp;</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:1.3"></td>
  </tr>
  <tr>
    <td style="padding:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:1.3"><b>Jeevansathi SMS Contact:</b> It&rsquo;s now possible! A unique service for registered users of Jeevansathi.com to send initial contact through SMS to the profiles they are interested in, a specialized, fast and convenient method to send message(s) and express your interest instantly. All you need to do is follow these simple steps and SMS your way in to the hearts of your dream life-partner.</td>
  </tr>
  <tr>
    <td style="padding-left:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:1.3"><div align="left"></div></td>
  </tr>
</table>
</body>
</html>
