<html>
<head>
<title>JeevanSathi Matrimonials - Faq's</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
<script language="JavaScript">
<!--
function newWindow(url, height, width) {
    nameW='feature'
 if (navigator.appVersion.indexOf('4') != -1) {
 // Vars for centering the new window on Version 4 Browsers
 xTop = screen.width/2 - (width/2);
 yTop = screen.height/2 - (height/2);
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=' + xTop + ',top=' + yTop + '');
 } else {
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=150,top=200');
 }
}
//-->
</SCRIPT>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td> 
~$HEAD`
~$SUBHEADER`

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="3" height="3" valign="top"></td><SPACER height="3" type="block"></SPACER> 
</tr>
<tr>
<td width="190" valign="top" class="bgyell"><div align="center">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#FFFFFF">~$TOPLEFT`
</td>
</tr>
<tr>
<td width="190">~$LEFTPANEL`
</td>
</tr>
</table>
<br></td>
</tr>
</table>
</div></td>
<TD width=10 vAlign=top class=small><B><SPACER type="block" 
width="10"></B></TD>
<td width="560" valign="top"> 
<table width="98%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td height="4"></td>
       <SPACER height="4" type="block"></SPACER> </tr>
      <tr>
       <td class="headbigblack"><b>FAQs </b></td>
      </tr>
      <tr class="bgred">
       <td height="1"></td>
       <SPACER height="1" type="block"></SPACER> </tr>
        <tr>
       <td height="8"></td>
       <SPACER height="8" type="block"></SPACER> </tr>
     </table></td>
</tr>
</table>
<br>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="1">
 <tr>
  <td height="10" class="bigblack"><span class=class6><a href="faq_main.php?checksum=~$CHECKSUM`">Back to FAQS</a></span></td>
 </tr>
 <tr>
  <td height="57" class=bigred><div align="center">Thanks for submitting your query.<br>
     <br>
    We will get back to you within 24 hrs.</div></td>
 </tr>
</table>
<br>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
