<html>
<head>
<title>JeevanSathi Matrimonials - Faq's</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="I/styles.php" type="text/css">
<script language="JavaScript">
<!--
function newWindow(url, height, width) {
    nameW='feature'
 if (navigator.appVersion.indexOf('4') != -1) {
 // Vars for centering the new window on Version 4 Browsers
 xTop = screen.width/2 - (width/2);
 yTop = screen.height/2 - (height/2);
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=' + xTop + ',top=' + yTop + '');
 } else {
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=150,top=200');
 }
}
//-->
</SCRIPT>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td> 
~$HEAD`
~$SUBHEADER`
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="3" height="3" valign="top"></td><SPACER height="3" type="block"></SPACER> 
</tr>
<tr>
<td width="190" valign="top" class="bgyell"><div align="center">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#FFFFFF">~$TOPLEFT`</td>
</tr>
<tr>
<td width="190">~$LEFTPANEL`</td>
</tr>
</table>
<br></td>
</tr>
</table>
</div></td>
<TD width=10 vAlign=top class=small><B><SPACER type="block" 
width="10"></B></TD>
<td width="571" valign="top"> 
<table width="99%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td height="4"></td>
       <SPACER height="4" type="block"></SPACER> </tr>
      <tr>
       <td class="headbigblack"><b>FAQs </b></td>
      </tr>
      <tr class="bgred">
       <td height="1"></td>
       <SPACER height="1" type="block"></SPACER> </tr>
        <tr>
       <td height="8"></td>
       <SPACER height="8" type="block"></SPACER> </tr>
     </table></td>
</tr>
<tr>
<td valign=top colspan="4" height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td height="42">
<table width="560"  border="0" cellpadding="0" cellspacing="1" bgcolor="#FEC45E">
<tr>
<td><table width="560" bgcolor="#FDF2DF" border="0" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top colspan="4" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top width="35" class="bigblack" >Q 1. </td>
<td colspan="2" valign=top class="bigblack" ><span class= "class5"><a href="#bq1"> Can I input my Profile Free on JeevanSathi.Com?</a></span><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top width="35" class="bigblack" >Q 2. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq2">Can I Search and Contact Free on JeevanSathi.Com?</a></span><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top width="35" class="bigblack" >Q 3. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq3"> What are the other Free Member Privileges?</a></span><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top width="35" class="bigblack" >Q 4. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq4"> What is a Full Member? </a></span> <spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top width="35" class="bigblack" >Q 5. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq5"> What is a Value Added Member? </a></span> <spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="bigblack" >Q 6. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq6"> What is "Full Contact"? </a></span><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="bigblack" >Q 7. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq7"> What is an "Initial Contact"? </a></span><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="bigblack">Q 8. </td>
<td colspan="2" valign="top" class="bigblack" ><span class= "class5"><a href="#bq8"> How do I become a Full or Value Added Member? </a></span><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="bigblack" > Q 9. </td>
<td valign="top" width="513" class="bigblack" ><p align=left><span class= "class5"><a href="#bq9"> Can I get a comparison of various JeevanSathi Memberships at a single point? </a></span> </td>
</tr>
<tr>
<td valign=top colspan="4" height="12"><spacer type="block" height="12"></td>
</tr>
</table></td>
</tr>
</table>
	<br>
<table width="100%" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top width="35" class="mediumblack"><font color="#00773C"><b>Q 1. </b></font></td>
<td valign=top width="513" class="mediumblack" colspan="2"><font color="#00773C"><b> <a name=bq1> Can I input my Profile Free on JeevanSathi.Com? </a></b></font></td>
<td valign=top width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top align=middle width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2">Yes, you can input your Profile <i><font color="#FF0000">Free</font></i> on JeevanSathi.Com. Thus, you will become a Free Member which will enable you to receive response from lacs of other members; and also make contacts with other members, as follows:</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="7"><spacer type="block" height="7"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top align=middle width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">i.</td>
<td valign="top" width="497" class="mediumblack">Send INITIAL CONTACT to ALL members;</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="3"><spacer type="block" height="3"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top align=middle width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">ii.</td>
<td valign="top" width="497" class="mediumblack">Receive INITIAL CONTACTS from FREE Members;</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="3"><spacer type="block" height="3"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top align=middle width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iii.</td>
<td valign="top" width="497" class="mediumblack">Receive FULL CONTACTS from FULL Members.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="7"><spacer type="block" height="7"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top align=middle width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2">"Full Contact" means sending a personal &amp; customised message alongwith contact details to Members directly to their email id. The recipient can thus respond to sender's email id directly.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top align=middle width="33" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2">"Initial Contact" means sending a standard message to members expressing interest in their profile(s). The recipient can then view the senders' profile and can accept or decline the contact. On becoming a Full Member, the sender or the recipient can contact each other directly (ie. make &quot;Full Contact&quot;). </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 2. </b></font></td>
<td valign=top  width="513" class="mediumblack" colspan="2"><font color="#00773C"><b> <a name=bq2> Can I Search and Contact Free on JeevanSathi.Com? </a> </b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<tr>
<td valign=top colspan="5" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> Yes, you can Search and Contact members <i><font color="#FF0000">Free</font></i>. </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> You can use the following Search Options: </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="25" class="mediumblack">i.</td>
<td valign="top" width="493" class="mediumblack"><span class= "class5"><a href="advance_search.php?FLAG=search&checksum=~$CHECKSUM`">Advanced Search</a></span> will enable you to shortlist matches as per detailed parameters - on the basis of 20 criteria.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="25" class="mediumblack">ii.</td>
<td valign="top" width="493" class="mediumblack"><span class= "class5"><a href="quick_search.php?checksum=~$CHECKSUM`">Quick Search</a></span> will enable you to sort matches as per basic (ie. broad) parameters</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="25" class="mediumblack">iii.</td>
<td valign="top" width="493" class="mediumblack">Photo Club will enable you to genderwise view all members with photos.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="25" class="mediumblack">iv.</td>
<td valign="top" width="493" class="mediumblack">View profile will enable you to view an Individual Member Profile by entering the case-sensitive username.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2">It is necessary to Register as a Member (ie. Input Your Profile which is <i><font color="#FF0000">Free</font></i>) to contact other Members. This enables your information/details to be auto-transmitted to the recipient.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2">You can contact ALL members and receive response from ALL members - for details refer Q1 hereinabove.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 3. </b></font></td>
<td valign=top  width="513" class="mediumblack" colspan="2"><font color="#00773C"><b> <a name=bq3> What are the other Free Member Privileges? </a> </b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<tr>
<td valign=top colspan="5" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> After Registration (Input of Profile), a Free Member can use the Search Options, Make Contacts & Receive Response from other members. Other Free Member privileges include: </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">i.</td>
<td valign="top" width="497" class="mediumblack">Get Your Personal Section - Your Profile Manager <span class= "class5">"<A HREF="mainmenu.php?checksum=~$CHECKSUM`">My JeevanSathi</a>"</span>.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">ii.</td>
<td valign="top" width="497" class="mediumblack"><span class= "class5"><a href="advance_search.php?FLAG=partner&checksum=~$CHECKSUM`">Input Partner's Profile</a></span> - Get Free Daily Recommendations and more ...</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iii.</td>
<td valign="top" width="497" class="mediumblack"><span class= "class5"><a href="uploadphoto.php?checksum=~$CHECKSUM`">Add Multiple Photos</a></span> - Create Your Own Photo Album.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iv.</td>
<td valign="top" width="497" class="mediumblack">Push Your Profile to the Top!</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 4. </b></font></td>
<td valign=top  width="513" class="mediumblack" colspan="2"><font color="#00773C"><b> <a name=bq4> What is a Full Member? </a> </b></font> </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="33">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> As a Full Member you will enjoy numerous privileges as hereunder:</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="7"><spacer type="block" height="7"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="33">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">i.</td>
<td valign="top" width="497" class="mediumblack">Make FULL CONTACT with ALL members (Free or Paid);</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">ii.</td>
<td valign="top" width="497" class="mediumblack">Also make Full Contact with ALL Responses received to your profile;</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iii.</td>
<td valign="top" width="497" class="mediumblack">Get the "Message Retrieval Service" - you can store a personal message which is retrieved while making Full Contact.</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iv.</td>
<td valign="top" width="497" class="mediumblack">View &quot;Contact Information&quot; like address and telephone numbers of ALL those profiles who have entered these. It may however be noted that only some members choose to mention these in their profiles.</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="7"><spacer type="block" height="7"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2">&quot;Full Contact&quot; means sending a personal & customised message alongwith contact details to Members directly to their email id. The recipient can thus respond to sender's email id directly.</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="33" class="mediumblack"><font color="#00773C"><b>Q 5. </b></font></td>
<td valign=top  width="513" class="mediumblack" colspan="2"><font color="#00773C"><b> <a name=bq5> What is a Value Added Member? </a> </b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> As a Value Added Member you will enjoy numerous privileges as hereunder: </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">i.</td>
<td valign="top" width="497" class="mediumblack">ALL &quot;Full Member&quot; benefits (mentioned in Q. 4 hereinabove);</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">ii.</td>
<td valign="top" width="497" class="mediumblack">Your Profile will appear in a coloured band and the username in bold, in Search Results.</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 6. </b></font></td>
<td valign=top  width="513" class="mediumblack"><font color="#00773C"><b> <a name=bq6> What is "Full Contact"? </a> </b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="4" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" class="mediumblack">"Full Contact" means sending a personal &amp; customised message alongwith contact details to Members directly to their email id. The recipient can thus respond to sender's email id directly. </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 7. </b></font></td>
<td valign=top  width="513" class="mediumblack" colspan="2"><font color="#00773C"><b> <a name=bq7> What is an "Initial Contact"? </a> </b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> Free Members can contact ALL members and can receive response from FREE members through "Initial Contact". </td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="513" class="mediumblack" colspan="2"> When you contact by making an "Initial Contact":</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="6"><spacer type="block" height="6"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">i.</td>
<td valign="top" width="497" class="mediumblack">A standard message is sent directly to the recipients e-mail id that a JeevanSathi Member has initiated contact;</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">ii.</td>
<td valign="top" width="497" class="mediumblack">The recipient will be able to view the profile of the sender by a) clicking on the link mentioned in the "Initial Contact" or b) after logging in to his account "My JeevanSathi" wherein the details are displayed;</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iii.</td>
<td valign="top" width="497" class="mediumblack">The contact details (like e-mail id) of the sender are not sent - hence the recipient cannot directly contact the sender;</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iv.</td>
<td valign="top" width="497" class="mediumblack">The recipient can log-in to his account (My JeevanSathi) and can then view the profile of the sender and can "Accept" or "Decline" the contact;</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">v.</td>
<td valign="top" width="497" class="mediumblack">The recipient's response of "Accept" or "Decline" is then transmitted to the sender (to the sender's e-mail id);</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">vi.</td>
<td valign="top" width="497" class="mediumblack">Either the sender or the recipient has to then become a Full Member to access the contact details and will then be able to CONTACT DIRECTLY and send complete message.</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 8. </b></font></td>
<td valign=top  width="513" colspan="2" class="mediumblack"><font color="#00773C"><b> <a name=bq8> How do I become a Full or Value Added Member? </a> </b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="12"><spacer type="block" height="12"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack">&nbsp;</td>
<td valign="top" width="513" colspan="2" class="mediumblack"><p align=left> Click on <span class= "class5"><a href="/membership/jspc">Full Member</a> or <a href="/membership/jspc">Value Added Member</a></span>. Membership options are available for 3 months, 6 months and 1 Year. Payment can be made by any of the following options: 
</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="8"><spacer type="block" height="8"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">i.</td>
<td valign="top" width="497" class="mediumblack">Online credit cards (Masters, Visa, American Express, Diners Club International, Citibank eCards &amp; JCB Cards);</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">ii.</td>
<td valign="top" width="497" class="mediumblack">Debiting your Indian Bank Account (Citibank Bank Account Online, Citibank NRI Rupee Checking A/C, Citibank Suvidha Online, ICICI Bank.com, HDFC Net-Banking, UTI iConnect Net-Banking, IDBI iNet-Banking, Global Trust ibank Net-Banking, Centurion Bank ePay, Federal Bank FedNet);</td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
<tr>
<td valign=top colspan="5" height="4"><spacer type="block" height="4"></td>
</tr>
<tr>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
<td valign=top  width="35">&nbsp;</td>
<td valign="top" width="16" class="mediumblack">iii.</td>
<td valign="top" width="497" class="mediumblack">By Draft or cheque.</td>
<td valign=top  width="3" class="mediumblack">&nbsp;</td>
</tr>
</table>
<table width="554" align="center" cellspacing="0" cellpadding="o">
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" ><spacer type="block" height="1"></td>
</tr>
<tr>
<td valign=top  height="14"><spacer type="block" height="14"></td>
</tr>
</table>
<table width="554" border=0 bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
<tr>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
<td valign=top  width="35" class="mediumblack"><font color="#00773C"><b>Q 9. </b></font></td>
<td valign=top  width="513" class="mediumblack"><font color="#00773C"><b> <a name=bq9> Can I get a comparison of various JeevanSathi Memberships at a single point?</a></b></font></td>
<td valign=top  width="3" class="mediumblack"><spacer type="block" width="3"></td>
</tr>
</table>
<table width="554" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
<tr  height="18" bgcolor="#FFFFFF">
<td rowspan="59" width="2" bgcolor="FFFFFF"><spacer type="block"width="2"></td>
<td  bgcolor="#FFFFFF" height="14" colspan="9"><spacer type="block" height="14"></td>
<td rowspan="59" bgcolor="FFFFFF" width="2"><spacer type="block"width="2"></td>
</tr>
<tr  height="18" bgcolor="#FFFFFF">
<td width="150" valign="middle" class="mediumblack" align="center"><font color="#000000"><b>Click on the links below for details </b></font></td>
<td  width="4"><font color="#000000"><spacer type="block"width="4"></font></td>
<td width="96" valign="middle" class="mediumblack" align="center"><b><font color="#000000">Free Member</font></b></td>
<td  width="4" "middle" align="center"><b><font color="#000000"><spacer type="block"width="4"></font></b></td>
<td width="96" valign="middle" class="mediumblack" align="center"><b><font color="#000000">Full Member</font></b></td>
<td  width="4" "middle" align="center"><b><font color="#000000"><spacer type="block"width="4"></font></b></td>
<td width="96" valign="middle" class="mediumblack" align="center"><b><font color="#000000">Value Added Member</font></b></td>
<td  width="2" ><b><font color="#000000"><spacer type="block"width="2"></font></b></td>
<td width="1" valign="middle" class="mediumblack" align="center"><b></b></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/myjs1.htm',390,440);">My JeevanSathi</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/inprofile.htm',230,390);">Input Your Profile</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/photo.htm',370,530);">Upload Photograph</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="advance_search.php?FLAG=partner&checksum=~$CHECKSUM`">Input Partner's Profile</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/malerts.htm',180,450);"> Daily Recommendations</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td  bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/sbvprofiles.htm',410,540);">Search, View &amp; Contact Profiles</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/profilestats.htm',240,440);">Profile Statistics</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/pushtop.htm',250,480);">Profile Pushed to the Top</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b></b></td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr height="20">
<td class="mediumblack"><span class= "class5"><a href="javascript:newWindow('~$SITE_URL`/contactmem.htm',330,540);">Members You Contact</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"> Initial Contact</td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">Full Contact</td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">Full Contact</td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><a href="javascript:newWindow('~$SITE_URL`/recmessage.htm',330,540);">Members who Contact You</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">Accept/ Decline Contacts Recd </td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">Full Contact to Responses Recd</td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">Full Contact to Responses Recd</td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><a href="javascript:newWindow('~$SITE_URL`/msgs.htm',190,390);">Message Retrieval Service</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><img src="~$IMG_URL`/profile/ser4_images/icon_cross.gif" width="20" height="20"></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#cccccc" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td class="mediumblack"><span class= "class5"><A HREF="javascript:newWindow('~$SITE_URL`/bold.htm',240,390);">Profile Highlighting</a></span></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><img src="~$IMG_URL`/profile/ser4_images/icon_cross.gif" width="20" height="20"></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><img src="~$IMG_URL`/profile/ser4_images/icon_cross.gif" width="20" height="20"></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center"><b><img src="~$IMG_URL`/profile/ser4_images/icon_tick.gif" width="20" height="20"></b></td>
<td class="mediumblack">&nbsp;</td>
<td class="mediumblack" valign="middle" align="center">&nbsp;</td>
</tr>
<tr>
<td height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#FEC45E" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr bgcolor="#eaf5d2">
<td height="3" colspan="9" bgcolor="#FDF2DF"><spacer type="block" height="3"></td>
</tr>
<tr bgcolor="#eaf5d2">
<td bgcolor="#FDF2DF" class="mediumblack"><b>Membership Options</b></td>
<td bgcolor="#FDF2DF" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FDF2DF" class="mediumblack">-</td>
<td bgcolor="#FDF2DF" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FDF2DF" class="mediumblack">3 mths<br>
6 mths<br>
1Year</td>
<td bgcolor="#FDF2DF" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FDF2DF" class="mediumblack">3 mths<br>
6 mths<br>
1Year</td>
<td bgcolor="#FDF2DF" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FDF2DF" class="mediumblack">&nbsp;</td>
</tr>
<tr bgcolor="#eaf5d2">
<td height="3" colspan="9" bgcolor="#FDF2DF"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#FEC45E" height="1" colspan="9"><spacer type="block" height="1"></td>
<tr>
<td bgcolor="#FCE1B1" height="3" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr bgcolor="#FFFFE5">
<td bgcolor="#FCE1B1" class="mediumblack"><b>Select Your Membership NOW:</b></td>
<td bgcolor="#FCE1B1" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FCE1B1" class="mediumblack"><b><span class= "class7"><a href="inputprofile.php">Register Free</a></span></b></td>
<td bgcolor="#FCE1B1" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FCE1B1" class="mediumblack"><b><span class= "class7"><a href="/membership/jspc">Subscribe</a></span></b></td>
<td bgcolor="#FCE1B1" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FCE1B1" class="mediumblack"><b><span class= "class7"><a href="/membership/jspc">Subscribe</a></span></b></td>
<td bgcolor="#FCE1B1" class="mediumblack">&nbsp;</td>
<td align="center" valign="middle" bgcolor="#FCE1B1" class="mediumblack">&nbsp;</td>
</tr>
<tr>
<td height="3" bgcolor="#FCE1B1" colspan="9"><spacer type="block" height="3"></td>
</tr>
<tr>
<td bgcolor="#FEC45E" height="1" colspan="9"><spacer type="block" height="1"></td>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
