<input type="Hidden" name="id_checked" id="id_checked" value="~$ID_CHECKED`" >
<input type="Hidden" name="CALL_THICK" id="CALL_THICK" value="~$CALL_THICKBOX`" >
<input type="Hidden" name="AFTER_LOGIN_CALL" id="AFTER_LOGIN_CALL" value="~$AFTER_LOGIN_CALL`">
<input type="hidden" name="NAVIGATOR" value="~$NAVIGATOR`" id="NAVI">

<script type="text/javascript">
	displayResult('~$searchid`','~$SITE_URL`','yes','~$field`','~$value`');
	isOpenSB=1;
</script>

~if $SULEKHACO neq "1" or $LOGIN`


<script type="text/javascript">
	//Navigation value helps while you contacting or accepting contact.
	var navig=document.getElementById("NAVI").value;
</script>

<p class="clr_4"></p>
<p class="footbdr"></p>
 <p class="clr_18"></p>
 	
    <div class="w765N"> 
    	<div class="lwft3" >
    	  <div ~if $newHomePage`onMouseDown="javascript:trackClicks('F');"~/if`>
		<strong>Explore</strong> 
		<a class="thickbox" href="~$SITE_URL`/profile/before_log.php?page=2">My Contacts</a> 
		<a class="thickbox" href="~$SITE_URL`/profile/before_log.php?page=3">Edit Profile</a> 
		<a href="~$SITE_URL`/profile/revamp_filter.php">Settings</a>
		<a href="~$SITE_URL`/profile/advance_search.php">Advanced Search</a> 
		<a href="~$SITE_URL`/success/success_stories.php">Success Stories</a> 
	   	<a href="~$SITE_URL`/profile/site_map.php">Sitemap</a> 
        </div> 
        </div> 
        <div class="lwft4">
        <div> 
		<strong>Services</strong> 
		<a  href="~$SITE_URL`/profile/mem_comparison.php?from_source=from_footer">Membership Options</a>  
		<a  href="~$SITE_URL`/profile/advertise.php">Advertise with us</a> 
		<a  href="~$SITE_URL`/profile/contact.php">Jeevansathi centers/offices</a> 
        <p class="lwft4n"><a  href="~$SITE_URL`/profile/contact.php?st_sel=Delhi">Delhi /NCR</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Maharashtra">Mumbai</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Maharashtra">Pune</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Madhya%20Pradesh">Indore</a> |<a href="~$SITE_URL`/profile/contact.php?st_sel=Madhya%20Pradesh">Bhopal</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Uttar%20Pradesh">Lucknow</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Uttar%20Pradesh">Kanpur</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Gujarat">Surat</a> | <a  href="~$SITE_URL`/profile/contact.php?st_sel=Gujarat">Baroda</a> | <a href="~$SITE_URL`/profile/contact.php?st_sel=Karnataka">Bangalore</a> | <a  href="~$SITE_URL`/profile/contact.php">Others</a></p>
        	        </div></div> 
        <div class="lwft4"><div > 
			<strong>Help</strong> 
		<a  href="~$SITE_URL`/profile/contact.php">Contact Us</a> 
		<!-- <a onclick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&amp;file=visitorWantsToChat&amp;offlineURL=~$SITE_URL`/P/faq_redirect.php&amp;site=13507809&amp;imageUrl=http://www.jeevansathi.com/images_try/liveperson&amp;referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;" target="chat13507809" href="http://server.iad.liveperson.net/hc/13507809/?cmd=file&amp;file=visitorWantsToChat&amp;offlineURL=~$SITE_URL`/P/faq_redirect.php&amp;site=13507809&amp;byhref=1&amp;imageUrl=http://www.jeevansathi.com/images_try/liveperson" >Live help</a> -->
		<a  href="~$SITE_URL`/P/faq_other.php?width=512&checksum=~$CHECKSUM`" class="thickbox">Feedback/Queries</a> 
		<a  href="~$SITE_URL`/P/faq_main.php">FAQ's</a> 
        <a  href="~$SITE_URL`/P/contact.php">Jeevansathi centers/offices</a> 
	        <!--a  href="~$SITE_URL`/profile/contact.php">Jeevansathi center/offices</a--> 
	</div></div> 
        <div class="lwft5"><div><strong>Legal</strong> 
        <a href="http://www.infoedge.in">About Us</a> 
        <a href="~$SITE_URL`/P/disclaimer.php">Terms & Conditions</a> 
        <a href="~$SITE_URL`/profile/third_party_content.php">Third party Terms & Conditions</a> 
        <a href="~$SITE_URL`/P/privacy_policy.php">Privacy Policy</a> 
        <a href="~$SITE_URL`/P/conf_policy.php">Privacy Features</a> 
        </div></div>  
        <div class="lwft4"><div ><strong>Our Group</strong> 
       <a TARGET="_blank" href="https://www.naukri.com">Naukri.com - Jobs in India</a> 
			<a TARGET="_blank" href="http://www.naukrigulf.com">Naukrigulf.com - <br />
			Jobs in middle east</a> 
			<a TARGET="_blank" href="http://www.99acres.com">99acres.com -<br /> 
			Properties in India</a> 
			<a TARGET="_blank" href="http://www.jeevansathimatchpoint.com">Jeevansathi Matchpoints </a> 
			<a TARGET="_blank" href="http://www.brijj.com">Brijj.com - <br />
			Professional Networking </a> 
			<a TARGET="_blank" href="http://www.shiksha.com">Shiksha.com - <br />
	Education Career Info</a>
			<a TARGET="_blank" href="http://www.allcheckdeals.com">AllCheckDeals? - <br />
	Property Brokerage in India</a>
			<a TARGET="_blank" href="http://www.firstnaukri.com">FirstNaukri? - <br />
	Jobsite for Freshers/College Students</a>

        </div>
      </div>
        <div class="lwft5"><div ><strong>Our Partners</strong> 
      <a  TARGET="_blank" href="https://www.policybazaar.com">Policybazaar.com -<br> Insurance India</a> 
			<a  TARGET="_blank" href="http://www.meritnation.com">Meritnation.com - <br>Online Educational<br> Assessment</a> 
			<a  TARGET="_blank" href="https://www.zomato.com">Zomato - <br>Restaurant Directory</a> 
			<a TARGET="_blank" href="http://www.mydala.com/" title="Online discount shopping deals India">mydala - Best deals in India</a>
       </div></div>
    </div> 


<p class=" clr_18"></p>
<p class="clr_4"></p>
<div align="center"></div>
<div align="center">
	<div align="center">
	<div class="switchBx">
			<b>Switch</b> &nbsp; &nbsp; <a href="/?mobile_view=Y">Mobile</a>&nbsp; &nbsp; <span class="switchDdr">|</span> &nbsp; &nbsp; Desktop
		</div>
<div class="ftr sprte">
	<a href="https://www.naukri.com"><input type="button" class="naukri_btn sprte" value=""/></a>
</div>
<div align="center"><span >Copyright ©   ~$smarty.now|date_format:"%Y"`  Jeevansathi Internet Services<br /><br /></span></div></div>

<script>
$('.thickbox').colorbox();
imgLoader = new Image();// preload image
imgLoader.src = tb_pathToImage;
</script>

<script type="text/javascript">
~else`
<div style="clear:both;height:35px;"></div>
<style>

.sul_ftr {

	width:976px;

	margin:auto;
	border-top:1px solid #000;
	padding-top: 15px;
}

.sul_ftr ul.sul {

	float:left;

	list-style:none;

	margin:0;

	padding:0;

}

.sul_ftr ul.sul li {

	float:left;

	font:13px Arial, Helvetica, sans-serif;

	border-right:1px;

	size: #000;

	margin-right:10px;

}

.sul_ftr ul.sul li a {

	color:#214A75;

	float:left;

	text-decoration:none;

}

.sul_ftr .copyrite{font:11px Arial, Helvetica, sans-serif;}
.sul_ftr  b{color:#a40d98; padding-left:5px;}
</style>
<script>
$('.thickbox').colorbox();
imgLoader = new Image();// preload image
imgLoader.src = tb_pathToImage;
if(typeof(user_login)!="undefined" && !user_login)
{
	if(parent.document!=document)
	{
	//	parent.document.location.href=document.location.href;
	}
}
	try{
	if(document.title)
                top.document.title=document.title;
        else
                top.document.title="Jeevansathi.com";
        }
        catch(err)
        {
                
        }
</script>

<!--
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-10426389-1");
  pageTracker._trackPageview();
} catch(err) {}</script>
-->
<div class="sul_ftr">
  <ul class="sul">
    <li><a rel="nofollow" title="Advertise with Us" href="http://www.sulekha.com/COLLATERAL/index.htm">Advertise with Us</a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Media" href="http://www.sulekha.com/COLLATERAL/press.htm">Media </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Press" href="http://www.sulekha.com/COLLATERAL/pr_rel.htm">Press </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Terms & Conditions" href="http://www.sulekha.com/COLLATERAL/tc.htm">Terms &amp; Conditions</a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Privacy Policy" href="http://www.sulekha.com/COLLATERAL/tc.htm#privacy">Privacy Policy </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Sitemap" href="http://www.sulekha.com/COLLATERAL/sitemap.htm">Sitemap </a> <b>|</b></li>
    <li><a target="_blank" title="Sulekha B2B" href="http://www.sulekhab2b.com">SulekhaB2B</a> <b>|</b></li>
    </ul>
  <ul class="sul" style="float:right;">
    <li><a rel="nofollow" title="Sulekha Feedback" href="http://www.sulekha.com/COLLATERAL/contact.htm">Feedback </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Careers" href="http://www.sulekha.com/COLLATERAL/careers.htm">Careers</a> <b>|</b></li>
    <li><a rel="nofollow" title="About Sulekha" href="http://www.sulekha.com/COLLATERAL/about.htm">About Sulekha</a></li>
  </ul>
  <div style="clear:both; height:5px; overflow:hidden;">
  </div>
  <div align="center" class="copyrite">
  &copy; 1998-2010 Copyright Sulekha.com Connecting Indians Worldwide, All Rights Reserved.</br></br>
  </div>
</div>
<div style="clear:both;height:35px;"></div>
~/if`
~$TRACK_FOOT`
