<div class="pink" style="width:512px;height:auto;">
<div class="topbg">
<div class="lf pd b t12">Forward profile</div><div class="rf pd b t12"><a href="#" class="blink" onClick="$.colorbox.close();return false;">Close [x]</a></div>
</div><div class="clear"></div>
<div class="scrollbox1 t12" id="all_Content" style="height:290px">

<div class="lf t11"><span style="color: rgb(255, 0, 0);visibility:hidden" id=ERROR_MES ><img src="~$IMG_URL`/img_revamp/iconError_16x16.gif"/> <b>Please make a selection before continuing.</b>
</span></div><div class="rf t10">*All email fields are compulsory</div>
<div class="clear"></div>
<div class="lf t12 b">From</div>
<div class="sp5"></div>
<div class="lf t11" style="margin-right:10px;line-height:17px;" id="your_name">Your Name<br><input type="text" style="width:130px;" name="name" id="name"></div>
<div class="lf t11" style="line-height:17px;" id="your_email">Your Email Id<br><input type="text" style="width:200px;" name="email" id="email" value='~$email`' ~if $email` disabled="disabled"~/if`></div>

<div class="sp12"></div>
<div class="lf t12 b">To</div>
<div class="sp5"></div>
<div class="lf t11" style="margin-right:10px;line-height:17px;" id="friend_name">Friends Name<br><input type="text" style="width:130px;" name="fname" id="fname"></div>
<div class="lf t11" style="line-height:17px;" id="friend_email">Friends Email Id<br><input type="text" style="width:200px;" name="femail" id="femail"></div>
<div class="sp8"></div>

<div class="lf t12 b" style="line-height:17px;" id="friend_message" >Message<br>
<textarea cols="6" rows="4" style="width:348px; height:80px; vertical-align:top" name="message" id="message"></textarea></div>
~if $username`<div class="lf t11" style="line-height:17px;"><BR><b>Profile Link : </b> <a style="color:#117DAA;text-decoration:none;font-size:15px">~$SITE_URL`/profiles/~$username`</a></div>~/if`

</div>
<div class="sp8"></div>
<div class="sp12" style="border:1px #F0CED6; border-top-style:solid"></div>
<div  style="text-align:center;width:100%" id="show_button"><input type="button" class="b green_btn_new" value="Forward" style="width:70px;" onclick="javascript:check_sub()"></div>
<div class="sp12"></div>
</div>
<script>
function ids(arg)
{
	element = arg
	return document.getElementById(element);

}
//Result variable is filled by ajax function 
var result="";

var your_email_id=ids("your_email");
var friend_email_id=ids("friend_email");
var friend_name_id=ids("friend_name");
var div_mes_id=ids("friend_message");
var error_mes=ids("ERROR_MES");
var common="<img src=\"~$IMG_URL`/img_revamp/iconError_16x16.gif\"/> ";
var message="";
var actual_content="";
var all_con=ids("all_Content");
var add_but_id=ids("show_button");
var url="";

function check_sub()
{
	var referer=ids("name").value;
	var referer_email=ids("email").value;
	var friend=ids("fname").value;
	var email=ids("femail").value;
	var message_text=ids("message").value;

	your_email_id.style.color="black";
	friend_email_id.color="black";
	error_mes.style.visibility='hidden';
	message="";
	//Check referer name
	if(!checkemail(referer_email))
	{
		message="Please provide your valid email id";
		your_email_id.style.color="red";
			
	}
	else if(!checkemail(email))
	{
		message="Please provide a valid email address in your friend's email id";
		friend_email_id.style.color="red";
	}
	if(message)
	{
		error_mes.style.visibility='visible';
		error_mes.innerHTML=common+'<b>'+message+'</b>';
		return false;
	}
	var script="forward_profile.php";
	url=script+"?name="+escape(referer)+"&email="+escape(referer_email)+"&fname[]="+escape(friend)+"&femail[]="+escape(email)+"&message="+escape(message_text)+"&ajax_error=2&invitation=1&send=1&profilechecksum=~$PROFILECHECKSUM|encodehtml`&username="+escape('~$username`');
	send_ajax_request(url,"show_loader_frnd","hide_loader_frnd","POST");
		
}
function show_loader_frnd()
{
	actual_content=all_con.innerHTML;
	dra_loader="<div align=center style='text-align:center'><img src=\"~$IMG_URL`/img_revamp/loader_small.gif\"></div><BR><div align=center> Sending...</div>";
	add_but_id.style.visibility='hidden';
	all_con.innerHTML=dra_loader;
}
function hide_loader_frnd()
{
	if(result=='A_E')
	{
		all_con.innerHTML=common_error;
		return false;
	}
	 else if(result.substr(0,5)=='ERROR')
	{
		all_con.innerHTML=actual_content;
	        //all_con.innerHTML='<div style="text-align:center">'+result.substr(6,result.length)+'</div>';
		add_but_id.style.visibility='visible';
		error_mes=ids("ERROR_MES");
                error_mes.innerHTML=common+'<b>'+result.substr(6,result.length)+'</b>';
		error_mes.style.visibility='visible';
		return 2;
	}
	else if(result=='bye')
	{
		dra_loader="<img src=\"~$IMG_URL`/profile/images/confirm.gif\"> Thank you for referring your friend on JeevanSathi.com.</b><br><br> We hope that you and your friend(s) find your perfect life partner on our website.";	
		dra_loader="<img src=\"~$IMG_URL`/profile/images/confirm.gif\"> Mail has been sent successfully.";
		all_con.innerHTML=dra_loader
	}
	
}
</script>
