</body><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
.tble-border
        { border:1px solid #c1c1c1 }
.heading
        { font-family:arial; font-size:12px; color:#157e9b; font-weight:bold }
.text
        {font-family:arial; font-size:12px; color:#000000}
.btm-link
        {font-family:arial; font-size:12px; color:#157e9b; text-decoration:none}
.padding
        {padding:5px 0px 0px 5px}
.padding1
        {padding:0px 3px 0px 5px}

</style>
</head>
<body>

<div id="ad_enable">
<table width="728" height="90" border="0" cellpadding="0" cellspacing="0" class="tble-border">
  <tr>
    <td><table width="726" height="88" border="0" cellpadding="0" cellspacing="0">
	<tr><td>
      <div id="wide_ad_unit" style="text-align:left; vertical-align:top">&nbsp;</div><td></tr>
	<tr>
        <td align="right" valign="bottom"><img src="~$IMG_URL`/img_revamp/ads.gif" border="0"></td>
        </tr>
	</table>
    </td>
  </tr>
</table>
</div>
<div id="ad_disable">
</div>
</body>


<script language="JavaScript">
<!--

  /*
   * This function is required. It processes the google_ads JavaScript object,
   * which contains AFS ads relevant to the user's search query. The name of
   * this function must be google_afs_request_done. If this 
   * function is not named correctly, your page will not display AFS ads.
   */

  function google_afs_request_done(google_ads) {

    /*
     * Verify that there are actually ads to display.
     */
    var google_num_ads = google_ads.length;
    if (google_num_ads <= 0)
    {
	document.getElementById('ad_enable').style.display="none";
	document.getElementById("ad_disable").innerHTML=' <IFRAME WIDTH=733 HEIGHT=92 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000" SRC="~$bmsVariable`/bmsjs/bms_display_final.php?zonestr=~$bms_bottom`&data=~$data`&subzone=2&searchid=~$bms_searchid`"></IFRAME>';		 
 
   }
else
{	
    var wideAds = '<table border="0" cellpadding="0" cellspacing="0"><tr>';   //wide ad unit html text
 
    for(i = 0; i < google_num_ads; i++){
      if (google_ads[i].type=="text/wide"){  
      //** render a wide ad
	 wideAds+='<td width="240" rowspan="2" valign="top" class="padding"><span class="heading"><a href="' + google_ads[i].		url+'" target="_blank" class="heading">'+google_ads[i].line1 + '</a></span><br><span class="text">'+google_ads[i].		line2 + '</span><br><span class="btm-link"><a href="'+google_ads[i].url +'" target="_blank" class="btm-link">'+google_ads[i].visible_url + '</a></span></td><td width="6" rowspan="2"><img src="~$IMG_URL`/img_revamp/dots.gif" width="6" height="76"></td>';
      }
    }
	wideAds = wideAds + '</tr></table>';
    //** Write HTML for wide and narrow ads to the proper <div> elements
    document.getElementById("wide_ad_unit").innerHTML = wideAds;
}
  }
google_afs_query = decodeURI("~$keyword`");
google_afs_ad = 'w3'; // specify the number of ads you are requesting
google_afs_client = 'jeevansathi_js'; // substitute your client ID
google_afs_channel = '~$channel`'; // enter your comma-separated channel IDs
google_afs_ie = 'utf8'; // select input encoding scheme
google_afs_oe = 'utf8'; // select output encoding scheme
google_afs_adsafe = 'high'; // specify level for filtering non-family-safe ads
google_afs_adtest = 'off'; // ** set parameter to off before launch to production
// google_afs_hl = 'en'; // enter your interface language if not English
google_afs_gl='in';
google_afs_adpage='~$afs_adpage`';
-->
</script>

<!--
  /*
   * The JavaScript returned from the following page uses
   * the parameter values assigned above to populate an array
   * of ad objects. Once that array has been populated,
   * the JavaScript will call the google_afs_request_done
   * function to display the ads.
   */
-->
<script language="JavaScript" src="http://www.google.com/afsonline/show_afs_ads.js">
</script>



