<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Jeevansathi Pay for Chat</title>
<link rel="stylesheet" href="http://www.jeevansathi.com/profile/images/styles.php" type="text/css">
</head>

<body topmargin=0 leftmargin=0>
<table width="360" height="420" border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td valign="top"><table width="360" border="0" cellspacing="0" cellpadding="0">
   <tr>
    <td><div align="center"><img src="~$IMG_URL`/profile/ser4_images/logo_1.gif"></div></td>
   </tr>
   <tr>
    <td><br>
     <br>
     <table width="275" border="0" align="center" cellpadding="2" cellspacing="2">
      <tr>
       <td width="267" class="bigblack"><div align="center"><b>As a free member you can only receive chat requests. To initiate chat you need to become a e-Rishta member or evalue member.<br>
          <br>
         To become a e-Rishta member or evalue member click below.<br>
         <br>
         <a href="~$SITE_URL`/membership/jspc" target="_blank"><img src="~$IMG_URL`/profile/ser4_images/upgrade.gif" width="179" height="21" border="0"></a>         <br>
         <br>
         <br>
       </b></div></td>
       </tr>
     </table>
     </td>
   </tr>
  </table></td>
 </tr>
</table>

</body>
</html>
