<style type="text/css">
<!--
/*TABS*/
#maintab2 {margin-left: 0px;}
#maintab2 ul { margin: 0; padding: 0; list-style: none; }
#maintab2 li { float: left; margin: 0 0 0 0; white-space: nowrap; background-image:url(~$SER6_URL`/profile/images/top-nav-bg.gif); background-position:bottom; background-repeat:repeat-x; font: 11px verdana,Arial, Helvetica, sans-serif; font-weight:bold; }
#maintab2 a { float: left; padding: 0 0 0 9px; text-decoration: none;color: #2673bb;}
#maintab2 a:hover{ color: #000000;}
#maintab2 a.current { background-position: 0 -28px; background: url("~$SER6_URL`/profile/images/top-tab-left.gif") no-repeat; color: #2673bb; }
#maintab2 a span { float: left;  padding: 5px 9px 4px 0;}
#maintab2 a:hover span{ cursor: pointer; color:#2673bb; }
#maintab2 a.current span {background-position: 100% -28px; background: url("~$SER6_URL`/profile/images/top-tab-rite.gif") no-repeat 100% 0; cursor: pointer;}
#maintab2 a.current:hover span {cursor: default;}
/*END TABS*/
-->
</style>
<noscript>
<div align="center" class="pad4 btwe bluelink bgg1"><b> <img src="~$IMG_URL`/profile/ser4_images/error.gif" width="23" height="20"> Javascript is disabled in your browser due to this certain functionalities will not work. <a href="~$SITE_URL`/P/js_help.htm" target="_blank">Click Here</a>, to know how to enable it.</b></div>
</noscript>
<!--HEADER STARTS-->
~if $CURRENTUSERNAME neq "" and $c_login eq "0"`
<link rel="stylesheet" href="http://www.jeevansathi.com/profile/imagesnew/styles.css" type="text/css">

<SCRIPT LANGUAGE="VBScript">
        Sub myMem_FSCommand(ByVal command, ByVal args)
          call myMem_DoFSCommand(command, args)
        end sub
</SCRIPT>
<script type="text/javascript" src="http://~$CHAT_URL`/profile/chatwin.js"></script>
<div id="accept_decline"></div>
<script type="text/javascript" src="~$IMG_URL`/profile/js/~$headnew_js`"></script>
~/if`
<script type="text/javascript">
<!--//
function MM_openFAQWindow(theURL,winName,features)
{
        window.open(theURL,'jeevansathi','width=600,height=450,resizable=1,scrollbars=1');
}

function MM_jumpMenu()
{
        /*if (document.getElementById("menu1").value=="1")
        {
                MM_openFAQWindow('http://www.jeevansathi.com/mobile/index.htm');
                return false;
        }
        else*/ if(document.getElementById("menu1").value=="2")
	{
		MM_openFAQWindow('~$SITE_URL`/P/faq_main.php?checksum=~$CHECKSUM`');
	}
        else if(document.getElementById("menu1").value=="3")
	{
		window.open('http://~$CHAT_URL`/profile/mwindow.php?alreadyloggedin=2&checksum=~$CHECKSUM4CHAT`&profileid=~$PROFILEID4CHAT`','jsmessenger','width=225,height=300,status=1,scrollbars=0,resizable=no');window.location.href='~$SITE_URL`/P/quicksearch.php?search=2&checksum=~$CHECKSUM`';return false;
	}
	else if(document.getElementById("menu1").value!="")
	{	
		window.location.href=document.getElementById("menu1").value;
	}
}
//-->
</script>
~if $coming_from_index eq '1'`
	<!--div align="center" class="bluelink" style="background-color:#EDEDED; border-bottom:1px solid #D6D6D6; font:normal 11px verdana,arial; color:#003498;padding:2px 0 2px 0">Send <b><a href="http://www.jeevansathi.com/P/faq_other.php?checksum=~$CHECKSUM`&tracepath=0.61">Feedback</a> </b>on Jeevansathi.com's New Look | <span style="color:#6C6965 ">Write to us at : <b><a href="mailto:feedback@jeevansathi.com">Feedback@jeevansathi.com</a></b></span></div-->
~else`
	<div class="bluelink" style="background-image:url(~$SER6_URL`/profile/images/top-links-bg.gif); background-position:center; background-repeat:repeat-x; border-bottom:1px solid #f6e8eb
; height:18px; font:normal 11px verdana,arial; color:#003498;padding:2px 0 2px 0; float:left; width:100%">
		<div align="left" style="float:left">
			<!--&nbsp; ~if $CURRENTUSERNAME eq ""`<a href="~$SITE_URL`/P/inputprofile.php?source=header&newip=1&showlogin=0">Register Free</a> | ~/if`~if $CURRENTUSERNAME neq "" && $mem_case eq '2'`<a href="~$SITE_URL`/P/mem_comparison.php?checksum=~$CHECKSUM`">Upgrade Your Membership</a> | ~/if` ~if $DAYS_TO_EXPIRE_GLOBAL && $DAYS_TO_EXPIRE_GLOBAL lt 11` <a href="~$SITE_URL`/P/mem_comparison.php?checksum=~$CHECKSUM`">Renew Memberships</a> | ~/if` ~if $CURRENTUSERNAME`<a href="~$SITE_URL`/P/mm_showmsg.php?checksum=~$CHECKSUM`">Inbox</a> | ~/if`~if $CURRENTUSERNAME`<a href="~$SITE_URL`/P/logout.php?checksum=~$CHECKSUM`">Logout</a>~else`<a href="~$SITE_URL`/P/mainmenu.php">Login</a>~/if`-->
			&nbsp; ~if $CURRENTUSERNAME eq ""`<a href="~$SITE_URL`/P/inputprofile.php?source=header&newip=1&showlogin=0">Register Free</a> | ~/if`~if $CURRENTUSERNAME neq "" && $mem_case eq '2'`<a href="~$SITE_URL`/P/mem_comparison.php?checksum=~$CHECKSUM`">Upgrade Your Membership</a> | ~/if` ~if $DAYS_TO_EXPIRE_GLOBAL && $DAYS_TO_EXPIRE_GLOBAL lt 11` <a href="~$SITE_URL`/P/mem_comparison.php?checksum=~$CHECKSUM`">Renew Memberships</a> | ~/if` ~if $CURRENTUSERNAME`<a href="~$SITE_URL`/P/mm_showmsg.php?checksum=~$CHECKSUM`">Inbox</a> | ~/if`~if $CURRENTUSERNAME`<a href="~$SITE_URL`/P/logout.php?checksum=~$CHECKSUM`">Logout</a>~else`<a href="~$SITE_URL`">Home</a>~/if`
		</div>
		<div align="right" style="float:right">
			<!-- <a href="~$SITE_URL`/P/faq_other.php?checksum=~$CHECKSUM`">Feedback</a> | <a href="~$SITE_URL`/P/contact.php?checksum=~$CHECKSUM`">Contact Us</a> | <a href="http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&byhref=1&imageUrl=http://www.jeevansathi.com/images_try/liveperson" target='chat13507809'  onClick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&imageUrl=http://www.jeevansathi.com/images_try/liveperson&referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;">Live Help</a> &nbsp; -->
		</div>
	</div> 

~/if`
~if $SHOWLINKS neq 'N'`
<!--div id="top"-->
~if $new_home_page`
        <div id="top" class="bluelink">
~else`
        <div id="top">
~/if`
	<div class="bten lftflow">
		<a href="~if $CURRENTUSERNAME` ~$SITE_URL`/P/mainmenu.php?checksum=~$CHECKSUM` ~else` ~$SITE_URL` ~/if`"><img src="~$IMG_URL`/profile/ser4_images/Matrimonial.gif" alt="Matrimonials" vspace="4" border="0"></a><br>
		~if $coming_from_community`
		~if $NAME_TITLE`~$NAME_TITLE`~else`Indian Matrimonial~/if` - We Match Better
		~else`
		Indian Matrimonials - We Match Better
		~/if`
	</div>
	~if $coming_from_index eq "1"`
		<div class="bele tc" align="right">
			~if $STATUS eq 'ON'`
                        <div class="rightflow wlink lih">
                                <div style="padding:5px 20px 0 0"><a href="http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&byhref=1&imageUrl=http://www.jeevansathi.com/images_try/liveperson" target='chat13507809'  onClick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&imageUrl=http://www.jeevansathi.com/images_try/liveperson&referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;"><b>Live Help</b></a></div>
                        </div>
			~/if`
                        <div class="rightflow" style="padding-top:6px;"><a href="https://www.naukri.com">A Naukri.com group company</a> | <a href="~$SITE_URL`/P/contact.php?checksum=~$CHECKSUM`">30 Offices across India</a></div>
          </div>
                <div class="spacer">&nbsp;</div>
	~else`
	<div align="right"><IFRAME WIDTH="468" HEIGHT="60" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000"  ~if $head_tab neq "memberships"` SRC="~$bmsVariable`/bmsjs/bms_display_final.php?zonestr=~$bms_topright`&searchcriteria=|||||~$G`||~$viewed_gender`|&data=~$data`&subzone=1" ~/if`></IFRAME></div>
	~/if`
</div>
~if $pr_view neq '1'`
<!--TAB STARTS-->
<div style="width:100%; float:left; padding:0; margin:0; background-image:url(~$SER6_URL`/profile/images/top-nav-bg2.gif); background-position:bottom; background-repeat:repeat-x;">
<div id="maintab2">
	<ul>
		<!--<li><a href="/index.php?checksum=~$CHECKSUM`&random_i=~$random_image`" style="cursor:pointer" ~if $head_tab eq 'home'` class="current" ~/if` title="Matrimonial Home"><span>Home</span></a></li>-->
		<li><a href="~$SITE_URL`/profile/search_landing.php?checksum=~$CHECKSUM`" style="cursor:pointer" ~if $head_tab eq 'search'` class="current" ~/if` title="Search"><span>Search</span></a></li>
		<li><a href="~$SITE_URL`/profile/mainmenu.php?checksum=~$CHECKSUM`"  style="cursor:pointer" ~if $head_tab eq 'my jeevansathi'` class="current" ~/if` title="My Jeevansathi"><span>My Jeevansathi</span></a></li>
		
		~if $new_home_page eq ''`
		<li><a href="/P/mem_comparison.php?checksum=~$CHECKSUM`" style="cursor:pointer" ~if $head_tab eq 'memberships'` class="current" ~/if` title="Membership"><span>Memberships</span></a></li>
		~/if`
		<li><a href="/success/success_stories.php?checksum=~$CHECKSUM`" style="cursor:pointer" ~if $head_tab eq 'success'` class="current" ~/if` title="Success Stories"><span>Success Stories</span></a></li>
		<li><a href="" style="cursor:pointer" ~if $head_tab eq 'chat'` class="current" ~/if` title="Members Available for Chat" onclick="window.open('http://~$CHAT_URL`/profile/mwindow.php?alreadyloggedin=2&checksum=~$CHECKSUM4CHAT`&profileid=~$PROFILEID4CHAT`','jsmessenger','width=225,height=300,status=1,scrollbars=0,resizable=no');window.location.href='~$SITE_URL`/P/quicksearch.php?search=2&checksum=~$CHECKSUM`';return false;"><span>Chat Online</span></a></li>
	</ul>
</div>
<div class="bluelink bele" style="float:left; margin:0px 0 0 10px"><IFRAME WIDTH=70 height=18  MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000"  SRC="~$bmsVariable`/bmsjs/bms_display_final.php?zonestr=469"></IFRAME></div>
<!--TAB ENDS-->
<div style="float:right; margin-right:5px ">
	<select  name="menu1" id="menu1" onchange="MM_jumpMenu();" class="textbox" style="width:110px ">
                        <option selected disabled>Explore</option>

~if $CURRENTUSERNAME eq ""`                        <option value="~$SITE_URL`/P/inputprofile.php?source=hpblack&newip=1&showlogin=0">Register Free</option>~/if`
                        <option value="~$SITE_URL`/success/success_stories.php?checksum=~$CHECKSUM`">Success Stories</option>
~if $CURRENTUSERNAME eq ""`                        <option value="~$SITE_URL`/P/mainmenu.php?checksum=~$CHECKSUM`">Logon</option>~/if`
                        <option value="~$SITE_URL`/P/mem_comparison.php?checksum=~$CHECKSUM`">Membership Page</option>
                        <option value="" disabled></option>

                        <option value="~$SITE_URL`/P/mainmenu.php?checksum=~$CHECKSUM`">My Jeevansathi </option>
                        <option value="~$SITE_URL`/profile/search_landing.php?checksum=~$CHECKSUM`">Search</option>
                        <option value="3">Chat Online</option>
                        <option value="" disabled></option>

                        <!--option value="1">Jeevansathi on Mobile</option-->
                        <option value="http://www.jeevansathi.com/wedding">Wedding Directory</option>
                        <option value="" disabled></option>

                        <option value="~$SITE_URL`/P/site_map.php">Site Map</option>
                        <option value="2">FAQs</option>
                        <option value="~$SITE_URL`/P/faq_other.php?checksum=~$CHECKSUM`&tracepath=0">Feedback</option>
                        <option value="~$SITE_URL`/P/contact.php?checksum=~$CHECKSUM`">Contact Us</option>
	</select>
</div>
</div>
~/if`
~/if`
~if $new_home_page`
        <div style="clear:both;"><img src="~$SER6_URL`/profile/images/spacer.gif" height="10" /></div>
~else`
		<div style="clear:both;"><img src="~$SER6_URL`/profile/images/spacer.gif" height="10" /></div>
~/if`
<!--div class="spacer1" style="border:1px solid #000">&nbsp;</div-->
<!--HEADER ENDS-->

