<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Jeevansathi Matrimonials- Search Results</title>
<script language="javascript">
<!--
function checkDrop(formName)
{
	if(document.form1.buttonno.value==1 && formName.HIDEFOR.value=="")
	{
		alert ("Please select an appropriate action from the dropdown");
		return false;
	}
}	
function check1(inum)
{
	document.form1.buttonno.value=inum;
}
//-->
</SCRIPT>
<link rel="stylesheet" href="css/~$comm_style_css`" type="text/css">
<style type="text/css">
.pghd{float:left; width:98% }
.r14{font:bold 14px verdana,Arial; color:#CC0000; padding-top:5px}
</style>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body>
<div id="container">
<!--HEADER STARTS-->
~$HEAD`
<!--HEADER ENDS-->
<!--QUICK SEARCH STARTS-->
<div class="spacer15">&nbsp;</div>
<!--QUICK SEARCH ENDS-->

<!--WRAPPER STARTS HERE-->
<div id="wrapper">
<!--LEFT PANNEL STARTS HERE-->
~$LEFTPANEL`
<!--LEFT PANNEL ENDS HERE-->
<!--CENTER STARTS HERE-->
<div id="center">

<div class="pghd bele bluelink">
<div class="r14"><b>Hide or Show Login Details in Matchalert</b></div>
<div class="spacer" style="border-top:1px solid #000000; margin-top:5px;" >&nbsp;</div>
<div>~if $hide neq "1"`
Jeevansathi.com now gives you the choice of not recieving username/password in matchalert.
~/if`
<br>
~if $hide eq "1"`</div>
<div class="spacer15">&nbsp;</div>
<div>Your login information is not being showed in matchalert currently. To receive the same please unhide your details</div>
<div class="spacer15">&nbsp;</div>
~else`
<div>- Use this feature when you have decided not to receive username/password  in daily recommendations.<br>
- <b>When you hide your login details</b> they will no longer be visible in Matchalert sent by Jeevansathi.com.
</div>
~/if`
<div class="spacer15">&nbsp;</div>
<div class="spacerg">&nbsp;</div>
<div class="spacer15">&nbsp;</div>
<form name="form1" action="hide_login_details.php" method="post" onsubmit="return checkDrop(this);">
~if $FLAG_PSWD eq 'N'`
<div class="btwe"><font color="red">Incorrect password. Please try again.</font></div>
~/if`
<div class="spacer">&nbsp;</div>
<div class="lftflow">Enter the password of your account :</div>
<div class="lftflow"><input type="password" name="passwd" class="TextBox"></div>
<div class="spacer">&nbsp;</div>
~if $hide eq "1"`
<div class="lftflow">&nbsp;</div>
<div class="lftflow"><input type="hidden" name="checksum" value="~$CHECKSUM`">
<input type="hidden" name="buttonno" value="">
<input type="hidden" name="hide" value=~$hide`>
  <input type="submit" name="CMDunhide" value="Unhide my login details" class="TextBox"></div>
<div class="spacer15">&nbsp;</div>
~else`


<div><b>Hide my login information</b></div>
<div class="spacer">&nbsp;</div>
<div>
<input type="hidden" name="checksum" value="~$CHECKSUM`">
<input type="hidden" name="buttonno" value="">
<input type="hidden" name="hide" value=~$hide`>
<input type="submit" name="CMDhide" value="Submit" class="TextBox"></div>

~/if`
</form>


</div>
<!--pghd ENDS-->
</div>
<!--CENTER ENDS HERE-->
</div>
<!--WRAPPER ENDS HERE-->
~$FOOT`
</div>
</div>
</body>
</html>
