<table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td width="33%">
   <table border="0" cellspacing="0" cellpadding="0">
    <tr>
  <td width="33%"><a href="~$SITE_URL`"><img src="~$IMG_URL`/profile/ser4_imagesnew/Matrimonial-beta.gif" width="230" height="35" title="भारतीय मेट्रीमोनियल" border="0" ALT="भारतीय मेट्रीमोनियल"></a></td>
    </tr>
<tr><td class=mediumblack>&nbsp;&nbsp;भारतीय मेट्रीमोनियल - साथी से मिलन</td></tr>
<tr>
  <td class=mediumblack >&nbsp;&nbsp;<a href="/P/sethindi.php?val=">View Jeevansathi.com in <b>English</b></a> </td>
</tr>
   </table></td>

<!--BMSJS ADDITION STARTS HERE-->
<td align="right">
   <IFRAME WIDTH="465" HEIGHT="80" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000" SRC="~$bmsVariable`/bmsjs/bms_display_final.php?zonestr=~$bms_topright`&data=~$data`&subzone=1"></IFRAME>
</td>
<!--
~if $zonedisp1`<td align="center">~if $zonedisp1`~$zonedisp1`~else`~$zone1`~/if`</td>~/if`
~if $zonedisp4`<td align="center">~if $zonedisp4`~$zonedisp4`~else`~$zone2`~/if`</td>~/if`
~if $zonedisp7`<td align="center">~if $zonedisp7`~$zonedisp7`~else`~$zone3`~/if`</td>~/if`
~if $zonedisp11`<td align="center">~if $zonedisp11`~$zonedisp11`~else`~$zone5`~/if`</td>~/if`
~if $zonedisp14`<td align="center">~if $zonedisp14`~$zonedisp14`~else`~$zone6`~/if`</td>~/if`
~if $zonedisp18`<td align="center">~if $zonedisp18`~$zonedisp18`~else`~$zone8`~/if`</td>~/if`
~if $zonedisp20`<td align="center">~if $zonedisp20`~$zonedisp20`~else`~$zone4`~/if`</td>~/if`-->
<!--BMSJS ADDITION ENDS HERE-->

 </tr>
 </table>

~if $SHOWLINKS neq 'N'`
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td width="100%" bgcolor="#FFB078"><img src="~$IMG_URL`/profile/ser4_imagesnew/zero.gif" width="25" height="1"></td>
  <td><a href="/index.php"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_home_inner.gif" title="मेट्रीमोनियल हौम" title="हौम" width="58" height="18" border="0"></a></td>
  <td><a href="~$SITE_URL`/profile/mainmenu.php?checksum=~$CHECKSUM`" title="मेरा मेट्रीमोनियल"><img src="~$IMG_URL2`/P/imagesnew/hin_myjs_inner.gif" title="मेरा जीवनसाथी" width="94" height="18" border="0"></a></td>
  <td><a href="/P/whyjeevansathi.php?checksum=~$CHECKSUM`"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_whyjs_inner.gif" title="जीवनसाथी क्यो?" width="97" height="18" border="0"></a></td>
  <td><a href="/P/conf_policy.php"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_privacy_inner.gif" title="गोपनीयता नियम" width="74" height="18" border="0"></a></td>
  <td><a href="/P/mem_comparison.php?checksum=~$CHECKSUM`"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_memberships_inner.gif" title="सदस्यता" width="64" height="18" border="0"></a></td>
  <td><a href="/success/success_stories.php" title="सफल विवाह" ><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_ss_inner.gif" title="सफल विवाह" width="83" height="18" border="0"></a></td>
<td>~if $CURRENTUSERNAME neq ""`<a id="logout" name="logout" href="~$SITE_URL`/P/logout.php?checksum=~$CHECKSUM`"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_memlogout_inner.gif" title="मैमबर लैगआऊढ" width="102" height="18" border="0"></a>~else`<a href="~$SITE_URL`/profile/mainmenu.php?checksum=~$CHECKSUM`"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_memlogin_inner.gif" title="मैमबर लौगइन " border="0"></a>~/if`</td>
 ~if $CURRENTUSERNAME neq ""`
 <td><a href="" onclick="window.open('http://~$CHAT_URL`/profile/mwindow.php?alreadyloggedin=2&checksum=~$CHECKSUM4CHAT`','jsmessenger','width=225,height=300,status=1,scrollbars=0,resizable=no');return false;"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_launch_messenger_inner.gif" width="105" height="18" border="0" title="मैसेंजर शुरू करें"></a></td>
~else`
<td><a href="" onclick="window.open('http://~$CHAT_URL`/profile/mwindow.php?alreadyloggedin=0','jsmessenger','width=225,height=300,status=1,scrollbars=0,resizable=no');return false;"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_launch_messenger_inner.gif" width="105" height="18" border="0" title="मैसेंजर शुरू करें"></a></td>

 ~/if`
~if $STATUS eq 'ON'`
 <!-- <td><a href="http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&byhref=1&imageUrl=http://www.jeevansathi.com/images_try/liveperson" target='chat13507809' onClick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&imageUrl=http://www.jeevansathi.com/images_try/liveperson&referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;"><img src="~$IMG_URL`/profile/ser4_imagesnew/hin_livehelp_inner.gif" title="लाइव सहावता" width="81" height="18" border="0"></a></td> -->
~/if`
 </tr>
 <tr>
  <td colspan="9"><img src="~$IMG_URL`/profile/ser4_imagesnew/zero.gif" width="1" height="1"></td>
 </tr>
</table>
~/if`
