
<br>
<div align="center">
<IFRAME WIDTH=733 HEIGHT=92 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000" SRC="~$bmsVariable`/bmsjs/bms_display_final.php?zonestr=~$bms_bottom`&data=~$data`&subzone=1"></IFRAME>
</div>
<br>
~if $CURRENTUSERNAME eq ""`
<table width="100%" border="0" cellpadding="0" cellspacing="1" class=bggrey>
<tr>
<td><TABLE width="100%" border=0 cellPadding=1 cellSpacing=0 class=bgwhite>
<TBODY>
<TR>
<TD vAlign=top class="mediummaroonb"><img src="~$IMG_URL`/profile/ser4_imagesnew/zero.gif" width="150" height="1"><br>
<b>चुनिए विभिन्न समुदाय से</b></TD>
<TD vAlign=top width="10">:</TD>
<TD width="100%" class=mediumblack><span class="blacklink"><A href="/matrimonials/bihari-matrimonial/" title="बिहारी मेट्रीमोनियल">बिहारी मेट्रीमोनियल</A> | <A title="बंगाली मेट्रीमोनियल" 
      href="/matrimonials/bengali-matrimonial/">बंगाली मेट्रीमोनियल</A> | <A title="दिल्ली मेट्रीमोनियल" 
      href="/matrimonials/delhi-matrimonial/">दिल्ली मेट्रीमोनियल</A> | <A title="गुजराती मेट्रीमोनियल" 
      href="/matrimonials/gujarati-matrimonial/">गुजराती मेट्रीमोनियल</A> | <A title="कन्नड मेट्रीमोनियल" 
      href="/matrimonials/kannada-matrimonial/">कन्नड मेट्रीमोनियल</A> | <A title="केरल मेट्रीमोनियल" 
      href="/matrimonials/kerala-matrimonial/">केरल मेट्रीमोनियल</A> | <A title="मराठी मेट्रीमोनियल" 
      href="/matrimonials/marathi-matrimonial/">मराठी मेट्रीमोनियल</A> | <A title="उढीया मेट्रीमोनियल" 
      href="/matrimonials/oriya-matrimonial/">उढीया मेट्रीमोनियल</A> | <A title="पंजाबी मेट्रीमोनियल" 
      href="/matrimonials/punjabi-matrimonial/">पंजाबी मेट्रीमोनियल</A> | <A title="राजस्थानी मेट्रीमोनियल" 
      href="/matrimonials/rajasthani-matrimonial/">राजस्थानी मेट्रीमोनियल</A> | <A title="सिंधी मेट्रीमोनियल" 
      href="/matrimonials/sindhi-matrimonial/">सिंधी मेट्रीमोनियल</A> | <A title="तमिल मेट्रीमोनियल" 
      href="/matrimonials/tamil-matrimonial/">तमिल मेट्रीमोनियल</A> | <A title="तेलगु मेट्रीमोनियल" 
      href="/matrimonials/telugu-matrimonial/">तेलगु मेट्रीमोनियल</A> | <A title="यू.पी. मेट्रीमोनियल" 
      href="/matrimonials/up-matrimonial/">यू.पी. मेट्रीमोनियल</A> | <A title="Indian communities" 
      href="/matrimonials/indian-communities/">More...</A></SPAN></TD>
</TR>
<TR>
<TD vAlign=top class="mediummaroonb"><B>चुनिए विभिन्न जातियों से</B></TD>
<TD vAlign=top>:</TD>
<TD class="mediumblack"><span class="blacklink"><A title="हिन्दु मेट्रीमोनियल" 
      href="/matrimonials/hindu-matrimonial/">हिन्दु मेट्रीमोनियल</A> | <A title="मुस्लिम मेट्रीमोनियल" 
      href="/matrimonials/muslim-matrimonial/">मुस्लिम मेट्रीमोनियल</A> | <A title="क्रिस्चिन मेट्रीमोनियल" 
      href="/matrimonials/christian-matrimonial/">क्रिस्चिन मेट्रीमोनियल</A> | <A title="सिख मेट्रीमोनियल" 
      href="/matrimonials/sikh-matrimonial/">सिख मेट्रीमोनियल</A> | <A title="बौद मेट्रीमोनियल" 
      href="/matrimonials/buddhist-matrimonial/">बौद मेट्रीमोनियल</A></span></TD>
</TR>
<TR>
<TD vAlign=top class="mediummaroonb"><B>चुनिए विभिन्न देशो से</B></TD>
<TD vAlign=top>:</TD>
<TD class="mediumblack"><span class="blacklink"><A title="भारत मेट्रीमोनियल" 
      href="/matrimonials/india-matrimonial/">भारत मेट्रीमोनियल</A> | <A title="यू एस ए मेट्रीमोनियल" 
      href="/matrimonials/usa-matrimonial/">यू एस ए मेट्रीमोनियल</A> | <A title="कनाडा मेट्रीमोनियल" 
      href="/matrimonials/canada-matrimonial/">कनाडा मेट्रीमोनियल</A> | <A title="यू के मेट्रीमोनियल" 
      href="/matrimonials/uk-matrimonial/">यू के मेट्रीमोनियल</A> | <A title="यू ए ई मेट्रीमोनियल" 
      href="/matrimonials/uae-matrimonial/">यू ए ई मेट्रीमोनियल</A> | <A title="पाकिस्तान मेट्रीमोनियल" 
      href="/matrimonials/pakistan-matrimonial/">पाकिस्तान मेट्रीमोनियल</A> | <A title="सिंगापुर मेट्रीमोनियल" 
      href="/matrimonials/singapore-matrimonial/">सिंगापुर मेट्रीमोनियल</A> </SPAN></TD>
</TR>
<TR>
<TD vAlign=top class="mediummaroonb"><B>चुनिए विभिन्न राज्यो से</B></TD>
<TD vAlign=top>:</TD>
<TD class="mediumblack"><span class="blacklink"><A 
      title="Delhi Matrimonials" href="/matrimonials/delhi-matrimonials/">दिल्ली मेट्रीमोनियल</A> | <A title="मुम्बई मेट्रीमोनियल" 
      href="/matrimonials/mumbai-matrimonial/">मुम्बई मेट्रीमोनियल</A> | <A title="कोलकता मेट्रीमोनियल" 
      href="/matrimonials/kolkata-matrimonial/">कोलकता मेट्रीमोनियल</A> | <A title="चैन्नई मेट्रीमोनियल" 
      href="/matrimonials/chennai-matrimonial/">चैन्नई मेट्रीमोनियल</A> | <A title="बैंग्लोर मेट्रीमोनियल" 
      href="/matrimonials/bangalore-matrimonial/">बैंग्लोर मेट्रीमोनियल</A> | <A title="पूना मेट्रीमोनियल" 
      href="/matrimonials/pune-matrimonial/">पूना मेट्रीमोनियल</A> | <A title="अहमदाबाद मेट्रीमोनियल" 
      href="/matrimonials/ahmedabad-matrimonial/">अहमदाबाद मेट्रीमोनियल</A> | <A title="हैदराबाद मेट्रीमोनियल" 
      href="/matrimonials/hyderabad-matrimonial/">हैदराबाद मेट्रीमोनियल</A></span></TD>
</TR>
</TBODY>
</TABLE></td>
</tr>
</table>
~/if`
