<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>JeevanSathi Matrimonials - Form for Input of Matrimonial Data</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/P/IN/styles.php" type="text/css">
<script language="JavaScript" SRC="/profile/~$profile_js`"></SCRIPT>
<script language="JavaScript" SRC="/profile/hin_profile.js"></SCRIPT>

<script language="JavaScript">
<!--
function activate_cityres()
{
	if(document.getElementById)
	{
	        var docF=document.form1;
        	                                                                                         
	        if(document.getElementById("Country_Residence"))
        	        countryresidence=1;
	        if(document.getElementById("City_India"))
        	        cityindia=1;
	        if(document.getElementById("City_USA"))
        	        cityusa=1;
                                                                                                 
                                                                                                 
	        //if(countryresidence==1)
        	//{
			//alert(docF.Country_Residence.value);
	                if(docF.Country_Residence.value=="51")
        	        {
                	//      if(cityindia==1)
                        	{       docF.City_India.disabled = false;
                                	docF.City_USA.disabled = true;
	                        }
        	        //      if(cityusa==1)
                	                docF.City_USA.value = "";
	                }
			else if(docF.Country_Residence.value=="128")
                	{
	                //      if(cityindia==1)
        	                {       docF.City_India.disabled = true;
                	                docF.City_India.value = "";
                        	}
	                //      if(cityusa==1)
	                                docF.City_USA.disabled = false;
        	        }
                	else
	                {
        	        //      if(cityindia==1)
                	        {       docF.City_India.disabled = true;
                        	        docF.City_India.value = "";}
	                //    if(cityusa==1)
        	                {       docF.City_USA.disabled = true;
                	                docF.City_USA.value = "";
                        	}
	                }
        	//}
	}
}
        
function validate()
{
	if(document.getElementById)
	{
		document.getElementById('email_span').style.color="#000000";
		document.getElementById('pwd1_span').style.color="#000000";
		document.getElementById('gender_span').style.color="#000000";
		document.getElementById('mstatus_span').style.color="#000000";
		document.getElementById('religion_span').style.color="#000000";
		document.getElementById('caste_span').style.color="#000000";
		document.getElementById('height_span').style.color="#000000";
		document.getElementById('date_span').style.color="#000000";
		document.getElementById('income_span').style.color="#000000";
		document.getElementById('phone_span').style.color="#000000";
		document.getElementById('mobile_span').style.color="#000000";
		document.getElementById('country_res_span').style.color="#000000";
		document.getElementById('term_span').style.color="#000000";
	}

		var docF=document.form1;

		if(trim(docF.Email.value)=="")
		{
			alert("Please specify Email ID");

			if(document.getElementById)
				document.getElementById('email_span').style.color="red";

			docF.Email.focus();
			return false;
		}
															    
		if(!checkemail(docF.Email.value))
		{
			alert(docF.Email.value + " is not a valid Email ID");

			if(document.getElementById)
				document.getElementById('email_span').style.color="red";

			docF.Email.focus();
			return false;
		}

															 
		if(trim(docF.Password1.value)=="")
		{
			alert("Please specify Password");

			if(document.getElementById)
				document.getElementById('pwd1_span').style.color="red";
			docF.Password1.focus();
			return false;
		}

		if(docF.Gender.value=="")
		{
			alert("Please specify Your Gender");

			if(document.getElementById)
				document.getElementById('gender_span').style.color="red";

			docF.Gender.focus();
			return false;
		}

		if(docF.Marital_Status.value=="")
		{
			alert("Please specify Marital Status");

			if(document.getElementById)
				document.getElementById('mstatus_span').style.color="red";

			docF.Marital_Status.focus();
			return false;
		}
		 
													
		if(docF.Religion.value=="")
		{
			alert("Please specify Religion");

			if(document.getElementById)
				document.getElementById('religion_span').style.color="red";

			docF.Religion.focus();
			return false;
		}

		if(docF.Caste.value=="")
		{
			alert("Please specify Caste");

			if(document.getElementById)
				document.getElementById('caste_span').style.color="red";

			docF.Caste.focus();
			return false;
		}
													 
														 
		if(docF.Height.value=="")
		{
			alert("Please specify Height");

			if(document.getElementById)
				document.getElementById('height_span').style.color="red";

			docF.Height.focus();
			return false;
		}

		if(docF.Day.value=="" || docF.Month.value=="" || docF.Year.value=="")
		{
			alert("Please specify Date of birth properly");

			if(document.getElementById)
				document.getElementById('date_span').style.color="red";

			docF.Day.focus();
			return false;
		}
													 
		if(!validate_date(docF.Day.value,docF.Month.value,docF.Year.value))
		{
			alert(docF.Day.value + "/" + docF.Month.value + "/" + docF.Year.value + " is not a valid date");

			if(document.getElementById)
				document.getElementById('date_span').style.color="red";

			docF.Day.focus();
			return false;
		}

		if(docF.Income.value=="")
		{
			alert("Please specify your Annual Income");

			if(document.getElementById)
				document.getElementById('income_span').style.color="red";

			docF.Income.focus();
			return false;
		}

		if(trim(docF.Phone.value)=="" && trim(docF.Mobile.value)=="")
		{
			alert("Please specify Phone No or Mobile No");

			if(document.getElementById)
			{
				document.getElementById('phone_span').style.color="red";
				document.getElementById('mobile_span').style.color="red";
			}

			docF.Phone.focus();
			return false;
		}

		if(docF.Country_Residence.value=="")
		{
			alert("Please specify Country of Residence");

			if(document.getElementById)
				document.getElementById('country_res_span').style.color="red";

			docF.Country_Residence.focus();
			return false;
		}

		~if $check eq "N"`
		if(docF.City_Res.value=="")
		{
			alert("Please specify Place of current residence");
			return false;
		}
		~/if`

		if(docF.Country_Residence.value==51 && docF.City_India.value=="")
		{
			alert("Please specify City of Current Residence");

			if(document.getElementById)
				document.getElementById('city_span').style.color="red";

			docF.City_India.focus();
			return false;
		}

		if(docF.Country_Residence.value==128 && docF.City_USA.value=="")
		{
			alert("Please specify City of Current Residence");

			if(document.getElementById)
				document.getElementById('city_span').style.color="red";

			docF.City_USA.focus();
			return false;
		}

		if(!docF.termscheckbox.checked)
		{
			alert("You have to agree to the terms and conditions before continuing");

			if(document.getElementById)
				document.getElementById('term_span').style.color="red";

			docF.termscheckbox.focus();
			return false;
		}
	return true;
}

function validate_offline()
{	
	var docF=document.form1;
	if(trim(docF.Email.value)=="")
        {
                alert("Please specify Email ID");

		if(document.getElementById)
			document.getElementById('email_span').style.color="red";

		docF.Email.focus();
                return false;
        }

return true;
}

function togglecheck(cb)
{
	if(cb.checked==true)
		cb.checked=false;
	else
		cb.checked=true;
}
                                                                                                 
//-->
</script>

~include file="../jeevansathi/google_analytics.htm"`</head>
~if $NO_OF_ERROR gt 0`
<body leftmargin="5" topmargin="5" onload="javascript: document.form1.Email.focus();activate_cityres();">
~else`
<body leftmargin="5" topmargin="5" onload="javascript: document.form1.Email.focus();activate_cityres();hin_PopSPEC(document.form1.Religion,9,10)">
~/if`


<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><a name="below"><img src="~$IMG_URL`/profile/ser4_images/hin_free_registration_5.gif"></a></td></tr>
</table>
~if $SUCCESS_STORY`
~$SUCCESS_STORY`
~else`
~$CREATIVE`
~/if`
~if $NO_OF_ERROR`
<font color="red" size="2" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are ~$NO_OF_ERROR` Error(s) in your form. They are marked in red. Please correct them and submit the form again</font>
~/if`
<br>

<!--form action="/profile/inputprofile_tieup.php" method="post" name="form1" onsubmit="return validate(~$SOURCE`);"-->
~if $HITSOURCE neq 'O'`
<form action="/profile/inputprofile_tieup.php" method="post" name="form1" onsubmit="return validate();">
~else`
<form action="/profile/inputprofile_tieup.php" method="post" name="form1" onsubmit="return validate_offline();">
~/if`
<input type="hidden" name="hit_source" value="~$HITSOURCE`">
<input type="hidden" name="tieup_source" value="~$TIEUPSOURCE`">
<input type="hidden" name="maritalstatus" value="~$maritalstatus`">
<input type="hidden" name="checksum" value="~$CHECKSUM`">
<input type="hidden" name="id" value="~$ID_AFF`">
<table width="85%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td width="5%"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="30" height="1"></span></td>
  <td width="95%" class="bigblack"><font color="#3366cc"><b>JeevanSathi.com पर वैवाहिक खाता खोलने के लिए रजिस्टर करें</b><br>यह आपके लिए सही साथी ढुंढने में हमारी भी सहायता करेगा। हमारी गोपनीयता नीति या सहायता के लिए <span class="bluelinku"><a href="http://www.jeevansathi.com/P/conf_policy.php" target="_blank">क्लिक करें। </a></span>
~if $STATUS eq 'ON'`
<!-- या <span class="bluelinku"><a href="http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&byhref=1&imageUrl=http://www.jeevansathi.com/images/liveperson" target="chat13507809" onClick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&file=visitorWantsToChat&offlineURL=~$SITE_URL`/P/faq_redirect.php&site=13507809&imageUrl=http://www.jeevansathi.com/images/liveperson&referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;">हेल्प के लिए क्लिक करें। </a></span> -->
~/if`
</font><BR>
<!--<font color="#3366cc">~if $HITSOURCE neq 'O'`Note: All fields are compulsory.~else` Note: Email field is compulsary.~/if` </font><br>--><br></td>
 </tr>
 <tr class=bggrey>
  <td>&nbsp;</td>
  <td class="mediumblack"><b style="color:#996633">1. मूल जानकारी</b></td>
 </tr>
</table>
<br>
<table width="85%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="30" height="1"></td>
  <td valign="top" class="mediumblack"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="180" height="1">
		<span id="email_span">
		<b>a.~if $check_email eq "1"`  <font color="red"> इमेल</font> ~elseif $check_email eq "2"`<font color="red"> इमेल<br>Email already exists</font>~else` इमेल~/if`</b>
		</span>
  </td>
  <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="130" height="1"><br>
    <input type="text" name="Email" value= "~$email`" class="testbox"></td>
  <td height=40 width="100%" valign="top" class="smallblack">&nbsp;
   <br></td>
 </tr>

 <tr>
  <td valign="top" class="mediumblack">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="pwd1_span"><b>b.~if $check_password1 eq "1"` <font color="red"> पासवर्ड लिखिए</font> ~else` पासवर्ड लिखिए ~/if` </b></span>
 </td>
  <td valign="top"><input type="password" name="Password1" value= "~$password1`" class="testbox"></td>
  <td height="40" valign="top" class="smallblack">(5-40 अक्षर) (case-sensitive)</td>
 </tr>
</table>
<table width="85%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="30" height="1"></td>
  <td valign="top" class="mediumblack">
	<span id="gender_span"><b><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="180" height="1"><br>c.~if $check_gender eq "Y"` <font color= "red">लिंग</font> ~else` लिंग ~/if` </b></span>
  </td>
  <td height="40" valign="top" width="100%"><select name="Gender" size="1" class="TextBox">
   <option value="" >कोई एक विकल्प चुनिए</option>
   <!--~if GENDERCHANGE eq "Y"`
   <option value="M"  ~if $gender eq 'M'` selected ~/if`>पुरष</option>
   <option value="F"  ~if $gender eq 'F'` selected ~/if`>स्त्री</option>
   ~else`
   <option value="M"  ~if $gender eq 'F'` selected ~/if`>पुरष</option>
   <option value="F"  ~if $gender eq 'M'` selected ~/if`>स्त्री</option>
   ~/if`-->
	<option value="M" ~if $gender eq 'M' or $gender eq ''` selected ~/if`>पुरुष</option>
        <option value="F" ~if $gender eq 'F'` selected ~/if`>स्त्री</option>

  </select>
   </td>
 </tr>
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="mstatus_span"><b>d.~if $check_marital eq "Y"` <font color= "red">वैवाहिक स्थिति</font> ~else` वैवाहिक स्थिति ~/if`</b></span>
  </td>
  <td height="40" valign="top"><select name="Marital_Status" size="1" class="TextBox">
   <option value="">कोई एक विकल्प चुनिए</option>
   <option value="N" ~if $marital eq 'N' or $marital eq ''` selected~/if`>अविवाहित</option>
   <option value="W" ~if $marital eq 'W'` selected ~/if`>विधुर/विधवा</option>
   <option value="D" ~if $marital eq 'D'` selected ~/if`>तलाकशुदा</option>
   <option value="S" ~if $marital eq 'S'` selected ~/if`>विवाहित पर अलग रहते है</option>
   <option value="O" ~if $marital eq 'O'` selected ~/if`>अन्य</option>
  </select></td>
 </tr>

 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<b>e.~if $check_mtongue eq "Y"` <font color= "red">मातृभाषा/समुदाय</font> ~else` मातृभाषा/समुदाय ~/if` </b>
  </td>
  <td height="40" valign="top"><select name="Mtongue" class="TextBox";>
   <option value="">कोई एक विकल्प चुनिए </option>
	~$mtongue`
  </select>
   </td>
 </tr>

  <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="religion_span"><b>e.~if $check_religion eq "Y"` <font color= "red">धर्म</font> ~else` धर्म~/if` </b></span>
  </td>
  <td height="40" valign="top"><select name="Religion" class="TextBox" onChange="hin_PopSPEC(this,9,10)";>

   <option value="">कोई एक विकल्प चुनिए</option>
	~$religion`
  </select>
   </td>
 </tr>
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="caste_span"><b>f.~if $check_caste eq "Y"` <font color= "red">जाति</font> ~else` जाति~/if` </b></span>
  </td>
  <td height="40" valign="top"><select name="Caste" class="TextBox">
~if $no_religion neq 'N'`
   <option  value="">कोई एक विकल्प चुनिए</option>
~/if`
	~$caste`
  </select>
   </td>
 </tr>
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="height_span"><b>g.~if $check_height eq "Y"` <font color= "red">कद</font> ~else`कद ~/if`</b></span>
  </td>
  <td height="40" valign="top"><select name="Height" size="1" class="TextBox">
   <option value="">कोई एक विकल्प चुनिए</option>
	~$height`
  </select>
   </td>
 </tr>
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="date_span"><b>h.~if $check_date eq "1"` <font color= "red">जन्म तिथि</font>
~elseif $DATEOFBIRTH_LESS eq "1"` <font color="red">जन्म तिथि<br>~if $gender eq "M"`Male profiles less than 21 years of age cannot be registered~elseif $gender eq "F"`Female profiles less than 18 years of age cannot be registered~/if`</font>~else` जन्म तिथि~/if`</b></span>
  </td>
  <td height="40" valign="top" class="smallblack"><select name="Day" class="TextBox">
	<option SELECTED VALUE="">दिन</option>
	<option value="1" ~if $day eq "1"` selected ~/if`>01</option>
	<option value="2" ~if $day eq "2"` selected ~/if`>02</option>
	<option value="3" ~if $day eq "3"` selected ~/if`>03</option>
	<option value="4" ~if $day eq "4"` selected ~/if`>04</option>
	<option value="5" ~if $day eq "5"` selected ~/if`>05</option>
	<option value="6" ~if $day eq "6"` selected ~/if`>06</option>
	<option value="7" ~if $day eq "7"` selected ~/if`>07</option>
	<option value="8" ~if $day eq "8"` selected ~/if`>08</option>
	<option value="9" ~if $day eq "9"` selected ~/if`>09</option>
	<option value="10" ~if $day eq "10"` selected ~/if`>10</option>
	<option value="11" ~if $day eq "11"` selected ~/if`>11</option>
	<option value="12" ~if $day eq "12"` selected ~/if`>12</option>
	<option value="13" ~if $day eq "13"` selected ~/if`>13</option>
	<option value="14" ~if $day eq "14"` selected ~/if`>14</option>
	<option value="15" ~if $day eq "15"` selected ~/if`>15</option>
	<option value="16" ~if $day eq "16"` selected ~/if`>16</option>
	<option value="17" ~if $day eq "17"` selected ~/if`>17</option>
	<option value="18" ~if $day eq "18"` selected ~/if`>18</option>
	<option value="19" ~if $day eq "19"` selected ~/if`>19</option>
	<option value="20" ~if $day eq "20"` selected ~/if`>20</option>
	<option value="21" ~if $day eq "21"` selected ~/if`>21</option>
	<option value="22" ~if $day eq "22"` selected ~/if`>22</option>
	<option value="23" ~if $day eq "23"` selected ~/if`>23</option>
	<option value="24" ~if $day eq "24"` selected ~/if`>24</option>
	<option value="25" ~if $day eq "25"` selected ~/if`>25</option>
	<option value="26" ~if $day eq "26"` selected ~/if`>26</option>
	<option value="27" ~if $day eq "27"` selected ~/if`>27</option>
	<option value="28" ~if $day eq "28"` selected ~/if`>28</option>
	<option value="29" ~if $day eq "29"` selected ~/if`>29</option>
	<option value="30" ~if $day eq "30"` selected ~/if`>30</option>
	<option value="31" ~if $day eq "31"` selected ~/if`>31</option>
  </select>
&nbsp;&nbsp;
<select name="Month" class="TextBox">
 <option SELECTED VALUE="">महीना</option>
<option VALUE="1" ~if $month eq "01"` selected ~/if`>जनवरी</option>
<option VALUE="2" ~if $month eq "02"` selected ~/if`>फरवरी</option>
<option VALUE="3" ~if $month eq "03"` selected ~/if`>मार्च</option>
<option VALUE="4" ~if $month eq "04"` selected ~/if`>अप्रैल</option>
<option VALUE="5" ~if $month eq "05"` selected ~/if`>मई</option>
<option VALUE="6" ~if $month eq "06"` selected ~/if`>जून</option>
<option VALUE="7" ~if $month eq "07"` selected ~/if`>जुलाई</option>
<option VALUE="8" ~if $month eq "08"` selected ~/if`>अगस्त</option>
<option VALUE="9" ~if $month eq "09"` selected ~/if`>सितम्बर</option>
<option VALUE="10" ~if $month eq "10"` selected ~/if`>अक्तूबर</option>
<option VALUE="11" ~if $month eq "11"` selected ~/if`>नवम्बर</option>
<option VALUE="12" ~if $month eq "12"` selected ~/if`>दिसम्बर</option>

</select>
&nbsp;&nbsp;
<select name="Year" class="TextBox">
 <option SELECTED VALUE="">साल</option>
<option value="1987" ~if $year eq "1987"` selected ~/if`>1987</option>
<option value="1986" ~if $year eq "1986"` selected ~/if`>1986</option>
<option value="1985" ~if $year eq "1985"` selected ~/if`>1985</option>
<option value="1984" ~if $year eq "1984"` selected ~/if`>1984</option>
<option value="1983" ~if $year eq "1983"` selected ~/if`>1983</option>
<option value="1982" ~if $year eq "1982"` selected ~/if`>1982</option>
<option value="1981" ~if $year eq "1981"` selected ~/if`>1981</option>
<option value="1980" ~if $year eq "1980"` selected ~/if`>1980</option>
<option value="1979" ~if $year eq "1979"` selected ~/if`>1979</option>
<option value="1978" ~if $year eq "1978"` selected ~/if`>1978</option>
<option value="1977" ~if $year eq "1977"` selected ~/if`>1977</option>
<option value="1976" ~if $year eq "1976"` selected ~/if`>1976</option>
<option value="1975" ~if $year eq "1975" OR $year eq ""` selected ~/if`>1975</option>
<option value="1974" ~if $year eq "1974"` selected ~/if`>1974</option>
<option value="1973" ~if $year eq "1973"` selected ~/if`>1973</option>
<option value="1972" ~if $year eq "1972"` selected ~/if`>1972</option>
<option value="1971" ~if $year eq "1971"` selected ~/if`>1971</option>
<option value="1970" ~if $year eq "1970"` selected ~/if`>1970</option>
<option value="1969" ~if $year eq "1969"` selected ~/if`>1969</option>
<option value="1968" ~if $year eq "1968"` selected ~/if`>1968</option>
<option value="1967" ~if $year eq "1967"` selected ~/if`>1967</option>
<option value="1966" ~if $year eq "1966"` selected ~/if`>1966</option>
<option value="1965" ~if $year eq "1965"` selected ~/if`>1965</option>
<option value="1964" ~if $year eq "1964"` selected ~/if`>1964</option>
<option value="1963" ~if $year eq "1963"` selected ~/if`>1963</option>
<option value="1962" ~if $year eq "1962"` selected ~/if`>1962</option>
<option value="1961" ~if $year eq "1961"` selected ~/if`>1961</option>
<option value="1960" ~if $year eq "1960"` selected ~/if`>1960</option>
<option value="1959" ~if $year eq "1959"` selected ~/if`>1959</option>
<option value="1958" ~if $year eq "1958"` selected ~/if`>1958</option>
<option value="1957" ~if $year eq "1957"` selected ~/if`>1957</option>
<option value="1956" ~if $year eq "1956"` selected ~/if`>1956</option>
<option value="1955" ~if $year eq "1955"` selected ~/if`>1955</option>
<option value="1954" ~if $year eq "1954"` selected ~/if`>1954</option>
<option value="1953" ~if $year eq "1953"` selected ~/if`>1953</option>
<option value="1952" ~if $year eq "1952"` selected ~/if`>1952</option>
<option value="1951" ~if $year eq "1951"` selected ~/if`>1951</option>
<option value="1950" ~if $year eq "1950"` selected ~/if`>1950</option>
<option value="1949" ~if $year eq "1949"` selected ~/if`>1949</option>
<option value="1948" ~if $year eq "1948"` selected ~/if`>1948</option>
<option value="1947" ~if $year eq "1947"` selected ~/if`>1947</option>
<option value="1946" ~if $year eq "1946"` selected ~/if`>1946</option>
<option value="1945" ~if $year eq "1945"` selected ~/if`>1945</option>
<option value="1944" ~if $year eq "1944"` selected ~/if`>1944</option>
<option value="1943" ~if $year eq "1943"` selected ~/if`>1943</option>
<option value="1942" ~if $year eq "1942"` selected ~/if`>1942</option>
<option value="1941" ~if $year eq "1941"` selected ~/if`>1941</option>
<option value="1940" ~if $year eq "1940"` selected ~/if`>1940</option>
<option value="1939" ~if $year eq "1939"` selected ~/if`>1939</option>
<option value="1938" ~if $year eq "1938"` selected ~/if`>1938</option>
<option value="1937" ~if $year eq "1937"` selected ~/if`>1937</option>
<option value="1936" ~if $year eq "1936"` selected ~/if`>1936</option>
<option value="1935" ~if $year eq "1935"` selected ~/if`>1935</option>

</select>
<br><font color="red">
कृपया ध्यान दें - जन्म तिथि बाद में बदली नही जा सकती। 
</font></td>
 </tr>
<!--
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<b>~if $HITSOURCE neq "O"`m.~else`j.~/if`~if $check_education_level eq "Y"`<font color="red"> Highest Degree</font> ~else` Highest Degree~/if`</b>
  </td>
  <td height="40" valign="top" class="mediumblack"><select name="Education_Level" size="1" class="TextBox">
   <option value="" selected>कोई एक विकल्प चुनिए</option>
	~$education_level`
  </select></td>
 </tr>

 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack"><b>~if $HITSOURCE neq "O"`n.~else`k.~/if`~if $check_occupation eq "Y"`<font color="red">Occupation/ Profession</font> ~else` Occupation/ Profession~/if`</b></td>
  <td height="40" valign="top" class="mediumblack"> <select name="Occupation" size="1" class="TextBox">
    <option  value="" >कोई एक विकल्प चुनिए</option>
        ~$occupation`
  </select></td>
 </tr>
-->

 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="income_span">
	<b>i.~if $check_income eq "Y"`<font color="red">वार्षिक आय</font> ~else` वार्षिक आय ~/if`</b>
	</span>
  </td>
  <td height="40" valign="top" class="mediumblack"> <select name="Income" class="TextBox">
    <option value="" selected>कोई एक विकल्प चुनिए</option>
	~$income`
   </select>	
</td>
 </tr>


 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="phone_span"><b>j.~if $check_phone_v eq "1"` <font color= "red">फोन नम्बर<br>~$phone_msg`</font>~else` फोन नम्बर ~/if`</b></span>
  </td>
  <td height="40" valign="top" class="mediumblack">
   <input type="text" name="Phone" value="~$phone`" class="testbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="checkbox" name="Showphone" value="~$showphone`" ~if $showphone eq 'N'` checked ~/if` >
  <span style="cursor:pointer;" onClick="togglecheck(document.form1.Showphone)">कृपया औरो को न दिखाए </span><span class ="blacklinku"><a href="http://www.jeevansathi.com/P/conf_policy.php", target="_blank">(हमारी गोपनीयता नीति पढें)</a></span><br>
</td>
  </tr>

 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="mobile_span"><b>k.~if $check_mobile_v eq "1"` <font color= "red">मोबाइल नम्बर<br>~$mobile_msg`</font>~else` मोबाइल नम्बर~/if` </b></span>
  </td>
  <td height="45" valign="top" class="mediumblack">
  <input type="text" name="Mobile" value="~$mobile`" class="testbox">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="checkbox" name="Showmobile" value="~$showmobile`" ~if $showmobile eq 'N'` checked ~/if`>
	<span style="cursor:pointer;" onClick="togglecheck(document.form1.Showmobile)">कृपया औरो को न दिखाए</span><br> 
<input type="checkbox" name="GET_SMS" value="Y" ~if ($GET_SMS eq "Y" OR $GET_SMS eq "")` checked ~/if`>&nbsp;क्या आप <span class ="blacklinku"><a href="http://www.jeevansathi.com/P/sms_info.php", target="_blank">jeevansathi की मोबाइल SMS सर्विस</a></span> पाना चाहते है?
<!--/a></span--> </td>
 </tr>

 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="country_res_span"><b>l.~if $check_countryres eq "Y"` <font color= "red">निवास देश</font> ~else` निवास देश ~/if`</b></span>
  </td>
  <td height="40" valign="top">
   <select name="Country_Residence" size = "1" class="TextBox" onchange="activate_cityres()";>
    <OPTION value="">कोई एक विकल्प चुनिए</OPTION>
	~$top_country`
        <OPTION value="">&nbsp;</OPTION>
        ~$country_residence`
   </SELECT>
   </td>
  </tr>
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack">
	<span id="city_span"><b>m.~if $check_city_residence eq "Y"` <font color= "red">वर्तमान निवास स्थान</font> ~else` वर्तमान निवास स्थान ~/if`</b></span>
  </td>
  <td height="55" valign="top"><table width="356" border="0" cellspacing="0" cellpadding="2">
   <tr>
    <td width="159" class="mediumblack"><b>अगर भारत है तो</b></td>
    <td width="189" class="mediumblack"><b>If अगर यू एस ए है तो</b></td>
    </tr>
   <tr>
    <td class="mediumblack">
	<select name="City_India" size="1" class="TextBox" ~if $CITY_INDIA neq "Y"`disabled~/if`>
     <option value="" selected>कोई एक विकल्प चुनिए</option>
	~$city_india`
    </select>
	</td>
    <td class="mediumblack">
	<select name="City_USA" size="1" class="TextBox" ~if $CITY_USA neq "Y"`disabled~/if`>
     <option value="" selected>कोई एक विकल्प चुनिए</option>
	~$city_usa`
    </select></td>
    </tr>
  </table></td>
 </tr>

<!--
  <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack"><b>~if $HITSOURCE neq "O"`t.~else`q.~/if`~if $check_information eq "Y"`<font color="red">यहाँ अपना प्रोफाइल संक्षेप में लिखें</font> ~else` यहाँ अपना प्रोफाइल संक्षेप में लिखें ~/if`</b></td>
<td>
<table>
<tr>

  <td valign="top" class="mediumblack" width="100%">
 [ <b>कृपया इसे सावधानीपूर्वक भरें क्योकि यह जानकारी खोज रिजल्ट में दिखाई जाएगी।</b><br>कृपया जानकारी में शामिल करें आपका व्यवसाय व आय, आपका व्यक्तित्व, पारिवारिक जानकारी, लक्ष्य, वेल्युस, जीने का ढंग, आप जिस तरह का पति/पत्नी चाहते है, व अन्य सम्बन्धित जानकारी ]<br>

  <textarea name="Information"  class="testbox" cols="80" rows="6" onKeyup="changeCount();">~$information`</textarea>
	<br>


   <br><span class=class8><a href="" onclick="window.open('other_info_popup.htm','','width=420,height=240');return false;">View Samples </a></Span>


   <table width="383" border="0" cellspacing="1" cellpadding="1">
    <tr>
     <td width="143" class= "mediumblack">No. of characters </td>
     <td width="31"><input name="wordcount" type="text" class="testbox" value="~$CHARACTERS`" size="3" disabled style="border: 1px solid #ffffff;"></td>
     <td width="199" class="smallblack">(minimum 100 characters)</td>
    </tr>
   </table>
   <span class="smallred">(लाइव होने से पहले इस जानकारी की जाँच की जाएगी जिसमे 48 घंटे तक का समय लग सकता है।)</span> <br><br>
</tr>
</table>
   </td>

 </tr>
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack"><b>~if $HITSOURCE neq "O"`u.~else`r.~/if` गोपनीयता विकल्प</b></td>
  <td height="170" valign="top"><table width="90%"  border="0" cellpadding="0" cellspacing="0">
   <tr>
    <td width="20" class="mediumblack" valign="top"><input name="radioprivacy" type="radio" value="A" ~if $RADIOPRIVACY eq "A" || !$RADIOPRIVACY`checked~/if`>
    </td>
    <td width="466" height="18" class="mediumblack">मेरे विस्तृत प्रोफाइल को सभी विजिटर्स देख सकते है(Recommended)</td>
   </tr>
   <tr>
    <td class="mediumblack" valign="top"><input name="radioprivacy" type="radio" value="R" ~if $RADIOPRIVACY eq "R"`checked~/if`></td>
    <td height="18" class="mediumblack">मेरे विस्तृत प्रोफाइल को केवल रजिस्टर्ड सदस्य ही देख पायें </td>
   </tr>
   <tr>
    <td class="mediumblack" valign="top"><input name="radioprivacy" type="radio" value="F" ~if $RADIOPRIVACY eq "F"`checked~/if`></td>
    <td height="18" class="mediumblack">मेरे विस्तृत प्रोफाइल को केवल वो रजिस्टर्ड सदस्य देख पायें जोकि मेरे फिल्टर को पास करेंगे</td>
   </tr>
   <tr>
    <td valign="top" class="mediumblack"><input name="radioprivacy" type="radio" value="C" ~if $RADIOPRIVACY eq "C"`checked~/if`>
    </td>
    <td height="18" class="mediumblack">मेरा विस्तृत या संक्षिप्त प्रोफाइल किसी भी सदस्य को न दिखायें, मैं खुद ही प्रोफाइल सम्पर्क या खोज करूँगा</td>
   </tr>
   <tr>
    <td></td>
    <td><span class="smallred">नोटःकृपया ध्यान दें कि पहले तीन विकल्पों में आपका संक्षिप्त प्रोफाइल सभी विजिटर्स देख सकेंगे। यह आपका सदस्य नाम, उम्र, कद, जाति, व्यवसाय, शहर व प्रोफाइल में अपडेशन की तिथि दिखाएगा। यह जानकारी पहिचानने के लिए काफी नही है। यघपि अगर आप चौथा विकल्प चुनते है तो आपका संक्षिप्त प्रोफाइल भी किसी को नही दिखाया जाएगा।</span></td>
   </tr>
  </table></td>
 </tr>-->
 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top" class="mediumblack"><b>क्या आप लेना चाहते है?</b></td>
  <td height="40" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="2">
   <tr>
    <td width="5%"><input type="checkbox" name="checkboxalert1" value="A" ~if $CHECKBOXALERT1 eq 'A'`checked~/if`></td>
    <td width="24%" class="mediumblack">मैचिंग अर्ल्ट</td>
    <td width="5%"><input type="checkbox" name="checkboxalert2" value="S" ~if $CHECKBOXALERT2 eq 'S'`checked~/if`></td>
    <td width="27%" class="mediumblack">सर्विस संदेश</td>
    <td width="5%"><input type="checkbox" name="checkboxalert3" value="S" ~if $CHECKBOXALERT3 eq 'S'`checked~/if`></td>
    <td width="34%" class="mediumblack">प्रमोशनल संदेश</td>
   </tr>
  </table></td>
 </tr>
</table>
<table width="85%"  border="0" cellspacing="0" cellpadding="1">
 <tr>
  <td colspan="3" height="1" class="bgsgrey"></td>
 </tr>
 <tr>
  <td colspan="3" height="10"></td>
  </tr>
 <tr>

  <td width="5%"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="30" height="1"></td>
  <td width="3%"><input type="checkbox" name="termscheckbox" checked ></td>
  <td width="92%"><span id="term_span"><FONT face=arial size=-1>मुझे सभी     <A href="/P/disclaimer.php?checksum=" target="_blank">नियम व शर्तें</A> स्वीकार है और मैने <A href="/P/privacy_policy.php?checksum=" target="_blank">गोपनीयता नीति</A>.भी पढ व समझ ली है।</FONT></span></td>
  </tr>

~if $TERMSCHECKBOX eq ""`
<tr>
  <td colspan=2 width="5%"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="30" height="1"></td>
  <td width="92%" class="smallred">आगे बढने से पहले आपको सभी नियम व शर्तें को स्वीकार करना होगा।</td>
  </tr>
~/if`

</table>
<br>
<table width="85%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td class="smallblack"><div align="center"><br>
      <input type="submit" name="Submit" value="मेरा रजिस्ट्रेशन पूरा करें">
  </div></td>
 </tr>
</table>

~$FOOT`
</form>
</body>
</html>
