<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Jeevansathi Matrimonials - JeevanSathi Horoscope</title>
<link rel="stylesheet" href="/profile/css/~$comm_style_css`" type="text/css">
<style type="text/css">
.ot{height:198px; border:1px solid #DAC27A; background-image:url(~$IMG_URL`/profile/ser4_images/com_bg.gif)}
.ipic{background-image:url(~$IMG_URL`/profile/ser4_images/com_bg_main.jpg); width:32%; height:198px; float:right}
.tc{float:left; padding:20px 10px 10px 40px; width:53%}
.bin{margin-top:10px; float:left; width:99%}
.lin{float:left; width:70%}
.sp{width:147px; height:128px; border:1px solid #D7D881; float:right; background-image:url(~$IMG_URL`/profile/ser4_images/com_bg_1.gif) }
.pri{background-color:#F6F7EA; border:1px solid #ADAF68; float:left; width:99%; margin-top:20px}
.prio{float:left; width:100%; border-bottom:1px solid #ADAF68}
.prii{width:20%; float:left; padding:4px}
</style>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body>
<DIV id="dhtmltooltip" class="ttip"></DIV>
<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$tooltip_new_js`" type=text/javascript></SCRIPT>

<div id="container">
<!--HEADER STARTS-->
~$HEAD`
<!--HEADER ENDS-->

<!--QUICK SEARCH STARTS-->
<div class="spacer15">&nbsp;</div>
<!--QUICK SEARCH ENDS-->

<!--WRAPPER STARTS HERE-->
<div id="wrapper">
<!--LEFT PANNEL STARTS HERE-->
~$LEFTPANEL`
<!--LEFT PANNEL ENDS HERE-->

<!--CENTER STARTS HERE-->
<div id="center">
<div class="ot">
<div class="ipic">&nbsp;</div>
<div class="tc">
<div style="font:normal 21px verdana,arial;padding:4px;">Check Your Astro Compatibility
  <hr>
</div>
<div style="font:normal 14px verdana,arial; padding:4px;">Find out if that "special someone" is right for you. We will give you a detailed report on how compatible you both are.</div>
<div class="pad4">

<form name="compatibility_form" action="~$SITE_URL`/profile/payment.php" method="POST">
  <input type="hidden" name="type" value="A">
  <input type="hidden" name="skip_to_compatibility" value="1">
  <input type="hidden" name="ser_main" value="P">
  <input type="hidden" name="checksum" value=~$CHECKSUM`>
  <input type="submit" name="Submit" value="Buy Astro Compatibility Services" class="buttonor" style="width:230px ">
</form>
</div></div>
</div>
<div class="bin">
<div style="float:right;width:28%">
<div class="sp">
<div align="center" class="pad4"><img src="~$IMG_URL`/profile/ser4_images/com_sample.gif"></div>
<div class="bele bluelink pad4" align="center"><a href="~$SITE_URL`/static/compatibilitysample" target="_blank">Download a Sample Compatibility report</a></div>
</div>

</div>

<div style="float:left; width:70%" class="bele">
  <p>Check your astro compatibility with every user that you feel would be the 
  right match for you. Compatibility based on astrological calculations 
  lets you know how compatible you are with the other person based 
  on the horoscope charts and birth details.<br>
  <br> 
  1. Would your partner respect you?
  <br>
  2. Would your wave length match?
  <br>
  3. What obstacles would you both face as a couple?<br>
    4. Would you have an ill affinity toward each other?
    <br>
    5. Would there be any misfortunes during your life journey as a couple?
     
    <br>
    <br>
    <b>Get answers to all these question and more!!!!!!!!</b></p>
  </div>
</div>
<div  class="bele pri">
<div class="pad2" style="background-color:#D7D983"><b>Pricing For Compatibility Report</b></div>
<div class="prio">
<div class="prii">&nbsp;</div>
<div class="prii">INR</div>
<div class="prii">US dollar</div>
</div>
<div class="spacer1">&nbsp;</div>
<div class="prio">
<div class="prii">9 months</div>
<div class="prii">Rs. 1300</div>
<div class="prii">$44</div>
</div>
<div class="spacer1">&nbsp;</div>
<div class="prio">
<div class="prii">6 months</div>
<div class="prii">Rs. 900</div>
<div class="prii">$30 </div>
</div>
<div class="spacer1">&nbsp;</div>
<div class="prio">
<div class="prii">4 months</div>
<div class="prii">Rs. 600</div>
<div class="prii">$20</div>
</div>
<div class="spacer1">&nbsp;</div>
<div class="prio">
<div class="prii">3 months</div>
<div class="prii">Rs. 450</div>
<div class="prii">$15</div>
</div>
<div class="spacer1">&nbsp;</div>
<div class="prio">
<div class="prii">2 months</div>
<div class="prii">Rs. 300</div>
<div class="prii">$10</div>
</div>
</div>
<div style="float:left; width:98%; margin-top:20px;" class="pad4 wele">
<form name="compatibility_form" action="~$SITE_URL`/profile/payment.php" method="POST">
  <input type="hidden" name="type" value="A">
  <input type="hidden" name="skip_to_compatibility" value="1">
  <input type="hidden" name="ser_main" value="P">
  <input type="hidden" name="checksum" value=~$CHECKSUM`>
  <input type="submit" name="Submit" value="Buy Astro Compatibility Services" class="buttonor" style="width:230px ">
</form>
  </div>

</div>
<!--CENTER ENDS HERE-->
</div>
<!--WRAPPER ENDS HERE-->
~$FOOT`

</div>
</body>
</html>

