<html>
<head>
<title>JeevanSathi Matrimonials - Jeevansathi horoscope service form</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="http://www.jeevansathi.com/P/IN/styles.php" type="text/css">
<script language="JavaScript">
        function callCityLocator(no)
                {
                        val='city.php?cityflag='+no;
                        cityLocator = window.open(val,'','height=257,width=411,toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=0,top=0,left=0');
                }
        function validate()
        {
                var str=document.form1;
                var elem;
                for(var i=0;i<str.elements.length;i++)
                {
                        if(str.elements[i].name=='birth_place')
                        {
                                elem= str.elements[i];
                        }
                }
                if(elem.value=='')
                {
                        alert ("Please select City using Birth Place Locator");
                        return false;
                }
                else
                        return true;
        }

</SCRIPT>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
 ~$HEAD` ~$SUBHEADER`~$LEFTPANEL`
   <table width="78%" height="1110" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
  <td valign="top">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
 <tr>
  <td height="18" class="headbigblack"><b> ~if $ASTRO eq "H,K"` Horoscope and Kundali Matcher Service ~elseif $ASTRO eq "H"` Horoscope Service ~elseif $ASTRO eq "K"` Kundali Matcher Service ~else` Horoscope and Kundali Matcher Service ~/if`</b> </td>
 </tr>
 <tr>
  <td height="1" bgcolor="#CC0033"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="1" height="1"></td>
 </tr>
 <tr>
  <td height="8"><br>
   <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
     <td class=mediumblack><div align="center"><b>To activate your ~if $ASTRO eq "H,K"` Horoscope and Kundali Matcher Service ~elseif $ASTRO eq "H"` Horoscope Service ~elseif $ASTRO eq "K"` Kundali Matcher Service ~else` Astro Match~/if`, please provide the following information:</b></div></td>
    </tr>
   </table>
   <br>
   <table width="324" border="0" align="center" cellpadding="3" cellspacing="3">
   <tr>
    <td width="135" class="mediumblack"><b> Date of Birth </b> </td>
    <td width="168" class="mediumblack">~$DTOFBIRTH` </td>
   </tr>
   <tr>
    <td class="mediumblack"><b> Birth Hour </b> </td>
    <td><select name=Hour_Birth class="TextBox">
     <option value="" selected ><font size="2">Select Hour</font></option>
     <option value="00" ~if $HOUR_BIRTH eq "00"` selected ~/if`><font size="2">00</font></option>
     <option value="01" ~if $HOUR_BIRTH eq "01"` selected ~/if`><font size="2">01</font></option>
     <option value="02" ~if $HOUR_BIRTH eq "02"` selected ~/if`><font size="2">02</font></option>
     <option value="03" ~if $HOUR_BIRTH eq "03"` selected ~/if`><font size="2">03</font></option>
     <option value="04" ~if $HOUR_BIRTH eq "04"` selected ~/if`><font size="2">04</font></option>
     <option value="05" ~if $HOUR_BIRTH eq "05"` selected ~/if`><font size="2">05</font></option>
     <option value="06" ~if $HOUR_BIRTH eq "06"` selected ~/if`><font size="2">06</font></option>
     <option value="07" ~if $HOUR_BIRTH eq "07"` selected ~/if`><font size="2">07</font></option>
     <option value="08" ~if $HOUR_BIRTH eq "08"` selected ~/if`><font size="2">08</font></option>
     <option value="09" ~if $HOUR_BIRTH eq "09"` selected ~/if`><font size="2">09</font></option>
     <option value="10" ~if $HOUR_BIRTH eq "10"` selected ~/if`><font size="2">10</font></option>
     <option value="11" ~if $HOUR_BIRTH eq "11"` selected ~/if`><font size="2">11</font></option>
     <option value="12" ~if $HOUR_BIRTH eq "12"` selected ~/if`><font size="2">12</font></option>
     <option value="13" ~if $HOUR_BIRTH eq "13"` selected ~/if`><font size="2">13</font></option>
     <option value="14" ~if $HOUR_BIRTH eq "14"` selected ~/if`><font size="2">14</font></option>
     <option value="15" ~if $HOUR_BIRTH eq "15"` selected ~/if`><font size="2">15</font></option>
     <option value="16" ~if $HOUR_BIRTH eq "16"` selected ~/if`><font size="2">16</font></option>
     <option value="17" ~if $HOUR_BIRTH eq "17"` selected ~/if`><font size="2">17</font></option>
     <option value="18" ~if $HOUR_BIRTH eq "18"` selected ~/if`><font size="2">18</font></option>
     <option value="19" ~if $HOUR_BIRTH eq "19"` selected ~/if`><font size="2">19</font></option>
     <option value="20" ~if $HOUR_BIRTH eq "20"` selected ~/if`><font size="2">20</font></option>
     <option value="21" ~if $HOUR_BIRTH eq "21"` selected ~/if`><font size="2">21</font></option>
     <option value="22" ~if $HOUR_BIRTH eq "22"` selected ~/if`><font size="2">22</font></option>
     <option value="23" ~if $HOUR_BIRTH eq "23"` selected ~/if`><font size="2">23</font></option>
    </select></td>
   </tr>
   <tr>
    <td class="mediumblack"><b> Birth Minute</b> </td>
    <td><SELECT name=Min_Birth class="TextBox">
     <OPTION value="" selected >Select Min</OPTION>
     <OPTION value="00" ~if $MIN_BIRTH eq "00"` selected ~/if`>00</OPTION>
     <OPTION value="01" ~if $MIN_BIRTH eq "01"` selected ~/if`>01</OPTION>
     <OPTION value="02" ~if $MIN_BIRTH eq "02"` selected ~/if`>02</OPTION>
     <OPTION value="03" ~if $MIN_BIRTH eq "03"` selected ~/if`>03</OPTION>
     <OPTION value="04" ~if $MIN_BIRTH eq "04"` selected ~/if`>04</OPTION>
     <OPTION value="05" ~if $MIN_BIRTH eq "05"` selected ~/if`>05</OPTION>
     <OPTION value="06" ~if $MIN_BIRTH eq "06"` selected ~/if`>06</OPTION>
     <OPTION value="07" ~if $MIN_BIRTH eq "07"` selected ~/if`>07</OPTION>
     <OPTION value="08" ~if $MIN_BIRTH eq "08"` selected ~/if`>08</OPTION>
     <OPTION value="09" ~if $MIN_BIRTH eq "09"` selected ~/if`>09</OPTION>
     <OPTION value="10" ~if $MIN_BIRTH eq "10"` selected ~/if`>10</OPTION>
     <OPTION value="11" ~if $MIN_BIRTH eq "11"` selected ~/if`>11</OPTION>
     <OPTION value="12" ~if $MIN_BIRTH eq "12"` selected ~/if`>12</OPTION>
     <OPTION value="13" ~if $MIN_BIRTH eq "13"` selected ~/if`>13</OPTION>
     <OPTION value="14" ~if $MIN_BIRTH eq "14"` selected ~/if`>14</OPTION>
     <OPTION value="15" ~if $MIN_BIRTH eq "15"` selected ~/if`>15</OPTION>
     <OPTION value="16" ~if $MIN_BIRTH eq "16"` selected ~/if`>16</OPTION>
     <OPTION value="17" ~if $MIN_BIRTH eq "17"` selected ~/if`>17</OPTION>
     <OPTION value="18" ~if $MIN_BIRTH eq "18"` selected ~/if`>18</OPTION>
     <OPTION value="19" ~if $MIN_BIRTH eq "19"` selected ~/if`>19</OPTION>
     <OPTION value="20" ~if $MIN_BIRTH eq "20"` selected ~/if`>20</OPTION>
     <OPTION value="21" ~if $MIN_BIRTH eq "21"` selected ~/if`>21</OPTION>
     <OPTION value="22" ~if $MIN_BIRTH eq "22"` selected ~/if`>22</OPTION>
     <OPTION value="23" ~if $MIN_BIRTH eq "23"` selected ~/if`>23</OPTION>
     <OPTION value="24" ~if $MIN_BIRTH eq "24"` selected ~/if`>24</OPTION>
     <OPTION value="25" ~if $MIN_BIRTH eq "25"` selected ~/if`>25</OPTION>
     <OPTION value="26" ~if $MIN_BIRTH eq "26"` selected ~/if`>26</OPTION>
     <OPTION value="27" ~if $MIN_BIRTH eq "27"` selected ~/if`>27</OPTION>
     <OPTION value="28" ~if $MIN_BIRTH eq "28"` selected ~/if`>28</OPTION>
     <OPTION value="29" ~if $MIN_BIRTH eq "29"` selected ~/if`>29</OPTION>
     <OPTION value="30" ~if $MIN_BIRTH eq "30"` selected ~/if`>30</OPTION>
     <OPTION value="31" ~if $MIN_BIRTH eq "31"` selected ~/if`>31</OPTION>
     <OPTION value="32" ~if $MIN_BIRTH eq "32"` selected ~/if`>32</OPTION>
     <OPTION value="33" ~if $MIN_BIRTH eq "33"` selected ~/if`>33</OPTION>
     <OPTION value="34" ~if $MIN_BIRTH eq "34"` selected ~/if`>34</OPTION>
     <OPTION value="35" ~if $MIN_BIRTH eq "35"` selected ~/if`>35</OPTION>
     <OPTION value="36" ~if $MIN_BIRTH eq "36"` selected ~/if`>36</OPTION>
     <OPTION value="37" ~if $MIN_BIRTH eq "37"` selected ~/if`>37</OPTION>
     <OPTION value="38" ~if $MIN_BIRTH eq "38"` selected ~/if`>38</OPTION>
     <OPTION value="39" ~if $MIN_BIRTH eq "39"` selected ~/if`>39</OPTION>
     <OPTION value="40" ~if $MIN_BIRTH eq "40"` selected ~/if`>40</OPTION>
     <OPTION value="41" ~if $MIN_BIRTH eq "41"` selected ~/if`>41</OPTION>
     <OPTION value="42" ~if $MIN_BIRTH eq "42"` selected ~/if`>42</OPTION>
     <OPTION value="43" ~if $MIN_BIRTH eq "43"` selected ~/if`>43</OPTION>
     <OPTION value="44" ~if $MIN_BIRTH eq "44"` selected ~/if`>44</OPTION>
     <OPTION value="45" ~if $MIN_BIRTH eq "45"` selected ~/if`>45</OPTION>
     <OPTION value="46" ~if $MIN_BIRTH eq "46"` selected ~/if`>46</OPTION>
     <OPTION value="47" ~if $MIN_BIRTH eq "47"` selected ~/if`>47</OPTION>
     <OPTION value="48" ~if $MIN_BIRTH eq "48"` selected ~/if`>48</OPTION>
     <OPTION value="49" ~if $MIN_BIRTH eq "49"` selected ~/if`>49</OPTION>
     <OPTION value="50" ~if $MIN_BIRTH eq "50"` selected ~/if`>50</OPTION>
     <OPTION value="51" ~if $MIN_BIRTH eq "51"` selected ~/if`>51</OPTION>
     <OPTION value="52" ~if $MIN_BIRTH eq "52"` selected ~/if`>52</OPTION>
     <OPTION value="53" ~if $MIN_BIRTH eq "53"` selected ~/if`>53</OPTION>
     <OPTION value="54" ~if $MIN_BIRTH eq "54"` selected ~/if`>54</OPTION>
     <OPTION value="55" ~if $MIN_BIRTH eq "55"` selected ~/if`>55</OPTION>
     <OPTION value="56" ~if $MIN_BIRTH eq "56"` selected ~/if`>56</OPTION>
     <OPTION value="57" ~if $MIN_BIRTH eq "57"` selected ~/if`>57</OPTION>
     <OPTION value="58" ~if $MIN_BIRTH eq "58"` selected ~/if`>58</OPTION>
     <OPTION value="59" ~if $MIN_BIRTH eq "59"` selected ~/if`>59</OPTION>
    </SELECT></td>
   </tr>
   <tr>
    <td class="mediumblack"><b>Place of birth </b></td>
    <td><input type="button" name="button_birth" class="testbox" value="    Birth place locator    " onClick="callCityLocator(1)"></td>
<input type="hidden" name="birth_place" value="">
<input type=hidden name="birth_country" value="">
<input type="hidden" name="astro" value="~$ASTRO`">
   </tr>
   <tr>
    <td class="bigblack">&nbsp;</td>
    <td><input name="Submit" type="submit" value="Activate"></td>
   </tr>
  </table></td>
 </tr>
</table>
</td>
 </tr>
</table>


</form>
<br>
~$SUBFOOTER` <br>
<br>
<br>
~$FOOT`
</body>
</html>

