
<table cellpadding="1" cellspacing="1"><tr>
	<td> <span id="FAV_ICON_~$FAV_ID`" ~if $FAV_ICON neq 1` style="display:none" ~/if` ><img src="~$IMG_URL`/img_revamp/ic_add_favourite.gif" border="0" title="Shortlisted member">&nbsp;</span></td>
	<td><span id="IGN_ICON">~if $IGN_ICON`<img src="~$IMG_URL`/img_revamp/ic_ignore.gif" border="0" title="Ignored member">&nbsp;</span>~/if`</span>
	<td><span id="PHONEMOB_ICON">~if $MOB_ICON`<img src="~$IMG_URL`/img_revamp/ic_varified_phone_no.gif" border="0" title="Verified phone number">&nbsp;~/if`</span></td>
	<td><span id="INV_ICON">~if $INV_PH`<img src="~$IMG_URL`/img_revamp/ic_invalid_phone_no.gif" border="0" title="Invalid phone number">&nbsp;~/if`</span></td>
	<TD><span id="HOR_ICON">~if $HOR_ICON`<a style="cursor:pointer" onclick="return call_dp('IC_~$IC_PROFILEID`')" ><img src="~$IMG_URL`/img_revamp/ic_horoscope.gif" border="0" title="Horoscope available"></a>~if $HOROSCOPE_ASTRO neq ''`<input type ="hidden" name="horo_astro_~$IC_PROFILEID`" value="~$HOROSCOPE_ASTRO`">~/if`&nbsp;~/if`</span></td>
	<td><span id="HIV_ICON">~if $HIV_ICON`<td><img src="~$IMG_URL`/img_revamp/ic_hiv.gif" border="0" title="HIV +ve">&nbsp;~/if`</span></td>
	<td><span id="LAND_ICON">~if $LAND_ICON`<img src="~$IMG_URL`/img_revamp/icon_favorite.gif" border="0" title="Landline Verifed">&nbsp;~/if`</span></td>
	<td><span id="LAGAN_ID_~$IC_PROFILEID`"></span></td>
        </tr></table>
