<html>
<head>
<title>JeevanSathi Matrimonials - Upload Photographs</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/P/IN/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">

	~$HEAD`
~$LEFTPANEL`
		<table width="78%" height="1110"border="0" align="center" cellpadding="0" cellspacing="0" align="center">
			<tr>
               <td valign="top">

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td height="4"></td>
       <SPACER height="4" type="block"></SPACER> </tr>
      <tr>
       <td class="headbigblack"><b>Upload Photo </b></td>
      </tr>
      <tr class="bgred">
       <td height="1"></td>
       <SPACER height="1" type="block"></SPACER> </tr>
        <tr>
       <td height="8"></td>
       <SPACER height="8" type="block"></SPACER> </tr>
     </table></td>
                </tr>
                <tr>
                <td valign=top height="14"><spacer type="block" height="14"></td>
                </tr>
                <tr>
                  <td>~$MSG`</td>
                </tr>
              </table></td>
	     <!--TD class=small vAlign=center >~$MSG`</td-->
  </tr>
</table>
</td>
</tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
