<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Jeevansathi Matrimonials- Search Results</title>
<link rel="stylesheet" href="css/~$comm_style_css`" type="text/css">
<style type="text/css">
.pghd{float:left; width:99% }
.r14{font:bold 14px verdana,Arial; color:#CC0000; padding-top:5px}

</style>
~include file="../jeevansathi/google_analytics.htm"`</head>

<body>
<DIV id="dhtmltooltip" class="ttip"></DIV>
<SCRIPT language=JavaScript1.2 src="~$IMG_URL`/profile/js/~$tooltip_new_js`" type=text/javascript></SCRIPT>
<div id="container">
	<!--HEADER STARTS-->
	~$HEAD`
	<!--HEADER ENDS-->

	<!--QUICK SEARCH STARTS-->
	<div class="spacer15">&nbsp;</div>
	<!--QUICK SEARCH ENDS-->

	<!--WRAPPER STARTS HERE-->
	<div id="wrapper">
		<!--LEFT PANNEL STARTS HERE-->
		~$LEFTPANEL`
		<!--LEFT PANNEL ENDS HERE-->

		<!--CENTER STARTS HERE-->
		<div id="center">
			<div class="pghd">
				<div class="r14"><img src="images/error_1.gif" width="21" height="21"> <font color="#FF0000">Important!</font></div>
				<div class="spacer15" style="border-top:1px solid #000000; margin-top:5px;" >&nbsp;</div>
				<div class="greyele bluelink lh" style=" height:100px; "><span class="greytwe"><b>Sorry, you cannot Upgrade to a Full Membership unless you complete <br>
   ALL your Profile details.</b><br>
  <br>
 To complete your profile details just</p>
</span><br>
<div align="left"><a href="/P/viewprofile.php?checksum=~$CHECKSUM`&username=~$USERNAME`"><img src="~$IMG_URL`/P/images/newbill/edit_profile_button.gif" width="133" height="23" border="0"></a></div>
				</div>

				~if $customised_username eq 1`
					<div class="spacerg" style="margin-top:80px ">&nbsp;</div>
				~else`
					<div class="spacer15">&nbsp;</div>
					<div class="spacerg">&nbsp;</div>
				~/if`
				
				~if $customised_username eq 1`
					<div class="btwe">~$link`</div>
				~else if $url`
					<div class="btwe" style="margin-top:10px "><b>~$link`</b></div>
				~/if`

				</div>

		</div>
		<!--CENTER ENDS HERE-->
	</div>
	<!--WRAPPER ENDS HERE-->
	~$FOOT`
</div>
</body>
</html>
~

