<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jeevansathi</title>
<link href="~$SITE_URL`/min/?f=/profile/css/thickbox.css,/profile/css/home_page_sulekha_style.css,/profile/css/hdr_sulekha.css" rel="stylesheet" type="text/css" />
<style>
.main_cont {
	width:943px;
}
.wht_bdr {
	width:659px;
}
.h_f11 {
	width:147px;
}
.below_reg_step {
	width:943px;
}
.below_reg_step .left_cont {
	width:558px;
}
ul.jeevan_mem {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:330px;
}
ul.jeevan_mem li {
	float:left;
	width:96.9%;
	background:url(~$IMG_URL`/images/li_bg_img.gif) no-repeat 0 4px;
	padding-left:10px;
	margin:0 0 2px;
}
</style>
<style>
* {
	margin:0;
	padding:0;
	float:none;
}
</style>
<style>
.sul_ftr {
	width:976px;
	margin:auto;
	border-top:1px solid #000; padding-top:15px;
}
.sul_ftr ul.sul {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
.sul_ftr ul.sul li {
	float:left;
	font:13px Arial, Helvetica, sans-serif;
	border-right:1px;
	size: #000;
	margin-right:10px;
}
.sul_ftr ul.sul li a {
	color:#214A75;
	float:left;
	text-decoration:none;
}
.sul_ftr .copyrite{font:11px Arial, Helvetica, sans-serif;}
.sul_ftr  b{color:#a40d98; padding-left:5px;}
</style>
<script type = "text/javascript" src = "~$JQUERY_JS`"></script>
<SCRIPT type="text/javascript" language="Javascript" SRC="~$SITE_URL`/min/?f=/profile/js/revampCommon.js,/profile/js/thickbox.js,/profile/js/~$topSearchBand_js` "></SCRIPT>
<script>
	function MM_openFAQWindow(theURL,winName,features)
        {
		window.open(theURL,'jeevansathi','width=600,height=450,resizable=1,scrollbars=1');
	}
</script>

</head>
<body style="margin:0; padding:0;">
<noscript><div style="position:fixed;z-index:1000;width:100%"><div style="text-align:center;padding-bottom:3px;font-family:verdana,Arial;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;background-color:#E5E5E5;"><b><img src="~$IMG_URL`/profile/images/registration_new/error.gif" width="23" height="20"> Javascript is disabled in your browser.Due to this certain functionalities will not work. <a href="~$SITE_URL`/P/js_help.htm" target="_blank">Click Here</a> , to know how to enable it.</b></div></div></noscript>
        <script>window.onload=check_thickbox_command</script>
<div class="sul_hdr ">
  <div class="bg sprite_sul">
    <div class="lft_cur sprite_sul fl"> </div>
    <div class="lft_lg_bg sprite_sul fl"><a href="http://www.sulekha.com/" style="color:#fff;" title="Sulekha.com"> Sulekha.com </a></div>
    <div class="lft_cur_sdw sprite_sul fl"> </div>
    <p>Welcome to Sulekha Classifieds, the largest online Classifieds Portal in India.</p>
    <div class="rgt_cur sprite_sul fr"> </div>
    <div class="lft_lg_bg sprite_sul fr"><div class="f11"><a href="http://blogs.sulekha.com/" style="color:#fff; margin-right:6px; font-weight:normal" class="fl">Blogs</a><i class="str sprite_sul fl">&nbsp;</i><a href="http://classifieds.sulekha.com/" style="color:#fff;margin-right:6px; font-weight:normal" class="fl">Classifieds</a><i class="str sprite_sul fl">&nbsp;</i><a href="http://yellowpages.sulekha.com/" style="color:#fff; font-weight:normal" class="fl">Yellowpages</a></div></div>
    <div class="rgt_cur_sdw sprite_sul fr"> </div>
  </div>
  <!--curves starts here-->
  <div style="height:5px;">
    <div style="margin:0 5px; border-width:1px 0 0 0; margin-bottom:-1px;" class="c"></div>
    <s class="c c1"></s> <s class="c c2"></s> <s class="c c3"></s> <s class="c c4"></s> </div>
  <div style="width:99.7%; float:left; border:1px solid #9a9a9a; border-width:0 1px; margin-top:0; _margin-top:-1px;">
    <div class="sul_lgo fl sprite_sul"></div>
    <div class="fl lgo_text"><a href="http://classifieds.sulekha.com/" style="color:#787575;">Classifieds</a> &amp; <a href="http://yellowpages.sulekha.com" style="color:#787575;">Yellow Pages</a> </div>
    <div class="fr pwrd_by sprite_sul"> </div>
    <div class="clr"></div>
    <ul class="sul_nav">
      <li><a href="http://classifieds.sulekha.com/real-estate/home.aspx"><i>&nbsp;</i><b>Real Estate</b></a></li>

      <li><a href="http://classifieds.sulekha.com/rentals/home.aspx"><i>&nbsp;</i><b>Rentals</b></a></li>

      <li><a href="http://yellowpages.sulekha.com/home-services/532.htm"><i>&nbsp;</i><b>Home Services</b></a></li>

      <li><a href="http://yellowpages.sulekha.com/business-services/601.htm"><i>&nbsp;</i><b>Business Services</b></a></li>

      <li><a href="http://classifieds.sulekha.com/automobiles/home.aspx"><i>&nbsp;</i><b>Cars/Bikes</b></a></li>

      <li><a href="http://yellowpages.sulekha.com/tours-travel/523.htm"><i>&nbsp;</i><b>Travel</b></a></li>

      <li><a href="http://yellowpages.sulekha.com/computers-mobiles/527.htm"><i>&nbsp;</i><b>Computers/Mobiles</b></a></li>

      <li><a href="http://yellowpages.sulekha.com/personal-finance/530.htm"><i>&nbsp;</i><b>Loans/Finance</b></a></li>

      <li><a href="http://www.jeevansathi.com/index.php?source=sulekha" class="active"><i>&nbsp;</i><b>Matrimony</b></a></li>
      <li><a href="http://www.careerbuilder.co.in/IN/Default.aspx?pagever=sulekha&amp;lr=int_insulekha&amp;siteid=int_inSulekha"><i>&nbsp;</i><b>Premium Jobs</b></a></li>

      <li><a href="http://yellowpages.sulekha.com/coaching-training/535.htm"><i>&nbsp;</i><b>Coaching</b></a></li>

      <li><a href="http://classifieds.sulekha.com/buy-sell/home.aspx"><i>&nbsp;</i><b>Buy/Sell</b></a></li>
      <li><a href="http://yellowpages.sulekha.com/find-it-on-sulekha.html"><i>&nbsp;</i><b>Free Quotes</b></a></li>
    </ul>
    <div class="clr"></div>
    <div style="background:#f9ed99; width:100%; float:left; border-bottom:1px solid #000; height:24px; overflow:hidden;">
    <ul class="sub_matri" style="width:740px;">
      <li><a href="/profile/before_log.php?page=1" class="thickbox">My Jeevansathi</a></li>

      <li><a href="/profile/before_log.php?page=2" class="thickbox">My Contacts</a></li>

      <li><a href="/profile/before_log.php?page=3" class="thickbox">My Profile</a></li>

      <li><a href="/profile/mem_comparison.php?from_source=Membership_page_link_just_above_search">Membership</a></li>

      <li><a href="/success/success_stories.php">Success Stories</a></li>
    </ul>
    <ul class="sub_matri" style="float:right; width:221px;">
          <li style="border-left: 1px solid #000"><a href="/profile/login.php?SHOW_LOGIN_WINDOW=1" class="thickbox">Login</a></li>
                <li><a href="/profile/contact.php">Contact Us</a></li>
                      <li style="border-right:none;"><a href="/P/faq_other.php?width=512&checksum=" class="thickbox">Feedback</a></li>
                          </ul>

    </div>
  </div>
  <!--curves ends here-->
</div>
<div class="clr"></div>
<div class="main_cont">
  <div class="mt_10">
    <div class="clr"></div>
	<div id="topSearchBand"></div>
	<!-- Removed SEARCHBAND from IFRAME
    <iframe src="~$SITE_URL`/profile/topSearchBand.php?checksum=&searchid=&source=sulekha" width="943" height="70" class="mt_15" scrolling="no" frameborder="0"></iframe>
	-->
  </div>
  <div class="fr mt_4">
    <div class="fl b_ar ml_17 d_inl"></div>
    <a href="~$SITE_URL`/P/advance_search.php">Advanced Search</a></div>
  <div class="fr mt_4 ml_17">
    <div class="fl b_ar"></div>
    <span id="search_by_id" style="position:relative;width:200px;z-index:100" onclick="javascript:check_window('search_by_id_sulekha(\'hide\')')">
    <a href="#" onclick="search_by_id_sulekha('show');return false;">Search by profile id</a>
    </span></div>
  
  <div class="clr" style="height:15px;"></div>
  <div class="fl" style="margin-right:30px;"> <img src="~$IMG_URL`/images/home_banner.jpg" class="fl" /> </div>
  <div class="log_in fl mt_35 ml_17">
    <div align="center" style="margin-top:-19px;" class="p_rel_z"><b class="gry">Existing User - Login Now</b></div>
    <form name="login" action="~$SITE_URL`/profile/login.php" method="post">
    <div class="mt_10" style="padding:15px 20px;"> Email ID/User ID
    <input type="hidden" name="submit" value="Go">
    <input type="hidden" name="from_homepage" value="1">
    <input type="hidden" name="login_from" value="H">

      <input name="username" type="text" class="txt1 mb_5"/>
      <br />
      Password<br />
      <input name="password" type="password" class="txt1 mb_5" />
      <br />
      <div class="mb_5">
        <input type="checkbox" style="border:0;" />
        Remember me</div>
      <input type="submit" name="submit" value="&nbsp;" class="lg_btn" style="border:0;" />
      <a href="/P/logout.php?SHOW_FGT_WINDOW=1&width=350&home=1" class='thickbox'>Forgot Password?</a></div>
  </div>
  </form>
  <div class="clr"></div>
  <div class="step_reg">
    <div class="st_l_c fl"></div>
    <div class="wht_bdr fl">
      <div class="fl">
        <div class="point fl d_inl"></div>
        <h3 class="fl">1 &nbsp;&nbsp;Register<br />
          <span class="h_f11 fl">Create your matrimonial profile to receive matches</span></h3>
      </div>
      <div class="fl">
        <div class="point fl d_inl"></div>
        <h3 class="fl">2 &nbsp;&nbsp;Search <br />
          <span class="h_f11 fl">By your criteria of Caste, Religion, Manglik status</span></h3>
      </div>
      <div class="fl">
        <div class="point fl d_inl"></div>
        <h3 class="fl">3 &nbsp;&nbsp;Contact<br />
          <span class="h_f11 fl">View contact details &amp; contact by mail, Chat, SMS </span ></h3>
      </div>
    </div>
    <div class="w_b_r fl"></div>
    <a href="/profile/registration_new.php?source=hpblack" style="cursor:pointer;"><div class="r_b fl"></div></a>
    <div class="st_r_c fr" style="background-position:-478px -83px;"></div>
  </div>
  <div class="below_reg_step fl">
  <div class="fl">
  <h5>Jeevansathi Membership</h5>
  <div style="float:left; width:333px; padding:10px; border:1px solid #e3e3e3;">
    
      <ul class="jeevan_mem">
        <li>Contact Members</li>
        <li>View Contact Details of accepted members</li>
        <li>Send messages along with your Contact Details</li>
        <li>Start online Chat</li>
        <li>Let others see your contact details</li>
      </ul><div class="clr"></div>
      <div class="fl d_inl" style="margin-left:53px;">
      <a href="/profile/mem_comparison.php"><img src="~$IMG_URL`/images/buy_jvn_mem_btn.gif" /></a>
      </div>
      
    </div>
    </div>    
 
    <div class="fr">
    <h5>Matched by Jeevansathi.com</h5>      
      <div class="left_cont fl">
        <ul class="trust">
	~section name=ss loop=$story_arr`
          <li><img src="~$story_arr[ss].HOME_PIC_URL`" width=85 height=55 alt="trust" title="trust" />
            <p><a href="~$SITE_URL`/success/complete_success_stories.php?sid=~$story_arr[ss].SID`">~$story_arr[ss].NAME2`<br />
              weds<br />
              ~$story_arr[ss].NAME1`</a></p>
          </li>
	~/section`
        </ul>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="clr"></div>
<script>
displayResult('','~$SITE_URL`');
$('.thickbox').colorbox();
imgLoader = new Image();// preload image
imgLoader.src = tb_pathToImage;
</script>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-10426389-1");
  pageTracker._trackPageview();
} catch(err) {}</script>

<div class="sul_ftr">
  <ul class="sul">
    <li><a rel="nofollow" title="Advertise with Us" href="http://www.sulekha.com/COLLATERAL/index.htm">Advertise with Us</a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Media" href="http://www.sulekha.com/COLLATERAL/press.htm">Media </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Press" href="http://www.sulekha.com/COLLATERAL/pr_rel.htm">Press </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Terms & Conditions" href="http://www.sulekha.com/COLLATERAL/tc.htm">Terms &amp; Conditions</a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Privacy Policy" href="http://www.sulekha.com/COLLATERAL/tc.htm#privacy">Privacy Policy </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Sitemap" href="http://www.sulekha.com/COLLATERAL/sitemap.htm">Sitemap </a> <b>|</b></li>
    <li><a target="_blank" title="Sulekha B2B" href="http://www.sulekhab2b.com">SulekhaB2B</a> <b>|</b></li>
    </ul>
  <ul class="sul" style="float:right;">
    <li><a rel="nofollow" title="Sulekha Feedback" href="http://www.sulekha.com/COLLATERAL/contact.htm">Feedback </a> <b>|</b></li>
    <li><a rel="nofollow" title="Sulekha Careers" href="http://www.sulekha.com/COLLATERAL/careers.htm">Careers</a> <b>|</b></li>
    <li><a rel="nofollow" title="About Sulekha" href="http://www.sulekha.com/COLLATERAL/about.htm">About Sulekha</a></li>
  </ul>
  <div style="clear:both; height:5px; overflow:hidden;">
  </div>
  <div align="center" class="copyrite">
  &copy; 1998-2008 Copyright Sulekha.com Connecting Indians Worldwide, All Rights Reserved.
  </div>
</div>
<div style="clear:both;height:35px;"></div>
</body>
</html>
