<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Jeevansathi Matrimonials - Form for Input of Matrimonial Data</title>
	<link rel="stylesheet" href="/profile/css/~$comm_style_css`" type="text/css">
	<link rel="stylesheet" href="/profile/css/~$registerstyle_css`" type="text/css">
	<script language="JavaScript" SRC="/profile/~$profile_js`"></SCRIPT>
	<script language="javascript" src="https://www.jeevansathi.com/profile/js/mediaturf.js"></script>
	<script language="JavaScript">
<!--
	function validate_radio(arr)
        {
                var sel = 'N';
                for(var i=0;i<arr.length;i++)
                {
                        if(arr[i].checked==true)
                                sel='Y';
                }
                if(sel=='Y')
                        return true;
                else
                        return false;
        }
	function callCityLocator(no)
	{
		val='city.php?cityflag=1&frominput=1';
		cityLocator = window.open(val,'','height=257,width=411,toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=0,top=0,left=0');
	}
	function validate1()
	{
		var docF=document.form1;
		if(!validate_radio(docF['Body_Type']))
		{
			alert("Please specify Body Type");
			docF['Body_Type'][0].focus();
			return false;
		}
		if(!validate_radio(docF['Complexion']))
		{
			alert("Please specify Complexion");
			docF['Complexion'][0].focus();
			return false;
		}
		if(!validate_radio(docF['Smoke']))
		{
			alert("Please specify whether ~$you` Smoke or not");
			docF['Smoke'][0].focus();
			return false;
		}
		if(!validate_radio(docF['Drink']))
		{
			alert("Please specify whether ~$you` Drink or not");
			docF['Drink'][0].focus();
			return false;
		}
		var sel = -1;
		for (i=0;i<docF.display_horo.length;i++)
		{
			if(docF.display_horo[i].checked)
			{
				sel =i;
			}
		}
		//var horo_option = docF.display_horo[sel].value;
		if (sel == -1)
		{
			alert("Please specify Horoscope Display Option");
			return false;
		}
		var horo_option = docF.display_horo[sel].value;
		var invalid =0;
		var ValidChars = "abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		var cb = docF.City_Birth.value;
		for(var i=0; i < cb.length;i++)
		{
			str_char = cb.charAt(i);
			if(ValidChars.indexOf(str_char) == -1)
				invalid = 1;
		}
		if(invalid==1)
		{
			alert(docF.City_Birth.value + " is not a valid City of Birth");
			docF.City_Birth.focus();
			return false;
		}
		
		if(!validate_radio(docF['Manglik_Status']))
		{
			alert("Please specify Manglik Status");
			docF['Manglik_Status'][0].focus();
			return false;
		}
		if(docF.Address&&trim(docF.Address.value)=="")
		{
			alert("Please specify ~$your` Contact Address");
			docF.Address.focus();
			return false;
		}
		return true;
	}
	function trim(inputString)
	{
		if (typeof inputString != "string")
		{
			return inputString;
		}
		var retValue = inputString;
		var ch = retValue.substring(0, 1);
		while (ch == " ")
		{
			retValue = retValue.substring(1, retValue.length);
			ch = retValue.substring(0, 1);
		}
		ch = retValue.substring(retValue.length-1, retValue.length);
		while (ch == " ")
		{
			retValue = retValue.substring(0, retValue.length-1);
			ch = retValue.substring(retValue.length-1, retValue.length);
		}
		while (retValue.indexOf("  ") != -1)
		{
			retValue = retValue.substring(0, retValue.indexOf("  ")) + retValue.substring(retValue.indexOf("  ")+1, retValue.length);
		}
		return retValue;
	}
	function disable_astroform()
	{
		var sel = -1;
		var docF=document.form1;
		for (i=0;i<docF.display_horo.length;i++)
		{
			if(docF.display_horo[i].checked)
			{
				sel =i;
			}
		}
		var horo_option = docF.display_horo[sel].value;
		if (horo_option == 'Y')
		{
			/*docF.Country_Birth.disabled = 'true';
			docF.City_Birth.disabled = 'true';
			docF.Hour_Birth.disabled = 'true';
			docF.Min_Birth.disabled = 'true';
			docF.button_birth.disabled='true';*/
			document.getElementById('astro_data').style.display="none";
			document.getElementById('astro_msg').style.display="block";
		}
		else
		{
			/*docF.Country_Birth.disabled = false;
			docF.City_Birth.disabled = false;
			docF.Hour_Birth.disabled = false;
			docF.Min_Birth.disabled = false;
			docF.button_birth.disabled=false;*/
			document.getElementById('astro_data').style.display="block";
			document.getElementById('astro_msg').style.display="none";
		}
	}
	function MM_openBrWindow(theURL,winName,features)
	{
		window.open(theURL,winName,features);
	}
	function hide_msg()
	{
		if(document.form1.display_horo.value!='Y')
			document.getElementById('astro_msg').style.display='none';
	}
//-->
	</script>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body onload="hide_msg();">
~if $source=="DGM_amj_08_cpa"`
<img height="1" width="3" src="http://www.s2d6.com/x/?x=s&amp;h=17773&amp;o=ORDERID&amp;s=0.00" [^] alt="" />
~/if`
<div id="container">
	<!--HEADER STARTS-->
	~$SMALL_HEAD`
	<!--HEADER ENDS-->
	<!--WRAPPER STARTS HERE-->
	<div id="wrapper">
		<div style="padding:10px;">
			<div class="roundcont">
<!--				~if $mbchecksum eq ""`
				~else`
					~$HEAD`
				~/if`-->
				<div class="roundtop">
					<img src="~$IMG_URL`/profile/ser4_images/tl.gif" alt="" width="4" height="4" class="corner" style="display: none" />
				</div>
				<p style="line-height:25px ">
					<b>Congratulations!!</b> You have successfully completed the registration process.<br>
					It is important to provide these <b>3 categories of information</b>    for other Jeevansathi members to understand you better.
					~if $NO_OF_ERROR`
						<font color="red" size="2" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;
							<br>There are ~$NO_OF_ERROR` Error(s) in your form. They are marked in red. Please correct them and submit the form again
						</font>
					~/if`
				</p>
				<div class="roundbottom">
					<img src="~$IMG_URL`/profile/ser4_images/bl.gif" alt="" width="4" height="4" class="corner" style="display: none" />
				</div>
			</div>
			<div class="space15">&nbsp;</div>
			<div class="pghd">
				<div id="artab">
					<ul>
						<li>
							<a class="current"  title="About Yourself">
							<div class="lftflow g30">01</div>
							<div class="pd pd1">
								Details About<br>
								Yourself
							</div>
							</a>
						</li>
						<li>
							<a href="~$SITE_URL`/profile/inputprofile1_revamp.php?checksum=~$CHECKSUM`&Submit=1&skip_your_info=1&gender=~$gender`&hit_source=~$hit_source`&tieup_source=~$tieup_source`&maritalstatus=~$maritalstatus`&id=~$ID_AFF`" title="About Partner Profile">
							<div class="lftflow g30" style="cursor:hand">02</div>
							<div class="pd" style="cursor:hand">
								Desired Partner<br>
								Profile
							</div>
							</a>
						</li>
						<li>
							<a href="~$SITE_URL`/profile/inputprofile2_revamp.php?checksum=~$CHECKSUM`&Submit=1&skip_to_aboutfamily=1&gender=~$gender`&hit_source=~$hit_source`&tieup_source=~$tieup_source`&maritalstatus=~$maritalstatus`&id=~$ID_AFF`" title="About Family">
							<div class="lftflow g30" style="cursor:hand">03</div>
							<div class="pd" style="cursor:hand">
								Details About<br>
								Family
							</div>
							</a>
						</li>
					</ul>
				</div>
				<br clear="all">
				<div class="hline">&bull; 
					More than 1 million profiles &nbsp;&nbsp;&nbsp;&nbsp;&bull;100% profile screening&nbsp;&nbsp;&nbsp;&nbsp; &bull;Exclusive privacy features
				</div>
			</div>
			~if $hit_source neq 'O'`
				<form action="/profile/inputprofile1_revamp.php" method="post" name="form1" onsubmit="return validate1();">
			~else`
				<form action="/profile/inputprofile1_revamp.php" method="post" name="form1">
			~/if`
			<input type="hidden" name="gender" value="~$gender`">
			<input type="hidden" name="maritalstatus" value="~$maritalstatus`">
			<input type="hidden" name="hit_source" value="~$hit_source`">
			<input type="hidden" name="tieup_source" value="~$tieup_source`">
			<input type="hidden" name="id" value="~$ID_AFF`">
			<input type="hidden" name="checksum" value="~$CHECKSUM`">
			<input type="hidden" name="BIRTH_YR" value="~$BIRTH_YR`">
			<input type="hidden" name="BIRTH_DAY" value="~$BIRTH_DAY`">
			<input type="hidden" name="BIRTH_MON" value="~$BIRTH_MON`">
			<input type="hidden" name="js_UniqueID" value="~$js_UniqueID`">
			<input type="hidden" name="USERNAME" value="~$USERNAME`">
			<input type="hidden" name="source" value="~$source`">
			<div class="spacer">&nbsp;</div>
			<div style="width:100%;margin-top:10px">
				<div class="lftflow0 o16"> Physical Traits</div>
				<div class="rightflow greyele">* Compulsory Fields </div>
				<div class="spacer1 spo">&nbsp;</div>
				<!--Physical Traits STARTS-->
				<div class="row">
					<div class="r1" >
						~if $check_bodytype eq "Y"`
							<font color= "red">* Body Type:</font>
						~else`
							* Body Type:
						~/if`
					</div>
					<div class="r2">
						<input type="radio" name="Body_Type" value="1" ~if $body eq '1'` checked ~/if`>Slim&nbsp;
						<input type="radio" name="Body_Type" value="2" ~if $body eq '2'` checked ~/if`>Average&nbsp;
						<input type="radio" name="Body_Type" value="3" ~if $body eq '3'` checked ~/if`>Athletic&nbsp;
						<input type="radio" name="Body_Type" value="4" ~if $body eq '4'` checked ~/if`>Heavy
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >
						~if $check_complexion eq "Y"`
							<font color= "red">* Complexion:</font>
						~else`
							* Complexion:
						~/if`
					</div>
					<div class="r2">
						<input type="radio" name="Complexion" value="1" ~if $complexion eq '1'` checked ~/if`>Very Fair&nbsp;
						<input type="radio" name="Complexion" value="2" ~if $complexion eq '2'` checked ~/if`>Fair&nbsp;
						<input type="radio" name="Complexion" value="3" ~if $complexion eq '3'` checked ~/if`>Wheatish&nbsp;
						<input type="radio" name="Complexion" value="4" ~if $complexion eq '4'` checked ~/if`>Wheatish Brown&nbsp;
						<input type="radio" name="Complexion" value="5" ~if $complexion eq '5'` checked ~/if`>Dark&nbsp;
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >* Diet:</div>
					<div class="r2">
						<input type="radio" value="V" name="Diet" ~if $diet eq 'V' || !$Diet`checked ~/if`>Vegetarian&nbsp;
						<input type="radio" value="N" name="Diet" ~if $diet eq 'N'`checked ~/if`>Non-Vegetarian&nbsp;
						<input type="radio" value="J" name="Diet" ~if $diet eq 'N'`checked ~/if`>Jain&nbsp;
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >
						~if $check_smoke eq "Y"`
							<font color="red">* ~$DO_YOU` Smoke:</font>
						~else`
							* ~$DO_YOU` Smoke:
						~/if`
					</div>
					<div class="r2">
						<input type="radio" name="Smoke" value="Y" ~if $smoke eq 'Y'` checked ~/if`>Yes&nbsp;
						<input type="radio" name="Smoke" value="N" ~if $smoke eq 'N'` checked ~/if`>No&nbsp;
						<input type="radio" name="Smoke" value="O" ~if $smoke eq 'O'` checked ~/if`>Ocassionally&nbsp;
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >
						~if $check_drink eq "Y"`
							<font color="red">* ~$DO_YOU` Drink:</font>
						~else`
							* ~$DO_YOU` Drink:
						~/if`
					</div>
					<div class="r2">
						<input type="radio" name="Drink" value="Y" ~if $drink eq 'Y'` checked ~/if`>Yes&nbsp;
						<input type="radio" name="Drink" value="N" ~if $drink eq 'N'` checked ~/if`>No&nbsp;
						<input type="radio" name="Drink" value="O" ~if $drink eq 'O'` checked ~/if`>Ocassionally&nbsp;
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >
						~if $check_phyhcp eq "Y"`
							<font color= "red">* Physically/ Mentally Challenged:</font>
						~else`
							* Physically/ Mentally Challenged:
						~/if`
					</div>
					<div class="r2">
						<input  name="Phyhcp" type="radio" value="N" checked>None&nbsp;
						<input  name="Phyhcp" type="radio" value="1" ~if $phyhcp eq '1'` checked ~/if`>Physically Handicapped from Birth&nbsp;
						<input  name="Phyhcp" type="radio" value="2" ~if $phyhcp eq '2'` checked ~/if`>Physically Handicapped due to Accident&nbsp;
						<div class="spacer1">&nbsp;</div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input  name="Phyhcp" type="radio" value="3" ~if $phyhcp eq '3'` checked ~/if`>Mentally Challenged from Birth&nbsp;
						<input  name="Phyhcp" type="radio" value="4" ~if $phyhcp eq '4'` checked ~/if`>Mentally Challenged due to Accident&nbsp;
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
			</div>
			<!--EDU AND CARRER ENDS-->
			<div style="width:100%; margin-top:10px">
				<div class="lftflow0 o16">Education and Occupation</div>
				<div class="spacer1 spo">&nbsp;</div>
				<!--EDU AND CARRER STARTS-->
				<div class="row">
					<div class="r1">Education Details:</div>
					<div class="r2">
						<div class="lftflow0">
							<input type="text" name="Educ_Qualification" value="~$educ_qualification`" style="width:300px ">
						</div>
						<div class="leftflow">Example:B.com(hon) from JMC</div>
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" > ~$First_Your` Job and Work Place:</div>
					<div class="r2">
						<div class="lftflow0" style="width:310px ">
						<div>
							<textarea name="Job" cols="60" rows="4" style="width:300px ">~$job`</textarea>
						</div>
					</div>
					<div class="leftflow" style="width:40% ">
						<img src="~$IMG_URL`/profile/ser4_images/tickbg_1.gif" width="10" height="10">
						Write about ~$your` Education in detail<br>
						<img src="~$IMG_URL`/profile/ser4_images/tickbg_1.gif" width="10" height="10">
						~$First_Your` Career Goals<br>
						<img src="~$IMG_URL`/profile/ser4_images/tickbg_1.gif" width="10" height="10">
						Specify ~$your` Job & Organisation ~$you` work~if $you neq 'you'`s~/if` for<br>
					</div>
				</div>
			</div>
			<div class="spacer1">&nbsp;</div>
		</div>
		<!--Physical Traits ENDS-->
		<div style="width:100%; margin-top:10px">
			<div class="lftflow0 o16">Horoscope Details</div>
			<div class="spacer1 spo">&nbsp;</div>
			<!--HOROSCOPE STARTS-->
			<div class="row">
				<div class="r1" >
					~if $check_horo eq "Y"`
						<font color="red">* Add ~$your` Horoscope:</font>
					~else`
						* Add ~$your` Horoscope:
					~/if`
				</div>
				<div class="r2">
					<input type="radio" name="display_horo" value="Y" ~if $display_horo eq 'Y'` checked ~/if` onclick="disable_astroform();">Yes&nbsp;

					<input type="radio" name="display_horo" value="N" ~if $display_horo eq 'N'` checked ~/if` onclick="disable_astroform();">No&nbsp;
				</div>
				<div class="spacer1">&nbsp;</div>
				<div id="astro_msg" class="r2">
					<font color="#0444B9"><b>You will be asked to fill your Astro details after you have completed your registration.</b></font>
				</div>
			</div>
			<div class="spacer1">&nbsp;</div>
			<div id="astro_data">
				<div class="row">
					<div class="r1" >
						~if $check_country_birth eq "Y"`
							<font color="red"> Country of Birth:<font>
						~else`
							 Country of Birth:
						~/if`
					</div>
					<div class="r2">
						<select name="Country_Birth" size="1" class="textbox">
							<option value="" selected>[Select Country of Birth]</option>
							~$top_country`
							<option value="" disabled>&nbsp;</option>
							~$country_birth`
						</select>
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >
						~if $check_city_birth eq "Y"`
							<font color="red"> City of Birth:</font>
						~else`
							 City of Birth:
						~/if`
					</div>
					<div class="r2">
						<input type="text" name="City_Birth" value="~$city_birth`" style="width:150px ">
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >
						~if $check_time_birth eq "Y"`
							<font color="red"> Time of Birth:</font>
						~else`
							 Time of Birth:
						~/if`
					</div>
					<div class="r2">
						<select name="Hour_Birth" size="1" class="textbox">
							<option value="" selected ><font size="2">Select Hour</font></option>
							<option value="00" ~if $hour_birth eq '00'` selected ~/if`><font size="2">00</font></option>
							<option value="01" ~if $hour_birth eq '01'` selected ~/if`><font size="2">01</font></option>
							<option value="02" ~if $hour_birth eq '02'` selected ~/if`><font size="2">02</font></option>
							<option value="03" ~if $hour_birth eq '03'` selected ~/if`><font size="2">03</font></option>
							<option value="04" ~if $hour_birth eq '04'` selected ~/if`><font size="2">04</font></option>
							<option value="05" ~if $hour_birth eq '05'` selected ~/if`><font size="2">05</font></option>
							<option value="06" ~if $hour_birth eq '06'` selected ~/if`><font size="2">06</font></option>
							<option value="07" ~if $hour_birth eq '07'` selected ~/if`><font size="2">07</font></option>
							<option value="08" ~if $hour_birth eq '08'` selected ~/if`><font size="2">08</font></option>
							<option value="09" ~if $hour_birth eq '09'` selected ~/if`><font size="2">09</font></option>
							<option value="10" ~if $hour_birth eq '10'` selected ~/if`><font size="2">10</font></option>
							<option value="11" ~if $hour_birth eq '11'` selected ~/if`><font size="2">11</font></option>
							<option value="12" ~if $hour_birth eq '12'` selected ~/if`><font size="2">12</font></option>
							<option value="13" ~if $hour_birth eq '13'` selected ~/if`><font size="2">13</font></option>
							<option value="14" ~if $hour_birth eq '14'` selected ~/if`><font size="2">14</font></option>
							<option value="15" ~if $hour_birth eq '15'` selected ~/if`><font size="2">15</font></option>
							<option value="16" ~if $hour_birth eq '16'` selected ~/if`><font size="2">16</font></option>
							<option value="17" ~if $hour_birth eq '17'` selected ~/if`><font size="2">17</font></option>
							<option value="18" ~if $hour_birth eq '18'` selected ~/if`><font size="2">18</font></option>
							<option value="19" ~if $hour_birth eq '19'` selected ~/if`><font size="2">19</font></option>
							<option value="20" ~if $hour_birth eq '20'` selected ~/if`><font size="2">20</font></option>
							<option value="21" ~if $hour_birth eq '21'` selected ~/if`><font size="2">21</font></option>
							<option value="22" ~if $hour_birth eq '22'` selected ~/if`><font size="2">22</font></option>
							<option value="23" ~if $hour_birth eq '23'` selected ~/if`><font size="2">23</font></option>
						</select>
						<select name="Min_Birth" class="textbox" size="1">
							<OPTION value="" selected >Select Min</OPTION>
							<OPTION ~if $min_birth eq '00'` selected ~/if`>00</OPTION>
							<OPTION ~if $min_birth eq '01'` selected ~/if`>01</OPTION>
							<OPTION ~if $min_birth eq '02'` selected ~/if`>02</OPTION>
							<OPTION ~if $min_birth eq '03'` selected ~/if`>03</OPTION>
							<OPTION ~if $min_birth eq '04'` selected ~/if`>04</OPTION>
							<OPTION ~if $min_birth eq '05'` selected ~/if`>05</OPTION>
							<OPTION ~if $min_birth eq '06'` selected ~/if`>06</OPTION>
							<OPTION ~if $min_birth eq '07'` selected ~/if`>07</OPTION>
							<OPTION ~if $min_birth eq '08'` selected ~/if`>08</OPTION>
							<OPTION ~if $min_birth eq '09'` selected ~/if`>09</OPTION>
							<OPTION ~if $min_birth eq '10'` selected ~/if`>10</OPTION>
							<OPTION ~if $min_birth eq '11'` selected ~/if`>11</OPTION>
							<OPTION ~if $min_birth eq '12'` selected ~/if`>12</OPTION>
							<OPTION ~if $min_birth eq '13'` selected ~/if`>13</OPTION>
							<OPTION ~if $min_birth eq '14'` selected ~/if`>14</OPTION>
							<OPTION ~if $min_birth eq '15'` selected ~/if`>15</OPTION>
							<OPTION ~if $min_birth eq '16'` selected ~/if`>16</OPTION>
							<OPTION ~if $min_birth eq '17'` selected ~/if`>17</OPTION>
							<OPTION ~if $min_birth eq '18'` selected ~/if`>18</OPTION>
							<OPTION ~if $min_birth eq '19'` selected ~/if`>19</OPTION>
							<OPTION ~if $min_birth eq '20'` selected ~/if`>20</OPTION>
							<OPTION ~if $min_birth eq '21'` selected ~/if`>21</OPTION>
							<OPTION ~if $min_birth eq '22'` selected ~/if`>22</OPTION>
							<OPTION ~if $min_birth eq '23'` selected ~/if`>23</OPTION>
							<OPTION ~if $min_birth eq '24'` selected ~/if`>24</OPTION>
							<OPTION ~if $min_birth eq '25'` selected ~/if`>25</OPTION>
							<OPTION ~if $min_birth eq '26'` selected ~/if`>26</OPTION>
							<OPTION ~if $min_birth eq '27'` selected ~/if`>27</OPTION>
							<OPTION ~if $min_birth eq '28'` selected ~/if`>28</OPTION>
							<OPTION ~if $min_birth eq '29'` selected ~/if`>29</OPTION>
							<OPTION ~if $min_birth eq '30'` selected ~/if`>30</OPTION>
							<OPTION ~if $min_birth eq '31'` selected ~/if`>31</OPTION>
							<OPTION ~if $min_birth eq '32'` selected ~/if`>32</OPTION>
							<OPTION ~if $min_birth eq '33'` selected ~/if`>33</OPTION>
							<OPTION ~if $min_birth eq '34'` selected ~/if`>34</OPTION>
							<OPTION ~if $min_birth eq '35'` selected ~/if`>35</OPTION>
							<OPTION ~if $min_birth eq '36'` selected ~/if`>36</OPTION>
							<OPTION ~if $min_birth eq '37'` selected ~/if`>37</OPTION>
							<OPTION ~if $min_birth eq '38'` selected ~/if`>38</OPTION>
							<OPTION ~if $min_birth eq '39'` selected ~/if`>39</OPTION>
							<OPTION ~if $min_birth eq '40'` selected ~/if`>40</OPTION>
							<OPTION ~if $min_birth eq '41'` selected ~/if`>41</OPTION>
							<OPTION ~if $min_birth eq '42'` selected ~/if`>42</OPTION>
							<OPTION ~if $min_birth eq '43'` selected ~/if`>43</OPTION>
							<OPTION ~if $min_birth eq '44'` selected ~/if`>44</OPTION>
							<OPTION ~if $min_birth eq '45'` selected ~/if`>45</OPTION>
							<OPTION ~if $min_birth eq '46'` selected ~/if`>46</OPTION>
							<OPTION ~if $min_birth eq '47'` selected ~/if`>47</OPTION>
							<OPTION ~if $min_birth eq '48'` selected ~/if`>48</OPTION>
							<OPTION ~if $min_birth eq '49'` selected ~/if`>49</OPTION>
							<OPTION ~if $min_birth eq '50'` selected ~/if`>50</OPTION>
							<OPTION ~if $min_birth eq '51'` selected ~/if`>51</OPTION>
							<OPTION ~if $min_birth eq '52'` selected ~/if`>52</OPTION>
							<OPTION ~if $min_birth eq '53'` selected ~/if`>53</OPTION>
							<OPTION ~if $min_birth eq '54'` selected ~/if`>54</OPTION>
							<OPTION ~if $min_birth eq '55'` selected ~/if`>55</OPTION>
							<OPTION ~if $min_birth eq '56'` selected ~/if`>56</OPTION>
							<OPTION ~if $min_birth eq '57'` selected ~/if`>57</OPTION>
							<OPTION ~if $min_birth eq '58'` selected ~/if`>58</OPTION>
							<OPTION ~if $min_birth eq '59'` selected ~/if`>59</OPTION>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="r1">
					~if $check_manglik eq "Y"`
						<font color= "red">* ~$Manglik`:</font>
					~else`
						* ~$Manglik`:
					~/if`
				</div>
				<div class="r2">
					<input type="radio" name="Manglik_Status" value="D" ~if $manglik eq 'D'` checked ~/if`>Don't Know&nbsp;
					<input type="radio" name="Manglik_Status" value="M" ~if $manglik eq 'M'` checked ~/if`>Yes&nbsp;
					<input type="radio" name="Manglik_Status" value="N" ~if $manglik eq 'N'` checked ~/if`>No&nbsp;
				</div>
			</div>
			<div class="spacer1">&nbsp;</div>
			<div class="row">
				<div class="r1" >Nakshatram (Optional):</div>
				<div class="r2">
					<select name="Nakshatram" size="1" class="textbox">
					<option value="" selected>[Select Nakshatram Details]</option>
					~$nak_array`
					</select>
				</div>
			</div>
			<div class="spacer1">&nbsp;</div>
		</div>
		<!--CONTACT DETAILS ENDS-->
		~if $mbchecksum eq ""`
			<div class="lftflow0" style="width:100%; margin-top:10px">
				<div class="lftflow0 o16">Contact Details</div>
				<div class="spacer1 spo">&nbsp;</div>
				<!--CONTACT DETAILS STARTS-->
				<div class="row">
					<div class="r1" >
						~if $check_address eq "Y"`
							<font color="red">* ~$First_Your` Contact Address:</font>
						~else`
							* ~$First_Your` Contact Address:
						~/if`
						<br>(Do not enter E-mail Id)
					</div>
					<div class="r2">
						<input type="text"  name="Address" value="~$address`" style="width:300px">&nbsp;
						<div> 
							<input name="showAddress" type="radio" value="Y"  ~if $SHOWADDRESS neq 'N'` checked  ~/if` > Show to my accepted contacts / paid members
                            <input type="radio"  name="showAddress" value="N" ~if $SHOWADDRESS eq 'N'` checked  ~/if`> Don't show to anybody</div>	
						</div>						
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
				<div class="row">
					<div class="r1" >Messenger Id:</div>
					<div class="r2">
						<input type="text" name="Messenger_ID" value="~$messenger_id`" size="29">@ 
						<select name="Messenger" size="1" class="textbox">
							<option value="1" ~if $messenger eq '1'` selected ~/if`>Yahoo</option>
							<option value="2" ~if $messenger eq '2'` selected ~/if`>MSN</option>
							<option value="3" ~if $messenger eq '3'` selected ~/if`>Skype</option>
							<option value="5" ~if $messenger eq '5'` selected ~/if`>ICQ</option>
							<option value="6" ~if $messenger eq '6'` selected ~/if`>Google Talk</option>
							<option value="7" ~if $messenger eq '7'` selected ~/if`>Rediff Bol</option>
							<option value="4" ~if $messenger eq '4'` selected ~/if`>Others</option>
						</select>
						.com&nbsp;&nbsp;&nbsp;
						<div> 
							<input name="showMessenger" type="radio" value="Y"  ~if $SHOWMESSENGER neq 'N'` checked  ~/if` > Show to my accepted contacts / paid members
                            <input type="radio"  name="showMessenger" value="N" ~if $SHOWMESSENGER eq 'N'` checked  ~/if`> Don't show to anybody</div>	
						</div>						
					</div>
				</div>
				<div class="spacer1">&nbsp;</div>
			</div>
			<!--EDUCATION FORM ENDS-->
		~/if`
	</div>
	<!--PROFILE SUMMARY FORM ENDS-->
	<div class="spacer1">&nbsp;</div>
	<div class="row bluelink" style="background-color:#FFEAAB ">
		<div class="r1" align="center">&nbsp;</div>
		<div style="float:left; width:30%; padding-top:6px">
			<input type="submit" name="Submit" value="Save My Detailed Profile" class="redb" style="width:200px ">
		</div>
		<div class="bele bluelink" style="float:left; width:40%; padding:10px 0 10px 0" align="right">
			<a href="~$SITE_URL`/profile/inputprofile1_revamp.php?checksum=~$CHECKSUM`&Submit=1&skip_your_info=1&gender=~$gender`&hit_source=~$hit_source`&tieup_source=~$tieup_source`&maritalstatus=~$maritalstatus`&id=~$ID_AFF`">Skip to Partner Profile</a>
		</div>
	</div>
	<div class="spacer1">&nbsp;</div>
	<!--PROFILE SUMMARY FORM ENDS-->
	</form>
</div>
<!--WRAPPER ENDS HERE-->
<div class="spacer15">&nbsp;</div>
~$SMALLFOOTER`
</div>

~if $groupname eq "komli_amj_08_cpa"`
<!-- Advertiser 'Naukri.com - IN', Include user in conversion 'Jeevansathi registration' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<script src="http://ads.komli.com/pixel?id=56601&t=1" [^] type="text/javascript"></script>
<!-- End of conversion tag -->
~/if`

~if $groupname eq "Ibibo_amj_08_cpa"`
<script type="text/javascript">
/*<![CDATA[*/
OAS_rn = new String (Math.random());
OAS_rns = OAS_rn.substring (2, 11);
document.write('<img alt="" SRC="http://oasc07.247realmedia.com/RealMedia/ads/adstream.track/1'+OAS_rns+'?XE&epmAccountKey=1167&epmXTransKey=60&epmXtransStep=999&epmXtransCategory=&epmXtransItem=&epmXtransQuantity=&epmXTransRevenue=&XE" [^] style="width:0px;height:0px;border:none" />');
/*]]>*/
</script>
~/if`

~if $groupname eq "yahoosearch_2008"`
<SCRIPT language="JavaScript" type="text/javascript">
<!-- Yahoo!
window.ysm_customData = new Object();
window.ysm_customData.conversion = "transId=,currency=,amount=";
var ysm_accountid  = "1INDE2QQIGFEP54K1FN40V8SGSG";
document.write("<SCR" + "IPT language='JavaScript' type='text/javascript' " 
+ "SRC=//" + "srv1.wa.marketingsolutions.yahoo.com" + "/script/ScriptServlet" + "?aid=" + ysm_accountid 
+ "></SCR" + "IPT>");
// -->
</SCRIPT>
~/if`

<script language="JavaScript" type="text/javascript">

	~if $reg_comp_frm_ggl`
		var google_conversion_id = 1072672959;
		var google_conversion_language = "en_US";
		var google_conversion_format = "1";
		var google_conversion_color = "666666";
		if(1)
		{
			var google_conversion_value = 1;
		}
		var google_conversion_label = "lead";
	~elseif $reg_comp_frm_ggl_nri`
		var google_conversion_id = 1067322789;
		var google_conversion_language = "en_US";
		var google_conversion_format = "1";
		var google_conversion_color = "666666";
		if(1)
		{
			var google_conversion_value = 1;
		}
		var google_conversion_label = "lead";
	~/if`
</script>
<noscript>
	~if $reg_comp_frm_ggl`
		<img height=1 width=1 border=0 src="https://www.googleadservices.com/pagead/conversion/1072672959/?value=1&label=lead&script=0">
	~elseif $reg_comp_frm_ggl_nri`
	<img height=1 width=1 border=0 src="https://www.googleadservices.com/pagead/conversion/1067322789/?value=1&label=lead&script=0">
	~/if`
</noscript>
~if $reg_comp_frm_ggl or $reg_comp_frm_ggl_nri`
	<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
~/if`
~if $groupname eq "mediaturf"`
<!--Enhance Conversion Tracking (Lead) -->
<img src="http://c.enhance.com/t?cid=1059840&filltype=5 " width="1" height="1" border="0">
~/if`
~if $groupname  eq 'Tyroo_India_JFM08' or $groupname   eq 'Tyroo_NRI_JFM08'`
<script type="text/javascript" src="http://tq.tyroo.com:8080/acquire/tyr_aqui.js"></script>
~/if`

~if $groupname eq "Tyroo_amj_CPA"`
<!-- Advertiser 'JeevanSathi' -->
<script src="http://ext.tyroo.com/pixel?id=112686&t=1" type="text/javascript"></script>
<!-- End of conversion tag -->
~/if`

<!-- Advertiser '91  Naukri',  Include user in segment 'Jeevansathi' –

DO NOT MODIFY THIS PIXEL IN ANY WAY -->
~if $groupname eq 'Integrid_CPA_08'`
<img src="http://ad.adserverplus.com/pixel?id=99680&t=2" width="1" height="1" />
~/if`
~if $groupname eq "Google NRI US"`
<!-- Google Code for lead Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1046502896;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "666666";
if (1)
{
        var google_conversion_value = 1;
}
var google_conversion_label = "lead";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height=1 width=1 border=0 src="https://www.googleadservices.com/pagead/conversion/1046502896/imp.gif?value=1&label=lead&script=0">
</noscript>
~/if`
~if $groupname eq "ozonemedia_aug_2008"`
<!-- xxxxx Tracking code - OzoneMedia -->
<img width="1" height="1" src="http://ads.ozonemedia.co.in/TrackAction/ADVID=233"/>
<!-- End xxxxxx Code -->
~/if`
~if $groupname eq "IndianRail_Sep08_CPA"`
<SCRIPT language="JavaScript">
<!--
var RN = new String (Math.random());
var RNS = RN.substring (2,11);
document.write('<iframe src="http://adstil.indiatimes.com/RealMedia/ads/adstream_sx.ads/www.timesofindia.com/homepage/1'+RNS+'@x91?" WIDTH=1 HEIGHT=1 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no bordercolor="000000"> </iframe>')
//-->
</SCRIPT>
~/if`
~if $groupname eq "yahooCPA@90_Sep08" or $groupname eq "Yahoo_State_tgt_feb09"`
<!-- Advertiser 'INFOEDGE INDIA', Include user in segment '694154_JS_1x1' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="http://ad.yieldmanager.com/pixel?id=136317&t=2" width="1" height="1" />
~/if`
<!-- Begin AdChakra Tracking for JeevaSathi -->
~if $groupname eq "mediaturf_aug_2008"`
<iframe src="http://adchakra.net/tracking/jeevansathi/pixel_tracking.htm" frameborder="0" height="1" width="1" scrolling="no" ></iframe>
~/if`
<!-- End AdChakra Tracking for Jeevansathi -->
<!-- Advertiser 'INFOEDGE INDIA', Include user in segment '694917_JS NRI_CPA_1x1 pixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
~if $groupname eq "Yahoo_US_CPA@200_Sep08"`
<img src="http://ad.yieldmanager.com/pixel?id=137012&t=2" width="1" height="1" />
~/if`
<!-- End of segment tag -->
<!-- End of segment tag -->

~if $groupname eq "yahooCPA@100_Oct08_dCPM"`
<!-- Advertiser 'INFO EDGE INDIA PVT. LTD', Include user in segment '706910_1x1 pixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="http://ad.yieldmanager.com/pixel?id=225428&t=2" width="1" height="1" />
<!-- End of segment tag --> 
~/if`
~if $groupname eq "TribalFusion_OND08_CPA@90"`
<img src='http://a.tribalfusion.com/ti.ad?client=286403&ev=1' width='1' height='1' border='0'>
~/if`
~if $groupname eq "Ibibo_amj_08_cpa"`
<IMG SRC="http://www.adwinks.in/track_lead/217/~$USERNAME`">
~/if`
~if $groupname eq "Ibibo_JFM09_NRI"`
<IMG SRC="http://www.adwinks.in/track_lead/218/~$USERNAME`">
~/if`
~if $groupname eq "Tyroo_NRI_JFM09"`
<!-- Advertiser 'Jeevansathi NRI Feb',  Include user in conversion 'Jeevansathi NRI Conversion Pixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<script src="http://ext.tyroo.com/pixel?id=316458&t=1" type="text/javascript"></script>
<!-- End of conversion tag -->
~/if`
~if $groupname eq "ozonemedia_JFM_09_nri"`
<!-- xxxxx  Tracking code - OzoneMedia -->
<img width="1" height="1" src="http://ads.ozonemedia.co.in/TrackAction/ADVID=233"/>
<!-- End xxxxxx Code -->
~/if`
~if $groupname  eq 'DrivePM_NRI_JFM09'`
<img src="http://switch.atdmt.com/action/Jeevansathi_NRI_Confirm_Feb09" height="1" width="1">
~/if`
~if $groupname  eq 'DrivePM_RI_JFM09'`
<img src="http://switch.atdmt.com/action/Jeevansathi_RI_Confirm_Feb09" height="1" width="1">
~/if`
<!--conversion tracking code in google added-->

~if $groupname  eq 'new_google_structure'`
<!-- Google Code for Registration Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1039085133;
var google_conversion_language = "en_US";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "j58PCKPIdxDN3LzvAw";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1039085133/?label=j58PCKPIdxDN3LzvAw&amp;guid=ON&amp;script=0"/>
</noscript>
~/if`

~if $groupname  eq 'New Google'`
<!-- Google Code for Registration Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1056682264;
var google_conversion_language = "en_US";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "JjZuCLyLiQEQmOLu9wM";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1056682264/?label=JjZuCLyLiQEQmOLu9wM&amp;guid=ON&amp;script=0"/>
</noscript>
~/if`

~if $groupname  eq 'Google_NRI'`
<!-- Google Code for Registration Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1067322789;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "fdEHCMnJlwEQpZv4_AM";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1067322789/?label=fdEHCMnJlwEQpZv4_AM&amp;guid=ON&amp;script=0"/>
</noscript>
~/if`

~if $groupname  eq 'Google NRI US'`
<!-- Google Code for Registration Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1046502896;
var google_conversion_language = "en_US";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "k-_UCLKkiQEQ8LuB8wM";
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1046502896/?label=k-_UCLKkiQEQ8LuB8wM&amp;guid=ON&amp;script=0"/>
</noscript>
~/if`
~if $groupname eq 'Komli_NRI_JFM09'`
<!-- Advertiser 'Infoedge - IN',  Include user in conversion 'Feb 09 Jeevansathi.com NRI' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<script src="http://ads.komli.com/pixel?id=316805&t=1" type="text/javascript"></script>
<!-- End of conversion tag -->
~/if`
~if $groupname eq 'Tribalfusion_JS_NRI_feb09'`
<img src='http://a.tribalfusion.com/ti.ad?client=301103&ev=1' width='1' height='1' border='0'>
~/if`
~if $groupname eq 'DGM_80cpa_Feb09'`
<img height="1" width="3" src="http://www.s2d6.com/x/?x=a&amp;h=17773&amp;o=~$USERNAME`" alt=""/>
<img height="1" width="3" src="http://www.s2d6.com/x/?x=r&amp;h=17773&amp;o=~$USERNAME`&amp;g=158411869957&amp;s=0&amp;q=1"/>
~/if`
~if $groupname eq 'DGM_NRI_Feb09'`
<img height="1" width="3" src="http://www.s2d6.com/x/?x=a&amp;h=17773&amp;o=~$USERNAME`" alt=""/>
<img height="1" width="3" src="http://www.s2d6.com/x/?x=r&amp;h=17773&amp;o=~$USERNAME`&amp;g=429378795544&amp;s=0&amp;q=1"/>
~/if`
<!--end-->
</body>
</html>
