<html>
<head>
<title>JeevanSathi Matrimonials - Invite Friends</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/P/IN/styles.php" type="text/css">
<script language="JavaScript">
<!--

function newWindow(url, height, width) {
    nameW='feature'
 if (navigator.appVersion.indexOf('4') != -1) {
 // Vars for centering the new window on Version 4 Browsers
 xTop = screen.width/2 - (width/2);
 yTop = screen.height/2 - (height/2);
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=' + xTop + ',top=' + yTop + '');
 } else {
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=150,top=200');
 }
}
//-->
</SCRIPT>
~include file="../jeevansathi/google_analytics.htm"`</head>
~$HEAD`
~$LEFTPANEL`
<table width="78%" height="1150" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td valign="top">
<form name="invite friends" method="post" action="invitee.php">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td height="4"></td>
  <SPACER height="4" type="block"></SPACER> </tr>
 <tr>
  <td class="headbigblack"><b>Invite Friends </b></td>
 </tr>
 <tr class="bgred">
  <td height="1"></td>
  <SPACER height="1" type="block"></SPACER> </tr>
 <tr>
  <td height="8"></td>
  <SPACER height="8" type="block"></SPACER> </tr><br>
<!--tr class="red" >
	~if $error eq 0 and not $initial`
		<td align="center"><b> Thank You !! Please continue to refer more friends </b></td>
	~/if`
</tr-->
~if $error eq 0 and not $initial`
</table>
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr class=red>
   <td colspan="4" class=mediumblack><div align="center"><b>Thank you for referring your friend(s) on JeevanSathi.com.</b><br><br>
                We hope that you and your friend(s) find your perfect life partner on our website.<br>
        To refer more people on JeevanSathi.com, <span class="blacklinku"><a href="/profile/invitee.php?checksum=~$CHECKSUM`"><b>Click Here.</b></a></span><br><br>
        Wishing you all the best in your Partner search.
</div></td>
 </tr>
</table>

~else`
<tr>
 <table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
 <tr><td class="mediumblack">Thousands of people have met their future life partners on jeevansathi.com. And now, you too, can play matchmaker and make your friends meet their perfect match on the  "Invite a friend" programme on Jeevansathi.<br>
                                                                                                 
This is a unique referral programme, where you could invite any 5 of your friends/relatives who are single and seeking marriage to Jeevansathi.com and give them the chance to meet their dream match on India&quot;s leading matrimonial site.
                                                                                                 
 </td></tr></table>

 <table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
~if $error neq 0`
<tr>
<td colspan=2 width="76" height="19" class=mediumblack><font color="red">Please check the entries marked in red.</font></td>
</tr><tr><td></td></tr>
~/if`

  <tr class=bgsgrey>
   <td colspan="4" class=mediumblack><div align="center"><b>My Details</b></div></td>
   </tr>
  <tr>
   <td height="6" colspan="4" class=mediumblack></td>
   </tr><br>

  <tr>
   <td width="80" height="19" class=mediumblack>~if $NOREFERER eq 'Y'` <font color="red">My Name</font>~else`<font color="black">My Name</font>~/if` </td>
   <td width="173" class=mediumblack><input type="text" name="referer" class=testbox value=~$referer`></td>
   <td width="63" class=mediumblack><p>My Email</p>
    </td>
   <td width="191" class=mediumblack>~if $referer_email`~$referer_email`~else`<input type="text" name="referer_email" class=testbox>~/if`</td>
  </tr>
 </table>
 <br>
 <table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr class=bgsgrey>
   <td colspan="4" class=mediumblack><div align="center"><b>Refer Your Friends </b></div></td>
  </tr>
  <tr>
   <td height="8" colspan="4" class=mediumblack></td>
   </tr>
~if $error neq 0`

~section name=invitee loop=5`
                                                                                               
  <tr>
   <td width="76" height="19" class=mediumblack>~ if $valid[invitee].check_name eq 'Y'`<font color="red">Name</font> ~else` <font color="black">Name </font> ~/if` </td>
   <td width="169" class=mediumblack><input type="text" name="friend[]" class=testbox value="~$valid[invitee].name`"></td>
   <td width="59" class=mediumblack><p>~ if $valid[invitee].check_email eq 'Y'`<font color="red">Email</font> ~else` <font color="black">Email </font> ~/if`</p></td>
   <td width="179" class=mediumblack><input type="text" name="email[]" class=testbox value="~$valid[invitee].email`"></td>
  </tr>
~/section`

~else`

~section name=invitee loop=5`

  <tr>
   <td width="76" height="19" class=mediumblack>~ if $error eq 1`<font color="red">Name</font> ~else` <font color="black">Name </font> ~/if` </td>
   <td width="169" class=mediumblack><input type="text" name="friend[]" class=testbox value="~$valid[invitee].name`"></td>
   <td width="59" class=mediumblack><p>~ if $error eq 1`<font color="red">Email</font> ~else` <font color="black">Email </font> ~/if`</p></td>
   <td width="179" class=mediumblack><input type="text" name="email[]" class=testbox value="~$valid[invitee].email`"></td>
  </tr>
~/section`
~/if`
 </table>
 <br>
 <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td><div align="center">
    <input type="submit" name="invitation" value="Submit">
   </div></td>
  </tr>
 </table>
~/if`
<input type="hidden" name="checksum" value="~$CHECKSUM`">
<input type="hidden" name="referer_email" value="~$referer_email`">
</form>
 <br>
 </td>
</tr>
</table>
</td>
  </tr>
</table>
<br>
<!--<table align="center"><tr><td><a href="https://www.naukri.com/tieups/tieups.php?othersrcp=1163" target="_blank"><img src="/banner/naukri/shift_super.gif" border="0"></a></td></tr></table>-->
~$SUBFOOTER`

<br>
~$FOOT`

</body>
</html>
