<div class="lftflow" style="width:98%; margin-top:20px">
	<div class="msixb" style="padding-left:10px ">Jeevansathi Recommends</div>
	<div class="bele" style="padding-left:10px ">We recommend you some suitable profiles matching your requirement
<div style="background-color:#B4BD62; border:1px solid #CA8451; margin:5px 0px 15px 5px; padding:4px;visibility:hidden" id="font_inc_dec">
<div class="bele bluelink" style="float:right;padding-top:5px"><a href="#" onclick="return decreasefont();"><img src="~$IMG_URL`/profile/ser4_images/font_dea.gif" border="0"></a> <a href="#" onclick="return increasefont();"><img src="~$IMG_URL`/profile/ser4_images/font_ina.gif" border="0"></a></div>

        <div class="spacer15">&nbsp;</div>
</div>
</div>
	<form name="form2" action="">
	<div id="successmsg" style="position:absolute; visibility:hidden;">
                                                        <div style="width:230px; height:120px; background-color: #FDFBE6; border: 1px solid #888">
                                                        <div style="padding:20px 25px 0px 9px;">
                                                        <div class="btwe" style="line-height:22px "><img src="~$IMG_URL`/profile/ser4_images/tick_g.gif"> Congratulations!
                                                        <div class="spacer15">&nbsp;</div>
                                                          Profile was successfully added to favourites</div>
                                                       </div>
                                                        </div>
                                                        </div>
	<div id="srf">
	~assign var="tab" value=0`
	~section name="tr1" start=0 loop=6`
	~assign var="finalval" value=$tab`

	~if $RESULTS_ARRAY[$finalval].PROFILEID neq ''`
								     
	~if $finalval % 3 eq 0`
	   <ul>
	~/if`
	      <li>
		~if $RESULTS_ARRAY[$finalval].BOLDLISTING eq 0`
		<div class="mbx">
		~else`
		<div class="mbx-fea">
		~/if`
			<div class="prf" id="~$a[$finalval]`">~$RESULTS_ARRAY[$finalval].USERNAME`</div>

			<div class="tx bluelink" id="~$boxheight[$finalval]`">
				~$RESULTS_ARRAY[$finalval].MY_PHOTO`
				~if $crmback`
					<span class="blacklink"><a href="/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&crmback=admin&cid=~$cid`&inf_checksum=~$inf_checksum`" onclick="MM_openProfileWindow('/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&crmback=admin&cid=~$cid`&inf_checksum=~$inf_checksum`','','');return false;"><b>~$RESULTS_ARRAY[$finalval].PROTITLE`</b>~$RESULTS_ARRAY[$finalval].YOURINFO`</a></span>
					...
					<a href="/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&crmback=admin&cid=~$cid`&inf_checksum=~$inf_checksum`" onclick="MM_openProfileWindow('/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&crmback=admin&cid=~$cid`&inf_checksum=~$inf_checksum`','','');return false;">Read More</a>...
				~else`
					<span class="blacklink"><a href="/profile/matrimonial-~$RESULTS_ARRAY[$finalval].STAT_UNAME`.htm" onclick="MM_openProfileWindow('/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&cid=~$cid`&inf_checksum=~$inf_checksum`&stype=~$STYPE`','','');return false;"><b>~$RESULTS_ARRAY[$finalval].PROTITLE`</b>~$RESULTS_ARRAY[$finalval].YOURINFO`</a></span>
					...
					<a href="/profile/matrimonial-~$RESULTS_ARRAY[$finalval].STAT_UNAME`.htm" onclick="MM_openProfileWindow('/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&cid=~$cid`&inf_checksum=~$inf_checksum`&stype=~$STYPE`','','');return false;">Read More</a>...
				~/if`
			</div>


			~if $RESULTS_ARRAY[$finalval].BOLDLISTING eq 0`
			<div class="dts" id="~$b[$finalval]`">
			~else`
			<div class="dts-fea" id="~$b[$finalval]`">
			~/if`
			~$RESULTS_ARRAY[$finalval].INFO`</div>

			~if $SUBSCRIPTION neq 'Y' && $RESULTS_ARRAY[$finalval].CONTACT_DETAILS neq 1`
				<div class="lks" id="~$c[$finalval]`"><a href="/profile/matrimonial-~$RESULTS_ARRAY[$finalval].STAT_UNAME`.htm" onClick="MM_openProfileWindow('/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&cid=~$cid`&inf_checksum=~$inf_checksum`&stype=~$STYPE`','','');return false;" style="line-height:21px"><strong>Express Interest</strong></a> <span class="fg">Free</span><br>
			~else`
				<div class="lks" id="~$c[$finalval]`"><a href="/profile/matrimonial-~$RESULTS_ARRAY[$finalval].STAT_UNAME`.htm" onClick="MM_openProfileWindow('/profile/viewprofile.php?profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&cid=~$cid`&inf_checksum=~$inf_checksum`&stype=~$STYPE`','','');return false;" style="line-height:21px"><strong>Contact Member</strong></a><br>
			~/if`

			~if !$crmback`
                        	<a href="/profile/simprofile_search.php?checksum=~$CHECKSUM`&contact=~$RESULTS_ARRAY[$finalval].PROFILEID`" target="_blank" style="line-height:21px"><b>View Similar Profiles</b></a> <img src=~$IMG_URL`/profile/ser4_images/star_o.gif><br>
			~/if`

			~if $RESULTS_ARRAY[$finalval].IGNORE neq 1`
				~if $PERSON_LOGGED_IN eq '1'`
					<a href="#" onClick="window.open('~$SITE_URL`/profile/single_contact_aj.php?checksum=~$CHECKSUM`&profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`&ignore=1','ignore_profile_window','width=500,height=520,scrollbars=1'); return false;" style="line-height:21px">Ignore Profile</a>
				~/if`
			~/if`
			~if $RESULTS_ARRAY[$finalval].BOOKMARKED neq 1`
				<br><div id="~$l[$finalval]`"><a href="#" onClick="showmsgadd(event,-120,-10,'~$f[$finalval]`','form2'); return false;" style="line-height:21px"><strong>Add to Favourites</strong></a></div><br>
                        ~/if`
			</div>
			<div id="~$f[$finalval]`" style="position: absolute; visibility: hidden; width:180px; height:123px; background-color: #FDFBE6; border: 1px solid #888;">
                                                        <textarea name="~$e[$finalval]`" cols="18" rows="3" onKeyup="checkcontent('~$e[$finalval]`','~$n[$finalval]`','form2');"></textarea>
                                                        <div style="padding-top:10px; float:left "><input type="button" name="editmsg" ~if $RESULTS_ARRAY[$finalval].BOOKMARKED eq '1'` value="Edit" ~else` value="Add" ~/if`class="textbox" style="width:50px " ~if $RESULTS_ARRAY[$finalval].BOOKMARKED eq '1'`onClick="return ajaxFunction('form2','~$f[$finalval]`','~$e[$finalval]`','~$RESULTS_ARRAY[$finalval].PROFILEID`','~$CHECKSUM`',0,'','~$SITE_URL`');" ~else` onClick="return ajaxFunction('form2','~$f[$finalval]`','~$e[$finalval]`','~$RESULTS_ARRAY[$finalval].PROFILEID`','~$CHECKSUM`',1,'~$l[$finalval]`','~$SITE_URL`');" ~/if`> <input type="button" name="canmsg" value="Cancel" class="textbox" style="width:50px " onClick="hidemsgedit('~$f[$finalval]`');"></input></div>
                                                        <div class="rightflow greyele" style="padding:2px 2px 2px 2px ">characters left <input name="~$n[$finalval]`" type="text" style=" width:25px;"  value="250" disabled></input> </div>
                                                        </div>
			~if $RESULTS_ARRAY[$finalval].BOOKMARKED eq 1`
                                                        <div id="~$l[$finalval]`" style="position:absolute; visibility:hidden;">
                                                        <div style="width: 210px; background-color: #FDFBE6; border: 1px solid #888; padding:5px 5px 5px 5px;" onMouseover="showmsg('~$l[$finalval]`');" onMouseout="hidemsg('~$l[$finalval]`');"><div id="~$t[$finalval]`" class="bele">~if $RESULTS_ARRAY[$finalval].BKNOTEDIS` ~$RESULTS_ARRAY[$finalval].BKNOTEDIS`~else`~$RESULTS_ARRAY[$finalval].BKNOTE`~/if`</div><div class="spacer1">&nbsp;</div><div class="spacer1">&nbsp;</div><div align="right" class="bluelink bele" style="margin-right:5px "><a href="#" onClick="return showmsgedit('form2','~$e[$finalval]`','~$n[$finalval]`','~$f[$finalval]`','~$l[$finalval]`','~$RESULTS_ARRAY[$finalval].BKNOTE`');">Edit comment</a></div></div>
                                                        </div>
			~/if`
			<div id="ic">
			   <ul>
                                ~if $RESULTS_ARRAY[$finalval].VIEWED_BY_USER eq 'yes'`
                                                <li><img src="~$IMG_URL`/profile/ser4_imagesnew/viewed.gif" title="Profile Viewed" width="17" height="17"></li>
                                ~/if`

				~if $RESULTS_ARRAY[$finalval].CONTACTSTATUS eq 'A'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/ac.gif"title="Contact Accepted" width="17" height="17"></li>
				~elseif $RESULTS_ARRAY[$finalval].CONTACTSTATUS eq 'D'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/rj.gif" title="Contact Declined" width="15" height="15"></li>
				~elseif $RESULTS_ARRAY[$finalval].CONTACTSTATUS eq 'I'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/open.gif" width="14" height="10" title="Contact Open"></li>
				~elseif $RESULTS_ARRAY[$finalval].CONTACTSTATUS eq 'C'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/con_ca1.gif" title="Contact Cancelled"></li>
				~/if`
										     
				~if $RESULTS_ARRAY[$finalval].BOOKMARKED eq '1'`
					 ~if $f[$finalval] eq 'f3' || $f[$finalval] eq 'f6' || $f[$finalval] eq 'f9' || $f[$finalval] eq 'f12'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/bm.gif" width="16" height="16" onMouseover="showmsgadd(event,-30, 10,'~$f[$finalval]`','form2','~$RESULTS_ARRAY[$finalval].BKNOTE`',1);" onMouseout="hidemsg('~$l[$finalval]`');"></li>
                                          ~else`

					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/bm.gif" width="16" height="16" onMouseover="showmsgadd(event,-120, 10,'~$f[$finalval]`','form2','~$RESULTS_ARRAY[$finalval].BKNOTE`',1);" onMouseout="hidemsg('~$l[$finalval]`');"></li>
					~/if`
				~/if`
				~if $RESULTS_ARRAY[$finalval].PHOTO_REQ eq '1'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/whitecam.gif" title="Photo Request"></li>
				~/if`
				<!--ignored-->
				~if $RESULTS_ARRAY[$finalval].IGNORE eq '1'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/ignore.gif" title="Ignored"></li>
				~/if`
										     
				~if $RESULTS_ARRAY[$finalval].ONLINE eq '1'`
					<li><img src="~$IMG_URL`/profile/ser4_imagesnew/messanger5.gif" title="Online Member" width="16" height="16"></li>
				~/if`
				 ~if $RESULTS_ARRAY[$finalval].HOROSCOPE eq "Y"`
					<li><a href="/P/~$RESULTS_ARRAY[$finalval].HORO_LINK`?checksum=~$CHECKSUM`&profilechecksum=~$RESULTS_ARRAY[$finalval].PROFILECHECKSUM`" target="_blank"><img src="~$IMG_URL`/profile/ser4_imagesnew/horoscope_icon.gif" width="16" height="16" title="Horoscope" border="0"></a></li>
				~/if`
										     
				~if $RESULTS_ARRAY[$finalval].MARRIAGE_BUREAU eq 'Y'`                                                                                <li><img src="~$IMG_URL`/profile/ser4_images/MB_logo.gif" title="Marriage_Bureau" border="0"></li>
				~/if`
										     
				<!--send sms-->
				~if $RESULTS_ARRAY[$finalval].CHAT_REQUEST eq 'Y'`
					<!--li><a href="~$SITE_URL`/profile/chat_by_sms.php?checksum=~$CHECKSUM`&username=~$RESULTS_ARRAY[$finalval].USERNAME`&GENDER=~$RESULTS_ARRAY[$finalval].GENDER`&recid=~$RESULTS_ARRAY[$finalval].PROFILEID`','','width=335,height=299,scrollbars=0,status=0,resizable=1" onClick="MM_openBrWindow('~$SITE_URL`/profile/chat_by_sms.php?checksum=~$CHECKSUM`&username=~$RESULTS_ARRAY[$finalval].USERNAME`&GENDER=~$RESULTS_ARRAY[$finalval].GENDER`&recid=~$RESULTS_ARRAY[$finalval].PROFILEID`','','width=335,height=299,scrollbars=0,status=0,resizable=1'); return false;"><img src="~$IMG_URL`/profile/ser4_imagesnew/icon.gif" title="Send SMS" border="0"></a></li-->
				~/if`
				<li>&nbsp;</li>
			   </ul>
			</div>
		</div>
		</li>
		~assign var="tab" value=$tab+1`
		~if $finalval % 3 eq 2`
		</ul>
		<div class="spacer">&nbsp;</div>
		~/if`
								     
		~if $finalval eq $RESULTS_ARRAY_COUNT-1 && $RESULTS_ARRAY_COUNT % 3 neq 0`
		</ul>
		<div class="spacer">&nbsp;</div>
		~/if`

	~/if`
        ~/section`

	<div class="bele bluelink" style="width:96% " align="right"><a href="~$SITE_URL`/P/simcontacts_search.php?j=6&no_result_recomends=~$zero_results`&STYPE=~$STYPE`">View more profiles &raquo;</a></div>
	</div>
	</form>
</div>
