<html>
<head>
<title>JeevanSathi Matrimonials - Form for Input of Matrimonial Data</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$IMG_URL`/profile/ser4_images/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
	~$HEAD`
	~$SUBHEADER`
     <table width="760" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="3" height="3" valign="top"></td>
            <SPACER height="3" type="block"></SPACER> </tr>
          <tr>
            <td width="190" height="614" valign="top" class="bgyell"><div align="center">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#FFFFFF">~$TOPLEFT`</td>
                  </tr>
                  <tr>
                    <td width="190">~$LEFTPANEL`</td>
                       </tr>
                      </table>
                      <br></td>
                  </tr>
                </table>


            <TD class=small vAlign=top width=10><B>
			<SPACER type="block" width="10"></B></TD>
            <td width="565" valign="top">            
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td height="4"></td>
       <SPACER height="4" type="block"></SPACER> </tr>
      <tr>
       <td class="headbigblack"><b>Jeevansathi SMS Service </b></td>
      </tr>
      <tr class="bgred">
       <td height="1"></td>
       <SPACER height="1" type="block"></SPACER> </tr>
        <tr>
       <td height="8"></td>
       <SPACER height="8" type="block"></SPACER> </tr>
     </table></td>
              </tr>
			  <TR>
                <TD height=19 class="mediumblack">Introducing a great way to check your Profile Status on Jeevansathi.com, even when you are on the move, out of town or nowhere near a computer!<br>
                 <br>
                  Thanks to our Jeevansathi.com SMS service, you will have your Profile statistics available at your fingertips, literally
                  <br>
                  <br>
                  <table width="500" border="0" align="center" cellpadding="0" cellspacing="1" >
                   <tr>
                    <td>
	        ~if $MAKE_LOGIN eq '1'`
        	<tr>
	        <td colspan="2" align="center" class="mediumred"><span class="class7"><a href="~$SITE_URL`/profile/mainmenu.php">Sign in to check status of service availability</a></span></td>

        	</tr>
		~/if`
	        ~if $SERVICE_AVAILABLE eq '1'`
                <tr>
		<td colspan="2" align="center" class="mediumblack"><b>Congratulations, The Jeevansathi SMS service is available to you on ~$MOBILE_NUM` number.</b></td></tr>
		<tr><td colspan="2">&nbsp;</td></tr> 
		<tr><td colspan="2" align="center" class="mediumred"><span class="class7">*This service will be available only on the mobile number that you have provided in your registration form.</span></td>
	</tr>

		~/if`

		~if $SERVICE_AVAILABLE eq '0'`
                <tr>
                <td colspan="2" align="center" class="mediumred"><span class="class7"><b>Sorry, Jeevansathi SMS service is not available on ~$MOBILE_NUM` number.</b></span></tr> 
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td colspan="2" align="center" class="mediumred"><a href="~$SITE_URL`/profile/editprofile.php?checksum=~$checksum`">Click here to change your mobile number.</a></td>
        </tr>

		~/if`
		
		~if $MOBILE_NUM_NULL eq '1'`

		<form name="f1" action="sms_info.php" method="post">		
		 <input type="hidden" name="checksum" value=~$checksum`>
			<table width="500" border="0" align="center" cellpadding="3" cellspacing="0" class=bglgrey>
                     <tr>
                      <td colspan="2" class=mediumblack><b>Check whether this service is available on a mobile number </b></td>
                     </tr>
                     <tr>
                      <td width="150"><input type="text" name="mobile">
                      </td>
                      <td width="350"><input type="image" name="submit" value="go" src="images/go.gif" width="22" height="18"></td>
                     </tr>
		     ~if $ERROR_MSG eq '1'`
		     <tr>	
                      <td colspan="2" class=smallred>Please enter a valid mobile number </td>
                     </tr>

		     ~/if`		
                     <tr>
<!--                      <td colspan="2" class=smallred>*This service will be available only on the mobile number that you have provided in your registration form </td> -->
		    <td colspan="2" class="mediumred">
			Sorry, Jeevansathi SMS service is not available to you, because you have not provided a mobile number.<br>Avail of the services now by providing your mobile number.
		    </td>
                     </tr>
                    </table>
		</form>
		~/if`
		</td>
                   </tr>
                  </table>
                  <br>
                  <br>                
                <SPACER height="5" type="block"></TD>
			  </TR>
			  <TR>
			   <TD height=19 class="mediumblack">
		~if $MAKE_LOGIN eq '1'`
		<table width="560" border="0" cellspacing="0" cellpadding="2">
                <tr class=bgsgrey>
                 <td class=bigblack><b>How to Register to JEEVANSATHI SMS SERVICE?</b></td>
                </tr>
                <tr>
                 <td class=mediumblack>At the time of registering at Jeevansathi.com just fill in a valid mobile number to avail of this service
                   <br>
                   <br>
                  Not registered? <span class=class7><b><a href="~$SITE_URL`/profile/inputprofile.php">Click here</a></b></span> to create a profile to use the SMS service.<br>
                 </p></td>
                </tr>
               </table>
		~/if`
		       <br>
		       <table width="550" border="0" cellspacing="0" cellpadding="4">
                <tr class=bgsgrey>
                 <td colspan="3" class=bigblack><b>How to Check Your profile Status By SMS?</b></td>
                </tr>
                <tr valign="top">
                 <td width="12" class=mediumblack>1.</td>
                 <td width="429" class=mediumblack> You can check your Profile Statistics by typing in <b>&ldquo;JS STATUS&rdquo; </b><br>
and sending it to <b>5627</b>. </td>
                 <td width="115"><img src="~$IMG_URL`/profile/ser4_images/jsstats.jpg" width="85" height="97"></td>
                </tr>
                <tr valign="top">
                 <td class=mediumblack>2.</td>
                 <td class=mediumblack>In reply, You&rsquo;ll get message which has summary of your profile status. <br>
                  <br>                  
                  &ldquo;JEEVANSATHI members who contacted u since last login=3 and THOSE WAITING for yr response=3. Members who accepted u=1 For further information send &ldquo;JS MORE&rdquo;</td>
                 <td><img src="~$IMG_URL`/profile/ser4_images/mess_recieved.jpg" width="85" height="97"></td>
                </tr>
                <tr valign="top">
                 <td class=mediumblack>3.</td>
                 <td class=mediumblack> You send <b>&ldquo;JS MORE&rdquo;</b> to <b>5627</b>, <br>
                  <br></td>
                 <td><img src="~$IMG_URL`/profile/ser4_images/jsmore.jpg" width="85" height="97"></td>
                </tr>
                <tr valign="top">
                 <td class=mediumblack>4.</td>
                 <td class=mediumblack>You&rsquo;ll get the details of the first profile who contacted you<br>
                  <br>                  
                  &quot;Alpana, 25yrs., 5' 5, Hindu, Delhi, Advertising, Income 5,00,000 or above has contacted you. Send JS MORE to view further profiles&quot;<br></td>
                 <td><img src="~$IMG_URL`/profile/ser4_images/mess_recieved.jpg" width="85" height="97"></td>
                </tr>
                <tr valign="top">
                 <td class=mediumblack>5.</td>
                 <td colspan="2" class=mediumblack>Send <b>&ldquo;JS MORE&rdquo;</b> to view further profiles of people who have contacted you.</td>
                </tr>
                <tr valign="top">
                 <td class=mediumblack>&nbsp;</td>
                 <td colspan="2" class=mediumblack><br>
                  Keep sending <b>&ldquo;JS MORE&rdquo;</b> every time to view the details of everyone who has contacted you.<br>
                  <br>
                 For further information, please contact: <a href="mailto:feedback@jeevansathi.com">feedback@jeevansathi.com</a></td>
                </tr>
               </table></TD>
		     </TR>
			  <TR>
			   <TD height=19 class="mediumblack"><br></TD>
			  </TR>
            </table>
              <br>
              <br>
            </td>
          </tr>
        </table>
   
      </td>
  </tr>
</table>
<br>
<br>
~$SUBFOOTER`
<br>
~$FOOT`

</body>
</html> 
