<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Jeevansathi Matrimonials - Forward to a Friend</title>
	<link rel="stylesheet" href="/profile/css/~$comm_style_css`" type="text/css">
	<style type="text/css">
		.ol{width:340px; height:280px; background:#FFFDDF; border:1px solid #9B9B9B; padding:10px}
		.inbx{float:left; width:100%;font:bold 18px verdana,arial; color:#00A650; padding:4px; border-bottom:1px solid #000000;}
		.pd{ padding-top:10px}
	</style>
</head>
<body>
<div class="ol">
	<div class="inbx">
		<div style="float:left"><img src="~$IMG_URL`/profile/images/layer_tick.gif" width="22" height="22"> </div>
		<div style="float:left; padding-left:10px ">Congratulations!</div>
	</div>
	<div class="spacer">&nbsp;</div>
	<div class="greyele pd">Mail has been sent successfully</div>
	<div class="spacer15">&nbsp;</div>
	<div class="bele bluelink pd"><a href="#" onclick="window.close(this)">Close Window</a></div>
</div>
</body>
</html>
