<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!--MAIL_REPLY.HTM-->
<title>JeevanSathi Matrimonials - Your Reply</title>
<link href="/P/I/styles.php" rel="stylesheet" type="text/css">
<link href="/P/IN/styles.php" rel="stylesheet" type="text/css">
<link href="css/~$mailstyles_css`" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}
-->
</style>
<script language="JavaScript" SRC="/profile/~$profile_js`"></SCRIPT>
<script language="JavaScript">
<!--
function validate()
{
	//alert("hello");	
        if(trim(document.form1.reply_msg.value)=="")
        {
                alert("Please enter a some text to Reply.");
                return false;
        }
	else
	{
		var docF=document.form1;
		//docF.Flag.value = 'del';
		//docF.FolderID.value = id;
		docF.Send.value = 'Send';
		docF.submit();
	}
        //return true;
}
-->
</script>
~include file="../jeevansathi/google_analytics.htm"`</head>

<body>
<body>
~$HEAD`
~$LEFTPANEL`
<form action="/profile/mm_reply.php?checksum=~$CHECKSUM`" method="post" name="form1">
<input type="hidden" name="Send" value="">
<input type="hidden" name="id" value="~$ID`">
<table width="78%" height="1110" border="0" align="center" cellpadding="0" cellspacing="0">
 <tr>
  <td height="800" valign="top"><br>
   <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td width="65"><a href="/profile/mm_showmsg.php?checksum=~$CHECKSUM`&folderid=0"><img src="~$IMG_URL`/profile/ser4_imagesnew/mail_inbox_g.gif" alt="inbox" width="63" height="19" border="0"></a></td>
     <td width="65"><a href="/profile/mm_showmsg.php?checksum=~$CHECKSUM`&send=y"><img src="~$IMG_URL`/profile/ser4_imagesnew/mail_sent_g.gif" alt="sent" width="63" height="19" border="0"></a></td>
     <td><a href="/profile/mm_folders.php?checksum=~$CHECKSUM`"><img src="~$IMG_URL`/profile/ser4_imagesnew/mail_folder_g.gif" alt="Your folders" width="63" height="19" border="0"></a></td>
    </tr>
    <tr>
     <td colspan="3" height="5" bgcolor="#B02C2C"></td>
    </tr>
   </table>
   <br>
   <table width="70%"  border="0" cellspacing="0" cellpadding="2">
    <tr class="bggrey3">
     <td class="mediumblack12">To: ~$TO` </td>
    </tr>
   </table><br>
   <textarea name="reply_msg" cols="50" rows="8"></textarea>
   <br>
   <br>
   <table width="70%"  border="0" cellspacing="0" cellpadding="2">
    <tr class="bggrey3">
	<td width="58%" align="center"><span style="cursor: pointer"><img src="~$IMG_URL`/profile/ser4_imagesnew/mail_send.gif" title="Send" width="56" height="21" border="0" onClick="return validate();"></span></td>
	<!--td width="58%" align="center"><input type="button" name="Submit" value="Send" title="Send"></td-->

     <!--td class="mediumblack12"><div align="center"></div>      
     <div align="center"><input type="image" name="Send" value="Send" src="/imagesnew/mail_send.gif" title="Send" width="56" height="21" border="0"><a href="#"><img src="~$IMG_URL`/profile/ser4_imagesnew/mail_send.gif" width="56" height="21" border="0"></a--><!--/div></td-->
    </tr>
   </table>
  <br>  </td>
 </tr>
</table>
</form>
</td>
</tr>
</table>
<br>
~$FOOT`
<br>
</body>
</html>
