<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Searching for ~$CAT` brides & grroms? Register Free with Jeevansathi.com and find suitable ~$CAT` girls & boys for ~$CAT` matrimonials. Join Free & Add your ~$CAT`  Matrimonial Profile Now! Find suitable Indian and NRI ~$CAT` brides and grooms."/>
	<meta name="keywords" content="Jeevansathi.com, ~$CAT` matrimony, ~$CAT`, matrimony, matrimonial, matrimonials, matrimony services, online matrimonials, Indian marriage, match making, matchmaking, matchmaker, match maker, marriage bureau , matchmaking services, matrimonial profiles, bride, groom, matrimony classified">
	<title>~$CAT` Matrimonials - ~$CAT` Matrimony - ~$CAT` Bride - ~$CAT` Groom - ~$CAT` Boy - ~$CAT` Girl</title>
	<link href="~$IMG_URL`/min/?f=/profile/css/~$colorbox_css`,/profile/css/~$mini_reg_css`" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="~$SITE_URL`/css/~$rupeeSymbol_css`">
~include file="../jeevansathi/google_analytics.htm"`</head>

<body>
	<div class="min_reg_cnt">
		  <a href="~$SITE_URL`"><h1 class="lgo" style="margin-left: 25px"></h1></a>
		  <p class="fr"> venture</p>
			<a href="https://www.naukri.com"><i class="nkri_lgo fr sprte"></i></a>
		  <p class="fr">a </p>
		  <p class="clr"></p>
		  <div class="tp sprte"> <i class="l sprte"></i>
			    <p class="fl">
			    	~$HEADING`
			    </p>
	    		    <i class="r sprte"></i> 
		  </div>
          <div class="mid_cont">
			  ~if $IS_FTO_LIVE`
			  <div style="width:910px; margin-top:20px" class="fto-notification-box">
				   <p style="color:#bc001d">Complete the form and 
				       Get Jeevansathi Paid Membership for <span style="font-family:WebRupee;color:#bc001d">R</span><span style=" text-decoration: line-through; color:#000 "><span style="color:#bc001d">1100</span></span><strong> FREE</strong> 
					   </p>
					   <div style=" height:5px"></div>
					   <p>See e-mail IDs &amp; Phone numbers of people you like.</p>
			 </div>
			 <div style="padding: 0 15px; width: 930px;" class="fl">
				 <div class="fto-arrow-down sprte1">&nbsp;</div>
				 <div class="fr" style="color:#7e7e7e; margin-top:5px">Field marked <i style="color:#ffaf00;">*</i> are compulsory. For offer details refer to Terms &amp; Conditions
				 </div>
			 </div>
			 ~/if`
	    	<div class="frm">

		 <form name="mini_reg_lead" action="~$SITE_URL`/profile/registration_new.php?source=~$SOURCE`&mini_reg=1" method="post" enctype="multipart/form-data">
  			<input type="hidden" name="site_url" value="~$SITE_URL`" />
			<input type="hidden" id="source" name="source" value="~$SOURCE`" />
			<p> 
				<b id="email_err_red">* Email:</b>
	   		 	<input type="text" id="email_val" name="email" maxlength="40" style="width:222px;font-size:11px;" /><br />
	 		</p>
			<div class="clr"></div>
			<div style="display:none" id="email_err">
				<s style="margin: -10px 0pt 12px 199px; color: rgb(255, 0, 0); font-size: 11px; float: left; text-decoration:none;" id="email_err_txt">Please enter email address in proper format
				</s>
			</div>
	       		<p> 
				<b id="mobile_err_red">* Mobile No:</b>
		    		<input style="width: 36px;" id="country_Code" name="country_Code" value="+91" type="text" maxlength="4" />
		    		<input class="ml_6" type="text" style="width:178px;" id="mobile" name="mobile" value="" maxlength="12" onBlur="javascript:get();"/>
			</p>

			<p id="mobile_error" style="display:none">
				<s id="mobile_err_txt"></s>
			</p>
        
        		<p> 
				<b id="match_err_red">* I am looking for:</b>
			            <select name="relationship" id="relationship_val" style="width:224px;font-size:11px;">
				              <option value="" selected="selected">Please Select</option>
					      <option value="1">Bride for Self</option>
					      <option value="2">Bride for Son</option>
					      <option value="6">Bride for Brother</option>
					      <option value="4">Bride for Friend/Relative/Niece/Others</option>
					      <option value="1D">Groom for Self</option>
					      <option value="2D">Groom for Daughter</option>
					      <option value="6D">Groom for Sister</option>
					      <option value="4D">Groom for Friend/Relative/Niece/Others</option>
           			    </select>
 		 	</p>

       			<p>
			      <b id="dob_err_txt">* Date of Birth of Boy / Girl:</b>
	 		       <select style="width:71px;font-size:11px;" name="day" id="day">
				      <option selected value="">Day</option>
      					    ~section name=foo loop=$dayArray`				    
						      <option value=~$dayArray[foo]` >~$dayArray[foo]` </option>
      					    ~/section`		  	
			       </select>
			       <select style="width:71px;font-size:11px;" name="month" id="month">
				      <option selected value="">Month</option>
				      <option value="1">Jan</option>
				      <option value="2">Feb</option>
				      <option value="3">Mar</option>
				      <option value="4">Apr</option>
				      <option value="5">May</option>
				      <option value="6">Jun</option>
				      <option value="7">Jul</option>
				      <option value="8">Aug</option>
				      <option value="9">Sep</option>
				      <option value="10">Oct</option>
				      <option value="11">Nov</option>
				      <option value="12">Dec</option>
   				</select>
				<select style="width:71px;font-size:11px;" name="year" id="year">
				      <option selected value="">Year</option>
				       ~section name=foo loop=$yearArray`
				       <option value=~$yearArray[foo]` >~$yearArray[foo]` </option>     
				       ~/section`					 
			        </select>
			</p>

~*        		<!--p> 
				<b id="caste_err_red">* Caste:</b>
				<select name="caste" id="caste" style="width:224px;font-size:11px;">
				      <option value="" selected="selected">Please Select</option>
				      ~$caste_str`
				</select>
			</p-->
*`
		        <p> 
				<b id="mtongue_err_red">* Mother Tongue/Community:</b>
				<select name="mtongue" id="mtongue" style="width:224px;font-size:11px;">
				      <option value="" selected="selected">Please Select</option>
					      <optgroup label="&nbsp;"></optgroup>
					      <optgroup label="North">
					      <option value="10">Hindi/ Delhi</option>
					      <option value="33">Hindi/U.P./Awadhi/ Bhojpuri/Garhwali</option>
					      <option value="19">Hindi-MP</option>
					      <option value="27">Punjabi</option>
					      <option value="7">Bihari/Maithili/Magahi</option>
					      <option value="28">Rajasthani / Marwari / Malwi / Jaipuri</option>
					      <option value="13">Haryanvi</option>
					      <option value="14">Himachali/Pahari</option>
					      <option value="15">Kashmiri/Dogri</option>
					      <option value="30">Sindhi</option>
					      <option value="36">Urdu</option>
				      </optgroup>
				      <optgroup label="&nbsp;"></optgroup>
					      <optgroup label="West">
					      <option value="20">Marathi</option>
					      <option value="12">Gujarati / Kutchi</option>
					      <option value="19">Hindi-MP</option>
					      <option value="34">Konkani</option>
					      <option value="30">Sindhi</option>
				      </optgroup>
				      <optgroup label="&nbsp;"></optgroup>
					      <optgroup label="South">
					      <option value="31">Tamil</option>
					      <option value="3">Telugu</option>
					      <option value="16">Kannada</option>
					      <option value="17">Malayalam</option>
						<option  value="35">Tulu</option>
						<option  value="36">Urdu</option>
				      </optgroup>
				      <optgroup label="&nbsp;"></optgroup>
					      <optgroup label="East">
					      <option value="6">Bengali</option>
					      <option value="25">Oriya</option>
					      <option value="5">Assamese</option>
					      <option value="29">Sikkim/ Nepali/ Lepcha/ Bhutia/ Limbu</option>
				      </optgroup>
						<option style="font-weight: bold;color:#000000" disabled="" value="">--------------</option>
						<option  value="37">English</option>
   				 </select>
 			</p>
        		<div>
        			<b> 
					<span style="font:bold 11px arial,verdana; display:none; color:#f00;" id="common_error_sul">*Please fill all details to proceed.</span> 
				</b>
			       
			</div>
            <p class="clr"></p>
            <div> <b style="float:left; width:155px;">&nbsp;</b><a href="#" class="fl sprte reg_btn" onClick="javascript:form_submit();"></a>
			        <br /><br /></div>
        	</form>
        	<p>
			<b class="f_13" style="width:auto;margin-left: 27px;"><br />Clicking on register free button means that you accept <a href="~$SITE_URL`/P/disclaimer.php" target="_blank">terms and conditions</a>
			</b>
		</p>
		<p style="text-align:center">Existing user - <a href="/profile/login.php?SHOW_LOGIN_WINDOW=1" >Login Here</a></p>
	        <p class="clr"></p>
    		</div>
                <div class="tst_mnl sprte"><p class="l_qte sprte"></p><blockquote>~$STORY`</blockquote><p class="r_qte sprte"></p>
		</div>  		     
	       <p class="clr_15"></p>
	       <p class="phto ml_27" style="padding-bottom:0;">
			<b class="sprte">&nbsp;</b>
			<u>Photo Protection<br />Features</u>
	       </p>
	       <p class="lck" style="padding:0 24px 3px 24px;">
			<b class="sprte">&nbsp;</b>
			<u>Exclusive Privacy Options</u>
	       </p>
		<p class="phne" style="padding:0 0 0 24px; border:none;">
			<b class="sprte">&nbsp;</b>
			<u>Verified Contact Numbers<br /><br /><br />
			</u>
	       </p>
		<p class="coup_img" style="position:realtive;background:url(~$COUP_IMAGE`) no-repeat;"></p>
	  	</div>
          	<p class="clr"></p>
		<p class="mid_b_c_l sprte" style="float:left; margin:-20px 0 0; position:relative;"></p>
		<p class="mid_b_c_r sprte" style="float:right; margin:-20px 13px 0 0; display:inline;"></p>
	</div>
	<p class="clr_15"></p>

	<script type = "text/javascript" src = "~$JQUERY_JS`"></script>	
	<script type="text/javascript" language="Javascript" SRC="~$IMG_URL`/min/?f=/profile/js/~$revampCommon_js`,/profile/js/~$colorbox`"></script>
	<script type="text/javascript" language="Javascript" SRC="~$IMG_URL`/profile/js/~$mini_reg_js`"></script>
	<script>
		function form_submit()
		{
		        val_ret =lead_valid();
		        if(val_ret)
		                document.mini_reg_lead.submit(); 
		}
	</script>

	~$FOOT`

   	<noscript><div style="position:fixed;z-index:1000;width:100%"><div style="text-align:center;padding-bottom:3px;font-family:verdana,Arial;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;background-color:#E5E5E5;"><b><img src="~$IMG_URL`/profile/images/registration_new/error.gif" width="23" height="20"> Javascript is disabled in your browser.Due to this certain functionalities will not work. <a href="~$SITE_URL`/P/js_help.htm" target="_blank">Click Here</a> , to know how to enable
it.</b></div></div></noscript>
</body>
</html>
