<html>
<head>
<title>Jeevansathi.com - Order Astrological Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="I/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
        <td height="702">
        ~$HEAD`
        <br>
        <table width="550"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#FF9900">
        <tr>
                <td>
                <table width="550" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
                <tr>
                        <td colspan="2"><DIV align=center class="extralargepink"><B>Horoscope Order Form</B> <br>
                        <br>
                        </DIV></td>
		</tr>
		<tr>
                        <td width="15" valign="top" class="mediumblack"><B>1.</B></td>
                        <td width="520"><FONT size=2 face="Verdana, Arial, Helvetica, sans-serif" class="mediumblack"><B>Please fill in your and your partner's particulars correctly and completely, since the astrological charts and predictions to be sent to you will be based only on the criteria specified by you here.</B></FONT></td>
                </tr>
		<form method=post action="order_match_astrol.php">
		<tr>
		        <td valign="top" class="mediumblack"><b>1.</b></td>
		        <td><B class="mediumblack">Your particulars </B></td>
	        </tr>
        	<tr>
		        <td colspan="2">
			<table width="95%"  border="0" align="center" cellpadding="1" cellspacing="1">
		        <tr class="mediumblack">
		                <td width="4%">a.</td>
                		<td width="31%">~if $FLAG_NAME eq 'R'`<font color=red><B>Your name</B></font>~else`<B>Your name</B>~/if`</td>
		                <td width="65%"><input name="name" type="text" class="testbox" value=~$name`></td>
	                </tr>
          		<tr class="mediumblack">
		                <td>b.</td>
                		<td><B>Your Gender </B></td>
		                <td>
				<table width="80%"  border="0" cellspacing="2" cellpadding="2">
		                <tr class="mediumblack">
			                <td><input name="gender" type="radio" value="M" checked></td>
		                        <td>Male</td>
		                        <td><input name="gender" type="radio" value="F" ~if $gender eq 'F'` checked ~/if` ></td>
                  			<td>Female</td>
				</tr>
		                </table>
				</td>
			</tr>
			<tr class="mediumblack">
        		        <td>c.</td>
		                <td>~if $FLAG_DOB eq 'R'`<font color=red><B>Your date of birth</B></font>~else`<B>Your date of birth</B>~/if`</td>
		                <td>
				<table width="80%"  border="0" cellspacing="3" cellpadding="0">
		                <tr>
                			<td class="mediumblack">Date</td>
		                        <td class="mediumblack">month</td>
                  			<td class="mediumblack">Year</td>
		                </tr>
                		<tr>
		                        <td width="20%">
					<select name="day" size="1">
					~section name=dd loop=$dtarr`
                  		        	<option value="~$dtarr[dd]`" ~if $dtarr[dd] eq $day` selected ~/if` >~$dtarr[dd]`</option>
					~/section`
		                        </select>
					</td>
		                        <td width="20%">
					<select name="month" size="1">
					~section name=mon loop=$mmarr`
						<option value="~$mmarr[mon]`" ~if $mmarr[mon] eq $month` Selected ~/if` >~$mmarr[mon]`</option>
					~/section`
                      			</select>
					</td>
		                        <td width="20%">
					<select name="year" size="1">
					~section name=yr loop=$yyarr`
						<option value="~$yyarr[yr]`" ~if $yyarr[yr] eq $year` Selected ~/if` >~$yyarr[yr]`</option>
					~/section`
                      			</select>
					</td>
				</tr>
				</table>
				</td>
			</tr>
			<tr class="mediumblack">
		                <td>d.</td>
		                <td><b>Your time of birth (in 24 Hr format) </b></td>
                		<td>
				<table width="80%"  border="0" cellspacing="1" cellpadding="0">
				<tr>
					<td width="19%">
					<select size=1 name=hour>
					~section name=hr loop=$hharr`
						<option value="~$hharr[hr]`" ~if $hharr[hr] eq $hour` Selected ~/if` >~$hharr[hr]`</option>
					~/section`
                    			</select>
					</td>
			                <td width="4%"><B>:</B></td>
			                <td width="77%">
					<select size=1 name=minute>
					~section name=min loop=$minarr`
						<option value="~$minarr[min]`" ~if $minarr[min] eq $minute` Selected ~/if` >~$minarr[min]`</option>
					~/section`
					</select>
					</td>
				</tr>
		                </table>
				</td>
			</tr>
	                <tr class="mediumblack">
				<td>e.</td>
		                <td><strong>Your Place of birth </strong></td>
		                <td>&nbsp;</td>
	                </tr>
		        <tr class="mediumblack">
		                <td>&nbsp;</td>
		                <td>~if $FLAG_CITY eq 'R'`<font color=red>City</font>~else`City~/if`</td>
                		<td><input name="city" type="text" class="testbox" value=~$city`></td>
	                </tr>
          		<tr class="mediumblack">
		                <td>&nbsp;</td>
                		<td>~if $FLAG_STATE eq 'R'`<font color=red>State/ Province</font>~else`State/ Province~/if`</td>
		                <td><input name="state" type="text" class="testbox" value=~$state`></td>
	                </tr>
		        <tr class="mediumblack">
                		<td>&nbsp;</td>
		                <td>~if $FLAG_COUNTRY eq 'R'`<font color=red>Country</font>~else`Country~/if`</td>
                		<td><input name="country" type="text" class="testbox" value=~$country`></td>
			</tr>
		        </table>
		        </td>
		</tr>
	        <tr>
        		<td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
	        <tr>
                        <td colspan="2" height="1" bgcolor="cccccc"><spacer type="block" height="1"></td>
                </tr>
	        <tr>
        		<td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
	        <tr>
        		<td class="mediumblack"><B>2.</B></td>
		        <td><B class="mediumblack">Your partner's particulars</B></td>
	        </tr>
        	<tr>
			<td colspan="2" class="mediumblack">
			<table width="95%"  border="0" align="center" cellpadding="1" cellspacing="1">
		        <tr class="mediumblack">
				<td width="4%">a.</td>
		                <td width="31%">~if $FLAG_PNAME eq 'R'`<font color=red><B>Your partner's name</B></font>~else`<B>Your partner's name</B>~/if`</td>
		                <td width="65%"><input name="pname" type="text" class="testbox" value=~$pname`></td>
		        </tr>
		        <tr class="mediumblack">
	                	<td>b.</td>
	          		<td><B>Your partner's gender </B></td>
        		        <td>
				<table width="80%"  border="0" cellspacing="2" cellpadding="2">
		                <tr class="mediumblack">
                			<td><input name="pgender" type="radio" value="M" checked></td>
		                        <td>Male</td>
                    			<td><input name="pgender" type="radio" value="F" ~if $gender eq 'F'` checked ~/if` ></td>
			                <td>Female</td>
		                </tr>
		                </table>
				</td>
			</tr>
		        <tr class="mediumblack">
	  	  		<td>c.</td>
		                <td>~if $FLAG_PDOB eq 'R'`<font color=red><B>Your partner's date of birth</B></font>~else`<B>Your partner's date of birth</B>~/if`</td>
			        <td>
				<table width="80%"  border="0" cellspacing="3" cellpadding="0">
		                <tr>
                			<td class="mediumblack">Date</td>
			                <td class="mediumblack">month</td>
			                <td class="mediumblack">Year</td>
		                </tr>
                		<tr>
			                <td width="20%">
					<select name="pday" size="1">
					~section name=dd loop=$dtarr`
                                                <option value="~$dtarr[dd]`" ~if $dtarr[dd] eq $pday` Selected ~/if` >~$dtarr[dd]`</option>
                                        ~/section`
                                        </select>
                                        </td>
                                        <td width="20%">
                                        <select name="pmonth" size="1">
                                        ~section name=mon loop=$mmarr`
                                                <option value="~$mmarr[mon]`" ~if $mmarr[mon] eq $pmonth` Selected ~/if` >~$mmarr[mon]`</option>
                                        ~/section`
                                        </select>
                                        </td>
                                        <td width="20%">
                                        <select name="pyear" size="1">
                                        ~section name=yr loop=$yyarr`
                                                <option value="~$yyarr[yr]`" ~if $yyarr[yr] eq $pyear` Selected ~/if` >~$yyarr[yr]`</option>
                                        ~/section`
                                        </select>
                                        </td>
                                </tr>
                                </table>
              			</td>
			</tr>
			<tr class="mediumblack">
				<td>d.</td>
		                <td><b>Your partner's time of birth (in 24 Hr format) </b></td>
		                <td>
				<table width="80%"  border="0" cellspacing="1" cellpadding="0">
		                <tr>
					<td width="19%">
                                        <select size=1 name=phour>
                                        ~section name=hr loop=$hharr`
                                                <option value="~$hharr[hr]`" ~if $hharr[hr] eq $phour` Selected ~/if` >~$hharr[hr]`</option>
                                        ~/section`
                                        </select>
                                        </td>
                                        <td width="4%"><B>:</B></td>
                                        <td width="77%">
                                        <select size=1 name=pminute>
                                        ~section name=min loop=$minarr`
                                                <option value="~$minarr[min]`" ~if $minarr[min] eq $pminute` Selected ~/if` >~$minarr[min]`</option>
                                        ~/section`
                                        </select>
                                        </td>
                                </tr>
                                </table>
                                </td>
                        </tr>
			<tr class="mediumblack">
				<td>e.</td>
			        <td><strong>Your partner's place of birth </strong></td>
		                <td>&nbsp;</td>
		        </tr>
			<tr class="mediumblack">
				<td>&nbsp;</td>
		                <td>~if $FLAG_PCITY eq 'R'`<font color=red>City</font>~else`City~/if`</td>
		                <td><input name="pcity" type="text" class="testbox" value=~$pcity`></td>
			</tr>
			<tr class="mediumblack">
				<td>&nbsp;</td>
				<td>~if $FLAG_PSTATE eq 'R'`<font color=red>State/ Province</font>~else`State/ Province~/if`</td>
			        <td><input name="pstate" type="text" class="testbox" value=~$pstate`></td>
			</tr>
		        <tr class="mediumblack">
		                <td>&nbsp;</td>
		                <td>~if $FLAG_PCOUNTRY eq 'R'`<font color=red>Country</font>~else`Country~/if`</td>
		                <td><input name="pcountry" type="text" class="testbox" value=~$pcountry`></td>
			</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" height="5"><spacer type="block" height="5"></td>
		</tr>
		<tr>
		        <td colspan="2" height="1" bgcolor="cccccc"><spacer type="block" height="1"></td>
	        </tr>
		<tr>
		        <td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
        	<tr>
		        <td class="mediumblack"><b>3.</b></td>
		        <td class="mediumblack"><b>Desired format of report</b> </td>
	        </tr>
        	<tr>
		        <td colspan="2" class="mediumblack">
			<table width="95%"  border="0" align="center" cellpadding="1" cellspacing="1">
			<tr class="mediumblack">
				<td width="5%"><input name="report_format" type="radio" value="PDF" checked></td>
		                <td width="95%">PDF format </td>
		        </tr>
		        <tr class="mediumblack">
		                <td><input name="report_format" type="radio" value="PRN" ~if $report_format eq 'PRN'` checked ~/if` ></td>
		                <td>Printed format</td>
	                </tr>
		        </table>
			</td>
		</tr>
	        <tr>
        		<td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
	        <tr>
		        <td colspan="2" height="1" bgcolor=" #cccccc"><spacer type="block" height="1"></td>
	        </tr>
	        <tr>
		        <td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
	        <tr>
         		<td height="5" class=" mediumblack"><b>4.</b></td>
		        <td height="5" class="mediumblack"><b>Select method of payment</b></td>
	        </tr>
	        <tr>
		        <td colspan="2" height="5">
			<table width="95%"  border="0" align="center" cellpadding="1" cellspacing="1">
			<tr class="mediumblack">
				<td width="5%"><input name="MOP" type="radio" value="INDC" checked></td>
			        <td width="95%">Indian demand draft/cheque Rs 600/-</td>
		        </tr>
		        <tr class="mediumblack">
			        <td><input name="MOP" type="radio" value="ITDC" ~if $MOP eq 'ITDC'` checked ~/if` ></td>
		                <td>International draft/cheque US$ 22</td>
		        </tr>
		        </table>
			</td>
		</tr>
	        <tr>
		        <td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
	        <tr>
                        <td colspan="2" height="1" bgcolor="cccccc"><spacer type="block" height="1"></td>
                </tr>
	        <tr>
		        <td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
        	<tr>
		        <td valign="top" class="mediumblack"><strong>3.</strong></td>
		        <td><B class="mediumblack">
			~if $FLAG_EMAIL eq 'R'`<font color=red>
                        E-mail id (to which the PDF report), <U>OR</U> Mailing Address (to which the printed report), should be sent</font> ~else`E-mail id (to which the PDF report), <U>OR</U> Mailing Address (to which the printed report), should be sent</B>~/if`</td>
	        </tr>
        	<tr>
		        <td class="mediumblack">&nbsp;</td>
		        <td><input name="email" type="text" class="testbox" size="40" value=~$email`></td>
	        </tr>
	        <tr>
        		<td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
        	<tr>
                        <td colspan="2" height="1" bgcolor="cccccc"><spacer type="block" height="1"></td>
                </tr>
	        <tr>
        		<td colspan="2" height="5"><spacer type="block" height="5"></td>
	        </tr>
	        <tr>
        		<td>&nbsp;</td>
		        <td><p><B class="mediumblack">If you opt to pay by credit card, you will be transferred to a secure server, after the next page, in order to complete the transaction in total privacy and security.</B></p>
		        <p>&nbsp;</p></td>
	        </tr>
	        <tr>
        		<td colspan="2"><div align="center">
		        <input type="submit" name="CMDSubmit" value="    Register your order now    ">
		        </div></td>
	        </tr>
		</form>
        	<tr>
			<td colspan="2">&nbsp;</td>
	        </tr>
		</table>
		</td>
	</tr>
	</table>
	</td>
</tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
