<html>
<head>
<title>JeevanSathi Matrimonials - JeevanSathi Forgot Password Mail</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body leftmargin="5" topmargin="5">
<div>Dear ~$username`,<BR><BR>


Click on the following link to create a new password for your Jeevansathi account:
<BR>
<BR>
<a href="~$forgotPasswordUrl`">Create a new password</a>

<BR>
<BR>
<BR>

If the above link doesn't work, try the following:

<BR>
<ul>
<li>Mozilla Users- Right click on the 'Create a new password' link. Select 'Copy link location' & paste the URL in the address bar.</li>
<BR>

<li>Internet Explorer Users- Right click on the 'Create a new password' link. Select 'Open in New Window/Tab' option.</li>
</ul>

<BR>
Note: This link will be functional for a one time use or 72 hours (whichever is earlier)
<BR>
<BR>
<BR>
Regards, 
<BR>
Jeevansathi Team

<BR><BR><BR>
</div>
</body>
</html>
