<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Jeevansathi Matrimonials - Confirm Subscription</title>
		<link rel="stylesheet" href="css/~$comm_style_css`" type="text/css">
		<style type="text/css">
			#left{float:left; width:74%; padding:5px 5px 5px 15px}
			#right{float:right;width:20%;padding:5px 15px 5px 5px}
			.bric{ color:#CC6600}
			.cols{width:20%; float:left; line-height:20px;font:normal 11px verdana,arial;}
			.febg{width:90%; border:1px solid #b4c571; background-color:#d6e88e}
			.lftbo{border:2px solid #EF9429; background-color:#F5F2D3;}
			.lfthd{background-color:#EDE9C1; color:#CC9900; width:100%; padding:2px 0 2px 0}
			.tgot{width:100px; height:20px; background-image:url(~$IMG_URL`/profile/ser4_images/tag_s.gif); color:#199616;}
			.tb{width:24%; float:left; margin-left:4px; }
			.tb1a{width:13%; float:left; margin-left:4px;}
			.tb1b{width:19%; float:left; margin-left:4px; }
			.tb2{width:45%; float:left; margin-left:4px}
			.ord{font:bold 11px Verdana,arial; color:#f26424}
			.sp{border-bottom:1px solid #c2c2c2; clear: both; line-height:5px; margin:0 7px 0 7px}
			*html .erm{margin-left:57%}
			.erm{margin-left:74%}
		</style>
		<script language="javascript">
		<!--
		function check_mob()
		{
			if(document.abc.cus_mobno.value=="")
			{
				alert("Please enter your mobile number");
				return false;
			}
		}
												
		//-->
		</script>
	</head>
	<body>
		<div id="container">
			<!--HEADER STARTS-->
			~$HEAD_NEW`
			<!--HEADER ENDS-->
			<div class="spacer15">&nbsp;</div>
			<!--WRAPPER STARTS HERE-->
			<div id="wrapper">
				<div style="margin:10px ">
					<!--LEFT STARTS HERE-->
					<div id="left">
						<div style="width:77%; background-image:url(~$IMG_URL`/profile/ser4_images/bgl.gif);">
							<div style=" float:left;width:29%">&nbsp;</div>
							<div style="float:left;width:17%">&nbsp;</div>
							<div style="float:left;width:25%">&nbsp;</div>
							<div style="float:left;width:24%">
								~if $SER_MAIN eq 'P'`
									<img src="~$IMG_URL`/profile/ser4_images/logo_erishta_1.gif">
								~elseif $SER_MAIN eq 'C'`
									<img src="~$IMG_URL`/profile/ser4_images/logo_evaluepack_1.gif">
								~/if`
							</div>
							<div class="spacer1">&nbsp;</div>
							<div class="cols bric" style="width:29% ">Membership Type</div>
							<div class="cols bric" style="width:17% ">Duration</div>
							<div class="cols bric" style="width:25% ">Payment Mode</div>
							<div class="cols bric" style="width:24% "><b>Confirm Details</b></div>
							<div class="spacer1">&nbsp;</div>
						</div>
						<div class="spacer15">&nbsp;</div><div class="spacer15">&nbsp;</div>
						<div class="bele"><b>Dear member (~$USERNAME`),</b></div>
						<div class="spacer15">&nbsp;</div>
						<div class="bele lh">
							Thank you for subscribing to our
							<font color="#00A8E9">
								<b>
									~if $SER_MAIN eq 'P'`
										eRishta
									~elseif $SER_MAIN eq 'D'`
										eClassified
									~elseif $SER_MAIN eq 'C'`
										eValuePack
									~/if`
								</b>
							</font>
							Membership subscription.
							<div class="spacer15">&nbsp;</div>
							~if !$SHOW_RENEW_IMAGE`
								<form method="post" action="payment.php" name="voucher_form" style="margin:0px">
								<input type="hidden" name="paymode" value="~$PAYMODE`">
								<input type="hidden" name="checkout2" value="~$CHECKOUT2`">
								<input type="hidden" name="service" value="~$SERVICE_SELECTED`">
								<input type="hidden" name="voicemail" value="~$VOICEMAIL`">
								<input type="hidden" name="horoscope" value="~$HOROSCOPE`">
								<input type="hidden" name="boldlisting" value="~$BOLDLISTING`">
								<input type="hidden" name="matri_profile" value="~$MATRI_PROFILE`">
								<input type="hidden" name="kundli" value="~$KUNDLI`">
								<input type="hidden" name="astro_compatibility" value="~$ASTRO_COMPATIBILITY`">
								<input type="hidden" name="service_str" value="~$SERVICE_STR_ORIG`">
								<input type="hidden" name="service_main" value="~$SERVICE_MAIN_ORIG`">
								<input type="hidden" name="ser_main" value="~$SER_MAIN`">
								<input type="hidden" name="ser_duration" value="~$SER_DURATION_ORIG`">
								<input type="hidden" name="type" value="~$TYPE`">
								<input type="hidden" name="discount" value="~$DISCOUNT_ORIG`">
								<input type="hidden" name="total" value="~$TOTAL`">
								<input type="hidden" name="setactivate" value="~$SETACTIVATE_ORIG`">
								<input type="hidden" name="checksum" value="~$CHECKSUM`">
								<input type="hidden" name="checkout" value="~$CHECKOUT`">
								<input type="hidden" name="ACTION_PATH" value="~$ACTION_PATH_ORIG`">
								<input type="hidden" name="profileid" value="~$PROFILEID_ORIG`">
								<input type="hidden" name="addon" value="~$ADDON_ORIG`">
								<input type="hidden" name="stp" value="~$STP_ORIG`">
								<input type="hidden" name="dec_ag" value="~$DEC_AG_ORIG`">
								<input type="hidden" name="COURIER" value="~$COURIER`">
								<input type="hidden" name="indian" value="~$indian`">
								<input type="hidden" name="DISCOUNT" value="~$DISCOUNT_BOOL_ORIG`">
								<input type="hidden" name="subtotal" value="~$SUBTOTAL_ORIG`">
								<input type="hidden" name="renew_discount_rate" value="~$RENEW_DISCOUNT_RATE_ORIG`">
								<input type="hidden" name="score_discount_rate" value="~$SCORE_DISCOUNT_RATE_ORIG`">
								<input type="hidden" name="main_price" value="~$MAIN_PRICE`">
								<input type="hidden" name="boldlisting_price" value="~$boldlisting_price`">
								<input type="hidden" name="matri_profile_price" value="~$matri_profile_price`">
								<input type="hidden" name="kundli_price" value="~$kundli_price`">
								<input type="hidden" name="horoscope_price" value="~$horoscope_price`">
								<input type="hidden" name="voicemail_price" value="~$voicemail_price`">
								<input type="hidden" name="astro_compatibility_price" value="~$astro_compatibility_price`">
								<div>If you have a gift code please enter here</div>
								<div class="spacer">&nbsp;</div>
								~if $INCORRECT_VOUCHER_CODE`
									<div class="febg" style="padding-top:4px; padding-bottom:4px">
										<div class="spacer1">&nbsp;</div>
										<div class="btwe leftflow" style="width:140px">
											<strong>Your Gift Code</strong>
										</div>
										<div class="leftflow" style="width:130px">
											<input type="text" name="voucher_discount_code" value="~$voucher_discount_code`" class="textbox">
										</div>
										<div class="leftflow">
											<input type="submit" name="voucher_discount" value="Recalculate" class="textbox" style="width:80px">
										</div>
										<div class="spacer1">&nbsp;</div>
									</div>
									<div class="febg" style="padding-top:4px; padding-bottom:4px">
										<div class="spacer1">&nbsp;</div>
										<div class="btwe leftflow" style="width:180px">
											You entered an Invalid Code. Please enter the correct code.
										</div>
										<div class="spacer1">&nbsp;</div>
									</div>
								~elseif $CORRECT_VOUCHER_CODE`
									<div class="febg" style="padding-top:4px; padding-bottom:4px">
										<div class="spacer1">&nbsp;</div>
										<div class="btwe leftflow" style="width:180px">
											You entered <strong>~$voucher_discount_code`</strong>
										</div>
										<div class="leftflow">
											<input type="hidden" name="voucher_discount_code" value="~$voucher_discount_code`" class="textbox">
											<input type="submit" name="voucher_discount_cancel" value="Cancel Now" class="textbox" style="width:80px">
										</div>
										<div class="spacer1">&nbsp;</div>
									</div>
								~else`
									<div class="febg" style="padding-top:4px; padding-bottom:4px">
										<div class="spacer1">&nbsp;</div>
										<div class="btwe leftflow" style="width:140px">
											<strong>Your Gift Code</strong>
										</div>
										<div class="leftflow" style="width:130px">
											<input type="text" name="voucher_discount_code" value="~$voucher_discount_code`" class="textbox">
										</div>
										<div class="leftflow">
											<input type="submit" name="voucher_discount" value="Recalculate" class="textbox" style="width:80px">
										</div>
										<div class="spacer1">&nbsp;</div>
									</div>
								~/if`
								</form>
							~/if`
							<div class="spacer15">&nbsp;</div>
							<div style="font:normal 14px verdana,arial"><b>Payment Details</b></div>
							<div class="spacer">&nbsp;</div>
							<div style="width:90%; border:1px solid #feb70d;">
								<div class="greyele lh" style="background-image:url(~$SER6_URL`/profile/images/mem-table-bg.gif); background-position:center; background-repeat:repeat-x; height:21px">
								<div class="bele tb2 pad2" style="color:#000000"><b>Service Name</b></div>
								<div class="bele tb1a pad2" style="color:#000000"><b>Duration</b></div>
								<div class="bele tb1b pad2" style="text-align:right;color:#000000">
									<b>
										Amount in
										~if $TYPE eq "RS"`
											Rs&nbsp;
										~elseif $TYPE eq "DOL"`
											$&nbsp;
										~/if`
									</b>
								</div>
								<div class="spacer1">&nbsp;</div>
							</div>
							~section name=index loop=$ROW`
								 <div class="spacer">&nbsp;</div>
								 <div class="bele tb2 pad2">
									~if $ROW[index].name eq "Matri-Profile"`Matri-Profile <br>
										<span  class="greyele">
											(Standard price~if $TYPE eq "RS"` Rs.450~else` $ 9~/if`, special combo price offered with this pack)
										</span>
										~else`
											~$ROW[index].name`
										~/if`
								</div>
								<div class="bele tb1a pad2">
									~if $ROW[index].name neq "Matri-Profile"` ~$ROW[index].DURATION`~/if`
								</div>
								 <div class="bele tb1b pad2" style="text-align:right">
									~$ROW[index].price`
								</div>
								 ~if $ROW[index].value neq $SERVICE_SELECTED`
									<div class="lks tb1a pad2" style="text-align:right ">
										[<a href="payment.php?checksum=~$CHECKSUM`&service=~$SERVICE_SELECTED`&service_str=~$SERVICE_STR`&paymode=~$PAYMODE`&rem=Y&rem_ser=~$ROW[index].value`&checkout2=Y&ser_main=~$SER_MAIN`&voucher_discount=~$VOUCHER_DISCOUNT`&voucher_discount_code=~$VOUCHER_DISCOUNT_CODE`">Remove</a>]
									</div>
								~/if`
							~/section`
							~if $RENEW_DISCOUNT_RATE neq "" or $SCORE_DISCOUNT_RATE neq "" or $VOUCHER_DISCOUNT_RATE`
							<div class="spacer">&nbsp;</div>
							<div class="ord tb2 pad2">
								~if $SCORE_DISCOUNT_RATE`
									~$SCORE_DISCOUNT_RATE`% discount
								~elseif $VOUCHER_DISCOUNT_RATE`
									~$VOUCHER_DISCOUNT_RATE`% ~$DISCOUNT_MESSAGE`
								~else`
									~$RENEW_DISCOUNT_RATE`% discount for renewing membership
								~/if`
							</div>
							<div class="bele tb1a pad2">&nbsp;</div>
							<div class="ord tb1b pad2" style="text-align:right">-~$DISCOUNT_VALUE`</div>
							<div class="lks tb1a pad2" style="text-align:right "></div>
							~/if`
							<div class="spacer">&nbsp;</div>
							<div class="sp">&nbsp;</div>
							<div class="bele tb2 pad2" >
								~if $MODE_NAME neq ""`Payment Mode:
									<b> ~$MODE_NAME`</b>
								~/if`
							</div>
							<div class="bele tb1b pad2" style="width:34%; text-align:right">
								<b>Total &nbsp; </b>~$TOTAL`
							</div>
							<div class="spacer">&nbsp;</div>
						</div>
						<div class="spacer">&nbsp;</div>
						~if $REQ_COURIER eq 'Y'`
						<form name=abc action="request_courier.php" method=post style="margin:0px">
						 ~else`
						<form name=abc action="~$ACTION_PATH`" method=post style="margin:0px" ~if $PAYMATE eq 'Y'` onSubmit="return check_mob()" ~/if`>
						~/if`
							<input type="hidden" name="service" value="~$SERVICE_SELECTED`">
							<input type="hidden" name="voicemail" value="~$VOICEMAIL`">
							<input type="hidden" name="horoscope" value="~$HOROSCOPE`">
							<input type="hidden" name="boldlisting" value="~$BOLDLISTING`">
							<input type="hidden" name="matri_profile" value="~$MATRI_PROFILE`">
							<input type="hidden" name="kundli" value="~$KUNDLI`">
							<input type="hidden" name="astro_compatibility" value="~$ASTRO_COMPATIBILITY`">
							<input type="hidden" name="service_str" value="~$SERVICE_STR`">
							<input type="hidden" name="service_main" value="~$SERVICE_MAIN`">
							<input type="hidden" name="ser_main" value="~$SER_MAIN`">
							<input type="hidden" name="ser_duration" value="~$SER_DURATION`">
							<input type="hidden" name="type" value="~$TYPE`">
							<input type="hidden" name="discount" value="~$discount_without_tax`">
							<input type="hidden" name="total" value="~$TOTAL`">
							<input type="hidden" name="paymode" value="~$PAYMODE`">
							<input type="hidden" name="setactivate" value="~$SETACTIVATE`">
							<input type="hidden" name="checksum" value="~$CHECKSUM`">
							<input type="hidden" name="checkout" value="true">
							<input type="hidden" name="ACTION_PATH" value="~$ACTION_PATH`">
							<input type="hidden" name="profileid" value="~$PROFILEID`">
							<input type="hidden" name="addon" value="~$ADDON`">
							<input type="hidden" name="stp" value="~$SER_MAIN`">
							<input type="hidden" name="dec_ag" value="~$DEC_AG`">
							<input type="hidden" name="COURIER" value="~$COURIER`">
							<input type="hidden" name="indian" value="~$indian`">
							<input type="hidden" name="discount_type" value="~$DISCOUNT_TYPE`">
							~if $PAYMATE eq 'Y'`
								<input type="hidden" name="PAYMATE" value="Y">
								<div class="spacer15">&nbsp;</div>
								<div class="pad2 bele">
									To pay through mobile gateway Please enter your mobile number
									<input type="text" name="cus_mobno" class="textbox">
								</div>
								<div class="spacer15">&nbsp;</div>
							~/if`
							<div class="spacer">&nbsp;</div>
							<div align="left">
								<input type="submit" name="Submit" value="Proceed to Payment&raquo;" class="button-vcd" style="width:241px">
							</div>
						</form>
						~if $PAYMATE eq 'Y'`
							<div class="spacer15">&nbsp;</div>
							<div class="bele pad4" style="background-color:#EEEEEE ">
								You can now make a payment using your mobile phone using this service. All you need to do is register with your bank (presently only for Citibank) for this service. <br>
								Your bank will issue you a pin which can be then used to authenticate your transaction to ensure a safe and secure payment mechanism.<br>
								Your mobile number can be mapped to either your credit card or debit card. <br> Currently supported only by Citibank. Your mobile number will not be used for any marketing/promotional activities to ensure privacy.
							</div>
						~/if`                                                                                
						<div align="left" class="greyele pad2">
						~if $GATEWAY eq 'Easy Bill'`
							This will take you to the ~$GATEWAY` payment page. You will get a reference id for making payments at nearest easy bill outlet.
						~elseif $GATEWAY neq ""`
							This will take you to the ~$GATEWAY` payment gateway. The transaction will be safe and secured.
						~/if`
						</div>
					</div>
					~if $MODE_NAME eq "Cheque and Draft"`
                                        <div class="space15">&nbsp;</div>
<div class="bluel bele bgg1 pad2" style="width:90% "><b>MICR cheques:</b> In case you pay using a non-MICR cheque, your activation might get delayed due to slower clearance. For faster activation, please use MICR cheques</div>~/if`
					<div class="space15">&nbsp;</div><div class="space15">&nbsp;</div>
					<div class="lftflow" style="width:3% ">
							<img src="~$IMG_URL`/profile/ser4_images/lock.gif" width="11" height="16">
					</div>
					<div class="greyele leftflow bluelink" style="width:95%">
						<b>Security & Privacy</b><br>Every transaction on Jeevansathi is secure. Any personal information you give us will be handled according to our
						<a href="/P/privacy_policy.php">Privacy Policy</a>
					</div>
				</div>
				<!--LEFT ENDS HERE-->
			</div>
			<!--WRAPPER ENDS HERE-->
			<!--FOOTER STARTS HERE-->
			<!--FOOTER ENDS HERE-->
		</div>
	</body>
</html>
