<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<base href='~$SITE_URL`/P/'>
</head><body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #f4f4f4;">
  <tr>
    <td align="left" valign="top"><img src="~$IMG_URL`/P/images/img789.jpg" width="296" height="314" /></td>
    <td align="left" valign="top"><img src="~$IMG_URL`/P/images/img_logo.jpg" width="304" height="314" /></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top"><img src="~$IMG_URL`/P/images/curve1.gif" width="600" height="32" /></td>
  </tr>
  <tr><td colspan="2" align="left" valign="top" background="~$IMG_URL`/P/images/bg_rept.jpg"><table border="0" align="left" cellpadding="0" cellspacing="0" style="float:left;">
      <tr><td align="left" valign="top" style="width:600px; background:#faf8f9;">
<div style="float:left; width:535px; padding-left:15px;">
<div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;"><strong>Dear ~$USERNAME`</strong>,<br /><br /> Thank you for registering with Jeevansathi.com, India’s leading matrimonial website. With a database of millions of verified profiles, we help the best matches come together.</div>
    <table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr><td height="20" colspan="3" align="left" valign="middle">&nbsp;</td></tr>
      <tr><td width="85" height="30" align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">Username</div></td>
        <td width="25" align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">:</div></td>
        <td align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;"><strong>~$USERNAME`</strong></div></td>
      </tr>
      <tr><td height="30" align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">Email id</div></td>
        <td align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">:</div></td>
        <td align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;"><strong>~$EMAIL`</strong></div></td>
      </tr>
      <tr><td height="30" align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">Password</div></td>
        <td align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">:</div></td>
        <td align="left" valign="middle"><div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;"><strong><a href="~$forgotPasswordUrl`" style="color: blue;">Create Password</a></strong></div></td>
      </tr>

      <tr><td height="18" colspan="3" align="left" valign="middle">&nbsp;</td></tr>
    </table>
        <div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">In case you have not provided details about yourself, your profile will not appear in the search results. <a href="~$SITE_URL`/P/viewprofile.php?echecksum=~$ECHECKSUM`&checksum=~$PROFILE_CHECKSUM`&ownview=1" style="color:#4d4b4b; text-decoration:underline;"><strong>Click here</strong></a> to do so now.<br /><br />
<strong>In case of a query,</strong>
<table width="345" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td height="6"></td>
</tr>
<tr><td align="left" valign="middle" bgcolor="#f7e287" style="padding:12px 8px 12px 15px;"> <div style="font-family:Verdana, Arial; font-size:11px; color:#000000; line-height:18px;">Please reach us at : B - 8, Sector - 132, Noida-201301<br />
Phone No. : 0120-4393500, 1800-4196299 (Toll-free)<br />
E-mail id : <a href="mailto:feedback@jeevansathi.com" style="color:#0050a2; text-decoration:underline;">feedback@jeevansathi.com</a></div></td></tr>
<tr><td height="20" align="left" valign="middle"></td></tr></table>
</div>
<div style="font-family:Verdana, Arial; font-size:11px; color:#4d4b4b; line-height:17px;">Thank you for subscribing with us. We wish you luck in the search for your life partner.<br />
  <br />
    <div style="font-family:Verdana, Arial; font-size:12px; color:#000000; line-height:20px;"><b><font color="#c4151c">Jeevansathi</font>.com Team</b></div></div><br />
<div style="font-family:Verdana, Arial; font-size:10px; color:#666666;"><strong>Note</strong> : If you did not register at Jeevansathi.com,
<strong><a href="~$SITE_URL`?CALL_ME=http%3A//www.jeevansathi.com/P/faqs_layer.php%3Fwidth%3D512%26checksum%3D%26email%3D%26questiontext%3DProfile%20Deletion%26USERNAME_FIELD%3D~$USERNAME`%26dada%3D1" style="color:#0050a2; text-decoration:underline;">Click here</a></strong> to request for deletion of the profile.</div><br />
<div align="right"><img src="~$IMG_URL`/P/images/shadi_img.jpg" width="297" height="63" /></div>
</div>
<div style="float:right; width:29px;"><img src="~$IMG_URL`/P/images/curve_right.jpg" width="29" height="564"></div>
        </div></td>
      </tr>
</table></td></tr></table>
<table align="center" style="margin-top:-3px; position:relative;" cellspacing=0 cellpadding=0><tr><td><img src="~$IMG_URL`/P/images/curve_bottom.gif" width="600" height="27" />
</td></tr></body></html>
