<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Register for Free in Jeevansathi.com. Create your matrimonial profile and find your dream life partner. Join Jeevansathi.com today, the leading India matrimonials website in India. Search matrimonials, matrimony profiles, NRI bride and groom from our online matrimonial and matchmaking services."/>
        <meta name="keywords" content="Jeevansathi.com, Indian matrimony, India, matrimony, matrimonial, matrimonials, matrimony services,online matrimonials, Indian marriage, match making, matchmaking, matchmaker, match maker, marriage bureau , matchmaking services, matrimonial profiles, bride, groom, matrimony classified."/>
	<title>Jeevansathi.com Registration - Educational, Professional & Additional details</title>
<link href="~$IMG_URL`/min/?f=/profile/css/~$reg_common_css`" type="text/css" rel="stylesheet" />
			<link rel="stylesheet" type="text/css" href="~$SITE_URL`/css/~$rupeeSymbol_css`">
<style type="text/css">
input.blur {
    color: #808080;
}
</style>

<script>
var page = "REG";
var docF = document.form1;
</script>
<script type = "text/javascript" src = "~$JQUERY_JS`"></script>
<script type="text/javascript" language="Javascript" SRC="~$IMG_URL`/min/?f=/profile/js/~$registration_js`,/profile/js/~$advance_search_js`,/profile/js/~$gadget_as_js`,/js/emailchecks.js,/js/textbox_hinter.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
            var $messenger_id = $("#messenger_id");
            var $submit_pg4 = $("#submit_pg4");
            var $messenger_channel = $("#messenger_channel");
            var $js_messenger_id_error = $("#js_messenger_id_error");
            $js_messenger_id_error.html("");
            
            function showError(context, reason) {
                if (context == $messenger_id) {
                    $js_messenger_id_error.css('padding-left', '175px');
                }
                else if (context == $messenger_channel) {
                    $js_messenger_id_error.css('padding-left', '412px');
                }
                $js_messenger_id_error.attr('display', 'inline');
                $js_messenger_id_error.html(reason);
            }

            $messenger_id.tbHinter({
                text: 'e.g. raj1983, vicky1980 ',
                styleClass: 'blur'
            });

            $submit_pg4.submit(function () {
                var result = is_messenger_channel_selected($messenger_id.val(), $messenger_channel.val());
                if (result.value != "0") {
                    if (result.value != "4") {
                        showError($messenger_id, result.reason);
                    } else {
                        showError($messenger_channel, result.reason);
                    }
                    return false;
                }
                else {
                    if ($messenger_id.val().indexOf("@") != -1) {
                        var temp = $messenger_id.val().split("@");
                        $messenger_id.val(temp[0]);
                    }
                    if ($messenger_id.val() == "e.g. raj1983, vicky1980 ") {
                        $messenger_id.val("");
                        $messenger_channel.val("");
                    }
                    return true;
                }
            });

            $messenger_id.blur(function () {
                var result = check_messenger_id($(this).val());
                if(result.value != "0") {
                    showError($messenger_id, result.reason);
                    if (result.value == "4") {
                        $js_messenger_id_error.css('padding-left', '412px');
                    }
                    else
                        $js_messenger_id_error.css('padding-left', '175px');
                }
                else
                    $js_messenger_id_error.html("");
            });
            
            $messenger_channel.blur(function () {
                var result = is_messenger_channel_selected($messenger_id.val(), $(this).val());
                if(result.value != "0") {
                    showError($messenger_channel, result.reason);
                    if (result.value == "4") { // only case for messenger id
                        $js_messenger_id_error.css('padding-left', '412px'); 
                    }
                    else
                        $js_messenger_id_error.css('padding-left', '175px'); 
                }
                else
                    $js_messenger_id_error.html("");
            });
        });
</script>
<script type="text/javascript" language="Javascript">
function checkemail(emailadd)
{
       var result = false;
       var theStr = new String(emailadd);
       var index = theStr.indexOf("@");
       if (index > 0)
       {
            var pindex = theStr.indexOf(".",index);
            if ((pindex > index+1) && (theStr.length > pindex+2))
                    result = true;
       }
       return result;
}

function check_messenger()
{
	var mid=document.getElementById('messenger_id').value;
	if(checkmid(mid))
	{
		var filter  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/;
		if(checkemail(mid) && filter.test(mid) && mid.charAt(0)!=".")
		{
			document.getElementById('messenger_id_error').style.display="none";
			document.getElementById('messenger_label').style.color="#4B4B4B";
			return true;
		}
		else
		{
			document.getElementById('messenger_id_error').style.display="block";
			document.getElementById('messenger_label').style.color="red";
			return false;
		}
	}
}
</script>

<style>
.mt_min_19 {
	margin-top:-19px;
	z-index:10;
	position:relative;
}
h1 {
	font:11px verdana, Helvetica, sans-serif;
}
.w_202 {
	width:252px;
}
.gry_bdr {
	border:1px solid #ccc;
}
body div .gry_bdr label{color:#00000;float:none;font-weight:normal;padding:2px;width:auto;}
.pl_2 {
	padding-left:2px;
}
.chk_box_cont {
	overflow: auto;
	width: 250px;
	height: 98px;
}
.cur_btm_left{float:right;margin:-4px -2px -2px -2px; _margin:10px -2px -2px; position:relative; z-index:10;}

.cur_btm_right{float:left;margin:-4px -10px -2px -2px; _margin:10px -10px -2px -2px; position:relative; z-index:10;}

.err{color:#c8080e;float:left;margin-top:4px}
</style>
~include file="../jeevansathi/google_analytics.htm"`</head>
~$TRACK_HEAD`
~$TRACK_JSFLAG`
~$TRACK_HEAD`
~$TRACK_JSFLAG`
<body>
	~$TRACK_JSFLAGTRACK`
 	<noscript>
                <div style="position:fixed;z-index:1000;width:100%">
                        <div style="text-align:center;padding-bottom:3px;font-family:verdana,Arial;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;background-color:#E5E5E5;">
                                <b><img src="~$IMG_URL`/profile/images/registration_new/error.gif" width="23" height="20"> Javascript is disabled in your browser.Due  to this certain functionalities will not work. 
                                        <a href="~$SITE_URL`/P/js_help.htm" target="_blank">Click Here</a> , to know how  to enable it.
                                </b>
                        </div>
                </div>
        </noscript>

<form name=form1 action='registration_page4.php' id="submit_pg4" method="POST" style="margin:0;padding:0">
<input type="hidden" name="profileid" value="~$PROFILEID`">
<input type="hidden" name="record_id" value="~$RECORD_ID`">
<input type="hidden" name="checksum" value="~$checksum`">
<input type="hidden" name="img_url" value="~$SITE_URL`/profile/images">
<input type="hidden" name="data_auth" value="~$data_auth`">
<input type="hidden" name="country_residence" value="~$COUNTRY_RESI`" />
<input type="hidden" name="sem" value="~$sem`" />

<p class="tp_bg sprte"></p>
<div class="reg_cont"><!-- <a onclick="javascript:window.open('http://server.iad.liveperson.net/hc/13507809/?cmd=file&amp;file=visitorWantsToChat&amp;offlineURL=~$SITE_URL`/P/faq_redirect.php&amp;site=13507809&amp;imageUrl=http://www.jeevansathi.com/images_try/liveperson&amp;referrer='+escape(document.location),'chat13507809','width=472,height=320');return false;" target="chat13507809" href="http://server.iad.liveperson.net/hc/13507809/?cmd=file&amp;file=visitorWantsToChat&amp;offlineURL=~$SITE_URL`/P/faq_redirect.php&amp;site=13507809&amp;byhref=1&amp;imageUrl=http://www.jeevansathi.com/images_try/liveperson"  class="fr mar b mt_min_19">
  <p class="hlp fl sprte"></p>&nbsp;Live help</a> -->
  <p class="clr cl_5"></p>
  <div class="fl">
    <a href="~$SITE_URL`" style="text-decoration:none;border:0;cursor:pointer"><p class="logo sprte"></p></a>
    <h1>Indian Matrimonials - We Match Better </h1>
  </div>
  <div class="fr" style="width:151px;"><span class="fl">A </span> <a href="http://naukri.com" target="_blank" style="cursor:pointer"><span class="nkri_lgo sprte fl" style="margin:2px;"></span></a> <span class="fl">venture</span></div>
  <div class="clr cl21"></div>
  <h4 class="drk_gry u">To help other members know you better, provide these details</h4>
  <div class="clr cl_5"></div>
  <div class="fl mt_10" style="width:770px;">
    <div class="clr cl_5"></div>
    <div class="main_form_cont pos_rltv" style="width:770px;"> 
~if $IS_FTO_LIVE`
		<div class="fto-notification-box box3">
			<p style="color:#bc001d">Complete the form and 
			     Get Jeevansathi Paid Membership for <span style="font-family:WebRupee; color:#bc001d">R</span><span style=" text-decoration: line-through; color:#000 "><span style="color:#bc001d">1100</span></span><strong> FREE</strong> 
				 </p>
				 <div style=" height:5px"></div>
				 <p>See e-mail IDs / Phone numbers of people you like.</p>
			 </div>
			 <div style="width:100%" class="fl">
				 <div class="fto-arrow-down sprte">&nbsp;</div>
			 </div>
			 <div class="clr cl_10"></div>
		~/if`

<i class="d_t_l pos_abs h_w_6 sprte"></i>
<i class="d_t_r pos_abs h_w_6 sprte p_tr_0"></i>
      <ul class="form" style="margin-top:5px;">
        <li>
          <h2>Your Education &amp; Professional Details</h2>
        </li>
        <li>
          <label>Educational Background :</label>
          Write about your educational qualifications, place of study etc.
          <div class="clr"></div>
          <label>&nbsp;</label>
          <textarea cols="1" rows="1" style="width:304px; height:52px;" class="fl" name=about_education id=about_education>~$about_education`</textarea>
        </li>
        <li>
          <label>Work status :</label>
          <select class="sel_lng" name="WSTATUS">
            <option value="">Select</option>
		~$WSTATUS`
          </select>
        </li>
        <li class="bot_bdr">
          <label>Professional background :</label>
          Write about your current and past work experience.
          <div class="clr"></div>
          <label>&nbsp;</label>
          <textarea  cols="1" rows="1" style="width:304px; height:52px;" class="fl" id=about_work name=about_work>~$about_work`</textarea>
        </li>
      </ul>
      <div class="clr"></div>
      <ul class="form" style="margin-top:5px;">
        <li>
          <h2>Additional Details About You</h2>
        </li>
        <li>
          <label>Blood Group :</label>
          <select class="sel_sml" name="BGROUP" style="width:64px;">
            <option value="">Select</option>
		~$BGROUP`
          </select>
        </li>
        <li>
          <label>HIV :</label>
          <input type="radio" name=hiv value='Y'></input>
          Yes
          <input type="radio" class="ml_10" name="hiv" value="N" checked="checked"></input>
          No </li>
        <li>
          <label>Challenged :</label>
          <select class="sel_lng" id="handicapped" name="handicapped" onchange="show_handicap(this.value)" onblur="show_handicap(this.value)" >
		~$CHALLENGED`
          </select>
        </li>
        <li >
	<div id="nature_handi" style="display:none">
          <label>Nature of handicap :</label>
          <select class="sel_lng" name=nature_of_handicap id=nature_of_handicap>
            <option value="">Select</option>
		~$NATURE_HANDICAP`
          </select>
	</div>
        </li>
        <li>
          <label>Spoken languages :</label>
          <div class="fl w_202 no_b blk"> <span class="fl f_11">Select Items</span><span class="fr f_11"><a id="language_select_all" onclick="add_checkboxes(this); remove_doesnt_matter_conflict(this);" class="blue" style="cursor:pointer">Select All</a></span>
            <div class="clr"></div>
		<div class="lf scrollbox3 t12">
		         <div style="display:none" id="language_div">
                	<input type="hidden" name="language_str" id="language_str" value="~$LANGUAGE_str`">
	                ~foreach from=$LANGUAGE item=val`
        	        <input type="checkbox" value="~$val.VALUE`" name="language_arr[]" id="language_~$val.VALUE`"><label id="language_label_~$val.VALUE`">~$val.LABEL`</label><br>
                	~/foreach`
		        </div>
			<div class="clear all"></div>
	        	<div id="language_source_div" class="gry_bdr pl_2 chk_box_cont">
        	        	~foreach from=$LANGUAGE item=val`
	                	&nbsp;<input id="language_displaying_~$val.VALUE`" class="chbx" type="checkbox" onclick="add_checkboxes(this); remove_doesnt_matter_conflict(this);" value="~$val.VALUE`" name="language_displaying_label_arr[]"><label id="language_displaying_label_~$val.VALUE`" >&nbsp;~$val.LABEL`</label><br>
		                ~/foreach`
        		</div>
		</div>

          </div>
          <div class="fl w_202 no_b blk ml_10"> <span class="fl f_11">Selected Items</span><span class="fr f_11"><a id="language_clear_all" onclick="remove_checkboxes(this); remove_doesnt_matter_conflict(this);" class="blue" style="cursor:pointer">Clear All</a></span>
            <div class="clr"></div>
		<div  id="language_target_div"  class="gry_bdr pl_2 chk_box_cont">
			<div id="language_DM"><label>Doesn't Matter</label></div>
		</div>
          </div>
        </li>
        <li>
          <label ~if $messenger_err eq '1'` style="color:red"~/if` id="messenger_label">Messenger ID :</label>
          <input type="text" class="txt1 fl" id="messenger_id" name="messenger_id" value="~$messenger_id`">
          <span class="fl" style="margin:0 5px;">@</span>
          <select class="sel_lng" style="width:112px;" id="messenger_channel" name="messenger_channel">
            <option value="" >Please Select</option>
		~$MESSENGER_CHANNEL`
          </select>

 ~if !$error_code`     <div class="err" id="js_messenger_id_error" style="width: 554px;">
              <div class="clr cl_5"></div>
              <label>&nbsp;</label>
              <div class="fl">&nbsp;</div>
      </div>
~/if`
      <!-- Error code 4 specifies that it is a messenger channel error -->
	  <div class="err" id="messenger_id_error" style="display:~if $error_code ne '0'` inline;
                                                                ~if $error_code ne '4'` padding-left: 0px;
                                                                ~else if $error_code eq '4'` padding-left: 235px; ~/if`
                                                              ~else`none~/if`;width:554px;" >
          	  <div class="clr cl_5"></div>
	          <label>&nbsp;</label>
		  <div class="fl">&nbsp;~$error_msg`</div>
	  </div>

          <div class="clr cl_5"></div>
          <label>&nbsp;</label>
          <input type="radio" name=showmessenger value="Y" checked="checked" ></input>
          Show to  my accepted contacts/paid members
          <div class="clr cl_5"></div>
          <label>&nbsp;</label>
          <input type="radio" name=showmessenger value="N" ></input>
          Don't show to anybody </li>
        <li>
          <label>Your Contact Address :</label>
          <textarea cols="1" rows="1" style="width:304px; height:52px;" class="fl" id=contact_address name=contact_address >~$contact_address`</textarea>
          <div class="clr cl_5"></div>
          <label>&nbsp;</label>
          <input type="radio" name=showaddress value='N'></input>
          Show to  my accepted contacts/paid members
          <div class="clr cl_5"></div>
          <label>&nbsp;</label>
          <input type="radio" name=showaddress value='Y' checked=checked ></input>
          Don't show to anybody</li>
        <li> <div class="fl">

	<input type="hidden" name="Submit_pg4" value="Submit">
	<input type=image name=Submit_pg4 src="~$IMG_URL`/profile/images/registration_revamp_new/save_cont_btn.png" border="0" style="margin-bottom:30px;margin-left:195px; display:inline;" ></input> </div>
~if !$RECORD_ID`
<div class="fl"><a href="#" onclick="return submit_skip()" class="fl ml_10 b f_13" style="color:#057ec3;"><br />
          Skip to Next page</a> </div> ~/if`</li>
      </ul>
      <div class="clr"></div>
<i class="d_b_r h_w_6 sprte cur_btm_left"></i><i class="d_b_l h_w_6 sprte cur_btm_right"></i>
    </div>
  </div>
</div>
<div class="clr cl21"></div>
</form>
<script>
function submit_skip()
{
	document.form1.action=document.form1.action+'?skip_to_next_page5=1';document.form1.submit();
	return false;
}

function show_handicap(value)
{
	if(value==1 || value==2)
	{
		document.getElementById("nature_handi").style.display='inline';
	}
	else {
		 document.getElementById("nature_handi").style.display='none';
    document.getElementById("nature_of_handicap").selectedIndex = document.getElementById("nature_of_handicap").options[0];
  }
}
var hoin = new Array("language");
fill_details(hoin);
</script>
~$TRACK_FOOT`
</body>
</html>
