<html>
<head>
<title>JeevanSathi Matrimonials - Jeevansathi Membership Comparison</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/P/IN/styles.php" type="text/css">
<script language="JavaScript">
<!--
function newWindow(url, height, width) {
    nameW='feature'
 if (navigator.appVersion.indexOf('4') != -1) {
 // Vars for centering the new window on Version 4 Browsers
 xTop = screen.width/2 - (width/2);
 yTop = screen.height/2 - (height/2);
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=' + xTop + ',top=' + yTop + '');
 } else {
 window.open(url, nameW, 'height='+height+',width='+width+',scrollbars=1,resizable=0,menubar=0,toolbar=0,status=0,location=0,directories=0,left=150,top=200');
 }
}

function MM_openBrWindow(theURL,winName,features)
{
	window.open(theURL,winName,features);
}

//-->
</SCRIPT>
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">

~$HEAD`

~$LEFTPANEL`


<table width="78%" height="1110" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
 <tr>
  <td height="18" class="headbigblack"><b>Reset Password</b></td>

 </tr>
 <tr>
  <td bgcolor="#CC0033"><img src="~$IMG_URL`/profile/ser4_images/zero.gif" width="1" height="1"></td>
 </tr>
 <tr>
  <td height="8"><br>
  <form action="change_password.php" method="post">
   <table width="100%" border="0" align="center" cellpadding="3" cellspacing="3">
   ~if $ERR neq 0`
   <tr>
	<td class="mediumred" colspan=2>There are total of ~$ERR` errors on this page</td>
   </tr>
	~if $CPWDMATCHERR eq 'Y'`
   <tr>
	<td class="mediumred" colspan=2>The current password is wrong</td>
   </tr>
	~/if`
	~if $NEWPWDMATCHERR eq 'Y'`
   <tr>
	<td class="mediumred" colspan=2>The new passwords dont match</td>
   </tr>
	~/if`
   ~/if`
   <tr>
    <td width="189" class="bigblack"><b>~if $CPWDERR eq 'Y'`<font color="red">~else`<font color="black">~/if` Enter Current Password </font></b> </td>

    <td width="175"><input type="password" name="currPwd" class="testbox"></td>
   </tr>
   <tr>
    <td class="bigblack"><b>~if $NPWDERR eq 'Y'`<font color="red">~else`<font color="black">~/if` Enter New Password </font></b> </td>
    <td><input type="password" name="newPwd" class="testbox"></td>
   </tr>
   <tr>

    <td class="bigblack"><b>~if $NPWDERR eq 'Y'`<font color="red">~else`<font color="black">~/if` Re-enter New Password </font></b> </td>
    <td><input type="password" name="renewPwd" class="testbox"></td>
   </tr>
   <tr>
    <td class="bigblack">&nbsp;</td>
    <td><input type="submit" name="Submit" value="Submit" class="testbox"></td>
   </tr>
   <input type="hidden" name="checksum" value="~$CHECKSUM`">
  </table>
  </form>
</td>
 </tr>
</table> 
</td>
 </tr>
</table> 


<br>
<!--Sub Footer-->
~$SUBFOOTER`
<br>
<!--Foot -->
~$FOOT`
</body>
</html>
