<html>
<head>
<title>JeevanSathi Matrimonials - Resources</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="~$SITE_URL`/P/css/~$comm_style_css`" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body leftmargin="5" topmargin="5">
<!--HEADER STARTS-->
~$HEAD`
<!--HEADER ENDS-->
<div class="spacer1">&nbsp;</div>

<!--HEADER-->
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">

<table width="730" border="0" align="center" cellpadding="8" cellspacing="0" class="bgg1 bele">
~if $resources1`
<tr>
<td class="headbigblack"><b>Resources </b></td>
</tr>
~else`
<tr>
<td width="596" align="center"><font color="#CC0000" size="3"><b>~$CAT_DISPLAY`</b></font></td>
<td width="102"> <a href="~$SITE_URL`/profile/resources_form.php?category=y&CatId=~$CATID`&CatDisplay=~$CAT_DISPLAY`">Add Resources</a></td>
</tr>
~/if`
</table>

<table width="730" border="0" align="center" cellpadding="0" cellspacing="0" class="bele bluelink">
~section name=i loop=$ROWS`
<tr>
	<td valign=top height="5" colspan="3"><spacer type="block" height="5"></td>
</tr>
<tr>
	<td width="152" valign="top" class="mediumblack"><strong><span class=" class7"><a href="~$ROWS[i].LINK`" target="_blank">~$ROWS[i].NAME`</a></span></strong></td>
	<td width="10" valign="top">:</td>
	<td valign="top" class="mediumblack">~$ROWS[i].DESCR`</td>
</tr>
<tr>
	<td valign=top height="5" colspan="3"><spacer type="block" height="5"></td>
</tr>
<tr>
	<td valign=top height="1" bgcolor="#cccccc" colspan="3"><spacer type="block" height="1"></td>
</tr>
<tr>
~/section`

</table>






<!--FOOTER--STARTS-->
~$FOOT`
<!--FOOTER--ENDS-->
</body>
</html>
