<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jeevansathi.com – Browse Matrimony Profiles – Search India Matrimonial - Matrimonials Services – Search Grooms Brides - Indian Marriage - Matrimony Matchmaking services
</title>
<meta name="description" content="Browse Jeevansathi.com for Matrimonials Matrimony Profiles. Search Brides and Grooms in the leading matrimony site for Indian and NRI matrimonial Profiles. Find suitable Indian and NRI brides and grooms. Ready for Marriage ? Search matrimonials, matrimony profiles, bride and groom from our online matrimonial and matchmaking services."/>
<meta name="keywords" content="Jeevansathi.com, matrimony, matrimonial, matrimonials, matrimony services, online matrimonials, Indian marriage, match making, matchmaking, matchmaker, match maker, marriage bureau , matchmaking services, matrimonial profiles, bride, groom, matrimony classified."/>


<link rel="stylesheet" href="/profile/css/searchstyle.css" type="text/css"/>
<!--link type="text/css"  href="http://www1.istockphoto.com/css/passthru/1165447570/file_search.css" rel="stylesheet"--> 

<style type="text/css">
body{font:normal 11px arial;margin:0; padding:0;}
.lf{float:left;}
.rf{float:right;}
#tab {margin:0px}
#tab ul{list-style-image:none;list-style-position:outside;list-style-type:none;margin:0pt;padding:0pt}
#tab li{background:#fff9db url(~$IMG_URL`/profile/images/tab_bg_nav.gif) repeat scroll 0%;float:left;font-family:arial;font-size:12px;font-weight:bold; line-height:11px;margin:0pt 0px 0pt 0pt;white-space:nowrap}
#tab a {background:transparent url(~$IMG_URL`/profile/images/tab_l_nav_sel.gif) no-repeat scroll 0%;color:#117caa;float:left;padding:0pt 0pt 0pt 9px;text-decoration:none;font-weight:normal;}
#tab a:hover {background:transparent url(~$IMG_URL`/profile/images/tab_l_nav_sel.gif) no-repeat scroll 0%;color:#117caa;font-weight:normal;}
#tab a.current {background:transparent url(~$IMG_URL`/profile/images/tab_bg_nav_sel.gif) repeat scroll 0%;color:#117caa}
#tab a span {background:transparent url(~$IMG_URL`/profile/images/tab_r_nav_sel.gif) no-repeat scroll 100% 0pt;float:left;padding:4px 9px 3px 0pt}
#tab a:hover span {background:transparent url(~$IMG_URL`/profile/images/tab_r_nav_sel.gif) no-repeat scroll 100% 0pt;cursor:pointer}
#tab a.current span {background:transparent url(~$IMG_URL`/profile/images/tab_r_nav.gif) no-repeat scroll 100% 0pt;cursor:pointer}
#tab a.current:hover span {cursor:pointer}
.ybg{background-color:#ffffff;border:1px #fed36b;border-left-style:solid;border-right-style:solid;padding:15px;}
.blink{color:#117daa;}
a.blink:link, a.blink:visited, a.blink:active{color:#117daa; text-decoration:none;}
a.blink:hover{color:#117daa; text-decoration:underline;}
.clear{clear:both;}
.dfb {background:transparent url(~$IMG_URL`/profile/images/circle_bullets.gif) no-repeat scroll left top;padding:2px 0pt 0pt 10px;}
.colwd{width:31.5%;}
.dfb {background:transparent url(~$IMG_URL`/profile/images/m_bullet.gif) no-repeat scroll left top;padding:2px 0pt 0pt 10px;}
.tab_bg_bottom{background-image:url(~$IMG_URL`/profile/images/tab_bg_bottom.gif);background-repeat:repeat-x;height:5px;width:740px;line-height:5px; vertical-align:text-bottom;}
.sp8{clear:both;height:8px;overflow:hidden}
.seo_result{color:#ec0f0f;font:normal 18px arial;}
<!--orgbox {BORDER-RIGHT: #bed563 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: #FFF; FLOAT: left; PADDING-BOTTOM: 5px; FONT: 11px verdana,Arial; BORDER-LEFT: #bed563 1px solid; WIDTH: 95%; PADDING-TOP: 5px; BORDER-BOTTOM: #bed563 1px solid}
.orgbgbox {BORDER-RIGHT: #bed563 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bed563 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 2px; FONT: 11px verdana,Arial; BORDER-LEFT: #bed563 1px solid; WIDTH: 95%; PADDING-TOP: 2px; BORDER-BOTTOM: #bed563 1px solid; background-image:url("~$SER6_URL`/profile/images/orgbgbox_bg.gif");background-repeat:repeat-x;
}-->
</style>
<SCRIPT language="JavaScript">
<!--
function detectBrowser()
{
        document.getElementById('res1').style.marginLeft='5px';
        document.getElementById('res2').style.marginLeft='5px';
        document.getElementById('res3').style.marginLeft='5px';
        document.getElementById('res4').style.marginLeft='5px';
        document.getElementById('res5').style.marginLeft='5px';
        document.getElementById('res6').style.marginLeft='5px';
        document.getElementById('res7').style.marginLeft='5px';
        document.getElementById('res8').style.marginLeft='5px';

        if (screen.width>=1024)
        {
        document.getElementById("res1").style.width='99%';
        document.getElementById("res2").style.width='99%';
        document.getElementById("res3").style.width='99%';
        document.getElementById("res4").style.width='99%';
        document.getElementById("res5").style.width='99%';
        document.getElementById("res6").style.width='99%';
        document.getElementById("res7").style.width='99%';
        document.getElementById("res8").style.width='99%';

        document.getElementById("rest1").style.width='98.9%';
        document.getElementById("rest2").style.width='98.9%';
        document.getElementById("rest3").style.width='98.9%';
        document.getElementById("rest4").style.width='98.9%';
        document.getElementById("rest5").style.width='98.9%';
        document.getElementById("rest6").style.width='98.9%';
        document.getElementById("rest7").style.width='98.9%';
        document.getElementById("rest8").style.width='98.9%';

        }
        else
        {
        document.getElementById("res1").style.width='98%';
        document.getElementById("res2").style.width='98%';
        document.getElementById("res3").style.width='98%';
        document.getElementById("res4").style.width='98%';
        document.getElementById("res5").style.width='98%';
        document.getElementById("res6").style.width='98%';
        document.getElementById("res7").style.width='98%';
        document.getElementById("res8").style.width='98%';

        document.getElementById("rest1").style.width='98.6%';
        document.getElementById("rest2").style.width='98.6%';
        document.getElementById("rest3").style.width='98.6%';
        document.getElementById("rest4").style.width='98.6%';
        document.getElementById("rest5").style.width='98.6%';
        document.getElementById("rest6").style.width='98.6%';
        document.getElementById("rest7").style.width='98.6%';
        document.getElementById("rest8").style.width='98.6%';

        }
}
//-->
</SCRIPT>

~include file="../jeevansathi/google_analytics.htm"`</head>

<body onload="detectBrowser();">
<!--CONTAINER STARTS HERE-->
<div id="container">
	<!--HEADER STARTS-->
	~$HEAD`
	<!--HEADER ENDS-->
	
	<!--QUICK SEARCH STARTS-->
	<div style="clear: both ; line-height:0px">&nbsp;</div>
	<iframe id="frame_top"  hspace="0" vspace="0" marginheight="0" height=80 marginwidth="0" frameborder="0" scrolling="no" width="100%" src="~$SITE_URL`/profile/top_search_band.php?checksum=~$CHECKSUM`&searchid=~$ID`&lang=~$JS_LANG`&contact=~$contact`"></iframe>
        <!--QUICK SEARCH ENDS-->
    <div class="lf seo_result"> Browse Matrimonials By Category</div>
    <div class="clear"></div><br/>
    <div style="width:98%;">

	<div id="res1">
		<div class="spacer" style="line-height:0px"></div>
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-gender-matrimonials"><span style="font-weight:bold;">Gender</span></a></li>
			</ul>
                        <div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">
                        <div class="clear"></div>
			<div class="dfb"><a href="~$SITE_URL`/matrimonial-matrimony-gender-groom-matrimonials" class="blink">Groom</a></div>
			<div class="dfb"><a href="~$SITE_URL`/matrimonial-matrimony-gender-bride-matrimonials" class="blink">Bride</a></div>
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest1">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res2">
                <div class="spacer" style="line-height:0px"></div>
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-community-matrimonials"><span style="font-weight:bold;">Community</span></a></li>
			</ul>
			<div></div>
		</div>
		<div class="clear"></div> 
		<div class="ybg t11 blink" style="line-height:18px;">
                        <div class="clear"></div>
			~assign var="tab" value=1`
                        ~section name=i loop=$SEO_COMMUNITY`
                                <div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-community-~$SEO_STATIC_COMMUNITY_URL[$tab]`-matrimonials" class="blink" title="~$SEO_COMMUNITY[$tab]` Matrimonials">~$SEO_COMMUNITY[$tab]`</a></div>
                        ~assign var="tab" value=$tab+1`
                        ~/section`
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest2">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res3">
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-religion-matrimonials"><span style="font-weight:bold;">Religion</span></a></li>
			</ul>
			<div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">
                        <div class="clear"></div>
                	~assign var="tab" value=1`
                        ~section name=i loop=$SEO_RELIGION`
                        	<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-religion-~$SEO_STATIC_RELIGION_URL[$tab]`-matrimonials" class="blink" title="~$SEO_RELIGION[$tab]` Matrimonials">~$SEO_RELIGION[$tab]`</a></div>
                                ~assign var="tab" value=$tab+1`
                        ~/section`
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest3">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res4">
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-caste-matrimonials"><span style="font-weight:bold;">Caste</span></a></li>
			</ul>
                        <div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">
                        <div class="clear"></div>
                        ~foreach from=$SEO_CASTE key=k item =v`
                                        <div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-caste-~$SEO_STATIC_CASTE_URL[$k]`-matrimonials" class="blink" title="~$v` Matrimonials">~$v`</a></div>
                        ~/foreach`
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest4">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res5">
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-location-matrimonials"><span style="font-weight:bold;">Location</span></a></li>
			</ul>
                        <div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">
                        <div class="clear"></div>
                        ~assign var="tab" value=1`
                        ~section name=i start=0 loop=$SEO_LOCATION`
	                        <div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-location-~$SEO_STATIC_LOCATION_URL[$tab]`-matrimonials" class="blink" title="~$SEO_LOCATION[$tab]` Matrimonials">~$SEO_LOCATION[$tab]`</a></div>
                                ~assign var="tab" value=$tab+1`
                        ~/section`
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest5">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res6">
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-education-matrimonials"><span style="font-weight:bold;">Education</span></a></li>
			</ul>
                        <div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">
	                <div class="clear"></div>
                        ~assign var="tab" value=1`
                        ~section name=i loop=$SEO_EDUCATION`
				<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-education-~$SEO_STATIC_EDUCATION_URL[$tab]`-matrimonials" class="blink" title="~$SEO_EDUCATION[$tab]` Matrimonials">~$SEO_EDUCATION[$tab]`</a></div>
                                ~assign var="tab" value=$tab+1`
                        ~/section`
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest6">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res7">
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-profession-matrimonials"><span style="font-weight:bold;">Profession</span></a></li>
			</ul>
                        <div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">
                        <div class="clear"></div>
                        ~assign var="tab" value=1`
	                        ~section name=i loop=$SEO_PROFESSION`
                                <div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-profession-~$SEO_STATIC_PROFESSION_URL[$tab]`-matrimonials" class="blink" title="~$SEO_PROFESSION[$tab]` Matrimonials">~$SEO_PROFESSION[$tab]`</a></div>
                                ~assign var="tab" value=$tab+1`
                        ~/section`
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest7">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>

	<div id="res8">
		<div id="tab" style="width:100%;">
                        <ul style="background-image:url(~$IMG_URL`/profile/images/tophr.gif); background-repeat:repeat-x; background-position:bottom;float:left;background-color:#FFFFFF;height:18px;margin:0;width:100%" >
				<li><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-matrimonials"><span style="font-weight:bold;">Marital Status</span></a></li>
			</ul>
                        <div></div>
		</div>
		<div class="clear"></div>
		<div class="ybg t11 blink" style="line-height:18px;">qqq
                        <div class="clear"></div>
			<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-never married-matrimonials" class="blink">Never Married</a></div>
			<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-widowed-matrimonials" class="blink">Widowed</a></div>
			<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-divorced-matrimonials" class="blink">Divorced</a></div>
			<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-awaiting divorce-matrimonials" class="blink">Awaiting Divorce</a></div>
			<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-annulled-matrimonials" class="blink">Annulled</a></div>
			<div class="lf colwd dfb" style="width: 30%;"><a href="~$SITE_URL`/matrimonial-matrimony-marital-status-others-matrimonials" class="blink">Others</a></div>
			<div class="clear"></div>
			<div style="clear:both; line-height:10px;"></div>
		</div>
                <div class="tab_bg_bottom" style="width:100%;height:5px;">
                        <div class="lf" style="width:5px;text-align:left;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_l_bottom.gif"/></div>
                        <div class="lf tab_bg_bottom" id="rest8">&nbsp;</div>
                        <div class="lf" style="width:5px;text-align:right;height:5px;"><img style="vertical-align:top;" src="~$IMG_URL2`/profile/images/tab_r_bottom.gif"/></div>
                </div>
	</div>
	<div class="sp8"></div>
    </div>
	<!--FOOTER STARTS HERE-->
	~$FOOT`
	<!--FOOTER ENDS HERE-->

</div>
<!--CONTAINER ENDS HERE-->
</body>
</html>
