<noscript>
<div align="center" class="pad4 btwe bluelink bgg1"><b> <img src="~$IMG_URL`/img_revamp/error.gif" width="23" height="20"> Javascript is disabled in your browser due to this certain functionalities will not work. <a href="~$SITE_URL`/P/js_help.htm" target="_blank">Click Here</a>, to know how to enable it.</b></div>
</noscript>
<div id="top">
	<div class="bten lftflow">
		<a href="http://www.jeevansathi.com/"><img src="~$IMG_URL`/profile/ser4_images/Matrimonial.gif" alt="Matrimonials" width="219" height="35" border="0"></a><br>
		 Indian Matrimonials - We Match Better
	</div>
	<div class="rightflow bele lh">
		&nbsp;&nbsp;For any registration related problems, please <a href="~$SITE_URL`/profile/contact.php" target="_blank">contact us here</a>
	</div>
	<div class="spacer1">&nbsp;</div>
</div>
<div class="spacer1">&nbsp;</div>

