
~$TRACK_HEAD`
~$TRACK_JSFLAG`
<div id="advancedSearch" class="fr" style="width:800px; font-size:12px!important;">
<p class="clr_4"></p>
	<span>
	<a class="fr undr_hver" href="/P/advance_search.php?page_name=advance_search_page"  ~if $newHomePage`onMouseDown="javascript:trackClicks('AS');"~/if`> Advanced Search</a><i class="fr blue_arw ml_17"></i>	
	</span>

	<span id="search_by_id" style="width:200px;z-index:100;position:relative" onclick="javascript:check_window('search_by_id(\'hide\')');"> 
		<a class="fr undr_hver" href="#" onclick="search_by_id('show');return false;"> Search by profile id</a><i class="fr blue_arw ml_17"></i>
	</span>
       
	<br /><br />

</div>
<div class="clr"></div>
    <div id="closeBand" style="background-image: url('~$IMG_URL`/images/qtopc.gif'); background-repeat: repeat-x;display:none" >
        <div align="center">
            <a class="naukri_btn4ab">&nbsp;</a>
        </div>    
         <p class="clr_4"></p>
         <p class="clr_4"></p>
    </div>
<div class="clr"></div>
    <div id="openBand" style="background-image: url('~$IMG_URL`/images/qtopo.gif'); background-repeat: repeat-x;display:none" >
        <div align="center">
            <a class="naukri_btn4">&nbsp;</a>
        </div>
    </div>    

<script>
	logged_in_username="~$USERNAME`";
	document.body.onclick=check_window
</script>
<BR>
