<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>

<table width="100%" cellpadding="0" cellspacing="0" style="background-color:#ffffff" >
  <tr>
    <td style="padding:7px;"><img src="~$IMG_URL`/marriage_bureau/images/logo_js.gif" width="222" height="35"></td>
  </tr>
  <tr>
    <td background="~$SITE_URL`/marriage_bureau/images/bg_1.gif" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:3px; padding-right:7px"><div align="right"><b><a href="~$SITE_URL`/marriage_bureau/mb_logout.php?cid=~$mbchecksum`">Logout</a> &nbsp;&nbsp; <a href="~$SITE_URL`/marriage_bureau/index1.php?checksum=~$mbchecksum`">My Account</a>&nbsp;<a href="~$SITE_URL`/profile/inputprofile.php?source=~$source`&mbchecksum=~$mbchecksum`">&nbsp;Register Profile</a></b>
        </div>
   </td>
  </tr>
</table>
