<table width="175" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
  <td height="24" class="mediumblack"><div align="center">~if $CURRENTUSERNAME neq ""`<span class="class7"><a href="viewprofile.php?checksum=~$CHECKSUM`&profilechecksum=~$MYPROFILECHECKSUM`"><b>~$CURRENTUSERNAME` </b></a></span>~else`<a href="inputprofile.php"><img src="~$IMG_URL`/profile/ser4_images/register.gif" width="113" height="24" border="0"></a>~/if`</div></td>
</tr>
<tr>
  <td height="26"><div align="center">~if $CURRENTUSERNAME neq ""`<a href="logout.php?checksum=~$CHECKSUM`"><img src="~$IMG_URL`/profile/ser4_images/logout.gif" width="113" height="24" border="0"></a>~else`<a href="mainmenu.php"><img src="~$IMG_URL`/profile/ser4_images/login.gif" width="113" height="24" border="0"></a>~/if`</div></td>
</tr>
</table>