<html>
<head>
<title>JeevanSathi Matrimonials - Two Way Match</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/P/I/styles.php" type="text/css">
<link rel="stylesheet" href="/P/IN/styles.php" type="text/css">
~include file="../jeevansathi/google_analytics.htm"`</head>
<body>
~$HEAD`
~$LEFTPANEL`
<table width="78%" height="1110" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td height="4"></td>
       <SPACER height="4" type="block"></SPACER> </tr>
      <tr>
       <td class="headbigblack"><b>Two Way Match </b></td>
      </tr>
      <tr class="bgred">
       <td height="1"></td>
       <SPACER height="1" type="block"></SPACER> </tr>
        <tr>
       <td height="8"></td>
       <SPACER height="8" type="block"></SPACER> </tr>
     </table>
</td>
      </tr>
      <TR>
        <TD height=5  class="mediumblack">
          <table width="100%"  border="0" cellspacing="2" cellpadding="2">
            <tr>
              <td class="mediumblack"><br>
                The <b>Two Way Match</b> automatically links members whose preferred partner requirements match. <br>
                          <BR>
      For example:
      <UL>
        <LI>Sonali is a 23 year old tall, fair and convent educated Jain girl, working as a school teacher.  She is looking for a Jain businessman in the age group of 25-28, between 5'8" and 6'2".</LI>
          <LI>Mukesh is a 28 year old, 5'9" tall Jain businessman. He is looking for a 23 year old, working, convent educated Jain girl.</LI>
      </UL>
      
      As a result:<br>
      There is potential compatibility between Sonali and Mukesh. Therefore a <b>Two Way Match</b> has occurred!<br>The Two Way Match works automatically once you have set up both your profile and your partner profile too. For the Two Way Match service to work effectively, you must include as many details as possible in your profile as well as your desired partner profile.
          <BR>
      <BR>
      <BR>
      <span class= "class6"><A href="twowaymatch.php?checksum=~$CHECKSUM`&linkSubmit=1">Click here</A></span> to view the Two Way Matches for you.<BR>
      <BR>
      <BR>
      Regards,<BR>
      The Jeevansathi Team </td>
            </tr>
          </table>
          <br>
          <br>
          <SPACER height="5" type="block"></TD>
      </TR>
    </table>
      <br>
    </td>
  </tr>
</table>
   
      </td>
  </tr>
</table>
      </td>
  </tr>
</table>
<br>
~$SUBFOOTER`
<br>
~$FOOT`
</body>
</html>
