<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" style="margin:0px;">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b>
      Dear ~$Name`, <br> Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr> 
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
  	<td width="198"><font face="Verdana, Arial," size="2">Navigator Gift Voucher</font></td>
    <td align="right"><font face="Verdana, Arial," size="2">Voucher Code : <b>~$voucher_no`</b> </font>&nbsp; </td>
  </tr> 
</table>
<table width="600" height="355" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#F6B773">
          <tr>
            <td><img src="~$IMG_URL`/profile/ser4_images/navigator.jpg" width="600" height="356"></td>
          </tr>
          <tr>
            <td><br>
              <table width="550" border="0" align="center" cellpadding="4" cellspacing="0" style="font:normal 12px verdana,arial">
              <tr>
                <td style="line-height:18px "><strong><u>This Gift Voucher can be redeemed at:</u><br>
                  </strong><strong>&bull; SPENCER PLAZA</strong>, G44A, Phase II, 769,Anna Salai,Chennai-2. Ph.044-28490086<br>
                  <strong>&bull; KASI ARCADE,</strong> Shop No.19, 116,Sri Theagaraya Road,T.Nagar,Chennai-17. <br>
                  &nbsp;&nbsp;&nbsp;Ph.044-28150090<br>
                  <strong>&bull; GARUDA MALL,</strong> Shop No.217,2nd Floor,Magarath Road,Bangalore-25. <br>
                &nbsp;&nbsp;&nbsp;Ph.080-56641017 <br>                  </td>
              </tr>
              <tr>
                <td style="line-height:18px "><p><strong><u>Terms &amp; Conditions:</u></strong><br>
                &bull;<strong> 20%</strong> Off on our entire range.<br>
                  &bull; Two GV's cannot be clubbed to buy a single product.<br>
                  &bull; The GV cannot be exchanged against Cash.<br>
                  &bull; The GV is valid till 31st October' 2007 &amp; will expire after that. <br>
                  &bull; Expired Gv's will not be reactivated.</p>
                </td>
              </tr>
            </table>
            <br></td>
          </tr>
        </table>
		</td>
	</tr>
</table>
 <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b><br>
How do you use the voucher?</b> <BR>
<BR>
Walk into any Navigator outlet present in Chennai or Bangalore with a print of this e-voucher. Present this voucher at the time of making payment and enjoy a 20% discount on the amount. <BR>
<BR>
* Valid only in Chennai and Bangalore </font></td>
  </tr>  
  <tr>
  <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo.gif" width="244" height="67"></div></td>
  </tr>
</table>
</body>
</html>
