<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"><!-- ImageReady Slices (dis-voucher.psd) -->
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ;><b> Dear ~$Name`, <br>
      Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr>
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td width="197"><font face="Verdana, Arial," size="2">Chennai Bazaar  Gift Voucher</font></td>
    <td align="right"><font face="Verdana, Arial," size="2">Voucher No : <b>CBZJEEVAN0707</b> </font>&nbsp; </td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<img height="367" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_01.jpg" width="700"></td>
		<td>
			<img height="367" alt="" src="~$IMG_URL`/profile/ser4_images/spacer.gif" width="1"></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img height="333" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_02.jpg" width="214"></td>
		<td>
			<a href="http://www.chennaibazaar.com">
				<img height="69" alt="chennaibazaar" src="~$IMG_URL`/profile/ser4_images/dis-voucher_03.gif" width="296" border="0"></a></td>
		<td colspan="3" rowspan="2">
			<img height="250" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_04.jpg" width="190"></td>
		<td>
			<img height="69" alt="" src="~$IMG_URL`/profile/ser4_images/spacer.gif" width="1"></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img height="264" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_05.jpg" width="296"></td>
		<td>
			<img height="181" alt="" src="~$IMG_URL`/profile/ser4_images/spacer.gif" width="1"></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img height="83" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_06.jpg" width="17"></td>
		<td>
			<a href="http://www.chennaibazaar.com">
				<img height="37" alt="chennaibazaar" src="~$IMG_URL`/profile/ser4_images/dis-voucher_07.gif" width="157" border="0"></a></td>
		<td rowspan="2">
			<img height="83" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_08.jpg" width="16"></td>
		<td>
			<img height="37" alt="" src="~$IMG_URL`/profile/ser4_images/spacer.gif" width="1"></td>
	</tr>
	<tr>
		<td>
			<img height="46" alt="" src="~$IMG_URL`/profile/ser4_images/dis-voucher_09.jpg" width="157"></td>
		<td>
			<img height="46" alt="" src="~$IMG_URL`/profile/ser4_images/spacer.gif" width="1"></td>
	</tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ;> <b><br>
      How do you use the voucher?</b> <br>
      <br>
      Log on to <a href="http://www.chennaibazaar.com" target="_blank">www.chennaibazaar.com</a> and choose from the wide 
      range of products available online. Once you select the product, please 
      enter the promotional code at the time of making the payment. <br>Offer 
      valid till 10th October, 2007.<br>In case of any problem in redeeming your voucher, 
      write to us at vouchers@jeevansathi.com
      <br>         
          
    </font></td>
  </tr>
  <tr>
    <td><div align="right"><img height="46" src="~$IMG_URL`/profile/ser4_images/jslogo.gif" width="201"></div></td>
  </tr>
</table><!-- End ImageReady Slices -->
</body>
</html>
