<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" style="margin:0px;">
<table width="620" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b> Dear ~$Name`, <br>
      Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr>
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td width="197"><font face="Verdana, Arial," size="2">All India Florist Gift Voucher</font></td>
    <td width="423" align="right"><font face="Verdana, Arial," size="2">Serial No : <b>~$voucher_no`</b> </font>&nbsp; </td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFCC" id="table1">
	<tr>
		<td>&nbsp;</td>
		<td width="20%" rowspan="5">
		<img border="0" src="~$IMG_URL`/profile/ser4_images/voucher_allindiaflorist.gif" width="137" height="201" alt="AllindiaFlorist.com"></td>
		<td>&nbsp;</td>
		<td width="3%" rowspan="10">
		<p align="center">
		</td>
	</tr>
	<tr>
        <td width="5%" style="border-style: none; border-width: medium" align="center">&nbsp;
        </td>
        <td width="72%" style="border-style: none; border-width: medium" align="center">
        <p align="center">
		<b>
		<font face="Monotype Corsiva" color="#E60000" size="4">This 
        Voucher entitles you to select</font></b></td>
  </tr>
	<tr>
        <td width="5%" style="border-style: none; border-width: medium" align="center">&nbsp;
        </td>
        <td width="72%" style="border-style: none; border-width: medium" align="center">
        <b>
        <font face="Monotype Corsiva" color="#E60000" size="4">gifts and flowers packages 
		</font></b></td>
  </tr>
	<tr>
        <td width="5%" style="border-style: none; border-width: medium" align="center">&nbsp;
        </td>
        <td width="72%" style="border-style: none; border-width: medium" align="center">
        <b>
        <font face="Monotype Corsiva" color="#E60000" size="4">from</font></b></td>
  </tr>
	<tr>
        <td width="5%" style="border-style: none; border-width: medium" align="center">&nbsp;
        </td>
        <td width="72%" style="border-style: none; border-width: medium" align="center">
        <font face="Monotype Corsiva" size="6" color="#0000FF">
		AllindiaFlorist</font><font face="Monotype Corsiva" size="6" color="#000080"><br>
&nbsp;</font></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td>
		<p align="center"><b>
		<font color="#0000FF">
		<font face="Monotype Corsiva" size="5">
		<a href="http://www.allindiaflorist.com/Jeevansathi.htm">
		http://www.allindiaflorist.com/Jeevansathi.htm</a></font><font face="Monotype Corsiva" size="4"><br>
		</font>
		</font>
		<font face="Monotype Corsiva" size="4"><br>
		</font>
		<font face="Monotype Corsiva" color="#008000" size="3">Jeevansathi 
		subscribers can now send gifts and flowers to India. <br>
		For purchases made below Rs.999 you get 20% discount rates. <br>
		For purchases made above Rs.999 you get 25% discount rates. </font></b></td>
	</tr>
	<tr>
		<td colspan="2">
		<p align="center">
		<img border="0" src="~$IMG_URL`/profile/ser4_images/Jeevansathi-logo.gif" width="120" height="19"></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td>
		<p align="center"><b>
		<font color="#000080" size="4" face="Monotype Corsiva">
		<a href="mailto:sales@allindiaflorist.com">sales@AllindiaFlorist.com</a></font></b></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td>&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td>
		<p align="center"><FONT FACE="Verdana" SIZE="2" COLOR="#E60000"><b>Dial 
		00 91 989 706 4001</b></FONT></td>
	</tr>
</table>
<table width="624" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";>
	<b><br>
	How do you use the voucher?</b>
           <br>
           <br>
           Log on to <a href="http://www.allindiaflorist.com" target="_blank">www.allindiaflorist.com</a> and choose from the wide range of products available online. Once you select the productl, please enter the gift voucher serial number at the time of making payment and enjoy a discount of upto 25%.<br>

</font></td>
  </tr>  
  <tr>
  <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo.gif" width="244" height="67"></div></td>
  </tr>
</table>
</body>
</html>
