<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" style="margin:0px;">
<table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b>
      Dear ~$Name`, <br> Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr> 
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
  	<td width="198"><font face="Verdana, Arial," size="2">Cine Sprite  Gift Voucher</font></td>
    <td align="right"><font face="Verdana, Arial," size="2">Voucher Code : <b>~$voucher_no`</b> </font>&nbsp; </td>
  </tr> 
</table>
<table width="631" height="355" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top"><table width="631" border="0" align="left" cellpadding="0" cellspacing="0">
          <tr valign="top">
            <td colspan="4"><table width="800" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="200"><img src="http://www.cinesprite.com/evoucher/hshape_01.gif" width="200" height="53"></td>
                  <td width="200"><img src="http://www.cinesprite.com/evoucher/hshape_02.gif" width="200" height="53"></td>
                  <td width="10"><img src="http://www.cinesprite.com/evoucher/hshape_03.gif" width="200" height="53"></td>
                  <td width="390"><img src="http://www.cinesprite.com/evoucher/hshape_04.gif" width="200" height="53"></td>
                </tr>
                <tr>
                  <td><img src="http://www.cinesprite.com/evoucher/hshape_05.gif" width="200" height="52"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/hshape_06.gif" width="200" height="52"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/hshape_07.gif" width="200" height="52"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/hshape_08.gif" width="200" height="52"></td>
                </tr>
            </table></td>
          </tr>
          <tr valign="top">
            <td colspan="4"><table width="800" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="200"><img src="http://www.cinesprite.com/evoucher/shape_01.gif" width="200" height="95"></td>
                  <td width="124"><img src="http://www.cinesprite.com/evoucher/shape_02.gif" width="200" height="95"></td>
                  <td width="476"><img src="http://www.cinesprite.com/evoucher/shape_03.gif" width="200" height="95"></td>
                  <td width="476"><img src="http://www.cinesprite.com/evoucher/shape_04.gif" width="200" height="95"></td>
                </tr>
                <tr>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_05.gif" width="200" height="94"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_06.gif" width="200" height="94"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_07.gif" width="200" height="94"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_08.gif" width="200" height="94"></td>
                </tr>
                <tr>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_09.gif" width="200" height="95"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_10.gif" width="200" height="95"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_11.gif" width="200" height="95"></td>
                  <td><img src="http://www.cinesprite.com/evoucher/shape_12.gif" width="200" height="95"></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td width="170" valign="top"><img src="http://www.cinesprite.com/evoucher/fshape_01.gif" width="170" height="90"></td>
            <td width="170" valign="top"><img src="http://www.cinesprite.com/evoucher/fshape_02.gif" width="170" height="90"></td>
            <td width="170" valign="top"><img src="http://www.cinesprite.com/evoucher/fshape_03.gif" width="170" height="90"></td>
            <td width="290" rowspan="3" valign="top"><table width="290" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="4" rowspan="9"><img src="http://www.cinesprite.com/evoucher/left-form.gif" width="4" height="311"></td>
                  <td colspan="2" align="left" valign="top"><img src="http://www.cinesprite.com/evoucher/img-become.gif" width="276" height="58" alt="Become a Member"></td>
                  <td width="10" rowspan="9"><img src="http://www.cinesprite.com/evoucher/right-form.gif" width="10" height="311"></td>
                </tr>
                <form action="http://www.cinesprite.com/evoucher.php">
                  <input type="hidden" name="affcode" value="jsathi">
                  <input type="hidden" name="act" value="register">
                  <tr>
                    <td width="108" height="30"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">First Name </font></div></td>
                    <td width="168"><div align="center">
                        <input type="text" name="mname" style="border:1px solid #cccccc;">
                    </div></td>
                  </tr>
                  <tr>
                    <td height="30"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">E-mail </font></div></td>
                    <td><div align="center">
                        <input type="text" name="email" style="border:1px solid #cccccc;">
                    </div></td>
                  </tr>
                  <tr>
                    <td height="30"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Mobile</font></div></td>
                    <td><div align="center">
                        <input type="text" name="phone" style="border:1px solid #cccccc;">
                        <input type="hidden" name="phone_type" value="mobile">
                        <input type="hidden" name="agree" value="1"/>
                    </div></td>
                  </tr>
                  <tr>
                    <td height="30"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Password</font></div></td>
                    <td><div align="center">
                        <input type="password" name="pwd" style="border:1px solid #cccccc;">
                    </div></td>
                  </tr>
                  <tr>
                    <td height="30"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Confirm Password </font></div></td>
                    <td><div align="center">
                        <input type="password" name="cpwd" style="border:1px solid #cccccc;">
                    </div></td>
                  </tr>
                  <tr>
                    <td height="30"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">City</font></div></td>
                    <td align="center"><select name="city" id="city" style=" width:145px;border:1px solid #cccccc;">
                        <option value="">--CITY--</option>
                        <option value="1">Gurgaon</option>
                        <option value="2">Delhi</option>
                        <option value="3">Faridabad</option>
                        <option value="4">Noida</option>
                        <option value="5">Greater Noida</option>
                        <option value="6">Ghaziabad</option>
                        <option value="7">Mumbai</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td height="30"><div align="right"></div></td>
                    <td><input name="subscription" value="subscription" type="image" alt="Register Now!!" src="http://www.cinesprite.com/evoucher/btn-login.gif" width="161" height="54"></td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                </form>
            </table></td>
          </tr>
          <tr>
            <td height="75" colspan="3" align="center" valign="middle" background="http://www.cinesprite.com/evoucher/bgshape.gif"><img alt="Register Now and Watch 2 great marriage movies with cinesprite.com absolutely FREE." src="http://www.cinesprite.com/evoucher/register.gif" width="454" height="49"></td>
          </tr>
          <tr>
            <td height="146" colspan="3" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%">&nbsp;</td>
                  <td width="97%"><font size="2" face="Arial, Helvetica, sans-serif"><br>
            If you are unable to view / submit the Registration form, <font size="4"><a href="http://www.cinesprite.com/evoucher.php?affcode=jsathi">Click here</a> to register</font>. <br>
            <br>
                    </font><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif">Term and Conditions </font></strong><br>
                        <font size="1" face="Verdana, Arial, Helvetica, sans-serif">&raquo;&nbsp;This offer is valid for redemption till January 31, 2008.</font><br>
                        <font size="1" face="Verdana, Arial, Helvetica, sans-serif">&raquo;&nbsp;The offer is only valid within the area of operations of Cinesprite.com</font>.<br>
                        <font size="1" face="Verdana, Arial, Helvetica, sans-serif">&raquo;&nbsp;The customer availing the offer is bound by the Terms of Use of Cinesprite.com as present on www.cinesprite.com.</font></td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
            </table></td>
          </tr>
        </table></td>
	</tr>
</table>
 <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";>&nbsp;
	</font></td>
  </tr>  
  <tr>
  <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo.gif" width="244" height="67"></div></td>
  </tr>
</table>
</body>
</html>
