<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff" style="MARGIN: 0px">
<table width="639" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ;><b> Dear ~$Name`, <br>
      Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr>
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td width="290"><font face="Verdana, Arial," size="2">Affinity International Gift Voucher</font></td>
    <td width="349" align="right"><font face="Verdana, Arial," size="2">Voucher No : <b>~$voucher_no`</b> </font>&nbsp; </td>
  </tr>
</table>
<table width="639"  border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
	  <td><img height="492" src="~$IMG_URL`/profile/ser4_images/affinity_coupon.jpg" width="639"></td>
	</tr>
</table>
<table width="639" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ;>
	<b><br>
	How do you use the voucher?</b>
           <br>
           <br>
           Present a print out of this 
      voucher at Affinity International's centre in Bangalore to avail the deal. 
      Valid till 10th Dec, 2007. <br>In case of any problem in redeeming your voucher, write to us at vouchers@jeevansathi.com<br>

</font></td>
  </tr>  
  <tr>
  <td><div align="right"><img height="46" src="~$IMG_URL`/profile/ser4_images/jslogo.gif" width="201"></div></td>
  </tr>
</table>
</body>
</html>
