<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" style="margin:0px;">
<table width="671" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b>
      Dear ~$Name`, <br> Kindly find enclosed, your free gift voucher from Jeevansathi.com<br>
 </b></font></td>
  </tr> 
  <tr>
  	<td>&nbsp;</td>
  </tr> 
</table>
<table width="671" height="653"  border="0" align="center" cellpadding="0" cellspacing="0" background="~$IMG_URL`/profile/ser4_images/e-Voucher_Arzoo.com.gif">
	<tr>
		<td valign="top"><table width="145" border="0" align="right" cellpadding="2" cellspacing="0" style="margin:5px 5px 0 0px; border:1px solid #000">
          <tr>
            <td width="67"><font face="Verdana, Arial," size="2"> Serial No</font></td>
            <td width="5">:</td>
            <td width="75"><font face="Verdana, Arial," size="2"><b>~$voucher_no`</b></font></td>
          </tr>
        </table></td>
	</tr>
</table>
<table width="671" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";>
	<b><br>
	How do you use the voucher?</b>
           <br>
           <br>
           Log on to <a href="http://www.arzoo.com" target="_blank">www.arzoo.com</a> and choose from the wide range of travel deals available online. Once you select the travel deal, please enter the gift voucher code number, written on top of the voucher and enjoy a discount of Rs. 200.<br>

</font></td>
  </tr>  
  <tr>
  <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo_v.gif" width="244" height="67"></div></td>
  </tr>
</table>
</body>
</html>
