<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" style="margin:0px;">
<table width="530" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b>
      Dear ~$Name`, <br> Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr> 
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
  	<td width="198"><font face="Verdana, Arial," size="2">Cafe Gadgets Gift Voucher</font></td>
    <td width="332" align="right"><font face="Verdana, Arial," size="2">Voucher Code : <b>~$voucher_no`</b> </font>&nbsp; </td>
  </tr> 
</table>
<table width="530" height="355" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top"><table width="530" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#C2C2C2">
          <tr>
            <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="4"><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="4" height="4"></td>
                  <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="1" height="4"></td>
                  <td width="4"><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="4" height="4"></td>
                </tr>
                <tr>
                  <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="4" height="1"></td>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" id="Text">
                      <tr>
                        <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="1" height="9"></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="261" align="right"><a href="http://www.cafegadgets.in" target="_blank"><img src="~$IMG_URL`/profile/ser4_images/CafegadgetsLogo.gif" alt="Cafegadgets.in - Click. Buy. Relax." width="253" height="31" border="0" /></a></td>
                              <td>&nbsp;</td>
                              <td width="151"><a href="http://www.jeevansathi.com" target="_blank"><img src="~$IMG_URL`/profile/ser4_images/JeevansathiLogo.gif" alt="Jeevansathi.com" width="143" height="23" border="0" /></a></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="1" height="20"></td>
                      </tr>
                      <tr>
                        <td><a href="http://www.cafegadgets.in" target="_blank"><img src="~$IMG_URL`/profile/ser4_images/CollargeImage.jpg" alt="Gift Voucher of Rs.300" width="520" height="216" border="0" /></a></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="8"><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="8" height="1"></td>
                              <td height="40">&nbsp;</td>
                              <td width="8"><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="8" height="1"></td>
                            </tr>
                            <tr>
                              <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="8" height="1"></td>
                              <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;">
                                  <tr>
                                    <td><b>Gift Voucher #/ Promo Code:</b> JS001ASD234</td>
                                  </tr>
                                  <tr>
                                    <td height="20">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td><img src="~$IMG_URL`/profile/ser4_images/ProcesstoRedeem.gif" alt="Process to redeem the gift voucher" width="281" height="13" /></td>
                                  </tr>
                                  <tr>
                                    <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="1" height="10"></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;">
                                        <tr>
                                          <td width="10" valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-Aero.gif" width="4" height="7" vspace="7"></td>
                                          <td><b>The redemption of the Gift Vouchers can be done on www.cafegadgets.in through the following modes:</b></td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td><table width="100%" border="0" cellspacing="5" cellpadding="0" style="font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;">
                                              <tr>
                                                <td width="5" valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Website: <a href="http://www.cafegadgets.in" target="_blank"><font color="#00229F">www.cafegadgets.in</font></a></td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Call: Cafegadgets Customer Care Number @ +91 124 3010600.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Email: <a href="mailto:business@cafegadgets.com" class="Blue"><font color="#00229F">business@cafegadgets.com</font></a></td>
                                              </tr>
                                          </table></td>
                                        </tr>
                                    </table></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;">
                                        <tr>
                                          <td width="10" valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-Aero.gif" width="4" height="7" vspace="7"></td>
                                          <td><b>For Cafegadgets.in Gift Voucher Redemption process:</b></td>
                                        </tr>
                                        <tr>
                                          <td>&nbsp;</td>
                                          <td><table width="100%" border="0" cellspacing="5" cellpadding="0" style="font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;">
                                              <tr>
                                                <td width="5" valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Log in to and register on <a href="http://www.cafegadgets.in" target="_blank" class="Blue"><font color="#00229F">www.cafegadgets.in</font></a></td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">&ldquo;Adds to cart&rdquo; the selected product.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">You will be required to enter the Promo Code (on the Gift Voucher) in the field provided on the Shopping Cart page</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Once you reach the Make Payments page you will be shown the re-calculated amount after which payment can be made using any of the options provided.</td>
                                              </tr>
                                          </table></td>
                                        </tr>
                                    </table></td>
                                  </tr>
                                  <tr>
                                    <td height="40">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td><img src="~$IMG_URL`/profile/ser4_images/TermsAndConditions.gif" alt="Terms &amp; Conditions for the Cafegadgets Gift Voucher Offer" width="468" height="16" /></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="1" height="10"></td>
                                        </tr>
                                        <tr>
                                          <td><table width="100%" border="0" cellspacing="5" cellpadding="0" style="font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;">
                                              <tr>
                                                <td width="5" valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">The Gift Voucher is only redeemable on <a href="http://www.cafegadgets.in" target="_blank" class="Blue"><font color="#00229F">www.cafegadgets.in</font></a>.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">The Gift Voucher entitles the winner to a discount of Rs.300.00 on any purchase valued at or above Rs.1000.00. eg. On a purchase worth Rs.1200.00, the customer will be required to pay only Rs.900.00</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">The Gift Voucher is valid for redemption from 10th of August to 31st October.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">The Gift Voucher is only valid for redemption within India.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">The Gift Voucher is not en-cashable and is only valid on a purchase made on <a href="http://www.cafegadgets.in" target="_blank" class="Blue"><font color="#00229F">www.cafegadgets.in</font></a>.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullept-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Confirmation of any order is subject to availability of the product/ products.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">The Gift Voucher can be redeemed only once.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">Please keep the Gift Voucher safe as the Gift Voucher number will have to be revealed at the time of placing the order.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top"><a href="http://www.cafegadgets.in" target="_blank" class="Blue"><font color="#00229F">www.cafegadgets.in</font></a> reserves the right to withdraw/ modify the Gift Voucher scheme</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">By availing this offer the winner agrees to remain bound by these terms and conditions.</td>
                                              </tr>
                                              <tr>
                                                <td valign="top"><img src="~$IMG_URL`/profile/ser4_images/Bullet-disc.gif" width="5" height="5" vspace="8"></td>
                                                <td valign="top">All disputes are subject to the courts in Delhi.</td>
                                              </tr>
                                          </table></td>
                                        </tr>
                                    </table></td>
                                  </tr>
                              </table></td>
                              <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="8" height="1"></td>
                            </tr>
                            <tr>
                              <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="8" height="1"></td>
                              <td>&nbsp;</td>
                              <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="8" height="1"></td>
                            </tr>
                        </table></td>
                      </tr>
                  </table></td>
                  <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="4" height="1"></td>
                </tr>
                <tr>
                  <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="4" height="4"></td>
                  <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="1" height="4"></td>
                  <td><img src="~$IMG_URL`/profile/ser4_images/Trans.gif" width="4" height="4"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
	</tr>
</table>
 <table width="530" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";>&nbsp;
	</font></td>
  </tr>  
  <tr>
  <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo.gif" width="244" height="67"></div></td>
  </tr>
</table>
</body>
</html>
