<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gift Voucher</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<body bgcolor="#FFFFFF" style="margin:0px;">
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b>
      Dear ~$Name`, <br> Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr> 
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
  	<td width="312"><font face="Verdana, Arial," size="2">Taj Online   Gift Voucher</font></td>
    <td  align="right"><font face="Verdana, Arial," size="2">Voucher No : <b>JSx9y</b> </font>&nbsp; </td>
  </tr> 
</table>
<table width="720" height="330" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
  <tr>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_01.gif" width="174" height="191" alt=""></td>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_02.gif" width="203" height="191" alt=""></td>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_03.gif" width="343" height="191" alt=""></td>
  </tr>
  <tr>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_04.gif" width="174" height="29" alt=""></td>
    <td bgcolor="#f6f6f6"><strong> JSx9y </strong></td>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_06.gif" width="343" height="29" alt=""></td>
  </tr>
  <tr>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_07.gif" alt="" width="174" height="110" border="0" usemap="#Map"></td>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_08.gif" alt="" width="203" height="110" border="0" usemap="#Map2"></td>
    <td><img src="~$IMG_URL`/profile/ser4_images/taj_09.gif" width="343" height="110" alt=""></td>
  </tr>
</table>
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><B><br>
      How do you use the voucher?</B> <BR>
        
      <OL>
        <LI>Select product of your choice and add it to your shopping cart 
        <LI>Enter your registration details 
        <LI>It will take you to the order form , here add the discount key
        <LI>The discount of Rs. 500/-will appear in your order form automatically 
        <LI>Proceed with the payment and the order will be shipped as specified </LI>
      </OL></font></td>
  </tr>  
  <tr>
  <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo.gif" width="244" height="67"></div></td>
  </tr>
</table>
<map name="Map">
  <area shape="rect" coords="13,56,182,72" href="http://tajonline.tolshop.com/festivals/298-jeevansathi-offer.html">
</map>
<map name="Map2">
  <area shape="rect" coords="1,57,208,73" href="http://tajonline.tolshop.com/festivals/298-jeevansathi-offer.html">
</map>
</body>
</html>
