<HTML>
<HEAD>
<TITLE>Gift Voucher</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<!-- ImageReady Slices (Final Coupon.jpg) -->
<div align="center">
  <center>
    <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><b> Dear ~$Name`, <br>
      Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
      </tr>
      <tr>
        <td colspan="2" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td width="312"><font face="Verdana, Arial," size="2">Feel Good Bazaar Gift Voucher</font></td>
        <td  align="right"><font face="Verdana, Arial," size="2">Voucher Code : <b>~$voucher_no`</b> </font>&nbsp; </td>
      </tr>
    </table>
    <TABLE WIDTH=800 BORDER=0 CELLPADDING=0 CELLSPACING=0 style="border-collapse: collapse" bordercolor="#111111">
	<TR>
		<TD COLSPAN=5 bgcolor="#028ECD" height="20">&nbsp;
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=7 bgcolor="#028ECD" width="18">&nbsp;
		</TD>
		<TD COLSPAN=3>
			<IMG SRC="~$IMG_URL`/profile/ser4_images/top.jpg" ALT="" width="764"></TD>
		<TD ROWSPAN=7 bgcolor="#028ECD" width="18">&nbsp;
		</TD>
	</TR>
	<TR>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=39">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img1.jpg" WIDTH=252 HEIGHT=136 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=39&BrandID=41&ProductID=257">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img2.jpg" WIDTH=256 HEIGHT=136 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=35&BrandID=31&ProductID=485">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img3.jpg" WIDTH=256 HEIGHT=136 border="0"></a></TD>
	</TR>
	<TR>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=38">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img4.jpg" WIDTH=252 HEIGHT=124 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=50&BrandID=91&ProductID=575">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img5.jpg" WIDTH=256 HEIGHT=124 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?BrandID=59&CategoryID=38&ProductID=403">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img6.jpg" WIDTH=256 HEIGHT=124 border="0"></a></TD>
	</TR>
	<TR>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?BrandID=34&CategoryID=36&ProductID=338">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img7.jpg" WIDTH=252 HEIGHT=125 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?BrandID=34&CategoryID=36&ProductID=345">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img8.jpg" WIDTH=256 HEIGHT=125 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?BrandID=34&CategoryID=36&ProductID=340">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img9.jpg" WIDTH=256 HEIGHT=125 border="0"></a></TD>
	</TR>
	<TR>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=35&BrandID=31&ProductID=484">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img10.jpg" WIDTH=252 HEIGHT=124 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=58&BrandID=78&ProductID=525">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img11.jpg" WIDTH=256 HEIGHT=124 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?BrandID=78&CategoryID=58&ProductID=572">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img12.jpg" WIDTH=256 HEIGHT=124 border="0"></a></TD>
	</TR>
	<TR>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=58&BrandID=78&ProductID=514">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img13.jpg" WIDTH=252 HEIGHT=126 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?BrandID=78&CategoryID=58&ProductID=515">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img14.jpg" WIDTH=256 HEIGHT=126 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=58&BrandID=78&ProductID=513">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img15.jpg" WIDTH=256 HEIGHT=126 border="0"></a></TD>
	</TR>
	<TR>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=37">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img16.jpg" WIDTH=252 HEIGHT=124 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=68&BrandID=90&ProductID=574">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img17.jpg" WIDTH=256 HEIGHT=124 border="0"></a></TD>
		<TD>
			<a target="_blank" href="http://feelgoodbazaar.com/products.asp?CategoryId=67&BrandID=89&ProductID=570">
			<IMG SRC="~$IMG_URL`/profile/ser4_images/img18.jpg" WIDTH=256 HEIGHT=124 border="0"></a></TD>
	</TR>
	</TABLE>
    <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td><TABLE cellSpacing=0 cellPadding=0 width=800 align=center border=0>
            <TBODY>
              <TR>
                <TD><font size="2" face="Verdana, Arial, Helvetica, sans-serif";><B><br>
              How do you use the voucher?</B> <BR>
              <OL>
                <LI>Select product of your choice and add it to your shopping cart 
                    <LI>Enter your registration details 
                    <LI>It will take you to the order form , here add the voucher code specified on top of the voucher
                    <LI>The discount will appear in your order form automatically 
                    <LI>Proceed with the payment and the order will be shipped as specified
                    <LI>Offer valid till October 10, 2007 </LI>
              </OL>
                </font></TD>
              </TR>
            </TBODY>
          </TABLE>
            <font size="2" face="Verdana, Arial, Helvetica, sans-serif";>&nbsp; </font></td>
      </tr>
      <tr>
        <td><div align="right"><img src="~$IMG_URL`/profile/ser4_images/logo.gif" width="244" height="67"></div></td>
      </tr>
    </table>
  </center>
</div>
</BODY>
</HTML>
