<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Gift Voucher</title>
<style type="text/css">
<!--
.style2 {
	font-size: 36px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}
body {
	background-color: #669966;
}
.style5 {color: #006600; }
-->
</style>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="2" cellspacing="0" bgcolor="#ffffff">
  <tr>
    <td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ;><b> Dear ~$Name`, <br>
      Kindly find enclosed, your free gift voucher from Jeevansathi.com</b></font></td>
  </tr>
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td width="197"><font face="Verdana, Arial," size="2">Shalini Kapoor Gift Voucher</font></td>
    <td align="right"><font face="Verdana, Arial," size="2">Voucher No : <b>~$voucher_no`</b> </font>&nbsp; </td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#336600">
  <tr>
    <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="center"><span class="style2">Shalini Kapoor Collection</span></div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="600" border="0" cellpadding="4" cellspacing="4">
            <tr>
              <td width="98"><img height="107" src="~$IMG_URL`/profile/ser4_images/4.jpg" width="82"></td>
              <td width="124"><img height="107" src="~$IMG_URL`/profile/ser4_images/5.jpg" width="108"></td>
              <td width="89"><img height="107" src="~$IMG_URL`/profile/ser4_images/6.jpg" width="86"></td>
              <td width="73"><img height="107" src="~$IMG_URL`/profile/ser4_images/7.jpg" width="73"></td>
              <td width="10"><img height="107" src="~$IMG_URL`/profile/ser4_images/8.jpg" width="63"></td>
              <td width="182"><img height="107" src="~$IMG_URL`/profile/ser4_images/9.jpg" width="110"></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="FONT: bold 16px verdana,arial"><div align="center"><u><span class="style5">Contact us at: </span></u><br>
                <br>
        #157, Puranik, 2nd 'A' Cross<br>
        Domlur 2nd Stage Indiranagar<br>
        Bangalore-560071<br>
        call at: 080-25358184 </div>
            <p align="center" class="style5"><u>WE HAVE A WIDE RANGE OF</u></p>
            <p align="center">DESIGNER DRESS MATERIAL<br>
        ARTIFICIAL JEWELLERY<br>
        DESIGNER SAREES<br>
        NIGHT WEAR<br>
        HOME LINEN<br>
        LINGERIE</p>
            <p align="center">WE ALSO UNDER TAKE ALL TYPES OF LADIES DRESS STITCHING<br>
        (Spl: Punjabi Dress , Blouse, Ladies western Wear, Trousseau )</p>
            <p align="center"><u><span class="style5">Terms &amp; Conditions:</span></u><br>
                <br>
        *Bring this GV to Avail a Fabulous Discount on All the Items. <br>
        *This GV is Valid Till 10th Dec-2007<br>
        *This GV will not be changed for CASH<br>
        *Only one Gv can be used&nbsp;for one bill</p></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="475" border="0" align="center" cellpadding="8" cellspacing="8">
            <tr>
              <td><img height="120" src="~$IMG_URL`/profile/ser4_images/10.jpg" width="88"></td>
              <td><img height="114" src="~$IMG_URL`/profile/ser4_images/11.jpg" width="115"></td>
              <td><img height="120" src="~$IMG_URL`/profile/ser4_images/13.jpg" width="120"></td>
              <td><img height="84" src="~$IMG_URL`/profile/ser4_images/14.jpg" width="126"></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="2" cellspacing="0" bgcolor="#ffffff">
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ;> <b><br>
      How do you use the voucher?</b> <br>
      <br>
      Present a 
      print out of this voucher at Shalini Kapoor's store and get 15% off on 
      linen and 20% off on readymade garments and other things. Valid till 10th 
      Dec, 2007.
    </font></td>
  </tr>
  <tr>
    <td><div align="right"><img height="46" src="~$IMG_URL`/profile/ser4_images/jslogo.gif" width="201"></div></td>
  </tr>
</table>
</body>
</html>
