<div class="pink_box" style="width:705px; height:auto; overflow-y:auto; overflow-x:hidden;">
	<div class="tp_hdr">
		<b class="fl">To continue Expressing Interest...</b>
		<a href="#" class="fr b" onclick="$.colorbox.close(); return false;">Close [X]</a>
		<p class="clr"></p>
	</div>

	<p class="or_lft fl p_rel">
		<b class="org f16">1. Complete your profile </b>
		<br><br><br>Provide missing information in your profile to <br><b>take your profile completion to 75%</b> and send <br>another <b>~$CONT_LEFT`</b> Interests.<br>
		<br>
		<br>
		<b><a href="~$SITE_URL`/profile/viewprofile.php?profilechecksum=~$PROFILECHECKSUM`">Click here</a></b> to complete your profile
		<i class="fl or_icon btn_sprte"></i>
	</p>

	<p class="or_lft fl no_bdr">
		<b class="org f16">2. Upgrade membership</b><br>
	<br><br>
		<b>Buy an eRishta or eValue membership</b> and<br> send <b>unlimited</b> Interests.<br>
		<br>&nbsp;<br>
		<br>
		<b><a href="~$SITE_URL`/profile/mem_comparison.php?source=myjs_quota_full_banner">Click here</a></b> to buy premium membership
	</p>
	<p>&nbsp;</p>
	<p class="clr_15"></p>
</div>
