.sr_top_bg{background-image:url(IMG_URL/img_revamp/sr_top_bg.gif); background-repeat:repeat-x; height:20px;}
.sr_bottom_bg{background-image:url(IMG_URL/img_revamp/sr_bottom_bg.gif); background-repeat:repeat-x; height:5px;}
.orange_border{border:1px #fed369; border-left-style:solid; border-right-style:solid; padding:5px;}
.white_top_big_curve{background-image:url(IMG_URL/img_revamp/white_top_big_curve.gif); background-repeat:no-repeat;height:3px;clear:both}
.white_bottom_big_curve{background-image:url(IMG_URL/img_revamp/white_bottom_big_curve.gif); background-repeat:no-repeat;height:3px;clear:both}
.white_big_curve_bg{background-image:url(IMG_URL/img_revamp/white_big_curve_bg.gif); background-repeat:repeat-y;width:530px;float:left}
.scrollbox4{background-color:#f3fbd1;overflow:auto;width:588px}
.view_album{padding:7px; text-align:center;float:left; border:1px #fed369 solid}
.cont_hr_bg{background-image:url(IMG_URL/img_revamp/cont_hr_bg.gif);background-repeat:repeat-y;}
.cont_open_tab{background-image:url(IMG_URL/img_revamp/cont_open_tab.gif);width:151px;height:31px;cursor:default;}
.cont_close_tab{background-image:url(IMG_URL/img_revamp/cont_close_tab.gif);width:151px;height:31px;cursor:pointer;}
.similar_bg{ background-image:url(IMG_URL/img_revamp/similar_bg.gif); width:180px; height:77px;}
.crsl_left_btn{background-image:url(IMG_URL/img_revamp/crsl_left_button.gif); width:24px; height:98px; background-position:left ;background-repeat:no-repeat;}
.crsl_right_btn{background-image:url(IMG_URL/img_revamp/crsl_right_button.gif); width:24px; height:98px; background-repeat:no-repeat;background-position:right}
.crsl_left_btn_hover{background-image:url(IMG_URL/img_revamp/crsl_left_button_hover.gif); width:24px; height:98px; background-position:left ;background-repeat:no-repeat;}
.crsl_right_btn_hover{background-image:url(IMG_URL/img_revamp/crsl_right_button_hover.gif); width:24px; height:98px; background-repeat:no-repeat;background-position:right}
#carousel{margin:8px 0 0 5px; width:610px; float:left}
.crsl_border{border:1px #777b77 solid; padding:2px}
.crsl_snapslot{width:132px;margin-right:6px;text-align:center;float:left}
.rfree_panel{ background-image:url(IMG_URL/img_revamp/rfree_panel_bg.gif);background-repeat:no-repeat;width:124px;height:255px;}
.dark_orange{color:#ff5a00;}
.pgbar{background-color:#24c10e;}
.scrollbox4{background-color:#f3fbd1;overflow:auto;width:588px}
ul.con_list {
        width:255px;
        height:179px;
        overflow:auto;
        margin:0;
        padding:0 5px 0;
	z-index:1000;
}
ul.con_list li {
        margin-bottom:5px;
        list-style:none;
}
ul.con_list_tuple {
        width:255px;
        margin:0;
        padding:0 5px 0;
	z-index:1000;
}
ul.con_list_tuple li {
        margin-bottom:5px;
        list-style:none;
}
.set_90 {
        width:88px;
}
