@charset "utf-8";
/* Similar Profiles EOI */
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}
.clr_10{clear:both; height:10px;}
input,select{font:12px Arial, Helvetica, sans-serif;}

.b{font-weight:bold;}
.p_abs{position:absolute;}
.p_rel{position:relative;}

body{font:12px Arial, Helvetica, sans-serif;}
.pink{border:1px solid #f0ced6; background:#fdf4f5;}
.top_bg{background:url(IMG_URL/profile/images/top_bg.gif) repeat-x; height:24px;}
.blink{color:#117daa;cursor:pointer;}

.blk{color:#000;}
.orng{color:#ff8400;}

.gry_bdr{border:1px solid #ccc;}

.mt_5{margin-top:5px;}
.mb_5{margin-bottom:5px;}
.mt_10{margin-top:10px;}
.pd_3{padding:3px;}
.pd_5{padding:5px;}

.f11{font-size:11px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.grn{color:#73c116;}
.gry{color:#909090;}

.txta{width:147px; height:17px; border:1px solid #959595;}
.sim_pro{width:215px; height:96px; border:1px solid #da929a; padding:5px; background:#fff; margin:10px 0 0 7px; float:left;cursor:pointer;}
.sim_pro b{display:block; font-size:11px;}
.sim_pro img{float:left; margin-right:5px;}
.sim_pro p{float:left; width:142px; font-size:11px;padding:0!important;line-height:13px;color:#000;margin-top:-2px;}


ul.congrats{list-style:none;}
ul.congrats li{float:left; width:97%; margin-bottom:15px; background:url(IMG_URL/profile/images/grn_tck.gif) no-repeat; padding-left:30px; line-height:18px;}
li.acpt {background:url(IMG_URL/profile/images/acptd_li_bg.gif) no-repeat 0 4px; padding: 0 0 0 10px;}
