@charset "utf-8";
/* Homepage CSS */

* {
	margin:0;
	padding:0;
	float:none;
	border:none;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clr {
	clear:both;
	height:0;
	overflow:hidden;
}
body {
	font:12px Arial, Helvetica, sans-serif;
	padding-top:5px;
}
input, select {
	border:1px solid #ccc;
	font:12px Arial, Helvetica, sans-serif;
}
a:link, a:visited {
	color:#003498;
	text-decoration:none;
}
.h_f11 {
	font-size:12px!important;
	color:#000;
	font-weight:normal!important;
	width:114px;
	margin-left:26px;
}
.f11 {
	font-size:11px !important;
}
.gry {
	color:#787575;
}
.d_inl {
	display:inline;
}
.p_rel_z {
	position:relative;
	z-index:10;
}
.mt_10 {
	margin-top:10px;
}
.mt_15 {
	margin-top:15px;
}
.ml_17 {
	margin-left:17px;
}
.mt_7 {
	margin-top:7px;
	_margin-top:5px;
}
.mt_4 {
	margin-top:4px;
}
.mt_35 {
	margin-top:35px;
}
.mb_5 {
	margin-bottom:5px;
}
.mb_3 {
	margin-bottom:3px;
}
.p_tb_10 {
	padding:10px 0;
}
.w_557 {
	width:557px;
}
.b {
	font-weight:bold;
}
.mar {
	color:#c8080e!important;
}
.main_cont {
	width:779px;
	margin:auto;
}
.speaky {
	width:14px;
	height:14px;
	background:url(../images/home_sprite.png) no-repeat 100% 0;
}
.logo {
	width:223px;
	height:37px;
	background:url(../images/home_sprite.png) no-repeat;
}
.cal_us {
	width:370px;
	height:27px;
	background:url(../images/home_sprite.png) no-repeat 0 -47px;
}
.b_ar {
	width:10px;
	height:15px;
	background:url(../images/home_sprite.png) -492px -20px;
}
.log_in {
	width:214px;
	height:182px;
	background:url(../images/home_sprite.png) no-repeat 0 -83px;
}
.txt1 {
	width:145px;
	height:15px;
	border:1px solid #ccc;
}
.lg_btn {
	width:60px;
	height:26px;
	background:url(../images/home_sprite.png) no-repeat -450px -46px;
}
.step_reg {
	height:113px;
	background:url(../images/home_sprite.png) repeat-x 0 -275px;
}
.st_l_c, .st_r_c {
	width:18px;
	height:113px;
	background:url(../images/home_sprite.png) no-repeat -450px -83px;
}
.wht_bdr {
	border:1px solid #fff;
	border-width:1px 0;
	width:510px;
	height:92px;
	margin-top:9px;
}
.w_b_r {
	width:6px;
	height:113px;
	background:url(../images/home_sprite.png) no-repeat -430px -83px;
}
.point {
	width:35px;
	height:35px;
	background:url(../images/home_sprite.png) no-repeat -465px -206px;
	margin:10px 0 0 15px;
}
h3 {
	font-size:19px;
	color:#197ECC;
	margin:15px 0 0 -23px;
	font-style:italic;
}
.r_b {
	width:207px;
	height:61px;
	background:url(../images/home_sprite.png) no-repeat -220px -83px;
	margin:24px 0 0 16px;
}
.below_reg_step {
	width:778px;
	float:left;
	margin:10px 0 10px;
}
.below_reg_step .left_cont {
	border:1px solid #e3e3e3;
	width:540px;
	padding:0 10px 10px;
	background:#fdfdfd;
}
.below_reg_step .left_cont ul.trust {
	list-style:none;
	margin:auto;
	width:470px;
	margin-top:10px;
}
.below_reg_step .left_cont ul.trust li {
	margin-right:30px;
	text-align:center;
	float:left;
}
.below_reg_step .left_cont ul.trust li img {
	border:1px solid #000;
	margin-bottom:5px;
}
.below_reg_step h5 {
	font-size:12px;
	color:#D24B51;
}
.below_reg_step .left_cont ul.trust li p{width:85px;}
ul.tab {
	list-style:none;
}
ul.tab li {
	float:left;
	background:url(../images/home_sprite.png) bottom right;
	margin-right:2px;
}
ul.tab li b {
	background:url(../images/home_sprite.png) no-repeat -378px -398px;
	height:19px;
	float:left;
	width:3px;
	float:left;
}
ul.tab li.active {
	float:left!important;
	background:url(../images/home_sprite.png) no-repeat right -248px;
	margin-right:2px!important;
}
ul.tab li.active b {
	background-position:-378px -248px;
}
ul.tab li b {
	background:url(../images/home_sprite.png) no-repeat -378px -398px;
	height:19px;
	float:left;
	width:3px;
	float:left;
}
ul.tab a {
	padding:5px 8px 0 0;
	float:left;
}/*common footer starts here*/
.ftr {
	background:url(IMG_URL/profile/images/footer_bg_strip.gif) repeat-x top;
	padding:20px 20px 5px;
}
.ftr .ftr_cont {
	margin:auto;
	width:750px;
}
.ftr_links {
	float:left;
	width:749px;
}
.ftr_links .r1 {
	width:95%;
	float:left;
}
.ftr_links label.l1 {
	float:left;
	width:65px;
	padding-right:10px;
}
ul.foot {
	margin:0;
	padding:0;
}
ul.foot li {
	float:left;
	margin:0 5px;
	color:#9a9999;
	list-style:none;
}
ul.foot li a:hover {
	text-decoration:underline;
}
ul.foot li a, ul.foot li a:visited {
	color:#117daa;
}
.mar_top_15 {
	margin-top:15px;
}/*common footer ends here*/

.pd{padding:3px}
.blink{color:#117daa;cursor:pointer;}
.sp5{clear:both;height:5px; overflow:hidden}
.red{color:#e40410}
.t11{font-size:11px;}
.sr_display_top{background-image:url(IMG_URL/profile/images/sr_display_top.gif);width:270px;height:26px;background-repeat:no-repeat;}
.t12{font-size:12px;}
.b{font-weight:bold}
.sr_display_hr{background-image:url(IMG_URL/profile/images/sr_display_hr.gif); width:270px; background-repeat:repeat-y;}
.pd{padding:3px}
.green_btn{background-image:url(IMG_URL/profile/images/green_button_bg.gif); background-repeat:repeat-x; height:22px; border:1px #578d00; border-style:solid; padding-bottom:2px; font-size:11px; color:#fff; cursor:pointer;}
.sr_display_footer{background-image:url(IMG_URL/profile/images/sr_display_footer.gif); width:270px; background-repeat:no-repeat; height:8px;}
.scrollbox1{background-color:#FDF4F5;border:1px solid #FDF4F5;overflow:auto;padding:8px 2px 4px 8px;width:500px; height:270px;}
div.row3{float:left;width:97%; margin:3px 0px}
div.row3 label{float:left;text-align:right;width:126px;padding-right:6px;color:#726f6f;font-weight:bold;}
div.row3 span{float:left;text-align:left;width:190px;padding-left:5px;}
div.row3 input.txt1{height:18px;}
.sp8{clear:both;height:8px;overflow:hidden}
.pink{width:420px;border:1px #f0ced6;border-style:solid; background-color:#fdf4f5;}
.clear{clear:both; line-height:10px;}
.rf{float:right}
.sp12{clear:both;height:12px;overflow:hidden}
div.row4{float:left;width:96%; margin:5px 0px}
.green{color:#33b300;}
.lf{float:left}
.topbg{background-image:url(IMG_URL/profile/images/top_bg.gif); background-repeat:repeat-x; height:24px;}
.rf{float:right}

/* Search Band CSS Start for sulekha */
.fl{float:left;}
.fr{float:right;}
.q_search p.clr{clear:both; height:0; overflow:hidden; margin:0; padding:0;}
.q_search select{font:12px Arial, Helvetica, sans-serif;}
.ml_17{margin-left:14px; display:inline;}
.mt_10{margin-top:10px;}
.mt_4{margin-top:4px;}
.q_search{width:943px; height:63px; background:url(images/q_search_sprite.gif) repeat-x 0 -64px; font:12px Arial, Helvetica, sans-serif;}
.l_search{width:66px; height:63px; background:url(images/q_search_sprite.gif) no-repeat;}
.r_search{width:6px; height:63px; background:url(images/q_search_sprite.gif) -68px 0;}
.w_118{width:118px;}
.w_167{width:191px;}
.w_150{width:198px;}
.w_59{width:59px;}
.s_btn{width:62px; height:24px; background:url(images/q_search_sprite.gif) 0 -129px; overflow:hidden;}
/* Search Band CSS End */

