.lbHbg{background:url(../images/lbHbg.gif) repeat-x top;}
.lbHL{background:url(../images/lbHL.gif) no-repeat left top;}
.lbHR{height:30px;color:#fff; font-weight:bold; font-size:12px; padding-left:15px; line-height:25px;}
.cross:link, .cross:visited{background:url(../images/cross.gif) no-repeat right top; float:right; display:block; width:28px;}
.cross:hover{background:url(../images/cross-h.gif) no-repeat right top;}
.lbBbg{background:url(../images/lbBbg.gif) repeat-x bottom;}
.lbBR{background:url(../images/lbBR.gif) no-repeat bottom right;}
.lbBL{background:url(../images/lbBL.gif) no-repeat bottom left; height:4px;}
.lbmidcont{background:url(../images/lbbg.gif) repeat-x bottom #ebf8ff; border-left:1px solid #a7adb0;}
.lbmidR{background: url(../images/lbRShd.gif) repeat-y right;  padding:20px; }
.padLeft{padding-left:60px;font-size:12px;line-height:20px;}
.modalcss{filter:progid:DXImageTransform.Microsoft.alpha(opacity=5);opacity: 0.05; margin:auto;}
.frame{margin:0;padding:0; position:absolute; z-index:103; background-color:#b1b1b1;}



