@CHARSET "UTF-8";
/* Large desktop */
@media (min-width: 1200px) {
	.pgwrapper{width:1170px;padding: 0 15px 0 15px}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.pgwrapper{width:724px;padding: 0 15px 0 15px}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.pgwrapper{width:auto;padding: 0 15px 0 15px}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.pgwrapper{width:auto;padding: 0 15px 0 15px}
}

@media (max-width: 320px) {
	.pgwrapper{width:auto;padding: 0 15px 0 15px}
}

@media (max-width: 979px) {
	
}

@media (min-width: 980px) {
}