/* Created By Vishal Kaul -- MY-JS */

.barOCB{background:url(/P/images/OCBbar1.jpg) no-repeat; width:778px;}
.batdbar{background:url(/P/images/arrowdbar.png) no-repeat 6px 17px; width:20px; height:48px}
.clr_bar{clear:both}
.barcolor1{color:#eae8e8}
.barpad1{padding-left:80px}
.barpad2{padding-left:50px}
.barlh1{line-height:48px}
.dupBar{font-size: 13px;
    padding-left: 20px;
    padding-top: 15px;
    text-align: justify;
    padding-right: 20px;
    line-height: 18px;}
.right_arrow_blue{
	border-top: 9px solid #fff;
	border-left: 9px solid #1581a7;
	border-bottom: 9px solid #fff;
	font-size: 0px; 
	line-height: 0%; 
	width: 0px;
	margin-left:15px;
	margin-top:55px;
}
.right_arrow_grey{
	border-top: 9px solid #fff;
	border-left: 9px solid #A2A2B0;
	border-bottom: 9px solid #fff;
	font-size: 0px; 
	line-height: 0%; 
	width: 0px;
	margin-left:15px;
	margin-top:55px;
}
.left_arrow_blue{
	border-top: 9px solid #fff;
	border-right: 9px solid #1581a7;
	border-bottom: 9px solid #fff;
	font-size: 0px; 
	line-height: 0%; 
	width: 0px;
	margin-top:55px;
}
.left_arrow_grey{
	border-top: 9px solid #fff;
	border-right: 9px solid #A2A2B0;
	border-bottom: 9px solid #fff;
	font-size: 0px; 
	line-height: 0%; 
	width: 0px;
	margin-top:55px;
}
    .my_js {
	width:779px;
	margin:auto;
}
.my_js a {
	color:#117daa;
	text-decoration:none;
}
.my_js h1 {
	color:#E51219;
	font-size:16px;
	margin-bottom:8px;
}
.my_js .lft_cont {
	width:556px;
}
.my_js .cntc_sts {
	width:540px;
	border:1px solid #d5d5d5;
	font-size:14px;
}
.cntc_sts_detld {
	width:531px;
	font-size:12px;
	padding:6px 0 6px 10px;
}
.cntc_sts_detld a.nme_photo,b.nme_photo {
        width:132px;
        text-align:center;
        font-size:11px;
        float:left;
        cursor:pointer;
        padding:12px 0 0px 0px!important;
}
.cntc_sts_detld a.nme_photo :hover{text-decoration:none;}

.cntc_sts_detld ul {
	float:left;
	width:265px;
	list-style:none;
}
.cntc_sts_detld ul li {
	float:left;
	width:99.9%;
	padding:0 0 3px;
	line-height:20px;
}
.cntc_sts_detld ul li u, .cntc_sts_detld ul li a {
	float:left;
	width:178px;
	padding-right:2px;
	text-decoration:none;
}
.cntc_sts_detld ul li i {
	float:left;
	width:77px;
	padding-right:2px;
	font-style:normal;
}
s {
	display:block;
}
.d, .d1, d2, d3, d4 {
	height:1px;
	overflow:hidden;
	border:1px solid #d5d5d5;
	border-width:0 1px;
}
.d1 {
	margin:0 4px;
}
.d2 {
	margin:0 3px;
}
.d3 {
	margin:0 2px;
}
.d4 {
	margin:0 1px;
}
.bdr_btm_gry {
	border-bottom:1px solid #ccc;
}
/*arrow hover starts here*/
    .btn_sprte {
	background:url(IMG_URL/profile/images/my_js_sprite_new.png);
}
.w_19_88 {
	width:19px;
	height:88px;
}
a.gry {
	background-position: 0 0;
	cursor:text;
}
a.gry_r {
        background-position:-60px 0;
        cursor:text;
}

a.vwd{margin:0; padding:0; float:none!important; width:auto!important; font-size:11px;}

a.orng_r {
	background-position:-100px 0;
}
a.orng_r:hover {
	background-position:-80px 0;
	height:88px;
}

a.orng_l {
	background-position:-20px 0;
}
a.orng_l:hover {
	background-position:-40px 0;
	height:88px;
}
.jvs_seal {
	width:87px;
	height:73px;
	background-position:0 -112px;
}
/*arrow hover ends here*/
    .no_bg {
	background:none!important;
}

.my_js .vw_all {
	margin:12px 83px 0 0;
}
.w_230 {
	width:240px;
}
.w_260 {
        width:260px;
}
.my_js .rgt_cont {
	width:222px;
	font-size:12px;
	margin-top:10px;
}
.my_js .rgt_cont h2 {
	width:211px;
	float:left;
	height:16px;
	font-size:12px;
	padding:6px 5px;
	/*background-position:0 -88px;*/
	background-color:#fee198;
}
.my_js .prg_br {
	width:124px;
	height:14px;
	border:1px solid #b1d425;
	padding:2px;
}
.my_js .prg_br .grow {
	background-position:0 -190px;
	height:14px;
	width:77%;
	float:left;
}

.my_js .rd {
	color:#E40410;
}
/*login history starts*/
ul.lgn_hstry {
	width:99.9%;
	height:247px;
	color:#726f6f;
	float:left;
	overflow-y:auto;
	margin:10px 0 0;
}
ul.lgn_hstry li {
	float:left;
	margin:0 0 4px;
}
ul.lgn_hstry li s {
	float:left;
	width:123px;
	text-decoration:none;
	padding:0 0 0 15px;
}
ul.lgn_hstry li u {
	float:left;
	width:130px;
	text-decoration:none;
}
/*login history ends*/

/*profile hover starts*/
.p_tup {
	width:463px;
	border:1px solid #ccc;
	font:12px Arial, Helvetica, sans-serif;
	float:left;
	background:#fff;/* added */
}
.p_tup * {
	margin:0;
	padding:0;
}
.p_tup h6 {
	width:443px;
	height:15px;
	background:#ffde94;
	font-size:14px;
	padding:4px 10px;
}
.p_tup .cmplete_info {
	width:453px;
	padding:5px;
	float:left;
}
.p_tup .cmplete_info .b_info {
	width:114px;
	float:left;
	color:#6b6b6b;
	font-weight:bold;
	margin-left:5px;
	text-align:left;/*added*/
}
.p_tup .cmplete_info p {
	float:left;
	width:221px;
	color:#6b6b6b;
	margin-left:5px;
	text-align:left;/*added*/
}
.no_b {
	font-weight:normal!important;
}
.p_tup .clr {
	clear:both;
	height:0;
	overflow:hidden;
}
/*profile hover ends*/



#test{position:absolute; top:-400px; left:-299px; font:12px Arial, Helvetica, sans-serif!important; font-style:normal;}
#loginhistoryId{position:absolute;left:-299px; font:12px Arial, Helvetica, sans-serif!important; font-style:normal;} /*added*/
.my_js_lft_txt{width:119px; padding:0 0 0 5px;}
.mgnfyng_gls{width:95px; height:122px; background-position:0 -221px;}
.err_cont_sml{width:220px; background:url(IMG_URL/profile/images/mid_bg_rpt_rd.png) repeat-y;}
.err_cont_sml .t_cur{height:6px; background:url(IMG_URL/profile/images/tp_btm_curvs.png);}
.err_cont_sml .b_cur{height:6px; background:url(IMG_URL/profile/images/tp_btm_curvs.png) 0 -6px;}
.exclm_mrk{width:12px; height:25px; background-position:-107px -112px;}

.err_cont{width:507px; background:url(IMG_URL/profile/images/err_bg_rpt_big.gif) repeat-y;}
.err_cont .t_cur{height:8px; background:url(IMG_URL/profile/images/tp_btm_curvs_big.png);}
.err_cont .b_cur{height:8px; background:url(IMG_URL/profile/images/tp_btm_curvs_big.png) 0 -8px;}

/*benefit starts*/
#benft_upgr{width:252px; float:left;}
.ben_upgd {
	width:242px;
	background:#f1f1f1;
	border:1px solid #e6e6e6;
	padding:5px;	
	}
.ben_arw{width:15px; height:21px; background:url(IMG_URL/profile/images/ben_arw.gif); bottom:-19px; right:34px; display:inline;}
/*benefit ends*/

/* Discount widget style starts */
.widget{width:222px; height:124px;}
.widget *{margin:0; padding:0; float:none;}
.wid_sprte{background:url(IMG_URL/profile/images/widget_bg.png);}
.tp_widgt{width:185px; height:18px; padding:22px 0 0 37px;}
.btm_widgt{width:222px; height:5px; font-size:2px; background-position:0 -45px;}
.sptl_dscnt{width:154px; height:20px; background-position:0 -50px; margin:0 auto;}
.f_19{font-size:19px;}
.widget_mid{width:218px; margin:auto; padding:8px 0 0; border:2px solid #8e92dc; border-width:0 2px; text-align:center;}
.vld, .vld_rd{font-size:11px;color:#a0a0a0; text-align:right; padding:7px 4px 0 0;}
a.clk{color:#5189c3; text-decoration:none;}
.clr_0{clear:both; height:0; overflow:hidden;}
/* Discount widget style ends */


/* Discount Red widget style starts */
.wid_sprte_rd{background:url(IMG_URL/profile/images/widget_rd_bg.png) 0 0; height:68px; font:16px Arial, Helvetica, sans-serif; color:#fff; text-align:center; padding:54px 0 0;}
.vld_rd{color:#e4e4e4;}
a.click{color:#fff!important; text-decoration:none;}
/* Discount Red widget style starts */

/*gtalk starts*/
s{display:block;}
.c,.c1,c2,c3,c4{height:1px; overflow:hidden; border:1px solid #b3df02;border-width:0 3px;}
.c1{margin:0 4px;}
.c2{margin:0 3px;}
.c3{margin:0 2px;}
.c4{margin:0 1px;}
a.blink{color:#1581a7; text-decoration:none;}/*important added*/
.clr{clear:both!important; height:0; overflow:hidden;}
.gtlk_cont{width: 723px; margin-left:30px; background:#F8FFD5 ;}
.gtlk_arw{width:18px; height:22px; background-position:-101px -139px;}
.gtlk_mid{border:solid #B3DF02; border-width: 0pt 2px; padding: 0pt 0pt 10px; background:#F8FFD5; width: 99.2%; margin:0 0 0 1px; font:bold 16px Arial, Helvetica, sans-serif;}

.gtlk_mid_txt{margin: 5px 0 0 15px;}
.gtlk_txt{margin: 5px 0pt 0pt 12px; width: 638px;}
.gtlk_btm_cur{border-width: 2px 0pt 0pt; margin: -1px 5px 0pt; background:#F8FFD5;}
/*gtalk ends*/

/*jeevansathi seal starts*/
.jvs_tup{background:none; padding:15px 0 10px 60px; width:584px;border:solid #B3DF02; border-width: 0pt 2px;margin:0 0 0 1px; font:bold 16px Arial, Helvetica, sans-serif;}
.jvs_tup h4{color:#117DAA; font-size:18px;}
.jvs_tup p{font:normal 12px Arial, Helvetica, sans-serif; margin-top:12px;}
.jvs_tup u{width:59px; height:59px; background:url(IMG_URL/profile/images/sprite_jvs.jpg) 0 -97px; float:left; font:bold 35px Arial, Helvetica, sans-serif; text-decoration:none; color:#fff; line-height:59px; text-indent:17px; position:absolute; left:0;}
/*jeevansathi seal ends*/

/*verfiy phone starts*/
.vrfy_phn{width:614px;}
.vrf_tup{background:none; border:solid #B3DF02; border-width: 0pt 2px;margin:0 0 0 1px;width:359px; padding:5px 10px; font:normal 12px Arial, Helvetica, sans-serif;}
.vrfy_phn_bg{width:218px; height:195px; background:url(IMG_URL/profile/images/verify_phone_bg.png) no-repeat;}
.vrf_tup u{float:left; width:190px; text-decoration:none; width:142px;}
.bg_wht{background:#fff!important;}
/*verfiy phone ends*/

/*update email starts*/
.upd_eml{width:424px; height:auto; border-bottom:1px solid #efd0cd; padding:21px 0 21px!important; float:left;}
.upd_eml label{float:left; width:104px; padding-right:5px; text-align:right;}
.upd_eml input{width:188px; height:17px; border:1px solid #ccc;}
.btn{height:20px; background-position:0 -211px; border:1px solid #578d00; font:bold 11px Arial, Helvetica, sans-serif; color:#fff; margin:auto 10px; padding:0 8px;}
.err_txt_img{color:#f00; margin:10px 0 0 67px; padding:2px 0 0;}
.err_txt_img u{float:left; width:310px; text-align:left; text-decoration:none;}
.err_txt{background-position:-43px -192px; background-repeat:no-repeat; width:19px; height:17px	; float:left;}
.grn_tck_icon{background-position:-42px -173px;}
/*update email starts*/

/*complete profile starts*/
.cmplt_prof{width:668px;}
.cmplt_prof p{margin:15px 0 0 10px; width:99%; float:left;}
.cmplt_prof_bdr_btm{width:99.9%; height:4px; float:left; background:url(IMG_URL/profile/images/complete_prof_btm_bdr.gif) repeat-x bottom;}
.cmplt_prof p label{float:left; width:143px; text-align:right; padding:2px 5px 0 0; font-weight:bold;}
.cmplt_prof p input.txt1{float:left; width:206px; height:19px;}
.cmplt_prof p select.sel1{float:left; width:206px; height:19px;}
/*complete profile ends*/

/*sml pnk box starts*/
.sml_pnk{width:424px; height:auto; padding:0 0 10px}
/*sml pnk box ends*/

.or_icon{width:29px; height:29px; background-position:-90px -161px; position:absolute; top:41%; right:-16px;}
.or_lft{width:311px; border-right:1px solid #d2a6b0; padding:15px 0 15px 39px !important; margin:15px 0;} /* !important added by me */
.phne_icon{width:14px; height:14px; background-position:-105px -329px;}
.no_a a.nme_photo{text-decoration:none!important;}

/*added*/
.img_cont{width:68px;}
.img_cont_big_photo{}
.img_cont_big_photo iframe
{
  display:none;
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  filter:mask();
  width:460px;
  height:200px
  border:0px;
}
/*added*/
.cntc_sts_detld b.nme_photo{margin-top:30px;}
ul.ylw{margin:0; padding:10px; list-style:none; background:#ffffb1;}
ul.ylw li{margin-bottom:5px; background:url(IMG_URL/profile/images/gry_li_img.gif) no-repeat 0 3px; padding:0 0 0 15px;}
.crsl_cont{width:408px5; float:left; height:124px;}
.pd_0{padding:0!important;}
.ico-note {background-position: -98px -249px; width: 21px; height: 19px; margin-right:5px; margin-top:2px;}

.newpadl{padding-left:5px !important; }
.color_grey{color:#333333;}
div .newbullet ul li{list-style-type:disc;padding-bottom:8px;}
.mrul{margin:10px 0px 0px 20px;}
.crsl_cont div{padding-top:8px;}
.pad8 {padding-top:8px;}
.myjs_p_new{padding: 0px 0px 0px 5px}