/* Discount widget style starts */
.widget{width:222px; height:124px;}
.widget *{margin:0; padding:0; float:none;}
.wid_sprte{background:url(../profile/images/widget_bg.png);}
.tp_widgt{width:185px; height:18px; padding:22px 0 0 37px;}
.btm_widgt{width:222px; height:5px; font-size:2px; background-position:0 -45px;}
.sptl_dscnt{width:154px; height:20px; background-position:0 -50px; margin:0 auto;}
.f_19{font-size:19px;}
.widget_mid{width:218px; margin:auto; padding:8px 0 0; border:2px solid #8e92dc; border-width:0 2px; text-align:center;}
.vld, .vld_rd{font-size:11px;color:#a0a0a0; text-align:right; padding:7px 4px 0 0;}
a.clk{color:#5189c3; text-decoration:none;}
.clr_0{clear:both; height:0; overflow:hidden;}
/* Discount widget style ends */


/* Discount Red widget style starts */
.wid_sprte_rd{background:url(../profile/images/widget_rd_bg.png) 0 0; height:68px; font:16px Arial, Helvetica, sans-serif; color:#fff; text-align:center; padding:54px 0 0;}
.vld_rd{color:#e4e4e4;}
a.click{color:#fff!important;}
/* Discount Red widget style starts */

