.disableinput 
{
background-color:#BBC7DD;
font-weight:bold;
}
a.redlink:link, a.redlink:visited, a.redlink:active{font: 11px; color:#8e2800;}
.suberrmsg{font:10px; color:#e3373b;}
.coverhelp{position:relative;display:inline;}
/*narendra new*/
div.row1 {clear:both;padding-top:10px;}
div.row1 label {float:left;margin:2px;padding-right:5px;text-align:left;width:200px; text-align:right}
.sp2{clear:both; height:5px; overflow:hidden;}
.gray_btn{background-image:url(IMG_URL/profile/images/gray_btn.gif); border:#b7b4b2 1px; border-style:solid; font:bold 11px arial; text-align:center; background-repeat:repeat-x; width:80px; color:#000; height:20px; }
.graybox{border:1px #dedddd solid;background-color:#f6f5f5; padding:3px;}
.redbox{border:1px #ff0000 solid;background-color:#f6f5f5; padding:3px;}
.blue_border{width:510px;border:1px #d7ec7a;border-style:solid; background-color:#fff;}
.green_bg{background-image:url(IMG_URL/profile/images/green_bg.gif); background-repeat:repeat-x; height:22px; padding:3px 0 0 6px;color:#515151; font-weight:bold;}
/*narendra new*/

.t22 {
        font:bold 22px Arial, Helvetica, sans-serif;
}
.logo_viswas {
        margin-right:21px;
}
.green_tp_line {
        width:100%;
        background:url(IMG_URL/profile/images/green_dot.gif) repeat-x;
}
.green_btm_line {
        width:100%;
        background:url(IMG_URL/profile/images/green_dot.gif) repeat-x bottom;
}
.green_l_line {
        background:url(IMG_URL/profile/images/green_dot.gif) repeat-y left;
}
.green_r_line {
        background:url(IMG_URL/profile/images/green_dot.gif) repeat-y right;
}
.lft_no_1 {
        background:url(IMG_URL/profile/images/steo_1_img.gif) no-repeat -16px -18px;
        position:relative;
        z-index:100000000000000000000;
}
.lft_no_2 {
        widht:59px;
        height:59px;
        background:url(IMG_URL/profile/images/step-1-4.jpg) no-repeat 0 -60px;
}
.lft_no_3 {
        widht:59px;
        height:59px;
        background:url(IMG_URL/profile/images/step-1-4.jpg) no-repeat 0 -120px;
}
.lft_no_4 {
        widht:59px;
        height:59px;
        background:url(IMG_URL/profile/images/step-1-4.jpg) no-repeat 0 -180px;
}
.green_t_r_cur {
        background:url(IMG_URL/profile/images/green_top_r_cur.gif) no-repeat top right;
}
.green_b_r_cur {
        background:url(IMG_URL/profile/images/green_btm_right_cur.gif)no-repeat bottom right;
}
.green_b_l_cur {
        background:url(IMG_URL/profile/images/green_btm_left-cur.gif) no-repeat bottom left;
}
.italic {
        font-style:italic;
}
.mob_arrow {
        width:132px;
        height:106px;
        background:url(IMG_URL/profile/images/mobile_arrow.jpg) no-repeat;
        font:11px Arial, Helvetica, sans-serif;
        color:#fff;
}
.mob_icon {
        background:url(IMG_URL/profile/images/mob_icon.jpg) no-repeat right;
}
input.browse {
        width:163px;
        height:18px;
        border:1px solid #7f9db9;
}
.mt_10 {
        margin-top:10px;
}
.row{float:left;width:97%;}
.r1     {float:left; width:22%; font:bold 11px verdana,arial; padding:5px 10px 4px 0; text-align:right}
.r2     {float:left; width:75%; font:normal 11px verdana,arial; color:#000000; padding:3px 0 4px 0;}
div.row{clear:both; padding:3px 0 0px 0;color:#000;width:97%;margin:auto;}
