body {background:#e0eff1; font:12px Arial, Helvetica, sans-serif; margin:0px; padding:0px;}
.bodWidth {width:900px; margin:0 auto;}
.cont_body {width:840px; margin:0 auto;}
.tp_bg, .cont_bg, .tp_lnk_btn {background:#FFF url(gifs/tp_bt.gif) repeat-x;}
.tp_bg {height:114px;}
.tp_lnk {font-size:18px; font-family:Verdana, arial, sans-serif; line-height:39px; margin:2px 20px; *margin:2px 10px; color:#1f2425;}
.tp_lnk_btn {background-color:#FFF; background-position:left -119px; height:39px; border:1px solid #e6e6e6; padding:0px 50px; color:#018ea2; }
.tp_lnk_bten a {height:39px; padding:0px 50px; color:#018ea2; text-decoration:none;}
.tp_lnk_bten a:hover {height:39px; padding:0px 50px; color:#018ea2; text-decoration:underline;}

.flt {float:left;}
.frt {float:right;}
.clr {clear:both; height:0px;}
.b{font-weight:bold;}
.bg_w {background:#FFF;}
.ht_44 {height:44px;}
.ht_8 {height:8px;}
.ht_5 {height:5px; background:#FFFFFF;}
.ht_20 {height:20px;}
.ht_15 {height:15px;}
.ht_250 {height:250px;}
.ht_465 {height:465px;}
.ht_500 {height:500px;}
.bdr_2 {height:2px; border-bottom:1px solid #e1e1e1; width:700px; margin:auto;}
.tplnk_LT, .tplnk_RT {background:url(gifs/square_rpt.gif) repeat-y;}
.tplnk_LT {background-position:left top; width:6px;}
.tplnk_RT {background-position:-11px top; width:6px;}

.bd_Tlft, .bd_Trft, .bd_Blft, .bd_Brft, .bd_T, .bd_B {background:url(gifs/square.gif); margin:0px; padding:0px; height:10px;}
.bd_Tlft {background-position:left -90px; width:10px; background-repeat:no-repeat;}
.bd_Trft {background-position:left -105px; width:10px; background-repeat:no-repeat;}
.bd_Blft {background-position:left -135px; width:10px; background-repeat:no-repeat;}
.bd_Brft {background-position:left -120px; width:10px; background-repeat:no-repeat;}
.bd_T {background-position:left -150px; width:100%; background-repeat:repeat-x;}
.bd_B {background-position:left -165px; width:100%; background-repeat:repeat-x;}

.cont_bg {background-position:left -163px; width:828px; background-repeat:repeat-x;}
.mar_tp45 {margin-top:45px;}
.mar_tp20 {margin-top:20px;}
.mar_bt15 {margin-bottom:15px;}
.txt1 {margin-top:23px; color:#333333; font-size:13px; padding-right:20px; line-height:18px;}
.AL {text-align:left;}
.AC {text-align:center;}
.tbl {color:#000000;}
.txtpad {padding:0px 0 0 10px;}
.avil_clr { color:#000000; }
.avil_clr a {font-size:13px; color:#9b0000; text-decoration:underline;}
.avil_clr a:hover {color:#602f00; text-decoration:none;}

.trmsW {width:786px;}
.trms {color:#333333; font-size:13px; margin:15px; width:786px;}
.trms div {color:#707070; font-size:12px; margin:1px 0 1px 10px; padding:2px 2px 2px 15px; background:url(gifs/tp_bt.gif) left -782px no-repeat;}

.ftr_comp {color:#3c3c3c; font-size:15px;}
.ftr_comp span.comp1 {color:#be0808;}
.ftr_comp span.comp2 {color:#3c3c3c;}
.ftr_comp span.comp3 {color:#797979;}

.tplnk_Tlft, .tplnk_Trft, .tplnk_Blft, .tplnk_Brft, .tplnk_T, .tplnk_B {background:url(gifs/square.gif); margin:0px; padding:0px; height:10px;}
.tplnk_Tlft {background-position:left top; width:10px; background-repeat:no-repeat;}
.tplnk_Trft {background-position:left -15px; width:10px; background-repeat:no-repeat;}
.tplnk_Blft {background-position:left -45px; width:10px; background-repeat:no-repeat;}
.tplnk_Brft {background-position:left -30px; width:10px; background-repeat:no-repeat;}
.tplnk_T {background-position:left -60px; width:100%; background-repeat:repeat-x;}
.tplnk_B {background-position:left -75px; width:100%; background-repeat:repeat-x;}
.rbdr {border:1px solid red;}
.thnk {font-size:36px; text-align:center; font-family:Arial, Helvetica; font-weight:bold; color:#ff8e01;}
.rdrct_lin {font-size:14px; margin-left:25px; font-family:Arial, Helvetica; color:#2c2c2c; line-height:25px;}
.rdrct_lin a {font-size:16px; color:#ff8e01; font-weight:bold; text-decoration:underline;}
.rdrct_lin a:hover {font-size:16px; color:#ff8e01; font-weight:bold; text-decoration:none;}


/* footer str */
.f11 {font-size:11px}
.ftr { background:#FFF url(http://static.jeevansathi.com/profile/images/hdr_bg.png) repeat-x 0 -392px; padding:20px 14px 5px; }
.ftr .ftr_cont { margin:auto; width:750px; }
.ftr_links { float:left; width:749px; }
.ftr_links .r9 {width:99%;float:left;}
.ftr_links label.l1 {float:left; width:71px; padding-right:10px;}
ul.foot { margin:0; padding:0; }
ul.foot li { float:left; margin:0 5px; color:#9a9999; list-style:none; }
ul.foot li a:hover { text-decoration:underline; }
ul.foot li a, ul.foot li a:visited { color:#117daa; text-decoration:none; }
.naukri_btn {width:130px; height:37px; background:url(http://static.jeevansathi.com/profile/images/hdr_bg.png) -89px -223px; margin:10px auto; border:0;}
.mar_top_15 {margin-top:15px;}
.mt_10 {margin-top:10px;}
/* footer end */