.kycImg1{background-image:url(IMG_URL/images/jspc/KYC/kyc-sprtie2.jpg); background-repeat:no-repeat}
.kycImg2{background-image:url(IMG_URL/images/jspc/KYC/kyc-sprtie.png); background-repeat:no-repeat}
.kycIcon1{background-position:1px 1px; width:100px; height:100px}
.kycIcon2{background-position: -124px 1px;width: 172px;height: 100px;}
.kycIcon3{background-position: 1px -117px;width: 172px;height: 111px;}
.kycIcon4{background-position: 1px 1px;}
.kycIcon5{background-position:27px -46px;}
.kycIcon6{background-position:28px -103px;}
.kycIcon7{background-position:-6px -162px}
ul.docreq{list-style-type:none}
ul.docreq li{display:table; width:100%}
ul.docreq li > div {display:table-cell}
ul.docreq li > div:nth-child(1){width:37%; background-color:#dddddd;}
ul.docreq li > div:nth-child(2){width:63%;background-color:#ebebeb}
ul.docreq li > div p{padding:20px 20px 13px 20px;}
.kycp1{padding-left: 57px;}
.kycp2{padding-left: 91px;}
ul.verfiBenefit li{height:46px}
.kycbdr1{border-left:1px solid #c1c1c1; border-right:1px solid #c1c1c1}
ul.verfiBenefit {width:825px}
ul.verfiBenefit li:nth-child(1){padding:0 30px 0 0; width:190px}
ul.verfiBenefit li:nth-child(2){padding:0 30px; width:190px}
ul.verfiBenefit li:nth-child(3){padding:0 0 0 30px;width:270px}


