.setbg1{background-color:#f2f1f1}
.setbg2{border-right: 1px solid #ced2d6;}
.setbdr1{border:1px solid #d2d2d2}
.errbdr{border:1px solid #d9475c}
.setbdr3{border-top:1px solid #d2d2d2}
.setwid1{width:246px}
.setwid2{width:360px}
.setwid3{width:121px}
.setwid4{width:545px}
.setwid5{width:450px}
.setwid6{width:197px}
.setwid7{width:153px}
.setwid9{width:480px}
.setwid10{width:348px}
.setwid11{width:320px}
.setwid12{width:310px}
.sethgt1{height:19px}
.sethgt2{min-height:40px}
.setpos1{top:0}
.setpos2{top:2px}
.setpos3{top:2px; right:0}
.setpos4{top: -10px;left: 35px;}
.setpod5{top:44px;left:-1px}
.setpod6{bottom:10px}
ul.settingTab{list-style-type:none}
ul.settingTab li{float:left;width:20%; text-align:center}
ul.settingTab li{ padding:5px 0}
ul.settingTab li div{width: 100%;line-height: 37px;border-right: 1px solid #ced2d6;}
ul.settingTab li:nth-last-child(2) div{border-right:0}
ul.settingTab li:nth-last-child(1) {padding:0;bottom:0}
ul.delprof li{padding-left:14px;line-height:30px}
ul.delprof li:hover{ background-color:#d9475c;color:#fff}

.setbtn1{color:#34495e; font-size:15px; border:1px solid #d9d9d9; background:#fff; line-height:44px; width:110px}
.setactive{color:#fff; font-size:15px; border:1px solid #d9d9d9; background:#d9475c; border:0; line-height:44px; width:110px}

ul.notsetList1 > li{background-color:#fff;border:1px solid #d2d2d2; width:100%}


.setp1{padding:20px 20px 20px 35px}
.setp2{padding:30px 50px}
.setp3{padding:30px}
.setp4{padding:0 5px}
.setp5{padding:13px 15px}
.setp6{padding-left:60px}
.setp7{padding:13px}
.setp8{padding:20px}
.setp9{margin:0 30px}
.selcted{background-color:#d9475c; color:#fff}

.setdrop1{background-position: 3px -286px;
    width: 22px;
    height: 12px;}
.setdrop2{background-position: -185px -255px;
    width: 19px;
    height: 12px;}

.setdim1{width:44px; height:50px;}

.outerbox{width:87px; height:50px; background-color:#b9b9b9;padding:2px;border-radius:50px}

.box {
	width: 50px;
	height: 50px;
	border-radius:50px;
    background: url(checkimg1.png) no-repeat -53px 0px;
	-webkit-transform: translate(0, 0);
	-webkit-transition: -webkit-transform 500ms;
	transform: translate(0, 0);
	transition: transform 500ms,background-color 1s;
	will-change: transform;
}
.box.move {
	-webkit-transform: translate(36px, 0);
	transform: translate(36px,0);
	background: url(checkimg1.png) no-repeat 1px -1px;
}
.custom-checkbox {
	width: 12px;
	height: 13px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 2px;
	background: url(../images/sprite-two.png) no-repeat -39px -21px transparent;
}
.custom-checkbox.selected {
	background-position: -39px -34px;
}
.custom-checkbox input[type="checkbox"] {
	margin: 0;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	outline: none;
	opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.column1 {
   
    height: auto;
   
    
}
.column1 {
    background: #fff;
}
.applied1{background-color:#d1d1d1;}
.applied1 a{color:#666666}
.hgt2{height:2px;}
