body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color:#fff;
    font-size:12px;
    background:#333;
    margin-left: auto;
    margin-right: auto;
}


table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
    margin-left: auto;
    margin-right: auto;
}
th
{
    padding: 12px 17px 12px 17px;
    font-weight: normal;
    font-size: 1.2em;
    color: #ffffff;
    background: #444444;
    text-transform: uppercase;
    border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    border-left: 1px solid #0865c2;
    border-bottom: 1px solid #fff;
}
td
{
    padding: 7px 17px 7px 17px;
    color: #cccccc;
    border-right: 1px dashed #6cf;
}

tr
{
    border-top: 1px dashed #0865c2;
}

tbody tr:hover td
{
    color: #ffffff;
    background: #666666;
}

